[2015-08-03 20:26] segiddins commented on #3910
We probably should make sure `sudo` access is wrapped in a mutex

[2015-08-03 23:45] rgb-one commented on #3901
Cool :)

[2015-08-03 23:45] #3901 closed

[2015-08-04 06:59] tf commented on #3894
see #3911

[2015-08-05 22:31] hasghari commented on #635
This is still happening in our Gemfile.lock. OSX and Ubuntu both running Bundler 1.10.6.

[2015-08-05 22:38] hasghari opened #3914 "Different order of dependencies in Gemfile.lock for OSX and Ubuntu"
With no change in the Gemfile, OSX and Ubuntu produce a slightly different Gemfile.lock. Both platforms are running Bundler 1.10.6

[2015-08-05 22:59] jakeonrails commented on #2822
I got this error when I included a rails engine, whose source code is inside of my rails app directory.

[code]

MyEngine adds dependencies via the `.gemspec` file.

by switching to

[code]

I was able to get this warning to go away.

[2015-08-05 22:59] indirect commented on #3914
Please supply the output of `bundle env` so we can try to reproduce this.

[2015-08-05 23:07] hasghari commented on #3914
http://alphaimages.s3.amazonaws.com/osx-bundle-env.txt

[2015-08-06 00:21] JoelNietoTec opened #3915 "bundle install - "You need to install git to be able to use gems from git repositories""
OS: Windows 10 x64
Bundler version: 1.10.6
Git installed
Rails version: 4.2.3

[2015-08-06 02:08] indirect commented on #3915
Bundler can’t find git. Maybe you need to add it to your PATH?

[2015-08-06 07:39] 0704681032 opened #3916 "when run "bundle install" got error"
/usr/local/rvm/gems/ruby-1.9.3-p448/gems/bundler-1.10.6/lib/bundler/vendor/thor/lib/thor/shell/basic.rb:356: warning: Insecure world writable dir /usr/local/mysql/bin in PATH, mode 040777
Don't run Bundler as root. Bundler can ask for sudo if it is needed, and installing your bundle as root will break this application for all non-root users on this machine.
git: /usr/local/mysql/lib/mysql/libz.so.

[2015-08-06 13:25] Summonee opened #3917 "Whenever I run bundle, I get an invalid argument error"
As the title says, whenever I run bundle, install or update, I get an error:
[code]

I was using [Middleman](https://middlemanapp.com/) to design a website, which is the only reason I use bundler. As that too was experiencing errors, I tried deleting ```gemfile.lock``` to see if that would fix it. When I tried running ```bundle install``` again, the above error happened. Its worth noting that no `

[2015-08-06 13:28] artofhuman commented on #3917
@Summonee can you show Gemfile?

[2015-08-06 13:53] Summonee commented on #3917
Sure, he you go:

[code]

[2015-08-06 17:03] segiddins commented on #3916
@0704681032 can you please also share your Gemfile? Thanks!

[2015-08-06 18:28] vinnyjth commented on #3909
This has always confused me. Seems like a worthy request.

[2015-08-06 18:46] mberning commented on #3909
+1 - I think the language could be clearer

[2015-08-06 18:51] segiddins commented on #3909
A PR adjusting the language would be much appreciated!

[2015-08-06 19:46] jordanthomas commented on #3909
Here's a crack at it: https://github.com/bundler/bundler/pull/3918

[2015-08-07 17:15] hasghari commented on #3914
I was able to solve our immediate issue by removing an explicit dependency in the Gemfile that is fetched as a transitive dependency of another gem.

[2015-08-07 17:15] #3914 closed

[2015-08-07 23:20] Summonee commented on #3917
Well, the solution turned out to be a a 'nuke it all' approach. I removed all Ruby installations from my computer, cleaned it with CCleaner, restarted my computer, reinstalled Ruby, Rubygems and all the gems. That somehow fixed it.

[2015-08-07 23:20] #3917 closed

[2015-08-09 05:16] Scosentino opened #3925 "bundle command throws error"
- What did you do?
- What did you expect to happen?
- What happened instead?

Error details

    ArgumentError: no HTTP request path given
    /usr/local/Cellar/ruby/2.2.2/lib/ruby/2.2.0/net/http/generic_request.rb:24:in `initialize'
    /usr/local/Cellar/ruby/2.2.2/lib/ruby/2.2.0/net/http/request.rb:14:in `initialize'
    /usr/local/lib/ruby/gems/2.2.0/gems/bundler-1.9.4/lib/bundler/fetcher.rb:29

[2015-08-09 05:17] Scosentino commented on #3925
Im trying to deploy to heroku and heroku tells me i need a Gemfile.lock but when i try to run the bundle command i get the above error

[2015-08-09 05:28] segiddins commented on #3925
Can you please share your Gemfile? Thanks!

[2015-08-09 07:38] Scosentino commented on #3925
source "https:rubygems.org"
ruby "2.2.2"
gem 'sinatra'

[2015-08-09 07:54] pik opened #3926 "bundler hangs indefinitely with no output"
I'm running `bundle exec rails console` in my project's root directory. Here is the dtruss output:

https://gist.github.com/pik/e15fd230524d0a1e01e2

[2015-08-09 15:57] segiddins commented on #3925
Ah looks like we need to do a better job validating source URLs to show a nice error. Thanks!

[2015-08-09 16:08] segiddins commented on #3925
(You can fix things yourself in the meantime by changing the URL to be a valid one, `https://rubygems.org`)

[2015-08-09 16:21] Scosentino commented on #3925
Great!! Can I help write the contributing code? Or get some kind of credit

[2015-08-09 16:21] Scosentino commented on #3925
:)

[2015-08-09 16:25] segiddins commented on #3925
Feel free :) The change will _probably_ be somewhere in `lib/bundler/source/rubygems.rb` to validate the URL

[2015-08-09 17:45] Scosentino commented on #3925
A bit beyond my level.. lol maybe next time

[2015-08-09 18:59] indirect commented on #3926
Please provide the output of `bundle env`, as well as the backtrack that prints when you press control-c.

[2015-08-09 19:05] xiaoxinsnow opened #3927 "HEAD cannot be accessed anymore"
No matter what command I use, if I want to access HEAD, I will get error message. I manually deleted something in .git/ .

Ninas-MacBook-Pro:git ouakira$ git fetch
error: refs/heads/master does not point to a valid object!
error: refs/heads/master does not point to a valid object!
error: refs/heads/master does not point to a valid object!
error: refs/heads/master does not point to a valid object!

[2015-08-09 19:54] indirect commented on #3927
This tracker is for problems that appear to be bugs in Bundler. You have a git problem, so this is the wrong place. Try Stack Overflow.

[2015-08-09 19:54] #3927 closed

[2015-08-09 23:15] agis- commented on #3925
@segiddins Hello! I took a shot and opened a PR. Doing this in the `Downloader` seemed better to me since this case could also be non-rubygems specific. Not sure if this is the correct way though as I'm unfamiliar with the codebase.

[2015-08-10 15:39] kkirsche commented on #3908
I guess my first question is why are you using the full path to the bundler binary instead of just using `bundler` which should have installed the executable for you

[2015-08-10 15:40] kkirsche commented on #3714
Could you elaborate what the goal of this is? Not sure I understand what "RubyGems UI" is

[2015-08-10 20:03] ehowe opened #3930 "ruby invalid option"
I updated my ruby install to 2.2.2 last week, and ever since, I've been encountering issues with `bundle exec`.  It doesn't seem to be the most reproducible thing in the world, which is making it harder to diagnose.  I upgraded the ruby install on 2 different computers, and both do the same thing, however its not in the same projects.  I can't even say definitively that bundler is at fault.  This

[2015-08-10 20:07] indirect commented on #3930
Hi! This tracker is only for bugs in Bundler, but this sounds like a great question for Stack Overflow.

If this were a post on Stack Overflow, here's what I would suggest:

[2015-08-10 20:07] #3930 closed

[2015-08-10 20:08] ehowe commented on #3930
Thanks.  I wasn't sure if bundler did anything weird or not.  I'll try SO.

[2015-08-10 22:21] gavelino opened #3931 "Bundler Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-10 22:23] segiddins commented on #3931
Bundler's issue tracker is for tracking bugs reported against the Bundler codebase, so I'm going to close this as out-of-scope and off-topic.

[2015-08-10 22:23] #3931 closed

[2015-08-11 10:20] bibarCB opened #3932 "Errno::EPROTO: Protocol error - /vagrant/vendor /ruby"
- What did you do?

  I ran the command `/home/vagrant/.rvm/gems/ruby-2.0.0-p247/bin/bundle `

- What did you expect to happen?

  I expected Bundler to bundle on vagrant!

- What happened instead?

  Instead, what actually happened was this error below

Error details

    Errno::EPROTO: Protocol error - /vagrant/vendor /ruby
      /home/vagrant/.rvm/rubies/ruby-2.0.0-p247/lib/ruby/2.0.0/fileutils

[2015-08-11 17:50] #3925 closed

[2015-08-11 22:20] coezbek opened #3933 "How to pretend other platform for `bundle install`"
I am developing with bundler under Windows and am wondering how to create the `Gemfile.lock` for my production environment.

What seems missing are the gems for other platforms. Running `bundle install` on

    group :production do
      gem 'mysql2'
    end

on Windows creates a Gemfile.lock

    mysql2 (0.3.18-x86-mingw32)

When deploying to a Linux environment this is obviously not correct, I w

[2015-08-13 18:17] andretf commented on #2125
It happened to me on following scenario:

[code]

When I commented `spree` gems, dependencies were resolved fast.

[2015-08-13 18:20] segiddins commented on #2125
@andretf this issue has been closed for years, please open a new issue

[2015-08-13 22:12] #3830 closed

[2015-08-15 09:46] segiddins commented on #3692
I'd like to hope this is fixed by https://github.com/bundler/bundler/issues/3800, but since none of the bundler team has ever been able to reproduce this issue, I'm not really sure what we can do here.

[2015-08-15 10:40] envygeeks commented on #3692
@segiddins We can reliably reproduce it on our Docker images so I'll test it out sometime this week, thanks for the heads up!

[2015-08-15 20:16] cannele75000 opened #3940 "git push heroku master for ruby on rail don't work"
Hi,

I'm trying to deployng code to Heroku, but it's fail and i can't fix it. Can you help me please (sorry for my english)

iMacdeemmak:first_app$ git push heroku master
Counting objects: 64, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (53/53), done.
Writing objects: 100% (64/64), 16.47 KiB | 0 bytes/s, done.
Total 64 (delta 2), reused 0 (delta 0)
remote: Compressing

[2015-08-15 20:17] segiddins commented on #3940
This looks like user error, since the Heroku's error message includes the following:

[code]

[2015-08-15 20:17] #3940 closed

[2015-08-15 20:25] cannele75000 commented on #3940
And what is the solution ? please

[2015-08-15 20:26] segiddins commented on #3940
I'd recommend reading the page heroic links to

[2015-08-15 20:27] cannele75000 commented on #3940
ok thank you very much

[2015-08-18 10:21] vmatekole opened #3945 "Gems as git submodules"
I am unsure if this is the correct place to report this issue... Nonetheless,
since using Spree and a number of gems as source(git submodules) I have had the following error on startup or each time I run a rake task:
fatal: Not a git repository: ../../.git/modules/spree
fatal: Not a git repository: ../../.git/modules/spree
fatal: Not a git repository: ../../.git/modules/spree
fatal: Not a git repo

[2015-08-18 16:19] rgb-one commented on #3933
You can specify the platforms for gems in your Gemfile. Here is an example:

[code]
The [gemfile man page][] has useful information about platforms

[gemfile man page]: http://bundler.io/man/gemfile.5.html#PLATFORMS-platforms-

[2015-08-18 16:32] zeha opened #3946 "ronn still uses hpricot"
Dear Bundler team,

I want to bring to your attention that the documentation tool https://github.com/rtomayko/ronn/ which you're depending on still uses https://github.com/hpricot/hpricot which - as you likely know - is unmaintained.

Please find a solution to this, as we (Debian) don't want to ship unmaintained and broken libraries like hpricot forever.

Many thanks,
Christian

[2015-08-18 16:34] indirect commented on #3946
It's a development dependency, to generate help files that are shipped inside the Bundler gem. You should never have been shipping either ronn or hpricot in the first place.

[2015-08-18 16:34] #3946 closed

[2015-08-18 16:35] zeha commented on #3946
We're not supposed to ship pre-generated files, so we do need to ship ronn and hpricot at the moment.

[2015-08-18 16:37] indirect commented on #3946
Sounds like your (Debian's) problem, then, because we (Bundler) don't want anyone to install or use hpricot themselves.

[2015-08-18 16:38] zeha commented on #3946
Alright, but then we're not going to ship man pages with bundler.

[2015-08-18 16:38] zeha commented on #3946
(We don't have the manpower to fix ronn or hpricot ourselves.)

[2015-08-18 16:43] indirect commented on #3946
Punishing end users as a result of rigid packaging rules that don't make sense for gems sounds like every distro I've had the misfortune to interact with so far.

The Bundler team does not advise (or even support) using Bundler from distro packages, only installed via Rubygems. You (Debian) decided to make changes to the gem, therefore you (Debian) need to deal with and support the consequences of

[2015-08-18 16:48] zeha commented on #3946
I agree that it's unfortunate, but I can't ship stuff where it's not clear how it's built (this isn't a packaging rule, but comes from the freedom we want to guarantee our users and downstreams). But let's not make this a distro flamewar.
We actually don't really want to ship Bundler in the first place, but given other packages (i.e. rails and many others) directly make use of Bundler, we don't ha

[2015-08-18 16:53] segiddins commented on #3946
Bundler never has and probably never will support any method of installation that is not RubyGems. I'm sorry if that's incompatible with how you want to manage your own packaging, but at the end of the day this is the very reason why Bundler only supports installation via RubyGems -- it eliminates all of those problems.

[2015-08-18 16:54] zeha commented on #3946
Fair enough!

[2015-08-18 19:48] segiddins commented on #3932
I think the issue here is that your `GEM_HOME` has an extra space in it?

[2015-08-18 19:49] segiddins commented on #3895
This was necessary to ensure backwards compatibility, but we'll go back to rejecting invalid gemspecs entirely in 2.0.

[2015-08-19 00:02] indirect commented on #3895
Which gemspecs loaded on 1.9 but not on 1.10? Gems that have stopped working are a bug, and we should fix it.

[2015-08-19 01:54] GUI commented on #3895
Sorry for not providing a more concrete example upfront. The default gemspec files generated by bundler actually exhibit this problem (since they have `TODO`s in the descriptions, which rubygems doesn't like--this is actually what bit us on several internal gems where we had been lazy and never bothered to fill out the descriptions in the gemspec).

Here's an example gem with a gemspec that demons

[2015-08-19 03:49] segiddins commented on #3895
Ah, so that is a bug!

[2015-08-19 07:26] beedub opened #3947 "Bundler relative path symlink"
I have a `Gemfile` with `gem 'mygem', path: "../mygem"`. The directory in which `Gemfile` lives is a symlinked directory (eg. `/var/deploy/myapp/current`), which symlinks to `/var/deploy/myapp/releases/20150416/projects/myproject`). I expected `../mygem` to resolve relative to `/var/deploy/myapp/releases/20150416/projects/myproject`), but it resolves with `/var/deploy/myapp/current`, a path that d

[2015-08-19 07:49] indirect commented on #3947
Hi, and thanks for reporting this! Unfortunately, there's no good way to know when it makes sense to expand relative to `Dir.pwd` instead of `Bundler.root`. Because the `bundle` command can be executed with any working directory, including deep inside a bundled application, or even from outside the bundled application directory with the `BUNDLE_GEMFILE` environment variable set, we expand from `Bu

[2015-08-19 07:49] #3947 closed

[2015-08-19 08:52] fdutey opened #3949 "I am not a social warrior"
I was very happy to discover your "anti-harassment" suggestion with a link pointing to feminist forum.
Now, I'm not one of those intellectual terrorist, but to speak a language you understand: I am deeply offended by that, can you remove that from `bundle gem` command?
I don't like to have fascist messages appearing on my screen when I'm coding.

Thanks.

[2015-08-19 09:04] simi commented on #3949
You mean https://github.com/bundler/bundler/blob/301bec2f2c636372d2c4a16e5b41b9ced08935b6/lib/bundler/cli/gem.rb#L99-L108?

[2015-08-19 13:22] segiddins commented on #3949
@fdutey this sort of issue is not appropriate. You're completely at liberty to decide whether or not `bundle gem` generates a CoC (and of course are free to delete if you you accidentally say yes). It's quite honestly impossible to be offended by offering you the choice of including a text file in your gem.

[2015-08-19 13:22] #3949 closed

[2015-08-19 16:24] hexedpackets opened #3950 "Bundler loading the wrong gem"
Using bundler, I'm unable to load the aws-sdk and aws-sdk-v1 gems side-by-side. These gems use different namespaces ("Aws" and "AWS" respectively), and manually loading them works fine. With bundler, the v1 gem is incorrectly loaded when "aws-sdk" is required.

Minimal Gemfile:
[code]

Without bundler:
[code]

With bundler:
[code]

Bundle env:
[code]

[2015-08-19 17:01] segiddins commented on #3950
Since https://github.com/aws/aws-sdk-ruby/tree/aws-sdk-v1/lib has an `aws-sdk` file, bundler requiring it is totally correct, sadly.

[2015-08-19 17:22] ulrikaugustsson opened #3951 "Getting strange error when running `bundle`"
Disclaimer: I'm not a rubyist, just helping a friend out with some frontend stuff.

- What did you do?

  I ran the command `/home/ulrik/.rbenv/versions/1.9.3-p551/bin/bundle `

- What did you expect to happen?

  Run...

- What happened instead?

  Fat error

Error details

    NoMethodError: undefined method `dependencies' for nil:NilClass
      /home/ulrik/.rbenv/versions/1.9.3-p551/lib/ruby/ge

[2015-08-19 17:23] ulrikaugustsson commented on #3951
Gemfile
[code]

[2015-08-19 17:24] ulrikaugustsson commented on #3951
I get pretty much the same error when running `rails server`

[2015-08-19 17:30] coezbek commented on #3933
Dear Richard,
   the use of :platforms does *not* cause the desired effect in the
resulting Gemfile.lock (Bundler 1.10.6). Rather than resolve for all
given platforms, it will only resolve for the platform you are running
on if the platform is in the given list of platforms (this is strange
behavior in my mind). There is no way to specify that you desire a
Gemfile.lock for ruby *and* mingw. You ha

[2015-08-19 17:59] segiddins commented on #3933
This seems more like a feature request to me? (We track those separately at https://github.com/bundler/bundler-features)

[2015-08-19 18:15] rgb-one commented on #3933
If you are on one platform, what is the purpose of having a gem installed twice for two or more different platforms at the same time? You will only be able to use one at any time. If it could be done what use case do you have for having bundler install the same gems for different platforms at the same time? That would kind of make the purpose for platforms redundant.

[2015-08-19 18:16] segiddins commented on #3933
(You could probably do this in a hacky way by modifying `Gem.platforms` in your Gemfile, but no promises)

[2015-08-19 18:17] segiddins commented on #3933
@rgb-one the purpose is so the lockfile is generated all at once -- it's a valid ask

[2015-08-19 18:47] indirect commented on #3950
Just to expand on that a little: Bundler will automatically require "aws-sdk" or "aws/sdk". Since the v1 gem contains a file whose name conflicts with the other gem, whichever one is earlier in the load path will be required. You _might_ be able to fix it by swapping the order of the gems in your gemfile, but that's not guaranteed. Ultimately, you may need to add the option "require: nil" in your

[2015-08-19 18:47] #3950 closed

[2015-08-19 22:47] tenderlove opened #3952 "`bundle update` shows wrong output"
Hi,

I'm trying to upgrade Rails to use Rack 2.0 but point it to Rack master on GitHub.  When I run `bundle update` the output looks like this:

[code]

I see that Bundler couldn't find compatible versions of Rack, and it tells me what version it _expected_ to find, but it doesn't tell me what versions it _actually_ found.  Moreover, it's got mixtures of platforms like `x64-mingw32` and `x86-mingw

[2015-08-19 22:54] segiddins commented on #3952
@tenderlove can you check if the message on `master` is a bit more helpful?

[2015-08-19 23:02] tenderlove commented on #3952
This is what the message from master looks like:

[code]

It looks a bit better, but still seems to have unrelated platforms and still doesn't tell me why `bundle update` doesn't work, and still prints out some bare lines.

By "bare lines", I mean these lines:

[code]

I don't understand why they are printed or what they're for.

[2015-08-19 23:02] tenderlove commented on #3952
btw, the above output is against 301bec2f2c636372d2c4a16e5b41b9ced08935b6

[2015-08-19 23:07] tenderlove commented on #3952
Here is the output from Bundler 1.8.9:

[code]

This is the kind of error message I am looking for.

[2015-08-19 23:31] tenderlove commented on #3952
This may help narrow the problem: You need to run my patch against rails/rails@f454ad3 to see the error.  If you run against rails/rails@3ee7c5706fb81fda6cb138b3288a5039388e0b92, the output changes to this:

[code]

It still has a bunch of "bare lines" and wrong platforms, but it does tell me the actual problem.  Here is the output against bundler master:

[code]

rails/rails@3ee7c5706fb81fda6cb13

[2015-08-20 06:02] coezbek commented on #3933
@segiddins I am just confused about what Bundler is actually is supposed to do when it comes to deployment on a development and a production machine. The Gemfile.lock is advertised to be committed to version control, but I find `bundle install` is not helping me to create a valid `Gemfile.lock` for both development and production.

How is it supposed to work? How are people using it? Manually edit

[2015-08-20 06:29] indirect commented on #3933
@coezbek Bundler is designed to allow you to run the same code in development and production via the lockfile. Unfortunately, gems with the same name and the same version but different platforms are not the same code (and sometimes even have completely different dependencies!). As a result of this, Bundler expects the deploy-time lock to have been generated by `bundle install` on the same platform

[2015-08-20 07:49] rgb-one commented on #3933
One thing that could be done is to have a config option that allows for gems with the same name but different platform to be overlooked when running `bundle install` on a specific platform.

To illustrate, lets say there is a `Gemfile.lock` with mysql2 (0.3.18-x86-mingw32) already there, if on the linux platform, and `bundle install` is run, then it will ignore the `mysql2 (0.3.18-x86-mingw32)` an

[2015-08-20 12:51] misha-slyusarev commented on #3377
I caught this with Bundler version 1.10.6 and Ruby 2.1.1.

As described above I have my private gem inside 'source' block and it has various public dependencies which I have to install explicitly before 'bundle install'. I use Jenkins.

Any thoughts what might be wrong?

[2015-08-20 14:43] x-yuri opened #3953 "bundler doesn't resolve dependencies coming from git repositories"
Consider the following `Gemfile`:

[code]

It fails with:

[code]

[2015-08-20 14:53] segiddins commented on #3953
When you specify a git source, bundle will only consider the exact source you've specified.

[2015-08-20 19:17] malakai97 commented on #1041
I am seeing this error in 1.10.6

[2015-08-20 19:26] malakai97 opened #3954 "gemspec runtime dependencies not included in DEPENDENCIES section of Gemfile.lock"
I am seeing this error in 1.10.6.  Seems to be a regression of bug #1041

Steps to reproduce:
[code]

And now you can see that httpclient is not required if you do "Bundler.require" in e.g. bundle exec irb, or just look at the Gemfile.lock.

[2015-08-20 19:29] malakai97 commented on #3954
Reading through the previous thread again, seems this is WONTFIX.  Count me as one more for the behavior being unintuitive.

[2015-08-20 19:29] #3954 closed

[2015-08-20 19:39] indirect commented on #3953
Byebug in that git repo is version 6.0.2. The pry-byebug gem requires byebug > 4 but < 5. There is no byebug gem > 4 and < 5 in the git repo. This isn't a bug.

[2015-08-20 19:39] #3953 closed

[2015-08-20 20:33] coezbek commented on #3933
@indirect Thanks Arno! That makes total sense.

1.) Is there a suggested way to manage the multiple Gemfile.lock to work with multiple platforms?

2.) Would be it be technically possible to produce the Gemfile.lock on one platform for another? Interactive access to the staging system is difficult for us.

[2015-08-20 20:44] segiddins commented on #3933
@coezbek the Gemfile.lock can already handle multiple platforms from what I can tell, but right now they only get added when running `bundle install` on a new platform. Yes, it is technically possible to produce a lockfile for a different platform, I already commented with a tacky way to do so.

[2015-08-20 20:48] coezbek commented on #3933
Dear @segiddins, could you elaborate on how to hack the `Gem.platforms` my searches come out cold.

[2015-08-20 20:57] segiddins commented on #3933
`Gem.platforms = [Gem::Platform:: MSWIN64, *Gem.platforms]` or something like that

[2015-08-20 22:01] x-yuri commented on #3953
I see, I didn't notice `pry-byebug` I have in `Gemfile.lock` requires `byebug ~> 4.0`.

I thought it requires as fresh version of `byebug` as possible. And gems from git sources don't have version associated with them. Which prevents `bundler` from resolving dependencies. Which turned out to be wrong.

[2015-08-21 02:33] indirect commented on #3377
@misha-slyusarev this issue is closed. please open a new ticket following [ISSUES](https://github.com/bundler/bundler/blob/master/ISSUES.md).

[2015-08-22 12:58] coezbek commented on #3933
@segiddins Just adding a platform linux does not change the resulting Gemfile.lock for me. Removing MINGW from the platform list, causes install to fail.

I need a way to resolve without actually installing. Is this possible?

[2015-08-22 16:34] segiddins commented on #3933
Yes, that's exactly what the `bundle lock` command introduced in 1.10 does.

[2015-08-22 17:08] agis- commented on #3951
@ulrikaugustsson Can you post your Gemfile.lock?

[2015-08-22 22:08] indirect opened #3960 "NameError during Runtime#require raises unexpected error"
[code]

[2015-08-22 22:09] indirect commented on #3960
We should handle LoadErrors during `Bundler.require` with a warning at the most, and probably no printed message?

[2015-08-23 00:53] segiddins commented on #3960
@indirect gemfile?

[2015-08-23 00:58] indirect commented on #3960
Bundler-Api repo, new index branch

[2015-08-23 01:26] segiddins commented on #3960
All we do there is call `require` -- the `const_get` isn't ours

[2015-08-23 01:54] indirect commented on #3960
We shouldn't be showing the unexpected error template regardless, though

[2015-08-23 02:27] #3910 closed

[2015-08-24 18:28] frrisus opened #3962 "bundle exec prevents STDOUT from being piped?"
Filed this on the libxml-ruby gem, but I'm guessing that's the wrong place for it. (See https://github.com/xml4r/libxml-ruby/issues/109)

The symptom is this: While running under `bundle exec`, if I create an XML document using the libxml-ruby gem and use puts to write it to STDOUT, it does so. However, if I try to pipe or redirect the output of the script, it writes nothing. If I run the script d

[2015-08-24 18:50] #3759 closed

[2015-08-25 12:50] jfrioux opened #3963 "Bundle install TypeError: no implicit conversion of Array into String"
I ran the command `/home/user/.rvm/gems/ruby-2.1.3/bin/bundle install`

I expected Bundler to install the gems specified in my gemfile

Instead, what actually happened was...

    TypeError: no implicit conversion of Array into String
      /home/user/.rvm/rubies/ruby-2.1.3/lib/ruby/2.1.0/rubygems/specification.rb:2448:in `directory?'
      /home/user/.rvm/rubies/ruby-2.1.3/lib/ruby/2.1.0/rubygems

[2015-08-25 13:11] jfrioux commented on #3963
Happens only when I specify a pat for a gem, i.e.

`gem 'my_local_gem', :path => '/home/user/Projects/my_local_gem'`

[2015-08-25 14:00] NekoNova opened #3964 "Bundle drops gems from .Lock file instead of complaining"
We've tried to merge 2 branches into a single branch.
In one branch, we used the gem CarrierWave, 0.10.0 and in the other branch we used the 0.7.1 version.

When we merged both branches, we of course had a conflict in the Gemfile.
After resolving the merge conflict and taking the output we wanted, we had an issue with Bundler.
When running Bundler, it removed the entries for Carrierwave from the .

[2015-08-25 14:45] segiddins commented on #3963
Looks to me like RubyGems things your gemspec is invalid?

[2015-08-25 16:31] jfrioux commented on #3963
I checked and you are right. We corrected the issue, but my local version still had it.

I'm closing this issue. Thanks.

[2015-08-25 16:31] #3963 closed

[2015-08-25 17:40] rgb-one commented on #3964
Have you tried deleting the previous `Gemfile.lock` after merging the two `Gemfiles`. If the `Gemfile.lock`for the unmerged `Gemfile` is there then bundler may be making use of it. Purge the `Gemfile.lock` and bundler will resolve all the dependencies again. The resulting lockfile will reflect the gems declared in the merged `Gemfile`.

[2015-08-25 17:52] NekoNova commented on #3964
Yes, we tried deleting the file, but this made no difference in the behaviour of Bundler.
Only removing the version from carrierwave and then running the bundle command solved it.

[2015-08-26 21:10] agis- commented on #3897
Is this still an issue? I've tried the above scenarios on *master* and Bundler successfully fetched the new revision (even if it was force-pushed or pushed *after* the initial cache was downloaded).

[2015-08-26 21:38] indirect commented on #3897
@agis- I think the scenario is something like:

1. Create Gemfile `gem "mygem", git: "myname/myrepo", branch: "mybranch"
2. `bundle install --path .bundle`
3. `cd myrepo; git checkout mybranch; git commit --amend "new commit"; git push -f origin mybranch`
4. Remove Bundler git cache (`rm -rf .bundle`)
5. `bundle install --path .bundle` will now fail because the locked SHA does not exist.

[2015-08-26 21:51] agis- commented on #3897
Cool, will look into it. Meanwhile, I've prepared a patch to show more friendly errors when the given ref does not exist.

[2015-08-27 06:30] #3897 closed

[2015-08-28 09:48] cybertk commented on #1198
+1

[2015-08-28 18:00] agis- commented on #3897
@indirect I couldn't reproduce this following the steps you described above and with either master or 1.10.6.

@postmodern what version of bundler you were using?

[2015-08-28 18:03] indirect commented on #3897
@agis- whoa, I guess the problem is fixed, then, and I just didn't realize. Thanks for verifying!

[2015-08-29 10:20] agis- commented on #3909
I guess this should be closed since #3918 is merged (https://github.com/bundler/bundler/commit/b22f0f490c6cdbfa3dd4d46234a850668dc89692).

[2015-08-29 10:28] agis- commented on #3908
@alopez1936 Can you share your Gemfile?

[2015-08-29 11:30] agis- commented on #3895
Thing is, at [this point](https://github.com/bundler/bundler/blob/v1.10.6/lib/bundler.rb#L374) `Bundler.ui` is the silent one (`UI::Silent`), so the warning is never printed.

An easy fix is to do instead `UI::Shell.new.warn`, or even set the ui at that point (ie. `Bundler.ui = UI::Shell.new`). However I'm not sure it's the correct approach.

@segiddins WDYT?

[2015-08-29 14:18] jordanthomas commented on #3909
👍🏻

[2015-08-29 15:54] #3909 closed

[2015-08-29 23:28] #3960 closed

[2015-08-29 23:49] indirect commented on #3895
Ugh, that's right. Maybe we need to revert the silencing changes as well? :(

[2015-08-29 23:57] segiddins commented on #3895
@indirect for now, let's just go with `UI::Shell.new.warn` ?

[2015-08-30 00:16] indirect commented on #3895
Works for me.

[2015-08-30 09:28] agis- commented on #3895
Cool. Will open a PR soon.
On Aug 30, 2015 3:16 AM, "André Arko" <notifications@github.com> wrote:

[2015-08-30 22:13] #3895 closed

[2015-08-31 02:11] pietschy commented on #1767
Changing `https` to `http` also "fixed" it for me, although I'm using ruby 2.1.1 so it's not only 1.9.3.

[2015-08-31 08:24] voxik opened #3972 "'bundle help list' shows help for 'bundle show'"
This was originally reported at [1]:

[code]

This seems to be intentional, i.e. looking at the source (https://github.com/bundler/bundler/blob/master/lib/bundler/cli.rb#L206), it appears that the list and show commands should have the same functionality but then the ```bundle help``` says:

[code]

Which implies minor difference. Would you mind to clarify this a bit?

[1] https://bugzilla.redhat.

[2015-08-31 08:40] voxik opened #3973 "bundler obsoleted commands"
This was originally reported at [1]:

[code]

Testing with recent bundler:

[code]

Interestingly, the once deprecated "lock" command is not deprecated anymore, but the true is that the "cache" command is still deprecated, so the point in the original report is valid IMO.

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1257634

[2015-08-31 15:13] segiddins commented on #3973
It's actually a new `lock` command, completely unrelated to the old one. We should just remove those commands from the man page.

[2015-09-01 00:31] craig-day opened #3974 "Git reference inside a source block changes .lock file unexpectedly"
If you reference a git repo inside of a source block, any gems after said git reference will be changed in `Gemfile.lock`.

#### Example
##### Starting project, with the `Gemfile` and `Gemfile.lock` as expected:
https://github.com/craig-day/bearded-nemesis

I have the base gems for a simple rails app in my `Gemfile`, then I also want to use https://rails-assets.org for my asset management, so I ad

[2015-09-01 16:03] rgb-one commented on #3974
I have tested and confirmed the behaviour you illustrated.

From my understanding the source block allows for gems to be retrieved from a specific source, in this case https://rails-assets.org. If the above is the case then it would seem appropriate to declare gems that will be retrieved from that source alone within the source block. However, you have a gem being declared from another source in a

[2015-09-01 16:11] craig-day commented on #3974
@rgb-one I agree it is a very weird case, but I think my last paragraph is the best example I can give. Normally a gem will come from the source, but for some development testing I might want to reference it to the a git branch rather than it come from the source. It would be nice to just be able to add the git source without having to move the gem. Your case does solve the issue, just wanted to b

[2015-09-01 16:22] rgb-one commented on #3974
Ah it seem I did some selective reading. I reread the last part of the OP and I understand your use case now.

Maybe the desired behaviour could be achieved using groups. So if group is `:test` then it woud retrieve from the git source, otherwise it would use the rails-assets.org source.

[2015-09-01 16:41] segiddins commented on #3974
No, this is very clearly a bug. Thanks for reporting it, @craig-day!

[2015-09-02 08:03] lmahendra commented on #3156
Hi, bundler is giving me the following error,
 Could not find jbuilder-2.2.16 in any of the sources (Bundler::GemNotFound)

I tried everything here to make it work. Actually my app was working till I made some modifications in Gemfile and app for APIs. since then, it's giving me these kind of errors, I could resolve some of those but this one is actually making me pull hairs. I tried resetting the

[2015-09-03 03:20] #3783 closed

[2015-09-03 09:23] Justin-Park commented on #3692
In my case, (I using on RaspberryPI2) I've resolved that problem.
I removed all my bundle and Re-Install

[2015-09-03 15:33] jaredbeck opened #3976 "bundle outdated shows yanked gem"
Not a big deal, but `bundle outdated` says the newest net-ssh is 2.10.0, though that version was yanked.

[code]

This screenshot shows that net-ssh 2.10.0 was yanked.

![screen shot 2015-09-03 at 11 29 42 am](https://cloud.githubusercontent.com/assets/380809/9662787/1f2f887a-522f-11e5-92bb-f228212262ce.png)

I see there was an older issue about this (https://github.com/bundler/bundler/issues/2256

[2015-09-03 18:09] jeremywadsack commented on #3576
I have the same issue — we host a private gem server and gems on that server depend on public gems. I cam here after [this SO post](http://stackoverflow.com/questions/28964228/how-can-i-avoid-bundlers-warning-about-multiple-sources-when-i-have-all-gems-in) and would like to see some safe solution for this.

I understand that `.gemspec` files can't be changed because `gem` doesn't have multiple sou

[2015-09-03 18:42] indirect commented on #3692
Sounds like this is fixed in the latest version, then. Thanks!

[2015-09-03 18:42] #3692 closed

[2015-09-06 00:45] TimMoore commented on #3576
I think that makes sense, @jeremywadsack. What happens when you try that?

I would have expected it to work the way you want, but I haven't actually tried it myself.

[2015-09-06 02:47] jeremywadsack commented on #3576
I tried it and it loaded the most recent version of the gem. Not the version specified in the gemspec.

[2015-09-06 03:10] TimMoore commented on #3576
What version did it load? It might not be obvious, but `'~> 0.2'` might load any 0.x version.

[2015-09-06 08:53] agis- commented on #3951
I've tried reproducing the issue. Some of the gems listed in the Gemfile depend on ruby 2, so bundler cannot resolve them (eg. `babosa`).

Can you post your Gemfile.lock?

[2015-09-06 13:13] agis- commented on #3974
OK this might be more serious than I initially thought: What actually happens is that any gem that's defined inside a `source` block *and* contains a custom source (eg. a `git` or `path` option), causes subsequent gems that are inside the same `source` block to be fetched from the default rubygems source (ie. rubygems.org).

I've opened a PR that hopefully fixes the issue.

cc @indirect @segiddins

[2015-09-06 19:42] ulrikaugustsson commented on #3951
We found out there seems to be some backward incompatability somewhere. Closing the issue.

[2015-09-06 19:42] #3951 closed

[2015-09-07 03:40] basilmariano opened #3980 "bundle install --no-deployment Error"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/bin/bundle install --no-deployment`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied - /Users/panfilomariano/webprojs/sinologue/.bundle/co

[2015-09-07 03:43] indirect commented on #3980
Bundler needs to be able to edit the file `.bundle/config` to run, but you will not allow it. Run `chown $USER /Users/panfilomariano/webprojs/sinologue/.bundle/config` to allow it, and then `bundle install`.

[2015-09-07 03:43] #3980 closed

[2015-09-07 03:44] #3974 closed

[2015-09-07 03:47] basilmariano commented on #3980
I can do bundle install but when i bundle install --no-deployment, i get
this issue

On Monday, September 7, 2015, André Arko <notifications@github.com> wrote:

[2015-09-07 03:49] indirect commented on #3980
Bundler needs to be able to edit the file .bundle/config to run, but you will not allow it. Run `chown $USER /Users/panfilomariano/webprojs/sinologue/.bundle/config` and then `chmod o+w /Users/panfilomariano/webprojs/sinologue/.bundle/config` to allow it, and then run `bundle install --no-deployment`.

[2015-09-07 03:51] basilmariano commented on #3980
and it works!!

Thanks you so much.

You just saved my day :)

more  power to Bundler

On Mon, Sep 7, 2015 at 11:49 AM, André Arko <notifications@github.com>
wrote:

[2015-09-07 10:46] paresharma opened #3981 "Bundle install with path and excluding a group fails when Gemfile.lock is present."
Here is my Gemfile and Gemfile.lock:

[code]

[code]

The following command fails if we don't have the gem from Github already checkout in `vendor/bundle`.

`bundle install --path=vendor/bundle --without development`

It works if the Gemfile.lock is not present. Removing the Gemfile.lock is a work around.

Shouldn't this work or is there anything I'm doing wrong?

[2015-09-07 18:53] jeremywadsack commented on #3576
Weird. I just tried it again and that seems to work fine. In this case I had the following:

[code]

And `bundle update private-dependency` loaded `0.1.6`. There are `0.2.0` and `0.2.1` versions available on the remote repository, so this seems to be working as expected.

[2015-09-07 21:02] TimMoore commented on #3981
Fails how? Can you please paste the output?

[2015-09-08 07:32] paresharma commented on #3981
Hi, here is the output. This only happens when we try to do a bundle install locally without a group that has gem from git.
[code]

[2015-09-08 10:31] robertclancy opened #3982 "with_clean_env does not replace original RUBYLIB environmental variable"
[with_clean_env](https://github.com/bundler/bundler/blob/9cb77343377856af5920691d99ba9075a8bccec2/lib/bundler.rb#L274-L284) does not reset the RUBYLIB environmental variable. This results in any calls to bundler in that environment will use the current bundler version. For example, I would expect
[code]
to return 1.9.1, but it returns 1.10.0.

[2015-09-08 20:42] indirect commented on #3982
The Bundler gem is not loaded from `RUBYLIB`... perhaps you can give an example that does use `RUBYLIB` for something?

[2015-09-08 20:50] indirect commented on #3982
Whoops; sorry, I misunderstood your example. This is a bug! Thanks for reporting it.

[2015-09-08 20:57] indirect commented on #3982
(This was broken by #2536, which changed from using RUBYOPT to using RUBYLIB, but did not update `with_clean_env` to clean RUBYLIB as well as RUBYOPT).

[2015-09-08 22:01] revenforv commented on #3468
Mic, following solution works fine for me

[code]

[2015-09-10 20:41] nathanl commented on #3902
I still doubt that Bundler can do anything about this, but one thing bothers me:

It's only done for you if you're 1) using a version switcher and 2) have it set up to autoswitch before every command.

What would make more sense to me is if every `gem install` of a gem with `spec.executables` would run `hash -r` after installation.

[2015-09-10 21:34] indirect commented on #3902
If you're using rbenv, there is a plugin (iirc calls rbenv-rehash) to do this for you automatically. I haven't had this problem myself while using chruby.

On Thu, Sep 10, 2015 at 1:41 PM, Nathan Long <notifications@github.com>
wrote:

[2015-09-11 03:35] guiyichen opened #3984 "Retrying dependency api due to error (4/4): Zlib::BufError buffer error"
[code]

[2015-09-11 04:27] segiddins commented on #3984
I'm not even seeing bundler in that stack trace.

[2015-09-11 05:57] guiyichen commented on #3984
guiyichendeMacBook-Pro:gitlab guiyichen$ sudo gem install rake
Password:
Successfully installed rake-10.4.2
Parsing documentation for rake-10.4.2
1 gem installed
guiyichendeMacBook-Pro:gitlab guiyichen$ sudo -u root -H bash -l -c 'bundle exec rake gitlab:check RAILS_ENV=production'
Could not find rake-10.4.2 in any of the sources
Run `bundle install` to install missing gems.
guiyichendeMacBook-Pro

[2015-09-11 05:58] segiddins commented on #3984
And have you run `bundle install`?

[2015-09-11 06:00] guiyichen commented on #3984
yes,
guiyichendeMacBook-Pro:gitlab guiyichen$ bundle install
Fetching gem metadata from https://rubygems.org/.......
Fetching version metadata from https://rubygems.org/.Retrying dependency api due to error (2/4): Bundler::HTTPError Network error while fetching https://bundler.rubygems.org/api/v1/dependencies?gems=bones,rcov,ZenTest,rubyforge,rspec,simplecov,virtus,pattern-match,git,bones-rcov,bon

[2015-09-11 10:34] svallory commented on #3962
"When you call `exec`, you create a new process, and although this process inherits the file you set as standard out, it doesn't inherit the other settings, in particular the sync setting.

In order to get unbuffered output in the new process, you need to set it in that process. If you don't want to modify `test.rb` one workaround could be to create another file, named somethig like `sync.rb` cont

[2015-09-11 13:43] h4wlt commented on #2661
I have been having this issue and after quite some time managed to find the following page which resolved the issue for me, the issue is due to using a windows file system on my vagrant box:

http://joequery.me/guides/bundle-install-text-file-busy/

[2015-09-11 14:41] frrisus commented on #3962
Yes, that's true. But the `exec` that they're referring to in that SO post is ruby's `exec`, not `bundle exec`. (Of course, maybe `bundle` is using ruby's `exec` under the hood...)

In my case, the problem isn't that the output is buffered but gets to STDOUT eventually, it's that the output never makes it back to STDOUT at all.

My understanding of buffered filehandles is that when they are closed

[2015-09-11 15:38] cantino commented on #3692
This still happens for me on 1.10.6, unfortunately.  Fixed by removing ~/.bundle/config.

[code]

[2015-09-11 16:18] ksubrama opened #3985 "Depsolver install suboptimal versions when circular dependencies occur"
We ran into this in https://github.com/chef/chef-dk/issues/506#issuecomment-139576793

A repro for you would be to clone chef/chef-provisioning-vagrant and attempt to bundle install --without development .  The crucial issue is that chef-12.4.1, chef-config-12.4.1, ohai-8.5.1 and ohai-8.6.0 are released gems right now but ohai-8.6.0 needs chef-config >= 12.5 which allows it to only be satisfied if

[2015-09-11 17:13] segiddins commented on #3985
If you need a pre-release gem, there needs to be a dependency that includes a pre-release identifier.

[2015-09-11 19:09] svallory commented on #3962
@frrisus you are right. I don't know if bundle does any magic and, in theory, you are right about getting all the unflushed data at the end. But I had the exact same problem you had. In my case it was a rake task.
going from `bundle exec rake ts:start` to `bundle exec rake -r ./sync-stdout.rb ts:start` solved it for me.

Maybe by syncing you get around of whatever voodoo bundle is making.

[2015-09-11 21:55] indirect commented on #3962
You may be interested in [--keep-file-descriptors](http://bundler.io/man/bundle-exec.1.html) and/or #2628. If you think you have a genuine bug, please follow [issues](https://github.com/bundler/bundler/blob/master/ISSUES.md)

[2015-09-11 21:59] indirect commented on #3692
Can you give us repro steps? Or at least tell us what your config that caused the problem was?

On Fri, Sep 11, 2015 at 8:38 AM, Andrew Cantino <notifications@github.com>
wrote:

[2015-09-12 18:27] cantino commented on #3692
Hey André.  The only config I had was setting jobs to 5 in ` ~/.bundle/config`.  I'm sorry that I don't have more details, and when I set that now and re-run, `bundle` works, but I think it got past an issue being set to `1` and then successfully bundling.  I'll let you know if recurs, but I suspect this bug isn't 100% fixed yet.

[2015-09-12 18:28] envygeeks commented on #3692
It happens much less often for us though. Much less.

[2015-09-13 14:07] agis- commented on #3981
I could reproduce the error following the steps you've described.

With a little digging, it seems that [`#resolve_if_need`](https://github.com/bundler/bundler/blob/master/lib/bundler/installer.rb#L271-L284) doesn't actually resolves the depencies when it should, or? This happens because `local` is set to `true`:

[code]

I'm not sure however if JSON in that case should appear as a missing spec, s

[2015-09-13 16:17] helsayed opened #3988 "Unfortunately, an unexpected error occurred, and Bundler cannot continue"
- What did you do?

  I ran the command `/home/hussein/.rvm/gems/ruby-2.2.2@prohealth/bin/bundle install --path /home/ubuntu/prohealth/shared/bundle --without development test --deployment --quiet`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied @ dir_s_mkdir - /ho

[2015-09-13 17:38] agis- commented on #3805
@indirect I'm interested in doing this. Any insights on how this should be approached?

[2015-09-13 18:32] indirect commented on #3805
This is something that we haven't ever done before! I think what you will probably end up having to do is constructing Gem::Requirement objects with ~> so you can limit the minor or tiny versions that the resolver will look for. I imagine that --minor would end up iterating over all the gems and adding ~> X.Y constraints to each gem in the bundle before trying to resolve. I'm also not sure that wo

[2015-09-13 19:05] agis- commented on #3678
@indirect Couldn't we just append an additional `!custom_gemfile.empty?` check in [here](https://github.com/bundler/bundler/blob/e8c962ef2a3215cdc6fd411b6724f091a16793d6/lib/bundler/cli.rb#L20)?

[2015-09-13 21:12] segiddins commented on #3988
It looks like you don't have write access to `GEM_HOME`

[2015-09-13 21:18] indirect commented on #3678
That sounds good to me.

[2015-09-13 21:19] agis- commented on #3678
Cool, will wrap up a PR with some tests soon.

[2015-09-13 21:29] indirect commented on #3981
I think that missing_specs should have `json` in it if the gem is in the Bundle; the installer will skip installing the gem later if it's in a without group.

[2015-09-14 21:10] agis- commented on #3932
@bibarCB Hey, any updates on this? Has what @segiddins suggested solved your issue?

[2015-09-14 21:13] agis- commented on #3916
@0704681032 Closing this due to lack of feedback. Feel free to share more information and I'll be happy to reopen.

[2015-09-14 21:13] #3916 closed

[2015-09-15 00:18] jgonera commented on #223
This doesn't work anymore because `CLI`'s constructor expects some arguments now. Is there any stable API for this? I don't want to use `bundler/inline` because I still want my dependencies to be in a `Gemfile`.

[2015-09-15 00:38] indirect commented on #223
The only current stable API for installing is using the CLI tool, so `system %w[bundle install]` is probably your best bet.

[2015-09-15 15:47] arthurkulchenko opened #3990 "Report friendly errors due to incorrect GEM_HOME paths"
$bundle install
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/Users/user1/.rvm/gems/ruby-2.2.2/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::ENOTSUP: Operation not supported @ dir_s_mkdir - /

[2015-09-15 16:01] agis- commented on #3990
I think that the issue lies in your `GEM_HOME` not being set properly by rvm.

[2015-09-15 16:45] justbaker commented on #3814
@indirect I've confirmed it was `vendor/apiary` causing issues, due to a git submodule listed in the Gemfile being absent. If a git submodule is referenced as a gem in the Gemfile and doesn't exist, then this error will occur.

[2015-09-16 00:07] #3678 closed

[2015-09-16 00:35] indirect commented on #3814
@justbaker unfortunately, that's still not enough information to reproduce this problem. When I try to install without the path, I just get the error I expect:

[code]

[2015-09-16 00:40] indirect commented on #3990
We should definitely catch this error and report the problem, though...

[2015-09-16 01:08] justbaker commented on #3814
@indirect: I was able to reproduce this again, and I would say this is indeed not an issue.

This exception occurs when the Gemfile.lock references the `apiary` gem after a fresh clone. The git submodule is not synced yet, so the `vendor/apiary` directory is empty.

running

    rm Gemfile.lock
    bundle install

fixed it for me.

[2015-09-16 07:42] e2 commented on #3678
Cool, thanks!

[2015-09-16 11:05] arthurkulchenko commented on #3990
SOLVED
by replacing BUNDLE_PATH in projectname/.bundle/config from /home/deployer/app/shared/bundle/ruby/2.2.0 - remote $GEM_HOME
to
/Users/user1/.rvm/gems/ruby-2.2.2  - local $GEM_HOME
How it's changed I really don't know, and don't understand...

[2015-09-16 20:45] agis- commented on #3990
I wasn't able to reproduce this by mimicking your setup. @arthurkulchenko Any chance you may give some insight on was actually triggering the problem?

[2015-09-17 09:02] arthurkulchenko commented on #3990
I looked around and checked shell history and diff's and assumed that it maybe was this...
env RAILS_ENV=development ~/.rvm/bin/rvm default do bundle install
if not, it could be bug with fish shell

[2015-09-17 17:04] ksubrama commented on #3985
I didn't need a prerelease gem.  I just needed the depsolver to give me a more recent version of the gem.  I confirmed that running bundler from https://github.com/bundler/bundler/pull/3862 fixes my issue because of the new version of Molinillo.  See https://gist.github.com/ksubrama/bb9818104592b8cc9011

Note how bad-output (bundler 1.10.6) shows an unwind where bundler no longer considers chef-12

[2015-09-17 17:42] jakeatwork commented on #3698
reverting to bundler 1.9.6 worked for me...the latest version still had this issue when using ruby motion, redpotion, and hockey app sdk to build  ios apps.

[2015-09-17 18:26] agis- commented on #3932
Closing this due to lack of feedback. Feel free to share more info and I'll happily reopen.

[2015-09-17 18:26] #3932 closed

[2015-09-17 18:28] krobi64 opened #3998 "bundle update runs, but bundle exec complains of incompatible gems"
bundler version: 1.9.4
ruby version: ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin13]

I ran bundle update, and I get a message that it installed the new  version of my gem. However, when I use `bundle exec`, I get

[code]

I am running these commands while trying to build `my_engine`.

[2015-09-17 18:29] agis- commented on #3926
Closing this since we haven't received any further feedback. We'll be glad to reopen if we receive further info.

[2015-09-17 18:29] #3926 closed

[2015-09-17 19:25] indirect commented on #3998
Please tell us how we can reproduce this problem! If you're not sure how to do that, check [ISSUES](https://github.com/carlhuda/bundler/blob/master/ISSUES.md).

On Thu, Sep 17, 2015 at 11:28 AM, Kristine Robison
<notifications@github.com> wrote:

[2015-09-19 14:03] dwieringa opened #4000 "binstubs command not mentioned in documentation"
I just noticed I'm supposed to be using `bundle binstubs <gemfile>` according to:
* https://github.com/rails/rails/issues/8974#issuecomment-14130313

I was looking for some more information and noticed that the `binstubs` command is not referenced in the bundle documentation.

ie http://bundler.io/v1.10/man/bundle.1.html

It looks like it was introduced in 1.3 (according to What's new in Bundler).

[2015-09-20 00:32] indirect opened #4003 "Change `path` setting test back to subprocess"
Inadvertently changed to testing the running test process instead of a new process, should be changed back:  https://github.com/bundler/bundler/commit/fab9d5529949ee4b714425450742b503d4f8899e#commitcomment-13317478

[2015-09-20 00:39] indirect opened #4004 "Lockfile containing path gem raises when path is deleted"
As we eventually discovered as part of #3814, if a `:path` gem has been previously locked, but the entire directory containing the gem is deleted, the next run of `bundle install` will raise `undefined method `dependencies' for nil:NilClass`, with a backtrace that looks something like this:

[code]

Reproduction steps should consist of something like this:

[code]

[2015-09-20 01:32] #3982 closed

[2015-09-20 13:34] asymmetric commented on #4004
@indirect I can't reproduce, I get `The path "/home/asymmetric/code/bundler/foo\" does not exist.`

Bundler 1.10.5, ruby 2.3.0dev

[2015-09-20 15:46] segiddins commented on #4004
I think this happens when the path is an uninitialized submodule, so maybe it's a file instead of being missing?

[2015-09-20 21:41] indirect commented on #4004
@asymmetric alternatively, maybe it's when the directory is present but empty?

[2015-09-20 22:06] #4003 closed

[2015-09-21 16:25] ruddy32 opened #4006 "Gentoo x64 install failure"
While installing bundler on Gentoo Linux x64 using root account, the install process generate the following log :
^[[0m ^[[31;01m*^[[0m ERROR: dev-ruby/metasploit-model-1.0.0::gentoo failed (prepare phase):
 ^[[31;01m*^[[0m   (no error message)
 ^[[31;01m*^[[0m
 ^[[31;01m*^[[0m Call stack:
 ^[[31;01m*^[[0m     ebuild.sh, line   93:  Called src_prepare
 ^[[31;01m*^[[0m   environment, line 4433:  Ca

[2015-09-21 18:55] heliocola opened #4007 "Update CoC with extra wording from Contributor Covenant v1.2.0"
I reviewed and update a few words in the CoC based on the version 1.2.0 of the Contributor Covenant (CC).

Changes: https://github.com/heliocola/bundler/commit/117689bbaf92a75e7088b1e1b35837481fc4a190

The main changes are extra wording while defining 'regardless of...' sentence.
I noticed CC uses the term 'personal appearance' while Bundler CoC uses 'physical appearance'. Since it isn't a change

[2015-09-21 19:59] indirect commented on #4007
I am happy to make the Bundler CoC match CC 1.2 exactly, feel free to send a PR!

[2015-09-22 00:29] agis- commented on #4004
I think this may be related to #3981. While the backtrace differs, the scenario sounds very much the same, except it's `:git` instead of `:path`.

[2015-09-22 08:40] balajigalave opened #4009 "Permission denied @ dir_s_mkdir - /var/www/travel/code/.bundle"
――― ERROR REPORT TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――
- What did you do?
- What did you expect to happen?
- What happened instead?

Error details

    Errno::EACCES: Permission denied @ dir_s_mkdir - /var/www/travel/code/.bundle
    /usr/local/rvm/rubies/ruby-2.2.1/lib/ruby/2.2.0/fileutils.rb:252:in `mkdir'
    /usr/local/rvm/rubies/ruby-2.2.1/lib/ruby/2.2.0/fileutils.r

[2015-09-22 13:14] heliocola commented on #4007
@indirect cool, I will send it your way.

[2015-09-22 16:15] rgb-one commented on #4009
It seems you don't have write pemission to that directory. Bundler is trying to write to .bundle but cannot because the user you are logged in as cannot write to the var/www/travel/code directory. You could try running bundler in a location where you do have full read write access like your home directory.

[2015-09-23 03:26] mudit44 commented on #2411
Thanks errakeshpd.

[2015-09-23 15:54] xaviershay commented on #3537
I think this is the same case as presented above:

[code]

We are running nexus hosted rubygems: https://github.com/sonatype/nexus-ruby-support/wiki/Rubygems-setup Possibly same issue with not supporting latest index format?

Also note a small UI bug, a newline is missing: "any of the sources.Bundler could not find"

[2015-09-23 21:49] mcasper opened #4011 "SSH Key Option"
My company finds itself in the position where it wants to load one of our private repos into several of our applications. Currently the ways to do that seem to be:

* Running your own gem server
* Using x-oauth-basic auth with a personal or machine account access token and https url
* Using a service like Gemfury

Running a gem server seems like overkill for just loading one gem in a few places, w

[2015-09-23 23:27] spjsschl commented on #3158
the workaround does not work for me

[2015-09-24 01:22] quoideneuf commented on #3288
+1 I really find the existing behavior counter-intuitive and unfriendly to build tasks

[2015-09-24 01:45] indirect commented on #4011
Load the SSH key into an SSH agent using `ssh-add` before you `bundle install`. It will Just Work™.

[2015-09-24 01:46] indirect commented on #4011
Alternatively, [set up an SSH config file](http://superuser.com/a/232406). Either way, Bundler just runs git commands, and git provides no way to set the SSH key. You'll need to use one of the mechanisms that git supports to authenticate git clones with a key.

[2015-09-24 01:47] #4011 closed

[2015-09-24 01:49] indirect commented on #3288
@quoideneuf why are you +1ing a feature that we have already started implementing? :/

[2015-09-24 01:51] quoideneuf commented on #3288
@indirect - Sorry, I didn't know you were.

[2015-09-24 01:52] indirect commented on #3288
It's already mostly done, even! We'll be shipping Bundler 2.0 sometime soon, probably within 2 releases.

[2015-09-24 01:53] quoideneuf commented on #3288
Well, in that case all I have to say is :+1:

[2015-09-24 13:51] #4007 closed

[2015-09-24 17:02] lukaso commented on #3692
Here is the state of all threads when this happens to me. It is happening inside docker and on my mac. jobs is 4.

[code]

I've tracked down the problem, and it appears there's a dependency that's not been satisfied, but isn't in the spec list. Here's my pry session:

[code]

This allows the worker process to go empty, and nothing to be coming, causing the deadlock.

Still not sure why in the para

[2015-09-24 19:53] agis- commented on #3998
Closing this due to lack of feedback.

@krobi64 Feel free to share more info and we'll be happy to reopen. Thanks!

[2015-09-24 19:53] #3998 closed

[2015-09-25 07:47] orta opened #4013 "Colour `bundle update x` differently"
Compare:
![screen shot 2015-09-25 at 08 45 48](https://cloud.githubusercontent.com/assets/49038/10095434/d6644740-6361-11e5-992b-771b0f038da0.png)

With (CocoaPods)
![screen shot 2015-09-25 at 08 45 30](https://cloud.githubusercontent.com/assets/49038/10095431/cec04610-6361-11e5-8719-b7fd36b60020.png)

The change in wording also helps when scanning down the left hand side. Making it say `Updating`

[2015-09-25 11:31] shakti07316222085 opened #4014 "Error while installing bundler"
Dear Team
I  am getting error while installing bundler. Please let me know what i have do to correct the same.

--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/local/bin/bundle install --without development test --deployment`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Ins

[2015-09-25 11:32] agis- commented on #4014
This must be the same as #4009.

[2015-09-25 11:35] agis- commented on #3915
Closing this due to lack of feedback. If the problem persists, let us know and we'll reopen the issue.

[2015-09-25 11:35] #3915 closed

[2015-09-25 12:40] shakti07316222085 commented on #4014
I have seen the issue #4009. and provided the desired permission but still not working.

[2015-09-25 14:37] segiddins commented on #4013
@orta it's saying `using` because it isn't actually installing anything -- it's using an already downloaded version of that gem. It _could_ stand to say `updating` since it's changing the lock, but I believe we've nixed this output anyways in 2.0, or relegated it to verbose mode only.

[2015-09-25 14:38] segiddins commented on #4014
Let's just add a better error message here ¯\_(ツ)_/¯

[2015-09-25 14:40] orta commented on #4013
Cool, cool, sound like you've got it under control.

[2015-09-25 14:40] #4013 closed

[2015-09-25 18:52] quoideneuf opened #4015 "Bundler.require when Gemfile.lock isn't present"
I'm not sure if this behavior is intentional or not. (If not, I guess this is a an objection rather than a bug report).

If I have a gem in a non-default group like "test" and run

[code]

I get a gemset with just my defaults. If my app uses Bundler.require I would expect it to run fine without the test gems (i.e., if I'm bundling the app for distribution). However, this isn't the case if I don't

[2015-09-25 19:13] segiddins commented on #4015
That's intentionally, you should be running `bundle install` before calling `Bundler.require`

[2015-09-25 19:59] quoideneuf commented on #4015
Right, but my script does that...

[2015-09-25 20:17] segiddins commented on #4015
And then you're removing the lockfile... Don't do that.

[2015-09-25 20:35] agis- commented on #3715
@karlo57 Resolved by which commit?

[2015-09-25 21:44] quoideneuf commented on #4015
So, does that mean that Bundler.require requires Gemfile.lock to be present? If that is the case, the overall behavior still seems counter-intuitive. Here I've added some lines to the script:

https://github.com/quoideneuf/ImBunderCurious/blob/master/script.sh#L23-L30

Also, if Gemfile.lock IS required for Bundler.require, why not have a message similar to the one you get when Gemfile is missing?

[2015-09-26 06:03] sergio-ocon commented on #3372
I was using rbenv in Fedora and got the same message. I couldn't understand why.
At the end, it was a lack of underneath packages, it was solved installing them:
sudo dnf install ruby-devel cmake mariadb-devel rubygems-devel
bundler update
bundler install

[2015-09-26 07:58] #4014 closed

[2015-09-26 17:09] philnash commented on #4015
I'm intrigued by this error. Could you post the error output from your example app? (I don't have rvm availlable right now.)

[2015-09-26 21:48] quoideneuf commented on #4015
@philnash Sure, here it is - thanks for taking a look:

https://github.com/quoideneuf/ImBunderCurious/blob/master/out.txt

[2015-09-26 21:52] segiddins commented on #4015
That is all the expected bundler behavior...

[2015-09-26 21:57] quoideneuf commented on #4015
If that is the case, I think it's rather un user-friendly. If presence of Gemfile.lock is a hard requirement for Bundler.require, it should fail the same way it does when Gemfile is absent. No?

[2015-09-26 22:01] segiddins commented on #4015
It actually isn't the lock file that's needed, but rather that all of the gems that running `bundle lock` would resolve to have to be installed

[2015-09-26 22:11] quoideneuf commented on #4015
Assuming that the Gemfile includes default and test groups, Bundle.require:

succeeds if all default and test gems are present, but Gemfile.lock is absent
succeeds if only default gems are present, and Gemfile.lock is present
fails if only default gems are present, but Gemfile.lock is absent

This just seems inherently confusing and non intuitive, design-wise, but I feel like I'm being pedantic an

[2015-09-26 22:38] indirect commented on #4015
If we were going to be completely consistent, we would have to remove any ability to ever run `Bundler.require` without a Gemfile.lock.

In order to run `Bundler.require`, Bundler needs two things: 1) every gem that is not in a `without` group must be installed and 2) knowledge that every gem version in the entire bundle (including gems in `without` groups) do not have any conflicts. The second ca

[2015-09-27 14:05] quoideneuf commented on #4015
@indirect Thank you for explaining this, it helps me greatly to understand what's going on. I am still puzzled by `Bundler.require`'s requirement 2. Why does it need to assess the logical possibility of my Gemfile at runtime? The horse has already left the barn, so to speak. And, though the documentation indeed advises users to keep Gemfile.lock around, it also says this:

Just to explain the angl

[2015-09-27 18:43] dedles commented on #3243
After returning from China, how could I change the source back to rubygems?

[2015-09-27 21:27] indirect commented on #3243
@dedles run `bundle config --delete mirror.https://rubygems.org`. See `bundle help config` for full help.

[2015-09-27 22:12] indirect commented on #4015
@quoideneuf this is a conversation that we have every few weeks with people :/ the reason that Bundler needs either a lock or every gem (including those in `--without` groups) is because the entire point of Bundler is to guarantee that every version of every gem in the bundle is compatible with one another.

If you have a lockfile, Bundler can simply assume that the lockfile contains all of the ve

[2015-09-27 22:12] #4015 closed

[2015-09-27 23:03] #3988 closed

[2015-09-27 23:03] #4009 closed

[2015-09-27 23:57] dedles commented on #3243
Thanks!

[2015-09-28 03:39] quoideneuf commented on #4015
@indirect If you are having to have this conversation every few weeks, then I assume that there is a significant group of people who would be happier if they could type `Bundler.require :resolve => false`. What would it cost you to give that to them (us)? Is it safe to assume that this would be trivial for you to implement? I understand that guaranteeing gem compatibility is the central feature of

[2015-09-29 02:40] indirect commented on #4015
@quoideneuf I don't think that's actually true—the other people that I have had this conversation with have always, as far as I can remember, said that they understand that Bundler needs to make sure that all the gems will work together without throwing exceptions, and we move on.

First, if it were possible to run `Bundler.require :resolve => false`, you might as well just be using RubyGems witho

[2015-09-29 02:45] indirect commented on #4006
This tracker is for bugs in Bundler. You pasted the output from a `gentoo emerge` command, which is not Bundler. Please ask the maintainers of the portage package that you are attempting to install for help.

[2015-09-29 02:45] #4006 closed

[2015-09-29 02:46] indirect commented on #4000
We should definitely add a manpage for `binstubs` (or if it already exists, mention it in the main help page).

[2015-09-29 14:14] normelton commented on #3537
Seems I'm having the same issue, but with an old-fashioned private gem repository (not gem-in-a-box):

    source 'https://rubygems.org'

    source 'http://repo.example.com/gems' do
      gem "my_custom_gem"
    end

I'm getting...

    Fetching source index from http://repo.example.com/gems/
    Fetching gem metadata from https://rubygems.org/..
    Fetching version metadata from https://rubygem

[2015-09-29 18:28] jclaret commented on #3372
it works for fedora 22 too.

thanks sergio-ocon!

[2015-09-30 15:36] pravi opened #4023 "--without is ignored when --local is defined"
when bundle install --local --without development test is given bundle still fails trying to find dependencies in development and test group. Tested with gitlab and diaspora Gemfiles.

[2015-09-30 16:50] indirect commented on #4023
This isn't a bug. You must have either a Gemfile.lock or every gem downloaded, so that Bundler can make sure that the versions are compatible. The without option only disables installing gems, it cannot remove the need to download those gems.

On Wed, Sep 30, 2015 at 8:38 AM, Praveen Arimbrathodiyil
<notifications@github.com> wrote:

[2015-09-30 17:34] agis- commented on #3990
This is fixed on master by https://github.com/bundler/bundler/pull/4016.

[2015-09-30 17:34] #3990 closed

[2015-09-30 17:35] agis- commented on #3984
@guiyichen Can you post your Gemfile and the output of `$ bundle env`?

[2015-10-01 18:37] nruth opened #4024 "bundle install without remembering --with --without for vagrant?"
Assume rails / bundler

When I run our vagrant install script it's
`bundle install --without production test --with development`
When I install on the same laptop without vagrant it's
`bundle install --with development test --without production`

These stomp on each other, and cause tests to fail (without vagrant) because the test group has been removed.
It'd be really great if there was a --dont-

[2015-10-01 20:18] segiddins commented on #4024
As of bundler 2, settings will only be remembered from ` bundle config `

[2015-10-01 21:20] nruth commented on #4024
Great, thanks for telling me. Closing.

[2015-10-01 21:20] #4024 closed

[2015-10-01 21:30] Zorbash opened #4025 "Deprecate bundle console command"
In 748d8ec it is stated that:

the `bundle console` command, and instead add a script to each generated
gem that loads `bundler/setup` and then loads the gem.

Currently there is no relevant issue in the [`2.0`](https://github.com/bundler/bundler/issues?utf8=%E2%9C%93&q=milestone%3A2.0) milestone, so i'm suggesting that we add one if it is still part of the [`2.0`](https://github.com/bundler/bundl

[2015-10-01 21:39] indirect commented on #4025
Yeah, good catch! The console command has gotten many, many pull requests for different kinds of customization and so we eventually realized that an editable bin/console is the only way to provide that level of customization. The gem command already creates bin/console, so all that's left is to remove the console command. For bonus points, you could add a deprecation warning to the console command

[2015-10-01 22:05] Zorbash commented on #4025
Great! I'm preparing a PR for this.

[2015-10-02 22:22] darkn3rd commented on #3816
I have had this same issue on a OS X 10.10, but `sudo bundle` doesn't work. :)

[2015-10-03 09:44] #4023 closed

[2015-10-04 17:59] spidergears commented on #4004
Can't reproduce with bundler 1.9.8 using Ruby 2.2.0. Says "The path `/Users/spidergears/stunts/bundler/foo` does not exist."

[2015-10-04 18:46] segiddins commented on #3976
@jaredbeck can you share a Gemfile and Gemfile.lock we can use to reproduce this? It's entirely possible it was a server-side issue (there's some lag puling new / yanked gems)

[2015-10-04 19:04] #3676 closed

[2015-10-04 20:31] segiddins commented on #3670
@indirect closing since you never provided steps to reproduce ;)

[2015-10-04 20:33] segiddins commented on #3891
Hmm, I can't seem to remember what the actual issue was here?

[2015-10-04 23:19] indirect commented on #3670
Steps to reproduce on 1.10.6:

[code]

[2015-10-04 23:21] indirect commented on #3670
Here's the output that doesn't make sense while running pack:

[code]

The specific general idea here is that if `install` can run without contacting rubygems.org, than so can `pack`. There's no reason to go get gem metadata again.

[2015-10-04 23:32] segiddins commented on #3670
ok, thanks for the repro steps!

[2015-10-05 09:41] amit-siddhu commented on #3891
Two steps solution:
`rvm gemset use your_gemset_name`
`gem install bundler`

than try `bundle install` :)

Why nobody tells that you should install bundler after creating gemset otherwise system(eg. /usr/bin/bundler) bundler will be used if exist

[2015-10-05 15:16] marlonfa commented on #3980
Hi, my error is this:

    Bundler settings

    without
      Set for your local app (/Library/Ruby/Gems/2.0.0/gems/bundler-1.10.6/bin/.bundle/config): "development:test"
      Set for the current user (/Users/Marlon/.bundle/config): "development:test

I tried the above methods, but failed.
My command is: bundle install --without development test

[2015-10-05 16:48] jbodah opened #4037 "`bundle install` not respecting twiddle-wakka in gemspec"
Bundler Version: 1.10.6

Gemfile:

[code]

My gemspec currently has the line:

[code]

[code]

Rubygems states that the `~> 5.5` twiddle-wakka is equivalent to `['>= 5.5', '< 5.6']`. When I switch to use the explicit syntax then bundler properly pulls in my dependencies:

[code]

[code]

[2015-10-05 16:58] jbodah commented on #4037
Apparently there's some deeper dark magic going on here, might not be a bundler thing:

[code]

[2015-10-05 16:59] segiddins commented on #4037
Nope, that's intended behavior. `~> 5.5` is not the same as `~> 5.5.0`

[2015-10-05 17:04] jbodah commented on #4037
Ah I see, I misread that from the docs. Thanks @segiddins

[2015-10-05 17:04] #4037 closed

[2015-10-06 15:23] jaredbeck commented on #3976
Hmmm, `net-ssh` has released a new version, so even if I could dig up my Gemfile from a month ago, I don't think it would reproduce this issue, sorry.

[2015-10-07 00:46] bao1018 opened #4042 "Psych::SyntaxError: (<unknown>): mapping values are not allowed in this context at line 3 column 4"
I got below error message when I run bundle install
 appledev093$ bundle install
Warning: this Gemfile contains multiple primary sources. Using `source` more than once without a block is a security risk, and may result in installing unexpected gems. To resolve this warning, use a block to indicate which gems should come from the secondary source. To upgrade this warning to an error, run `bundle co

[2015-10-07 00:49] segiddins commented on #4042
It looks like your ruby gems config file is invalid.

[2015-10-08 06:34] dnl opened #4045 "Bundler could not find compatible versions where there is no incompatibility"
What I did,

Added a version requirement for dotenv-rails where none was previously.
ran `bundle`
I expected bundler to update the gem happily, as '2.0.2' is >= '0.7.0' and == '2.0.2'

I saw this:
[code]
---
**reduced steps to get this state:**

create new Gemfile
[code]
run `bundle`

modify Gemfile:
[code]
run `bundle`

modify Gemfile:
[code]
running `bundle` will give the error

---

`bundle env

[2015-10-08 06:41] segiddins commented on #4045
You need to run `bundle update dotenv`, since it's locked.

[2015-10-08 06:51] dnl commented on #4045
Yeah, it's an easy issue to resolve manually,

I just thought that it seemed the sort of thing that bundler should know how to resolve without showing an error.

[2015-10-08 06:52] segiddins commented on #4045
Nope, the idea is that bundler won't ever update anything without you instructing it to.

[2015-10-08 06:54] dnl commented on #4045
cool. so bug in my understanding.

[2015-10-08 06:54] #4045 closed

[2015-10-08 20:55] grosser opened #4046 "not respecting ruby version requirement"
bundler should pick the highest possible version of a gem, not pick a version that is incompatible and then fail

[code]

[code]

[2015-10-08 22:32] segiddins commented on #4046
This will be fixed by a pair of open PRs, one of which is the new index format.

[2015-10-09 14:56] scarver2 commented on #4046
This may be related to this issue.

bundler is attempting to update net-ssh v2.8.0 to v3.0.1 which requires. Ruby 2.0

[code]

[2015-10-09 15:29] segiddins commented on #4046
This is a feature that were working on adding, as I said.

[2015-10-10 19:00] dancinglightning commented on #403
Hi, google lead here after i heard about these tasks. They are useful for maintaining gems.
indirects argument of not needing docs (which i looked for in vain on the site) doesn't really hold as it assumes perfect information distribution :-(
Proving this are several gems out there that provide functionality like this.
Quite a wasted double effort as everyone uses bundle, right ?

require 'bundler

[2015-10-10 19:38] indirect commented on #403
I wasn't arguing against docs, I was explaining why we didn't have any yet. I also said it would be great if someone wrote docs. Could you send a pull request?

[2015-10-10 21:04] dancinglightning commented on #403
Not that i am against helping a little with such a great tool, but i think it will involve more process/talking.
For a start i wouldn't know where on the site it should go. Seeing as it is not "bundle xxx" command related and everything else is.
But i can start that process by opening and issue, ok?
btw: you won't remember, but we met at frozen rails last year, talked a bit about vm's and rubinius

[2015-10-11 09:47] backus opened #4050 "Invalid autoload for `Bundler::Specification`?"
It looks like `lib/bundler.rb` specified the following autoload

[code]

even though `Bundler::Specification` was removed in 0f97e4fcea15b2e5f2d6d045c686b5750c5d54de.  Should this be removed?

[2015-10-11 14:53] segiddins commented on #4050
Probably? Try removing it and see if the specs still pass?

[2015-10-12 00:30] #4050 closed

[2015-10-12 00:39] backus commented on #4050
Merged!

For context on this issue: I'm writing a tool which enumerates methods defined at a point in time in the ruby VM.  As a result, for every top level constant the following is performed:

[code]

therefore, since my gem uses bundler, it always ends up doing the following

[code]

which triggered the invalid autoload of `Bundler::Specification`

[2015-10-12 17:04] mikemonk opened #4053 "Permission Denied Error"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/local/bin/bundle install --without test development`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied - /home/user/Downloads/wpscan/.bundl

[2015-10-12 17:09] agis- commented on #4053
It looks like Bundler is trying to write to `/home/user/Downloads/wpscan/.bundle` but doesn't have the proper permissions to do so.

[2015-10-12 17:13] mikemonk commented on #4053
I tried this already:  sudo chmod -R 755 Downloads/

I was also running the installer with sudo, so not sure what to set for the permissions

[2015-10-12 19:21] Zorbash commented on #4000
@indirect A manpage for `binstubs` does not seem to exist. I'm preparing a PR for this.

[2015-10-13 03:13] OneMain opened #4054 "bundle install: undefined method `use_ssl=' for #<Net::HTTP::Persistent::SSLReuse"
dongchao:xmo iclick$ bundle  install
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/Users/iclick/.rvm/gems/ruby-1.9.1-p431/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    NoMethodError: undefined metho

[2015-10-13 03:37] segiddins commented on #4054
Do we still support RG 1.3.7?

[2015-10-13 05:41] indirect commented on #4054
Yes :'(

[2015-10-13 10:08] jitendravyas commented on #3674
What to do to solve this on OSX?

[2015-10-13 10:20] agis- commented on #3674
@jitendravyas As mentioned in the previous comment, the solution is to grant the needed permissions to your user and try again.

[2015-10-13 12:29] shinnn opened #4055 "bundler writes "missing gem executables" error to STDOUT, not STDERR"
### Environments

[code]

### Problem

When the user tries to execute a missing executable,

[code]

bundler writes the following message to the console:

[code]

However, the message is written to STDOUT.

Is it an expected behavior? I think those kind of messages should be written to STDERR.

[2015-10-13 13:22] segiddins commented on #4055
They will be written to STDERR in 2.0.

[2015-10-13 13:22] #4055 closed

[2015-10-13 14:36] GianFF commented on #3816
I have a very same problem on Ubuntu 15.04 , and `sudo bundle` does not work , but `gem install bundler` habe been solved my problem .

[2015-10-13 14:44] shinnn commented on #4055
Thanks for letting me know. looking forward to 2.0.

[2015-10-14 02:45] OneMain commented on #4054
now,i have updated  the RG  to version 2.3.8，but did  not work, it still the same error message

[2015-10-14 03:11] stephenhmarsh opened #4056 "local bundle config throws error about branch, even though gemfile specifies correct branch"
Bundler version 1.10.6
git version 2.5.3
ruby 2.2.3 (via RVM)

A couple of my projects have a dependency for another gem that I have cloned locally for development.

In my Gemfile I have:

<pre>
gem 'my_gem', :git=>'git://github.com/path_to/my_gem.git', :branch=>'rails4'
</pre>

To override that locally, I use:
`bundle config local.my_gem /Path/to/gem`

Here's the error, though:
<pre>
$ bundle sho

[2015-10-14 16:48] semprul57 opened #4057 "error report while run bundle install"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/semprul57/.rvm/gems/ruby-2.1.6@metasploit-framework/bin/bundle install`
- What did you expect to happen?

  I expected Bundler to...
- What happened instead?

  Instead, what actually happened was...

Error details

[code]

Environment

[code]

Bundler settings

[code]

[2015-10-15 05:09] stephenhmarsh commented on #4056
Found the problem.

I put some debugging code in bundler in the `local_override!` method of Git.rb

<pre>
if git_proxy.branch != options["branch"] && !Bundler.settings[:disable_local_branch_check]
 puts options["branch"].inspect
 puts git_proxy.branch.inspect
 raise GitError, "Local override for #{name} at #{path} is using branch " \
   "#{git_proxy.branch} but Gemfile specifies #{options["branch"

[2015-10-15 06:09] indirect commented on #4056
Maybe we need to run git commands with the --no-color option? Or maybe use a lower level git command that doesn't include colorization.

[2015-10-15 14:42] Lakshmi-Sharma commented on #3964
@NekoNova I cannot reproduce this issue.
Bundler did not throw any dependency resolution errors. It installed carrierwave 0.7.1 .
Can you please provide any other information. Else this issue can be closed.

[2015-10-15 16:01] NekoNova commented on #3964
will close it for now, and report it again should this behaviour appear once more.

[2015-10-15 16:01] #3964 closed

[2015-10-15 22:16] jbarreneche opened #4058 "Multiple source warning when using the block and a Gemfile.lock exists"
Hi, we found an inconsistency with the warning for indirect dependencies in multiple sources, when using the `source` declaration with a block.

The first time you add the source (ie. the Gemfile.lock doesn't have the source) the installation doesn't issue a warning (like this spec suggests https://github.com/bundler/bundler/blob/master/spec/install/gems/sources_spec.rb#L170-L185). Which is what w

[2015-10-16 00:47] stephenhmarsh commented on #4056
Thanks @indirect.  I am not seeing this error with ``git config --global color.ui auto`` either.  Only seeing it with color.ui ``always``.

Has it ever been discussed to change this to:
<pre>
        def branch
          @branch ||= allowed_in_path do
            git("rev-parse --abbrev-ref HEAD").strip
          end
        end
</pre>

?

As this does not have any colorization, even with ``always

[2015-10-16 00:49] segiddins commented on #4056
@stephenhmarsh a PR for that would be excellent :)

[2015-10-16 19:36] justbaker commented on #4004
@indirect Yes, I'm pretty sure this only occurs when directory is present but empty.

[2015-10-16 21:51] anymatus opened #4060 "Compatible version issue for gem "httpi""
I'm trying to use google-dfp-api.. I had to resolve several dependencies but.. I can not resolve this one:

[code]

please.. any help is welcome.. Thanks!

[2015-10-16 22:24] segiddins commented on #4060
That's an unresolvable conflict. You can't use that version of `google-dap-api` with that version of `savon`, as the error message says.

[2015-10-16 22:24] #4060 closed

[2015-10-17 02:50] justbaker commented on #4004
@indirect [Here is a test case to reproduce the issue](https://github.com/justbaker/bdlr-test).

[2015-10-17 02:58] segiddins commented on #4004
Excellent, thanks so much!

[2015-10-17 03:44] segiddins commented on #4004
Hm, when I run `bundle install` in there with bundler master, I get `The path /vendor/bar does not exist.` (and the same with 1.10.6)

[2015-10-17 08:50] #4004 closed

[2015-10-17 12:53] arjunsharma opened #4062 "bundler package --all & bundle install --deployment do not work together when referencing local gems"
I have created a repository with steps to reproduce, and a code example, here: https://github.com/arjunsharma/shared_local_gems_issue

Here's the TL;DR:

I have a couple of Rails apps that share local gems. When I deploy one of those apps to a PaaS like Pivotal Web Services (PWS), which uses CloudFoundry, only the Rails directory is pushed. This means that my directory that contains the shared loc

[2015-10-17 13:10] indirect commented on #4062
I'm not entirely sure this is a bug—changing the path of a gem is not allowed during --deployment mode. If you actively want to change the path only during deploys, I think you should not be using --deployment (although then you lose the guard against desynchronized Gemfiles and locks that deploy mode provides ). If you don't want to change the path, why not have your deploy script create a symlin

[2015-10-17 13:57] arjunsharma commented on #4062
My concern is that I'm not sure if `bundle package --all && bundle install` should be changing the Gemfile.lock, although I will readily admit that despite doing a lot of Ruby development for the last few years I'm certainly not a bundler expert.

After running those two commands in my sample code, the Gemfile.lock now says:
[code]

But my Gemfile continues to say:
[code]
which is an invalid state

[2015-10-19 14:34] vfonic commented on #2943
@TrevorHinesley do you remember what fixed this issue? I'm having the same problem.

[2015-10-20 11:33] sahilbabbar opened #4065 "Unable to run gem install bundler"
I am unable to run ```gem install bundler``` as it is giving the following error:

I had recently upgraded to El Capitan and facing *Nokogiri* gem issue and for more details see: https://github.com/sparklemotion/nokogiri/issues/1367

[2015-10-20 13:28] rafaelfranca opened #4066 "Bundle enters in an irrecoverable state when a git dependency in the without group is upgraded."
We are facing an issue where bundle enters in a irrecoverable state when a git dependecy that is in one of the groups listed in the `without` config is upgraded. I have a repository that reproduces the problem (The README contains how to reproduce the issue) https://github.com/rafaelfranca/bundle_test.

Here are the outputs:

[code]

As you can see [in the diff](https://github.com/rafaelfranca/bun

[2015-10-20 13:55] segiddins commented on #4065
This is not a bundler issue -- you'll need to install the gem binstubs to a directory you have write permissions for.

[2015-10-20 14:35] sahilbabbar commented on #4065
Are you talking about this gem => https://rubygems.org/gems/rubocop_prefer_binstubs

But I am the super user and therefore, should have permissions.

[2015-10-20 15:10] segiddins commented on #4065
No, you'll need to either change your `GEM_HOME` or do something like `sudo gem install bundler -n /usr/local/bin` because of El Cap's introduction of SIP (System Integrity Protection).

[2015-10-20 15:10] #4065 closed

[2015-10-20 18:39] sahilbabbar commented on #4065
Thanks for assistance, @segiddins. But it would be greatly helpful if you can be specific in the commands that need to be followed.

[2015-10-20 19:32] brchristian opened #4068 "Rails app not working after bundle install --path"
Not sure if this is the right place to report this issue I'm having, so apologies in advance if not, but any words of wisdom would be a huge help. I'm working on a Rails app in an Ubuntu environment using Rbenv and Bundler. In my app folder, I can run `bundle exec rails console`, `bundle exec rails server`, etc., and all work fine.

I run `bundle` and see `Bundle complete!` Everything still works.

[2015-10-21 06:52] indirect commented on #4068
Rails does not support bundle exec as of 4.0+. You need to run the `bin/rails` in your app directory instead.

[2015-10-21 06:53] #4068 closed

[2015-10-21 07:00] indirect commented on #4062
What do you think would make sense in this situation? It seems bad to modify your Gemfile, and --deployment mode by definition raises an exception of the lock and Gemfile don't match. As a result, I'd suggest symlinking `vendor/cache/component` to `../../../component` in development, and then changing your Gemfile to match.

[2015-10-21 15:51] agis- commented on #2511
I couldn't reproduce this with 1.10.6:

[code]

I've also tried by cloning the repo in the specified path and removing the gemspec.

@indirect Is there anything that I'm missing or is this fixed?

[2015-10-21 15:59] agis- commented on #2749
@indirect So should we close this or?

[2015-10-21 16:17] agis- commented on #3048
@BCCRiskAdvisory I couldn't reproduce the issue in 1.10.6 following the steps you've described. If you still see the error in the latest versions, let us know and we'll reopen the issue. Thanks!

[2015-10-21 16:17] #3048 closed

[2015-10-21 16:24] agis- commented on #3072
Closing this due to lack of feedback.

@kinvolved1 Feel free to share more info (eg. reproduction steps) and I'll happily reopen :)

[2015-10-21 16:24] #3072 closed

[2015-10-21 16:34] agis- commented on #3100
Fixed by #3497.

[2015-10-21 16:34] #3100 closed

[2015-10-21 16:39] agis- commented on #3163
@kaukas Since this is kind of an old issue, can you please check if the warning persists on 1.10.6 and if so, then share your Gemfile as well? Thanks!

[2015-10-21 16:43] agis- commented on #3209
Closing this since it's not a bug and there is #3210 around which could just be reopened.

If you want this to be tracked as a feature request it should be submitted to https://github.com/bundler/bundler-features instead.

Thanks!

[2015-10-21 16:43] #3209 closed

[2015-10-21 16:47] agis- commented on #3088
So is this still an issue? /cc @jjb @indirect

[2015-10-21 16:53] agis- commented on #2827
Posted to https://github.com/bundler/bundler-features/issues/96, the place for feature requests. Closing this.

[2015-10-21 16:53] #2827 closed

[2015-10-21 16:56] agis- commented on #3572
Fixed by a5107e400555217d90b0abda9e72f9140aed4410.

[2015-10-21 16:56] #3572 closed

[2015-10-21 17:02] agis- commented on #3223
If you still feel `bundle install -h` should work, please open an issue in https://github.com/bundler/bundler-features/issues.

[2015-10-21 17:02] #3223 closed

[2015-10-21 17:05] agis- commented on #3416
@manoharlaldas @raskhadafi Can you please check if the error persists on bundler 1.10.6? If so, can you provide the minimal steps to reproduce the issue?

[2015-10-21 17:07] agis- commented on #3597
@digitalextremist Closing this due to lack of feedback. Please share more info and we'll hapilly reopen. Thanks!

[2015-10-21 17:07] #3597 closed

[2015-10-21 17:08] agis- commented on #2588
@luislavena Hey! Any change you can check this on the latest bundler version?

[2015-10-21 17:20] agis- commented on #3595
Closing as a duplicate of #3537 indeed.

[2015-10-21 17:20] #3595 closed

[2015-10-21 17:23] kaukas commented on #3163
Yes, I am still getting that same warning with bundler 1.10.6 and the original setup as specified in https://gist.github.com/kaukas/7f91788682be1cfb32f2.

[2015-10-21 17:29] agis- commented on #3908
@alopez Closing this due to lack of feedback. Feel free to share more info and I'll reopen.

[2015-10-21 17:29] #3908 closed

[2015-10-21 17:32] agis- commented on #3962
Closing this due to lack of feedback. If you feel this is still an issue, please share more info and I'll reopen. Thanks!

[2015-10-21 17:32] #3962 closed

[2015-10-21 17:35] agis- commented on #3985
Fixed by https://github.com/bundler/bundler/pull/3862.

[2015-10-21 17:35] #3985 closed

[2015-10-21 17:37] agis- commented on #3984
@guiyichen Closing this due to lack of feedback. Feel free to share more info and I'll reopen. Thanks!

[2015-10-21 17:37] #3984 closed

[2015-10-21 17:39] agis- commented on #3891
@paulmenzel Is your issue fixed by the suggestions in the comments? If so, this should be closed.

[2015-10-21 17:43] agis- commented on #4053
755 gives write access only to the owner. Maybe the folder is not owned by the user bundler runs with?

It's clear that bundler has no write access to `/home/user/Downloads/wpscan/.bundle`.

[2015-10-21 18:14] agis- commented on #4054
@OneMain Can you post your new `bundle env` output (after upgrading rubygems) and a stripped-down Gemfile that reproduces the issue?

[2015-10-21 20:47] jjb commented on #3088
I haven't experienced it myself for many months.

[2015-10-21 21:35] agis- commented on #3463
@maclover7 Is this still relevant now that https://github.com/bundler/bundler/pull/3030 is merged?

[2015-10-21 22:03] maclover7 commented on #3463
I'd say we need something more robust than that (although it's a good start). Let's keep this open until https://github.com/bundler/bundler/pull/3807 or something along those lines gets merged.

[2015-10-22 07:36] #3674 closed

[2015-10-22 07:39] agis- commented on #3660
@FooBarWidget Closing this until a test case and/or reproduction steps are provided.

[2015-10-22 07:39] #3660 closed

[2015-10-22 07:57] agis- commented on #3352
From the man page:

cause it to ignore all configuration.

I don't think it's implied that Bundler will not *write* to the config. It states that it will not *read* from it.

So I don't think this is an issue? /cc @segiddins

[2015-10-22 08:11] agis- commented on #3972
Indeed, there is no difference.

I believe we should split the two functionalities (showing the path of a gem and the list of all gems) to be two separate commands with different implementations:

1) `bundle list` lists all the gems and does not accept any arguments
2) `bundle show` *must* be passed a gem name

@indirect WDYT?

[2015-10-22 08:39] agis- commented on #3158
Fixed by https://github.com/bundler/bundler/pull/3896.

[2015-10-22 08:39] #3158 closed

[2015-10-22 08:39] agis- commented on #3887
Fixed by https://github.com/bundler/bundler/pull/3896.

[2015-10-22 08:39] #3887 closed

[2015-10-22 13:22] francoisjacques commented on #3158
Awesome!

[2015-10-22 14:13] segiddins commented on #3352
👍🏻 to what @agis- said, makes total sense

[2015-10-22 15:05] skutondo commented on #2204
Has anyone run into the same issue with OSX El Capitan?

[2015-10-22 15:08] skutondo commented on #2204
Here is my error with El Capitan:

rails server
/Library/Ruby/Site/2.0.0/rubygems/core_ext/kernel_require.rb:54:in `require': cannot load such file -- bundler/setup (LoadError)
	from /Library/Ruby/Site/2.0.0/rubygems/core_ext/kernel_require.rb:54:in `require'
	from /Users/Sam_k/mynewapp/config/boot.rb:3:in `<top (required)>'
	from bin/rails:3:in `require_relative'
	from bin/rails:3:in `<main>'

My

[2015-10-22 16:10] #3352 closed

[2015-10-22 16:22] agis- commented on #2887
@modosc I couldn't reproduce the issue. Can you provide detailed steps or maybe check if this issue is also present in the latest bundler versions?

[2015-10-22 17:07] agis- commented on #3761
Fixed by #3763.

[2015-10-22 17:07] #3761 closed

[2015-10-22 17:11] agis- commented on #3589
Closing this as a non-bundler issue. Anyone that feels we could improve the retry mechanism feel free to open a PR and reference this issue. Thanks :)

[2015-10-22 17:11] #3589 closed

[2015-10-22 18:28] agis- commented on #3976
Confirmed it's @segiddins's hypothesis.

I've tried this right after yanking the most recent version of the gem. For a couple of minutes the yanked version was showing up in the output of `bundle outdated`.

Closing this since it's not a bundler issue.

[2015-10-22 18:28] #3976 closed

[2015-10-22 18:34] agis- commented on #3656
Does a warning on every CLI command along the lines of "`RUBYGEMS_GEMDEPS` is set and this may cause bundler to conflict with rubygems" sounds sufficient?

[2015-10-22 19:03] agis- commented on #3760
That said, I believe the warning's purpose is letting users know that installing as root is not a good idea. The question here is if it worth it adding an option for a specific kind of warning, and for a specific use-case (ie. Docker).

@segiddins What do you think?

P.S. There is already the `--quiet` switch that will, among other things, silence the root warning.

[2015-10-22 19:12] envygeeks commented on #3760
I requested an option but I don't know if it needs to be an option, maybe just an environment variable like Debian does (or did actually) with RubyGems where you would be like "REALLY_GEM_UPDATE_SYSTEM" except "SILENCE_ROOT_WARNING=true" would just be detected by the sudo warning and skipped.

I agree that adding a dedicated option is probably too much to ask for, but maybe just a simple targeted

[2015-10-22 19:44] agis- commented on #3933
Closing this due to inactivity.

@coezbek If you want to submit a feature request, please use https://github.com/bundler/bundler-features/issues.

Thanks!

[2015-10-22 19:44] #3933 closed

[2015-10-22 19:46] agis- commented on #3945
@vmatekole I know it's been a while but if you're still facing this issue, can you upload a sample repo, ideally stripped down to the essentials so that the issue is demonstrated?

[2015-10-22 20:12] segiddins commented on #3656
@agis- yeah

[2015-10-22 20:14] segiddins commented on #3760
A pr to that effect, with tests, would probably be mergable!

[2015-10-22 20:16] envygeeks commented on #3760
I will happily send one sometime this weekend when I have time, thanks!

[2015-10-22 20:45] agis- commented on #3714
@segiddins Is this still relevant? If so, can you elaborate on what's to be done so anyone else can pick this up?

[2015-10-22 20:55] segiddins commented on #3714
It is relevant, but I guarantee you no one will want to do it 😜

[2015-10-22 20:57] agis- commented on #3714
Ah it's good it's fine, nevermind! :runner: :smile:

[2015-10-22 22:45] agis- commented on #3715
@indirect Should we close this now that https://github.com/bundler/bundler/commit/13c445680f65293ee50f11718e8a86bfa87abd2e is merged? It's not clear if this is an issue fixed by that commit or it's a non-issue.

[2015-10-23 18:23] ProckStar commented on #3883
Hmmmm ... not understanding what to change the permissions too. I'm getting the exact same error, only difference is the Git version I'm using is 1.9.1

The permissions on the config file is rw-r--r--
Owner and group are root

I thought I knew enough about permissions to make sense of this, but the file is readable by user, group and world. Wouldn't Bundler be part of the "world"? Do I need to cha

[2015-10-23 20:42] md5 commented on #1795
Forgive me for commenting on a long-closed issue, but did this issue ever get raised over at `bundler/bundler-features`? I wasn't able to find it over there.

As far as I can tell, there's still no way to selectively cache certain gems other than running `bundle package --all` and manually deleting all but the desired gems.

[2015-10-24 10:33] agis- commented on #4053
Closing this as it's a file system permission issue.

[2015-10-24 10:33] #4053 closed

[2015-10-25 07:02] sibinx7 opened #4074 "Retrying dependency api due to error: Zlib::BufError buffer error"
[code]

[2015-10-25 07:28] indirect commented on #4054
Based on the backtrack this is some situation where ruby is compiled without SSL, and Net HTTP Persistent doesn't check for the use_ssl= method before trying to use it. Maybe we can catch this and throw the Bundler SSL missing error?

[2015-10-25 07:29] indirect commented on #3088
IIRC this was a bug in Molinillo that has been fixed for a while.

[2015-10-25 07:44] indirect commented on #4042
End users should never see backtraces; let's print an error with what information we have (and if needed say that they can check the validity of a YAML file at url X or with command Y)

[2015-10-25 07:45] indirect commented on #2511
Looks like we fixed this! I'm guessing it was part of 1.9. Thanks for testing it, @agis-.

[2015-10-25 07:45] #2511 closed

[2015-10-25 09:54] rxsharp commented on #3915
I'm getting this issue as well but when I deploy through Amazon Elastic Beanstalk. I went into the ssh and installed git but it didn't solve the issue.

[2015-10-25 09:58] agis- commented on #3088
Cool!

@segiddins Can you confirm what @indirect said? If so, we can close this.

[2015-10-25 10:48] indirect commented on #1795
I think that's the workaround that people use today. If you still want this, please open a feature request ticket explaining the scenario and why you want to cache only some gems. Thanks!

[2015-10-25 10:49] indirect commented on #3883
I don't know, to be honest. All I know is that your error message says that the OS won't let Ruby open the config file that Bundler needs to read. :/

[2015-10-25 10:51] indirect commented on #3715
I guess it was a non-issue? Either way, seems resolved by a test now.

[2015-10-25 10:51] #3715 closed

[2015-10-25 10:57] indirect commented on #4074
@bundler/core another error to rescue and retry in the fetcher, I guess. 😛

[2015-10-25 10:58] indirect commented on #3915
This ticket is closed. If you're having a problem, please follow [ISSUES](https://github.com/bundler/bundler/blob/master/ISSUES.md).

[2015-10-25 16:11] segiddins commented on #3088
uuuuum so this bug actually predates bundler using Molinillo :P

I'm good closing this though, we can always re-open if there's another gemfile that comes around

[2015-10-25 16:11] #3088 closed

[2015-10-25 19:44] TimMoore commented on #3883
It needs write permission as well

[2015-10-26 03:32] indirect commented on #2749
I think we'll close this as "package includes all the files in a directory by design, and you are free to script something that makes needed changes based on that expectation"

[2015-10-26 03:32] #2749 closed

[2015-10-26 03:49] indirect commented on #3972
I completely forgot that `list` even exists, and I use `show` exclusively. I agree that list shouldn't accept arguments, and I'd be happy with removing list in 2.0, and only documenting `show`, with or without arguments.

[2015-10-26 03:50] indirect commented on #2204
@skutondo this issue is both fixed and closed. If you are having an issue you would like to report, please follow [ISSUES](https://github.com/bundler/bundler/blob/master/ISSUES.md).

[2015-10-26 03:53] #3433 closed

[2015-10-26 06:04] #3656 closed

[2015-10-26 08:25] graudeejs commented on #3588
I have the same issue.
Locally it works fine, however I get this error when I try to push to heroku.
Using jruby-9.0.0.0 (ruby 2.2.2).

Using http for rails-assets did work though.

[2015-10-26 09:01] skutondo commented on #2204
Yes, Andre this was indeed resolved thank you so much.  The issue with mine seems to have come up when I upgraded to OSX El Capitan.  I had to change some permissions in order to to get the Bundler installed and working.

[2015-10-26 09:21] agis- commented on #3891
Closing this due to lack of feedback. Feel free to share more info and we'll happily reopen!

[2015-10-26 09:21] #3891 closed

[2015-10-26 09:25] agis- commented on #3945
Closing this due to lack of feedback. Feel free to share more info and I'll reopen the issue. Thanks!

[2015-10-26 09:25] #3945 closed

[2015-10-26 19:17] agis- commented on #4058
This seems like a duplicate of #3671.

[2015-10-26 23:36] sibinx7 commented on #4074
This happened in my vagrant( guest os ubuntu 14.04, 64 bit), after restart, issue gone...

[2015-10-27 03:27] stephenhmarsh commented on #4056
Hi, can someone please advise which branch I should base my bugfix off of and/or PR to?  It was discovered on 1.10.6, but I see this method has been unchanged for quite a while.  Thanks!

[2015-10-27 03:41] segiddins commented on #4056
It should be based off of master. :)

[2015-10-27 05:01] segiddins commented on #4066
So the expected behavior here imho is that install will _download_ the locked sha, and then not use it

[2015-10-27 05:07] pabloh commented on #3537
@Strech , I think I just run into this, do you is it feasible to make bundler fall-back to retrieving all the private source's gems and dependencies together when the API isn't available?.
BTW: Are you still considering this problem a bundler a issue or the server's (since this is still open...)?

[2015-10-27 05:19] rafaelfranca commented on #4066
how about the check?

[2015-10-27 05:22] segiddins commented on #4066
Check _probably_ should return false? But I tried looking into this, and it's some quite hairy code that probably only @indirect fully understands :P

[2015-10-27 09:37] etehtsea commented on #3692
This issue is still reproducible. Please reopen.

[code]

[2015-10-27 11:41] Strech commented on #3537
@pabloh Right now I'm stuck with this issue. It's not so easy to understand fetching internals. I point to the problem and ask for some help, but as you can see, nothing happened

[2015-10-27 13:10] lukaso commented on #3692
The fix is merged on master, but has not been backported to 1.10 as far as I can tell.

[2015-10-27 13:27] ecleel commented on #3692
The problem still happen

- What did you do?

  I ran the command `/Users/ecleel/.rbenv/versions/2.1.2/bin/bundle update sass`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    fatal: No live threads left. Deadlock?
      /Users/ecleel/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bundler-1.10.6/li

[2015-10-27 13:44] lukaso commented on #3692
@etehtsea @ecleel To fix this problem (until the fix is backported), make sure that the `DEPENDENCIES` list in your `Gemfile.lock` has all the required dependencies in it. If it doesn't, you can manually copy them in. This is usually caused by a bad merge so looking at your commit history on `Gemfile.lock` might give you some clues.

[2015-10-27 13:46] envygeeks commented on #3692
@lukaso this isn't always caused by what you mentioned... we used to get that error all the time and we do not commit `Gemfile.lock` even on our Rails apps, because it's the build servers job to embed it into the Docker image so developers can always test on the latest.

[2015-10-27 14:37] segiddins commented on #3537
We have a failing test that reproduces the bug, but given the difficulty in fixing it, it hasn't been a top priority for any of the team

[2015-10-27 22:41] md5 commented on #1795
Thanks @indirect. I opened https://github.com/bundler/bundler-features/issues/98

[2015-10-27 23:56] rafaelfranca commented on #4066
Yeah, I tried too and it was not easy to figure it out. Thank you for looking!

[2015-10-28 02:50] sjayanna opened #4079 "Error while restarting puma webserver"
Please see the [gist](https://gist.github.com/sjayanna/5ed1baf175a45cb2509f)
Not sure why this error is happening? is it because of bundler version?

Thanks!

[2015-10-28 02:58] segiddins commented on #4079
It looks like you're trying to do something with bundler in a directory that doesn't have a gem file?

[2015-10-28 03:07] sjayanna commented on #4079
Thank you @segiddins but there is a Gemfile in that folder as shown in the attached image (please ignore the datestamp)
![image](https://cloud.githubusercontent.com/assets/194508/10778761/5eb53a44-7cff-11e5-8308-3b00b8c55a93.png)

[2015-10-28 04:03] segiddins commented on #4079
what's the output of `bundle install --verbose`?

[2015-10-28 04:21] sjayanna commented on #4079
@segiddins I use Ansible to deploy it on the server automatically. This works most of the time but sometimes I get this and i have to run the capasitrano deply script again and then it works.

[2015-10-28 10:21] kumarh01 opened #4081 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
What did you do?

  I ran the command `C:/Ruby22-x64/bin/bundle exec rspec`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::ENOEXEC: Exec format error - rspec
      C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/bundler-1.10.6/lib/bundler/cli/exec.rb:33:in `exec'
      C:/Ruby22-x64/lib/ruby/gems/2

[2015-10-28 11:29] perlun commented on #3692
Just ran into the exact same issue with my app, when using parallel jobs (which work fine on JRuby). When trying to bundle install the same gems on MRI, it failed as above. With 1 job at the same time, it worked flawlessly.

[2015-10-28 12:45] segiddins commented on #4081
So it looks like we need to rescue ENOEXEC and make that a better error

[2015-10-28 20:18] #4042 closed

[2015-10-29 02:21] grosser commented on #2822
Other scenario that is annoying:

internal gem that depends on other private gems -> always showing a warning

[code]

now the gemfile needs this to resolve it properly

[code]

[2015-10-29 04:43] zainalmustofa commented on #3816
I have same issue and solve with this https://github.com/flori/json/issues/253

[2015-10-30 07:13] sopheak-se opened #4084 "Error after type command 'bundle install'"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    /usr/bin/ruby2.1 extconf.rb
/h

[2015-10-30 07:22] indirect commented on #4084
This has nothing to do with Bundler, and is a problem created entirely by the executable-hooks gem.

[2015-10-30 07:22] #4084 closed

[2015-10-30 12:37] igorkasyanchuk opened #4086 "How I can use command line gem without preloading Gemfile from folder where it's executed?"
PLEASE HELP

http://stackoverflow.com/questions/33435734/gem-development-not-load-other-gemfile

I've an issue with gem file development, for example I'm creating a gem with executable command.

It all works well, I can run command, BUT I've issue that if I'm trying to run command inside another project folder it's USING Gemfile from this second project.

Can I somehow disable it? I want only to u

[2015-10-30 13:02] segiddins commented on #4086
You can set the BUNLDE_GEMFILE env variable to tell bundler what file to read as your GEMFILE.

[2015-10-30 17:44] MonkeyOfRoll opened #4088 "Bundler fails on bundle update on jruby-9.0.1.0. dependency on byebug 6.0.2"
Hi - I am new to ruby, so will do my best to explain this problem - hopefully this is the right place, though I understand that this could equally be a problem with jruby or something else in my setup.

I am using
bundler-1.10.6
jruby-9.0.1.0
on OSX

when attempting a bundle update, it tries to install byebug 6.0.2, but cannot due to jruby not supporting c extensions:

Gem::Ext::BuildError: ERROR:

[2015-10-30 21:02] segiddins commented on #4088
Bundler has no dependencies

[2015-11-02 03:35] smellsblue opened #4090 "Bundling with `--full-index` doesn't work against Gemstash with headers"
Bundling against [Gemstash](https://github.com/bundler/gemstash) with the new `X-Gemfile-Source` header works (yay!), unfortunately it doesn't work when bundling with the `--full-index` option.

I believe the header isn't being sent when Bundler requests `/specs.4.8.gz`, and it's possible it might also not send the header when it requests `/quick/Marshal.4.8/some-gem-0.1.0.gemspec.rz` after pullin

[2015-11-02 11:43] AtulKsol commented on #2943
@TrevorHinesley and @vfonic Are you able to fix the issue?
Actually I'm also doing this in my engine.rb- class Engine < Rails::Engine
but its throwing me an error.

[2015-11-02 12:28] rohit-webonise commented on #1914
I ran bundle install and found the following errors
and got the same issue.
can you please help me out

[2015-11-03 08:26] renra commented on #3816
Just ran into the same problem on debian after updating to ruby 2.2.3. Unfortunately https://github.com/flori/json/issues/253 did not help.

[2015-11-03 18:05] hennersz opened #4092 "Error on bundle install"
- What did you do?

  I ran the command `/usr/local/rvm/gems/ruby-2.2.1/bin/bundle install --deployment --without development test`

- What did you expect to happen?

  I expected Bundler to...

install gems for my rails app

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied @ dir_s_mkdir - /var/www/myapp/code/.bundle
      /usr

[2015-11-03 18:34] segiddins commented on #4092
This now prints a more informative error on `master` -- you need to have write permissions for `.bundle`.

[2015-11-03 18:34] #4092 closed

[2015-11-03 23:17] vfonic commented on #2943
@AtulKsol be careful that, when building Rails engine gem, you'd want to make rails a dependency, not only dev dependency.

I'm on phone, can't show example now, but hope you understand it.
spec.add_dependency...

[2015-11-04 04:55] TrevorHinesley commented on #2943
@AtulKsol @vfonic check out my gem here to see how I fixed it: https://github.com/TrevorHinesley/abracadabra

[2015-11-04 05:50] AtulKsol commented on #2943
Thanks @vfonic , though I've already added `rails` to dependency not only development. ;-) :+1:
@TrevorHinesley I'll check your gem Abracadarba :)

[2015-11-05 09:37] jiafuguang870519 opened #4093 "Error loading RubyGems plugin "/home/bsfx/.rvm/gems/jruby-1.7.19@global/gems/executable-hooks-1.3.2/lib/rubygems_plugin.rb": load error: rubygems/security -- java.lang.ExceptionInInitializerError: null (LoadError)"
Error loading RubyGems plugin "/home/bsfx/.rvm/gems/jruby-1.7.19@global/gems/executable-hooks-1.3.2/lib/rubygems_plugin.rb": load error: rubygems/security -- java.lang.ExceptionInInitializerError: null (LoadError)
――― ERROR REPORT TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――
- What did you do?
- What did you expect to happen?
- What happened instead?

Error details

    NoMetho

[2015-11-05 09:40] bolshakov opened #4094 "--no-coc and --no-mit options does not work"
I'm running the following command:

[code]

But it ignores my options and generate MIT license CODE_OF_CONDUCT file

[2015-11-05 15:05] segiddins commented on #4094
I seem to recall us fixing that at some point? Can you check if the issue still exists on master?

[2015-11-05 15:05] segiddins commented on #4093
This looks like a rubygems or a plugin bug. What makes you think this is an issue in bundler itself?

[2015-11-06 09:40] deivid-rodriguez commented on #4088
@MonkeyOfRoll `byebug`, unfortunately, does not support `jruby`. So if your app is `jruby` only, just remove it from your `Gemfile`. In any case, this is certainly not a problem in `bundler`.

[2015-11-06 10:21] deivid-rodriguez opened #4096 "Bundler changes my Gemfile.lock when I think it shouldn't"
##### Gemfile
[code]

##### Gemfile.lock
[code]

If I run `bundle update` in `jruby`, all good, nothing changes.

If I switch to MRI and run, `VERSION=2.2.3 ENGINE=ruby ENGINE_VERSION=2.2.3 bundle update`, `bundler` actually downgrades my `jruby` dependencies... :open_mouth:

[code]

Is this unexpected or I'm doing something wrong or unsupported?

[2015-11-06 14:52] #4088 closed

[2015-11-08 09:36] trusche commented on #3805
I've been wanting this as well for a long time. @agis let me know if I can help please.

[2015-11-08 13:25] agis- commented on #3805
I won't have the time to do this so please feel free to take a shot!
On Nov 8, 2015 11:36 AM, "Thilo Rusche" <notifications@github.com> wrote:

[2015-11-09 13:09] webfd commented on #3816
rvm how to di in error

[2015-11-09 22:41] davatron5000 opened #4098 "Could not find compatible versions for gem (on Windows)"
Trying to `bundle install` and add the `did_you_mean` gem but getting this error every time I add a new gem. I shouldn't be getting this error when I'm not touching `nokogiri`. /cc @schneems

[code]

Here's my `bundle env` output: https://gist.github.com/davatron5000/cbc910d0f8f4fd323dc9

[2015-11-10 06:35] zhouhaoyang opened #4099 "in `parse_source': undefined method `[]' for nil:NilClass (NoMethodError)"
――― ERROR REPORT TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――
- What did you do?
  I'm running gitlab rspec test script:

cd /root/Downloads/gitlab
pwd
ruby -v
which ruby
cp config/database.yml.mysql config/database.yml
cp config/gitlab.yml.example config/gitlab.yml
sed "s/username\:.*$/username\: runner/" -i config/database.yml
sed "s/password\:.*$/password\: 'password'/" -i c

[2015-11-10 07:25] zhouhaoyang commented on #4099
sorry ,  the reason should be my fault.

I edit and change many gitlab file , that's the reason

[2015-11-10 07:25] #4099 closed

[2015-11-10 08:52] #4074 closed

[2015-11-10 14:25] jjmonsalveg opened #4100 "I can not run the project downloaded from a repository"
hi guys, I need help, I can not run the console, (rails c):
[code]

I can not run the local server (rails s):

[code]

[2015-11-10 15:20] segiddins commented on #4100
What's the output if you run `bundle check`, and what's the contents of your gemfile?

[2015-11-10 15:59] jjmonsalveg commented on #4100
command bundle check:
[code]
my Gemfile is:
[code]

[2015-11-10 16:21] segiddins commented on #4100
Are you sure the countries gem has a required able file named global?

[2015-11-10 16:25] fschwahn opened #4101 "mini_portile added to Gemfile.lock even though no dependency exists"
Hi,
I ran into a problem where a gem (`mini_portile`) was added to the Gemfile, even though no dependency on the gem exists. I was able to reproduce the issue in a clean environment in a VM, with a freshly installed ruby and bundler.

The Gemfile and Gemfile.lock files can be found here: https://gist.github.com/fschwahn/fdcfb8a366d7fa25211a

If you run `bundle update uglifier nokogiri`, the gem `m

[2015-11-10 16:41] jjmonsalveg commented on #4100
oh !! right there the error. https://github.com/hexorx/countries (Upgrading to 1.2.0). thanks for your help

[2015-11-10 16:41] #4100 closed

[2015-11-10 22:17] smellsblue opened #4102 "Bundling sometimes fails on JRuby"
If I bundle [Gemstash](https://github.com/bundler/gemstash) from MRI, creating a `Gemfile.lock` and then switch to JRuby, bundling with missing gems fails with the following error:
[code]

Doing the reverse works fine. (see the shell session at the bottom to see a full example of the problem)

The `Gemfile` simply points to the gemspec:
[code]

I suspect the key to the problem may be how I specifi

[2015-11-10 23:47] smellsblue commented on #4102
The same failure happens for JRuby 1.7.22 as well

[2015-11-11 00:29] denmat commented on #3609
Hmmm, I would say that this is a fundamentally bad security flaw in bundler.  I can just see the people being able to search github for the Gemfile.lock with username/passwords.

My problem is similar to @joelpresence. However I'm trying to build docker containers from private github repos. I was hoping to pass my token through as an environment var.

This is possible with `https://#ENV[<token>]:a

[2015-11-12 13:07] timon opened #4106 "Native extension can not be loaded for gem built from git"
Hi! This could be related to #3413 and #3014

My program can not load native extension for `eventmachine` gem when it is specified with `github` flag in Gemfile.

The extension is built in gem's `/ext/` dir, but is not copied into `/lib/`

Below are relevant excerpts with description of my environment (Host is CentOS 7)

[code]

The extension is built, however, and `cp` could be used as workaround

[2015-11-12 16:14] #4090 closed

[2015-11-14 04:38] smellsblue commented on #4102
I created a simple gem called `example` to replicate this issue with just a single dependency. Then I started digging into the issue, and I found some insights into the problem, but I don't really know Bundler code, so I'm not sure what direction to take the fix.

[lib/bundler/definition.rb](https://github.com/bundler/bundler/blob/master/lib/bundler/definition.rb) seems to be where the `Gemfile.lo

[2015-11-14 05:33] segiddins commented on #4102
Wow, great job investigating! I think the platform in the dependency is the problem here, but I can't be sure.

[2015-11-17 13:09] indirect commented on #3609
@denmat support for git url credentials is in master, and will be included in the next version of Bundler.

[2015-11-18 00:09] hiteshsharma commented on #217
You can append gem path to ruby load path. Do this:
    gem which faker
    => /usr/local/ruby/......../faker-0.1.1/lib/faker.rb

Start Rails console and do the following:
    $: << '/usr/local/ruby/......../faker-0.1.1/lib/'

and now load faker gem
    require 'faker'
    => true

[2015-11-19 01:34] smellsblue commented on #4102
@segiddins thanks! After more investigating, I think I figured out a solution that works, and yeah, the dependency platforms was the problem. My solution restricts the platforms to what the gemspec indicates the platforms are, which causes the `expanded_dependencies` method to only include those platforms, and then everything seems to work ok.

[2015-11-19 09:10] iversonlin330 opened #4115 "Upgrade Redmin error"
First i got error from the website
-------------------------------------------------------
It looks like Bundler could not find a gem. Maybe you didn't install all the gems that this application needs. To install your gems, please run:

bundle install

If that didn't work, then the problem is probably caused by your application being run under a different environment than it's supposed to. Please

[2015-11-19 15:41] schneems commented on #4098
Any ideas on how to move forwards here? Is this expected behavior? Any help is appreciated

[2015-11-19 15:44] davatron5000 commented on #4098
fwiw, I did `bundle update` & `bundle install` a few times and it sorta worked.

[2015-11-21 21:04] hfanous opened #4118 "Bundle installation failed on kubuntu 14.04 (part of gitlab install)"
-
- What did you do?

  I ran the command `/usr/local/bin/bundle install -j8 --deployment --without development test postgres aws`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied @ rb_sysopen - /home/git/gitlab/.bundle/config
      /usr/local/lib/ruby/gems/2.1.0/ge

[2015-11-21 21:12] hfanous commented on #4118
This is the same as issue 3858 and changing and adding read/write permissions to  /home/git/gitlab/.bundle/config solved the problem.  Sorry for the noise

Thanks

[2015-11-21 21:12] #4118 closed

[2015-11-24 21:29] devalresourse opened #4119 "Having had time to install bundle on my pc window 10"
the error report is https://github.com/bundler/bundler/issues?q=Permission+denied+%40+rb_sysopen+-+ Gemfile&type=Issues

[2015-11-24 22:01] segiddins commented on #4119
Please share the error report?

[2015-11-25 00:10] devalresourse commented on #4119
Gem:: RemoteFetcher::FetchError: SSL_connect returned=1 errno=) state=SSLv3
read server certificate B: certificate verify failed (
https://rubygems.global.ssl.fastly.net/gems/i18n-0.7.0.gem) An erroe
occured while installing i18n(0.7.0), and Bundler cannot continue. Make
sure that gem install i18n -v '0.7.0' succeeds before bundling.

On Tue, Nov 24, 2015 at 5:01 PM, Samuel E. Giddins <notificatio

[2015-11-25 00:10] devalresourse commented on #4119
Gem:: RemoteFetcher::FetchError: SSL_connect returned=1 errno=) state=SSLv3 read server certificate B: certificate verify failed (https://rubygems.global.ssl.fastly.net/gems/i18n-0.7.0.gem) An erroe occured while installing i18n(0.7.0), and Bundler cannot continue. Make sure that gem install i18n -v '0.7.0' succeeds before bundling.

[2015-11-25 00:23] segiddins commented on #4119
And does running gem install succeed for you?

[2015-11-25 01:19] devalresourse commented on #4119
No it working

On Tuesday, November 24, 2015, Samuel E. Giddins <notifications@github.com>
wrote:

[2015-11-25 03:32] wtfiwtz commented on #3538
Try running `brew doctor`

This error is a clue: Permission denied @ rb_sysopen - /usr/local/Cellar/ruby21/2.1.5/bin/rdoc

Normally /usr/local/Cellar should be writable by the current normal user (as running `sudo` for brew is not ideal).

[2015-11-25 10:35] majewsky opened #4121 "`bundle install` does not detect missing gems"
I was trying to debug problems with the connection to my corporate Rubygems mirror, but since `bundle install` does not connect to the server when all the gems are there, I just deleted one of the gems (`rm -r $(bundle show --paths | tail -n 1)` if you want to reproduce). The next `bundle install` did not detect this, it just said "Bundle complete" and exited. Logically, the app would now fail to

[2015-11-25 11:55] chrome01 opened #4122 "Bundle install"
bundle install
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/Users/Name/.rvm/gems/ruby-2.1.1@myapp/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Gem::Ext::BuildError: ERROR: Failed to build gem nati

[2015-11-25 12:30] TimMoore commented on #4122
This looks like the problem is that you don't have permission to write to the current directory where you're running bundle.

[2015-11-25 13:55] segiddins commented on #4121
I believe that's to be expected, as you never removed the specifications.

[2015-11-25 14:49] majewsky commented on #4121
What is a specification, and where can I find documentation about it?

[2015-11-25 21:39] chadbernick commented on #3538
Thanks, I got it sorted.
On Nov 24, 2015 9:32 PM, "Nigel Sheridan-Smith" <notifications@github.com>
wrote:

[2015-11-27 00:26] segiddins commented on #4121
you really should be using things like `gem uninstall` and `gem pristine`. Since you've manually deleted files, I'm tempted to say this isn't a bundler bug?

[2015-11-27 06:11] #4102 closed

[2015-11-27 08:52] majewsky commented on #4121
Apparently not, although I would appreciate an answer to my question to actually understand what is going on here.

[2015-11-27 12:16] dziemba opened #4126 "Use HTTPS for github sources"
The `github` git source [currently uses](https://github.com/bundler/bundler/blob/437f604956e629e1b96270d87f6fdb05b189de2d/lib/bundler/dsl.rb#L222) the git protocol. Since there is no authentication or encryption of any kind, it's insecure to use it over the internet (we already use HTTPS instead of HTTP for rubygems sources when possible).

I propose we change it to HTTPS, as it is already the cas

[2015-11-27 16:42] segiddins commented on #4126
This is already done on the 2.0 branch. We can't make this change before then because it would break backwards compatibility.

[2015-11-27 16:42] #4126 closed

[2015-11-27 22:51] pcarranza opened #4128 "Probe the configured mirror and drop to the source uri in case it fails"
To support using *gemstash* in the office and keep the *zero conf* style when the user is not in the same network anymore we could just probe the configured mirror for a given upstream server to check if it is still there. If it is not, we just drop down to the actual upstream server.

The behaviour would be something like this:

open tcp connection to the upstream mirrored with a connection timeo

[2015-11-27 22:59] TimMoore commented on #4128
I'm not sure everyone would want this behavior. Some people want to enforce use of a mirror for security reasons. So I think it would need to be configurable and default to off.

[2015-11-28 02:43] indirect commented on #4128
Yes, I think that's how I would like it to work for me, too. I would even be happy with a much lower timeout, since the gemstash server should be local if it is going to be available at all. Maybe we can provide this via a `bundle config mirror.URL.fallback true` setting?

[2015-11-28 02:44] indirect commented on #4128
(I think @TimMoore is right, and we want this to be opt-in for mirror fallback, but for developers using gemstash in their office, this could be really nice.)

[2015-11-28 11:58] pcarranza commented on #4128
I agree, it makes sense to make it an optional behaviour.

Then the way to enable this fallback is by providing this `.fallback=true` trailing to a mirror url.

Timeout of 0.1 secs? configurable with an option? => `bundle config mirror.URL.fallback_timeout` for ex?

I'll give it a try.

[2015-11-28 19:55] Viktorminator commented on #3372
[code]
solved the problem

[2015-11-28 21:27] pcarranza commented on #4128
Just wondering if it makes sense to just enable the `fallback_timeout` and not use the `fallback=true` at all.

[2015-11-28 21:36] Gaolz commented on #3692
I had the same issue, but it works with **bundle exec**.

[2015-11-28 23:33] TimMoore commented on #4128
I was thinking the same. If there were two configs, it might be confusing what the behavior should be when `fallback_timeout` is set but `fallback` isn't. Maybe just have `fallback_timeout` which can be set to either a number of milliseconds or `true` to use the default timeout.

[2015-11-30 02:53] segiddins commented on #4121
which question?

[2015-11-30 09:27] majewsky commented on #4121
My confusion about Bundler's behavior suggests that the documentation is lacking in some way. I did `bundle help install | grep -i specification`, but that does not find anything like a "specification" in the docs.

[2015-11-30 11:09] pcarranza commented on #4128
Yep, it makes sense and keeps things neat and simple. I like it.

I'll build it as soon as I can. Thanks for the feedback.

[2015-11-30 11:59] krig opened #4131 "bundle package fails to bundle anything if stdlib-included gems are mentioned in Gemfile"
Despite fix #3896, bundler still doesn't succeed in bundling gems when `json` is required. It no longer crashes with a null error, but now no gems are cached at all since bundler exits at a later stage:

[code]

[2015-11-30 12:05] segiddins commented on #4131
What's the output of `bundle env`?

[2015-11-30 12:12] krig commented on #4131
https://gist.github.com/krig/baa54b145f8e00baf7e2

Bundler version says 1.10.6, but I have patched it with commit 5f2d983fc.

[2015-11-30 12:16] segiddins commented on #4131
I believe this is behaving as intended. Default gems don't include a `.gem` file we can cache, and since you haven't specified another source to download gems from, there's nowhere bundler could go to get a cachable version of JSON.

[2015-11-30 12:24] krig commented on #4131
Hmm. The question is how I can make bundler work for me in this case though. I'm fine with bundler not caching gems that are included in the stdlib, but I do need to cache other gems. I can't rely on pulling in gems from the internet, since we need reproducible builds, so adding rubygems.org to the Gemfile is not an option.

[2015-11-30 12:31] segiddins commented on #4131
You can get a reproducible build by caching, but bundler does need a place to get those gems from to cache, which is what adding the source to your gemfile does.

[2015-11-30 15:58] fotanus commented on #4115
Have you tried to open an issue for redmine? It seems that you do not have write permission on `/usr/share/redmine/`.

[2015-11-30 16:41] segiddins commented on #4115
This should have a friendlier error message in 1.11.0.pre.1.

[2015-11-30 22:58] fuzziness opened #4133 "string contains null byte"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/Users/harakei/.rvm/gems/ruby-2.2.3@global/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to install gems as usual

- What happened instead?

  Instead, what actually happened was an unexpected error and Bundler cannot continue.

Error details

[2015-11-30 23:18] fuzziness commented on #4133
sorry, my fault. a ' instead "

[2015-11-30 23:18] #4133 closed

[2015-11-30 23:26] ljerome opened #4134 "Errno::EACCES: Permission denied @ rb_sysopen - /opt/current/.bundle/config"
hello

When I run "rvm all do bundle install --without development test" in the folder of my redmine's website i got the following error message:

redmine@redmine2:/opt/current$ bundle install --without development test
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/redmine/.rvm/gems/ruby-2.2.1/bin/bundle install --w

[2015-11-30 23:31] segiddins commented on #4134
This has a better error message in 1.11. You'll need to grant access to that directory.

[2015-12-01 01:38] segiddins opened #4135 "Document the release process"
Let's try and reduce our bus factor by a bit...

- [ ] Branching stable versions
- [ ] Backporting commits from master to stable
- [ ] Compiling a CHANGELOG
- [ ] Releasing the gem

[2015-12-01 02:04] indirect commented on #4135
# RELEASING.md

### Bugfix releases

Releasing new bugfix versions is really straightforward. Increment the tiny version number in `lib/bundler/version.rb`, and in `CHANGELOG.md` add one bullet point per bug fixed. Then run `rake release` and pour yourself a tasty drink. :tropical_drink: :confetti_ball:

### Feature releases

While pushing a gem version to RubyGems.org is as simple as `rake releas

[2015-12-01 02:25] iversonlin330 opened #4136 "Remine install error Bundle install"
It looks like Bundler could not find a gem. Maybe you didn't install all the gems that this application needs. To install your gems, please run:

bundle install
If that didn't work, then the problem is probably caused by your application being run under a different environment than it's supposed to. Please check the following:

Is this app supposed to be run as the redmine user?
Is this app being

[2015-12-01 05:28] iversonlin330 commented on #4115
how can i solve it,thank

[2015-12-02 08:35] doudou opened #4137 "bundler adds the Gem bindir to PATH even if it is configured to generate its own"
I have a bundler environment set up, with bundler generating binstubs in a path of my choosing. However, bundler exec adds the Gem bindir ($HOME/.gems/ruby/VERSION/bin) to PATH instead of this binstub path.

[2015-12-02 08:38] doudou opened #4138 "bundler adds the bindir to PATH even if it is already included in PATH"
I use bundler as part of a bigger system, where PATH might include the path to bin directories
from Ruby packages that are not managed by bundler.

As part of the environment setup, bundler *prepends* the Gem bindir to PATH, which breaks the
setup for any bin script that is defined by a Gem *and* by one of the packages (under bundler,
the Gem will win).

The bug IMO is that I am careful to add bun

[2015-12-02 16:47] segiddins commented on #4138
You should be using `Bundler.with_original_env` if you want access to your original environment variables

[2015-12-02 20:43] doy opened #4140 "ambiguous error message when refs are missing from a git dependency"
This is related to, but not quite the same as, #3897.

When you run `bundle install` in a project that has a dependency on a git ref, and that ref no longer exists, you get an error message like
[code]

This is pretty unhelpful, since removing the cache directory isn't actually going to fix anything in this case. A much more helpful response here would be for bundler to automatically remove the ca

[2015-12-02 21:55] pjscopeland commented on #2016
@indirect, 6 Jul 2012

Er... no. I am updating `rails` from 4.2.0 to 4.2.5, and `test_after_commit` from 0.4.0 to 0.4.2. Here are the changes to my Gemfile (minimised a bit):

[code]

And then, according to your instructions, I'm supposed to run:

[code]

So that doesn't work. If I do `bundle update rails test_after_commit`, the following gems are the ones that get upgraded. However, only the bold

[2015-12-03 01:00] segiddins commented on #4140
What version of bundler are you running? I think we might have improved this in the 1.11 beta. If not, a pull request doing so would be much appreciated :)

[2015-12-03 01:21] doy commented on #4140
This was on 1.10.6 - I'll give it a try, thanks!

[2015-12-03 22:08] pcarranza commented on #4128
A feature suggested by @smellsblue that I think makes sense: add support for setting gemstash as the mirror for all the upstreams, something like this: `bundle config mirror.all http://localhost:9292`

That would make gemstash the default server for anything, and we should just send the header to let gemstash know what are we looking for.

[2015-12-06 05:30] indirect commented on #2016
@pjscopeland you should be able to get that exact behavior today by running `bundle install --source rails`. It's a bug, but it's a useful big, and we'll make sure it keeps working until we replace it with a feature with the same behavior.

[2015-12-06 23:08] #4081 closed

[2015-12-06 23:17] indirect commented on #4136
This is not a bug in Bundler.

[2015-12-06 23:17] #4136 closed

[2015-12-06 23:18] #4115 closed

[2015-12-06 23:19] indirect commented on #4137
that is correct. the binstubs only exists to run those commands, so there is no reason to use them with bundle exec.

[2015-12-06 23:19] #4137 closed

[2015-12-06 23:20] #4138 closed

[2015-12-06 23:20] #4134 closed

[2015-12-07 11:20] doudou commented on #4137
The script I run under `bundler exec` (in this case, a Rake task) itself starts a subcommand. This subcommand ends up being run outside the bundle context, which is definitely not what I would expect.

In principle, this should work fine since the stub requires the gem, which itself is set properly. However, the gem ended up being generated with a different ruby minor version than the one running

[2015-12-07 12:03] vbklv commented on #2165
The issue persists with the latest Bundler.

[2015-12-07 19:42] indirect commented on #2165
@vbklv please follow [ISSUES](https://github.com/bundler/bundler/blob/master/ISSUES.md) m.

[2015-12-07 19:45] indirect commented on #4137
Unfortunately, Bundler cannot distinguish between your case (wanting the same Ruby despite a gem binstubs that says otherwise) and the opposite case (someone who actually wants to run a command under a different Ruby). As a result, Bundler can only honor the PATH during subcommands.

[2015-12-07 19:46] indirect commented on #4131
@krig download a copy of that .gem file and place it in /vendor/cache.

[2015-12-07 19:46] #4131 closed

[2015-12-07 19:48] indirect commented on #4121
@majewsky removing the path printed by bundle show does not uninstall the gem. Doing things Bundler doesn't support will make Bundler behave unexpectedly.

[2015-12-07 19:48] #4121 closed

[2015-12-07 19:49] indirect commented on #4121
(A specification is a file that contains gem metadata, installed by Bundler into another directory, and used to track what gems have been installed. It's not documented because it's an internal implementation detail.)

[2015-12-07 19:51] majewsky commented on #4121
I still consider it unexpected behavior that deleting a whole gemset does not upset Bundler in the slightest way, yet deleting a single gem confuses it beyond repair.

[2015-12-07 19:54] indirect commented on #4121
@majewsky I'm not sure where you got the impression that running `rm -rf` on that path would uninstall that gem, but it definitely doesn't work that way. Please install and uninstall gems using the `bundle` or `gem` commands if you want things to keep working.

[2015-12-07 20:01] #4122 closed

[2015-12-07 20:01] #4119 closed

[2015-12-07 20:03] indirect commented on #4098
Closing as "sorta worked", but feel free to let us know if you have problems later.

[2015-12-07 20:03] #4098 closed

[2015-12-07 20:06] indirect commented on #2822
@grosser don't use `gemspec` in that case. the gem spec shortcut is only for the simple case where all gems are public.

[2015-12-07 20:07] indirect commented on #4079
Closing because we can't reproduce this issue with the he given data. My guess as to why this problem is happening is that some code inside the web app has run `Dir.chdir`, and puma can no longer find the Gemfile.

[2015-12-07 20:08] #4079 closed

[2015-12-07 20:21] grosser commented on #2822
yeah that works ... but I'd love to not have to repeat all my other gems :)

[2015-12-07 20:26] segiddins commented on #2822
`gem 'Gemname', path: '.'` should also work :)

[2015-12-07 20:29] indirect commented on #2822
What @segiddins said. :) The `gemspec` shortcut acts like you _explicitly_ listed all the deps in your Gemfile, while `path .` acts like you didn't.

[2015-12-07 22:18] jonkessler commented on #3803
I hate to be a squeaky wheel here, but it would be really great if you guys could release a new bundler version with this fix. I see there's a 1.11.pre1 and 1.11.pre2, so I'm hoping the release version is coming soon.

[2015-12-07 22:23] segiddins commented on #3803
This is included in 1.11.pre.
As this was a _major_ change to dependency resolution, we couldn't ship it in a patch release.

[2015-12-07 22:51] jonkessler commented on #3803
Thanks, I just wish it could've gotten into a release in less than 4 months from when the issue was fixed. This issue is huge for us, as I mentioned.

[2015-12-07 22:56] indirect commented on #3803
@jonkessler Complaining about the speed of service you got for free isn't very cool. You're welcome to pitch in and help with releases anytime. You were also able to check out the code, run `rake install`, and start using it at any time since we merged the patch.

[2015-12-07 23:34] segiddins commented on #3803
@jonkessler I work on bundler in my spare time. Complaining about that lack of a release will make me _less_ motivated to spend time on bundler rather than more. I spent hours making that speed improvement, and it certainly doesn't benefit me at all -- complaining that I'm not releasing fast enough isn't cool.

[2015-12-08 00:17] jonkessler commented on #3803
@indirect @segiddins I appreciate that, and I truly thank you for your work on the project. It would've bothered me less personally if there was somewhere I could see the progress of releases. Is there such a place? I would love to have helped get this out, if I had had any idea of how to do so or where to even look to start.

It has been a significant time since the last minor release, though, mo

[2015-12-08 06:52] indirect commented on #3803
@jonkessler thanks, I appreciate that. The underlying point that we're both making is that you are acting entitled to our (free!) time and work.

There is no release schedule, there is only our free time. There is no "reasonable" amount of time between releases, there is only us choosing to donate our time to improve your life. Because of that, telling us that we owe you _anything at all_ is an un

[2015-12-08 18:13] jonkessler commented on #3803
@indirect I can assure you that I did not intend to demand anything, nor do I feel like I am owed anything. I was simply frustrated that it was difficult to get visibility into the release process and I wish a release could've gotten out sooner. I understand that I'm not entitled to anything, and I never said that, nor would I say that. I did not intend my statements as an indictment of your work

[2015-12-09 14:55] doudou commented on #4137
Mmmm ... I'm not sure I understand. While running "under bundler" (e.g. `bundler exec rake`), isn't it the expectation that the environment would be "the bundler environment" (that is to say, do whatever the bundler binstubs tell you to do) ?

[2015-12-09 16:57] indirect commented on #4137
If you're shelling out, you could be intending anything at all. For example, Homebrew runs under the system Ruby, and shelling out to run a brew command from your bundle exec rake should not preserve which ruby is being used.

[2015-12-09 17:08] doudou commented on #4137
Understood ... thanks !

[2015-12-10 16:13] glennpratt opened #4144 "standalone binstubs sometimes have an incorrect load path."
I have a somewhat complicated build process that uses `--standalone` and `--binstubs`.

This build process works fine on my machine, but occasionally others get broken builds (using the same version of ruby and bundler).

Trying to use a binstub, we get:

[code]

Looking in the particular binstub, `binstubs/pumactl`:

[code]

Here's a reproduction script:

https://gist.github.com/glennpratt/b039e4

[2015-12-11 05:26] sambauers commented on #3692
Just saw this issue on my local environment in an app with a lot of gems.

Got the same "No live threads left. Deadlock?" error.

Ran `bundle install --jobs=1` just once and it worked. After that I can run `bundle install` or even `bundle install --jobs=4` successfully.

I guess running single-threaded once fixes the `Gemfile.lock` file, and then after that Bundler is happy to multi-thread again.

[2015-12-11 19:44] tin315 opened #4145 "Error when trying to bundle install"
I had a permission issue that was related to xcode and command line tool so i did an update and it seem to resolved the permission issue but when i do a bundle install I get the following error:

Error details

    Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    /Users/tle/.rbenv/versions/2.1.2/bin/ruby extconf.rb
checking for rb_trap_immediate in ruby.h,rubysig.h... no
che

[2015-12-11 19:48] tin315 commented on #4145
I have:
 - clear all issues with brew doctor
 - Uninstall and reinstall bundler
 - unlink and link openssl and qt5
 - installed libv8
 - installed therubyracer

[2015-12-12 00:56] rgb-one commented on #4145
You may find this [Stack Overflow link][] useful for you:
This link also has some useful information: https://github.com/eventmachine/eventmachine/issues/602

[Stack Overflow link]:http://stackoverflow.com/questions/30818391/gem-eventmachine-fatal-error-openssl-ssl-h-file-not-found

[2015-12-12 01:07] rgb-one commented on #4096
How many times did you try this?

[2015-12-12 10:23] deivid-rodriguez commented on #4096
I don't remember. How is that possibly relevant?

[2015-12-12 10:46] indirect commented on #4096
@deivid-rodriguez for the record, Bundler does not officially support lock files across platforms (i.e. between Windows, java, and *nix). Because gems can have completely different dependencies on different platforms, it's not even really possible to create a lock that makes sense on one platform and have it apply on another platform.

We're interested in improving this in the future, but for righ

[2015-12-12 10:55] deivid-rodriguez commented on #4096
@indirect Thanks for that information. Should I close this and reopen if you ever officially support this?

Supporting this officially seems definitely possible since it works already! I've been using this for months and this is the only minor problem I've found. By the way, this got solved when I started using a later reference for `activerecord-jdbcpostgresql-adapter`.

[2015-12-12 11:46] bbuchalter commented on #3803
@indirect thanks for your work. I've just signed up to make a contribution to RubyTogether following a watch of https://www.youtube.com/watch?v=4DqzaqeeMgY, reading the changelog and seeing casual mention of a 25x speedup! Thanks for your contributions.

[2015-12-12 12:21] indirect commented on #3803
@bbuchalter 💖

[2015-12-12 12:22] indirect commented on #4096
@deivid-rodriguez I'm glad you were able to get it working! As you've noticed, it already works in the easy case... the problem is that in the hard case there doesn't seem to be anything that can be done besides keeping separate lock files.

[2015-12-12 12:22] #4096 closed

[2015-12-12 13:13] deivid-rodriguez commented on #4096
@indirect Not sure what we call "the hard case" here but I've been using this with very different bundler features as you can see in the sample `Gemfile` I posted.

Anyways, I'd like to ask a question. What's exactly not officially supported? At first I assumed it was specifying the ruby version dinamically like I'm doing, but after rereading your messages I understand that things like the `platfo

[2015-12-12 14:14] rgb-one commented on #4094
I just tested it on master. When I run it the options `--no-coc`, `--no-mit` seem to be ignored as I am still prompted as to whether or not I would like to add a Code of Conduct and an MIT licence file. I would think that those two prompts would be bypassed and only the testing prompt would show but that's not the case; I get all three prompts.

Here is the input/output:
[code]

[2015-12-13 03:30] user453584 opened #4146 "Exclamation marks (!) in Gemfile.lock causing error"
Just updated to version v1.11.0, and immediately my dependencies in `Gemfile.lock` all had exclamations marks added to the end, causing the following error on the production server:

What changed in this latest version that would cause this issue?

[2015-12-13 03:49] segiddins commented on #4146
What is the output of `bundle env`?

[2015-12-13 04:07] lukemelia opened #4147 "LazySpecification has not been materialized yet (calling :required_ruby_version [])"
- What did you do?

  I updated bundler to 1.11.0 and got an error running `bundle install`: `Your Gemfile.lock is corrupt. The following gem is missing from the DEPENDENCIES section: 'ruby_gntp'`. I then ran the command `/Users/lmelia/.rvm/gems/ruby-2.1.6@yapp/bin/bundle update terminal-notifier-guard`

- What did you expect to happen?

  I hoped this was related to the error and updating the dep

[2015-12-13 04:41] indirect commented on #4147
Can you also supply the output from `bundle env`, or a script that allows us to reproduce this? Thanks!

[2015-12-13 04:59] lukemelia commented on #4147
Output of `bundle env`:

➜  yapp-server git:(reenable-renewal-fix) bundle env
Environment

    Bundler   1.11.0
    Rubygems  2.4.7
    Ruby      2.1.6p336 (2015-04-13 revision 50298) [x86_64-darwin14.0]
    GEM_HOME  /Users/lmelia/.rvm/gems/ruby-2.1.6@yapp
    GEM_PATH  /Users/lmelia/.rvm/gems/ruby-2.1.6@yapp:/Users/lmelia/.rvm/gems/ruby-2.1.6@global
    RVM       1.26.11 (master)
    Git       2

[2015-12-13 06:39] rdberman commented on #4147
Same thing just happened to me with Bundler 1.11.0.  Hope it can be fixed soon.

[2015-12-13 06:43] indirect commented on #4147
We're definitely going to try to fix this ASAP. In the meantime, Bundler 1.10 still works. :)

[2015-12-13 07:29] petergoldstein opened #4149 "Psych is double-loaded unless it's in the Gemfile (redux)"
With the latest bundler (1.11.0) and rubygems (2.5.1) on MRI Ruby 2.2.3 I'm seeing the reappearance of the issues noted in #2068 and #2269 .  I'm able to reproduce exactly the set of steps @tenderlove demonstrates in his description of #2068, with the only difference being that my Psych version is 2.0.16.

Rolling back bundler to 1.10.6 or adding Psych explicitly to my Gemfile fixes the issue.  So

[2015-12-13 07:32] rdberman commented on #4147
Thanks, that is what I did.  You are awesome for contributing to open source!

[2015-12-13 07:35] Eric-Guo opened #4150 "Bundler 1.11.0 break rspec on Windows (only windows), because #4114"
It's very strange, but I can isolate problem to bundler, #4114

[code]

[2015-12-13 09:00] yingmujianer opened #4151 "bundle install fail"
hello,I'm here： https://gist.github.com/mjhea0/b6b58eefc38985380ff9
Install Huginn's dependencies
After using the command, detailed error：
[code]

[2015-12-13 09:04] ximus commented on #4147
i believe the problematic commit is https://github.com/bundler/bundler/commit/e36a75bc40ce5dfb49cb4d8bdcb5b5afc66137f4

and line: https://github.com/bundler/bundler/commit/e36a75bc40ce5dfb49cb4d8bdcb5b5afc66137f4#diff-a068dff3f4ba60cbf2c11bc4e65eed02R133

[2015-12-13 09:25] ximus commented on #4147
I wrote about my experience with this issue here: http://irclog.whitequark.org/bundler/2015-12-13
I'm not able to consistently reproduce the error as i describe it here ^^, however toggling the ruby dep in my app's Gemfile gets me past the problem.

[2015-12-13 10:32] indirect commented on #4151
Can you try this with Bundler 1.10? Run `gem uninstall bundler` and then `gem install bundler -v "~> 1.10.0"` and try again.

[2015-12-13 12:19] indirect commented on #4149
Thanks for reporting this! I just fixed it, and added a test that will hopefully keep it from ever cropping up again.

[2015-12-13 12:22] indirect commented on #4150
@smellsblue dang, looks like we're excluding Windows even when it's MRI and we should be including it?

[2015-12-13 12:30] londoh commented on #4147
also hit this problem with bundler 1.11.0

as something of a ruby-nuby I'm not at all sure why or how to figure out why.

but I followed ximus' lead and took out the ruby dep which got things running again

[2015-12-13 13:09] indirect commented on #4147
Oof, thanks for pointing this out. I've pushed a tentative fix, and I'm working on a spec.

[2015-12-13 13:10] kematzy commented on #4147
Same problem here after updating bundler to v1.11.0.

@ximus suggestion of commenting out the ruby dependency fixed the issue, but not really ideal as ruby version is required for Heroku.

Here's my error report in case it helps.

[code]

[2015-12-13 13:12] xxxazxxx commented on #4147
+1

[2015-12-13 13:31] Eric-Guo commented on #4151
@yingmujianer suggest install ruby and running all code in `C:` instead of any other drive, because both Mac and Linux have no concept of drive, so many place can cause unexpected problem like above.

[2015-12-13 13:34] Eric-Guo commented on #4150
I can not work out a more proper fix, but if I revert #4114, at least can fix this problem...

[2015-12-13 14:02] SuriyaaKudoIsc commented on #4147
I found a way to solve the error on Windows:
[code]

Then run in your project:
[code]

[2015-12-13 15:34] Sega100500 opened #4153 "After install Bundler 1.11.0 rails app fail"
gem update
bundler 1.11.0

in rails app
bundle upate

[code]

[2015-12-13 15:40] indirect opened #4154 "Skip retries for known failures"
When making a network request, Net::HTTP::NotFound is never going to spontaneously start working on retry. Likewise TooManyRedirects, Forbidden, and probably others I'm not thinking of. We should not retry those responses.

[2015-12-13 16:46] rdberman commented on #4147
Thanks!

[2015-12-13 18:28] octile commented on #4147
Same here after adding `puma` to the `Gemfile` and running `bundle install` on OS X 10.11.2:

[code]
[code]

[2015-12-13 21:50] artemas commented on #4147
The same issue
[code]

[2015-12-13 23:03] thehybridtechnician commented on #4153
+1 - Just did fresh 2.2.3 Ruby install/ Rails 4.2.5 and had this occur.  Reverted to bundler 1.10.6 and everthing worked fine.

[2015-12-14 07:47] alexdowad opened #4157 "`bundle install` doesn't install runtime dependencies from gemspec on JRuby"
...And here is why. The story begins innocently in `dsl.rb`, line 63:

[code]

Fair enough. We want to install all the runtime dependencies for the gem defined in the gemspec. Rather than adding them all explicitly, we just add a dependency on the gem itself. BUT! Look at the last part of that line...

[code]

What will that return if the gem author didn't specify a platform in the gemspec? To ans

[2015-12-14 08:23] knightq commented on #4147
Same issue here:

    Environment

        Bundler   1.11.0
        Rubygems  2.4.5.1
        Ruby      2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14]
        Git       2.6.4

[2015-12-14 12:28] Rosie-Brigham commented on #4147
Hey chaps,

quick workaround:
I'm setting the bundler version in circle/yml to 1.10.6 until the latest release has been patched like so:

[code]

[2015-12-14 12:34] janost opened #4158 "bundle package --all is broken in bundler 1.11.0"
- What did you do?
  I ran the command `/usr/local/bin/bundle package --all`

- What did you expect to happen?
  I expected `bundle package --all` to work.

- What happened instead?
  Instead, the command seems to create vendor/cache/PROJECTNAME/vendor/cache/PROJECTNAME/... in and endless loop until the file system permits.

[code]

[2015-12-14 13:58] Kris-LIBIS commented on #4157
I'm not familiar with Bundler code, so I'll skip commenting on the fix you propose. I do want to upvote this issue as it breaks any travis jruby build for pure ruby gems that do not specify a platform by definition. Could you at least please revoke the released gem until this is fixed? All my travis builds are failing right now because of this, unless I start adding the runtime gems to the Gemfile

[2015-12-14 14:10] unn commented on #4158
Just slammed into this myself while testing our build process with the new version of bundler.

[2015-12-14 14:37] luiscarlosplataforma commented on #4147
I have the same problem

Environment

    Bundler   1.11.0
    Rubygems  2.1.11
    Ruby      2.0.0p353 (2013-11-22 revision 43784) [x86_64-linux]
    RVM       1.24.8 (stable)
    Git       1.7.1
    rubygems-bundler (1.4.2)

I uninstalled the 1.11.0 bundler version and now it's solved

[2015-12-14 15:11] jmeridth commented on #4147
Same problem, downgrding to `1.10.6` fixed the problem:

on circleci added

[code]

under `dependencies, pre`

[code]

[2015-12-14 15:55] bandrews-spirent commented on #4147
+1

[2015-12-14 16:03] shaorong-zhu commented on #4147
Same thing happened here:
23:03:39 Error details
23:03:39
23:03:39     RuntimeError: LazySpecification has not been materialized yet (calling :required_ruby_version [])
23:03:39       /opt/jruby-1.7.8/lib/ruby/gems/shared/gems/bundler-1.11.0/lib/bundler/lazy_specification.rb:75:in `method_missing'
23:03:39       /opt/jruby-1.7.8/lib/ruby/gems/shared/gems/bundler-1.11.0/lib/bundler/resolver.rb:132:

[2015-12-14 16:52] afogel commented on #4147
+1, thanks guys!

[2015-12-14 16:55] SuriyaaKudoIsc commented on #4147
This works only for Windows with no problems!

[code]

[code]

[2015-12-14 17:03] kobaltz commented on #4158
I ran into this issue as well. I resolved it by specifying the ruby version in my Gemfile

ruby '2.2.4'

[2015-12-14 17:27] Aethelflaed commented on #4147
@SuriyaaKudoIsc this also fix my problem on Linux, so don't say "only for Windows" ;)

[2015-12-14 17:36] marinhero commented on #4147
+1. Fixed on Heroku using @SuriyaaKudoIsc tip. Thanks!

[2015-12-14 17:41] PWKad commented on #4147
+1 for uninstalling and reinstalling v 1.10.6 on mac

[2015-12-14 17:45] EmilienM commented on #4149
@indirect could we have a release including this change as soon as possible?

[2015-12-14 18:19] tin315 commented on #4145
I tried both those and still not working for memake "DESTDIR="
compiling binder.cpp
In file included from binder.cpp:20:
./project.h:107:10: fatal error: 'openssl/ssl.h' file not found
#include <openssl/ssl.h>
   ^
1 error generated.
make: *** [binder.o] Error 1

make failed, exit code 2

[2015-12-14 18:45] rgb-one commented on #4145
Did you look over **all** the suggestions in those two links?

[2015-12-14 18:46] SuriyaaKudoIsc commented on #4147
:+1: Thanks guys for your replies. :smile:

[2015-12-14 19:02] tin315 commented on #4145
yes, I tried all the suggestion before and ran through them again, it still didn't work.

[2015-12-14 19:03] segiddins commented on #4157
We don't yank gems. In the meantime, you're more than welcome to use 1.10.6. We had over two weeks of prereleases where nobody reported any issues, so be patient as we work to fix this in our spare time.

[2015-12-14 19:04] segiddins commented on #4158
Thanks for the bug report! Well try and debug unless someone beats us to making a PR with a fix.

[2015-12-14 19:05] segiddins commented on #4149
@EmilienM asking for releases doesn't speed up the release schedule. We'll put out a new bug fix release when we're able to. In the meantime, 1.10.6 works just fine.

[2015-12-14 19:06] rgb-one commented on #4145
Well, get hold of a linux VM, that may solve your problem.

[2015-12-14 19:08] EmilienM commented on #4149
@segiddins I'm asking because this release is broken and a lot of downstream CIs are broken too. I'm working on OpenStack project and we run a CI that always uses the latest bundler release. The latest is broken so we have to pin a previous one (which is weird to me, isn't?).
So I think you should provide a release soon if you want to keep your users happy.

[2015-12-14 19:14] tin315 commented on #4145
I uninstalled all ruby versions and started over and it worked.
had several gems that had
"ERROR: Failed to build gem native extension."
Installed xcode and command line tools again which resolved that
a bit of a pain but was able to get through it

[2015-12-14 19:14] #4145 closed

[2015-12-14 19:27] segiddins commented on #4149
@EmilienM I work on bundler in my spare time. I took time out of my vacation to do this release, which followed two weeks of prereleases in which we received literally 0 error reports. Making demands discourages me from putting more of my free time into bundler, and certainly won't make a release happen sooner.

[2015-12-14 19:30] Timo614 commented on #4147
[code]

Fixed it for travis for me downgrading to 1.10.0

[2015-12-14 19:33] EmilienM commented on #4149
@segiddins Making demands is actually free feedback from your users of the project in which you're spending your free time on; that's something valuable for you and you might want to take it in account.
I'm sorry if you're took time during your vacations, that's something I can't really help with. But I'm raising here something that a ton of users are facing now, with this new (broken) release.

O

[2015-12-14 19:35] jrafanie commented on #4149
@EmilienM is it easy for you to add `--pre` to your CI so you can install pre-release bundlers and help report these issues earlier?  http://guides.rubygems.org/patterns/#prerelease-gems

[2015-12-14 19:42] EmilienM commented on #4149
@jrafanie to make OpenStack CI unstable? No, thank you. That's definitely not Puppet OpenStack modules mission statement. I would rather try to figure how this patch could have been merged in bundler and pass Travis CI.

[2015-12-14 19:49] chrisarcand commented on #4149
@EmilienM I think @jrafanie was referring to the future general case, not just this particular issue :) Certainly not a good thing to do at this very moment. Understandable if it can't be done regardless, though.

[2015-12-14 19:49] RochesterinNYC commented on #4158
@segiddins I've been working on a PR for this but I'm a bit stuck.

It seems that the issue is that in `Bundler::Runtime#cache`, when we try to cache each specification, in packaging a gem, the gem tries to cache itself. This results in the following line in `Bundler::Source::Path#cache` being called:
[code]
This tries to copy all the contents of the current directory `.` (which is the directory o

[2015-12-14 19:53] indirect commented on #4149
@EmilienM There wasn't a test that covered the specific case of requiring psych after setting up a Gemfile that didn't include psych. There is a test now.

Your demands that we do free work for you whenever is most convenient for you are quite rude. The only way we could have discovered and fixed this sooner is if you used prereleases, which you also just refused to do.

We'll release as soon as w

[2015-12-14 20:02] EmilienM commented on #4149
@indirect I'm not sure I violated any code of conduct. This is an Open-Source project, you might want to hear from your users (happy or not).
Because this project is managed by people working on their free time is not a good reason to forbid people to give thoughts and asking for a release when it's really relevant (like here, latest release is just broken).

Again, we pinned our CI so we don't ha

[2015-12-14 20:06] alexdowad commented on #4157
@segiddins, I'm happy to write and test the fix, but I'd like to hear what you think of the proposed 3 possible approaches above.

[2015-12-14 20:10] jmeridth commented on #4147
@Timo614 I had to do the following on circleci for uninstall if 1.11.0 wasn't there already:

`- if $(gem list bundler -v 1.11.0 -i); then gem uninstall -x -i /home/ubuntu/.rvm/gems/ruby-2.2.3@global bundler -v 1.11.0; fi`

will prevent any errors. hope this helps.

[2015-12-14 20:20] indirect commented on #4149
@EmilienM since this is apparently a surprise to you: you don't get to decide whether you violated the code of conduct or not. By the same token, you don't get to decide whether you're being respectful or not.

It's not okay to say "you should provide a release soon if you want to keep your users happy", because that means you are telling us what to do (not cool), telling us when to do it (also no

[2015-12-14 20:28] EmilienM commented on #4149
@indirect Please explain me what in the code of Conduct (https://github.com/bundler/bundler/blob/master/CODE_OF_CONDUCT.md) I did wrong, specially from harassment list:
"offensive verbal comments related to level of experience, gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, ethnicity, age, religion, nationality, the use of sexualized l

[2015-12-14 20:38] indirect commented on #4149
@EmilienM I just explained exactly what was problematic about what you said, and exactly how to ask without being demanding or rude. You ignored my explanation and tried to say again that we "refuse requests from users". We're done here.

[2015-12-14 21:12] AlexCppns opened #4159 "Problem with bundler on ruby 2.2.3"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

    project-dir $ bundle

- What did you expect to happen?

  I expected Bundler to... bundle the application

- What happened instead?

  Instead, what actually happened was... see below

Error details

    RuntimeError: LazySpecification has not been materialized yet (calling :required_ruby_vers

[2015-12-14 21:40] segiddins commented on #4157
We've actually backed out this change on stable already and @indirect is working on a fix as we speak!

[2015-12-14 21:54] edbond commented on #4147
Same issue. Why did they publish new version without a simple testing?

[2015-12-14 22:00] markiz commented on #4159
Same thing happens on me while trying to install a local gem via path: source. I've also noticed that removing "ruby 2.2.1" line from Gemfile helped.

[2015-12-14 22:36] el3ctro- commented on #4159
Installing Bundler 1.11.0 gives me the error:
/Users/el3ctro/.rvm/gems/ruby-2.2.1@myapp/gems/bundler-1.11.0/lib/bundler/lazy_specification.rb:75:in `method_missing': LazySpecification has not been materialized yet (calling :required_ruby_version []) (RuntimeError)

[2015-12-14 22:45] davesag commented on #4159
This just started to happen to me this morning. `ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14]`

[2015-12-14 22:48] davesag commented on #4147
I also found removing the `ruby 2.2.3` line from my Gemfile fixed the problem.

[2015-12-14 22:50] jsmartt commented on #4153
+1 Similar problems with my Rails app when deploying with Capistrano & [rvm1-capistrano3](https://github.com/rvm/rvm1-capistrano3).
Mine complained about the $GEM_HOME and/or $GEM_PATH not being set and referred me to [this](https://github.com/wayneeseguin/rvm/issues/3212) rvm issue.

I'm running rvm 1.26.11 and ruby ruby 2.1.4p265 and here's a short output of my error message:

[code]

Reverted t

[2015-12-14 22:53] nvreynolds commented on #4147
gem uninstall bundler --version '1.11.0'  :+1:

1.10.6 is stable for my purposes for now

[2015-12-14 23:08] agross commented on #4150
I'm seeing a similar (?) problem with bundler 1.11.0 on Windows: Runtime dependencies defined in a gemspec won't be added to the `$LOAD_PATH`

[code]

[2015-12-14 23:12] segiddins commented on #4147
@edbond comments like that are meanspirited and uncalled for. We did add tests, made PRs in the open for anyone to provide feedback on, and had two weeks of prereleases where nobody reported any issues.

[2015-12-14 23:28] octile commented on #4147
`rm Gemfile.lock && bundle install` also resolved the problem for me.

[2015-12-14 23:30] mattolson commented on #4159
:+1: Happening to me too all of the sudden

[2015-12-15 00:59] jkutner commented on #4157
@segiddins @indirect thanks for getting on this so quickly! it's awesome that jruby users can rely on bundler to work. this is the first problem I've had in a very long time <3 <3

[2015-12-15 01:21] paddor opened #4162 "Bundler ignores local gem, even though declared in config"
I'm working on a ruby gem which depends on another gem that I develop simultaneously on my machine. So I used `bundle config --local local.czmq-ffi-gen $HOME/src/ruby/czmq-ffi-gen` a few days ago and it worked perfectly.

Unfortunately, it stopped working and I can't figure out why. No matter what I do, whether I set the config locally (in the depending git repository) or user-wide in ~/.bundle/co

[2015-12-15 01:55] smellsblue commented on #4150
I think this is failing because of: https://github.com/bundler/bundler/blob/4b7a940f668d1884d9266946a48ba55a80c4d513/lib/bundler/dsl.rb#L63:
`gem spec.name, :path => path, :glob => glob, :platforms => Bundler::Dependency::REVERSE_PLATFORM_MAP[spec.platform]`

For #4102, `spec.platform` was returning the Java platform (I was setting it that way in my gemspec).

However, for the case of the `wechat`

[2015-12-15 02:03] calvinrachuy commented on #4147
Thanks for the suggestion to user 1.10

[2015-12-15 03:24] andresabraz opened #4163 "Errno::EPROTO: Protocol error @ dir_s_mkdir"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/vagrant/.rbenv/versions/2.2.3/bin/bundle install --path`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EPROTO: Protocol error @ dir_s_mkdir - /vagrant/projects/

[2015-12-15 04:42] remi-gelinas opened #4164 "Bundler gem release error"
- What command did you try to run?

`bundle exec rake release`

- What did you expect to happen?

I expected Bundler to release my gem, updating the version and pushing it to GitHub and Rubygems.

- What actually happened?

Bundler crashed immediately with this stack trace:

[code]

- What is your `bundler env`?

[code]

[2015-12-15 05:08] taggaddaaaa commented on #4159
i removed "ruby 2.2.1" from gemfile and IT WORKED thank you so much markiz!! Was stuck since 2 hours!

[2015-12-15 07:53] SuriyaaKudoIsc commented on #4147
Read http://stackoverflow.com/a/34252157/5157221.

[2015-12-15 07:56] edbond commented on #4147
@segiddins Sorry Samuel, I thought it didn't work for any Gemfile. Maybe you need a test that runs 'bundle install' for selected Gemfiles to see it completes successful. This is the way most users use bundler.

[2015-12-15 08:01] segiddins commented on #4147
@edbond we already have thousands of those tests. If you'd like to contribute more test cases, pull requests are welcome!

[2015-12-15 08:59] #4158 closed

[2015-12-15 09:24] Kris-LIBIS commented on #4157
@segiddins don't get me wrong. I do appreciate the hard work you put into this marvelous gem and I have been relying on it for quite a few years now without a problem. As for using the older version, I'm not sure if we have that option on Travis and I think they skipped the pre-release versions because the problem appeared only a couple of days ago.

To be honest I did panic a bit as I did not hav

[2015-12-15 11:46] Fryie commented on #4147
@indirect your commit (https://github.com/bundler/bundler/commit/d62cd93131b2dda47e498f3c6b7d4edc25ff1840) says it "fixes" this issue, but at least in my case it doesn't. The problem really happens somewhere else, namely here: https://github.com/bundler/bundler/blob/d62cd93131b2dda47e498f3c6b7d4edc25ff1840/lib/bundler/lazy_specification.rb#L75

I want to thank the Bundler team for creating a (in m

[2015-12-15 13:34] rrooding commented on #4164
It looks like this was fixed in 1.11.1 which was just released. See #4149

[2015-12-15 13:54] mupkoo commented on #4164
I have the same problem using `1.11.1` and trying to update `rails` via `bundle update rails`

Error details

    RuntimeError: LazySpecification has not been materialized yet (calling :required_ruby_version [])
      /Users/Mupko/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/bundler-1.11.1/lib/bundler/lazy_specification.rb:75:in `method_missing'
      /Users/Mupko/.rbenv/versions/2.2.3/lib/ruby/

[2015-12-15 15:11] fschwan opened #4165 "1.11.0/1.11.1 rails generate controller fails"
reproduction:
ruby: 2.2.3p173
bundler: 1.11.1

[code]
Overwrite Gemfile? -> Yes
[code]
leads to:
[code]

Fix:
Downgrade to 1.10.6

[2015-12-15 19:44] segiddins commented on #4147
@Fryie if you're still seeing issues, please open a new issue with steps to reproduce.

[2015-12-15 19:45] segiddins commented on #4165
What's the output of `bundle env`? This might be due to a bug in RubyGems itself that was fixed in 2.5.1.

[2015-12-15 19:48] Fryie commented on #4147
@segiddins Sorry, I really don't understand. This is the *exact* same issue. Why should I open a new one? I'm not sure how the commit in question is actually supposed to fix this issue, as it seems to me it touches an entirely different piece of code? (Not to say that it is impossible, given that the error arises from an instance variable not having been initialized, but I can't see any direct con

[2015-12-15 20:16] wilgoszpl commented on #4147
`rm Gemfile.lock`
`bundle install `
worked for me

[2015-12-15 20:20] Fryie commented on #4147
I can confirm that the above (removing Gemfile.lock) works, but obviously this defeats the purpose of a lockfile. What also works (in my case):

- removing the ruby version specification
- switching the rubygems source from https to http

mysterious. I'm trying to reproduce this by creating an appropriate repo, but I haven't succeeded so far.

[2015-12-15 20:36] fschwan commented on #4165
Here we go
[code]

[2015-12-15 20:45] Fryie commented on #4147
Here's a repository that reproduces the issue at least on my machine:
https://github.com/Fryie/bundler_lazy_specification_issue

Tested with ruby 2.0.0-p598 (ruby-install) with bundler v. 1.11.1. Using 1.10.6 works.

Trying to put together a docker image to see if this also happens on other machines / to make this even more reproducible.

[2015-12-15 22:07] jameschan1 commented on #4147
Downgrading bundler to 1.10.6 worked for me.

[2015-12-15 22:32] scriptmonkey commented on #4147
@wilgoszpl, that worked for me!  Thank you.

[2015-12-15 22:55] smellsblue commented on #4150
@Eric-Guo and @agross would you mind trying out my branch?

https://github.com/smellsblue/bundler/tree/restrict-gemspec-platforms-without-breaking-windows

I think this branch will fix both my original problem and these problems I created (sorry for the trouble!). I attempted to run `rake` for `wechat` and `bundle exec rspec` for `rake-funnel`. I got the same failures, and then saw them go away wi

[2015-12-15 23:25] smellsblue commented on #4157
@alexdowad @Kris-LIBIS @jkutner sorry! This was my bad, attempting to fix #4102. I think this will be fixed with my changes in #4166, and I just added a spec to that branch to cover this case as well.

[2015-12-15 23:30] galori commented on #4147
Is bundler 1.11.1 supposed to fix the problem?

Because it doesn't for us, we're still seeing this issue.

[2015-12-16 00:13] indirect commented on #4147
@galori thanks for pointing that out. I screwed up the fix. :/

The actual working fix for this exception shipped in Bundler 1.11.2! You can upgrade with `gem install bundler`.

[2015-12-16 00:13] #4147 closed

[2015-12-16 01:35] Eric-Guo commented on #4150
@smellsblue Confirm it works at branch [restrict-gemspec-platforms-without-breaking-windows](https://github.com/smellsblue/bundler/tree/restrict-gemspec-platforms-without-breaking-windows), I also want to testing it at current master, but found a lot of conflicts, so .... decide relay on your do the rebase. :smile:

[2015-12-16 02:17] Fryie commented on #4147
thanks @indirect for the fix (can confirm it works for me).

Could https://github.com/Fryie/bundler_lazy_specification_issue maybe be of help in writing a spec for this? I don't understand anything about Bundler's internals, so while I was able to reproduce it by basically pulling out the Gemfile out of my project, I'm not able to distill it into a "minimal failing example".

One reason this might

[2015-12-16 02:36] #4140 closed

[2015-12-16 02:55] #4150 closed

[2015-12-16 04:55] jmeridth commented on #4147
@indirect confirmed, 1.11.2 works for me.  :beers:

[2015-12-16 05:53] Sega100500 commented on #4153
updated to 1.11.2
all work
Thanks!

[2015-12-16 05:53] #4153 closed

[2015-12-16 14:28] fschwan commented on #4165
Still the same problem with 1.11.2

[2015-12-16 14:57] jikamens commented on #4147
Still getting this error with bundler 1.11.2:

[code]

[2015-12-16 15:51] rgb-one commented on #4094
Working on master.

[2015-12-16 16:13] ojab commented on #4165
Same here.
Actually spring loading fails, so all `bundle exec rails` commands will fail by default, disabling spring (via `export DISABLE_SPRING=y` for example) can be used as another one workaround.

[2015-12-16 16:28] ojab commented on #4165
`git bisect` told me that
[code]

[2015-12-16 16:45] ojab commented on #4165
Looks like spring bug for me, issue filled https://github.com/rails/spring/issues/456 and PR is already exists https://github.com/rails/spring/pull/453.

[2015-12-16 17:40] agross commented on #4150
:+1: Thanks!

[2015-12-16 17:44] joallard commented on #2778
@parabuzzle Any progress?

[2015-12-16 17:57] parabuzzle commented on #2778
@joallard work got in the way :disappointed:  so no

[2015-12-16 18:32] RochesterinNYC commented on #4094
@rgb-one Is this reopened because it's not working on master/the latest release?

[2015-12-16 19:30] rgb-one commented on #4094
@RochesterinNYC Yea. It seems this hasn't reached master yet.

[2015-12-16 19:32] rgb-one commented on #4094
Closed accidentally just now :p

[2015-12-16 19:42] RochesterinNYC commented on #4094
Hm, this is on master according to the following: https://github.com/bundler/bundler/commit/6c18c55406e386c6b9d591b589360face9211096 ?
Maybe I don't understand the release flow for Bundler?

[2015-12-16 19:44] rgb-one commented on #4094
Have a go yourself.I tried `bundle gem my_gem --no-coc --no-mit` and still got prompted if I wanted to use a CODE_OF_CONDUCT or licence file.

[2015-12-16 19:59] rgb-one commented on #4094
The way it seems to works is that when you are prompted for the first time with the 3 choices (COC, MIT, test framework) your reply is logged in the `.bundler/config` file. So if I reply no to the CODE_OF_CONDUCT.md, no to the LICENCE.txt and no to the test framework, these options are stored in the `.bundler/config` as:
[code]

These setting persist after creating my_gem so `bundle gem` will crea

[2015-12-16 20:11] gearoidoceallaigh commented on #4147
+1 on 1.11.2 fixing a similar problem (upgrading the selenium-webdriver gem)

[2015-12-16 21:10] RochesterinNYC commented on #4094
Oh okay, gotcha, so the behavior that my PR fixed was that the --no-coc and --no-mit flags were completely ignored and did not work at all. They were being overridden by the default configs set by the first time the user answers those prompts. The behavior now is that if you have your `.bundler/config` settings set, `--no-coc` and/or `--no-mit` will override those settings for the execution of tha

[2015-12-16 22:31] rgb-one commented on #4094
I actually wasn't trying to make a point. The intention was to state my observations with the idea that it bring about some clarity on what was going on in case something was missed. But yea, what you said about the user not being prompted for the `CODE_OF_CONDUCT.md`, or the `LICENCE.txt` when running `--no-coc` or `--no-mit` for the first time sounds good. However, this poses a few issues. This

[2015-12-17 00:35] RochesterinNYC commented on #4094
@indirect @segiddins so what is the desired user behavior/story here regarding the `mit`, `coc`, and `test` flags interfacing with the configuring default settings prompts?

Do we want to have `--no-coc`, `--no-mit`, `--mit`, and `--no-mit` override any "ask the user for default configs" behavior and only prompt them for a `mit`, `coc`, or `test` setting if both there are no default settings and t

[2015-12-17 00:36] RochesterinNYC commented on #4094
Ah gotcha, understood.

@indirect @segiddins so what is the desired user behavior/story here regarding the `mit`, `coc`, and `test` flags interfacing with the configuring default settings prompts?

Do we want to have `--no-coc`, `--no-mit`, `--mit`, and `--no-mit` override any "ask the user for default configs" behavior and only prompt them for a `mit`, `coc`, or `test` setting if both there are n

[2015-12-17 01:06] smellsblue commented on #4150
@Eric-Guo thanks so much! Yeah, I'll help get it to `1-11-stable` if they plan to release it to 1.11 :-)

[2015-12-17 03:23] PirunSeng commented on #4147
Same issue with my bundler 1.11.0
Fixed by update to 1.11.2

[2015-12-17 09:37] assafshomer commented on #4147
yes, same here
`gem update bundler`
did the trick

[2015-12-17 14:24] oka-haist opened #4170 "Permission denied @ unlink_internal"
- What did you do?

  I ran the command `/usr/local/bin/bundle clean --force`

- What did you expect to happen?

  I expected Bundler to remove all the gems from my system

- What happened instead?

  Instead, it removed a few and stopped. Can't go on with bundle clean

Error details

    Errno::EACCES: Permission denied @ unlink_internal - /usr/local/lib/ruby/gems/2.2.0/cache/sdoc-0.4.1.gem

[2015-12-17 16:56] segiddins commented on #4170
Thanks for the error report! At the very least, this should fail with a friendly error.

[2015-12-17 18:29] RochesterinNYC commented on #4170
@segiddins What is the desired end behavior regarding this?

Would the command stop and fail on trying to remove a file/directory you don't have permission for and output a more helpful error message?

vs.

Would the command print a helpful error message for that instance of deletion, and then keep going and attempting to delete the other files/directories it's supposed to delete?

[2015-12-17 18:50] segiddins commented on #4170
@RochesterinNYC just using `SharedHelpers.filesystem_access` in `clean` for now should suffice

[2015-12-17 19:00] grosser commented on #4159
fixed in 1.11.2

[2015-12-17 19:13] segiddins commented on #4159
@AlexCppns can you verify that 1.11.2 fixes things for you? Thanks!

[2015-12-17 19:22] Vivalldi opened #4171 "Gemfile.lock is corrupt - Capistrano deploy"
Having added the Capistrano gem and setting up as I have many times before I go to deploy capistrano and I get the `Your Gemfile.lock is corrupt` and missing dependencies. I'm fairly new at understanding the backside bundler so any help is much appreciated.

The following is the error created by Capistrano.
[code]

bundle env output
[code]

[2015-12-18 07:19] RochesterinNYC commented on #4170
Gotcha, thanks for the point in the right direction.

[2015-12-18 15:29] jekaterina1 opened #4174 "Issue"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `C:/Ruby/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::ENOENT: No such file or directory - git clone "git://github.com/gregbell/active_admin.git" "

[2015-12-18 22:25] KeithYJohnson commented on #3692
Just saw this issue.  1.11.2 was returning "Your Gemfile.lock is corrupt. The following gem is missing from the DEPENDENCIES section: 'GeoRuby'" even though that gem was in the dependencies sections.  So I trying bundling with 1.10.6 and then this happened.

--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command ``bundle _1.10.6_ i

[2015-12-19 15:41] joequant opened #4175 "gemspec contains a -z arg for find which breaks builds on linux"
The gemspec for bundler contains a find command with a -z argument which causes the rebuild of the gem to break on linux.

[2015-12-19 17:11] segiddins commented on #4175
What version of git are you running?

[2015-12-19 17:25] rgb-one commented on #4174
The problem is you don't have `git` installed. It can be installed from here: http://git-scm.com/download/

[2015-12-19 17:28] jekaterina1 commented on #4174
Problem solved, thanks!

[2015-12-19 17:40] rgb-one commented on #4174
:)

[2015-12-19 17:40] #4174 closed

[2015-12-19 17:52] rgb-one commented on #4163
The directory you ran bundler in, did you clone it from the guest (vagrant VM) or the host system? If it was cloned from the host then that may be the problem. Clone the directory in the vagrant VM and run `bundle install --path` again from the vagrant VM. The idea is to give the vagrant VM full access to the directory so.

[2015-12-19 18:14] joequant commented on #4175
2.6.4 but the problem seems to be in the ruby.gemspec

[2015-12-19 18:32] segiddins commented on #4175
What ruby.gemspec? There is only bundler.gemspec...

[2015-12-19 19:41] rgb-one commented on #2910
I made one amendment to your reproduction script, ie. I replaced `mingw` with `x64_mingw` and it works now. This is pretty old so maybe the issue got fixed since this was posted, or maybe the change I made did it, I don't know.

[2015-12-19 19:41] #2910 closed

[2015-12-19 19:50] rgb-one commented on #2588
Closing this due to lack of a reply.

[2015-12-19 19:50] #2588 closed

[2015-12-19 19:54] rgb-one commented on #4151
Install git. And the instructions above may be useful as well.

[2015-12-19 22:25] strathaxxs opened #4176 "Installing beef on Windows 10"
-
- What did you do?

  I ran the command `C:/Ruby22/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to install beef.

- What happened instead?

  Instead, what actually happened was it showed this message:

Error details
[code]
Environment
[code]

[2015-12-20 00:33] rgb-one commented on #4176
It is recommended that you install ruby version `2.1.X` on the [RubyInstaller][] website because it is stable and provides a wider range of supported packages; maybe you could give that a try as well as install the corresponding DevKit for that version of Ruby.

There may be an issue with the version of DevKit you have installed. You can lodge a bug report to [RubyInstaller issue tracker][]. Make

[2015-12-20 08:12] #4157 closed

[2015-12-20 16:00] vinioliveira commented on #4147
Thanks guys! 1.11.2 just worked for me.  :beers:

[2015-12-21 09:38] #4159 closed

[2015-12-21 09:40] indirect commented on #4094
@RochesterinNYC yes, that sounds like the desired behavior.

[2015-12-21 09:45] #4151 closed

[2015-12-21 16:02] jschwendt opened #4177 "NoMethodError: undefined method `<' for nil:NilClass"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/Users/joeschwendt/.rvm/gems/ruby-2.2.0/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to install all of my rails gems.

- What happened instead?

  Instead, what actually happened was it installed what appears to be most of my gems but then dies w

[2015-12-21 16:08] RochesterinNYC commented on #4094
Okay, the current behavior for `coc`, `mit`, and the `test` framework options follows that. Think this issue's good to close?

[2015-12-21 17:00] RochesterinNYC commented on #4177
Would you mind copying and pasting your `Gemfile` and `Gemfile.lock`?

[2015-12-21 18:19] jschwendt commented on #4177
Note, this works fine when I remove the Gemfile.lock, but I lose all of my versioning.

Gemfile
----------------------
source 'https://rubygems.org'

ruby '2.2.0'

gem 'active_model_serializers'
gem 'acts-as-taggable-on'
gem 'airbrake'
gem 'analytical'
gem 'aws-sdk'
gem 'bitters', require: false
gem 'bourbon', '~> 3.2.1'
gem 'ckeditor'
gem 'coffee-rails'
gem 'color_difference'
gem 'daemons'
gem 'd

[2015-12-21 19:43] RochesterinNYC commented on #4177
Hm, using the same versions of rubygems, ruby, and bundler but rbenv instead of rvm and Git version 2.5.0, I can't seem to replicate the issue.

[2015-12-21 20:01] EmilySheehan commented on #4147
rm Gemfile.lock
bundle install
worked for me too!  Thanks ya'll

[2015-12-21 21:00] indirect commented on #4147
@EmilySheehan you can also run `gem install bundler` to get 1.11.2, which has the fix. :)

[2015-12-21 21:08] spuhler opened #4179 "newer bundler versions (> 1.10.x ) miss a lot of files when creating an rpm"
when trying to create an rpm, I miss about 70% of the files. See https://www.rpmfind.net/linux/RPM/mageia/cauldron/i586/media/core/release/ruby-bundler-1.11.2-1.mga6.noarch.html
puting a sed -i -e 's|find -z \(.*\)`|find \1 -print0`|' %{oname}.gemspec in the %prep stage after %gem_setup resolves the issue. What is this option "-z" for?

[2015-12-22 02:56] indirect commented on #4179
@spuhler sorry, I can't tell what the problem you are reporting is here. Can you please follow [ISSUES](https://github.com/bundler/bundler/blob/master/ISSUES.md) and report all the information we need to diagnose a bug?

[2015-12-22 07:41] tardate opened #4180 "Bundlers all up to 1.11.2 but some deployments still insist on removing BUNDLED WITH"
I have an app deployed to two servers (load-balanced pair - same CentOS config).

As far as I can tell, these servers are identical, but for some reason, `bundle install` insists on removing `BUNDLED WITH` from the Gemfile.lock on one machine but not the other.

Facts:
* servers have the same commit deployed
* Gemfile.lock is checked-in, and includes `BUNDLED WITH` 1.11.2
* both servers running rv

[2015-12-22 08:06] indirect commented on #4180
Sounds like you have environment variables set on server 2 that are somehow loading an older version of Bundler (perhaps from a different ruby version?)

[2015-12-22 08:40] tardate commented on #4180
hi @indirect no, don't think environment variables (there are no appreciable diffs except hostname etc)

I think I may have tracked it down:
* server 2 had rubygems-bundler (1.1.0)
* server 1 had rubygems-bundler (1.4.4, 1.1.0)

I don't know what was responsible for installing/updating rubygems-bundler to 1.4.4 on server 1, since it's not explicitly referenced in any Gemfiles, scripts or our insta

[2015-12-22 13:18] didieruzan opened #4181 "getting this error after adding the polymer-rails gem"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/Users/didieruzan/.rbenv/versions/2.1.2/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    RuntimeError: LazySpecification has not been materialized yet (call

[2015-12-22 13:39] sfate commented on #4171
Try to speficy bundler in your Gemfile with lower version and then deploy again.

[2015-12-22 14:01] segiddins commented on #4181
This should be fixed in 1.11.2, can you try updating?

[2015-12-22 15:23] didieruzan commented on #4181
Yes that did it, Thanks

[2015-12-22 15:23] #4181 closed

[2015-12-22 19:58] indirect commented on #4180
@tardate Got it. I guess that's not super surprising: the rubygems-bundler gem is created by the maintainer of rvm. It is not endorsed or supported by the teams of either RubyGems or Bundler, and can cause unexpected problems if it is installed (and FWIW, the Bundler team's official recommendation is to uninstall it completely).

I'll keep this issue in mind for future troubleshooting suggestions,

[2015-12-22 19:58] #4180 closed

[2015-12-22 20:00] indirect commented on #4171
It looks like your Gemfile.lock is the result of a bad git merge. You can try deleting it and running `bundle install`, and that will probably fix it.

[2015-12-22 20:03] indirect commented on #4094
Cool, thanks for fixing it!

[2015-12-22 20:03] #4094 closed

[2015-12-23 03:28] indirect opened #4182 "Errors during automatic require are swallowed"
When `Bundler.require` is called by e.g. Rails, Bundler will try to require every gem listed in the Gemfile. If there is an error while requiring said gem, Bundler will completely suppress the error, and instead print its own error with the message "there was an error requiring 'some_gem'". At an absolute minimum, we should print the underlying exception message, and we should probably also mentio

[2015-12-23 04:29] paddor commented on #4162
Hey @indirect, nice talk at RubyConf this year. I watched the video. :-)

Any ideas about my issue? It happens with other (non-mine) gems too. Thanks for the help.

[2015-12-23 05:37] paddor commented on #4162
It works now. I had to move the requirement from the Gemspec into Gemfile and also specify the `git:` option. Now it's completely rendudant.

What's the point of this override feature, if it won't override a setting, unless the setting itself basically says what the override says?

It'd be really nice if it'd work as expected, meaning: Just use the local gem from the override path if the override

[2015-12-23 06:23] hooopo commented on #3585
@TimMoore @indirect After I update bundler version to 1.9.5 in my production server, I found issue with LOAD_PATH:

Gemfile:

[code]

And core gemspec:

[code]

Bundler 1.9.5 - 1.11.2:
[code]

Bundler 1.9.4:

[code]

I think Bundler 1.9.4 is right.

[2015-12-23 11:18] korny commented on #4171
This seems to be a bug in bundler 1.11, since it works without changing the Gemfile.lock in 1.10: https://stackoverflow.com/questions/34276324/travis-reports-odd-message-of-corrupted-gemfile-lock

[2015-12-23 13:01] segiddins commented on #4162
The got override only works when the gem is already being included via a git source in the Gemfile.

[2015-12-23 13:10] paddor commented on #4162
May I ask why? That condition makes this feature essentially useless.

My usecase is this: Let's say gem A depends on gem B. The Gemfile of A says `gemspec`, and `A.gemspec` says `gem.add_runtime_dependency("B")`. When I'm working on gem A, I sometimes also work on gem B. I expect this feature to assist me in this case, so I can make gem A use the local gem B, **without** changing the Gemfile (bec

[2015-12-23 13:14] segiddins commented on #4162
It has to work that way because otherwise there's no way for bundler to record the commit sha you're using in the lockfile.

[2015-12-23 13:20] paddor commented on #4162
Why not? It can take the current commit SHA from the Git repository located at the path set by `bundler config local.B /path/to/repo`.

[2015-12-23 13:24] segiddins commented on #4162
But it can only do that if the gem is already declared to come from a git source.

[2015-12-23 13:27] paddor commented on #4162
Why? Sorry, but that's not a real reason. It knows the gem B is needed by gem A, because A.gemspec says so. No matter if it's declared to come from a git source. The name of B counts. After all, one specifies B's name is the key in `bundle config local.B /path/to/repo`, and not that it's declared to come from a git source or it's original git source.

[2015-12-23 18:03] p-vital opened #4183 "Errno::EAGAIN: Resource temporarily unavailable @ rb_sysopen"
Getting this error when running bundle install and a new gem needs to be downloaded/installed:
<pre>
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/user/.rbenv/versions/2.2.4/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened

[2015-12-24 07:38] paddor commented on #4162
Asked differently, what am I supposed to do? Is there maybe a more elegant way for my usecase?

Merry Christmas. :-)

[2015-12-24 10:40] indirect commented on #4162
@paddor saying "that's not a real reason" to someone who just went out of their way to help you for free is not cool. That kind of treatment more or less completely removes any motivation to help you. If you have questions, don't understand, or something seems wrong to you, say "I have a question" or "I don't understand" or "that's weird, you said X but I am observing Y when I do Z".

To answer yo

[2015-12-24 10:40] #4162 closed

[2015-12-24 10:52] paddor commented on #4162
@indirect Sorry if that seemed harsh. "I still do not understand" is what I actually meant.

Thanks for the explanation. It would all make sense if I was developing an application. But as far as I know, there's no need to make that fundamental guarantee when you're developing a gem. For the same reason it's also not recommended to include a gem's Gemfile.lock into version control, right? (as advis