[2016-06-03 13:39] mathiasslawik commented on #4630
I've raised this issue with Ruby core. I don't know if this is the right place, but I think it should not check for the sticky bit under the Windows 10 Subsystem for Linux, as the permissions are handled by other OS parts:

https://bugs.ruby-lang.org/issues/12456

[2016-06-03 13:42] chevinbrown commented on #4602
+1, I have same issue

[2016-06-04 06:17] ioquatix commented on #4571
It should be okay to do what I wanted. I don't think setting --path should also change where bundler looks for gems, IMHO.

Of course, because that gem is now installed to rubygems.org

[2016-06-04 06:18] ioquatix commented on #4571
I think if you just changed "Could not find gem 'utopia (~> 1.6.6)' in any of the gem sources listed in your Gemfile or available on this machine." to "Could not find gem 'utopia (~> 1.6.6)' in any of the gem sources listed in your Gemfile." you'd at least make the current (IMHO broken) behaviour clearer.

[2016-06-05 04:26] segiddins commented on #4627
The PR now should have this fixed, thanks for the issue!

[2016-06-05 05:08] rudiss commented on #4599
just install a older version of bundler

`gem install bundler -v 1.12.3`

[2016-06-05 18:34] RAJKUMAR18 opened #4644 "Getting Rails to work"
hi i am using a debain linux and recently started rails...the **latest version of RUBY** available for debain is **1.9.3** so i **cannot install mime-types-data** on my system .I have installed most of the gems required for running my first RAILS application but BUNDLER is creating a problem help me please....
Following error occurs while installing mime:
## **_Gem::InstallError: mime-types-data r

[2016-06-05 20:33] hmistry commented on #4644
There are a couple of options I found using Google:
1. use the newer version of Debian 8 (aka Jessie) which uses Ruby 2.1.5
2. install RVM and use it to install the latest version of Ruby and managing your gems - see http://stackoverflow.com/questions/16345465/how-to-install-ruby-2-0-in-debian-6.

Avoid using Ruby 1.9.3 as support for it ended last year.

[2016-06-06 00:27] hmistry commented on #4642
Looking at the first line of the error, its says bundler is unable to open a connection to index.rubygems.org. I suggest trying again - make sure your system is connected to the internet and you can ping the server.

[2016-06-06 02:52] lynnco opened #4646 "Work on label descriptions"
PR: https://github.com/bundler/bundler/pull/4638

(there's a bunch of discussion on the PR)

[2016-06-06 02:55] LynnCo commented on #3344
I believe there were some changes to `bundle package` and git dependencies recently, so this issue may be resolved already

[2016-06-06 03:01] lynnco opened #4647 "Show error messages for permissions errors in the compact index code"
So we can get better error messages for issues like https://github.com/bundler/bundler/issues/4590

[2016-06-06 03:11] LynnCo commented on #4642
Ditto what @hmistry said, this is likely a internet connection issue. I'm going to close this, but if you run into any new issues you think are caused by Bundler code, we can re-open this or create a new issue.

[2016-06-06 03:19] segiddins commented on #4642
@LynnCo still shouldn't cause the error template to appear -- we should probably add `Errno::EHOSTUNREACH` to the list of [`HTTP_ERRORS`](https://github.com/bundler/bundler/blob/3a09448d8b060f2688dbc73bfa1eb08e1bd126f3/lib/bundler/fetcher.rb#L268)

[2016-06-06 03:26] LynnCo commented on #4000
*ping*

[2016-06-06 03:38] StanleyShen opened #4648 "Gemfile with source 'http://rubygems.org' cannot work"
hello, all

It seems recently gemfile with source "http://rubygems.org" cannot work any more?
If I change it to "https://rubygems.org" then it works well.

Does "http://rubygems.org" still support? Or we must to update gemfile to use "https://rubygems.org"?

[code]

Above is my gemfile, it works well before, but right now, it doesn't work and reports error
[code]

[2016-06-06 03:39] LynnCo commented on #4642
@segiddins I'll create a new issue for that or change the title of this one, I figure most people will see the current title and ignore it.

[2016-06-06 03:45] LynnCo commented on #4644
@RAJKUMAR18 you'll want to follow @hmistry's comment also consider using more recently updated versions of Ruby and Bundler. I'm going to close this but we can continue working with you if you are still experiencing issues

[2016-06-06 03:45] #4644 closed

[2016-06-06 03:52] LynnCo commented on #3229
Closing in favor of #2016

[2016-06-06 03:52] #3229 closed

[2016-06-06 03:53] GGD commented on #4648
I had same issue as you and solved it by changing `source` from
[code]
to
[code]

[2016-06-06 04:03] RochesterinNYC commented on #4647
This would be great, though not sure how we want to approach this. The compact index code, as an external censored dependency, has no knowledge of Bundler. We could possibly extract the modules related to filesystem access and erroring, but this extracted module of functionality would then become a dependency of both Bundler and the compact index code separately.

We could also move the compact in

[2016-06-06 04:03] grosser commented on #3344
still some on 1.12.5

[2016-06-06 04:05] segiddins commented on #4647
@RochesterinNYC let the compact index take a proc property to access the filesystem that by default only does the access, without error handling

[2016-06-06 04:13] indirect commented on #4647
Another potential solution could be wrapping `Errno::*` errors in a `CompactIndex::AccessError` that has accessors for both the underlying error and the path being accesses, so that Bundler can catch those errors and print out a useful message. It's definitely doable, one way or another.

[2016-06-06 04:24] colby-swandale commented on #4648
Hi! This behavior has been fixed in a newer release, can you please update bundler to the latest version and report back if you have any troubles.

[2016-06-06 04:41] StanleyShen commented on #4648
OK, thanks for information.
The strange thing is this version still works well last week or before, it just stops working today.

[2016-06-06 05:26] brent-clintel commented on #4648
I can second this problem.  We are receive the exact same error message and this only started happening with the last few hours.  It was working fine at the start of the day.  No gems have been changed or been updated.

<pre>
Environment
    Bundler   1.9.9
    Rubygems  2.2.3
    Ruby      2.1.6p336 (2015-04-13 revision 50298) [x86_64-linux]
    GEM_HOME  /rails_app/vendor/ruby/2.1.0
    GEM_PATH

[2016-06-06 05:32] PixelTom commented on #4648
Switching from "http://rubygems.org" to "https://rubygems.org" is working for me until I update bundler.

[2016-06-06 05:32] segiddins commented on #4648
@dwradcliffe could this be caused by recent infra changes?

[2016-06-06 05:32] segiddins commented on #4648
@dwradcliffe could this be caused by recent infra changes?

[2016-06-06 05:58] arnav90 commented on #4648
As pointed out in [this tweet](https://twitter.com/ishiokakeiichi/status/739677723518328832), the problem appears to be with http://bundler.rubygems.org/api/v1/dependencies being redirected to https://app_server/api/v1/dependencies

https://bundler.rubygems.org/api/v1/dependencies works fine.

[2016-06-06 06:07] #2175 closed

[2016-06-06 06:45] kavinkr commented on #4648
Changing http://rubygems.org to https://rubygems.org fixed the issue for me too.

[2016-06-06 09:08] paultung commented on #4648
I have some reason so I can't update the 'bundle' version, is there other way to reach 'http://rubygems.org'?

[2016-06-06 09:26] vs4vijay commented on #4648
Same error, Switched to **https**. But is should work without **https**. Any changes on rubygems site?

[2016-06-06 10:12] spalakaluri commented on #4648
I can't update the 'bundle' version and change to 'https', is there other way to reach 'http://rubygems.org'? Please suggest, I got struck-up in creating some customer releases.

[2016-06-06 10:16] wycats commented on #4599
I also experienced this bug, and it was also fixed by downgrading to 1.12.3.

[2016-06-06 11:22] dwradcliffe commented on #4648
Yes this was caused by infrastructure changes/problems. It should be fixed now. Is there are reason any of you are using http? We strongly suggest you only use https.

[2016-06-06 11:51] jmatraszek commented on #4427
Hi,
I am not the OP, but this is still a bug for me. Updated rubygems to 2.6.4. Happens only in my Jenkins installation (using rbenv):

[code]

[2016-06-06 13:46] segiddins commented on #4599
@domcleal any interest in looking into this?

[2016-06-06 13:46] #4648 closed

[2016-06-06 14:07] domcleal commented on #4599
The error (from Ruby's temp helper) suggests there's a directory in ~/.bundle that is `0777`, which may not be secure as it's missing the sticky bit.

Try resetting all cache directories to a normal set of permissions:

    find ~/.bundle/cache -type d -exec chmod 0755 {} +

The advice above for `1777` isn't terrible, but this is probably preferable!  The affected directory is probably below ~/.bu

[2016-06-06 15:54] BrennanMcDonald commented on #4599
@domcleal

`find ~/.bundle/cache -type d -exec chmod 0755 {} +`
Seemed to work for me.

[2016-06-06 18:55] segiddins commented on #4599
If there's some way to fix this inside of bundler, we should. A PR from someone who understands why this is happening would be :rocket:

[2016-06-06 20:28] Zorbash commented on #4000
@LynnCo @RochesterinNYC I still have some unfinished work in a branch, i'll do my best to turn it into a PR soon.

[2016-06-07 00:03] engBrunoSales opened #4649 "bundle install comand error"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/brunosales/.rvm/gems/ruby-2.3.0/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EPERM: Operation not permitted @ rb_file_s_rename - (/home/bru

[2016-06-07 01:07] segiddins commented on #4649
@domcleal this looks related to your change as well?

[2016-06-07 01:15] colby-swandale commented on #4634
Can you please share the output of `bundle env` and is git installed + available to the user?

[2016-06-07 01:56] pmaclin commented on #2489
Hi, I'm having the same issue. This chain has been very helpful but I'm new to devops and not sure what "Shelling Out" means from the docs - I'm in the bundler.rb but unsure where to add the .with_clean_env fix? Or if I should even be in the .rb with this fix? I've installed ruby on a remote server via rbenv (1.0.0-21-g9fdce5d). And, not unlike @ichilton I'm getting a Bundler::RubyVersionMismatch

[2016-06-07 02:16] munderseth commented on #4609
Hi Colby,

I believe this issue has been resolved. I can not reproduce the issue mentioned above using the `1.12.5` version.

BTW I believe C9 is now defaulting to this version of the bundler for `Rails` Workspaces.

Thanks.

[2016-06-07 02:19] #4609 closed

[2016-06-07 02:28] paultung commented on #4648
When we access from China mainland to 'https' will encounter terrible slow speed even failed, if we change to 'http', it is no problem.

[2016-06-07 02:29] allenzhao commented on #4648
@paultung You should consider some mirror service in China, such as [RubyChina's RubyGems Mirror](https://gems.ruby-china.org/)

[2016-06-07 02:31] dwradcliffe commented on #4648
Ah yes I've heard that. 😞

[2016-06-07 02:50] LynnCo commented on #3456
the relevant feedback from this issue:

[2016-06-07 07:04] domcleal commented on #4649
@engBrunoSales could you paste output from `ls -ld /home/brunosales/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47/info/jbuilder20160606-9437-51ceo8/jbuilder /home/brunosales/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47/info/jbuilder  /home/brunosales/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47/info`

[2016-06-07 09:01] domcleal commented on #4599
I'm struggling to think why it'd be happening, my best guess is that it's either an old bug (e.g. where ~/.bundle/cache dirs were created with a bad umask) or people have run commands to open permissions to fix some other problem.

Some solutions that may help:

1) Add a sanity check/fix for permissions on ~/.bundle and its subdirs, ensuring they're not world writeable and resetting those permissi

[2016-06-07 13:37] kiddcrs opened #4652 "bundle install"
Errno::EACCES: Permission denied @ dir_s_mkdir - /Users/Steve/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47/versions20160607-62502-12tejdw
      /Users/Steve/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/tmpdir.rb:86:in `mkdir'
      /Users/Steve/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/tmpdir.rb:86:in `block in mktmpdir'
      /Users/Steve/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.

[2016-06-07 13:54] kiddcrs opened #4653 "Could not find gem 'terminal-table (>= 1.6.0)'"
ERROR:  Could not find a valid gem 'bundler' (>= 0), here is why:
          Unable to download data from https://rubygems.org/ - SSL_connect returned=1 errno=0 state=error: certificate verify failed (https://api.rubygems.org/specs.4.8.gz)

[2016-06-07 14:08] schneems commented on #4627
I can confirm that your patch now gives an error stating that the Ruby version in the Gemfile does not match the current Ruby version

[code]

However the Gemfile.lock is still not correct when you try to `bundle install` if you've not changed any dependencies

[code]

[2016-06-07 14:11] schneems commented on #4627
As a side note whats your recommend way to use a branch or commit of bundler for testing things locally? I've been using the time honored tradition of copy/pasta for testing this issue. Would love to eliminate any potential copy errors with a more automated method. Usually I would specify a dependency with `github: "<username>/<name>", branch: "<name>"`, but that won't work for bundler.

[2016-06-07 14:26] segiddins commented on #4627
Just clone bundler, I believe we have instructions in either the contributing or development file

[2016-06-07 14:33] #4652 closed

[2016-06-07 15:33] Pithikos commented on #4550
So what's the state of this issue anyway?

[2016-06-07 15:49] segiddins commented on #4550
@Pithikos it's awaiting an implementation

[2016-06-07 17:27] RAJKUMAR18 commented on #4644
thank you

[2016-06-07 23:57] JARM876 commented on #4599
Thanks so much for all the help. However, here is the new error message I am receiving after installing the earlier bundle version:

Could not find gem 'terminal-table (>= 1.6.0)' in any of the gem sources listed in your Gemfile or available on this machine.
Run `bundle install` to install missing gems.

[2016-06-07 23:57] LynnCo commented on #4653
@kiddcrs can you try to some of the fixes in this thread https://github.com/google/google-api-ruby-client/issues/235? ie. https://github.com/google/google-api-ruby-client/issues/235#issuecomment-191159875 and https://github.com/google/google-api-ruby-client/issues/235#issuecomment-169956795

[2016-06-08 00:02] LynnCo commented on #4605
@manpreetminhas

[2016-06-08 00:08] LynnCo commented on #4507
Closing as no longer relevant (feel free to fact check me though)

[2016-06-08 00:10] LynnCo commented on #4461
related: https://github.com/bundler/bundler/issues/4464

[2016-06-08 00:15] LynnCo commented on #4613
Closing as a duplicate of https://github.com/bundler/bundler/issues/4630, we'll work on resolving it there!

[2016-06-08 00:15] #4613 closed

[2016-06-08 00:16] manpreetminhas commented on #4605
Yes I did. The problem somehow was something else. The rails project that I was working on had a dependency on a certain version of Java (1.7.0.79). As soon as I downgraded the java version and did a bundle install again, it worked!!

[2016-06-08 00:46] LynnCo commented on #4605
@manpreetminhas thanks for following up!

[2016-06-08 00:46] #4605 closed

[2016-06-08 00:50] JARM876 commented on #4599
@ domcleal: Here is my output from find ~/.bundle -type d -exec ls -ld {} +:

find: /Users/jodi-ann/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47/versions20160521-4561-bink6f: Permission denied
find: /Users/jodi-ann/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47/versions20160521-77585-1ybj2nc: Permission denied
find: /Users/jodi-ann/.b

[2016-06-08 01:03] segiddins commented on #4507
Still relevant

[2016-06-08 03:12] JARM876 opened #4655 "Can't install bundler - Errno::EACCES: Permission denied"
I have been having an issue installing WPscan for the past three weeks. I kept getting an error message saying "parent directory rewritable but not sticky". No one seems to know how to resolve so I decided to do a clean install and try to track where I went wrong (I am very new to this). After installing everything, I am still getting another error message. Any help would be greatly appreciated!

[2016-06-08 04:37] RochesterinNYC commented on #4627
I'm unable to reproduce the failed behavior that you're getting @schneems ?

[code]

[2016-06-08 04:38] RochesterinNYC commented on #4627
My setup (that uses this PR's branch for bundler):

[code]

[2016-06-08 07:19] domcleal commented on #4599
@JARM876 you have lots of directories owned by root in your own directory, I'd guess you've been using `sudo` or similar. I'd suggest running `sudo chown -R jodi-ann:staff ~/.bundle` to reclaim ownership and then the find/chmod again.

Regarding your table_print error, I'd suggest filing a new issue with a copy of your Gemfile and `bundle env` output so we don't cross-threads.

[2016-06-08 15:25] schneems commented on #4627
I can confirm it works now. Thanks!

[code]

[2016-06-09 00:27] #4593 closed

[2016-06-09 07:13] Nagarjun123 opened #4656 "An error occurred while installing nokogiri (1.6.7.1), and Bundler cannot continue"
Hi i am running bundle install command i specified gem to be installed in .lock file
It get stuck while downloading nokogiri(1.6.7.1) and throws this error.

**An error occurred while installing nokogiri (1.6.7.1), and Bundler cannot
continue
Make sure that `gem install nokogiri -v '1.6.7.1'` succeeds before bundling.**

I am Using OSX ElCaptain Version 10.11 Beta

![screen shot 2016-06-09 at 12 4

[2016-06-09 08:11] LynnCo commented on #4656
@Nagarjun123 what happened when you ran `gem install nokogiri -v '1.6.7.1'`, then `bundle install` a second time

[2016-06-09 08:17] LynnCo commented on #4655
@JARM876 check out how the other issues with [permission errors](https://github.com/bundler/bundler/search?q=Permission+denied&type=Issues&utf8=%E2%9C%93) were resolved, like https://github.com/bundler/bundler/issues/4458, https://github.com/bundler/bundler/issues/4431, https://github.com/bundler/bundler/issues/4429

[2016-06-09 08:21] LynnCo commented on #4328
ping @kbsivacse

[2016-06-09 08:23] LynnCo commented on #4533
pgin @ohboyotero

[2016-06-09 08:26] LynnCo commented on #4578
@jmchugh2 do you still need help resolving this issue?

[2016-06-09 08:33] LynnCo commented on #4612
ping @jufemaiz

[2016-06-09 08:33] LynnCo commented on #4614
ping @cmsunil

[2016-06-09 08:35] LynnCo commented on #4534
ping @ygannett @manajay

[2016-06-09 08:48] #4340 closed

[2016-06-09 08:55] LynnCo commented on #4106
ping @timon

[2016-06-09 08:57] lynncyrin opened #4657 "Add an error message about pre-release dependencies"
From https://github.com/bundler/bundler/issues/4340, https://github.com/bundler/bundler/issues/2938, https://github.com/bundler/bundler/issues/4337

It would help reduce user confusion if the error message generated in that case explicitly stated that pre-release dependencies need to be explicitly listed in the gemfile

[2016-06-09 08:58] LynnCo commented on #3413
Issue was resolved according to https://github.com/bundler/bundler/issues/3014#issuecomment-191512338!

[2016-06-09 08:58] #3413 closed

[2016-06-09 10:57] lutti-it opened #4658 "metasploit bundel install error"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/user/.rvm/gems/ruby-2.1.6/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied @ dir_s_mkdir - /home/user/.bundle/cache/c

[2016-06-09 13:14] jmchugh2 commented on #4578
no, everything is fine. thank you,James

    On Thursday, June 9, 2016 2:26 AM, Lynn Cyrin <notifications@github.com> wrote:

 @jmchugh2 do you still need help resolving this issue?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-09 14:09] cmsunil commented on #4614
This happend when i was using a old project.

I did the bundle Install

Regards,

Sunil

On Thu, Jun 9, 2016 at 2:04 PM, Lynn Cyrin <notifications@github.com> wrote:

[2016-06-09 14:39] #4578 closed

[2016-06-09 15:39] segiddins commented on #4614
Unfortunately, that's not enough information for us to reproduce -- if you're still experiencing the issue, please share step-by-step commands we can copy/paste (or a script) that reproduces the problem. Thank!

[2016-06-09 15:39] #4614 closed

[2016-06-09 15:40] segiddins commented on #4658
Do you have write permission for the `/home/user/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47/` directory?

[2016-06-09 15:42] segiddins commented on #4657
Checkin whether the conflicting gem has pre-release versions that satisfy all dependencies when rescuing the `VersionConflict` should be sufficient for this

[2016-06-09 15:58] lutti-it commented on #4658
This are my permission for the
/home/user/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47/
directory:

drwxr-xr-x 2 root root    12288 Jun  8 15:33 info
-rw-r--r-- 1 root root 12569003 Jun  8 15:33 versions

On 2016-06-09 17:40, Samuel Giddins wrote:

[2016-06-09 16:12] segiddins commented on #4658
But what about the permissions on the directory itself?

[2016-06-09 17:06] lutti-it commented on #4658
The permissions of the metasploit directory:

drwxrwxrwx 4 user root 4096 Jun 8 15:30 app

-rwxrwxrwx 1 user root 2504 Jun 8 15:30 CODE_OF_CONDUCT.md

drwxrwxrwx 3 user root 4096 Jun 8 15:40 config

-rwxrwxrwx 1 user root 5587 Jun 8 15:30 CONTRIBUTING.md

-rwxrwxrwx 1 user root 1858 Jun 8 15:30 COPYING

drwxrwxrwx 23 user root 4096 Jun 8 15:30 data

drwxrwxrwx 3 user root 4096 Jun 8 15:30 db

drwx

[2016-06-10 00:43] ohboyotero commented on #4533
Sorry I somehow missed the immediate reply back in May. I haven't been able to repro since wiping my rvm gemset. Not sure how to get into whatever funky state I was previously in. Sorry!

[2016-06-10 00:51] #4533 closed

[2016-06-10 01:07] Nowaker opened #4659 "Can't install a gem from git from a specific commit"
This works:

[code]

Result:

[code]

However, neither of these work:

[code]

Result:

[code]

[code]

I'm a little ashamed, as it feels like some stupid typo or something, but I was trying to make it for half an hour without a success, so I have no other conclusion than this being a bug in bundler.

[2016-06-10 01:24] segiddins commented on #4659
[code]

[2016-06-10 01:33] Nowaker commented on #4659
Okay, it seems that I tested one of these without `ruby 'versionhere'` and that's why one of these succeeded and the other did not. However, the error message is super unclear, so I guess this ticket would be about improving the messaging.

[2016-06-10 01:36] RochesterinNYC commented on #4659
If that's the case, can we get more explicit reproduction steps (with specific `Gemfile`s, ruby versions, etc.)? Also, can you provide your bundler version via `bundle env` and try this on the latest version of bundler (`v.1.12.5`) if you're not currently on it?

[2016-06-10 01:44] Nowaker commented on #4659
Yes, sir, I'll prepare a test project that shows the error.

[2016-06-10 02:49] allenzhao commented on #2180
Trying to use [Docker image provided by Rubinius](https://hub.docker.com/r/rubinius/docker/builds/)

[2016-06-10 02:57] allenzhao commented on #4642
I will work on this and to add this and a spec test

[2016-06-10 03:47] jufemaiz commented on #4612
I will but currently traveling. Will try before flight tonight

On Thursday, 9 June 2016, Lynn Cyrin <notifications@github.com> wrote:

--
–
Joel Courtney
 m: +61 401 501 625
 e: euphemize@gmail.com
 w: http://euphemize.net
 p: http://flic.kr/jufemaiz/
 t: http://twitter.com/jufemaiz

[2016-06-10 06:13] Nagarjun123 commented on #4656
Its throwing error attached terminal error.

[NokogiriError.txt](https://github.com/bundler/bundler/files/308427/NokogiriError.txt)

[2016-06-10 06:56] SurajShukla commented on #3895
I am not sure If this can be put here or not but maybe someone can figure out.

I am getting this gemspec related issue too.

/home/users/Projects/new_project/vendor/gems/spree_social/spree_social.gemspec
is not valid. Please fix this gemspec.
The validation error was 'spree_social-3.1.0.beta contains itself
(spree_social-3.1.0.beta.gem), check your files list'

I am not able to figure out the sol

[2016-06-10 07:49] akostadinov commented on #1964
Your default use case assumes that you write an application that you deploy somewhere and whatever, you keep it in one place running and serving.
I think you didn't consider the use case where you have some tool that you run on many machines, maybe just once in the (virtual) machine life and you don't care so much about installed version but you care more about quick execution and avoiding issues

[2016-06-10 17:54] #4642 closed

[2016-06-10 21:57] #4595 closed

[2016-06-10 21:57] #4627 closed

[2016-06-11 03:25] RochesterinNYC opened #4663 "Filter out credentials for git sources in stderr output"
- Related to #4425

While Bundler will screen out sensitive credentials for stdout output for git sources, it will not do the same for stderr output at the moment.

patch for failing test.
[code]

[2016-06-11 03:45] allenzhao commented on #3344
I'm working on this ;)

[2016-06-11 04:13] RochesterinNYC opened #4664 "`bundle outdated` with gem on multiple platforms will not show updates for both platforms"
- Related to #4450 and https://github.com/bundler/bundler/pull/4465#issuecomment-214135134

Reiteration of problem:
In the case of a gem `laduradura` being used for both ruby and java platforms, with an update available for the gem on java platform, `bundle outdated` will not show any potential updates. However, it will show an update available if the update is available on the ruby platform.

Fai

[2016-06-11 17:57] YanHaovvGo commented on #4065
Thank you @segiddins

[2016-06-12 04:54] RochesterinNYC opened #4665 "Bundler test suite should run on Appveyor against PRs"
We're looking to run the Bundler test suite against new/updated Bundler PRs on Windows environments via [Appveyor](https://ci.appveyor.com/project/AndrArko/bundler).
- A work-in-progress PR was made early on at #4299, but I don't currently have the time bandwidth to undertake this work right now.
- Additionally, @indirect, think we should be using an Appveyor account that isn't a personal account

[2016-06-12 07:12] LynnCo commented on #3346
Need to check if this issue persists in the latest version

[2016-06-12 07:13] LynnCo commented on #3952
Need to check if this issue persists in the latest version

[2016-06-12 07:22] LynnCo commented on #2048
Alright this one is ready for something to take 👍

[2016-06-12 07:29] LynnCo commented on #2908
Closing because

Will create a new issue with about https://github.com/bundler/bundler/issues/2908#issuecomment-43013740

[2016-06-12 07:29] #2908 closed

[2016-06-12 07:37] lynncyrin opened #4666 "Show warning message from when ppid exec basename is Ruby"
From: https://github.com/bundler/bundler/issues/2908#issuecomment-43013740

(comment edited slightly)

Bundler could detect when parent process is Ruby, then we could print a helpful message that the user should read the section on "Shelling out" in the manual. This would resolve this issue mentioned in https://github.com/bundler/bundler/issues/2908

[code]

(note: this issue may not be relevant t

[2016-06-12 07:48] LynnCo commented on #4290
(clarifying) this issue is likely the same as https://github.com/bundler/bundler/issues/3671, that one will have to be resolved first

[2016-06-13 07:20] allenzhao commented on #4663
I'm working on this

[2016-06-13 11:20] b-ggs commented on #4664
I'll work on this.

[2016-06-13 14:26] idati opened #4668 "[error] bundle install"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/Administrator/.rbenv/versions/2.3.1/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    ArgumentError: parent directory is world writable but not sticky

[2016-06-13 17:22] headius commented on #4620
This also affects anyone committing a Gemfile.lock from MRI and then trying to use JRuby. For example, "pry" under JRuby requires "spoon", while MRI doesn't. Also, "pry" and "ffi" have -java versions, but the lock file can't reflect that AND the non-java exts that MRI uses.

So basically, you can't even switch from MRI to JRuby with a given lock file, if any of the dependencies have extensions (th

[2016-06-13 17:24] headius commented on #4620
I should also point out that a Gemfile.lock on JRuby would break on MRI, due to incompatible dependencies (usually exts).

[2016-06-13 17:26] headius commented on #4620
See here for the latest case of this: https://travis-ci.org/Calvyn82/oorb/jobs/137291735

Under JRuby, "pry" installs a -java version, which has a dependency on "spoon". MRI does not have such a dependency (and can't install -java platform gems anyway), so --deployment fails.

[2016-06-13 18:43] headius commented on #4620
A simpler fix than reworking how Gemfile.lock is structured would be to emit Gemfile.<platform>.lock, with some fallback to Gemfile.ruby.lock or Gemfile.lock if platform-specific lock files don't exist. We have some users that monkey-patch Bundler now to do exactly that, since they dev in MRI and deploy in JRuby.

[2016-06-13 23:21] dmitrym0 commented on #4517
I develop on Mac and deploy our app via Docker. Unfortunately, I have to get some gems manually. Not a show stopped but certainly not idea. +1 for this feature.

[2016-06-14 02:53] hmistry commented on #4668
Similar to #4630 and #4599.

[2016-06-14 09:42] mitio commented on #4602
Some more information on reproducing the issue (on Ubuntu 14.04 LTS x86_64, single Ruby version 2.1.2 installed system-wide under `/usr/local/`, no Docker).

It turns out that the issue manifests itself only if I've installed/updated Bundler **after** I've updated Rubygems, not before. Having Bundler 1.12.5 installed on Rubygems 2.6.1 and **then** updating Rubygems to 2.6.4 seems to work. However,

[2016-06-14 16:25] sushma-unii commented on #4572
Incurred same issue with jruby-1.7.25, WORKED with @dlovellrw comment to use ```JRUBY_OPTS='-J-Xmx4G' bundle install```

[2016-06-14 18:32] kares opened #4672 "multiple platform gems confusing Bundler when switching Rubies"
at first I thought to be running into #4620 but as I tried to isolate I noticed its smt different.

when there are multiple platform specific gems (with deps changing btwn platforms) Bundler 1.12.5 fails to `bundle install` under a different platform (Ruby).

[code]

`bundle install`ed under JRuby (9.1.2.0) fails to `bundle install` under MRI (2.3.1)

Here's the [**Gemfile.lock**](https://gist.git

[2016-06-14 19:23] headius commented on #4572
This is not a Java problem, this is a bundler problem.

The heap cap is a safety measure to keep a JVM-based app from overtaking all of a system's memory for a runaway process. On older JVMs, that default maximum was very low (64MB) and so JRuby's launcher bumps it up to 500MB. It can be set higher with -J-Xmx, which the memory error mentions. JRuby 9.1's bash launcher no longer sets any limit, si

[2016-06-14 21:17] dlovellrw commented on #4572
We have a 202MB gem.  Yeah.  That's our problem.

[2016-06-14 21:24] tenderlove commented on #3952
I can't reproduce the "bare line" issue anymore, but I still see wrong platforms.  If I checkout rails/rails@3ee7c57 and run against edge bundler, this is what I see:

[code]

I'm using OS X, so I'm not sure why `x86-mingw32` and `x64-mingw32` are ever mentioned.  Is there any thing I can do to help reproduce the bug?  I'm on 13f64fa210edbf92f3281e4055e88a37437d0486 for bundler.

[2016-06-14 21:28] indirect opened #4673 "Rescue `Java::JavaLang::OutOfMemoryError` and print a useful error message"
As reported in #4572, it's very possible for Bundler to run the JVM out of memory, especially on memory-constrained JVM instances. We should rescue this error and print an explanatory message, rather than barfing a stacktrace and asking users to report the bug as a new issue. Here's a draft error message:

[2016-06-14 21:31] indirect commented on #4572
Thanks for the reports and solutions, everyone! This looks like an expected result of asking Bundler to install .gem files that are hundreds of megabytes, so I'm going to close this issue.

This ticket revealed a real problem in Bundler, which is that we don't explain what's happening or what you can do when an OOM error occurs. I've opened a ticket to track work on fixing that at #4673.

[2016-06-14 21:31] #4572 closed

[2016-06-14 21:57] segiddins commented on #4673
Can just add this to friendly_errors

[2016-06-14 22:05] headius commented on #4572
Do gems have to be in memory to install? That seems like a good candidate for actually fixing this issue.

[2016-06-14 22:06] headius commented on #4572
Expected? Why? Why shouldn't I be able to install a 1GB gem with less than 1GB of available memory? That seems like a bug.

[2016-06-14 22:08] indirect commented on #4572
@headius yes, gems have to be read into memory to extract the .gemspec from the tarball. 202MB gems are so rare that no one has ever bothered to optimize the gemspec extraction code. Feel free to send a PR to RubyGems if you'd like to improve it, though!

[2016-06-14 22:09] headius commented on #4572
Why? Aren't they just a tar file that can be unpacked to temp space?

Ahh, this is a RubyGems issue then. Well I'm happy that it's not just "welcome to Java" :-)

[2016-06-14 22:12] headius commented on #4572
@indirect Actually, why did you close this? Only one person (@dlovellrw) that had the problem said they had a 202MB gem.

@sushma-unii, @jkr2255, and @diomenas Do you have large gems you are installing, or are these fairly normal sets of gems? I'd like to see that this is fixed rather than just assuming you all have unreasonably large gems.

[2016-06-14 22:16] indirect commented on #4572
@headius okay, in order:

I have no idea why, but that's what the RubyGems method that we call to get gemspecs out of gem files does. My guess as to why is "it was very easy and it worked at the time", but I didn't write it ¯\\\_(ツ)\_/¯

Because "I allowed Bundler to have less memory than it needed to install" is not a bug in Bundler. I opened a separate ticket noting that we need to explain the p

[2016-06-14 22:17] headius commented on #4572
But this might be a bug causing it to use too much memory (or an improvement we can make to use less). We have not done any investigation at all.

[2016-06-14 22:25] indirect commented on #4572
I am absolutely sure that it is possible to use less memory than we do now (not reading gems into memory to extract tarballs, for example), but I don't think this ticket is a good place to track general memory usage improvements.

This ticket is about OOM exceptions when `bundle` commands are run. It contains a solution/workaround for the problem as reported, and spawned another ticket for how to

[2016-06-14 22:29] jkr2255 commented on #4572
@headius Gems I tried to install were:

[code]

[`function_module`](https://github.com/jkr2255/function_module) is tiny gem I made, and the rest are popular gems for Ruby development.

[2016-06-14 22:30] headius commented on #4572
@jkr2255 Thank you for reporting back! There definitely seems to be something wrong somewhere if a Gemfile that small is causing OOM. What version of JRuby and Bundler was that?

[2016-06-14 22:32] jkr2255 commented on #4572
@headius As I mentioned above:

Rubygems 2.6.4
Ruby 1.9.3p551 (2016-04-13 revision 48406) [java]

[2016-06-14 22:33] headius commented on #4572
@jkr2255 Oh right, now I see it. I also see jruby-1.7.25 in your comment above.

[2016-06-14 23:54] headius commented on #4673
FWIW, JRuby already will display such a message if the OOM bubbles all the way out, and memory errors can be notoriously tricky to rescue (because we're at a memory limit already). Feel free to add this message if it fits the rest of the system though, and let me know if you have any trouble rescuing the error.

[2016-06-15 00:13] headius commented on #4572
@jkr2255 I was unable to reproduce with JRuby 1.7.25 on either Java 7 or Java 8. What version of Java were you running?

[code]

If you can try a similar command line (mostly the heap dump part) we can have a look at your heap and figure out why it's taking so much memory.

[2016-06-15 01:00] matthewd commented on #3952
@tenderlove note that #4493 means Bundler 1.12.x (and thus presumably master) is currently broken for Rails anyway.

[2016-06-15 01:19] stevensona commented on #4599
[code]
Fixed issue for me on Windows Subsystem for Linux fresh install. Thanks @domcleal

[2016-06-15 13:25] colby-swandale commented on #3952
I have been able to replicate this issue myself on master rails & bundler

[code]
i would like to look into this myself if that's ok with everyone.

[2016-06-15 15:48] grosser commented on #3346
still happening

[code]

[2016-06-15 16:21] fran-worley commented on #4635
+1 for this, would make deploy git gems to AWS Elastic Beanstalk so much easier!

[2016-06-15 19:21] abmxer commented on #4576
@tk8817 Yes, I was having this problem using official docker image ruby:2.3.1. Its something related to the bundler version 1.12.4. For any reason, the docker image should be installing the last bundler version (1.12.5), but after create/start the container had bundler version 1.12.4.

So I upgraded the bundler version (1.12.5) manually and it worked.

[code]

[2016-06-15 21:55] md5 commented on #3576
I've got a setup similar to @benSlaughter and I'm seeing this error:

In my case, I'm using `add_runtime_dependency` with `< 2` as a requirement and I have `gem` inside a private `source` in the `Gemfile` with no version number.

[2016-06-16 08:17] ogibayashi commented on #4427
Hello,

I also encountered this issue with jruby
* jruby both 9.1.2.0 / 1.7.25
* rubygems: 2.6.4
* bundler 1.12.5

`JRUBY_OPTS='-X-C -J-Xmx1024m -J-XX:+UseConcMarkSweepGC'` worked for me.

[2016-06-16 18:17] santey12 opened #4675 "loaderror cannot load such file 2.3/pg_ext"
loaderror cannot load such file 2.3/pg_ext
![pg](https://cloud.githubusercontent.com/assets/18305464/16128028/0b94cd7a-3410-11e6-9dfe-9573e2e6ef10.jpg)

[2016-06-16 18:56] jameswnl commented on #4582
I have the hanging situation happening with ruby 2.2.4.  Ruby 2.2.3, 2.2.5, 2.3.0 have no problem with the same gem/bundler versions,
* gem: 2.4.5.1
* bundler 1.12.5
* mac os

Strange thing is if I run ```sudo dtruss bundle install```, it will not hang.

[2016-06-16 19:19] developer-rameshraj commented on #3152
-

`
#

`

[2016-06-17 00:09] colby-swandale commented on #4675
Hi! it looks like you're missing the Postgresql libraries needed for the gem to be installed on your machine and not an issue with Bundler itself. @indirect @segiddins @LynnCo can we close this?

[2016-06-17 00:44] #4675 closed

[2016-06-17 00:50] LynnCo commented on #4668
Closing as a duplicate of the issues @hmistry mentioned!

@idati we will work on resolving this on this issues

[2016-06-17 00:50] #4668 closed

[2016-06-17 01:07] LynnCo opened #4677 "Statistics dashboard in Librato"

[2016-06-17 01:11] LynnCo opened #4678 "Gather detailed usage information on opt-in"
---

And as of https://github.com/bundler/bundler/pull/3289

[2016-06-17 01:12] LynnCo opened #4679 "Track per-gem project counts as well as pure install counts"

[2016-06-17 01:16] LynnCo opened #4680 "Allow plugins to be declared in the Gemfile"
[code]

(note: I'm moving issues over from the Trello boards, and not checking if they are already implemented)

[2016-06-17 01:18] LynnCo opened #4681 "Add source hooks"
[code]

[2016-06-17 01:20] LynnCo opened #4682 "Known bundler plugins"
* https://github.com/jmmastey/bundler-stats
* https://github.com/rubysec/bundler-audit

[2016-06-17 01:25] lynnco opened #4683 "print a notification when Bundler is out of date"
(note: I'm moving issues over from the Trello boards, and not checking if they are already implemented)

[2016-06-17 01:27] lynnco opened #4684 "Remove the global lock around building gems"

[2016-06-17 01:37] lynnco opened #4685 "Drop support for Ruby 2.0 and lower"
Partially satisfied by https://github.com/bundler/bundler/pull/3842. Potentially fully satisfied already?

[2016-06-17 04:01] segiddins commented on #4677
Probably belongs on some rubygems.org infra tracker by now?

[2016-06-17 04:04] segiddins commented on #4680
This is in master.

[2016-06-17 04:04] #4680 closed

[2016-06-17 04:45] santey12 commented on #4675
Hey. And how to do it? I reinstalled using the "gem install --pg".

[2016-06-17 04:57] colby-swandale commented on #4675
I don't use windows myself, so i have no experience but I suggest following the supplied [README-windows](https://bitbucket.org/ged/ruby-pg/src/e61a06f1f5ed1006563b731ee3dc1e10f426d6cf/README-Windows.rdoc?at=default&fileviewer=file-view-default)

[2016-06-17 10:31] abhaynahar opened #4686 "OpenSSL::X509::StoreError - Duplicate extensions not allowed"
Error details

    OpenSSL::X509::StoreError: setting default path failed: problem creating X509 Aux certificate: java.io.IOException: problem parsing cert: java.security.cert.CertificateParsingException: java.io.IOException: Duplicate extensions not allowed
      org/jruby/ext/openssl/X509Store.java:185:in `set_default_paths'
      /Users/abhay/.rvm/rubies/jruby-1.7.20/lib/ruby/shared/jopenssl/lo

[2016-06-17 16:11] Karamorf commented on #2667
I agree as well. It doesn't need to be the default way bundler handles gem install, but there should be a flag that either looks for the "user-install" setting in ~/.gemrc and /etc/gemrc or some other way to follow where "gem install" actually installs things to.

I think there are two use cases conflicting here. The way case that bundler solves extremely well is dependency management for projects

[2016-06-17 18:19] ntl commented on #4629
When more than one source hosts a gem of the same name, and that gem is a dependency of a gem listed in the `Gemfile` (but is not itself listed in the `Gemfile`), then I think bundler should prefer the source of the gem that depends upon it always. Once ambiguity is introduced by multiple gems from different sources depending on that gem, an explicit source ought to be mandated by bundler.

Curren

[2016-06-17 18:25] ntl commented on #4629
Another note: I think the behavior of dependencies-of-dependencies ought to be the same as the behavior of dependencies. So, going along @indirect 's example above, suppose I have:

[code]

In that case, I believe that bundler should prefer any gem called `rack` from `source-b` over `source-a`. Obviously, if there's any gem not hosted on `source-b` that depends on `rack`, bundler should fail unles

[2016-06-17 21:36] glennpratt commented on #4576
I'm hitting this issue. I tried a combination of bundler, ruby and rubygems version. For me, this bug happens consistently with rubygems > 2.6.1. Downgrading resolves it.

[code]

[2016-06-17 23:59] envygeeks commented on #4576
It never occurred to me this might be a RubyGems problem, but that's probably because we can't even upgrade past 2.6.1 because we run into https://github.com/rubygems/rubygems/issues/1602

[2016-06-18 05:25] chrismo commented on #3952
Some research. The mixed platforms are originating from the lockfile. This commit (https://github.com/rails/rails/commit/7008dfba6660d71463d0b82b20ac70e652174325) added them for Windows support. I don't know if Bundler is supposed to ditch those in favor of whatever platform is current or not.

If you edit your lockfile to remove those, then the message output is clearer ... on 1.12.5:

[code]

It

[2016-06-18 05:40] chrismo commented on #3952
No circular evidence yet - but seeing a very common conflict:
[code]

[2016-06-19 07:28] kares commented on #4587
make sure you `bundle install` under latest (1.12.5), if you're also using MRI same there. might help!

[2016-06-19 07:41] indirect commented on #4587
As far as I know, anything that breaks when invokedynamic is turned on is a big in JRuby. Please report this to them, but feel free to let us know if there is a bug in Bundler.

[2016-06-19 07:41] #4587 closed

[2016-06-19 13:28] #4376 closed

[2016-06-19 20:44] chrismo commented on #3952
Saw @segiddins pushed 0.5.0 Molinillo to master (8b82c6d77f4e280c14272da930dda8a0067688f1) and re-ran this (with the prior PLATFORMS edit in-place) and now it actually finishes, though took 152 seconds:

[code]

Prior runs on master a few commits older than this I'd leave running for 5+ minutes and it still hadn't finished. It appears to be giving thorough conflict info.

@segiddins, did the 1.12.

[2016-06-19 21:04] chrismo commented on #3952
also, i think the blank `arel` line is possibly a pre-release issue? The conflict is with 7.0.1.pre, not sure why it's just dumping a blank line.

[2016-06-19 21:07] hmistry commented on #4686
This looks similar to issue #3795 which was more of a jruby + openssl issue than a bundler issue.

[2016-06-19 21:07] chrismo commented on #3952
@segiddins - if I locally revert cfab22c4b21aa4190c7debdd12ff69ba0dcfb893 (and 1fedd9b86ead5d577ac8339e28b2558fe52c06fe) on master then I get the quick, but only arel-conflict, reported problem, same as 1.12.5:

[code]

[code]

[2016-06-19 21:32] hmistry commented on #4656
From your error log, it looks like you are missing some system libraries that Nokogiri requires to install. Since you have issues installing Nokogiri directly, the problem lies with Nokogiri and not bundler. See [Nokogiri installation guidelines](http://www.nokogiri.org/tutorials/installing_nokogiri.html) on installing it. If you are able to install Nokogiri directly but have problems with bundler

[2016-06-19 21:45] hmistry commented on #4616
Check out how the other issues with permission errors were resolved, like #4590, #4458, #4431, #4429. Let us know if any of those worked for you.

[2016-06-19 22:06] engBrunoSales commented on #4616
thats ok

2016-06-19 18:45 GMT-03:00 hmistry <notifications@github.com>:

--
Atenciosamente,
Bruno Sales
Graduado em Engenharia da Computação

Desenvolvedor I

Telefone: (85) 3034-8989
Celular: (85) 98915-7718
E-mail: bruno.sales@dyad.com.br
Skype: brunosales.dyad

[2016-06-20 05:08] #4686 closed

[2016-06-20 13:28] jcoleman commented on #4106
I can confirm that prior to 1.12.5 I saw this issue when referencing a gem with a git ref in my Gemfile but upgrading to 1.12.5 fixed it.

[2016-06-20 16:29] glennpratt commented on #4576
This may be a dup of #4402

[2016-06-20 16:41] envygeeks commented on #4576
I'm pretty sure 4602 comes after 4576.

[2016-06-20 16:56] glennpratt commented on #4576
Sure, just pointing out parallel conversation.

[2016-06-20 17:36] jkeiser opened #4690 "Minimal `bundle install`"
I'd like to have a truly minimal bundle install. My scenario is, I am using `Gemfile.lock` to lock my software, but sometimes I need to bump the version (and nothing else). When I bump the version, I end up with an invalid `Gemfile`, so I need to `bundle install` to fix it. When I do *that*, it updates all dependencies rather than just my gem, even if they still satisfy my constraints. This breaks

[2016-06-20 17:38] segiddins commented on #4690
`bundle update --source=gemname` should do it, iirc

[2016-06-20 17:40] jkeiser commented on #4690
@segiddins yep, I found that. It was surprising, however. Based on past behavior I never expect `bundle install` to touch a dependency unless it no longer satisfies my `Gemfile`. I'd *really* like `bundle install` to behave with Least Surprise, but if I need a `bundle install --minimal` flag, that would be a lot more discoverable :)

[2016-06-20 17:47] indirect commented on #4690
This honestly sounds like a regression to me. The intended behavior of `install` is to change versions as minimally as possible to allow installation—it should not update child dependencies if the original dependencies will work.

[2016-06-20 17:47] jkeiser commented on #4690
I put a repro up here:

https://github.com/jkeiser/bundle-repro/tree/bundler-4690

[2016-06-20 17:48] jkeiser commented on #4690
Basically if the last `bundle list` shows `bundle-test-bar (2.0.1)`, we upgraded dependencies.

[2016-06-20 17:49] jkeiser commented on #4690
This is with bundler 1.12.5, btw.

[2016-06-20 18:11] chrismo commented on #4690
@jkeiser prolly being dense, I can't get the repro to work. cloned it, checkout the branch, and neither bundle install nor the .sh script work for me - is this supposed to be the Gemfile? https://github.com/jkeiser/bundle-repro/blob/bundler-4690/Gemfile

[2016-06-20 18:16] jkeiser commented on #4690
@chrismo updated. `./repro.sh` is what ought to do the repro.

[2016-06-20 18:16] jkeiser commented on #4690
The top level Gemfile wasn't supposed to be there :)

[2016-06-20 18:18] jkeiser commented on #4690
This is the output I get from said repro: https://gist.github.com/jkeiser/108b9b1a55b0bc0506dba6c554ee51fc

[2016-06-20 19:37] jcoleman commented on #4106
@segiddins: A new wrinkle to add: vending doesn't work, but if I delete the cached gem it works.

Test case: https://gist.github.com/jcoleman/25c66a32c8338abb027471a0e8efe71a

If I run:
[code]
everything runs as expected.

But if I run:
[code]
then it fails as it is unable to load the native extension.

If after running the vendor/package example above I then run:
[code]
then it's back to working.

[2016-06-20 20:01] chrismo commented on #4690
Thx, got it working.

I don't think this is a regression, since foo 1.0.1 is an updated dependency AND bar is not a listed dependency in the Gemfile (I know, this is weird, keep reading), the children are available for updating as well. `bundle update bundle-test-foo` will also behave the same way.

http://bundler.io/v1.12/man/bundle-install.1.html#CONSERVATIVE-UPDATING
[code]
Note it calls out in

[2016-06-20 21:06] indirect commented on #4690
Aha. Yes, that is correct—conservative updating is only conservative for gems that are listed in the Gemfile, so this is not a regression.

@chrismo thanks for investigating!

@jkeiser for right now, you can use `bundler-patch` to give you better control over which gems get updated, and if you have time some feedback on #4676 would be great!

[2016-06-20 21:06] #4690 closed

[2016-06-21 08:43] Harishkris opened #4693 "Bundler cannot continue"
I was trying to do `bundle install --local` and ended up in this

--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/ubuntu/.rvm/gems/ruby-2.3.0/bin/bundle install`
- What did you expect to happen?

  I expected Bundler to...
- What happened instead?

  Instead, what actually happened was...

Error details

[code]

Envir

[2016-06-21 14:16] segiddins commented on #4693
Can you please share your Gemfile? Thanks!

[2016-06-21 15:49] segiddins commented on #3952
@chrismo the issue with just reverting those two commits is that it makes some of the _actual_ benchmarks we have (in ruby bench) 2x slower

[2016-06-21 16:02] chrismo commented on #3952
makes sense ... my best guess was this was an instance of perhaps a minority case that was accidentally made worse by the changes - I was trying to work it down to the bits that caused it, since I wasn't sure, due to my unfamiliarity.

[2016-06-21 20:08] segiddins opened #4695 "Bundler 2.0 breaking changes"
This is a list of breaking changes, mostly so I can ensure we have proper deprecation notices. But also generally helpful for release notes and blog posts, etc.
- Removal of `bundle_ruby` (in favor of `bundle platform --ruby`)
- Removal of `Bundler.clean_env` (in favor of `Bundler.original_env`)
- `:rubyforge`, `:gemcutter`, `:rubygems` sources
- Support for Ruby < 2.0
- Support for RubyGems < 2.4

[2016-06-22 04:19] LynnCo commented on #4695
There's a (likely outdated) list of breaking changes on the Yellow board also https://trello.com/b/DioUaKgx/bundler

[2016-06-22 04:45] segiddins commented on #4695
I can't get Trello to load at the moment ಠ_ಠ

[2016-06-22 04:48] segiddins opened #4696 "Add public_api.md file"
Let's do this for 2.0 --
public gemfile methods, public Bundler. methods, inline gemfiles, CLI, plugin API module, and -rbundler/setup

[2016-06-22 04:53] jerome-diver commented on #3891
@agis- Please tell us which information you need for be able to help instead of close issue from users asked for help ? Consider that if we allready know everything and which information to provide, maybe also we will not have issue (not sure)...

OK... i have the same problem, which information should be usefull to give for find an help and maybe find also a solution ? (please)

I do upgrade all

[2016-06-22 05:04] PikachuEXE commented on #4478
Just try `1.12.5` again now it works without issue
I haven't re-install ruby or upgrade openssl since my last comment submitted

[2016-06-22 05:32] LynnCo commented on #4695
Thats fair, I want to delete it soon anyway. Here's that list:

- [ ] [Stop auto-remembering any command flags](https://trello.com/c/yGsPNDpg/48-stop-auto-remembering-any-command-flags)
- [ ] [Add docs to config for all current remembered flags](https://trello.com/c/Bcx15aFl/49-add-docs-to-config-for-all-current-remembered-flags)
- [ ] [Default installs to --path ./.bundle/gems](https://trello.com

[2016-06-22 05:44] #4677 closed

[2016-06-22 05:47] chrismo commented on #4695
Since this is on my brain from today from the conservative updates PR - I think Bundler could support not going to older versions with `bundle update ... --strict` ... but without the `--strict` flag, stay as-is -- I think there are cases where it still needs to be supported.

[2016-06-22 06:05] Zatara7 commented on #4599
Thanks @stevensona that worked for me. Maybe should inform others using WSL because your answer was difficult to find.

[2016-06-22 11:03] Overbryd opened #4697 "bundler ignores path setting without local .bundle/config file"
Hello,

I am opening an issue because I think there might be something wrong with path settings.

**Prerequisites:**
[code]

**Problem:**
[code]

**Additional info:**
[code]

Please tell me if there is other information you need that I can help with to debug this issue.

[2016-06-22 11:44] raresm79 opened #4698 "Error while installing redmine"
hi,

I'm trying to setup redmine 3.3.0 in the following environment:

  Bundler   1.12.5
  Rubygems  1.4.2
  Ruby      2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]
  GEM_HOME  /usr/local/lib/ruby/gems/2.3.0
  GEM_PATH  /usr/local/lib/ruby/gems/2.3.0:/root/.gem/ruby/2.3.0
  Git       1.7.1

but when running command $bundler install I get the following error:

[root@ssredmine01 redmine]# bun

[2016-06-22 13:10] allenzhao commented on #4698
The message is about not running bundler as root. You might want to consider using a different user than root.

[2016-06-22 15:55] seanlinsley opened #4699 "Fails on git source uninstalled even though its group is excluded"
Note that the gem in question should be excluded because the groups it's contained in are excluded. And yet, `bundle install` fails because it's not installed.

We just discovered this while doing a deploy, which installs the latest version of Bundler (1.12.5), but I was also able to reproduce locally (1.11.2).

Here's an abbreviated version of the commands I ran locally to reproduce, and isolate

[2016-06-22 16:00] segiddins commented on #4698
@allenzhao that's not the issue... the problem is RubyGems 1.4.2 combined with Ruby 2.3, which means frozen string literals. Thanks for the issue, @raresm79 !

[2016-06-22 16:01] seanlinsley commented on #4699
Here's the verbose output (with the `.bundle/config` already set):
[code]

[2016-06-22 16:01] segiddins commented on #4699
Can you check the 1.13 prerelease? I seem to recall us spending time on this issue recently. Thanks!

[2016-06-22 16:05] segiddins commented on #4697
I couldn't reproduce this.

[code]

[2016-06-22 16:06] seanlinsley commented on #4699
I'm having trouble installing the prerelease version:
[code]

[2016-06-22 16:09] seanlinsley commented on #4699
Oh looks like it was looking up the Bundler version from `Gemfile.lock`. Manually editing that file got it to use the prerelease version.

Is there a better way of doing that?

[2016-06-22 16:11] seanlinsley commented on #4699
It looks like the prerelease version does indeed fix this issue 💖

[2016-06-22 16:13] segiddins commented on #4699
@seanlinsley `bundle update --bundler`

[2016-06-22 16:16] seanlinsley commented on #4699
Is that documented somewhere? For example I looked at `CONTRIBUTING.md` and it didn't mention it:

<img width="684" alt="screen shot 2016-06-22 at 11 15 33 am" src="https://cloud.githubusercontent.com/assets/688886/16274331/c32701ac-386a-11e6-91ed-b25c394a70f6.png">

[2016-06-22 16:21] seanlinsley commented on #4699
I'm only leaving this open as an opportunity to improve the documentation around using prerelease versions.

[2016-06-22 16:29] segiddins commented on #4699
@seanlinsley it's in the man page for bundle update, and is about a new feature in 1.13 (bundler version trampolining) rather than this being a prerelease

[2016-06-22 17:08] chrismo commented on #4493
I tried re-creating with 1.12.5 and the latest master of rails and it resolved both the same:

[code]

1.12.5 diff: https://gist.github.com/chrismo/c69afbe99e9d0259a062ec37deb0ce6e

fwiw

[2016-06-22 17:13] chrismo commented on #4682
https://github.com/livingsocial/bundler-patch

[2016-06-22 17:15] chrismo commented on #4653
see also #4478 for a similar SSL case and possible solution.

[2016-06-22 18:10] #4698 closed

[2016-06-22 20:08] Overbryd commented on #4697
Thank you for looking into this. Well indeed very weird, I also could not find a vanilla reproduction on my Mac.

The issue occured using Alpine Linux 3.4 within a Docker image.
I will try to provide a better reproducible case that does not include my whole project.

[2016-06-22 20:26] indirect commented on #4699
@seanlinsley thanks for pointing that out!

@segiddins ooh... we need to update the documentation for using prereleases now that the 1.13 prerelease will automatically trampoline to older versions 😅

[2016-06-22 20:51] chrismo commented on #4592
I think I've diagnosed this. It's a lot, so I may be missing stuff.

In 1.12.5 (and prior 1.12 versions), `bundle exec` calls a new method, `kernel_load` if the cmd to execute (`guard` in this case) has a ruby shebang in it. => https://github.com/bundler/bundler/blob/a65a2db118ed714586ac4c56a0584c97bf0305df/lib/bundler/cli/exec.rb#L24

Inside `kernel_load` - "bundler/setup" is required. => https:/

[2016-06-22 20:54] Overbryd commented on #4697
I am back, and I could reproduce it consistently when using the Alpine Linux 3.4 Docker image.
As described in the issue, pretty much everything is standard stuff (latest Ruby version, up to date Rubygems and latest Bundler) except for the local `.bundle/config` that I cannot provide for this image, but I expect a user setting in `~/.bundle/config` should suffice.

All the steps, including the Doc

[2016-06-22 20:56] chrismo commented on #4592
changing that code to be `nil` makes this pass - but that code is ooooold ... so no idea how risky that is otherwise.

[code]

[2016-06-22 21:01] chrismo commented on #4697
#4592 might be related?

[2016-06-22 21:03] segiddins commented on #4592
@chrismo a PR changing to to `nil` would be great :D

[2016-06-22 21:23] chrismo commented on #4592
I ran it locally, and got mixed results on specs, but then again I don't think I've run the whole suite locally recently, so I'll push up a PR in a bit.

[2016-06-22 21:48] stevensona commented on #4599
@Zatara7 Any idea how to get the word out?

[2016-06-22 21:55] patcon commented on #4475
just hit the same thing for the same commit object

[2016-06-22 21:55] chrismo commented on #4697
hmmm, I can recreate in the docker image ... and i don't see disable_shared_gems set to true, so that would preclude the #4592 issues probably ...

[2016-06-22 22:20] chrismo commented on #4697
I'm not sure this is a bundler problem?

[code]

[2016-06-22 22:27] chrismo commented on #4697
`RUN su` in the Dockerfile may be causing the problem? ... saw a stackoverflow saying to use `USER` not `RUN su app`

http://stackoverflow.com/questions/24549746/switching-users-inside-docker-image-to-a-non-root-user
https://docs.docker.com/engine/reference/builder/#user

[2016-06-22 22:57] Overbryd commented on #4697
##### Reply to https://github.com/bundler/bundler/issues/4697#issuecomment-227895150

I still think this might be related #4592. Let me elaborate:

As you ran `bash-4.3$ bundle` (bundling again) it creates a local `.bundle/config` file.
If that is present, `bundle exec rake` works as expected. If you remove the local `.bundle/config`, it still has the **--global** config in `~/.bundle/config` that

[2016-06-22 23:06] chrismo commented on #4697
What's your need behind `bash-4.3$ rm .bundle/config`? Dockerfile has this in it, too.

[2016-06-22 23:19] chrismo commented on #4697
a way you can test if it's #4592 is install 1.11.2 and see if it works fine.

[2016-06-23 00:20] Overbryd commented on #4697
##### Reply to https://github.com/bundler/bundler/issues/4697#issuecomment-227903768

The idea was to configure bundler with a user configuration. So that the Dockerfile can be used as a standalone for running it somewhere else and as a _volume_ mounted local development environment. Mounting the local application source as a volume will override anything, also bundle configuration. Therefore I wo

[2016-06-23 00:20] #4697 closed

[2016-06-23 03:02] chrismo commented on #4697
cool cool

[2016-06-23 04:45] chrismo commented on #4592
First shot tests passing, just pushed up a legit commit with a small method extract and a spec to match. We'll check on it mañana.

[2016-06-23 10:42] b-ggs commented on #4664
Quick question about the spec:

For context:
[code]

So I'm checking out how `bundle outdated` determines whether there are updates, and it seems that it only picks up that `ruby` is the only platform specified in the Gemfile.
[code]

Despite the fact that `dependency` lists both `ruby` and `jruby as the platforms.
[code]

If I remove `ruby` from the Gemfile and just put the following in:
[code]

[2016-06-23 16:43] jasonrclark opened #4703 "Odd behavior with/without --deployment option"
I noticed some peculiarities working with a local gem with and without using `--deployment` on installing our bundle. I've set up a demonstration repo at https://github.com/jasonrclark/odd-deployment.

Note that the setup of my gem isn't quite standard (see section below), so maybe this is expected but I found at least part of what happened surprising.
## The Behavior

If I run a normal `bundle in

[2016-06-23 16:45] #4592 closed

[2016-06-23 16:50] pnomolos commented on #2644
I believe this issue may exist within a very narrow scope.  I have the following set up:

- I'm using rbenv
- A project which uses a local gem via `bundle config local.GEM_NAME`
- binstubs generated in the project
- binstubs generated in the local gem
- I'm using Bundler version 1.12.5

When trying to run `bin/guard` I get the following error:

[code]

I have verified the following:

- My PATH doe

[2016-06-23 16:54] segiddins commented on #2644
@pnomolos please open a new issue, as this one is closed

[2016-06-23 16:55] pnomolos opened #4705 "Gem.bin_path references local gem's bin directory"
I believe issue #2644 may still exist within a very narrow scope.  I have the following set up:

- I'm using rbenv
- A project which uses a local gem via `bundle config local.GEM_NAME`
- binstubs generated in the project
- binstubs generated in the local gem
- I'm using Bundler version 1.12.5

When trying to run `bin/guard` I get the following error:

[code]

I have verified the following:

- My P

[2016-06-23 16:58] segiddins commented on #4705
What's the output of `bundle env`? Can you share a repo that reproduces the issue? Thanks!

[2016-06-23 17:00] segiddins commented on #4703
Awesome, thanks for the repro case? Quick question -- does this still happen in 1.13.0.pre.1?

[2016-06-23 17:02] pnomolos commented on #4705
`bundle env` output: https://gist.github.com/pnomolos/f0dc2ace4131fe0347d7a43f888afa35

Unfortunately I don't have a repo that reproduces the issue.  I'll see if I can generate a test case that does so.

[2016-06-23 17:20] pnomolos commented on #4705
Test project created: https://github.com/pnomolos/testproject

- Clone project
- Run `bundle install` in both directories
- Attempt to run `bin/guard` from the "project" directory.

[2016-06-23 17:27] pnomolos commented on #4705
An extra note: This is extra annoying with `guard` because that binstub actually calls `_guard-core`, so even if you hardcode the load path in `bin/guard` it'll fail when `_guard-core` is called.

[2016-06-23 20:52] jasonrclark commented on #4703
@segiddins Went to try it out, but even though I have 1.13.0.pre.1 installed, every time I bundle it installes 1.12.5 and tries to use that instead. Is there some trick to persuade things to use the prerelease version?

[2016-06-23 20:58] chrismo commented on #4703
`bundle update --bundler` will upgrade the BUNDLED_WITH section to 1.13.0.pre.1

[2016-06-23 21:04] jasonrclark commented on #4703
Thanks @chrismo! That did the trick.

Results were still the same on latest pre-release version.

[code]

[2016-06-23 21:24] indirect opened #4706 "Print only version number from `bundler --version`"
It's much easier for programs to consume Bundler's version number if only the version is printed. Instead of printing "Bundler version 2.0.0", let's just print "2.0.0".

(PRs for this issue should be made against the `2-0-dev` branch.)

[2016-06-23 21:29] indirect opened #4707 "Print an outdated warning (once) when a project is locked to an old version of Bundler"
As of Bundler 1.13.pre.1, just installing new versions with `gem install bundler` does not mean that the new version will be used when you run `bundle install`. Instead, the version of Bundler listed in the Gemfile.lock will be used. To update the version of Bundler in the Gemfile.lock, and start using the newest version of Bundler possible, users need to run `bundle update --bundler`.

When a use

[2016-06-24 01:55] b-ggs commented on #4707
Working on this.

[2016-06-24 01:58] chrismo commented on #4703
@jasonrclark I can't recreate. Am I missing any steps? If not can you post your `bundle env`?

https://gist.github.com/chrismo/f6583f3a7f530eaed715abb28de8f7be

[2016-06-24 07:19] shankar97 opened #4710 "Bundle Install not working"
$ bundle install
Ignoring nokogiri-1.6.7.2 because its extensions are not built.  Try: gem pristine nokogiri --version 1.6.7.2
Ignoring redcarpet-3.3.4 because its extensions are not built.  Try: gem pristine redcarpet --version 3.3.4
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/local/bin/bundle install`

- What did

[2016-06-24 15:57] Zatara7 commented on #4599
You could possibly add a new issue here with the solution:
https://github.com/Microsoft/BashOnWindows

I tried creating a subreddit for this but haven't had time to work on it.
https://www.reddit.com/r/winbash

On Wed, Jun 22, 2016 at 4:48 PM, Adam Stevenson <notifications@github.com>
wrote:

[2016-06-24 16:26] segiddins commented on #4706
Done in https://github.com/bundler/bundler/issues/4708

[2016-06-24 16:26] #4706 closed

[2016-06-24 16:59] pnomolos commented on #4705
@segiddins Not sure if you've had a chance to look at this yet, but just wanted to make sure the repo reproduces the issue for you also, and not just me :)

[2016-06-24 17:16] segiddins commented on #4705
@pnomolos just repro'd it and have a fix locally, just need to test it!

[2016-06-24 17:18] pnomolos commented on #4705
@segiddins Cool, that was quick! Just wanted to make sure I was being as helpful as possible :)

[2016-06-24 17:28] segiddins commented on #4705
No you definitely were :D thanks for the excellent report case, it made it super-easy to fix the bug :)

[2016-06-24 18:59] jasonrclark commented on #4703
Hmm, my steps seem to have gotten off the path partway through. Your first `bundle install` bumped the `Gemfile.lock` version to 0.2.0 makes things work.

Try this and see if it dups for you:

[code]

[2016-06-24 19:18] chrismo commented on #4703
Ah - that does recreate:

[code]

[2016-06-24 19:27] segiddins commented on #4666
I honestly can't think of a good way of doing this

[2016-06-24 19:27] segiddins commented on #4641
This is already done, see https://github.com/bundler/bundler/blob/dca6d26833ddd9d9de658bef7274c8fa21014c44/lib/bundler/friendly_errors.rb#L74

[2016-06-24 19:55] #3714 closed

[2016-06-24 20:18] chrismo commented on #4703
This is a complicated one, /me taking a break. Been stepping through it for a while - somewhere `nope` is intentionally being skipped over because it's a locally pathed source is the best I can figure. This feels like a mismatch of intended functionality, similar to what you call out in What's Weird ... `--deployment` won't update the lockfile (I think - frozen and deployment are related - https:/

[2016-06-24 21:07] LynnCo commented on #4641
👍

[2016-06-24 21:07] #4641 closed

[2016-06-24 21:09] LynnCo commented on #4666
cc @errordeveloper in case you want to figure this out

[2016-06-24 22:58] jasonrclark commented on #4703
Thanks for all the digging @chrismo! I bet you're right that I'm asking something conflicting.

I did a bit of digging myself, and the main point of divergence between the `bundle install` and `bundle install --deployment` that I'm seeing is around https://github.com/bundler/bundler/blob/master/lib/bundler/definition.rb#L215-L227. In particular `last_resolve` only has `minitest` and `rake` in it b

[2016-06-24 23:18] #4653 closed

[2016-06-25 00:38] segiddins opened #4719 "[2.0] Restore matrix for ruby, rubygems >= 2.0"

[2016-06-25 00:42] alexgpark commented on #3674
How do you grant permissions

[2016-06-25 00:56] chrismo commented on #4703
This method gets called many times, but the last time, as best I could tell, is where `nope` was getting dropped -- I think: https://github.com/bundler/bundler/blob/master/lib/bundler/spec_set.rb#L17-L55

[2016-06-25 02:42] #4705 closed

[2016-06-25 05:27] LynnCo commented on #4659
ping @Nowaker

[2016-06-25 05:41] LynnCo commented on #4478
@chrismo this issue is resolved yea?

[2016-06-25 05:44] LynnCo commented on #4568
@asutoshpalai what's the status on this issue?

[2016-06-25 09:53] allenzhao commented on #4665
Any updates/thoughts on this?
I want to pick up this btw

[2016-06-25 15:41] chrismo commented on #4478
Yeah, I'd say so.

[2016-06-25 15:42] RochesterinNYC commented on #4665
Go ahead. @allenzhao

@indirect thoughts on the personal vs. official account thing?

[2016-06-25 16:45] #4478 closed

[2016-06-25 16:56] b-ggs commented on #4631
This spec seems to pass on the current Bundler `master` branch.

[code]

[2016-06-25 17:01] b-ggs commented on #4657
Working on this.

[2016-06-25 17:18] hmistry commented on #4710
The error is because `bundler` does not have permissions to access that folder. Please check your folder permissions and try again. Also, check out how the other issues with permission errors were resolved, like #4458, #4429. Let us know if you still have problems after you've got the right folder permissions set.

[2016-06-25 17:55] kristena11 opened #4721 "Blunder stopped working out of the blue:"
When I try to bundle update I get this message:

--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/local/rvm/gems/ruby-2.3.0/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission d

[2016-06-25 19:03] #4721 closed

[2016-06-26 08:59] mayureshmayur opened #4722 "Bundle install error"
D:\MyWork\ruby\vish>bundle install
## --- ERROR REPORT TEMPLATE ------------------------------------------------------
- What did you do?

  I ran the command `C:/Ruby22/bin/bundle install`
- What did you expect to happen?

  I expected Bundler to...
- What happened instead?

  Instead, what actually happened was...

Error details

[code]

859b0e92fd30113775f2613
      C:/Ruby22/lib/ruby/gems/2.2.

[2016-06-26 12:27] ioquatix opened #4723 "Add support to reinstall borked gem, e.g. rmagick, nokogiri"
Lots of gems either fail to work (e.g. rmagick) or create a lot of noise (e.g. nokogiri) when the system library has been updated but the gem hasn't been changed, i.e. it's still linking against the old version.

Presently, there is no easy way to fix this without understanding how to use the gem command to uninstall and then reinstall the misbehaving gem.

e.g.

    GEM_HOME=./vendor/bundle/ruby/

[2016-06-26 13:04] segiddins commented on #4722
It looks like you're trying to install a git gem without git installed.

[2016-06-26 14:03] segiddins commented on #4723
`bundle install --force` should do just that!

[2016-06-26 14:47] mohsennasr opened #4724 "metasploit install failed"
user@USER-PC:/opt/metasploit-framework$ bundle install
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/local/bin/bundle install`
- What did you expect to happen?

  I expected Bundler to...
- What happened instead?

  Instead, what actually happened was...

Error details

[code]

Environment

  Bundler   1.12.5
  Rubyg

[2016-06-26 17:15] mayureshmayur commented on #4722
D:\MyWork\ruby\vish>bundle
Fetching gem metadata from http://rubygems.org/..........
Fetching version metadata from http://rubygems.org/...
Fetching dependency metadata from http://rubygems.org/..
Resolving dependencies.................
Using rake 10.5.0
Using Ascii85 1.0.2
Using i18n 0.7.0
Using multi_json 1.11.2
Using builder 3.0.4
Using erubis 2.7.0
Using journey 1.0.4
Using rack 1.4.7
Using hi

[2016-06-26 20:30] maplion commented on #3640
This is awesome and it worked for me too, thank you!

For my edification, however, I would appreciate if someone could explain (in detail) what is going on here and why this fixes it.

[2016-06-26 21:02] indirect commented on #3640
@maplion somehow, while the `Gemfile` had smart quotes in it, Bundler created an invalid `Gemfile.lock` file that did not contain `rake`. The solution was to delete `Gemfile.lock` and re-create it by running `bundle install`.

[2016-06-26 21:06] maplion commented on #3640
@indirect   I see, thank you Andre.

[2016-06-26 21:14] indirect commented on #4723
A very easy way to use the gem command is to run `bundle exec gem pristine GEMNAME` (and we are working on a `pristine` command for Bundler right now). But `bundle install --force` should also work!

[2016-06-26 21:14] #4723 closed

[2016-06-26 23:56] RochesterinNYC opened #4725 "`bundler` and `bundle` executables should be the same functionally"
The `bundler` executable (https://github.com/bundler/bundler/blob/master/exe/bundler) should functionally be the same as the `bundle` executable (https://github.com/bundler/bundler/blob/master/exe/bundle).

Ideally, this would be done in a way that doesn't involve duplication of code and doesn't require updating code in two places when a change is made to the `bundle` executable.

[2016-06-27 00:08] ioquatix commented on #4723
It's interesting because I tried --force but it still installed the old gem, perhaps from cache, last time I tried.. I'll try again and report back.. not sure fi the issue is closed yet..

[2016-06-27 00:15] ioquatix commented on #4723
[code]

Is it possible that `bundle install --force` is only installing direct dependencies?

[2016-06-27 00:19] ioquatix commented on #4723
Trying to use `gem pristine`:

[code]

[2016-06-27 00:20] ioquatix commented on #4723
[code]

So, it's definitely there..

[2016-06-27 00:33] ioquatix commented on #4723
I've come to the conclusion it's nothing to do with bundler, my apologies. I removed the vendor directory and reinstalled everything.. not change.. something weird in nokogiri?

[2016-06-27 01:21] indirect opened #4726 "Rescue and explain failed `remove_entry_secure`"
As revealed by #4722, sometimes `FileUtils.remove_entry_secure` will raise an error like this one:

We need to catch this error and explain that it is a security vulnerability to allow your home directory to be world-writable. We should also explain the fix (which is probably (?) to run `chmod o-w ~`). There is a longer description of the times when the error can be raised in the [FileUtils#remove

[2016-06-27 01:22] indirect commented on #4724
Your home directory is world-writable, which isn't safe. You need to remove write permissions from your home directory (which appears to be `/home/user/`), and then run `rm -rf /home/user/.bundle` and try again.

[2016-06-27 10:23] cduez commented on #4602
rubygems **2.6.6** and bundler **1.12.5** here.

After some minor digging i also found that's related to the change on the `activate_bin_path`.

I have noticed that we can't run bundler inside bundler, eg: `bundle exec bundle version` when the binstub contains the `activate_bin_path`.

With a rails project for example, it works because you call the rails binstub in the app folder `bin/bundle` whic

[2016-06-27 11:32] asutoshpalai commented on #4568
I shall try to make a PR today :dart:

[2016-06-27 13:02] mohsennasr commented on #4724
thank you for your answer. but my home directory is not world writable! my home directory permissions is "drwxr-xr-x"

[2016-06-27 14:32] HoneyryderChuck opened #4728 "bundler not respecting no_proxy"
We have this setup where we have our internal gem server for private gems behind the proxy, and we access rubygems using ssl through the proxy. Until now, we had something like this:

[code]

This worked. Recently we upgraded the frontend to also reroute requests coming from the backend, and these require ssl. So we wanted to change to:

[code]

This doesn't work, however, as bundler uses net/http

[2016-06-27 14:43] segiddins commented on #4725
This can easily be done by changing the `bundler` executable to be `load File.expand_path("../bundle", __FILE__)`

[2016-06-27 16:23] allenzhao commented on #4726
I will work on this

[2016-06-28 02:28] b-ggs commented on #4664
@RochesterinNYC I've investigated further after having installed JRuby.

[code]

At this breakpoint, the `select` method is only picking out the `spec`s whose `spec.platform` matches the `current_spec.platform`.

The issue here lies in the following:
[code]

As can be observed here, `spec` which contains the updated version of `laduradura`'s `platform` is `!=` to the `current_spec`'s `platform`.

[2016-06-28 02:30] b-ggs commented on #4664
@RochesterinNYC One workaround is using `to_s` on the `platform` so the two can be correctly compared against each other.

[code]

[2016-06-28 02:33] b-ggs commented on #4664
@RochesterinNYC Also, I have a question. Wouldn't the spec you gave in the issue description not work at all, since Travis only runs the specs in Ruby?

One of the ways I can see the spec working is if I remove the entire `select` block that filters out different platforms, but that would break other specs associated with reporting only outdated gems of the same platforms.

[2016-06-28 11:04] mohsennasr commented on #4724
any idea?!

[2016-06-28 13:58] segiddins commented on #4664
@b-ggs use https://github.com/bundler/bundler/blob/58fc66897b156ce91eb98710f7708f8abe36c806/lib/bundler/match_platform.rb#L8

[2016-06-28 20:36] #4568 closed

[2016-06-28 21:51] segiddins commented on #2865
I think we can close this as infeasible as long as we have mostly integration specs

[2016-06-28 21:52] segiddins commented on #4459
Closing as presumably fixed

[2016-06-28 21:52] #4459 closed

[2016-06-28 22:06] segiddins commented on #4436
[code]

[2016-06-29 04:33] RochesterinNYC commented on #4664
@b-ggs Let's try the string comparison (only if the types of `current_spec.platform` and `spec.platform` don't match) for a first implementation.

You can simulate running as JRuby (or any other Ruby engine) in the specs with `simulate_ruby_engine`: https://github.com/bundler/bundler/blob/master/spec/support/helpers.rb#L352

Ex. https://github.com/bundler/bundler/blob/master/spec/other/platform_sp

[2016-06-29 05:31] b-ggs commented on #4664
@segiddins @RochesterinNYC Gotcha. Let me open a PR with an initial solution.

[2016-06-29 05:45] b-ggs commented on #4657
@segiddins Could you perhaps explain further what you mean by `Checkin whether the conflicting gem has pre-release versions that satisfy all dependencies`

I've managed to reproduce the issue and rescue the `VersionConflict` exception from one of the cases in the issues linked above. Still not clear to me what to do moving forward though.

[2016-06-29 08:40] b-ggs commented on #4725
I'll work on this.

[2016-06-29 16:47] dinhxuanvu opened #4736 "Bundler 1.3.5 won't override gem source with mirrors"
I tried to use `bundle config mirror.https://rubygems.org $RUBYGEM_MIRROR` to allow `bundle install` to download gem packages from a mirror instead of the default source repo. However, unfortunately, it doesn't work. I notice that I'm using Bundler 1.3.5 and the 'override gem sources with mirrors' feature is not introduced until Bundler 1.5.0. I wonder if there is a way to override the gem source

[2016-06-29 16:57] segiddins commented on #4736
We recommend ipdating to the latest bundler version, 1.12.5

[2016-06-29 16:59] dinhxuanvu commented on #4736
I wish I can but kind of stuck at that version due to some restriction unfortunately. :(

[2016-06-29 19:25] indirect commented on #4736
@dinhxuanvu Bundler 1.3.5 does not include a way to configure gem mirrors. As you noticed, we introduced mirror configuration in Bundler 1.5.

[2016-06-29 19:25] #4736 closed

[2016-06-29 20:09] krischery2150 opened #4737 "Having Problems with bundle install gem install libv8 -v '3.16.14.13'"
Kriss-MacBook-Pro:Omega2150.v3 krischery$ gem install libv8 -v '3.16.14.13'
Building native extensions.  This could take a while...
ERROR:  Error installing libv8:
	ERROR: Failed to build gem native extension.

    /Users/krischery/.rbenv/versions/2.2.3/bin/ruby -r ./siteconf20160629-4519-ipbbn6.rb extconf.rb
creating Makefile
Compiling v8 for x64
Using python 2.7.10
Using compiler: /usr/bin/c++ (

[2016-06-29 20:16] indirect commented on #4737
Please ask the author of the gem about this problem, Bundler just does what the gem says to do.

[2016-06-29 20:16] #4737 closed

[2016-06-30 13:00] allenzhao commented on #4665
Note:
https://www.appveyor.com/docs/installed-software#ruby
Documentation says some rubies are already installed but with bundler
Will this affect build process?
And btw, https://github.com/bundler/bundler/pull/4299 might be a starting point for me

[2016-06-30 13:15] RochesterinNYC commented on #4665
I don't believe that the test suite will use the system Bundler.

[2016-06-30 17:36] PChambino opened #4739 "Package command updates lock file when using a "path" gem"
#### What you're trying to accomplish

I am using `bundle package --all` to package the gems of a project which contains a "path" gem.

Example Gemfile:

[code]
#### The command you ran

`bundle package --all`
#### What you expected to happen

For the gems to be packaged at `vendor/cache` and the `Gemfile.lock` to remain the same.
#### What actually happened

The `Gemfile.lock` was updated, the `r

[2016-07-01 10:29] h8rry commented on #4472
I am getting this error after upgrading to Rails 5.0 today. I am using 1.12.5. Any thoughts?

[2016-07-01 11:48] segiddins commented on #4739
it is the intended behavior, otherwise path gems could not be used in a frozen bundle

[2016-07-01 21:05] LynnCo commented on #4679
Related https://github.com/rubygems/rubygems.org/issues/1335

[2016-07-02 04:07] davidslee101 opened #4742 "Error"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/Users/davidlee/.rvm/rubies/ruby-2.3.1/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied @ dir_s_mkdir - /Users/davidlee/.bu

[2016-07-02 08:14] ddfreyne commented on #4467
I am having the same issue (e.g. [nanoc/nanoc.ws buid #873 on Travis CI](https://travis-ci.org/nanoc/nanoc.ws/builds/141813221)). This issue only happens on Travis, but not on my local machine.

[2016-07-02 08:25] XhmikosR commented on #4467
Personally I managed to workaround the issue by removing the jobs parameter.

[2016-07-02 17:50] allenzhao commented on #4742
Seems like you're having a permission issue.
Try running `sudo chown -R davidlee $HOME/.rbenv` then run bundler again.

[2016-07-03 06:39] #4725 closed

[2016-07-03 18:47] prashantravidarshan opened #4747 "issue on bundle command"
Hello There

I am using ubuntu 14.04 and working on rvm 2.2.4 .

Here My gemfile.

source 'https://rubygems.org'

# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '4.2.5'
gem 'carrierwave'
gem 'mini_magick'
gem 'will_paginate', '3.1.0'
gem 'bootstrap-will_paginate', '0.0.10'
gem 'bcrypt', '3.1.11'
gem 'fog'

gem "jquery-rails",'>= 1.0.0'

# Use SCSS for stylesheets
gem

[2016-07-04 00:25] b-ggs commented on #4635
I'll be working on this! :+1:

[2016-07-04 01:39] #4707 closed

[2016-07-04 03:28] WildDylan commented on #3674
chmod 777 <your dir>

[2016-07-04 03:36] #4546 closed

[2016-07-04 14:40] vasudhar opened #4748 "I've installed Ruby 2.3.1 and rails 5.0 . I'm able to run server on new applications but not on applications which are already existing in my system. I get the following error."
What did you do?

  I ran the command `/Users/vasu/.rvm/gems/ruby-2.2.2@surveil/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::ENOTSUP: Operation not supported @ dir_s_mkdir - /home/lmcoutcomes
      /Users/vasu/.rvm/rubies/ruby-2.2.2/lib/ruby/2.2.0/fileutils.rb:252:in

[2016-07-04 14:50] allenzhao commented on #3344
For this issue, I want to mention that currently the check is based on `Gemfile.lock`, that means whenever a user runs bundle package, `Gemfile.lock` will not be changed - and that is expected. So when we look from Gemfile.lock, we can't decide whether it was packaged or not.
So maybe we need add logic to check if /vendor/cache exists?

[2016-07-04 15:04] allenzhao commented on #3344
But on a second thought, if a user deletes /vendor/cache, we don't have this evidence.
Maybe we need other evidence?

[2016-07-04 15:37] arielelkin opened #4749 "gem install bundler fails: no implicit conversion of nil into String"
[code]

[2016-07-04 15:48] saizai opened #4750 "undefined method `destination' on an instance of Object"
I ran the command `/Users/saizai/.rvm/gems/rbx-3.41@global/bin/bundle update`

Error details

    NoMethodError: undefined method `destination' on an instance of Object.
      core/zed.rb:1368:in `destination (method_missing)'
      core/symbol.rb:151:in `to_proc'
      core/array.rb:93:in `map'
      /Users/saizai/.rvm/gems/rbx-3.41@global/gems/bundler-1.12.5/lib/bundler/vendor/molinillo/lib/moli

[2016-07-04 19:05] saizai commented on #4750
See also https://github.com/rubinius/rubinius/issues/3678

[2016-07-04 23:22] indirect commented on #4750
Hi, thanks for reporting this error. According to the backtrace you provided, the error is occurring inside Rubinius—this doesn't seem to be a Bundler issue. I suggest you ask the Rubinius team about it, and let us know if they say it is somehow an issue with Bundler.

[2016-07-04 23:22] #4750 closed

[2016-07-05 04:28] indirect commented on #4635
I'm not completely sure this makes sense—gems created by checking out a git repo and then running `git build` could have any version. They might have the same version as the last released version of the gem, they might have the version of an unreleased version of the gem, it could be anything. As soon as you create a .gem file, you lose the sha that the git gem was created from.

Beyond that, thou

[2016-07-05 05:54] indirect opened #4752 "Bundler version warning should not print when versions match"
Using the master branch:

[code]

As you can see... I am running the version of Bundler that this project uses. Maybe we didn't test this when there is no lockfile?

/cc @RochesterinNYC @b-ggs

[2016-07-05 06:07] indirect opened #4753 "Trampoline version message UX problems"
Here's what I did:

[code]

After running `bundle install`, no output appeared for approximately 10 seconds. That's too long, and it makes it seem like Bundler has frozen. When you run `bundle install`, it should _immediately_ print a message like "Switching to locked Bundler version 1.12.0...". Then, if 1.12.0 still needs to be installed, we can optionally print something like "Downloading and in

[2016-07-05 06:22] indirect opened #4754 "The show command could be a lot better"
This is the help for the `bundle show` command:

[code]

We don't actually have `--no-paths`, `--no-outdated`, or `--no-verbose` options, so we should remove those if Thor will let us. Showing `--no-color` and `--no-no-color` is... pretty silly. Let's change that to (if we must) `--color` and `--no-color`, or better yet only `--no-color`.

Right now `bundle show` lists gem names, while `bundle sho

[2016-07-05 06:30] indirect opened #4755 "Suppress gem building logs in test output"
Recently, it appears that tests have started to print extremely verbose log output, like this:

[code]

This output is printed into the terminal even when running tests that pass on Travis. All that extra output is making it hard to find the actual output that we want, so it would be great if we could stop printing those messages.

[2016-07-05 09:29] saizai commented on #4750
@indirect This issue is cross-referenced at the rubinius report above.

[2016-07-05 10:48] CarefreeSlacker commented on #4260
Also you can integrate bundler with RVM.
https://rvm.io/integration/bundler
It will allow you to switch between different ruby versions easily.

[2016-07-05 12:34] segiddins commented on #4753
Why shouldn't bundle -v print out the version that will run?

[2016-07-05 12:35] segiddins commented on #4754
@indirect there was a PR to fix the -no-no-color thing months ago that never got your r+

[2016-07-05 17:41] kianw commented on #4467
Also seeing this with `ffi` dependency, on my local, using 1.12.5 or 1.11.2.  Works when I use 1.10.6:
`bundle _1.10.6_ install`

[2016-07-05 18:38] segiddins commented on #4753
@indirect I believe it prints twice since the trampoline is unable to access Bundler.settings -- it won't print twice when trampolining to a version >= 1.13.0.rc.1

[2016-07-05 18:39] segiddins commented on #4753
I also personally think it shouldn't print anything different when installing, as that's simply just noise and is liable to break anything that depends upon bundler output

[2016-07-05 20:21] #4755 closed

[2016-07-05 22:12] daddie888 commented on #1918
Nice, after 3 yearns still not fixed, shame on you

[2016-07-05 22:20] RochesterinNYC commented on #4752
Hm, I'm unable to reproduce this.

[code]

`dbundle env`:
[code]

Anything out of the ordinary here? What's your setup? @indirect

[2016-07-05 22:51] indirect commented on #4752
@RochesterinNYC your env points to the culprit:

[code]

[2016-07-05 23:01] RochesterinNYC commented on #4752
Hm, okay, still happening for me after I've enabled POSTIT. Something else I'm missing?

[code]

[2016-07-05 23:09] indirect commented on #4752
Hmmmm that's odd. I just reproduced it on another machine:

[code]

[2016-07-06 05:37] indirect commented on #4753
@segiddins It's a non-starter to run `gem install bundler`, see "Installed Bundler 1.13" and then have `bundle -v` print an older version. If you run `bundle -v`, it should print the version of the gem that you have installed and that was invoked by the `bundle` command. If you want to also show the version that will be used to run other commands, we could print that as well, maybe something like

[2016-07-06 05:43] indirect commented on #4631
hooray! @b-ggs, can you open a PR that adds that spec, so we can guarantee this won't break again?

[2016-07-06 05:51] indirect commented on #4488
@segiddins I looked at #4491, and I still don't understand why fixing this is impossible... can you explain with words instead of code?

[2016-07-06 07:00] b-ggs commented on #4752
I'll work on reproducing this and fixing it up if needed haha

[2016-07-06 07:17] b-ggs commented on #4753
I agree with printing out something before it starts fetching an older bundler gem. Recently, I was working at a place that had an intermittent connection, and I was wondering why `dbundle` was taking so long to run. Turns out, it was attempting to get an older version of `bundler`, and was failing.

It would have been nice to know that before I `Ctrl-c`'d out.

---

As for this, it's because, as

[2016-07-06 07:38] b-ggs commented on #4631
@indirect Will do! :+1:

[2016-07-06 08:11] voelzmo commented on #4535
@segiddins @LynnCo any update on this? Is this a bug or are we expecting the wrong thing here?

[2016-07-06 08:34] PaulcyMboungou opened #4757 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
Unfortunately, an unexpected error occurred, and Bundler cannot continue.

[2016-07-06 08:36] LynnCo commented on #4535
@loewenstein that file has since changes so the line you linked is just a comment :(

@voelzmo - segiddins will look into it and figure that out, in the meantime I'll keep this labeled triage

[2016-07-06 08:50] LynnCo commented on #4739
@PChambino I figure

is a reasonable explanation for the behavior? If so we can close this

[2016-07-06 08:51] LynnCo commented on #4742
@davidslee101 ping

[2016-07-06 08:55] LynnCo commented on #4747
@prashantravidarshan Github is parsing the gemfile contents as markdown headers, also the issue you created contains a lot of boilerplate

[2016-07-06 09:01] LynnCo commented on #4748
@vasudhar A similar error message is reported here https://github.com/bundler/bundler/issues/3990, see if anything in that thread resolves your issue?

[2016-07-06 09:08] LynnCo commented on #4748
Related to this, https://github.com/bundler/bundler/pull/4408 was about showing an error message for `Errno::ENOTSUP` but I'm not sure why that's not being displayed here

[2016-07-06 09:23] LynnCo commented on #4757
@PaulcyMboungou please edit your issue to include terminal output as text (not a picture) and follow [issue guidelines](https://github.com/bundler/bundler/blob/master/ISSUES.md) more closely.

[2016-07-06 11:15] allenzhao commented on #4752
I’m also getting the same error on master ;(

On Wed, Jul 6, 2016 at 3:00 PM, Boggs <notifications@github.com> wrote:
I'll work on reproducing this and fixing it up if needed haha

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub [https://github.com/bundler/bundler/issues/4752#issuecomment-230693991] , or mute the thread [https://g

[2016-07-06 11:32] mvz opened #4758 "bundle exec temporarily allows access to gems outside of bundle"
Short version: Given an installed gem `foo`, running `bundle exec ruby -rfoo -e 'puts "hello"'` will load `foo` even if it's not part of the bundle.

Concretely, I'm encountering issues with this when
- I have `json` 2.0.1 installed
- I have `simplecov` and `json` 1.8 in the bundle
- I have the option `-rsimplecov` in my rspec task
- I run `bundle exec rake`
  The result seems to be that simplecov

[2016-07-06 12:43] PChambino commented on #4739
After some trial and error to solve the problem that explanation actually makes less sense or I am not understanding @segiddins comment and the concept of package and frozen bundle. 😕

Let me try to better explain what I am trying to achieve and how I solved the problem, then you tell me if this is the intended behaviour.

I want to package a project in a `.deb` with all its dependencies to achiev

[2016-07-06 13:22] davidslee101 commented on #4742
This worked! Thanks!

[2016-07-06 13:22] #4742 closed

[2016-07-06 13:22] davidslee101 commented on #4742
Great! that helped me out thanks everyone

On Wed, Jul 6, 2016 at 4:51 AM, Lynn Cyrin <notifications@github.com> wrote:

[2016-07-06 13:39] segiddins commented on #4488
@indirect iirc it had to do with __FILE__ and $0 not being able to align when called via ./foo

[2016-07-06 14:41] PaulcyMboungou opened #4759 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/paulcy/.rvm/gems/ruby-2.3.0/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied @ dir_s_mkdir - /home/paulcy/.bundle/cac

[2016-07-06 16:49] Nidhjin opened #4760 "Problem with Bundle install"
Hi everyone,

I am new on Linux but I try to install this application on Mint 17.3 :
FabManager is a Ruby on Rails / AngularJS web application that runs on the following software:
    Ubuntu/Debian
    Ruby 2.3
    Git 1.9.1+
    Redis 2.8.4+
    Sidekiq 3.3.4+
    Elasticsearch 1.7
    PostgreSQL 9.4

I am almost done, but I have this last trouble and I can't fix it by myself despite all my tries

[2016-07-06 16:56] ReinAkane opened #4761 "Not grabbing old version of Rack for old Ruby versions"
Rack 2.0.1 was recently released (after 1.6.4) and 2.0.1 requires Ruby 2.2.2 or newer. Now when I do a bundle install that includes a gem dependent on rack with no version requirements, bundler will try to install 2.0.1 even though I have specified Ruby 1.9.3 in my Gemfile (and am running 1.9.3). My understanding was that bundler handled these situations.

Workaround is to specify a rack version i

[2016-07-06 17:32] nathanielks commented on #817
thanks for that @omarkhalednour! that helped me 👍

[2016-07-06 18:37] goneflyin opened #4762 "Writing `.bundle/config` to project without warnings leads to cryptic errors"
I discovered this as a result of working on a Rails project with docker that mapped the local project directory to the docker container.

Using `bundle install --path /gems` or even `bundle check --path /gems` would result in the writing of the `.bundler/config` file:
[code]
Because this same directory is used locally as well as within docker, but with different paths, this became confusing becaus

[2016-07-06 19:02] goneflyin opened #4763 "BUNDLE_PATH and --path option are applied inconsistently"
While trying to avoid the automatic creation of a `.bundle/config` file when using the `--path <path` command-line option I discovered that bundler treats the `--path` and `BUNDLE_PATH` env variable differently.

This is easily reproduced by creating a new rails project and using both methods to point to `/tmp/gems`.

In `/tmp`, create `bundler-test` project using rails:

[code]

Use environment v

[2016-07-06 20:37] indirect commented on #4762
It is definitely confusing that options passed to install are remembered later. Bundler 2.0 (in development in the `2-0-dev` branch) has already removed automatic saving of command flags.

In the meantime, when you run `bundle config`, it will show you where every setting is located.

[2016-07-06 20:37] #4762 closed

[2016-07-06 20:41] indirect commented on #4754
@segiddins that PR has no listed green builds on Travis, is no longer mergable, and the proposer has abandoned it. As I mentioned on the ticket, though, I'm happy for anyone to r+ a mergable version of it with passing specs.

[2016-07-06 22:13] indirect commented on #4758
@mvz I _think_ (although I am not sure) that this is because RSpec's rake task also `exec`s out to another Ruby process, temporarily freeing Ruby from Bundler long enough for it to load the wrong JSON version. Can you try running `bundle exec ruby -rjson -Ilib -w -S rspec` and show us the results?

[2016-07-06 22:18] indirect commented on #4753
@b-ggs cool, let's add a message like "Installing locked Bundler version 1.12.5..." before the install starts, so that users can tell what's going on.

For the "You're running Bundler..." message, we can wait to print it until much later when we do have access to `Bundler.settings`. The only message that needs to print out at `postit_trampoline.rb:52` is something like `puts "Switching to locked B

[2016-07-06 23:52] segiddins commented on #4761
@ReinAkane what version of bundler are you using? This was something we _tried_ to include (in 1.11 if I recall), but there were bugs in the implementation (and some may still exist), and properly resolving requires both using the "new" bundler index supported by 1.12 + and specify a `ruby` requirement in your Gemfile. If you share the output of `bundle env`, we'd be happy to look into it!

[2016-07-06 23:54] segiddins commented on #4758
@indirect that shouldn't happen, since we ensure that the `-rbundler/setup` is the first thing in `RUBYOPT`, so unless the rake task is prepending to RUBYOPT after we've setup the bundler env, this could be a bug on our end

[2016-07-07 00:06] ReinAkane commented on #4761
@segiddins Here's the bundle env output of a larger Gemfile that causes the issue (and worked fine before the new rack version). http://pastebin.com/mga4iw60

Here's the bundle env of a smaller Gemfile that still causes the issue (only requiring rack): http://pastebin.com/Bn9bmTUn

And another one that only requires Capybara (also demonstrates that this isn't purely a rack issue, as it fails on mi

[2016-07-07 00:10] segiddins commented on #4761
Awesome, thanks for the great bug report! So I _think_ this is what https://github.com/bundler/bundler/pull/4650 is trying to address, but I'll have to double check later

[2016-07-07 00:41] derektamsen opened #4764 "Checksum of /versions mismatch when server returns weak etags"
With `bundler 1.12.5` running `bundle update --verbose` I am seeing the following error message:
[code]

This is against an internal gemstash server which is returning a 302 to https://rubygems.org. I believe #4472 may have introduced the issue but only when the web server returns a [weak ETag](https://en.wikipedia.org/wiki/HTTP_ETag#Strong_and_weak_validation).

The /versions file on rubygems.org

[2016-07-07 00:43] indirect commented on #4764
@derektamsen we probably need to special-case gemstash to request index.rubygems.org for `/versions` and `/info/*`. The canonical source for the index files is index.rubygems.org, not rubygems.org.

/cc @smellsblue

[2016-07-07 00:47] derektamsen commented on #4764
Thanks for the quick response. I was going to open a PR to gsub out the 'W/'. Do you think it's better to fix gemstash instead of the gsub in bundler?

Was going to change `response_etag = response["ETag"]` to `response_etag = response["ETag"].sub(/^W\//, '')` at https://github.com/bundler/bundler/blob/master/lib/bundler/vendor/compact_index_client/lib/compact_index_client/updater.rb#L53

[2016-07-07 00:49] indirect commented on #4764
Getting rid of the `W/` won't help at all. The URL `rubygems.org/versions` is the wrong file. You need `index.rubygems.org/versions` instead.

[2016-07-07 01:07] derektamsen commented on #4764
I opened an issue against the gemstash project to track the issue.

[2016-07-07 01:07] #4764 closed

[2016-07-07 07:43] Confusion opened #4766 "Wrong 'lower' version of gem resolved"
What you're trying to accomplish: update a gem in the bundle, after a new gem was available on the gemserver
The command you ran: `bundle update`
What you expected to happen: the gem is upgraded to the new version
What actually happened: the gem was downgraded to an older version
Bundle-env gist: https://gist.github.com/Confusion/94aba43cafef678012da581d537ad415

Short version:
I'm seeing a case w

[2016-07-07 09:48] mvz commented on #4758
@indirect yes, `bundle exec ruby -rjson -Ilib -w -S rspec` gives the same error:

[code]

[2016-07-07 11:39] segiddins commented on #4766
Thanks for the bug report! If you can boil this down to a script we can run to reproduce the issue, it'll probably be easier to diagnose what's going on.  Thanks!

[2016-07-07 19:25] alishantesch commented on #3728
I can't reinstall bundler too. Same error!

[2016-07-07 19:45] indirect commented on #3728
@alishantesch this issue is fixed and closed. If you're having a new issue, please see [ISSUES](https://github.com/bundler/bundler/blob/master/ISSUES.md).

[2016-07-08 01:08] thetizzo commented on #4133
Putting some more details here for any future Googlers.  For me this issue was caused by changing the double quotes to single quotes in this line from my gemspec:

[code]

[2016-07-08 06:37] Confusion commented on #4766
I've tried to create a concise reproduction, but so far no luck. It's not simply a matter of setting up a gemserver with only gems with these three versions and having a project with Gemfile with just this single reference. Possibly the dependencies of the gem are essential to the reproduction, or the presence of a score of other versions on the gemserver is, or some other detail.

[2016-07-08 10:28] fran-worley commented on #4635
@indirect I was looking at this as a way to improve the speed of initialization of EC2 instances when using the new AWS elastic beanstalk container. This would have been ideal but, if as you say Bundler can't use packaged git gems then it's not going to resolve the issue.

[2016-07-08 15:08] chrismo commented on #4766
Can you re-run with DEBUG and DEBUG_RESOLVER env vars set and post the output to a gist? Might be able to deduce something from that.

[2016-07-08 18:29] chrismwendt commented on #4635
@indirect Why doesn't building gems during `bundle package` make sense?

Couldn't you just pin the git SHA in the Gemfile?

Perhaps there could be a `:build => true` argument which indicates that the gem was built.

Building dependencies keeps diffs small when updating or adding dependencies and reduces the chance that someone could directly modify the source code under `vendor/`.

[2016-07-08 18:36] indirect commented on #4635
@chrismo because Bundler will ignore the built gem when you run `bundle install`. Git gems are "installed" by copying a git repo checkout at a specific sha.

I'm not saying that the thing you are asking about is impossible, I'm saying that just building .gems when you run `package --build` will not do even half of what you're describing. Are you aware of that?

[2016-07-08 19:05] jbodah opened #4767 "`bundle` automatically upgrades dependencies for git/github sources"
Noticed an issue (or what I think is an issue) with bundler 1.12.5 where `bundle` was updating git/github-sourced gems. I built a sample repo here for reproducing the problem: https://github.com/jbodah/bundler_issue

## Basic outline:

1. `git`/`github`-source gems using a `tag`
2. `bundle` so your `Gemfile.lock` is generated
3. Remove `tag`s
4. Running `bundle` again will erroneously update the g

[2016-07-08 19:36] kevintpeng opened #4769 "Configured mirror could failover to the upstream source"
I configured a mirror for rubygems.org. I noticed that if I turn my mirror off midway through a `bundle install`, I receive the error, `Could not fetch specs from https://mymirror.com/`. Is it possible to apply a fallback timeout to every request? Something similar to: `bundle config mirror.https://rubygems.org.fallback_timeout 3`

There might be a good reason why this isn't a thing. If so, I'd be

[2016-07-08 21:31] chrismwendt commented on #4635
@indirect There could be a gap in my understanding of the interaction between `package` and `install`, but the documentation makes it sound like `install` will in fact use the built gem.

http://bundler.io/bundle_package.html

[2016-07-08 21:58] indirect commented on #4635
@chrismwendt note the language: "in preference to the ones on rubygems.org". Git gems are not on rubygems.org. Git gems are completely different: installed differently, managed differently, cached differently. Creating a .gem file in `vendor/cache` is 100% irrelevant if your gemfile contains `git:` or `github:` for that gem.

[2016-07-08 22:08] chrismwendt commented on #4635
@indirect Oh, I was expecting bundler to treat git URLs like the `source "https://rubygems.org"` directive, just on a per-dependency basis.

[2016-07-08 22:19] indirect commented on #4635
@chrismwendt sorry, I don't understand what that means. Git gems come from git repos, not from RubyGems servers. Creating a .gem doesn't change Bundler to look for a .gem instead of a git repo.

[2016-07-08 22:31] chrismwendt commented on #4635
@indirect I was thinking bundler would first check if a dependency exists under `vendor/cache`, and if not, it would download it from some source (either rubygems or a git URL).

I think that I now understand the implications of the fact that a gem coming from a git URL has an unknown version. bundler has no way to know whether or not a gem under `vendor/cache` is the same as the one at the git UR

[2016-07-08 22:36] indirect commented on #4635
@chrismwendt yes. even more than that, though, gems from different types of sources are not cross-compatible, regardless of version. Path gems, git gems, and rubygems gems cannot be provided by a different kind of source, because they are managed, downloaded, installed, and used in fundamentally different ways.

[2016-07-08 22:41] chrismwendt commented on #4635
I'm closing this issue because it sounds like there must be a better approach, whatever that may be.

[2016-07-08 22:41] #4635 closed

[2016-07-08 22:53] indirect commented on #4635
@fran-worley You have a couple of options there... you could use [Gemstash](https://github.com/bundler/gemstash) to act as a local cache of gems for each `bundle install`, or you could create a tarball of the installed/compiled gems and distribute that tarball to each machine and skip `bundle install` entirely. (That will only work if you can guarantee the OS, CPU architecture, and installed OS li

[2016-07-08 22:54] indirect commented on #4635
@chrismwendt I think what I would recommend today, based on how Bundler works, is to set up your own Gemstash server, create .gem files out of your git gem dependencies, and change your Gemfile to use those .gem files from the Gemstash server instead of from git.

[2016-07-08 23:35] chrismwendt commented on #4635
@indirect Thanks for the suggestion 😃

[2016-07-09 00:43] segiddins commented on #4767
@jbodah I think this is actually the intended behavior -- since the source for the dependency has changed, bundler will go ahead and allow it to be updated

[2016-07-09 00:51] LynnCo commented on #4748
ping @vasudhar !

[2016-07-09 00:55] #4757 closed

[2016-07-09 00:57] LynnCo commented on #4759
@PaulcyMboungou check out how the other issues with [permission errors](https://github.com/bundler/bundler/search?q=Permission+denied&type=Issues&utf8=%E2%9C%93) were resolved, like https://github.com/bundler/bundler/issues/4458, https://github.com/bundler/bundler/issues/4431, https://github.com/bundler/bundler/issues/4429

Also try searching the Bundler repo for that error message https://github.

[2016-07-09 01:01] LynnCo commented on #4655
ping @JARM876

Also try searching the Bundler repo for that error message https://github.com/bundler/bundler/search?q=Permission+denied+%40+dir_s_mkdir&type=Issues&utf8=%E2%9C%93

[2016-07-09 01:06] LynnCo commented on #4747
Closing this due to formatting issues and lack of user response

@prashantravidarshan feel free to follow up when you get the formatting cleaned up!

[2016-07-09 01:06] #4747 closed

[2016-07-09 01:35] LynnCo opened #4771 "Permissions errors generate a search URL with the user's local paths"
As displayed by https://github.com/bundler/bundler/issues/4429, https://github.com/bundler/bundler/issues/4429, https://github.com/bundler/bundler/issues/4458 the error message for `Errno::EACCES: Permission denied @ rb_sysopen` often includes the users local directory on the first line (ex `/Users/username/.bundle/...`). This means that [the search url](https://github.com/bundler/bundler/blob/196

[2016-07-09 01:47] LynnCo commented on #4724
@mohsennasr did you figure out a resolution for this, or is it still open?

[2016-07-09 01:59] LynnCo commented on #4771
A related issue is that github isn't parsing the `:` as plain text, so `Errno::EACCES: Permission denied @ rb_sysopen` gets a lot few results than `Errno EACCES Permission denied @ rb_sysopen` ([with](https://github.com/bundler/bundler/search?utf8=%E2%9C%93&q=Errno%3A%3AEACCES%3A+Permission+denied+%40+dir_s_mkdir&type=Issues) vs [without](https://github.com/bundler/bundler/search?utf8=%E2%9C%93&q=

[2016-07-09 02:00] LynnCo commented on #4760
Can you check out the resolution of some of the other [permissions errors](https://github.com/bundler/bundler/search?utf8=%E2%9C%93&q=Errno+EACCES+Permission+denied+%40+dir_s_mkdir&type=Issues)?

[2016-07-09 02:00] LynnCo commented on #4760
@Nidhjin Can you check out the resolution of some of the other permissions errors?

[2016-07-09 02:15] jbodah commented on #4767
I see, thanks for the response

[2016-07-09 02:15] #4767 closed

[2016-07-09 03:15] LynnCo commented on #4328
Closing due to lack of user response. @kbsivacse feel free to follow up with us though

[2016-07-09 03:15] #4328 closed

[2016-07-09 03:17] LynnCo commented on #4534
Closing due to lack of user response, although this particular issue may either already be resolved.

[2016-07-09 03:17] #4534 closed

[2016-07-09 03:18] LynnCo commented on #4649
ping @engBrunoSales

[2016-07-09 03:20] LynnCo commented on #4656
@Nagarjun123 did you get to resolve these installation errors?

[2016-07-09 03:21] LynnCo commented on #4693
@Harishkris

[2016-07-09 04:23] #4222 closed

[2016-07-09 07:26] Confusion commented on #4766
[Done](https://gist.githubusercontent.com/Confusion/95837919f3bbea91d93d9ddac256ed28/raw/b5cf45a06333b2f5f78e9d230d032ba956f158f8/gistfile1.txt) (~5 MB file).

This file show the output when you run `bundle update` in the situation where the gem is at the 'newest' version (1.3.20160706.171350). It then downgrades the gem to the 'oldest' version (1.3.20160415.170325)

Two things that may be of note

[2016-07-09 15:27] chrismo opened #4772 "Change outdated to use the new bundle update flags and conservative resolution code"
Task spawned from #4676

[2016-07-09 15:28] chrismo opened #4773 "Add warnings on bundle update when dependent updates go past --patch or --minor level"
...with an instruction to use --strict if user doesn't want that

Task spawned from #4676

[2016-07-09 15:30] chrismo opened #4774 "Add warning to bundle update when an unlocked gem doesn't move"
...possibly w/ a reason why? The lack of feedback otherwise can be disconcerting, like "did I not do it right?" (The gem may not be able to move due to constraining requirements).

Task spawned from #4676

[2016-07-09 15:31] chrismo opened #4775 "Conservative update documentation updates"
- [x] lock man page
- [x] outdated man page
- [x] update man page
- [x] _will bundler-site man pages be synced? I presume so**_
- [ ] any other docs/site locations? => http://bundler.io/v1.13/updating_gems.html
- [ ] release notes need to flesh out reason for breaking change on outdated patch level options?
- [ ] blog post?

Task spawned from #4676

**_I'm not seeing bundle_update page in [v1.13](

[2016-07-09 15:33] chrismo opened #4776 "Add a --dry-run option to installer (available to bundle install and bundle update)"
Task spawned from #4676

This was initially considered as part of the conservative update work, but the best place to output the text appears to be in the Installer class itself, which would then open this up for bundle install and bundle update.

With outdated and issue #4772, perhaps this flag would be redundant.

[2016-07-09 21:26] schnittchen opened #4778 "bundler assumes ~/.bundle to be at /.bundle when $HOME is foul"
This happened to me today:

[code]

I'd say that touching `/.bundle` is probably never a good idea, unless HOME actually is `/`.

[2016-07-09 21:26] schnittchen commented on #4778
I even had a situation where bundler happily created /.bundle/config without error, because during provisioning of a vagrant machine as root, then using sudo, somehow privileges for writing to `/` were not properly dropped. Took me hours to figure out this was happening.

[2016-07-11 01:55] ari commented on #4572
I can reproduce this easily with jruby-9.1.2.0, installed with rbenv on OSX 10.11. I can get it to happen sometimes with 'bundle install', but it is always reproducible for me with 'bundle outdated'.

[code]

[Gemfile here.](https://gist.github.com/ari/d965b5078266aaf70be78590237b897f)

[2016-07-11 02:01] ari commented on #4572
Note that the line it dies on in my version of bundler is this:

`spec = @specs[spec.name][spec.full_name]`

[2016-07-11 12:16] Confusion commented on #4766
Something I found out:
* the `gems.our-company.com/external` gemserver has existed for quite a while and the gems are served directly by Apache, without `gem server` or `geminabox`. So no API available.
* the `build-gems.our-company.com` is newer and uses geminabox and has the API available.

Perhaps the client first queries `build-gems.our-company.com`, concludes it can use the API, then queries

[2016-07-11 12:46] segiddins commented on #4766
@Confusion yup, that's what it has to do when no sort of API is available

[2016-07-11 16:12] goneflyin commented on #4762
Fair enough! I was "unexcited" about the unexpected side effect of modifying my environment when running a command that's purely a status query (`bundle check`) -- I'm really glad to hear that the automatic generation of the `.config` is on the table to be removed in the upcoming major release.

Thanks much!

[2016-07-11 18:28] mohsennasr commented on #4724
@LynnCo unfortunately I haven't find any solution yet!

[2016-07-12 03:58] segiddins commented on #4778
Hmm, it seems like maybe we could just raise an exception when `Dir.home` isn't writable by the current user?

[2016-07-12 09:38] schnittchen commented on #4778
Sounds reasonable to me.

[2016-07-12 10:15] Nidhjin commented on #4760
Thanks for your answer. Yes sure I will do it again with a little more focus :)

[2016-07-12 21:15] randomstuff opened #4780 "bundle-exec and binstubs inconsistent"
The [manpage of bundle-exec](http://bundler.io/v1.12/man/bundle-exec.1.html) claims that:

It does not seem to be completely accurate:

    $ ./bin/puppet --version
    3.7.5
    $ bundle exec puppet --version
    4.5.2

where 3.7.5 comes from Bundler (`bundle install --path vendor/bundle --binstubs`) and 4.5.2 comes from the system.

Differences in term of environment:

    -_=./bin/puppet
    +_

[2016-07-12 21:22] indirect commented on #4780
That is definitely a bug. What is `/usr/share/rubygems-integration`, what Ruby version manager are you using, and what is the output of `bundle env`?

[2016-07-12 21:37] randomstuff commented on #4780
I'm using ruby and bundler shipped as Debian packages without any Ruby version manager. rubygem-integrations is a Debian package which:

So it's possible the bug might be in the Debian packaging.

`bundle env` gives:

<pre>
Environment

    Bundler   1.12.5
    Rubygems  2.5.1
    Ruby      2.3.1p112 (2016-04-26 revision 0) [x86_64-linux-gnu]
    Git       2.8.1

Bundler settings

    path
      S

[2016-07-12 22:23] randomstuff commented on #4780
I could not reproduce this with `rbenv`:

<pre>
val "$(rbenv init -)"

# See https://github.com/rbenv/ruby-build/wiki#openssl-sslv3_method-undeclared-error
wget https://gist.githubusercontent.com/mislav/055441129184a1512bb5/raw
cat raw | rbenv install --patch 2.2.3
rbenv global 2.2.3

gem install bundler
gem env home  # /home/foo/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0

rbenv rehash
which bundle

[2016-07-12 22:30] indirect commented on #4780
I'm going to say that this seems like an issue with how debian packages ruby, then :/ Sorry I can't be more helpful than that!

[2016-07-12 22:30] #4780 closed

[2016-07-12 23:41] indirect commented on #3344
@grosser `bundle check` doesn't care at all about your sources, it only cares about when gems you have installed. `bundle package` builds a directory that can function as a source. The only command that currently checks to see if the available sources are able to provide the gems needed for `install` is running `bundle install` itself.

This is definitely not a bug, but it could be a feature reque

[2016-07-12 23:41] LynnCo commented on #4760
@Nidhjin here's the search I usually use! https://github.com/bundler/bundler/search?q=Errno+EACCES+Permission+denied+%40+dir_s_mkdir&type=Issues&utf8=%E2%9C%93

[2016-07-12 23:42] mockdeep opened #4781 "Endless bundle"
A couple of us are running into an issue where bundler goes on and on without stopping, endless dots. One person ran it for over an hour:

[code]

The same issue happens with `bundle outdated` and `bundle update`, though `bundle install` seems fine (we have a `Gemfile.lock` so not sure if it would produce different results without). We've seen the issue both on MacOS and Linux Mint. Here's our `Ge

[2016-07-12 23:51] indirect commented on #4781
Chances are very high that you have created a situation with so many unknowns that Bundler simply can't find a good solution. To reduce the search space, add version constraints to your Gemfile, e.g. `gem "timecop", "~> 0.8.1"`.

You can find out exactly what's happening by running `DEBUG_RESOLVER=1 DEBUG=1 bundle install`. It will likely produce many megabytes of output. If you create a gist or o

[2016-07-12 23:57] randomstuff commented on #4780
I investigated a bit the problem. The difference between the two commands lies in the ordering/initialization of the `$LOAD_PATH`.

With ./bin/puppet:

    ["/home/foo/bar/vendor/bundle/ruby/2.3.0/gems/r10k-1.1.4/lib", "/home/foo/bar/vendor/bundle/ruby/2.3.0/gems/systemu-2.5.2/lib", "/home/foo/bar/vendor/bundle/ruby/2.3.0/gems/puppet-3.7.5/lib", "/home/foo/bar/vendor/bundle/ruby/2.3.0/gems/log4r-1

[2016-07-13 00:16] mockdeep commented on #4781
Ah, yeah. I pinned down `rspec-rails` and it bundled fine. When I ran without it, it looks like it gets into some sort of endless recursion around rspec, though maybe that's a red herring. Output attached.

[bundleout.txt](https://github.com/bundler/bundler/files/360468/bundleout.txt)

[2016-07-13 00:26] mockdeep commented on #4781
Okay, I ended up just removing some old dependencies for now. Do you want to do any investigation to see if this is an issue with bundler or should we just close it?

[2016-07-13 03:40] RochesterinNYC commented on #4612
@jufemaiz Any update on this?

[2016-07-13 03:47] grosser commented on #3344
what use is bundle check if it does not 'check' that I can install ?

On Tue, Jul 12, 2016 at 4:41 PM, André Arko <notifications@github.com>
wrote:

[2016-07-13 03:48] segiddins commented on #4781
Bundler 1.13 includes some resolver improvements so it's possible we've already sped this case up :fingers_crossed:

[2016-07-13 07:01] indirect commented on #3344
@grosser I feel like "Checks if the dependencies listed in Gemfile are satisfied by currently installed gems" is pretty clear about what it does, and about how that has nothing to do with checking sources or potentially installable gems. Do you think there is other language that would be clearer? There's more in the docs for `check`: http://bundler.io/v1.12/bundle_check.html

[2016-07-13 07:02] indirect commented on #3344
One more time: can you explain more about why you want this, and why you think it would be useful to build into Bundler?

[2016-07-13 07:18] randomstuff commented on #4780
Bundler adds `/usr/lib/ruby/vendor_ruby` to `RUBYLIB` because it is installed in `/usr/lib/ruby/vendor_ruby` and does (in `bundler$ less shared_helpers`):

    def set_rubylib
      rubylib = (ENV["RUBYLIB"] || "").split(File::PATH_SEPARATOR)
      rubylib.unshift File.expand_path("../..", __FILE__)
      ENV["RUBYLIB"] = rubylib.uniq.join(File::PATH_SEPARATOR)
    end

[2016-07-13 11:04] allenzhao commented on #4771
I will work on this
:)

[2016-07-13 13:18] LynnCo commented on #4679
The RGSoC people will be working on this!

[2016-07-13 13:19] LynnCo commented on #4678
The RGSoC people will be working on this!

[2016-07-13 14:59] grosser commented on #3344
the git dependencies are not satisfied / installed ... so I think the check
should fail ... for me check means "I can bundle exec" and don't need to
install ... otherwise it's like a "some of the gems you need are installed"
... which is useless ... which is why I built then bundle_package_check ...

On Wed, Jul 13, 2016 at 12:01 AM, André Arko <notifications@github.com>
wrote:

[2016-07-13 16:22] segiddins commented on #4780
Why isn't bundler being installed into your gem home?

[2016-07-13 16:56] randomstuff commented on #4780
@segiddins Yes, that's a solution. As Debian provides a package for it which I expected it to work. Now maybe, your answer will be « Well this is Debian's fault. Bundler should be installed alone in its own directory. » (as it happens when installing Bundler with gem and the issue I'm describing won't happen in this case) In this case I'd be totally happy and tell the Debian packagers about it :)

[2016-07-13 17:03] randomstuff commented on #4780
Fo reference, I submitted a [bug in Debian](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=830958) which has been closed with this fix:

[2016-07-13 19:03] ArionHardison commented on #3372
[code]

[2016-07-13 19:29] #4748 closed

[2016-07-14 03:33] BlockchainActuary opened #4783 "Tried rails new my_awesome_app got the error below"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/rui/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bundler-1.12.5/exe/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied @

[2016-07-14 14:37] ojab commented on #4529
Actually not only `source`, but also `git`/`github`/etc are affected: something like
[code]
installs both gems if both gemspecs are available in repo.

[2016-07-14 14:55] segiddins commented on #4529
This should be fixed now for Bundler 2

[2016-07-14 15:10] ojab commented on #4529
Yep, cannot reproduce w/ bundler from 2-0-dev.
Is there any roadmap & timeline for Bundler 2?

[2016-07-14 17:14] jherreraa opened #4785 "."

[2016-07-14 17:15] segiddins commented on #4785
Closing as an empty issue.

[2016-07-14 17:15] #4785 closed

[2016-07-14 18:21] JuanitoFatas commented on #4781
When I ran `DEBUG=1 DEBUG_RESOLVER=1 bundle update` for this [Gemfile and Gemfile.lock (with the command output log)](https://gist.github.com/JuanitoFatas/986aae2283abf7a015c2d99e1526e5dc) also never finish.

[2016-07-14 18:28] JuanitoFatas commented on #4783
@BlockchainActuary Could you take a look at https://github.com/bundler/bundler/issues/3891 and see if it solves your problem? Thanks!

[2016-07-14 18:35] galharth opened #4786 "`require': cannot load such file -- ffi (LoadError) when trying to start rails console"
Full stack trace:
[code]

Rails version: 4.2.5
Ruby version: 2.3.0
Bundler version: 1.10.6
OSX: El Capitan (Co-worker using windows)

[2016-07-14 18:43] JuanitoFatas commented on #4781
Tried again with master Bundler (c90329a), finished within 5s, awesome! :)

[2016-07-14 19:01] segiddins commented on #4786
Can you verify that your Ruby install includes ffi? `Ruby -rffi-e 'puts FFI'`

[2016-07-14 19:11] segiddins commented on #4781
Yay!

[2016-07-14 19:11] #4781 closed

[2016-07-14 19:26] galharth commented on #4786
Solved it by adding by running gem install ffi --platform=ruby and adding gem 'ffi' to my gemfile

[2016-07-15 02:32] Speculate7 commented on #4679
Ooooohhh that's a great idea

[2016-07-15 03:55] BlockchainActuary commented on #4783
getting into sudo/admin worked for this. Thanks for the reply!

[2016-07-15 03:55] #4783 closed

[2016-07-15 20:24] pmantaj commented on #4576
I ran into this problem when starting foreman start on a Docker container based on `ruby:2.3.1`
I just put below line to a `Dockerfile`:

`RUN gem install bundler`

New bundler installation put the bundler exec file to the path: `/usr/local/bundler/bin` and error disappeared. The same path was set in the `BUNDLE_BIN` environment variable in the ruby:2.3.1 image but the bundler was installed in the

[2016-07-16 13:10] fergyfresh opened #4789 "Bundler stopped working randomly."
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/ferg/.rbenv/versions/2.3.1/bin/rake `

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    NoMethodError: undefined method `take_while' for nil:NilClass
      /home/ferg/.rbe

[2016-07-16 13:18] fergyfresh commented on #4789
Reinstalling everything fixed my problem. I didn't mess with any part of the ruby/rails install though.

[2016-07-16 13:57] ojab commented on #4586
Looks like JRuby in 1.8 mode has buggy Kernel.exec, i. e. it does not support 'If command is a two-element array, the first element is the command to be executed, and the second argument is used as the argv[0] value, which may show up in process listings. ' part (fails with `TypeError: can't convert Array into String`).
Filled https://github.com/bundler/bundler/pull/4790 to fix it.

[2016-07-16 14:31] segiddins commented on #4789
Can you run it again with `DEBUG=1`? I'm wondering if something is being raised without a backtrace

[2016-07-16 14:32] fergyfresh commented on #4789
Sorry I gave up and reinstalled. Issue is gone. Can close issue.

On Sat, Jul 16, 2016, 10:31 AM Samuel Giddins <notifications@github.com>
wrote:

[2016-07-16 17:03] segiddins opened #4791 "Investigate moving spec execution in-process"
Currently, the spec helpers are very liberal about spawning subprocesses (see how `ruby` and `bundle` call `sys_exec` which in turn uses `Open3`). It should be possible to run `ruby`, `bundle`, and `gem` in-process, the same way we do for `bundle exec` running ruby binaries.

The tricky part will be making sure we're properly emulating a clean environment for the commands, and then restoring every

[2016-07-17 20:31] kcee403 opened #4792 "Use a tmp dir when `$HOME/.bundle/compact_index` fails"
ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/local/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EACCES: Permission denied @ dir_s_mkdir - /home/kaycee/.bundle/cache/compact_index/rubygems.o

[2016-07-17 21:07] indirect commented on #4792
Thanks for reporting this! It looks like we need to handle this kind of error better.

@rochesterinnyc, this would be a good bugfix ticket I think--if the default home directory compact index destination isn't writable, we should use a tmp dir instead.

[2016-07-17 22:53] RochesterinNYC commented on #4792
Yup, sounds like a nice GSoC PR opportunity.

[2016-07-17 23:35] RochesterinNYC commented on #4791
Side note that this would enable doing things like using `binding.pry` in integration tests, as currently, putting a `binding.pry` into the bundler code and running an integration spec will not trigger the `binding.pry` in a developer-desired manner as it is triggered in the subprocess and thus not accessible by the main process running the specs.

[2016-07-17 23:36] #4789 closed

[2016-07-17 23:36] #4786 closed

[2016-07-17 23:40] RochesterinNYC commented on #4774
Related/similar to #4514

[2016-07-17 23:43] RochesterinNYC commented on #4760
Closing as I think there's enough context in the other issues that show up in @LynnCo's recommended search to alleviate this issue. Please let us know if this isn't the case.

[2016-07-17 23:43] #4760 closed

[2016-07-17 23:44] RochesterinNYC commented on #4749
@arielelkin Is this an issue with Bundler or an issue with Rubygems? It seems that you're essentially running the `gem install` command with the bundler gem, so I'm not sure what's the issue with Bundler that would cause this? Might be worth opening an issue in the Rubygems repo: https://github.com/rubygems/rubygems/issues/new

[2016-07-17 23:49] RochesterinNYC commented on #4710
Closing as I think there's enough context in @hmistry's linked issues to alleviate this. Please let us know if this isn't the case.

[2016-07-17 23:49] #4710 closed

[2016-07-17 23:49] RochesterinNYC commented on #4693
@Harishkris any update on this?

[2016-07-17 23:50] RochesterinNYC commented on #4659
Hey @Nowaker, any update on this?

[2016-07-17 23:51] RochesterinNYC commented on #4655
Closing as I think there's enough context in @LynnCo's linked issues/search to alleviate this. Please let us know if this isn't the case.

[2016-07-17 23:51] #4655 closed

[2016-07-17 23:52] RochesterinNYC commented on #4634
@chuganghong any update on this?

[2016-07-17 23:53] #4616 closed

[2016-07-17 23:55] #4529 closed

[2016-07-17 23:55] RochesterinNYC commented on #4468
@suan any update on this?

[2016-07-18 03:08] gusseting opened #4794 "Code of Conduct - styling on page to include margins for readability."
The Code of Conduct page: http://bundler.io/conduct.html is currently without margins (at least, on a mac on chrome + firefox). It would be great to have this page conform to the rest of the site (eg blog: http://bundler.io/blog/, docs: http://bundler.io/docs.html) and be more readable.

[2016-07-18 03:53] #4631 closed

[2016-07-18 04:05] LynnCo commented on #4794
@gusseting Thanks for reporting! This is the repo for the client side Bundler code though, would you mind making this same issue on the repo for the website? https://github.com/bundler/bundler-site/issues

[2016-07-18 04:34] gusseting commented on #4794
@LynnCo thanks so much for pointing that out! I've created a new issue, which is being acted on:
https://github.com/bundler/bundler-site/issues/227 so closing this one.

[2016-07-18 04:34] #4794 closed

[2016-07-18 12:23] arielelkin commented on #4749
Done (https://github.com/rubygems/rubygems/issues/1668), thanks.

[2016-07-18 12:23] #4749 closed

[2016-07-18 15:50] leifg commented on #4576
@pmantaj I tried putting that in my Dockerfile after bundle install, that did not work. It works however when I log into the container and execute `gem install bundler`. For some reason the context is different.

[2016-07-18 16:13] #4586 closed

[2016-07-19 00:34] b-ggs commented on #4792
I'll work on this!

[2016-07-19 12:41] srbry commented on #4602
Based on the answer above from @mitio I managed to implement a workaround thats a little simpler:
[code]

After running that `bundle exec bundle version` was successful.

[2016-07-19 22:31] indirect commented on #4753
The second half of this issue has been resolved by #4740, so all that's left is to print `Installing locked Bundler version 1.12.5...` before hanging with no output. Getting very close!

[2016-07-19 22:33] segiddins commented on #4753
[code]

[2016-07-20 01:31] dgutov opened #4797 "Bundler 1.12.0.pre.2 and newer sets "bundle" as the process's command name"
For example, save this as `test.rb`:

[code]

Then run:

[code]

1.12.0.pre.2 and newer outputs `bundle`. 1.12.0.pre.1 and all previous versions (or at least all of them after 1.6.2) output `ruby` there.

Not sure how serious this is, but it broke some monitoring code written by our sysadmins.

[2016-07-20 01:33] indirect commented on #4797
Thanks for reporting this! We have a fix in the works over at #4589.

[2016-07-20 20:01] dekellum opened #4798 "Lock file oscilates on platform specific gem dependencies since 1.12.x"
I have a project that I frequently test locally with both cruby and jruby.  The gemspec based dependencies include nokogiri which has specific ruby and java platform gems.  When upgrading from bundler 1.11.2 to 1.12.5, I find that the lock file (which I check in to git) changes to include `nokogiri (1.6.8-java)` every time I `jrake test` (jruby) and is removed  every time I `rake test` (cruby).

[2016-07-20 21:41] indirect commented on #4798
@segiddins is this an intentional change in 1.12? I don't remember anything that would explicitly cause this...

[2016-07-20 21:50] segiddins commented on #4798
No, not intentional at all, at least on my part. I want to look into this when I have a chance.

[2016-07-20 23:09] indirect opened #4799 "Stack level too deep during Bundler.setup on 1.13 (rc and from master)"
Full backtrace available on request, relevant bit seems to be:

[code]

This exception only happens when Bundler 1.13 is installed, and happens both when running 1.13.rc.1 and building and installing the gem directly from `master`.

[2016-07-21 11:20] LynnCo commented on #4529
@ojab there isn't any "Bundler 2.0 will be released in `$MONTH`, `$YEAR`" timeline, the only thing I can point to is the number of issues open for the [2.0 milestone](https://github.com/bundler/bundler/issues?q=is%3Aopen+is%3Aissue+milestone%3A%222.0+--+Breaking+Changes%22), which is more or less how I measure nearness to release.

[2016-07-21 12:45] segiddins commented on #4799
I can't reproduce this with 1.13.0.rc.1 with any of the projects I have lying around locally -- please fill out the issue template ;)

[2016-07-21 13:06] segiddins commented on #4798
Reproduced the bug, I'll try and look into it later. Thanks for the issue @dekellum !

[2016-07-21 17:23] SandHilt commented on #4599
Try:
[code]
source: [GoRails](https://gorails.com/setup/windows/10#final-steps)

[2016-07-22 09:25] lsegal commented on #4599
Is this permission thing strictly necessary? It looks like it's coming from Ruby, but this wasn't happening before (downgrading correctly resolves the issue) so I'm curious why the change.

FWIW, Bash on Windows users are going to have a hard time with this. The above fix doesn't actually work, since chmod doesn't actually yet modify ACL permissions on for your Windows files (it only works in the

[2016-07-22 09:38] domcleal commented on #4599
1.12.x contains a new cache of gem information which is shared across multiple processes. My fix in 1.12.4 added the call to Ruby's mktmpdir to fix concurrency and corruption issues with the cache, but mktmpdir does enforce secure permissions causing the error.  https://github.com/bundler/bundler/issues/4599#issuecomment-224221371 notes some alternatives.

[2016-07-22 14:11] DungeonCaster opened #4801 "The .txt (help) files have malformed ANSI sequences."
Typing `bundler --help` produces text flooded with characters typical of ANSI escape sequences except that there are no `0x1b5b` strings in the files when examined in a hexeditor.

**DETAILS:**
`C:\Windows\system32>ruby -v`
`ruby 2.2.4p230 (2015-12-16 revision 53155) [i386-mingw32]`

`C:\Windows\system32>gem -v`
`2.4.5.1`

`C:\Windows\system32>bundle -v`
`Bundler version 1.12.5`

`C:\Windows\syste

[2016-07-23 04:41] logiclrd opened #4803 "Hook mechanism for completion of Bundler.require"
I'd like to add a mechanism to permit a Gem to register a block to be executed automatically once Bundler's Runtime has completed its `require` pass. I propose adding instance methods to Runtime and class methods to Bundler that would forward to the Bundler class's Runtime (Bundler.load) for this.

1. Code in a Gem would use syntax such as:
[code]

2. `Runtime.when_require_complete` would stash th

[2016-07-23 04:50] chrismo commented on #4803
Could you code this up as a plugin?

[2016-07-23 05:16] logiclrd commented on #4803
I don't think so... There isn't currently any code at all in the `Runtime.require` method after the end of its loop through the dependencies. I *could* overwrite the function:
[code]
...but this would then depend on the specific internal implementation of Bundler. If the name of `class Runtime`, or the way that it is implemented, ever changed then the plugin would stop working.

Also... does Bundl

[2016-07-23 05:20] asutoshpalai commented on #4803
This can be implemented as a `hook` plugin which is not present in bundle yet but are in the pipeline.

[2016-07-23 06:01] logiclrd commented on #4803
Oh? That's cool. :-) Is there some documentation of the ongoing development of `hook` plugins? I did some Googling, but could only find reference to plugins associated with `bundle install` and `bundle update`-type operations ("Lifecycle hooks"), not calls to `Bundler.require` from Ruby code.

[2016-07-23 06:58] asutoshpalai commented on #4803
Sorry, as this has not yet been implemented, so it's not documented.

[2016-07-24 20:45] logiclrd commented on #4803
How can it be in the pipeline, and yet have no planning, no discussion, no documentation and no code?

The reason I want to follow up on it is that, as mentioned, I've seen plenty of documentation of requests for plugin interfaces to automatically run code during `bundle install` or `bundle update`, but I haven't seen anyone looking for a "runtime" hook that would interact with the `Bundle.require

[2016-07-24 20:59] segiddins opened #4806 "Move all matchers in matchers.rb to be proper matchers"
That way, we can take advantage of rspec features such as failure aggregation, compound matching, and more helpful backtraces.

I'm thinking of introducing a dummy `bundle` method that returns an instance of a blank object that has the predicates defined on it, and instead of building upon rspec's matchers, we just manually aggregate failure messages.

[2016-07-25 04:26] indirect commented on #4803
Thank you for clarifying! That feature (to be clear: allowing a gem to add a callback once `Bundler.require` has completed, while it is being required by `Bundler.require`) is not in the pipeline. We haven't finalized the list of "lifecycle" callbacks, however, and before/each/after hooks for `setup` and `require` were at least on the list of possibilities. Thanks for this feedback, and we'll try

[2016-07-25 05:45] logiclrd commented on #4803
Awesome, thanks very much :-)

[2016-07-25 07:36] suan commented on #4468
I don't think I've seen it happen since the new release, tho I think I've seen a different but similar error since. I'll close this issue and maybe create a separate one

[2016-07-25 07:36] #4468 closed

[2016-07-25 08:48] m-sakthivel opened #4807 "Bundle install"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/home/sakthivel/.rvm/gems/ruby-1.8.7-head/bin/bundle install`
- What did you expect to happen?

  I expected Bundler to...
- What happened instead?

  Instead, what actually happened was...

Error details

[code]

Environment

  Bundler   1.12.5
  Rubygems  2.0.17
  Ruby

[2016-07-25 14:31] segiddins commented on #4807
What's your gemfile, so we can try and reproduce? Thanks!

[2016-07-25 23:19] ghost opened #4809 "NameError: uninitialized constant Net::HTTP::Rails"
Hi,
I am getting the following error when I am bundle installing the Gems.
I am on RHEL 7

--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/local/rvm/gems/ruby-1.9.3-p551/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

[2016-07-26 02:20] segiddins commented on #4809
Can you share your Gemfile so we can attempt to reproduce the issue? Thanks!

[2016-07-26 03:48] #4798 closed

[2016-07-26 07:06] rubin55 opened #4813 "Bundler not aware of various gemrc settings (or alternatively a way to set similar options in Bundler)"
Previously there have been issues reported that Bundler does not honor settings in gemrc (#582, #2565). I would like to re-raise this issue not from a perspective of no-proxy or user-install options, but from the "platform" option.

Particularly on Windows systems, gem will install a binary variant of a native package from the rubygem repository if that is available. If you actually have a devkit

[2016-07-26 13:34] Temiautomatic commented on #4807
@segiddins I'm having the same problem - my gemfile
`source 'https://rubygems.org'
ruby '2.2.2'
gem 'rails', '4.2.6'
gem 'sass-rails', '~> 5.0'
gem 'uglifier', '>= 1.3.0'
gem 'coffee-rails', '~> 4.1.0'
gem 'jquery-rails'
gem 'jbuilder', '~> 2.0'
gem 'therubyracer', :platforms => :ruby
group :development, :test do
  gem 'byebug'
end
group :development do
  gem 'web-console', '~> 2.0'
  gem 'spring'

[2016-07-26 13:39] Temiautomatic opened #4814 "I need a gem for leaving a review and star rating"
I need a gem for leaving a review and star rating, do these exist

[2016-07-26 13:51] segiddins commented on #4814
@Temiautomatic this is the bundler issue tracker, which is for reporting bugs and requesting features in bundler. You might want to ask this sort of question  on Twitter or stack overflow?

[2016-07-26 13:51] #4814 closed

[2016-07-26 14:57] micegrid commented on #4809
source 'https://rubygems.org'

# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '4.1.1'
# Use postgresql as the database for Active Record
gem 'pg'
# Use SCSS for stylesheets
gem 'sass-rails', '~> 4.0.3'
# Use Uglifier as compressor for JavaScript assets
gem 'uglifier', '>= 1.3.0'
# Use CoffeeScript for .js.coffee assets and views
gem 'coffee-rails', '~> 4.0.0'
# See ht

[2016-07-26 15:00] micegrid commented on #4809
I have cleaned up the commented out code and here is the Gemfile

source 'https://rubygems.org'
gem 'rails', '4.1.1'
gem 'pg'
gem 'sass-rails', '~> 4.0.3'
gem 'uglifier', '>= 1.3.0'
gem 'coffee-rails', '~> 4.0.0'
gem 'jquery-rails'
gem 'turbolinks'
gem 'jbuilder', '~> 2.0'
gem 'sdoc', '~> 0.4.0',          group: :doc
gem 'tzinfo-data', platforms: [:mingw, :mswin]
gem 'scrypt'
gem 'authlogic'
gem '

[2016-07-26 15:03] micegrid commented on #4809
I addition to the erro template, I get the belwo error every time I do a bundle install

Fetching gem metadata from https://rubygems.org/.Retrying dependency api due to error (2/4): Bundler::HTTPError Network error while fetching https://index.rubygems.org/api/v1/dependencies?gems=rails%2Cpg%2Csass-rails%2Cuglifier%2Ccoffee-rails%2Cjquery-rails%2Cturbolinks%2Cjbuilder%2Csdoc%2Ctzinfo-data%2Cscrypt

[2016-07-26 17:55] rbu commented on #2428
This is absurd. We try to keep our Gemfile portable between Ruby versions (by specifying different dependencies based on platform) and we end up breaking it for old systems because their bundler would need an update (even though their Ruby is ancient). Considering that bundler comes as a OS system package, it is infeasible to update locally.

Worst of all, this happens in a tool designed to lock u

[2016-07-26 18:15] segiddins commented on #4813
@rubin55 what happens if you just set `Gem.platforms = [Gem::Platform::RUBY]` at the top of your Gemfile?

[2016-07-26 18:16] indirect commented on #2428
@rbu Hi. First, I need to point out that Bundler has a code of conduct, and you are violating it. This is your single warning, and if you decide to continue to be a jerk on this tracker, you'll be banned.

With that said, thanks for the feedback. Forwards compatibility is valuable, but very tricky to get right. Bundler has historically focused on perfect backwards compatibility, without nearly as

[2016-07-26 18:42] brixen commented on #4750
@indirect here is a gist of Bundler 1.12.3 showing a classic symptom of non-thread-safe Ruby code (an out-of-bounds Tuple access caused by unsynchronized concurrent access to a Hash in this case) https://gist.github.com/brixen/e3c68b51a1581e1f94f10fea5d7ba6fb

Any error running any code on Rubinius is going to include internal Rubinius code interleaved with application or library code. That is not

[2016-07-26 19:14] rubin55 commented on #4813
Added `[Gem::Platform::RUBY]` to the top of the Gemfile. Cleared gems, removed lock file, `bundle install`, no dice :-( Still installing binary versions.

[2016-07-26 19:19] segiddins commented on #4813
It's exactly what the --platform switch does in RubyGems 😅

[2016-07-26 19:21] jamesiarmes opened #4817 "Bundler silently fails to install gems when gemspec and lock file versions differ"
If I update the version in my gems gemspec file but forget to run `bundle update` to update Gemfile.lock, when I run `bundle install` it fails to install gems without notice. For example:

[code]

[code]

I would expect bundler to error when encountering a version mismatch, rather than continuing to install _some_ gems.

[2016-07-26 19:36] rubin55 commented on #4813
Alrighty, well, then I guess it works; would be cool if it would be settable as a bundle config thingie though, I can imagine that people would do this on a more general level then in the Gemfile. But happy to have a way to do it!

[2016-07-26 19:42] indirect commented on #4750
@brixen it's entirely possible that `Digest` is safe to use from multiple threads on MRI and JRuby but not safe to use from multiple threads on Rubinius. If that does turn out to be the case, I'm happy to accept a bug report (or a pull request) for synchronizing access to the `Digest` module when running in Rubinius.

[2016-07-26 19:46] indirect commented on #4817
Thanks for reporting this! It sounds like a bug. Could you please provide a list of commands we can run (or a repo we can check out) that will allow us to reproduce this bug so that we can fix it?

[2016-07-26 22:04] ferventcoder opened #4819 "Bundler 1.12.5 does not appear to respect `ruby RUBY_VERSION` for dependencies of gems in Gemfile"
I'm not sure if I'm doing something wrong here, if this is a bug or is by design.

Gemfile:

[code]

[code]

[2016-07-26 22:05] ferventcoder commented on #4819
Discovered as part of https://github.com/bundler/bundler/pull/4651#issuecomment-235382389

[2016-07-26 22:06] ferventcoder commented on #4819
Is this a bug or by design?

[2016-07-27 02:26] segiddins commented on #4819
Can you check if this is fixed on master? I've recently fixed several bugs in that area. Thanks!

[2016-07-27 04:12] brixen commented on #4750
@indirect if I understand correctly, you're saying it's up to Rubinius to ensure that Bundler uses thread-safe code. If true, that's an interesting perspective. In general, how do you decide what is thread-safe in Ruby when you are writing code?

From my perspective, there are very few things in Ruby that provide thread-safe guarantees. Queue comes to mind. Matz has explicitly said that classes li

[2016-07-27 07:22] dwt commented on #2428
Out of interest, reading the code of conduct it seems to be very explicit in forbidding any language that says 'you are dumb' (or similar ad hominem) but is very explicit not to forbid 'this solution is absurd'.

To me this makes a lot of sense, because one is ad hominem (and dumb) and the other is necessary to have an open discourse about the merit of different technical approaches.

[2016-07-27 15:44] rbu commented on #2428
Apologies, I did not mean to offend. Would you explain which part of my statement you took offense with so that I don't repeat it?

To the point, I understand it's difficult to anticipate future developments and prepare forward compatibility and I completely agree in most cases one should rather print an explicit assertion and fail. However, as others before pointed out, I would suggest unknown pl

[2016-07-27 18:41] indirect opened #4821 "Move trampolining behind a feature flag"
New plan: since the compact index and ruby locking need some fixes to be fully stable and reliable, we're going to release master as 1.13 with both plugins and trampolining behind feature flags. (h/t @segiddins). That way everyone can use the improvements we've made over 1.12 without having to worry about issues from features that aren't fully finished yet. It's not set in stone, but I think the t

[2016-07-28 13:11] flowerett commented on #4577
can confirm for ruby 2.3.1:
[code]

[2016-07-28 14:59] allenzhao commented on #3344
Any feedback on this? @indirect

[2016-07-28 20:16] bahill opened #4823 "No such file or directory - git clone "git://github.com/kyparn/fancybox2-rails.git""
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `C:/Ruby22/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::ENOENT: No such file or directory - git clone "git://github.com/kyparn/fancybox2-rails.git

[2016-07-28 22:09] #4821 closed

[2016-07-29 08:45] thedrow commented on #4750
Not sure if it's relevant but JRuby does acquire a mutex when *loading* the Digest module.
https://github.com/jruby/jruby/commit/e29748aee32a8fdd89ae66b66eb10af59ab89df5

[2016-07-29 17:39] antoineco commented on #4420
Does it also mean

[code]

won't actually cap the `rspec` version if 'puppetlabs_spec_helper' requires `rspec` without defining a version? This is happening to me right now.

[2016-07-29 20:17] bahill commented on #4823
I didn't have git on my path <facepalm>

[2016-07-29 20:17] #4823 closed

[2016-07-29 22:30] #4752 closed

[2016-07-30 17:46] segiddins opened #4825 "Remove bundler/psyched_yaml in Bundler 2"

[2016-07-31 01:04] ToadJamb commented on #4764
I just thought I would add that the fix for me was to change `source 'https://www.rubygems.org'` to `source 'https://rubygems.org'`.

[2016-08-01 16:30] zach2825 opened #4826 "redmine was working just fine and now i'm getting this random error about CLOCK_REALTIME"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/local/bin/bundle install`
- What did you expect to happen?

  I expected Bundler to...
- What happened instead?

  Instead, what actually happened was...

Error details

[code]

Environment

[code]

Bundler settings

[code]

--- TEMPLATE END ------------------------------

[2016-08-01 23:39] #4771 closed

[2016-08-02 00:37] b-ggs commented on #4612
Closing due to lack of response from reporter.

[2016-08-02 00:37] #4612 closed

[2016-08-02 00:51] indirect opened #4827 "Set up Danger to run Rubocop and quality/language checks"
The output and error messages are _vastly_ improved over our current system, which requires reading the entire Travis CI log file.

http://danger.systems/

[2016-08-02 01:17] segiddins commented on #4827
We should also move the quality specs & rubocop to a separate matrix entry, and consider using the danger-rubocop and danger-junit plugins

[2016-08-02 09:10] allenzhao commented on #3344
Just to make a note - I've added a failing test at https://github.com/allenzhao/bundler/tree/issue-3344

[2016-08-02 09:15] allenzhao commented on #4647
Is this one solved by #4795 ?

[2016-08-02 09:38] allenzhao commented on #4436
I can't reproduce it with Bundler v 1.12.5.
@segiddins Above was your implementation that works?

[2016-08-02 09:42] allenzhao commented on #4778
I'll work on this
@segiddins When should be proper to check the `Dir.home`?  Right before writing to it?

[2016-08-02 14:26] soutaro commented on #4758
@mvz @segiddins I don't think this is a *bug* of Bundler. This is because `ruby` load libraries given through `-r` command line option before `-r` libs in `RUBYOPT`.

https://bugs.ruby-lang.org/issues/5445

Adding explicitly `-rbundler/setup` in command line seems reasonable workaround for this to me.

[2016-08-02 14:52] shaneog commented on #4602
OSX 10.11.6
Rubygems: 2.6.6
Bundler 1.12.5

Confirm that the fix by @srbry works for me.

[2016-08-02 15:54] connorshea opened #4829 "Add a configuration option to disable `BUNDLED WITH`"
At GitLab we package Omnibus with a `Gemfile.lock`, if we have a `BUNDLED WITH` version at the bottom of the file, the test suite fails.

While I realize this is playing with fire, would it be possible to add a configuration option to prevent this from being added every time the `Gemfile.lock` is updated?

[2016-08-02 16:08] LynnCo commented on #4647
@allenzhao No, [indirect's comment](https://github.com/bundler/bundler/issues/4647#issuecomment-223865277) is still the preferred solution. #4795 does make this issue lower priority, though.

[2016-08-02 17:45] kevintpeng opened #4830 "URI parsing issues with fallback config, for ruby < 2.1.x"
- What did you do?

  I ran the command `/Users/kevintpeng/.gem/ruby/2.1.8/bin/bundle config mirror.https://rubygems.org.fallback_timeout true`
- What did you expect to happen?

  I expected Bundler to set the configuration value of fallback_timeout to true
- What happened instead?

  Instead, what actually happened was a URI parsing error, where the variable name was parsed as a part of the actua

[2016-08-02 21:01] segiddins commented on #4436
@allenzhao I believe so -- the key was, you have to be `bundle open`ing a default gem

[2016-08-02 21:04] segiddins commented on #4778
@allenzhao honestly, on start up might be the best place? otherwise in all of the places that expand based on `~`, centralized in a `SharedHelpers` method?

[2016-08-02 21:05] segiddins commented on #4829
@connorshea my gut reaction is that we're incredibly unlikely to add such an option. Can you try and explain why the section is causing you issues, so maybe we can brainstorm some workarounds either in bundler or on your end? Thanks!

[2016-08-02 21:53] indirect opened #4833 "Allow forward compatibility with new options by printing a warning instead of an error"
If future versions of Bundler add options or values (for `platform`, or `gem`, Bundler.settings, etc), older versions will currently raise an error like "not a valid option". That is technically true for that version of Bundler, but it's confusing if that option is a valid option in a later version.

It would be a better UX to print a warning on options that are not recognized, and suggest updatin

[2016-08-02 22:53] segiddins commented on #4833
Should we do this only for the Gemfile DSL, or also command line options?

[2016-08-03 21:59] scottj97 opened #4835 "`bundle gem` includes Gemfile.lock in .gitignore"
The Bundler.io docs are clear that I should commit Gemfile.lock to source control. Yet when I create a skeleton gem using `bundle gem foo`, it creates a .gitignore file that includes /Gemfile.lock.

This line should not be in the generated .gitignore.

[2016-08-03 23:00] segiddins commented on #4295
I've made some progress on this -- it turned out to involve re-writing a lot of how the resolver and lockfile deal with platforms

[2016-08-03 23:03] indirect commented on #4835
Thanks, you found a bug! It's a documenatation bug, though. The Gemfile.lock should not be checked in to a gem repo: http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/

[2016-08-03 23:11] scottj97 commented on #4835
Yes, I just found that...consider this a doc bug then.

[2016-08-03 23:16] scottj97 commented on #4835
Perhaps I'm ignorant about what constitutes an "app" vs a "gem". I'm building a command-line program that I don't expect to be used in any other way (e.g. nobody will 'require' my library).

I was planning to distribute it as a gem. Is that the right approach?

[2016-08-04 01:41] lamont-granquist commented on #4819
I'm seeing this fixed on master

[2016-08-04 02:54] kylekyle opened #4837 "SharedHelpers.clean_load_path causes error in 2.3"
The `SharedHelpers.clean_load_path` method looks like it was written to correct an issue Ruby 1.9, but is causing problems in Ruby 2.3. You can reproduce the issue using [iruby-dependencies](https://github.com/jupyter-gallery/iruby-dependencies) which uses bundler/inline to inject dependencies into Jupyter notebooks:

[code]

The block works the first time, but if you re-run the block (or run any

[2016-08-04 03:27] indirect commented on #4835
Hmm. Did you read the article I linked above? If you're going to allow someone to install your gem via `gem install` or `bundle install`, you absolutely should not check in a lock.

[2016-08-04 03:27] #4835 closed

[2016-08-04 04:12] indirect opened #4838 "Changing dependencies in a gemspec causes "corrupt Gemfile.lock" :/"
If you download [this zip file](http://files.arko.net/2e3E1p1Q1h1w/corrupt-lock-repro.zip), decompress it, cd into the directory, and run `./demo.sh`, you will get this error:

The problem with that error is that all I did was add two gem dependencies to the gemspec of `lita-tweet`, which is depended on by `rubytogether-lita`. :/ I am pretty sure this should not trigger a corrupt lockfile error, a

[2016-08-04 11:54] ferventcoder commented on #4819
Thanks @lamont-granquist - I haven't gotten back to test this yet. 👍

[2016-08-04 14:18] Confusion commented on #4766
I've done some more digging. I've reduced the set of gems on the gemserver to the minimum possible to still show the problem. Here's another [gist](https://gist.github.com/Confusion/182721304154071552e72923761a5612), where each part is only ~350 lines. One file shows a correct resolution and one an incorrect resolution.

Things of note:
* if I use Apache to serve the gems and fallback to 'fetch al

[2016-08-04 14:21] base16soft commented on #4599
Using the command fixed for me:

$ find ~/.bundle/cache -type d -exec chmod 0755 {} +

And I'm using BashOnWindows

[2016-08-04 16:41] lamont-granquist commented on #4819
Would definitely be good to see this getting released, everyone is deprecating 2.1.x support so we're getting a plague of failing bundle installs, and this would help some.

[2016-08-04 20:57] #4799 closed

[2016-08-04 22:11] segiddins commented on #4620
Is there a reproduction case for this I can test my fixes against?

[2016-08-04 22:42] praveenangyan commented on #4467
I can confirm that I am also seeing this with the ffi dependency, As @kianw mentioned, bundle _1.10.6_ install works.

[2016-08-04 22:48] segiddins commented on #4838
This was tricky but I have a fix for it locally

[2016-08-05 00:26] b-ggs commented on #4792
@kcee403 Would you mind giving me steps to reproduce this issue?

[2016-08-05 10:22] sanjaykarki commented on #4599
I'm having the same issue.

[2016-08-05 14:53] e2 commented on #4452
A link for anyone who got: https://github.com/bundler/bundler-features/issues/119

[2016-08-05 19:04] opiethehokie opened #4843 "BUNDLE_MIRROR__URL env var syntax not always valid"
$ export BUNDLE_MIRROR__HTTPS://RUBYGEMS.ORG="http://rubygems-mirror.org"
-bash: export: `BUNDLE_MIRROR__HTTPS://RUBYGEMS.ORG=http://rubygems-mirror.org': not a valid identifier

$ bash --version
GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin15)

\# export BUNDLE_MIRROR__HTTPS://RUBYGEMS.ORG="http://rubygems-mirror.org"
bash: export: `BUNDLE_MIRROR__HTTPS://RUBYGEMS.ORG=http://rubygems-m

[2016-08-05 21:44] jkeiser opened #4846 "download_gem not being retried"
It appears that retry applies to fetching specs and talking to git, but not to actually retrieving the gems themselves. We have received this error multiple times in the past month, even with `bundle install ... --retry 5`:

`Gem::RemoteFetcher::FetchError: Errno::ECONNRESET: Connection reset by peer - SSL_connect `

Bundler 1.12.5, Rubygems 2.6.5, Ruby 2.1.8p440.

For one example:

[code]

I can'

[2016-08-05 21:59] segiddins commented on #4846
can you try running with `DEBUG=1` so we can get a backtrace on that? Thanks!

[2016-08-06 11:51] malroc opened #4848 "Can't completely ignore group"
I have a gem that can *only* be *downloaded* in production environment.
When I try to use `--without production` syntax, I get an error, since Bundler still tries to download all the gems.
I know this is the expected behavior and it is described in the docs:

http://bundler.io/man/bundle-install.1.html

But I *really* want to completely ignore this particular gem in development environment. I don'

[2016-08-06 14:28] segiddins commented on #4848
Do you have a lockfile present? It shouldn't need to download the gem if it doesn't need to re-resolve

[2016-08-06 17:01] malroc commented on #4848
@segiddins yes, lockfile is present, and that was working as you describe until I had to create a new rvm gemset. On a clean gemset `bundle install` fails.
Anyway, your tip is a workaround. I know several ways to workaround this behavior. But it would be much better if I wouldn't have to.

[2016-08-07 07:42] pboling commented on #4472
Getting this on install of bundler 1.12.5 e.g. https://travis-ci.org/Dynamoid/Dynamoid/jobs/150380064

[2016-08-07 07:52] indirect commented on #4472
@pboling homu is a bot, and probably can't help you. I believe that we fixed this issue (to instead print a warning and then automatically use the full index), but we haven't released it yet. For the time being, you can work around this problem by running `bundle install --full-index`.

[2016-08-07 13:21] allenzhao commented on #4665
Been working on this for a little while now and three things need to be mentioned:

1.  `rake spec:deps` stops working for some strange reason:
https://github.com/bundler/bundler/blob/master/Rakefile#L58 Setup failed because of a `The system cannot find the file specified.` error.
Seems related to [Spec::RubyGems.setup](https://github.com/bundler/bundler/blob/master/spec/support/rubygems_ext.rb#L2

[2016-08-08 04:31] indirect commented on #4848
If Bundler has a lock and doesn't need to re-resolve, the gem will not be downloaded. If Bundler does not have a lock, or has a lock but the Gemfile has changed, it is not an issue of warnings or danger, it is an issue of not being able to resolve the Gemfile unless every gemspec is available.

This isn't us refusing to do something we could do, it's us letting you know that what you want isn't lo

[2016-08-08 04:31] #4848 closed

[2016-08-08 05:30] LynnCo commented on #4817
ping @jamesiarmes

[2016-08-08 05:31] LynnCo commented on #4801
Should be fixed on master as of https://github.com/bundler/bundler/pull/4802, can re-open if that's not accurate

[2016-08-08 13:47] jamesiarmes commented on #4817
The project that I've encountered this in is private. I'll try to create a Gemfile without private repos that I can post.

[2016-08-08 14:43] segiddins commented on #4801
#4802 didn't change any of the actual behavior of the help command

[2016-08-08 16:02] jkeiser commented on #4846
@segiddins sure. I'll set my builds to doing that. Not sure how long it'll take to get a repro!

[2016-08-08 19:54] segiddins commented on #3537
This should now be fixed on the 2-0-dev branch.

[2016-08-08 19:54] #3537 closed

[2016-08-08 21:03] #4000 closed

[2016-08-08 22:29] segiddins commented on #4372
This ought to be fixed by https://github.com/bundler/bundler/pull/4836

[2016-08-08 22:35] segiddins commented on #4467
For those of you seeing this problem -- are you using the git local feature? If so, this should be fixed by https://github.com/bundler/bundler/pull/4840

[2016-08-08 22:39] segiddins commented on #4502
This can now been done when the experimental `postit_trampoline.rb` is enabled && the `BUNDLER_VERSION` environment variable is set (and also reading the locked version from the Gemfile.lock), so I don't think we really want to support yet another dotfile?

[2016-08-08 22:39] segiddins commented on #4506
I think @asutoshpalai has been working on this as a plugin?

[2016-08-08 22:41] indirect commented on #4843
This is resolved by #4844, thank you for both the report and the PR!

[2016-08-08 22:41] #4843 closed

[2016-08-08 22:43] indirect commented on #4846
@segiddins if `install_from_gem` doesn't have any internal retry logic, we should definitely wrap it in a retry block 😅

[2016-08-08 22:56] indirect commented on #4833
Good question. Both? This seems like it should probably be a warning normally and an exception in `--deployment` mode. Which I'm starting to think we should rename `--strict` or something. 😝

[2016-08-08 22:56] segiddins commented on #4511
[code]

I believe this should be the gist of it, but it's untested

[2016-08-08 22:57] segiddins commented on #4517
`bundle lock --add-platform` should accomplish this?

[2016-08-08 23:00] segiddins commented on #4525
This should be fixed by 1.12.5

[2016-08-08 23:58] #4753 closed

[2016-08-09 00:00] indirect opened #4852 "1.13: the bundling! it's happening!"
- [x] refactor spec output to remove expect_err
 - [x] allow compact index resolves without a network connection behind a feature flag
 - [x] move gem installation errors to the end of install output
 - [x] refactor Runtime and Environment subclasses away
 - [x] Address comments and merge "set process title when using load" https://github.com/bundler/bundler/pull/4589
 - [x] Add `bundle exec --no-

[2016-08-09 00:01] indirect opened #4853 "1.14: the one with the platforms, finally"
- [x] create stable branch after 1.13 final to unblock 2.0 merge
- [x] merge new platform support https://github.com/bundler/bundler/pull/4836
  - [x] bundler treats distinct platforms as identical (see also https://github.com/bundler/bundler/issues/4295, https://rubygems.org/gems/google-protobuf/versions)
  - [x] bundler seems to complain about broken lockfiles when they have more than one platfo

[2016-08-09 00:05] indirect opened #4854 "Remove "or available on this machine" from GemNotFound error in --path mode"
As discussed in #4571, it's confusing that bundler says "or available on this machine" when the bundle is installed using `--path` mode. We should stop printing it under those circumstances. While we're at it, it would be cool to add "or in gems cached in vendor/cache" if the cache exists.

[2016-08-09 00:05] indirect commented on #4571
Good point, thanks. Made a ticket for it.

[2016-08-09 00:05] #4571 closed

[2016-08-09 00:05] indirect commented on #4622
I believe this has been fixed on the server side, so I'm going to close this ticket. Let us know if you see more issues like this, though!

[2016-08-09 00:07] #3061 closed

[2016-08-09 00:08] #4622 closed

[2016-08-09 00:10] indirect opened #4855 "1.99: the one that complains at you a lot"
- [x] hardcode the deprecations flags as turned on
- [x] deprecate `inject` in favor of `add`
- [ ] release final at the same time as 2.0

[2016-08-09 00:12] indirect opened #4856 "2.0: a whole new world"
- [x] remove psyched_yaml https://github.com/bundler/bundler/issues/4825 https://github.com/bundler/bundler/pull/4916
- [x] remove .ruby-version support #4892
- [x] remove `inject` command (deprecated in favor of `add`)
- [x] always resolve with auto-lock to RUBY_VERSION (as per #4853)
- [x] in --deployment mode, raise when running ruby doesn't match auto-locked ruby
- [x] documentation for managi

[2016-08-09 00:17] indirect opened #4857 "Repo merger considerations"
Currently available as a ticket at rubygems/rubygems#1681.

[2016-08-09 00:42] ioquatix commented on #4571
Thanks for everyone's effort. Just to clarify, this is still an issue w.r.t. the nominal gem behaviour. I don't think this issue is closed just by changing the wording - there is still an underlying problem with the behaviour here.

[2016-08-09 00:47] b-ggs commented on #4602
Can you check if running `1.13.0.rc.1` fixes this? I tried it out on the discourse docker image, and it seems to work fine.

[code]

[2016-08-09 01:03] sj26 commented on #4622
Thanks so much for your hard work @indirect!

[2016-08-09 01:08] indirect commented on #4571
@ioquatix just to be clear about the behavior: Your original post says that it has "worked in the past", but Bundler has exclusively read gems from and installed gems to the same single location since 1.0, over six years ago. It has been documented for that entire time in the help for `install` where it talks about the --path and --system flags.

Bundler 2.0 will include a user-wide .gem download

[2016-08-09 01:09] ioquatix commented on #4571
@indirect I guess I'm referring to the way the `gem` command works in this regard.

[2016-08-09 01:17] ioquatix commented on #4571
@indirect I reviewed everything above. The issue here is really that setting `--path` also forces `BUNDLE_DISABLE_SHARED_GEMS`. This means that simply by adding `--path`, `bundle install` fails to work in the case that gems are available locally but not in the remote source.

RedHat stopped using bundler in the instance given above due to the behaviour discussed. Adding `--path` has a side-effect

[2016-08-09 01:20] indirect commented on #4571
@ioquatix yup, that's how it works. We released some pre-1.0 versions of Bundler that did not combine --path and disabling shared gems, and it was a complete disaster from a UX, documentation, usability, and debugging perspective. Not a bug, and we're not planning to change it.

[2016-08-09 01:24] ioquatix commented on #4571
@indirect It would be interesting to know what was the problems relating to UX, documentation and usability?

Clearly, the behaviour I see here is bad for UX.

No where can I see this documented:

[code]

According to this documentation, adding `--path=$DEFAULT_RUBYGEMS_PATH` should work the same as not specifying path at all, but it won't, because it will additionally set `BUNDLE_DISABLE_SHARED_G

[2016-08-09 03:31] #4838 closed

[2016-08-09 03:36] jcoyne opened #4858 "Prerelease X.0.0.rc1 matches spec for < X"
[code]

I don't understand how ` active-fedora (< 11, >= 10.0.0.beta1) was resolved to 11.0.0.rc1`, is that right?

Bundler version 1.12.5

[2016-08-09 08:43] jacobat opened #4859 "Weird behaviour with rc gem"
I'm in a weird situation. I can run:

[code]

And this works with my current Gemfile and Gemfile.lock. Now if I go and remove some arbitrary gem from the Gemfile I suddenly get:

[code]

Where `[a_private_gem]`  is a gem that is not publicly available.

Now if I make a proper active_record_shards-3.7.0 everything suddenly works as expected and I can bundle just fine.

I'm not sure how to easily cr

[2016-08-09 08:47] jacobat commented on #4859
Furthermore if I remove active_record_shards from the Gemfile (it's depended on by other gems) things start working as well even though active_record_shards.3.7.0.rc1 is still in the Gemfile.lock.

[2016-08-09 11:42] vishalkaundal4 opened #4860 "run bundle install error"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `/usr/local/bin/bundle install`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what actually happened was...

Error details

    Errno::EHOSTUNREACH: Failed to open TCP connection to 172.16.24.3:3128 (No route to host - conne

[2016-08-09 13:11] segiddins commented on #4858
Yes, that is correct -- because there is a pre-release requirement, bundler considers prerelease versions, and x.pre is less than x+1

[2016-08-09 13:12] segiddins commented on #4859
What's the output of `bundle env`? I think this will be a hat bug to track down without a reproduction case, sorry.

[2016-08-09 13:20] jcoyne commented on #4858
You said:

But is it also true that
`x.pre is less than x`?

[2016-08-09 13:27] jcoyne commented on #4858
Is it possible to write gemspec requirement that includes all releases of 8.0.0-10.x.x but will not include 11.0.0.pre?

[2016-08-09 13:34] segiddins commented on #4858
`>=8,<11.a` should do it

[2016-08-09 13:34] jcoyne commented on #4858
Thanks. That's quite helpful

[2016-08-09 13:34] #4858 closed

[2016-08-09 13:35] segiddins commented on #4833
The more I think about it, the more I'm against this. I think it will make it very easy to write a gemfile or invoke bundler in a way that is very close to correct, and thus lead to confusion and frustration when things don't work as expected.

[2016-08-09 13:37] solojavier commented on #3952
Is there anything we could do to help this move forward?

[2016-08-09 13:55] segiddins commented on #4854
This just uses the `#to_s` of the source. Keep in mind I changed that in the 2.0 branch.

[2016-08-09 13:58] segiddins commented on #3952
@solojavier diving into the bundler code base would be the biggest thing at the moment -- out efforts have been focused on other issues recently

[2016-08-09 15:10] segiddins commented on #4852
I can't guarantee this will happen quickly

I'd rather make it be in `Bundler.settings[:disable_exec_load]`

[2016-08-09 15:11] segiddins commented on #4853
I thought we agreed to move this to 2.0?

[2016-08-09 15:14] segiddins commented on #4855
This can just be changing `SharedHelpers.prints_major_deprecations?` to be `return false if !Bundler.settings[:major_deprecations] &&  !Bundler::VERSION.split(".").include?("99")` and can be done now

[2016-08-09 15:54] ivancortesromero opened #4861 "Issue while bundle install"
- What did you do?

  I ran the command `/Users/fluvip/.rvm/gems/ruby-2.3.1@project/bin/bundle install`
- What did you expect to happen?

  I expected Bundler to install gems from Gemfile to specific gemset
- What happened instead?

  Instead, what actually happened was this error appeared.

Error details

[code]

Environment

  Bundler   1.12.5
  Rubygems  2.5.1
  Ruby      2.3.1p112 (2016-04-26

[2016-08-09 22:10] indirect opened #4864 "Compact index case collisions"
Related to rubygems/rubygems.org#1356, there is a problem compact index clients: if you install the gem `Rack`, Bundler will download the file from `/info/Rack` and save it to the filesystem. If you later install the gem `rack`, Bundler will download the file from `/info/rack` and save it to the filesystem. But most filesystems are not case-sensitive. So this means that the compact index client wi

[2016-08-10 03:59] RochesterinNYC commented on #4826
It doesn't look like this error is really being thrown in Bundler?

[2016-08-10 04:04] RochesterinNYC commented on #4860
This looks like some sort of network error. Are you running `bundle install` behind a firewall or some other kind of restricted network environment?

[2016-08-10 08:18] b-ggs commented on #4106
Could you check if running `1.13.0.rc.1` fixes this?

[code]

Didn't seem to run into any issues while trying to repro.

[2016-08-10 08:36] jacobat commented on #4859
I'm not even able to reproduce anymore. Closing this out pending further investigation.

[2016-08-10 08:36] #4859 closed

[2016-08-10 08:39] b-ggs commented on #4801
Working on this!

[2016-08-10 13:43] jcoleman commented on #4106
@b-ggs I was able to reproduce again; it seems my initial repro steps comment was slightly incorrect.

[code]

[2016-08-10 13:44] vbyno opened #4866 "`path` option can't be used in multi-level way"
[code]

[code]
I understand this might be not preferable feature at all. Could you please give a piece of advice how this can be handled (without adding `gem3` dependency directly to `gem1`?

[2016-08-10 13:45] jcoleman commented on #4106
I also updated my gist since it seemed to reference a commit that my machine couldn't resolve for some reason; not sure why it wasn't a problem for you.

[2016-08-10 14:40] segiddins commented on #4866
Can you please provide directions for reproducing the issue? It's hard to tell what's going on without seeing the gemspecs in question. Thanks!

[2016-08-10 17:57] njh commented on #4659
I am having the same problem but by choosing a specific branch, rather than commit:

`$ bundle env`
[code]

`$ bundle update`
[code]

[2016-08-10 19:37] segiddins commented on #4507
Might it make more sense to just disallow direct access to the bucket from the S3 side instead of doing it in bundler?

[2016-08-10 19:39] colinrubbert commented on #4630
I'd just like to confirm that the `chmod +t -R ~/.bundle/cache` worked for me on the Anniversary edition release for Windows 10, also worked on the insider preview release.

[2016-08-10 19:39] segiddins commented on #4539
Closing since bundler now includes postit (behind a feature flag at the moment)

[2016-08-10 19:39] #4539 closed

[2016-08-10 20:00] daho16 opened #4870 "parent directory is world writable,"
when i do update for bundle

parent directory is world writable, FileUtils#remove_entry_secure does not work; abort: "/home/dama/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47/versions20160810-16014-1vlzcap" (parent directory mode 40777)

[2016-08-10 20:23] segiddins commented on #4870
Thanks for the issue! I think it's a duplicate of https://github.com/bundler/bundler/issues/4599, so I'm going to close this one for now.

[2016-08-10 20:23] #4870 closed

[2016-08-10 21:07] njh commented on #4659
Deleted my previous comment - my problem was that I was requiring a specific version of ruby in my Gemfile, which was in conflict with one of the gems using. Removing the ruby version requirement fixed me problem.

[2016-08-10 22:58] Nowaker commented on #4659
Sorry - I forgot about it. Actually, it seems @njh provided everything you asked my for... so I'm repasting @njh's comment. His problem is exactly what I reported. When something doesn't work out in dependency resolution, a very weird error is shown that a typical human doesn't understand.

---

[code]

[2016-08-10 23:26] scotthain commented on #4846
@segiddins @indirect Here's some debug output from one of our freebsd machines. We have had a few other repros today so let @jkeiser or myself know if you need more! https://gist.github.com/scotthain/58da989cfd632f252e3d1f7c20a2919e

[2016-08-11 01:07] indirect commented on #4852
Punting is totally fine! I thought it was already done, sorry. 😬  I've moved it to the "any version" list.

Yeah, that's fine.

[2016-08-11 01:09] indirect opened #4871 "Tasks anyone can claim"
- [x] resurrect the unfinished `add` command #4901
- [ ] store a Gemfile checksum in Gemfile.lock, so we can skip the resolver when unchanged
- [x] Add a `bundle issue` command that prints instructions for reporting issues as well as the output from `env` and `doctor` #5505
- [x] add `--parsable` option to `config` #4913 https://github.com/bundler/bundler/issues/4919 #5306
- [x] fix build and merg

[2016-08-11 08:43] egbertp commented on #4576
@pmantaj Thanks for sharing!

I'm running inside a Docker container based on ruby:2.3.1-alpine. Installing bundler in the Dockerfile solved the problem. Thanks again!

[2016-08-11 10:52] vbyno commented on #4866
@segiddins , here is repository with these three gems and steps to reproduce: https://github.com/vbyno/gems_path_example

[2016-08-11 14:48] segiddins commented on #4866
Thanks!

[2016-08-11 16:13] #4864 closed

[2016-08-11 16:46] segiddins commented on #4866
From the example, it looks like you'll need to add `../gem3` as a path source? Otherwise, bundler has no idea that there's a gem in that directory

[2016-08-11 20:23] segiddins commented on #4682
[code]

[2016-08-11 20:24] segiddins commented on #4681
Done in https://github.com/bundler/bundler/pull/4674

[2016-08-11 20:24] #4681 closed

[2016-08-11 20:25] segiddins commented on #4634
Closing due to lack of a response.

[2016-08-11 20:25] #4634 closed

[2016-08-11 20:56] segiddins commented on #4827
Also, this probably should wait until 2.0, since danger only supports Ruby 2+

[2016-08-11 21:36] indirect commented on #2865
Every Travis VM ships with a ramdisk mounted at (iirc) `/var/ramfs`. It will be at least 512MB, which I'm not sure about being large enough for our tests or not. Worth trying, because it seems like it would speed up our tests by a _huge_ amount. Integration tests need fast IO.

[2016-08-11 21:36] saizai commented on #4750
I've run `rvm upgrade rbx-3.47 rbx-3.51`, uninstalled previous bundler versions, and installed bundler version 1.11.2 per https://github.com/rubinius/rubinius/commit/b30a3aeb678845a3bb39d42539e917caf8f9c870

After doing so, bundle update runs successfully.

I tried running bundler verison 1.13.0.rc.1 on rbx 3.51 before uninstalling it and downgrading to 1.11.2, and that crashed the same as in my o

[2016-08-11 22:32] jkeiser commented on #4846
The relevant bit:

[code]

[2016-08-12 08:10] vbyno commented on #4866
@segiddins , do you suggest adding `../gem3` path to `gem1` Gemfile? Yes, it will fix it. But I would like not to add this dependency explicitly to `gem1` if it already exists in `gem2`.

[2016-08-12 09:46] cduez commented on #4602
I just builded a docker image from the ruby 2.3 dockerfile but with bundler version `1.13.0.rc.1` and it works fine this time.

[2016-08-12 12:14] Strangehill commented on #4065
A solution that has worked for me is installing rbenv, and switching away from the built-in version of ruby to a new ruby installation, e.g. `rbenv global 2.2.3`

[2016-08-12 16:00] segiddins commented on #4866
it's not adding a dependency to `gem1`, it's just telling the Gemfile where to find  `gem3` which it seems you want to pull in via a path source

[2016-08-12 20:11] vbyno commented on #4866
Hm... But isn't it strange `gem1` doesn't know where to find `gem3`? I mean, it knows where to find `gem2`. And `gem2` knows where to find `gem3`. Why can't `gem1` get this knowledge from `gem2`?

[2016-08-12 20:18] indirect commented on #4866
Nope, `gem2` knows no such thing. When you put a `Gemfile` in a directory, you are not telling the gem anything at all, you are only telling Bunder that if it runs in that directory it should follow the directions in the `Gemfile`. If another gem uses `gem2`, it will not have any ideas about where to get `gem3`, because gems cannot contain instructions about where to get gems from.

[2016-08-13 06:30] XhmikosR commented on #4467
For AppVeyor it wasn't so simple  https://ci.appveyor.com/project/AppVeyor-Website/website/build/1.0.183

I had to run

[code]

And now it works again https://ci.appveyor.com/project/AppVeyor-Website/website/build/1.0.199

So this is definitely a bug in versions > 1.10.6.

[2016-08-13 23:55] twins16 commented on #4870
thank's man

[2016-08-14 18:18] b-ggs commented on #4106
@jcoleman Hmm, is this not the expected behavior when if you haven't run `bundle install` after running `bundle package --all`? (cc: @segiddins @RochesterinNYC)

[code]

Seemed to work fine after running `bundle install` after packaging the gems, and `bundle show pg_query` seems to point to the packaged gem inside `vendor/cache`.

(By the way, I modified your gist to remove the commit reference si

[2016-08-14 23:30] #4846 closed

[2016-08-15 07:55] Aqualon opened #4881 "bundle outdated --source not working as expected"
The help for `bundle outdated` states:

`[--source=Check against a specific source]`

I expect that I could use this to check outdated gems not against our internal rubygems host defined in my Gemfile, but against rubygems.org by executing `bundle outdated --source rubygems.org`.

But according to the output it still connects to our internal gem server and not `rubygems.org`.

Do I use it wrong, i

[2016-08-15 08:41] p commented on #2428
Interesting, is `Bundler::Dsl::VALID_PLATFORMS` part of bundler's public API which is guaranteed to never change?

[2016-08-15 13:00] jcoleman commented on #4106
@b-ggs I'm not sure if that's expected behavior officially or not. At the very least I'd say it would be confusing behavior, since the package run prints out output exactly like an install, and, in fact, installs the gems into the vendor cache directory.

[2016-08-15 18:27] segiddins commented on #4881
@Aqualon is there a Gemfile & Gemfile.lock we could use to reproduce the problem? Thanks!

[2016-08-15 18:28] segiddins commented on #2428
@p no, that constant is private API -- use it at your own risk, it may change in the future

[2016-08-15 18:48] Aqualon commented on #4881
Since I can't give you our internal server, I confirmed it also happens other way around.

Example Gemfile:
[code]

Calling `bundle outdated --source localhost` should try to access localhost, but only accesses rubygems.org

[code]

[2016-08-15 19:18] segiddins commented on #4881
👍 good catch. It turns out we don't even have any specs for `bundle outdated --source`, so we'll need to work on defining what the expected behavior is for that option

[2016-08-15 19:31] Aqualon commented on #4881
The main use case for me would be, that I can keep our internal gem server in the Gemfile and for checking if there are newer versions on rubygems.org, I could just add an option and would not have to edit the Gemfile.

But looking at the description of `--source` for `bundle update`, it may actually mean something different:
[code]

So maybe it's a feature request to add something like `--remote`

[2016-08-15 20:27] segiddins commented on #4806
Made lots of progress on this, going to close it for now since all the important methods have been moved over

[2016-08-15 20:27] #4806 closed

[2016-08-15 21:41] #4726 closed

[2016-08-16 00:08] jacobbednarz opened #4883 "Bundler version file?"
Hey,
I work on a few projects that use Bundler and each of them has a different version need. For example:

- ProjectA is an older application and only works with Bundler 1.11.x
- ProjectB is a new hipster app that runs on bleeding edge Bundler.

I know things like `bundle _VERSION_ install` are available however this is something that often gets forgotten and has people throwing their hands up be

[2016-08-16 07:14] #4663 closed

[2016-08-16 13:18] CirrusThink opened #4884 "Bundler v above 1.10.6 will not link dynamic libraries correctly for mysql2"
I have not had the chance to test this on other platforms but with Solaris 11.1, 11.2 & 11.3 the issue is the same.
We opened the ticket with mysql2 gem developer earlier but it turns out the failure dependency is on bundler version. https://github.com/brianmario/mysql2/issues/771

[code]

When building mysql2 with bundler 1.10.6 it all works.
How is the bundler affecting the dynamic library ?
wha

[2016-08-16 14:00] p commented on #2428
Going back to the original bug report, the problem was in a third party library-bundler interaction. Changing said library to use bundler internals is not a usable solution in that case (if I was to make this change locally I would just delete the offending platform instead).

[2016-08-16 14:56] segiddins commented on #4884
Can you please share the output of `bundle env`? Thanks!

[2016-08-16 16:20] CirrusThink commented on #4884
https://gist.github.com/CirrusThink/52922d9cdfb2e658cade78d3071ab30a

[2016-08-16 16:40] allenzhao commented on #4827
@segiddins So if I would like to work on this, can I work on the 2.0 branch?

[2016-08-16 16:44] segiddins commented on #4827
I would personally recommend waiting, as project infrastructure stuff will conflict horribly when we finally get around to merging 2-0-dev into master

[2016-08-16 18:50] vbyno commented on #4866
@indirect , thanks for a clarification. I assume Issue can be closed. See no way this can be handled without pointing at `gem3` in `gem1`'s Gemfile or excluding `gem3` dependency from `gem2`. Probably this is impossible without executing `gem2`'s Gemfile which would be silly.

[2016-08-16 18:50] #4866 closed

[2016-08-16 19:06] johnl commented on #4602
I'm having this problem with the "official" docker images too so I'm testing with that, but it makes life really difficult due to a weird configuration. It looks like bundler 1.12.7 is installed in /usr/local/lib/ruby/gems/2.3.0 by default but there are loads of env variables that are then set when you use the container yourself that change it's behaviour. Particularly GEM_HOME=/usr/local/bundle

[2016-08-16 21:47] Tset-Noitamotua opened #4887 "ArgumentError: parent directory is world writable, FileUtils#remove_entry_secure does not work;"
This was run on Window`s new [Bash Shell](http://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/) (Bash on Ubuntu on Windows) which is in beta yet.

[code]

[2016-08-16 21:51] segiddins commented on #4887
This should have a more informative message as of https://github.com/bundler/bundler/pull/4738, which hasn't been released yet.
In the meantime, you might want to remove the world-writable permissions bit from the parent directory

[2016-08-17 21:53] jacobbednarz commented on #4883
Thanks for the pointers @segiddins - I didn't manage to find that first time around.

While the postits gem looks to do what I'm after, I'm not too sure about the need to replace `bundle` calls with `postit` calls (please correct me if I've misunderstood this). I'd rather this be handled under the covers and not interrupt the existing developer workflow. I see it's now in bundler behind a feature

[2016-08-18 03:13] segiddins commented on #4883
It's been integrated into bundler itself in the 1.13 release series, behind a feature flag

[2016-08-18 06:03] jacobbednarz commented on #4883
Thanks, I guess I'll need to get them all onto 1.13 in order to be able to use this.

[2016-08-18 06:03] #4883 closed

[2016-08-18 06:54] indirect commented on #4883
Keep in mind that if you use the feature flag, your projects can stay on older Bundler versions, as long as the machine they are running on has Bundler 1.13+ installed.

[2016-08-18 06:56] jacobbednarz commented on #4883
Ah great to know @indirect - much appreciated!

[2016-08-18 07:55] Tset-Noitamotua commented on #4887
How do one remove world-writable permissions from parent directory?

[2016-08-18 15:12] segiddins commented on #4887
`chmod o-w file`

[2016-08-18 19:13] Tset-Noitamotua commented on #4887
ok thanks   ... I run into a lot of other trouble now but I guess it`s not Bundler`s fault .  So as for me this issue can be closed.

[2016-08-18 19:37] markwintch opened #4890 "SQL Database rake:db:migrate"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
- What did you do?

  I ran the command `C:/Ruby21-x64/bin/bundle exec rake:db:migrate`

- What did you expect to happen?

  I expected Bundler to...
RemovePositionDefaults: migrating
Then change columns
Then AddRolesSettings

- What happened instead?

  Instead, what actually happened was...

Error details

    Errn

[2016-08-18 19:58] segiddins commented on #4887
Let us know if there's anything else we can help with!

[2016-08-18 19:58] #4887 closed

[2016-08-18 19:58] segiddins commented on #4890
I think you meant to run `bundle exec rake db:migrate`, though we should definitely be catching that error and presenting a friendlier one

[2016-08-18 20:02] markwintch commented on #4890
Oh my, so I had this problem because I put a : where it didn't belong and I
still never caught that error?  I will blame looking at this all day.
Thank you for seeing this oversight on my part.

*Mark Wintch*

Systems Analyst I

*Phone:* 913-309-4503

*Fax:* 1-866-470-0066

*Email:* mwintch@grantham.edu

 [image: Inline image 1]

       Online.* But not alone*.*TM*

Know someone who should hear ab

[2016-08-18 20:04] markwintch commented on #4890
We can go ahead and close this issue.

[2016-08-18 20:06] segiddins commented on #4890
👍

[2016-08-18 20:06] #4890 closed

[2016-08-18 20:17] segiddins commented on #4860
This will yield a better error message about bundler being unable to reach the host on `master`

[2016-08-18 20:17] #4860 closed

[2016-08-19 00:06] mwrock opened #4896 "`bundle lock` does not activate gems for current platform if it was activated under a different platform for a separate dependency"
As part of our build process we `bundle lock` against `ruby` and then again against `x86-mingw32` and commit a unified lock file with aggregate gem requirements. This works well for us in most cases. However there is a specific edge case where this breaks.

Assume this minimal Gemfile:
[code]
Now if I `bundle lock` separately  on linux and windows, each platform generates an acceptable lockfile. H

[2016-08-19 00:11] segiddins commented on #4896
Have you tried this against https://github.com/bundler/bundler/pull/4836 ? I believe it should fix the issue. Also, you might want to look into using `bundle lock --add-platform` to add the platform instead of moving between different machines

[2016-08-19 00:16] mwrock commented on #4896
I'll try #4836 I did try `bundle lock --add-platform` but got the same undesirable results.

[2016-08-19 00:19] segiddins commented on #4896
That's expected, since I think https://github.com/bundler/bundler/pull/4836 fixes it by introducing the `materialize_for_all_platforms` method

[2016-08-19 00:21] segiddins commented on #4896
Ugh just confirmed the bug still exists, I'll see if I can dig into why

[2016-08-19 00:39] mwrock commented on #4896
Oh that does fix the issue. Very awesome! I didn't use `--add-platform` since just a vanilla `bundle lock worked. I can certainly wait but just curious if there is a ball park estimate when that might ship. Thanks!

[2016-08-19 00:39] segiddins commented on #4896
I have a fix, will add it to the existing PR which ought to ship in 1.14

[2016-08-19 01:14] mwrock commented on #4896
The `--add-platform` will be very nice by the way and help us avoid current tom foolery hacking with `Gem.platforms` in order to lock to a platform different from the current environment.

[2016-08-19 01:55] segiddins commented on #4896
In that case, you might also find https://github.com/bundler/bundler/pull/4895 interesting!

[2016-08-19 15:49] connorshea commented on #4829
After thinking about this more and discussing it, I agree. This probably shouldn't be added and our process should change. I'll close.

[2016-08-19 15:49] #4829 closed

[2016-08-19 23:40] Blargel opened #4899 "Gem path loading issue with Bundler.require during "bundle exec rake test""
I encountered a strange issue after upgrading from version 1.10.6 to 1.12.5 of bundler where the gems are loaded properly when running "bundle exec rackup", but they are not when running "bundle exec rake test". It appears to attempt to load a file in my application's lib/ directory as the gem instead of the actual gem.

I've made an extremely stripped down version that can reproduce the issue her

[2016-08-20 00:36] #4511 closed

[2016-08-20 05:12] johnchourajr opened #4900 "Bundler Error"
Got this error when running bundler

[code]

[2016-08-21 01:26] indirect opened #4901 "Fixes for `add` command"
- [ ] add an artifice test so we know it works against e.g. the dependency API
- [ ] get gem version list directly from source using fetcher
- [ ] either remove `--source` option or respect it when fetching the list of gem versions
- [ ] handle gem names that aren't present on rubygems.org