[2017-04-04 10:00] regalbob commented on #5557
Thanks! I found an existing issue that that may solve it: https://github.com/rubygems/rubygems/issues/1800.

On a related question, I've been reading some Rails books and they say some gems won't even work on Windows. Would Rails work on Linux Mint installed virtually on Windows? The challenge is our IBM i business system (iSeries or AS400) must host Rails as that is where the database is (DB2).

[2017-04-04 10:09] regalbob commented on #5557
To answer your question, no proxy.

[2017-04-04 10:34] colby-swandale commented on #5557
Running rails in Linux is well supported and documented.

[2017-04-04 12:41] segiddins commented on #5561
Can you try with bundler 1.14.6 and see if it has a better error message? Thanks!

[2017-04-04 13:14] #5560 closed

[2017-04-04 13:43] jwaiswa7 commented on #5561
Fine Samule and Colby,

Let me try bundler 1.14.6

Kind regards

Joshua Waiswa
+256-771-806549
+256-755-924191
skype: waiswa.joshua
See my Plum Profile <https://app.plum.io/profile/jwaiswa>

Life is not about winning the race, but about finishing the race and how
many people you help finish, it might just be you that need help finishing
your race

On Tue, Apr 4, 2017 at 3:41 PM, Samuel Giddins <no

[2017-04-04 14:13] lcesar33 opened #5563 "URI::InvalidURIError: bad URI(is not URI?)"
I was using jruby 9.1.2 and after upgrade to 9.1.8 I have errors when I try to install missing gems.
I've installed last bundler version: 1.14.6 and I receive next error when trying to install missing gems:

URI::InvalidURIError: bad URI(is not URI?): http://xxxx.xxx@xxxx.xx:xxx@proxy.hq.xxx.ie:8080
  C:/jruby-9.1.8.0/lib/ruby/stdlib/uri/rfc3986_parser.rb:67:in `split'
  C:/jruby-9.1.8.0/lib/ruby/

[2017-04-04 14:18] olleolleolle commented on #5563
(As a first small step, does it improve your situation to `gem update --system`?)

[2017-04-04 14:54] lcesar33 commented on #5563
Thanks Olle, the issue has been fixed.
I believe the problem was related with permissions, I was executing the bundle install from rubymine, when I've executed from a command window of my application bin folder it has worked.
Many thanks and Regards.

[2017-04-04 14:55] #5563 closed

[2017-04-05 23:43] #5487 closed

[2017-04-06 16:08] galopin opened #5566 "Bundler cannot run on Windows when username contains non-ASCII characters"
I have the following issue on my Windows set-up:

[code]

The problem comes from a patch that was applied years ago to the [Pure-Ruby Readline](https://github.com/ConnorAtherton/rb-readline) implementation — the original issue (https://github.com/ConnorAtherton/rb-readline/issues/8) was fixed by this pull request (https://github.com/ConnorAtherton/rb-readline/pull/89).

My HOME environment variabl

[2017-04-06 22:57] hjhart opened #5567 "Private github gems via HTTPS"
I'm trying to migrate my Gemfile from the insecure git protocol to the HTTPS protocol. Specifically, my gems that are private repositories on github.

[code]

Unfortunately, I later found out that the (hopefully) obfuscated GITHUB_TOKEN environment variable was showing up in the `Gemfile.lock`, which we're checking in, which I'd like to avoid. :)

[code]

Is there a best practice for using HTTPS w

[2017-04-06 23:30] colby-swandale commented on #5567
The best practice is to use `bundle config` to store your credentials. See the [Gemfile documentation](http://bundler.io/man/gemfile.5.html#CREDENTIALS-credentials) re: credentials.

[2017-04-06 23:40] segiddins commented on #5567
Either use bundle config or a [git credential store](https://git-scm.com/docs/git-credential-store) (like a system keychain)

[2017-04-07 04:29] #5452 closed

[2017-04-07 08:15] DerGuteMoritz commented on #5245
Hey folks, I've taken a stab at it but couldn't find a concise enough patch given the time I can spend on this. That is, I ended up changing many thing in numerous places which lead me to believe that somebody with a more encompassing knowledge of the whole system is probably more qualified to provide a pointedly formulated patch. My apologies and good luck!

[2017-04-07 17:29] hjhart commented on #5567
Thanks guys! Much appreciated. I wrote a blog post with a little more detail here: http://hjhart.github.io/2017/04/05/using-bundler-to-securely-install-your-private-github-gems.html

[2017-04-07 17:29] #5567 closed

[2017-04-07 19:11] joemsak opened #5569 "upgrading rails 4.2.8 -> 5.0.2, can't resolve dependencies for sprockets-rails / rack"
I decided to see if I could upgrade my rails install today, and it hasn't gone very well with bundler :(

Check this error I am getting from bundler when trying to run `bundle update`

[code]

And a thread between me and @tenderlove on twitter where he says he can reproduce it and isn't sure what the issue is, told me to open a ticket (also shows a screenshot of bundler resolving dependencies for

[2017-04-07 19:54] indirect commented on #5567
thanks for the blog post, @hjhart!

[2017-04-07 20:39] segiddins commented on #5569
Can you check if this is fixed on bundler `master`? There are improvements to `bundle update` that haven't been released yet

[2017-04-07 23:15] alextaylor000 commented on #5177
I can pick this up @colby-swandale, I've been hunting for something to work on 😄

[2017-04-07 23:36] colby-swandale commented on #4871
updated status of this board

[2017-04-07 23:38] colby-swandale commented on #5177
Awesome! I think @hmistry is currently working on something like this currently?

[2017-04-07 23:41] hmistry commented on #5177
@alextaylor000 Yep I'm working on this. At this point, it's an exploration feature.
@colby-swandale thanks.

[2017-04-08 00:02] colby-swandale commented on #5177
@alextaylor000 i'll update #4871 with some new issues that you're welcome to work on

[2017-04-08 00:03] alextaylor000 commented on #5177
Ok, no worries :)

[2017-04-08 16:28] segiddins commented on #5566
This looks like an issue with Readline? I don't really see how this issue is particular to bundler

[2017-04-08 16:36] segiddins commented on #5478
@kwisatz looking at your environment, bundler is behaving as intended. Since the only thing that has declared a dependency on rake is capistrano, which is in the deploy group, running with `BUNDLE_WITHOUT=test:deploy` will indeed cause bundler to not activate rake. Either add rake as a dependency outside of the `without` groups, or remove the deploy group from without.

[2017-04-08 16:38] segiddins commented on #5478
@samnissen I was unable to reproduce the issue with the Gemfile & Gemfile.lock that you shared

[2017-04-08 19:22] tenderlove commented on #5569
Same error as of cdae66803a527067fd80686301551c4e7aa7fad9:

[code]

It's not clear from the error message why Bundler chose sprockets-rails 2.0.0 for it's solution and failed.  Hope that helps!

[2017-04-08 19:34] segiddins commented on #5569
Yup, looks like a resolver bug 😞

[2017-04-08 19:41] segiddins commented on #5569
That would just be the last version of `sprockets-rails` it tried, implying that it couldn't find _any_ that worked

[2017-04-08 19:50] segiddins commented on #5569
This seems related to https://github.com/CocoaPods/Resolver-Integration-Specs/pull/10

[2017-04-08 20:22] jadeye commented on #2240
A little late but never too late...
This is my first try at [`diaspora`](https://wiki.diasporafoundation.org/Installation/Heroku)....**Error**:

[code]
Tried all the above but in vain...
Also read all related to `locale`, regenerated `locale`,
Tried most of the suggested [here](http://askubuntu.com/questions/162391/how-do-i-fix-my-locale-issue) with no luck...

Any ides anyone...??

[2017-04-09 02:05] motiko commented on #5412
@denoww  Looks like I'm encountering the same issue could you please share which gems were causing this?

[2017-04-09 04:37] colby-swandale commented on #5522
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-09 04:37] #5522 closed

[2017-04-09 04:37] colby-swandale commented on #5537
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-09 04:37] #5537 closed

[2017-04-09 04:39] colby-swandale commented on #5535
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-09 04:39] #5535 closed

[2017-04-09 04:39] colby-swandale commented on #5475
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-09 04:39] #5475 closed

[2017-04-09 04:44] colby-swandale commented on #5557
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-09 04:44] #5557 closed

[2017-04-09 04:47] colby-swandale commented on #5332
is this still a problem?

[2017-04-09 09:40] motiko commented on #5412
For me just updating for each patch incrementally solved the issue. Instead of updating from 4.2 to 4.2.8
i updated to 4.2.1 then 4.2.2 e.tc. hope it helps someone.

[2017-04-09 15:49] joemsak commented on #5569
Hi everyone, thank you so much for your help and input. @tenderlove told me via twitter that the problem seemed to originate with `country_state_select` so I came back to this by starting with removing the restraint on that gem and trying a bundle update.

Through a few rounds of trial and error, removing and re-adding gems once the updates were possible, I finally have a working Gemfile, seen her

[2017-04-09 21:27] segiddins commented on #5569
I have to be honest, I can't promise I'll get around to fixing this issue in Molinillo soon, but thanks so much for following up and providing so much detail

[2017-04-09 22:34] joemsak commented on #5569
The resolver problem comes back when I try to upgrade Country State Select from 2.0 to 3.0

The working gemfile shows that 2.0 installed fine. But I previously had version 3.0, and I needed that specifically in my app. Their gemspec doesn't specify a version of rails for dependencies.

However, it does rely on compass-rails 2.0.4 which relies on sprockets < 2.13, and 2.12.14 is 4 years old

So I w

[2017-04-09 22:38] joemsak commented on #5569
Y'all might find it interesting to see someone had a similar problem, and I found the existing issue and commented on it, yet his bundle install notes lead him in the right direction

https://github.com/arvindvyas/Country-State-Select/issues/47#issuecomment-291905626

[2017-04-10 02:26] AELSchauer opened #5572 "Deadlock error"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/aelschauer/.rvm/gems/ruby-2.3.1/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to install all the gems for my rails project

- **What happened instead?**

  Instead, what happened was tha

[2017-04-10 03:21] colby-swandale commented on #5572
Sorry that you're having a problem with Bundler, and thanks for reporting this! We're working on fixing this issue in an upcoming Bundler release.

[2017-04-10 09:36] galopin commented on #5566
@segiddins  If I ran the following Ruby script, no exception is raised yet the [assign and if statements](https://github.com/ConnorAtherton/rb-readline/blob/master/lib/rbreadline.rb#L1095-L1098) are taken directly from Readline.

[code]

yields:

[code]

So IMHO Readline does not seem to be the culprit. Having non-ASCII in a Windows username seems to be a real impediment, [pip](https://github.com/

[2017-04-10 11:43] ioquatix opened #5573 "Indirect dependencies fail to resolve correct version of gem"
I have published two gems.

- `async` depends on `nio4r`
- `async-dns` depends on `async`

`nio4r` has two versions: 1.x which is available for MRI 2.0+ and 2.x which is available for MRI 2.2.6+ only.

On travis, tests for `async` work fine for all versions of MRI 2.x

https://travis-ci.org/socketry/async

It correctly installs `nio4r` depending on Ruby version and availability.

However, `async-d

[2017-04-10 11:51] ioquatix commented on #5573
Okay, I found simply updating the travis configuration to trusty appears to have resolved this issue. I'm not sure why. I'll leave this issue just in case there is something else going on here, but feel free to close it as this issue is now effectively solved.

[2017-04-10 12:20] segiddins commented on #5566
But can you `require "readline"` without the exception being raised?

[2017-04-10 12:22] segiddins commented on #5573
Please add the output of `bundle env` when things were both failing and passing, thank you!

[2017-04-10 12:23] ioquatix commented on #5573
Uh, I'm sorry, but what would be the best way to do it in travis?

[2017-04-10 12:25] segiddins commented on #5573
Add `bundle env` to the `install` section before `bundle install`?

[2017-04-10 12:31] galopin commented on #5566
Yup. Inserting `require "readline"` at the very top of the sample script does not raise the exception…

[2017-04-10 12:37] ioquatix commented on #5573
Okay, here is the build matrix when working on trusty, with `bundle env` output.

https://travis-ci.org/socketry/async-dns/builds/220536182

Here is the build matrix when not working, with `bundle env` output.

https://travis-ci.org/socketry/async-dns/builds/220538839

[2017-04-10 12:42] segiddins commented on #5573
It looks like it's failing with Bundler 1.7.9 and passing with Bundler 1.14.6, so it seems we've fixed the issue as some point.

[2017-04-10 12:42] segiddins commented on #5566
Cool, someone with a Windows machine handy will have to look into this

[2017-04-10 12:43] ioquatix commented on #5573
Awesome, that does appear to be the case. Thanks so much for your time investigating this issue.

[2017-04-10 12:43] #5573 closed

[2017-04-10 13:47] clay-f opened #5574 "bundler runtime.rb issue"
i was run `rails new app` and `rails s` occured this issue

[code]

Gemfile:
[code]

system: debian 8.7
ruby -v: 2.4.1
rails -v: 5.0.2
bundle -v: 1.14.6
nodejs -v: v0.10.29

[2017-04-10 21:25] colby-swandale commented on #5574
Sorry that you're having a problem with Bundler, and thanks for reporting this! Can you please attach the full stacktrace and the output of `bundle env`.

[2017-04-10 23:00] clay-f commented on #5574
[code]
Bundler   1.14.6
Rubygems  2.6.11
Ruby      2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]
Git       2.1.4
Platform  x86_64-linux
[code]
mirror.https://rubygems.org/
  Set for the current user (/home/f/.bundle/config): "https://ruby.taobao.org"
[code]

### Gemfile.lock

[code]
[code]

[2017-04-11 11:34] Chris-Boyle commented on #5511
Still seeing this issue

[2017-04-11 11:41] colby-swandale commented on #5511
@Chris-Boyle can you please open a new github issue with this report.

[2017-04-11 11:44] Chris-Boyle opened #5575 "NoMethodError: undefined method `type' for ["ruby-ajp", ">= 0.2.0"]:Array"
Fetching version metadata from https://rubygems.org/--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/rvm/gems/ruby-2.3.1@global/bin/bundle install --retry 3 --jobs 4`

- **What did yo

[2017-04-11 11:44] Chris-Boyle commented on #5511
@colby-swandale https://github.com/bundler/bundler/issues/5575

[2017-04-11 11:50] colby-swandale commented on #5575
Can you please post the output of `bundle env`

[2017-04-11 12:00] denniss commented on #5575
Can you show us your Gemfile?

[2017-04-11 12:09] Chris-Boyle commented on #5575
I managed to get things resolved by commenting out the source
`source 'http://repo.release.cerner.corp/nexus/content/repositories/rubygems.org'`
I think teaspoon-jasmine was causing an issue being part of two or more sources.
I have never seen this issue come up before though.
[code]

[2017-04-11 12:42] the-codetrane commented on #5522
Sorry for the delay! It was a memory issue. Thanks for the help, though!

[2017-04-11 22:16] segiddins commented on #5575
Please share the full output of `bundle env` that includes the `Gemfile` and the gemspec?

[2017-04-12 03:49] AnthonyMichaelc opened #5576 "Operation not permitted"
I am new to this but tried to use the jekyll CLI in macOS Seirra and am getting a permissions error

**The versions of the bundler and rubygem are as followed:**
Bundler 1.14.6
Bundler: Rubygems 2.0.14.1

**Errorno:**
Errno::EPERM: Operation not permitted - connect(2)

**The error report:**

 Bundler: The dependency tzinfo-data (>= 0) will be unused by any of the platforms Bundler is installing fo

[2017-04-12 08:50] colby-swandale commented on #5574
Does this work without loading through `spring`?

[2017-04-12 10:25] colby-swandale commented on #5576
Sorry that you're having a problem with Bundler. Can you print the output of `bundle env` to help us diagnose you're problem.

[2017-04-12 10:27] colby-swandale commented on #5561
ping @jwaiswa7. Were you able to resolve you're problem?

[2017-04-12 10:30] clay-f commented on #5574
i'm try it again, get this issue
[code]

Gemfile

[code]

[2017-04-12 10:38] jwaiswa7 commented on #5561
Yes Colby,

Thanks for the help.

Kind regards

Joshua Waiswa
+256-771-806549
+256-755-924191
skype: waiswa.joshua
See my Plum Profile <https://app.plum.io/profile/jwaiswa>

Life is not about winning the race, but about finishing the race and how
many people you help finish, it might just be you that need help finishing
your race

On Wed, Apr 12, 2017 at 1:27 PM, Colby Swandale <notifications@gith

[2017-04-12 10:39] clay-f commented on #5574
so, i was delete `gem 'uglifier', '>= 1.3.0'` and run `rails s`
output:
[code]

again, delete `gem 'coffee-rails', '~> 4.2'`
run `rails s`

success !

Gemfile

[code]

[2017-04-12 10:41] #5561 closed

[2017-04-12 13:42] XANi opened #5577 "Useless error messages when bundler can't connect"
[code]

This error is not useful in any way. It should at least specify whether connection was closed, refused, timed out or had HTTP error code

[2017-04-12 15:11] segiddins commented on #5577
I believe running with `--verbose` will give you more information on the specific errors

[2017-04-12 15:39] XANi commented on #5577
I know how to debug root of the problem but "fill screen with stacktraces
to extract one line about the actual problem" is not exactly very user
friendly way to do it.

`--verbose` prints very nice and useful line
`Gem::RemoteFetcher::FetchError: Errno::EHOSTUNREACH: Failed to open TCP
connection to rubygems.org:443 (No route to host - connect(2) for "
rubygems.org" port 443)`, shouldn't that be "

[2017-04-12 15:41] segiddins commented on #5577
Maybe!
I agree we could have better output, I just wanted to make sure you weren't waiting on us to release a new version to work around the issue you're experiencing :)

A PR improving the error message in the fetcher would be greatly appreciated!

[2017-04-12 15:41] XANi commented on #5577
I know how to debug root of the problem but "fill screen with stacktraces
to extract one line about the actual problem" is not exactly very user
friendly way to do it.

`--verbose` prints very nice and useful line

    Gem::RemoteFetcher::FetchError: Errno::EHOSTUNREACH: Failed to open TCP connection to rubygems.org:443 (No route to host - connect(2) for "rubygems.org" port 443)

 shouldn't that b

[2017-04-12 16:10] XANi commented on #5577
I'm sysadmin, not a ruby developer. I posted a bug because I occasionally get reports from our ruby devs  (not saying it's often with bundler, plenty of other tools have bad error messages sadly) with very cryptic error messages and got tired of doing the "okay, I've started the tcpdump, now run the thing that doesnt work" dance.

If thing like that happens to me I usually just strace it as it is

[2017-04-12 16:35] segiddins opened #5578 "`bundle pristine` deletes bundler gem"
With bundler master cloned,

[code]

yields

[code]

and necessitates re-installing Bundler.

My guess is that `bundle pristine` needs to skip `bundler`, @denniss

[2017-04-12 21:23] phspies opened #5582 "Gem Load Error is: uninitialized constant Timeout::Error"
When using bundler 1.14.6, I get the following error:

`/.rvm/gems/ruby-2.2.3/gems/bundler-1.14.6/lib/bundler/runtime.rb:94:in `rescue in block (2 levels) in require': There was an error while trying to load the gem 'mysql2'. (Bundler::GemRequireError)
Gem Load Error is: uninitialized constant Timeout::Error
Backtrace for gem load error is:
`

This error disappears when downgrading to 1.14.4....

[2017-04-12 21:29] segiddins commented on #5582
This sounds like a bug in the `mysql2` gem not `require "timeout"` before referring to the constant

[2017-04-12 23:40] #5578 closed

[2017-04-13 01:17] Sangooob opened #5583 "no bundle update"
~# bundle update
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/bin/bundle update`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

[2017-04-13 02:36] segiddins commented on #5583
Can you please share your lockfile? Thanks!

[2017-04-13 11:45] denniss commented on #5578
My mistake. A complete oversight on my part.

[2017-04-14 09:59] unak commented on #4801
Any progress?

BTW, this is not only Windows problem.
The publisher of Bundler gem can check the *.txt files in your gem files.
These broken files are built by you and distributed via RubyGems.org.

[2017-04-14 13:10] #5577 closed

[2017-04-14 14:14] Sangooob commented on #5583
GIT
  remote: https://github.com/banister/method_source
  revision: 6dcb116e37e20e58f615ffe05a40bbe9a536e44a
  branch: master
  specs:
    method_source (0.8.1)

GIT
  remote: https://github.com/busterb/bit-struct
  revision: 707133ae6af5420be6fbe29be6baa5fbc929da2e
  branch: ruby-2.4
  specs:
    bit-struct (0.15.0)

GIT
  remote: https://github.com/pry/pry
  revision: 1f64463184e0a160d0b41d1a1f9

[2017-04-14 15:54] danbob commented on #5472
I'm having the same problem, a couple of local gems aren't being packaged properly under bundler > 1.14.4.

[code]
The Pathname business is my workaround to make sure the gem path is correct in both development and production. It worked perfectly with `bundle package --all` in 1.14.4, but something changed with 1.14.5:

[code]

[code]
The gems still get packaged to vendor/cache, but the source lin

[2017-04-14 16:46] segiddins commented on #5472
the issue is you're passing in an absolute path by using `realpath`, so bundler is storing an absolute path

[2017-04-14 17:31] paddor commented on #5536
Bundler puts `    sys-proctable (1.1.4-universal-aix-5)` into my Gemfile.lock as well, although it's Linux and the actually installed gem is:

[code]

I did `bundle config linux true` and even changed my Gemfile.lock to contain `sys-proctable (1.1.4-universal-linux)`, but when I run `bundle update`, it reverts back to `sys-proctable (1.1.4-universal-aix-5)`.

In an `bundle exec irb`, `require 'sys

[2017-04-14 20:46] torras commented on #5263
The `:plugins` group is a group used by vagrant when it gets executed by bundler, and loads as vagrant plugin every gem indicated in there.

A possible workaround could be using `gemspec` in the `:plugins` group, instead of `paht: '.'`, like this: https://gist.github.com/torras/3cc2159105fbfb7d7f5d63967ab045c8

[2017-04-14 22:28] clay-f commented on #5574
hei , it's weird, after 'gem uninstall execjs' and `gem install execjs`

`rails s` run success

Gemfile

[code]

thanks

[2017-04-14 23:09] #5378 closed

[2017-04-14 23:09] #5480 closed

[2017-04-14 23:09] #5519 closed

[2017-04-14 23:09] #5526 closed

[2017-04-14 23:09] #5529 closed

[2017-04-14 23:09] #5549 closed

[2017-04-14 23:09] #5572 closed

[2017-04-14 23:25] segiddins commented on #5536
yes

[2017-04-15 09:07] yuiopt opened #5586 "Not a directory @ rb_sysopen - bin/pry"
# Error Report

## Backtrace

[code]

## Environment

[code]
[code]

[2017-04-15 13:09] segiddins commented on #5586
Could you please also share your Gemfile? Thanks!

[2017-04-15 14:47] segiddins commented on #5583
You seem to have accidentally indented everything after the `GEM` line

[2017-04-16 16:18] alextaylor000 commented on #5423
I saw this over on #4871 - currently working on a fix.

[2017-04-17 02:23] segiddins commented on #4988
Done in https://github.com/bundler/bundler/pull/5348

[2017-04-17 02:23] #4988 closed

[2017-04-17 02:27] segiddins commented on #4754
@indirect now that we have `bundle info`, should this be closed?

[2017-04-17 02:49] segiddins commented on #5530
Closed by https://github.com/bundler/bundler/issues/5559

[2017-04-17 02:49] #5530 closed

[2017-04-17 02:53] segiddins commented on #4509
Implemented in https://github.com/bundler/bundler/pull/5503

[2017-04-17 02:53] #4509 closed

[2017-04-17 12:28] perlun commented on #5530
Thanks @segiddins and @colby-swandale!

[2017-04-17 16:44] steventwheeler commented on #5582
I have also encountered this error. The error starts with bundler v1.14.5. My application had been using v1.13.7 with no issues. I stepped up through all of the non-pre versions on rubygems.org until I reached v1.14.5 which broke my application. It seems happens when loading any gem which uses `Timeout::Error`. I have seen it with both mysql2 and rollbar. I even tried explicitly requiring `timeout

[2017-04-17 21:34] jules2689 opened #5592 "`to_spec` is broken on 1.15.0.pre.1 in some cases"
https://gist.github.com/jules2689/2e406069d552f0f1f66cfffdeecbfc45

*Bundler Version*: 1.15.0.pre.1

The issue here seems to be that `to_spec` is undefined and we get infinite recursion in `remote_specification.rb`'s `method_missing` method.

I'm going to look into this.

[2017-04-17 21:42] segiddins commented on #5592
`bundle env` is missing -- particularly which RubyGems version?

[2017-04-17 21:42] jules2689 commented on #5592
Issue is with this gem:

https://github.com/fnando/i18n-js/blob/12b8cbc73d5ff8e69622ed9c9aaf4dde903827a2/lib/i18n/js/dependencies.rb#L66-L74

[2017-04-17 21:43] jules2689 commented on #5592
@segiddins still trying to replicate on my machine

[2017-04-17 21:44] jules2689 commented on #5592
From a colleagues laptop:

## Environment
[code]
## Bundler settings
[code]
## Gemfile
### Gemfile
[code]
### Gemfile.lock
[code]

[2017-04-17 21:50] segiddins commented on #5592
Think I know the fix for this, I'll check after class

[2017-04-18 14:35] steventwheeler commented on #5582
I have created a demo repository which can be used to reproduce this in v1.14.5 and v1.14.6.

[steventwheeler/bundler_bug_5582](https://github.com/steventwheeler/bundler_bug_5582)

[2017-04-18 14:57] segiddins commented on #5582
You need to require timeout if your code is using it, the fact an old version of bundler might have done so was a coincidence that you can't depend upon. I'm sorry for the hassle.

[2017-04-18 16:10] steventwheeler commented on #5582
The test code does require timeout.

From [lib/test.rb](https://github.com/steventwheeler/bundler_bug_5582/blob/master/lib/test.rb#L1)
[code]

[2017-04-18 18:13] jules2689 opened #5594 "Gems defined with extensions dirs conflict with diff versions"
Problem:
---
- Using ruby version X, two projects define some gem at differing versions.
- Stub Specification does not pass extension dir, which causes issues.

We saw this as

[code]

## Environment

[code]

## Bundler settings

[code]

## Relevant Gemfile

Shopify Project:

`gem 'cityhash', git: 'csfrancis/cityhash', sha: 'XYZ'`

Another Project

`gem 'cityhash'`

[2017-04-18 19:15] jules2689 commented on #5594
To replicate:

Gemfile
[code]

test.rb
[code]

Which outputs
[code]

That `cityhash-0.6.0` should be a hash

[2017-04-18 19:45] jules2689 commented on #5594
Ok, so looking into this more, `stub_specification` doesn't know what `full_name` should be because we don't have a record of the `source`, so it resolves to `cityhash-0.6.0` rather than `cityhash-3cfc7d01f333`

[2017-04-18 19:56] jules2689 commented on #5594
This seems to work:

[code]

[2017-04-18 20:56] dylanahsmith opened #5596 "bundle clean extensions"
Install any gem with an extension through bundler then try to remove it with `bundle clean --force` and the extension will still be in the file system.

For example, create a Gemfile

[code]

then install and uninstall the gem using bundler

[code]

but the extension wasn't cleaned.

A workaround would be to remove the `$GEM_HOME` path and re-installing bundler.

Note that my actual use case was t

[2017-04-18 22:57] segiddins commented on #5596
This seems intentional, according to https://github.com/bundler/bundler/pull/4030

[2017-04-18 23:01] segiddins commented on #5594
We have a spec for extensions being usable, and I can't reproduce this issue...

[2017-04-18 23:25] jules2689 commented on #5594
I think the specs don't cover all cases. Using https://github.com/bundler/bundler/issues/5594#issuecomment-294950831 between 1.14.6 and 1.15.0.pre.1, I get this:

[code]

[2017-04-19 04:39] jules2689 opened #5597 "Trampoline logic is wrong"
`ENV["BUNDLE_TRAMPOLINE_FORCE"] && !ENV["BUNDLE_TRAMPOLINE_DISABLE"]` implies that we need to FORCE and not DISABLE, whereas the logic should be FORCE or not DISABLE.

This means that users have not been running updated bundler since 1.14.0. This affects all versions `>= 1.14.0.pre.1`

Originally introduced in this PR: https://github.com/bundler/bundler/pull/4894

cc @segiddins @indirect

[2017-04-19 04:40] segiddins commented on #5597
Nope, the intention is for bundler 1.x it must be forced and not disabled

[2017-04-19 04:42] #5597 closed

[2017-04-19 04:47] jules2689 commented on #5597
For posterity, I thought the logic was wrong. I was wrong.

We want to force trampoline unless using bundler 2.x. The issue I was seeing is that RubyGems wasn't enabling `1.15.0.pre.1` because it is a `pre` version. In this case, we need to set `BUNDLE_TRAMPOLINE_FORCE=true`

[2017-04-19 05:07] segiddins commented on #5597
In that case, what you really want is `gem "bundler", ">= 0.a"` before `require "bundler/setup"`. Or manually setting the load path. Or using `bundle exec`, since binstubs will activate prerelease versions by default.

[2017-04-19 05:17] jules2689 commented on #5597
We had `gem "bundler"` which didn't work, but `gem "bundler", ">= 0.a"` worked. :+1: Thanks

[2017-04-19 08:16] samnissen commented on #5478
@segiddins I have finally realized my very silly mistake. Hopefully my embarrassment can save someone else's. I have followed some advice to fix [an issue with the gem mini_magick](https://github.com/minimagick/minimagick/issues/141) that looks a bit like this:

[code]

I finally realized that causes this weird situation:
[code]
[code]
[code]

As you can see, Rails is picking up a different versio

[2017-04-19 08:16] #5478 closed

[2017-04-19 17:24] hmistry commented on #5478
@samnissen Thanks for coming back and telling us the root cause and solution... really appreciate it.

[2017-04-19 17:29] chaman opened #5598 "fatal: No live threads left. Deadlock?"
[code]

## Environment

[code]
[code]

[2017-04-19 17:33] segiddins commented on #5598
Can you try with Bundler 1.15.0.pre.1, please? Thanks!

[2017-04-19 18:28] chaman commented on #5598
[code]

## Environment

[code]

[2017-04-19 19:02] segiddins commented on #5598
Thanks! Can you please also include your Gemfile and Gemfile.lock so we can try and reproduce the issue?

[2017-04-19 23:32] embark opened #5599 "duplicate dependencies in Gemfile.lock on bundle update"
# Error Report
## Questions

**What did you do?**
I ran the commands:
- with the Gemfile and environment listed below
- `bundle`
- `gem uninstall responders`
- `bundle update easypost`

**What did you expect to happen?**
I expected Bundler to create a `Gemfile.lock` after `bundle update easypost` that was identical to the `Gemfile.lock` right after `bundle`

**What happened instead?**
Instead, Bun

[2017-04-19 23:43] xaviershay commented on #5599
I was able to repro. FWIW, running `bundle` again afterwards reverts the extra `responders` line.

[2017-04-20 01:29] segiddins commented on #5599
Thanks!
The fix is as follows (but will require a test):

[code]

[2017-04-20 01:43] yuiopt commented on #5586
@segiddins OK,the Gemfile actually  is in the Metafploit Framework root dir, and I uninstalled ruby-2.4.1 using rvm command ,The error just gone.

[2017-04-20 02:38] segiddins commented on #5599
https://github.com/bundler/bundler/issues/5600 should fix this, thanks for the thorough bug report!

[2017-04-20 03:01] embark commented on #5599
Wow thank you for the super fast fix!

[2017-04-20 12:48] colby-swandale commented on #5528
ping @Amand is still a problem for you?

[2017-04-20 12:48] colby-swandale commented on #5576
ping @AnthonyMichaelc

[2017-04-20 20:57] #5594 closed

[2017-04-21 17:25] segiddins commented on #5582
This appears to be because the `timeout` gem has its own `timeout.rb` file that `require "timeout"` is requiring instead of the stdlib file

[2017-04-21 18:18] #5599 closed

[2017-04-22 04:43] #5423 closed

[2017-04-23 17:30] TiagoDonascimento opened #5603 "Psych: incompatible library version"
b--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/victoriawinslow/.gem/ruby/2.3.3/bin/bundle `

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead

[2017-04-23 17:37] Jorge199 opened #5604 "symlink function is unimplemented on this machine"
symlink() function is unimplemented on this machine
I tried install these gems on my project

[code]

i use windows 10

[2017-04-24 00:13] barrosgeraldo opened #5606 "Gem::Ext::BuildError: ERROR: Failed to build gem native extension."
- What you're trying to accomplish
Install the dependencies for [this repository](https://github.com/barrosgeraldo/activate.mozilla.community)
- The command you ran
`bundle install`
- What you expected to happen
Installation of all dependencies without errors
- What actually happened

[code]

[2017-04-24 00:45] colby-swandale commented on #5606
Hi, this is not an issue with Bundler itself. It looks like you're missing the Ruby headers that the `json` gem needs.

`mkmf.rb can't find header files for ruby at /usr/lib/ruby/include/ruby.h`

You can find the packages for linux for ubuntu/linux below or see you're distro's relevant documentation.

* [Ubuntu Package ruby-dev](http://packages.ubuntu.com/search?keywords=ruby-dev)
* [Debian -- rub

[2017-04-24 00:48] colby-swandale commented on #5604
Sorry that you're having trouble with Bundler. Can you please provide more information about your problem to help us diagnose you're problem.

Mainly a stack trace when you run bundler and the output of `bundle env`.

Thanks

[2017-04-24 00:54] barrosgeraldo commented on #5606
Hi @colby-swandale!

Thanks for the reply.

This is already installed on my system (Ubuntu 17.04), but the problem persists, I probably need get help in Ask Ubuntu.

[2017-04-24 00:58] colby-swandale commented on #5606
Try running `gem install json -v '1.8.6'` and see if that does install the gem.

[2017-04-24 01:05] barrosgeraldo commented on #5606
Hi @colby-swandale,

The problem keep. :-(

[code]

[2017-04-24 01:10] colby-swandale commented on #5606
Did you run `bundle install` after the `gem install json...` and did that complete successfully?

[2017-04-24 01:13] barrosgeraldo commented on #5606
@colby-swandale yep, complete successfully.

[code]
Now the problem is with Jekyll, I'll report this to Jekyll community and get help. :-(((

Thanks again @colby-swandale.

[2017-04-24 01:22] colby-swandale commented on #5598
ping @chaman

[2017-04-24 01:29] #5606 closed

[2017-04-24 05:36] chaman commented on #5598
Gemfile.lock with missing dependency
[code]

## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

With Gemfile.lock removed
[code]

## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-04-24 05:39] chaman commented on #5598
The local gem server I've has two xml_signature gems, version 0.1 and version 0.1.0. Version 0.1 is from https://rubygems.org/gems/xml_signature and version 0.1.0 is a dummy gem I created for this test.

[2017-04-24 07:22] lranjitha commented on #5598
Removing Gemfile.lock and trying again, looks to a work-around.

[2017-04-24 07:54] segiddins commented on #5603
This looks like an issue with your ruby installation -- what happens if you run `ruby -ryaml -e 'puts YAML'`?

[2017-04-24 07:57] segiddins commented on #5598
Is it possible your local gem server is missing the runtime dependency on `xmlcanonicalizer` in its responses?

[2017-04-24 07:59] HugeTerrificSpider opened #5607 "Exceeding max allowed process count on accounts with limits."
On web hosting server ( paid remote server ) I cannot build libv8, because building system runs out of available processes. Process limit is set to fixed value on that account. So far I see no way to pass that limit to bundler and building system runs out of available processes count and aborts because of that.

bundle env

## Environment

[code]

## Bundler settings

[code]

[2017-04-24 08:01] segiddins commented on #5607
Bundler itself doesn't spawn subprocesses, except for `git` and building native extensions (which is really done by RubyGems). Can you share the backtrace where bundler is aborting?

[2017-04-24 09:01] HugeTerrificSpider commented on #5607
@segiddins
[code]

[2017-04-24 09:03] HugeTerrificSpider commented on #5607
`OSError: Execution failed with error: [Errno 35] Resource temporarily unavailable.`

I suppose it's caused by max processes limit set for my account.

[2017-04-24 13:01] chaman commented on #5598
Yes `xmlcanonicalizer` was missing. But I would get the following error when I explicitly set gem to `0.1.0` which does not use `xmlcanonicalizer`. Also, the follow error pops up after the error I pasted earlier. I am able to work around this with some combination of `bundle clean`. But thought it was weird that no `Gemfile.lock` was still throwing this error.

[code]

## Environment

[code]

## B

[2017-04-24 13:13] hamedshakeri opened #5609 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/rvm/gems/ruby-1.9.3-p551/bin/bundle install --deployment`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

  Instead, what happened was...

- **Have you tried any solut

[2017-04-24 14:41] segiddins commented on #5607
Does `gem install libv8` succeed for you?

[2017-04-24 14:42] segiddins commented on #5598
Can you share a Gemfile that we can use to reproduce this that doesn't rely on having a Gem server running on `localhost`?

[2017-04-24 14:46] chaman commented on #5598
I've only encountered this while running on private gem repo. I'll see if there is anything on rubygems that'll reproduce this. Also, https://github.com/geminabox/geminabox can be used to setup a localhost gemserver easily.

[2017-04-24 17:03] denniss commented on #4901
I think this one can be closed.

[2017-04-24 17:05] segiddins commented on #4901
Closed by https://github.com/bundler/bundler/pull/5486

[2017-04-24 17:05] #4901 closed

[2017-04-24 20:47] HugeTerrificSpider commented on #5607
@segiddins

[code]

[2017-04-25 18:48] lamont-granquist opened #5615 "Add `transitive_gemfile: true` option to git/github/path sources in Gemfile API"
The idea here would be to optionally, off-by-default, opt-in merge Gemfiles when using sources of gems which will likely expose that information.

So in the parent Gemfile you could have:

[code]

The point here is that I want to check this into the chef repo in order to run the halite gems tests against PRs of chef.  I very deliberately desired this to not be in the Gemfile and Gemfile.lock of th

[2017-04-26 00:08] evaryont opened #5616 "`bundler env` should show bundler's shebang if it differs from the first found ruby"
I was starting to tear my hair out today in a crazy debugging situation. I ran `gem install bundler` on OSX, and then trying to install various gems. However, I got ruby version incompatibilities: our rails app specifies ruby 2.3, but bundler reported ruby 2.0.

It turns out that rubygem's had written the bundler binstub with OSX's system ruby for it's shebang, and not the ruby installed with Home

[2017-04-26 01:06] segiddins commented on #5615
Please open an issue in https://github.com/bundler/rfcs, I think this is a big enough feature it would require a full proposal

[2017-04-26 01:09] colby-swandale commented on #5583
ping @Sangooob

[2017-04-26 14:37] Graciexia opened #5617 "Cannot install Ruby Gems from GitHub using bundler"
0
down vote
favorite
I am trying to install several gem files from various GitHub repositories using bundler (the "bundle install" command). For example, one of the lines from my Gemfile is:

gem 'mongoid_search', git: 'https://github.com/mauriciozaffari/mongoid_search.git', branch: 'master'
However, when I run "bundle install", it seems to choke when caching the files. I get the following error f

[2017-04-26 14:56] segiddins commented on #5617
Hi, can you please share your Gemfile and lockfile so we can attempt to reproduce the issue? Thanks!

[2017-04-26 16:07] KMadhuSudhan opened #5618 "bundle exec rspec is not running"
bundle env
The git source `git://github.com/rweng/jquery-datatables-rails.git` uses the `git` protocol, which transmits data without encryption. Disable this warning with `bundle config git.allow_insecure true`, or switch to the `https` protocol to keep your data secure.
The git source `git://github.com/sumoheavy/jira-ruby.git` uses the `git` protocol, which transmits data without encryption. Disa

[2017-04-26 16:07] KMadhuSudhan commented on #5618
bundler: failed to load command: rspec (/Users/konda.madhusudhan/.rvm/gems/ruby-2.3.0/bin/rspec)
Gem::Exception: can't find executable rspec
  /Users/konda.madhusudhan/.rvm/gems/ruby-2.3.0/gems/bundler-1.14.6/lib/bundler/rubygems_integration.rb:408:in `block in replace_bin_path'
  /Users/konda.madhusudhan/.rvm/gems/ruby-2.3.0/gems/bundler-1.14.6/lib/bundler/rubygems_integration.rb:425:in `block in

[2017-04-26 16:10] lamont-granquist commented on #5615
looks like we've decided, at least for now, not to go down this road...

[2017-04-26 16:11] #5615 closed

[2017-04-26 17:22] segiddins opened #5620 "Wrong output when using `master~3` as ref for git gem"
Note `master~@` is missing the `3`

[code]

## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-04-26 20:05] jperville opened #5621 "Nested "bundle exec" setups invalid BUNDLE_BIN_PATH"
# Issue description

We have some legacy code which invoke `bundle exec somecommand` from within a script which itself is run by `bundle exec`; in other words, the `somecommand` command is actually invoked like this `bundle exec bundle exec somecommand`.

This behavior was working fine with bundler v1.12.6, but when we upgraded to bundler v1.14.6, it broke.  We got tools such as "compass" started

[2017-04-26 21:32] colby-swandale commented on #5609
Sorry you're having trouble with Bundler and thanks for opening an Issue. Can you try the latest Bundler pre-release `1.15.0.pre.2` and let us know if you continue to get this error.

You can install it with `gem install bundler -v '1.15.0.pre.2'`

[2017-04-27 00:55] #5586 closed

[2017-04-27 05:36] #5574 closed

[2017-04-27 09:44] ignisf commented on #5607
Hello, libv8 maintainer here. This really does not look like an issue with Bundler. Seems to me it's due to Google's `depot_tools` spawning a bunch of processes to fetch `v8` and its dependencies' sources.

[2017-04-27 10:14] segiddins commented on #5607
Agreed -- thanks for confirming @ignisf !

[2017-04-27 10:14] #5607 closed

[2017-04-27 10:31] segiddins commented on #5621
I'm not seeing this failing on either 1.14.6 nor 1.15.0.pre.2

[code]

[2017-04-27 10:33] segiddins commented on #5609
Please share the full output of `bundle env` so we can try and understand what's going on. Thanks!

[2017-04-27 10:52] jperville commented on #5621
@segiddins can you test with the Dockerfile in the above gist? I have the issue on Linux platform (ubuntu and centos7) but never tried on Apple platform.

[code]

[2017-04-27 12:18] segiddins commented on #5621
I don't have docker installed

[2017-04-27 13:01] bodrovis commented on #5604
@colby-swandale I started to see this error today on Windows machine as well. I have a Rails 5 project and when I do `bundle update` this error appears (everything was working yesterday):

[code]

## Environment

[code]

## Bundler settings

[code]

I've read this file https://github.com/bundler/bundler/blob/master/doc/contributing/ISSUES.md but it did not help - I am still getting the error after

[2017-04-27 13:13] bodrovis commented on #5604
`bundle env`:

## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

[2017-04-27 13:22] segiddins commented on #5604
It looks like you're installing a gem that includes symlinks on an FS that does not support them

[2017-04-27 13:28] bodrovis commented on #5604
Well, as I said setting haml back to version 4 fixes it, so probably I should report it in the haml's repo?..

[2017-04-27 13:39] segiddins commented on #5604
Probably

[2017-04-27 13:47] bodrovis commented on #5604
**For people who are getting this error with Haml 5**:

I was able to solve it by updating Ruby to 2.3.3 x32. Probably unrelated, but I also updated OpenSSL and Git (enabled symlinks in the options).

[2017-04-28 00:28] #4830 closed

[2017-04-28 06:21] agis commented on #2048
@denniss Nope, I hadn't had the time to work on this. Feel free to take a stab.

[2017-04-28 10:06] segiddins commented on #4659
This should have a better error message now?

[2017-04-28 10:08] segiddins commented on #4817
Closing, presuming fixed by https://github.com/bundler/bundler/issues/5266

[2017-04-28 10:08] #4817 closed

[2017-04-28 10:57] biow0lf opened #5623 "Bundler 1.15.0.pre.2 don't update Gemfile.lock with new deps"
Hi,

After adding new gem to Gemfile and `bundle install` don't finish work in normal. Its eat cpu and thats all.

https://gist.github.com/biow0lf/c53154d6110deb4b9c031b5ca66dc065 -- Gemfile.

https://gist.github.com/biow0lf/c47e308f623eafe33f000c889e950afd -- Gemfile.lock

[code]

[2017-04-28 11:17] biow0lf commented on #5623
I catch this behavior few times before reporting. But now, I test with linked Gemfile/Gemfile.lock and can't reproduce.

Close for now.

[2017-04-28 11:17] #5623 closed

[2017-04-28 12:16] istana commented on #5068
I think I have a ultimate solution for Docker - the problem is that `COPY . .` copies also the `.bundle` directory along with `.bundle/config` file from local computer and rewrites the result of `bundle install --deployment`

SOLUTION: Add `.bundle` into `.dockerignore` file:

[code]

An excerpt from Dockerfile:

[code]

What should you see in `.bundle/config` when you access a container  with `do

[2017-04-28 18:46] Amorim2014 commented on #5574
I solved it with  gem install execjs     tanks.

[2017-04-29 05:42] pvandervelde opened #5625 "bundle install fails for chef package due to missing file"
I'm trying to run bundle install to get my chef related gems installed. It works for all gems except the chef gem itself.

My gem file looks like this:

    source 'https://rubygems.org' do
      gem 'chef', '13.0.118'
    end

The command line is:

    bundle install --gemfile="c:\myproject\Gemfile" --path "c:\myproject\gems" --binstubs="c:\myproject\gems\bin" --no-cache

And the output is:

[2017-04-29 18:08] Datise opened #5626 "asdf"

[2017-04-29 18:09] #5626 closed

[2017-04-30 02:52] colby-swandale commented on #5621
I can confirm the `BUNDLE_BIN_PATH` not being correct when running `bundle exec bundle exec env` but I can't replicate the gem load problem that was reported.

[2017-04-30 02:53] colby-swandale commented on #5603
ping @TiagoDonascimento

[2017-04-30 03:01] colby-swandale commented on #5617
ping @Graciexia

[2017-04-30 03:07] colby-swandale commented on #5609
ping @hamedshakeri

[2017-04-30 03:07] #5604 closed

[2017-04-30 03:08] colby-swandale commented on #5598
ping @chaman

[2017-04-30 03:09] colby-swandale commented on #5592
has this been fixed?

[2017-04-30 03:10] colby-swandale commented on #5576
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-30 03:10] #5576 closed

[2017-04-30 03:11] #5582 closed

[2017-04-30 03:12] colby-swandale commented on #5575
ping @Chris-Boyle

[2017-04-30 03:15] colby-swandale commented on #5551
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-30 03:15] #5551 closed

[2017-04-30 03:23] colby-swandale commented on #5532
ping @segiddins

[2017-04-30 03:25] colby-swandale commented on #5528
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-30 03:25] #5528 closed

[2017-04-30 03:25] colby-swandale commented on #5472
ping @antonichuk. Were you able to solve this issue?

[2017-04-30 03:41] colby-swandale commented on #5373
ping @jschnurholmes is this still an issue?

[2017-04-30 03:53] colby-swandale commented on #5377
I'm closing this for now.

[2017-04-30 03:53] #5377 closed

[2017-04-30 04:15] colby-swandale commented on #5234
ping @nyarlathotep77 is this still a problem on the latest release of bundler?

[2017-04-30 04:18] colby-swandale commented on #5080
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-30 04:18] #5080 closed

[2017-04-30 05:33] #4797 closed

[2017-04-30 05:34] colby-swandale commented on #4962
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-04-30 05:34] #4962 closed

[2017-04-30 05:38] colby-swandale commented on #4935
@indirect does this still need doing?

[2017-04-30 05:47] mvz commented on #5377
@colby-swandale it would be nice if there was at least some documentation for this, so not only @segiddins understands why this works the way it works.

[2017-04-30 06:07] segiddins commented on #4935
Yes

[2017-04-30 06:18] segiddins commented on #5592
We've been unable to reproduce it in a test case

[2017-04-30 06:21] mal opened #5627 "Remove relative path enforcement on --cache-path"
Would it be possible to remove the check done on `--cache-path` [here](https://github.com/bundler/bundler/blob/28e67dc7e4b9e3a6c67524597f7cd64e12ddbf6d/lib/bundler/settings.rb#L218)?

Used in conjunction with `--no-prune` it would then be possible to more easily maintain a central cache of `gem` files useable by multiple local apps. In the case where apps have many common libraries (that are often

[2017-04-30 06:52] segiddins commented on #5532
If you're getting the right error message, then we can close this?

[2017-04-30 06:56] segiddins commented on #5627
@indirect given you added the customizable cache path and the commit doesn't seem to justify why only relative paths are allowed, I think this is for you to answer

[2017-04-30 08:13] indirect commented on #5627
Oh man, I have no idea what I was thinking. It seems fine to allow absolute paths to me? I guess, for what it's worth, in Bundler 2.0 there will be a user-wide shared cache of .gems by default.

[2017-04-30 08:15] jperville commented on #5621
I will reproduce with a simplified version taken from the build  of legacy frontend app in the coming days.

[2017-04-30 08:15] mvz commented on #5377
@colby-swandale I'm willing to write something up for this, because I *think* I understand almost everything, but I will need some help for the bits that are unclear to me (see my comment https://github.com/bundler/bundler/issues/5377#issuecomment-284208321 above).

[2017-04-30 09:18] colby-swandale commented on #5377
Sounds great! i'm sure @segiddins would be able to help if you have any questions.

[2017-04-30 10:35] #5620 closed

[2017-04-30 13:46] antonichuk commented on #5472
I hardcoded  installing bundler version - 1.14.4

[2017-04-30 18:09] indirect commented on #5472
@segiddins this seems to be a regression introduced in 1.14.5 based on @antonichuk's env--there are no absolute paths there.

[2017-04-30 20:04] jperville commented on #5621
@colby-swandale have a look at this gist : https://gist.github.com/jperville/857ff9ebaa81cdf3be3b5c1e6f601859

The gist shows how the "compass compile" command will work when run through "bundle exec" but fail because of loading issues when invoked with nested "bundle exec". The example is taken from the build process of one of our legacy webapps, and I trimmed everything not necessary to reproduc

[2017-04-30 20:08] segiddins commented on #5472
gem 'auth_integration', path: (Pathname.new('../auth_integration').realpath rescue 'vendor/cache/auth_integration')
Calls realpath, which I believe returns an absolute path

[2017-04-30 20:15] indirect commented on #5472
@segiddins wrong Gemfile, look farther up the ticket

[2017-04-30 21:28] altosaar commented on #5603
+1, same issue here

[2017-04-30 23:33] colby-swandale commented on #5603
@altosaar can you please share your output of `bundle env` to help us diagnose this issue.

[2017-05-01 02:29] danbob commented on #5472
@segiddins the absolute paths aren't the problem. When the gems were packaged before, Gemfile.lock was updated with the paths of the packaged gems (vendor/cache). In 1.14.5, the paths stay as they were. The same thing happens if you use relative paths, as per @indirect.

[2017-05-01 07:25] segiddins commented on #5472
In that case, I think one of my first comments was correct:

[2017-05-01 08:40] colby-swandale commented on #5627
are we breaking backwards compatibility if we take that exception out?

[2017-05-01 12:11] segiddins commented on #5627
Nah, it's the other direction that would be a problem. Allowing users to do something they couldn't before (adding a "feature") is never breaking backwards compatibility

[2017-05-01 14:01] altosaar commented on #5603
nvm, fixed.

It seems the issue for me was that brew installed another version of ruby (instead of the rbenv global one), because it was a dependency for vim.

Uninstalling all versions of ruby, reinstalling rbenv, then installing the ruby version fixed the issue.

[2017-05-01 14:40] BookOfGreg opened #5629 "Bundler downgrading gems on `bundle update`"
Given the following Gemfile and Gemfile.lock .
When I `bundle update carrierwave`
Then bundler 'upgrades' from 1.0.0 to 0.4.10
I expected upgrade to 1.1.0

[code]

[code]

[code]

[2017-05-01 14:42] segiddins commented on #5629
Can you try with the 1.15 prerelease ? Thanks!

[2017-05-01 14:48] BookOfGreg commented on #5629
Looks like whatever it is works in the prerelease. Thanks!

[code]

[2017-05-01 15:59] segiddins commented on #5629
Glad to hear it 😄

[2017-05-01 15:59] #5629 closed

[2017-05-02 01:48] jules2689 commented on #5621
[code]

[code]

[code]

[2017-05-02 01:55] jules2689 commented on #5621
This seems to be caused by `BUNDLE_BIN_PATH` being set

[2017-05-02 11:09] wpp commented on #5598
Hi, I get the same Error (slightly different trace) with the following Gemfile (I believe this is a default Rails 5.1.0 Gemfile):

## Gemfile

[code]

## Backtrace

[code]

## Environment

[code]
[code]

[2017-05-02 11:23] wpp commented on #5598
Quick update (sorry, I should've tried this earlier) 1.15.0.pre.3 worked for me.

[2017-05-02 15:09] scollon42 opened #5631 "Problem for fetching a gem from github"
Hi ! I needed to install a gem through github but I have some issues with it... thank you for your help and your time!
_Sorry for my bad english. I tried to write something readable but I'm not quite good for this..._

## Questions

- **What did you do?**

  I replace a gem written liken this `gem 'nylas'` with `gem 'nylas', github: 'mechanicles/nylas-ruby', branch: 'update-rest-client'`, then I r

[2017-05-02 21:17] segiddins commented on #5631
Can you please try with 1.15.0.pre.3? Thanks!

[2017-05-02 21:33] MOZGIII opened #5632 "A Gemfile DSL addition to allow access to the git repo properties"
I'd like to propose a new feature: a Gemfile DSL addition to allow access to the current git repo properties.

I need to somehow detect whether the current git repository is configured to use GIT+SSH or GIT+HTTPS scheme to interact with repo repos. I need this because our devs usually use ssh to work with private repositories, while CI is intended to be used with https.

So, in my custom source de

[2017-05-02 21:40] MOZGIII commented on #5632
@indirect This is another opportunity to test blundler's plugin system, so I summon you here. What do you think? Will plugin system allow this in it's current state?

[2017-05-02 21:43] segiddins commented on #5632
This seems like the sort of thing the `insteadOf` git config is for (see http://stackoverflow.com/questions/9611561/how-do-i-clone-a-gist-using-https-instead-of-git#15800103)

[2017-05-02 21:55] MOZGIII commented on #5632
I know about `insteadOf` and other ways to rewrite git sources for bundler. Yeah, this would really do the trick, and we probably don't need that kind of stuff in bundler core. Though, it might be good "test dummy" idea for a (theoretical?) plugin implementation.

[2017-05-02 22:04] segiddins commented on #5631
Reproduced, the issue is that the gemspec in that repo calls `Bundler.setup`, which will fundamentally cause infinite recursion, but we might be able to better come up with a way to show that error

[2017-05-02 22:16] segiddins commented on #5631
[code]

[2017-05-02 23:30] #5627 closed

[2017-05-02 23:51] jhawthorn opened #5633 "Strange non-deterministic gem version resolution"
Working on [a gem](https://github.com/solidusio-contrib/solidus_product_feed) today I experienced very strange, incorrect, and non-deterministic version resolution. Please bear with me, this is a weird one, but I have a consistent reproduction at the end.

It started with this:

[![](http://i.hawth.ca/s/Z81aVYhF.png)](https://twitter.com/jhawthorn/status/859535068821245952)

Every time I ran `bund

[2017-05-03 00:03] stewart commented on #5633
It appears this is a v1.14.0 regression, as I'm able to recreate it there but not in v1.13.7.

[2017-05-03 00:54] segiddins commented on #5633
Is this fixed in 1.15.0.pre.3, perchance?

[2017-05-03 01:08] jhawthorn commented on #5633
Same issue in 1.15.0.pre.3

[2017-05-03 01:15] segiddins commented on #5633
Damn, I know I fixed another `bundle update` bug in 1.15 and was hoping they'd be the same :(
I can't promise a swift resolution to this bug, so in the meantime I recommend giving your CPU (and sanity) a break by pinning a rails version in your Gemfile

[2017-05-03 01:51] segiddins commented on #5633
[code]

[2017-05-03 02:20] segiddins commented on #5633
Making this even harder to track down is that this appears to be a truly pathological gemfile, it breaks in different ways on different versions, rendering `git bisect` kinda useless (see v1.14.0.pre.1 where there's an unrelated failure)

[2017-05-03 02:34] segiddins commented on #5633
It seems we broke this in f3836b6a1ec0620d164e52b8afec830b13494858

[2017-05-03 02:39] segiddins commented on #5633
Disabling swapping in the resolver fixes things. 🔥

[2017-05-03 07:26] scollon42 commented on #5631
Hi ! Thank you for your quick anwser ! It's work great for me now :+1: ! I didn't try to install another gem from another repo... I should have..

I think I can close this issue, the problem is fixed for me...
Your solution to raise an error when it's happen is a good idea. It can save some time to people like me :smile:

[2017-05-03 08:27] sebasoga commented on #5575
I ran into this problem too.

-------------------------------------------------------------------

- What did you do?

  I ran the command `/usr/local/bin/bundle install --path /home/.../shared/bundle --without development test --deployment --quiet`

- What did you expect to happen?

  I expected Bundler to...

- What happened instead?

  Instead, what happened was...

Error details

    NoMethodE

[2017-05-03 11:22] colby-swandale commented on #5575
@sebasoga can you please share the output of `bundle env` please.

[2017-05-04 13:19] sebasoga commented on #5575
@colby-swandale

## Environment

[code]
[code]

### Gemfile.lock

[code]

[2017-05-04 14:05] colby-swandale commented on #5575
@sebasoga please print the entire `bundle env` output without removing anything.

[2017-05-04 18:50] patrickgomes1968 commented on #5046
Hi, I'm a noob so please bear with me:
Exception:
 `Your bundle is locked to nokogiri (1.6.7.1-x86-mingw32), but that version could not be found in any of the sources listed in your Gemfile. If you haven't changed sources, that means the author of nokogiri (1.6.7.1-x86-mingw32) has removed it. You'll need to update your bundle to a different version of nokogiri (1.6.7.1-x86-mingw32) that hasn't be

[2017-05-04 20:20] fulldecent opened #5640 "SemVer version specifier"
I want to require a version of a package:

* I need at least 1.2.4
* I need something compatible with 1.2.4 (i.e. < 2.0)
* Assume the package uses SemVer (because this is 2017)

This is, or should be, the most common user requirement for bundler but it is the most complicated one to set up.

Bundler should have an operator that expresses this. And users should be encouraged to use it.

---

Compar

[2017-05-04 21:13] segiddins commented on #5640
Bundler uses the `Gem::Requirement` operators from RubyGems -- it seems highly unlikely to me that we'll ever be able to add more in RG due to backwards compatibility concerns

[2017-05-05 06:08] kevintraver opened #5641 "Output to new Gemfile"
Is there a way export the current list from the Gemfile.lock into a new Gemfile?

Would be super handy if `bundle show` could be formatted to be used in a new Gemfile.

[2017-05-05 12:58] segiddins commented on #5641
Bundler doesn't currently have this functionality, particularly because information such as groups, platform and install conditionals are not stored in the lockfile and must be read from the Gemfile

[2017-05-05 14:08] islam-taha opened #5642 "infinite loop resolving dependencies"
I've created [this gist ](https://gist.github.com/islam-taha/6f7e7b98214790e02185f9faf657a905)which contains my gemfile causing this issue along with the

`DEBUG_RESOLVER=1 bundle update -VV` command output which is repeated in the infinite loop.

**Note**: this issue is not appearing when removing `gem 'split' `

**bundler version '1.15.0.pre.3'**

[2017-05-05 14:26] giovdk21 opened #5643 "CGI escaped username and passwords with bundle config"
Please see: https://github.com/bundler/bundler/issues/4288

_(comment by indirect)_

I've been having the same problem using bundle config bitbucket.org user:pwd (http://bundler.io/man/bundle-config.1.html)

Could the documentation be updated by specifying that also in relation to the "bundle config" command / env. variables?

Thanks

[2017-05-05 17:26] segiddins commented on #5642
Please share the output of `bundle env`, thanks!

[2017-05-05 17:30] islam-taha commented on #5642
Here it is [bundlenv.txt](https://github.com/bundler/bundler/files/979835/bundlenv.txt).

[2017-05-05 22:42] lamont-granquist commented on #5625
that looks more like a chef packaging bug than a bundler bug, probably should go into https://github.com/chef/chef/issues/new instead of here

[2017-05-05 23:10] pvandervelde commented on #5625
Ok will report it there.

[2017-05-05 23:23] lamont-granquist opened #5644 "universal-mingw32 and x64-mingw32 shouldn't conflict in resolution?"
I'm getting errors that look like this:

[code]

If universal-mingw32 were considered equivalent to either x64-mingw32 or x86-mingw32 then I think it should resolve (unless I've just been staring at this too long and I'm missing something).

The Gemfile.lock I'm building this from has both x64-mingw32 and x86-mingw32 added to it via:

[code]

We had been doing this but in 1.14.x this started faill

[2017-05-05 23:24] lamont-granquist commented on #5644
It has occurred to me while I'm writing this that we can bundle install/bundle exec in our appveyor environment just fine and its only on our internal jenkins that its blowing up and i need to go figure out what the difference is...

[2017-05-07 02:07] #5625 closed

[2017-05-08 01:08] segiddins commented on #5644
Yup, this looks like a bug :/

A full `bundle env` dump would be helpful to debug this (even better would be that output both from the machines where it is passing and where it is failing). Thanks!

[2017-05-08 01:11] segiddins commented on #5643
Yup, we definitely should call this out at https://github.com/bundler/bundler/blob/master/man/bundle-config.ronn#L291!

[2017-05-08 04:10] #5592 closed

[2017-05-08 09:04] mkristian commented on #5598
had the same problem/error and I am running nexus server with rubygems.org proxy on it. switching to bundler-1.15.0.pre3 worked. so all is good for me. but version 1.14.3 and 1.14.6 both ran into this problem

[2017-05-08 11:14] timolehto commented on #3759
@indirect, regarding your comment about update --only option https://github.com/bundler/bundler/issues/3759#issuecomment-113327119, would you be willing/interested to merge/see a PR for such a feature? Or is there already some awesome features on the pipeline for 2.0 regarding this?

[2017-05-08 15:16] jschnurholmes commented on #5373
I've seen this issue more recently, but I didn't notice what version of bundler I was running at the time.

[2017-05-08 18:01] lamont-granquist commented on #5644
working one on appveyor:

bundle env
## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-05-08 18:02] lamont-granquist commented on #5644
failling one on jenkins:

## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-05-08 18:04] lamont-granquist commented on #5644
ruby versions are different.  looks like the major difference may be the without settings and how they're getting set.  i'll investigate a bit more after i forage for lunch + more coffee...

[2017-05-08 18:09] segiddins commented on #5644
Thanks! In theory, the without settings shouldn't matter (nor the difference in chef version in the lockfiles, nor the ruby version),but given that this bus shouldn't be happening either, who knows

[2017-05-08 18:12] lamont-granquist commented on #5644
i'm suspicious of the omnibus_package group being different, which may bring in a pile more stuff into the one which is busted.  more investigations after lunchings...

[2017-05-08 18:12] ryanwjackson commented on #5332
I'm running into it.

[2017-05-08 20:04] lamont-granquist commented on #5644
applying the same without options to appveyor doesn't break appveyor though, so maybe that's not it...

[2017-05-09 11:09] colby-swandale commented on #5603
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-05-09 11:09] #5603 closed

[2017-05-09 11:09] colby-swandale commented on #5617
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-05-09 11:09] #5617 closed

[2017-05-09 11:12] colby-swandale commented on #5465
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-05-09 11:12] #5465 closed

[2017-05-09 13:44] Soulou opened #5648 "Fail to load native extension when using custom git source and having an existing cache"
This issue may look like to #4106 but as stated, I decided to open a new issue, here is the workflow to reproduce the bug. I've reproduced it with version on the 1.13 branch and 1.14 branch

1. Create a new rails project

[code]

2. Add the following gem in your Gemfile:

[code]

3. Run bundler to freeze deps:

[code]

4. Run bundler in deployment mode:

[code]

Here the `.so` file is built correc

[2017-05-09 14:13] colby-swandale commented on #5648
Thanks for reporting this issue. I can't recreate this issue using the steps but can you please attach the output of `bundle env` so we can get some information about your environment.

[2017-05-09 14:24] Soulou commented on #5648
Here it is:

[code]

[2017-05-09 14:25] Soulou commented on #5648
I'm currently doing a test with ruby `2.4.1` and bundler `1.14.6 `

[2017-05-09 14:45] Soulou commented on #5648
Exactly the same problem with these versions:

[code]

[code]

## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-05-09 16:00] Soulou commented on #5648
@colby-swandale are you using RVM or rbenv? It seems that with RVM it works correctly but it's not the case with `rbenv`

Actually I did manage to reproduce this behavior in two different environments:

1. With rbenv on my local workstation
2. In Scalingo deployment environment (docker container based on ubuntu trusty, ruby deployed with heroku buildpack `https://github.com/heroku/heroku-buildpack

[2017-05-09 18:58] ptoomey3 opened #5649 "Problem resolving dependencies of vendored gems"
We vendor every gem we use in `vendor/cache`, including private gems that we manually build and place in `vendor/cache`. This works fine so long as the private gem has no dependencies. But. if it does, Bundler seems unable to resolve them. To reproduce/come up with a simple PoC I did the following:

* Create a "private" gem repo in https://github.com/ptoomey3/ptoomey3_private_gem
* Make that gem r

[2017-05-09 20:15] segiddins commented on #5649
Please share the output of bundle env

[2017-05-09 20:37] ptoomey3 commented on #5649
## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-05-10 02:48] johuder33 commented on #4065
@segiddins thank you, you save a lot of my time. 👍

[2017-05-10 05:35] indirect commented on #4065
@segiddins I'm thinking maybe we should add an explanation about this to rubygems? (not that it will help right away, but maybe eventually 😝)

[2017-05-10 09:23] hamza-intagleo opened #5651 "Errno::ENOSPC: No space left on device - sendfile"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/ubuntu/.rvm/gems/ruby-2.3.4/bin/bundle update`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead

[2017-05-10 10:41] colby-swandale commented on #5651
It looks like you have run out of HDD space that Bundler needs to run.

[2017-05-10 11:18] hamza-intagleo commented on #5651
I already have increased the size of it. but still bundle install gives me this error

[2017-05-10 11:19] hamza-intagleo commented on #5651
ubuntu@ip-172-31-59-121:~/comenciainc$ df -h
Filesystem      Size  Used Avail Use% Mounted on
udev            2.0G   12K  2.0G   1% /dev
tmpfs           396M  356K  395M   1% /run
/dev/xvda1       16G  6.1G  8.9G  41% /
none            4.0K     0  4.0K   0% /sys/fs/cgroup
none            5.0M     0  5.0M   0% /run/lock
none            2.0G  4.0K  2.0G   1% /run/shm
none            100M     0  100M

[2017-05-10 11:38] mvz opened #5652 "Bundler gets confused about dependencies"
I'm getting this with bundler 1.14.6:

[code]

Note that it claims actionpack 5.0.2 depends on activesupport 5.1.0. However:

[code]

I can reproduce this simply in the following way:

1. Create the following Gemfile:
[code]

2. Run `bundle`. This works and installs draper 3.0.0.
3. Run `bundle update draper`. This fails with the above error.

[2017-05-10 12:19] colby-swandale commented on #5651
Check your configuration of `/tmp`, Bundler needs space available in `/tmp` to write into as well.

[2017-05-10 12:21] colby-swandale commented on #5652
Can you please check if this resolves correctly on Bundler `1.15.0.pre.3`.

[2017-05-10 12:52] segiddins commented on #4065
@indirect sure, open up an issue there with some wording?

[2017-05-10 16:00] segiddins commented on #5649
You need to source `ptoomey3_private_gem` from either a rubygems source,  a path source, or a git source in your Gemfile...
I'm getting the following when trying to `bundle install` it:

[code]

[2017-05-10 16:12] ptoomey3 commented on #5649
hmm..I don't get that error since my system seems to look in `vendor/cache` when doing a `bundle install`.

[2017-05-10 16:34] segiddins commented on #5649
I don't think that's a supported use case though... you're not supposed to manually dump gems into `vendor/cache`, I think bundler expects to manage whats in there itself, via `bundle install --path`, `bundle package`, `bundle cache` etc.

[2017-05-10 16:40] ptoomey3 commented on #5649
Yeah..that was half the question. We have been using it since it seems to work in most cases (when an internal gem doesn't have any dependencies). Having to provide a path is difficult to mange when you have many distributed developers and you just want to drop in a private gem without having to have every developer have all private gems checked out into a certain path.

[2017-05-10 17:16] segiddins commented on #5648
I can't reproduce this on OS X, `vendor/bundle/ruby/2.4.0/bundler/gems/ox-8211624ae976/ext/ox/ox.bundle` is present still after installing a second time

[2017-05-10 19:25] segiddins commented on #5642
I cannot reproduce the issue with the given `Gemfile` and `Gemfile.lock`

[2017-05-10 21:45] fulldecent commented on #5640
Thank you, submitted upstream at https://github.com/rubygems/rubygems/issues/1919

[2017-05-10 21:45] #5640 closed

[2017-05-10 23:28] Iristyle opened #5654 "Remove hard dependency on io/console (by updating Thor)"
On some platforms, the `io-console` gem may not be readily available through a package manager, and installing development packages in order to compile native code may be undesirable.

Thor is the culprit here as it specifies a hard dependency on `io/console` at https://github.com/erikhuda/thor/blob/v0.19.1/lib/thor/shell/basic.rb#L2

Thor has addressed this problem in https://github.com/erikhuda/

[2017-05-10 23:31] segiddins commented on #5654
We're waiting for Thor to cut a new release

[2017-05-10 23:35] colby-swandale commented on #5648
Thanks, i can reproduce this problem on linux/ubuntu.

[2017-05-11 05:32] mvz commented on #5652
@colby-swandale Yes, this resolves correctly with Bundler `1.15.0.pre.3`.

[2017-05-11 05:33] mvz commented on #5652
... and with `pre.4` as well :-)

[2017-05-11 06:50] colby-swandale commented on #5652
Thanks, ill close this for now but feel free to open a new issue if this problem does arise in the new releases.

[2017-05-11 06:50] #5652 closed

[2017-05-11 06:54] colby-swandale commented on #5641
I'm closing this as the main question has been answered. Feel free to open a new issue if you have any more questions.

[2017-05-11 06:54] #5641 closed

[2017-05-11 07:07] colby-swandale commented on #5648
This does not reproduce for me if i use the `master` branch instead.

[2017-05-11 08:33] jane084263 commented on #4151
i encontered the same issue. does anyone have idea on how to solve this?
Git error: command `git clone 'git://github.com/makoviy/rocket_tag.git'
"/Users/t_sunl/.rvm/rubies/ruby-2.3.0/lib/ruby/gems/2.3.0/cache/bundler/git/rocket_tag-980eff661fdcc8491a9965c7f96c096ade7cdb3f"
--bare --no-hardlinks --quiet` in directory /Users/t_sunl/gallery has failed.

[2017-05-11 09:53] Zirconiumirish opened #5655 "Problem with cld3"
Hi i'm trying to install mastodon but I can't get it working
When i'm executing this : "bundle install --deployment --without development test"

I have this :

[code]

Thanks for your help

[2017-05-11 11:06] colby-swandale commented on #4151
@jane084263 can you please open a new issue with the details of the problem you're having. And we will try and help resolve your problem.

[2017-05-11 11:12] colby-swandale commented on #5655
Hi, This does not appear to be an issue with Bundler itself. It appears to be a build error in the `cld3` gem. I recommend opening an issue with the project to help resolve your problem.

[2017-05-11 12:26] Soulou commented on #5648
Hi @colby-swandale, you mean the `master` branch of the gem itself, or the `master` branch of bundler?

[2017-05-11 12:28] colby-swandale commented on #5648
the `master` branch of the gem (sorry that wasn't clear)

[2017-05-11 12:33] Soulou commented on #5648
I confirm that on `master` of `github.com/hiptest/ox`, I can't reproduce the problem.

* Does this mean the problem is related to the `ox` gem build script
* What could lead to such behavior?

[2017-05-11 12:34] Soulou commented on #5648
Between `master` and the branch I'm giving in the Gemfile, there is only one commit:

[code]

How could such a commit change the behavior?

[2017-05-11 12:44] colby-swandale commented on #5648
The branch is 1 commit ahead of master but it's also 9 commits behind master, so there might be a commit that addresses some build issue. Sorry but, Im not very familiar with native extensions in ruby (something i need to read up on more to really give you an informative answer). @segiddins do you have any thoughts about this?

[2017-05-11 12:55] Soulou commented on #5648
I was actually speaking about being 1 commit ahead of master in the fork. I've actually tested `hiptest/ox#master` and `hiptest/ox/#add_tolerant_mode_to_builder`, it worked correctly with the former, but failed with the `add_tolerant_mode_to_builder` branch.

[2017-05-11 14:43] kovalevvitaliy commented on #3650
apt-get install make g++ gcc libssl-dev

[2017-05-11 16:16] segiddins commented on #5648
https://github.com/hiptest/ox/commit/8211624ae9764c5fc147e1450850fde46f339ab1 added `ext/ox/ox.so` to git, which probably was unintentional

[2017-05-11 16:36] cbliard commented on #5648
My bad :-( Thanks for figuring it out.

[2017-05-11 17:57] will-in-wi commented on #5235
We upgraded bundler on our production systems recently, and 984f64d broke one of our apps. I tracked it down by bisecting bundler from the old version to the new one, running this file each time:

[code]

Before this commit, the output was `1969-12-31T19:20:34-05:00`. After this commit, the output is `test.rb:1:in `<main>': undefined method `to_datetime' for 1969-12-31 19:20:34 -0500:Time (NoMetho

[2017-05-11 18:16] Soulou commented on #5648
Oh! just seen it.. It seems so obvious now. Thanks @segiddins for find this information. I feel a little dumb now.. Closing the issue, thanks again for your help

[2017-05-11 18:16] #5648 closed

[2017-05-11 20:06] segiddins commented on #5648
No worries! I only saw it after you pointed out the issue had to be in that commit (and it also explains why I didn't see anything on macOS)

[2017-05-12 00:17] colby-swandale opened #5657 "bundle exec command specs breaking on local dev environment"
Gist: https://gist.github.com/colby-swandale/6173b0221ad91a2168ef27b5c08dd089

Whenever i run the `spec/commands/exec_spec.rb` tests either it be the individual file or the entire suite, some of the specs will not pass for me.

\cc @segiddins

[2017-05-12 00:49] segiddins commented on #5657
Ahhhh, I think I know the issue. Will look into it tomorrow

[2017-05-12 17:39] fulldecent commented on #3053
What version was this fixed in?

[2017-05-13 08:40] qcam opened #5661 "Bundler.setup doesn't work with `bundle exec`"
From #5659.

I encountered an issue while using `Bundler.setup` with `bundle exec`

[code]

Let's say I have gem `foo` in Gemfile with `:production` group, assume there is a `Foo` constant in it.

When I ran `bundle exec ruby ./test.rb`, it turned out `Foo` can be loaded, while it should not.

[2017-05-13 14:43] segiddins commented on #5661
I believe `bundle exec` will setup all groups that you haven't configured with `bundle config without`, and if you want more granular control at runtime you need to call `Bundler.setup` yourself rather than using `bundle exec`

[2017-05-13 21:04] qcam commented on #5661
@segiddins thanks for taking your time looking at my issue. I appreciate that.

Is this behavior intentionally by design? I am wondering if this would cause any false positive, if a gem is grouped in a specific environment can be required on another?

You're right that I can use `bundle config without`. Anyway, could we have it documented in [Bundler Workflow](http://bundler.io/v1.12/bundler_workf

[2017-05-13 21:15] islam-taha commented on #5642
The issue still exist with ruby 2.3.1!

[2017-05-13 21:31] segiddins commented on #5661
Yes, I believe that is intentional (it's definitely worked that way as long as I've been working on bundler)

optional groups

[2017-05-14 12:32] #5657 closed

[2017-05-14 16:09] MrOutis commented on #5404
you can create a workaround with bash.
[code]

[2017-05-14 16:37] MrOutis opened #5663 "Striving for a lighter Ruby on Rails Docker image with the builder pattern and bundler"
Recently, I found about the **builder pattern** in Docker:

I was wondering if this can be achieved with Ruby and bundler, and tried the above:

Builder image:
[code]

And executed something like:
`docker run -v "${PWD}:/usr/src/app" build-rails bundle install && bundle package --all`

Bundler created a `vendor/cache`, and used the following "production" image:
[code]

when I did `bundle install -

[2017-05-15 11:35] daniel-barlow commented on #3288
In bundler 1.14.6 I appear to be able to work around this - at the expense of creating mess on my filesystem - by setting `BUNDLE_APP_CONFIG` to an empty temporary directory before each command that might write it.  For example

[code]

Obviously, important not to reuse the same temporary directory next time ;-)

[2017-05-15 11:53] adamc199 commented on #5655
Any luck on this? I'm having the same issue

[2017-05-15 12:04] Zirconiumirish commented on #5655
Yes I finally succeed 👍

git clone https://github.com/rbenv/rbenv.git ~/.rbenv
echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc
echo 'eval "$(rbenv init -)"' >> ~/.bashrc
source ~/.bashrc

git clone https://github.com/rbenv/ruby-build.git ~/.rbenv/plugins/ruby-build

rbenv install 2.4.1

rbenv global 2.4.1

echo "gem: --no-document" > ~/.gemrc

gem install bundler --no-ri

[2017-05-15 20:27] danbob commented on #5472
My bad, I missed that comment (or I didn't understand that you meant "run bundle install once without --deployment"). Problem solved!

[2017-05-16 08:46] #5631 closed

[2017-05-16 09:53] x-yuri opened #5664 "gem pristine fails on gems with native extensions"
[code]

[code]

[2017-05-16 11:02] colby-swandale commented on #5664
Thanks for the bug report! i was able to recreate this problem myself.

[2017-05-16 11:03] colby-swandale commented on #5655
I'm closing this for now.

[2017-05-16 11:03] #5655 closed

[2017-05-16 11:03] colby-swandale commented on #5651
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-05-16 11:03] #5651 closed

[2017-05-16 11:06] colby-swandale commented on #5596
@segiddins is there any action for this issue?

[2017-05-16 13:57] segiddins commented on #5596
I don't know, the behavior reported seems to be intentional

[2017-05-16 14:17] dylanahsmith commented on #5596
It looks like #4030 was about git gems having their extensions being removed **when they were still used**.

This issue is about gems that have been removed from the Gemfile.  Notice in the PR description that I do this by simply emptying the Gemfile with the following line

in my example, `bundle clean --force` does in fact remove the cityhash gem, so I don't see why the extension for the removed

[2017-05-16 15:07] niedfelj opened #5666 "Gem works differently depending on source (rubygems,git)"
The better_errors gem on rails 5.1.1, ruby 2.4.1, bundler 1.14.6 appears to behave differently depending on if it is loaded using

[code]
vs
[code]
Even if they are EXACTLY the same.

More details here

https://github.com/charliesome/better_errors/issues/371

Wondering if you guys have any insight into why?

[2017-05-16 16:23] askldjd commented on #5465
Final note:

@kierachell and I were not able get `mirror` config working. We worked around this issue by doing a find/replace in the gemfile during deployment time.

Here's the snippet of our ansible code that does this.
[code]

[2017-05-16 17:33] segiddins commented on #5666
Can you please share a project we can use to reproduce the discrepancy? Thanks!

[2017-05-16 18:11] niedfelj commented on #5666
@segiddins Sure!

https://github.com/niedfelj/rails_51_better_errors

Try running that, changing from the git version of better_errors and the rubygems version. You can hit localhost:3000/test to throw an error. It should show the template location and proper stack trace if you are using the git version.

[2017-05-16 19:18] jhawthorn commented on #5633
Unfortunately I am unable to specify a version of rails or use a lock file because I am developing gems.

Something has changed in the last week (maybe more versions of rails released?) and this is now far more broken far more often. About a dozen gems I maintain now cannot bundle correctly (admittedly, they will have gemfiles very similar to this one).

I'm also now receiving this error (on bundl

[2017-05-16 19:31] jhawthorn commented on #5633
You can reproduce that error right now with the Gemfile:

[code]

[2017-05-16 20:32] jhawthorn commented on #5633
Here's the output of `bundle update` with `DEBUG_RESOLVER=1` https://gist.github.com/jhawthorn/1fc65fca917414dacaea3110ebd96a59

[2017-05-16 22:45] segiddins commented on #5666
If I point using `git` to the `v2.1.1` tag, the issue with the released gem shows up, so my guess is this is just a bug that they've fixed on `master` since the release of `v2.1.1`

[2017-05-16 22:51] niedfelj commented on #5666
Interesting. When I diffed the gem locally with my checkout, they appeared the same, but you're right that the diff does show changes here

https://github.com/charliesome/better_errors/compare/v2.1.1...master

[2017-05-17 05:25] jarro2783 opened #5668 "Packaging built extensions"
We use `bundle package` in CI, and have our hosts install gems using `bundle install --deployment` to reduce our dependency on rubygems.org. The problem is that they still try to compile native gems. Ideally we would like to not have GCC installed on production machines. We would also like new hosts to be quick to start. This means they can't spend a long time building native extensions.

Is it po

[2017-05-17 09:47] galopin commented on #5566
@segiddins @colby-swandale @indirect Samuel, Colby, can we involve André on this topic? I'm aware that Ruby is far from being the perfect language for handling UTF-8 strings but I'd like to know if this annoying issue — see Puppet issue \#6034 “[Bundler Fails when Running Under a Unicode Windows User](https://tickets.puppetlabs.com/browse/PUP-6034)” — can be fixed at the userland level. Thank you.

[2017-05-17 10:01] colby-swandale commented on #5566
@galopin I'm positive this issue can be resolved, the problem is that none of the core team run Windows. So we're not really able to spend time looking into this issue.

[2017-05-17 14:00] segiddins commented on #5668
What's the output of `bundle env` on CI and on the VM?

[2017-05-17 14:20] galopin commented on #5566
@colby-swandale @segiddins Understood. In the meantime, you might want to have a look at how Puppet solved its numerous encoding issues with environment variables on Windows — please see:

- PUP-5726 "[Support Windows Unicode env vars](https://tickets.puppetlabs.com/browse/PUP-5726)"
    ; [pull request \#4592](https://github.com/puppetlabs/puppet/pull/4592) and [subsequent commit](https://github.

[2017-05-17 17:20] indirect commented on #5566
@galopin Hi. Both @segiddins and @colby-swandale are members of the Bundler core team, so it comes across as a disrespectful jerk move to demand that you want to hear from me instead of them.

As for this particular issue, it looks to me like something that needs to be resolved upstream, either in readline or in ruby itself. Your approach in this ticket has been both demanding and rude, repeatedly

[2017-05-17 19:06] #5666 closed

[2017-05-17 23:36] jarro2783 commented on #5668
Here it is on the host: https://ptpb.pw/2Arl

The diff between that and CI is:

    --- /dev/fd/63	2017-05-17 19:35:40.703056879 -0400
    +++ /dev/fd/62	2017-05-17 19:35:40.703056879 -0400
    @@ -3,28 +3,29 @@

[code]

     ## Bundler settings

[code]

    ## Gemfile

[2017-05-17 23:37] jarro2783 commented on #5668
Also is it possible to precompile a gem so that bundle will install the precompiled gem instead of trying to compile it when I run `bundle package`?

[2017-05-18 04:09] fukayatsu commented on #5642
I'm in the same situation: [gist: bundle env & log](https://gist.github.com/fukayatsu/7274a2f51c4250cd96870672a9c5be54)

I added `gem 'rack', '~> 1.0'` to my Gemfile as workaround .

[2017-05-18 06:58] colby-swandale commented on #5583
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-05-18 06:58] #5583 closed

[2017-05-18 08:52] zw963 opened #5669 "Use bundler which seperate use binary extension gem with normally gem."
I have one issue when I use bundler with docker, following is my propose:

1.  For make one `RUN` command in Dockerfile Reusable, I hope make ``RUN bundle install --binstubs --retry=5`` in seperate step to run.

2. Some rails gem, need some build dependency,  e.g. `nio4r`, `pg`, `nokogiri`, `therubyracer`, This means
when run ``bundle install`` in previous step, we need install lots of packages wh

[2017-05-18 09:15] galopin commented on #5566
@indirect Hi André, sorry but it would seem you pick up this thread on the wrong foot. I didn't mean to be rude or disrespectful at all. Inquisitive, sure. As you expressed some doubts in the past about the Ruby capacity to handle UTF-8 strings properly, I though it was a good idea to get your input on this particular topic. Looks like I was mistaken 😕 As a final note, you shouldn't jump to conclu

[2017-05-18 10:45] brauliobo commented on #3242
this also makes the performance of inline gemfiles (with `gemfile` from https://github.com/bundler/bundler/blob/master/lib/bundler/inline.rb) very bad, as it needs to fetch the git repo everytime the script is run as obviously there isn't a `Gemfile.lock` involved

[2017-05-18 23:15] indirect commented on #5566
@galopin I don't blame you for wanting to solve the issue. Reporting the problem: good. Including instructions to reproduce the problem: good. Links to similar problems: good.

Asking me to join the thread after the core team already responded to you: not good. Telling us to look at puppet tickets after we told you we can't fix it ourselves: not good. Asking us if the puppet team will fix it: not

[2017-05-19 04:53] potato20 commented on #4503
any update? this would be nice

[2017-05-19 04:53] potato20 commented on #4503
especially the `--without` flag

[2017-05-19 04:58] indirect commented on #4503
@potato20 the update is: this is a feature request. feel free to implement it and send a PR if you're motivated. :)

[2017-05-19 16:40] galopin commented on #5566
@segiddins @colby-swandale @indirect I've done my homework and devised a hotfix that allowed me to run Bundler from the command line on my Windows set-up❗️

Here's what I did. First, I backed up the following source files:

[code]
Then I performed two slight changes in:

1. `bundler.rb`
    ; see [highlighted source](https://github.com/bundler/bundler/blob/master/lib/bundler.rb#L20) in master bran

[2017-05-20 17:24] MrOutis commented on #5668
This would help me closing: https://github.com/bundler/bundler/issues/5669

[2017-05-22 11:34] colby-swandale commented on #5609
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-05-22 11:34] #5609 closed

[2017-05-22 11:52] colby-swandale commented on #4913
Hi 👋 , We have added a `--parseable` option to `bundle config` in the latest release.

[2017-05-22 11:52] #4913 closed

[2017-05-22 11:52] colby-swandale commented on #4724
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-05-22 11:52] #4724 closed

[2017-05-22 11:53] colby-swandale commented on #4722
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-05-22 11:53] #4722 closed

[2017-05-24 02:32] lamont-granquist commented on #5615
looks like `bundle inject` does something almost like what i was looking for here.  if you try to pin a gem which is already specified in the gemfile, though, you can wind up with an error like this:

[code]

if it would be able to apply both the gem requirements (since they don't conflict) and then instead of injecting a single gem, but to loop over all the gems in a lockfile that would be a poss

[2017-05-24 15:36] nevilw opened #5674 "An error occurred while installing mysql2 (0.4.4), and Bundler cannot continue."
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /usr/local/rvm/gems/ruby-2.3.0/gems/mysql2-0.4.4/ext/mysql2
/usr/local/rvm/rubies/ruby-2.3.0/bin/ruby -r ./siteconf20170524-9589-12zw22j.rb extconf.rb
checking for ruby/thread.h... yes
checking for rb_thread_call_without_gvl() in ruby/thread.h... yes
checking for rb_thread_blocking_region()... no
checking fo

[2017-05-24 23:04] dcarral commented on #5245
Interesting thread here ;)

Question @DerGuteMoritz: when you wrote “numerous places”, did you mean all of them being documentation-related?

[2017-05-24 23:27] colby-swandale commented on #5674
You're trying to install the `mysql2` gem but you're missing the required libraries it needs to install successfully install. This is not an issue with Bundler.

[2017-05-25 01:25] gomsec opened #5676 "bcg"

[2017-05-25 01:28] #5676 closed

[2017-05-25 14:08] wainersm commented on #5046
I'm getting same here today:
[code]

From previous comments it's not clear (to me) how to solve it.

[2017-05-25 14:16] tom-lord commented on #5046
@wainersm

I think that's quite clear...

[2017-05-25 14:17] tom-lord commented on #5046
@wainersm What if you run `bundle exec rake artifact:tar`?

[2017-05-25 14:20] wainersm commented on #5046
@tom-lord ```bundle install``` didn't work. Neither ```bundle exec rake artifact:tar```
I also deleted nokogiri (```gem uninstall nokogiri```) then installed it back (with bundle). No way, still not working.

[2017-05-25 21:36] BrianHawley opened #5677 "bundle env has bad markdown syntax"
When I run `bundle env`, it outputs in Markdown syntax. However, there's an error in the syntax. For example, here's the beginning of the output:

## Environment

[code]
[code]

It continues from there. The problem is the extra "```" after the Environment block (there are two of them), which messes up the syntax of the Gemfile following it.

[2017-05-25 21:40] avit opened #5678 "bundle install --force with git source"
Running `bundle install --force` with a gem sourced from github is failing with the following error. It looks like the `--tags` option is getting the install path:

[code]

## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-05-25 21:49] BrianHawley commented on #5677
It's notable that my output didn't contain a "Bundler settings" section between "Environment" and "Gemfile". Perhaps it included the closing "```" of that section, without including the rest.

[2017-05-25 23:18] segiddins commented on #5677
I'm guessing thats the cause, thanks for pointing this out!

[2017-05-26 00:55] segiddins commented on #5677
https://github.com/bundler/bundler/pull/5679 should fix this

[2017-05-26 01:04] segiddins commented on #5678
Repro'ed, but the issue isn't the git command we run, it's that bundler thinks it shouldn't be allowed to run git commands here.

[2017-05-26 01:18] segiddins commented on #5664
Reproduced as well, in the meantime I recommend running `bundle pristine`

[2017-05-26 01:21] segiddins commented on #5664
actually, I don't think theres a way to make this work. `bundle exec` ensures that all ruby subprocesses will act as if they themselves have been `bundle exec`'d (by adding `-rbundle/setup` to `RUBYOPT`), and after `rm`ing the gem, RubyGems spawns a ruby subprocess to build the new extension

[2017-05-26 15:59] pglombardo commented on #5536
Unfortunately I'm also having this problem fairly consistently (at least only locally so far).  Happens on my Mac and on Ubuntu running in a VMWare VM.

`bundle env` output:
https://gist.github.com/pglombardo/6a92942b3aadf3eeeddd85f155896487

Happening for this gem which has sys-proctable as a gemspec dependency: https://github.com/instana/ruby-sensor

Thanks for the great gems both bundler & sys-

[2017-05-28 06:15] #5674 closed

[2017-05-28 07:58] vfonic opened #5682 "Bundler fails to resolve version dependencies"
When I run `bundle update` it fails with `Bundler could not find compatible versions for gem "actionpack"` even though there are compatible versions of `actionpack` gem, all 5.0.x versions.

Here's the error message:

Here's the gist to `bundle env`:
https://gist.github.com/vfonic/e57fa99f98893a8567f2913043bb5bb3

This is the repo with the issues:
https://github.com/spark-solutions/spree_shopify_i

[2017-05-29 17:15] segiddins commented on #5682
I couldn't reproduce the issue in the given repo, running `bundle install && bundle update`

[2017-05-30 00:01] #5677 closed

[2017-05-30 00:53] segiddins commented on #5618
Since you've run `bundle config without test`, this is the intended behavior

[2017-05-30 02:00] sebasoga commented on #5575
@colby-swandale I solved this by passing the `--full-index` option when running `bundle install`

[2017-05-30 03:01] colby-swandale commented on #5575
@sebasoga it would be really appreciated if you can publish the full output of `bundle env` (without any edits) so we can look into this issue and fix the bug.

[2017-05-30 04:20] vfonic commented on #5682
@segiddins I can't reproduce the error anymore as well. No idea what was causing the issue yesterday.

Thanks for checking out! I'll reopen the issue if I encounter the error again.

[2017-05-30 04:20] #5682 closed

[2017-05-30 09:31] #4935 closed

[2017-05-30 09:56] colby-swandale commented on #5532
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-05-30 09:56] #5532 closed

[2017-05-30 17:31] stonko1994 commented on #4482
Happened again to me when updating to 1.15.0.
Downgrad to 1.14.6 fixed it.

[2017-05-30 17:56] segiddins commented on #4482
Please open a new issue with steps to reproduce @stonko1994

[2017-05-30 19:58] indirect opened #5687 "TLS troubleshooting and migration guide"
As part of [the Fastly TLS deprecation][1], RubyGems.org is going to lose the ability to allow TLS v1.0 and v1.1. A few weeks ago, Fastly disabled TLS v1.0 and v1.1 for us as part of their plan, and we discovered that _a lot_ of Ruby users still aren't able to use TLS v1.2 yet. Unfortunately, the older versions of TLS have known problems that make them insecure.

We would like to migrate everyone,

[2017-05-31 04:00] fotanus commented on #5446
@kerrizor How exactly are you doing this? I understand you are passing a `file:///` URI to install without changing the plugin version, and it is not overwriting the existing installed plugin? Is that correct?

[2017-05-31 15:12] carvil opened #5691 "Bundler version 1.14.5 doesn't respect --path argument / Permission Denied error"
Hi,

I've seen this being reported before for other versions, but I've seen it now in `1.14.5`.

### What you're trying to accomplish

Deploying an app with capistrano.

### The command you ran

This is the command we have been running:
[code]

### What you expected to happen

The gems to be installed successfully.

### What actually happened

[code]

### Everything output by running bundle env

[

[2017-05-31 15:15] segiddins commented on #5691
Can you try with 1.15? Thanks!

[2017-05-31 15:22] carvil commented on #5691
@segiddins I couldn't find anything in the release notes specific to this, could you please let me know what fixes it?

[2017-05-31 15:39] segiddins commented on #5691
I dont know if it is fixed, I was asking if you could check.

[2017-05-31 16:43] cainlevy opened #5693 "Bundler 1.15 breaks on `bundle lock --update <gem>` for newly added gems"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out why things are going wrong.

- **What did you do?**

  Repro:

[code]

  (Note that the specific gems do not seem to matter. I picked these randomly for repro.)

- **What did you expect to happen?**

  I expected Bundler to add `statsd-ruby` to the `Gemfile.lock`, as it was able to do in v1.14.6.

-

[2017-05-31 17:53] segiddins commented on #5693
Thanks!

[2017-06-01 03:52] segiddins commented on #5693
https://github.com/bundler/bundler/issues/5694 should fix the issue

[2017-06-01 07:42] #5678 closed

[2017-06-01 10:35] carvil commented on #5691
@segiddins I've now tried with `1.15.0` and the problem still exists...

[2017-06-01 10:52] carvil commented on #5691
@segiddins if I create the `cache` directory for the deploy user inside `/home/deploy/.bundler/` it then works. But when that dir doesn't exist it fails. Note that `/home/deploy/.bundler` belongs to `root`, but `/home/deploy` and `/home/deploy/.bundler/cache` belong to the `deploy` user.

[2017-06-01 13:56] colby-swandale commented on #5691
why does `/home/deploy/.bundler` belong to root? Can you check the permissions with the user that is executing `bundle install` and the files in `/home/deploy/.bundler`

[2017-06-01 14:56] carvil commented on #5691
@colby-swandale this is probably a misconfiguration on our side, I am changing those permissions to the actual user rather than `root` now. This configuration has been there for some time without issues, though. I'm assuming probably because `/home/deploy/.bundler/cache` existed in pretty much every server, so there was no need to create one until now.

I was under the impression bundler had a fal

[2017-06-01 17:23] cainlevy commented on #5693
@segiddins I can confirm that this fixes the exception, but it's still an unexpected change in behavior from 1.14. Previously I could add an entry to `Gemfile` and use `bundle lock --update <gem>` to conservatively update the `Gemfile.lock` without installing the bundle on my system. Was I using an unsupported/private API?

(had to fix the title, I get that syntax wrong more often than not)

[2017-06-01 17:28] segiddins commented on #5693
This mirrors the behavior of how `bundle update gem1 gem2` works, which was what I originally intended for the `--update` flag

[2017-06-01 17:32] cainlevy commented on #5693
Okay, thanks. 👍

[2017-06-01 18:47] jbirdjavi opened #5696 "Bundler 1.15.0 having issues with omniauth gems"
I'm honestly not sure if this is a bundler issue or something with my rails app, since it's only happening in one of my rails apps, but rails apps with similar configurations are working fine.

## Questions

Please fill out answers to these questions, it'll help us figure out why things are going wrong.

- What did you do?

Updated to bundler 1.15.0.

- What did you expect to happen?

The rails ap

[2017-06-01 18:54] segiddins commented on #5696
This looks like an issue with `omniauth-oauth2`, does it happen without using bundler?

[2017-06-01 19:00] jbirdjavi commented on #5696
I kind of thought the same thing at first, but then I saw this, which confused me even more really:
https://discuss.circleci.com/t/build-always-fails/12765

I can take `omniauth-oauth2` out of the Gemfile, and then it gives a similar error on `omniauth-cas` instead of `omniauth-oauth2` even though `omniauth-oauth2` is still being installed (and present in Gemfile.lock).

I'm not sure how to run ra

[2017-06-01 22:28] #5693 closed

[2017-06-02 01:42] segiddins commented on #4513
We could then use the `-c` option to `git` to pass in `insteadOf` when running git commands 🤔

[2017-06-02 02:33] pengyuanhong opened #5697 "bundle install"
bundle install
Error:
Downloading omniauth-google-oauth2-0.4.1 revealed dependencies not in the API or
the lockfile (omniauth-oauth2 (>= 1.3.1), jwt (~> 1.5.2)).
Either installing with `--full-index` or running `bundle update
omniauth-google-oauth2` should fix the problem.

bundle update  omniauth-google-oauth2
Error:
Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First

[2017-06-02 04:00] segiddins commented on #5697
Please share the entire error report, thanks!

[2017-06-02 05:01] pengyuanhong commented on #5697
The problem has been solved. Switch the bundler version:
gem install bundler --version '1.14.6' --no-ri --no-rdoc

Now comes a new problem:

bundle exec rake assets:precompile RAILS_ENV=production

Error:
Sass::SyntaxError: File to import not found or unreadable: ../../../node_modules/pikaday/scss/pikaday.
Load paths:
  /home/git/gitlab/app/assets/images
  /home/git/gitlab/app/assets/javascripts

[2017-06-02 14:51] karthikpamidimarri commented on #5046
I am also getting same error here today

Below is the environment information
**## Environment
Bundler   1.15.1
Rubygems  2.4.8
Ruby      2.2.6p396 (2016-11-15 revision 56800) [x86_64-linux]
GEM_HOME  /home/kk/.rvm/gems/ruby-2.2.6@migrocer
GEM_PATH  /home/kk/.rvm/gems/ruby-2.2.6@migrocer:/home/kk/.rvm/gems/ruby-2.2.6@global
RVM       1.29.1 (master)
Git       2.7.4
Platform  x86_64-linux
rubygems-

[2017-06-02 16:51] ianks commented on #4978
After setting `bundle config --global github.https true`, running `bundle` attempts to update the commit ref of the gem. Is there a way to make it not do this?

[2017-06-02 16:53] indirect commented on #4978
@ianks in retrospect, that option was a bad idea, because it will only apply on one machine—the same gemfile on other machines will try to use http, and it will create an infinite lockfile revert war between the machines with the setting set and the setting not set. I highly recommend that you use this at the top of your gemfile instead:

[code]

(Adjust code as needed based on your usage of the g

[2017-06-02 16:54] ianks commented on #4978
@indirect Yup, I just ended up doing this: `sed -i 's/git:\/\//https:\/\//g' Gemfile.lock`

[2017-06-02 16:55] indirect opened #5698 "Remove `github.https` config option"
It isn't needed anymore in 2.0 anyway, so let's get rid of it. Relatedly, it was a bad idea to have this option in the first place, because machines with this option set will generate different lockfiles than machines without this option set. 😬

[2017-06-02 16:58] indirect opened #5699 "Remove `github` shortcut, with warning in 1.99 that points to docs"
Rails apps already generate with a `git_source` directive because of the github HTTPS thing, so this isn't even a big change at this point. On top of that, I buy the argument that we can let users handle their own shortcuts, putting github/gitlab/bitbucket/etc on an equal footing. Let's get rid of our own hardcoded github shortcut and let users set up whatever make sense for them.

I'm also toying

[2017-06-02 18:33] schneems commented on #5472
I'm seeing this in Bundler 1.15 across Heroku. https://github.com/heroku/heroku-buildpack-ruby/issues/578.

[2017-06-02 19:05] indirect commented on #5472
@schneems this issue appears to be resolved. Please open a new ticket with repro steps so we can investigate your issue!

[2017-06-02 19:05] #5472 closed

[2017-06-02 19:26] grosser opened #5700 "Bundler::ORIGINAL_ENV still contains bundler knownledge when using `bundle exec`"
`bundle exec ruby -e 'puts Bundler::ORIGINAL_ENV'`
has RUBYOPT / BUNDLE_GEMFILE / BUNDLE_BIN_PATH etc

.clean_env peviously solved that, but was declared deprecated in https://github.com/bundler/bundler/pull/4702#issuecomment-305876033

for `bundle exec ruby` and alternative would be `ruby -rbundler/setup` ... but that does not work for `rake` and other gem binaries

@indirect @segiddins

[2017-06-02 19:28] grosser commented on #5699
maybe just remove it ... using a git source is not that common and the few extra characters don't hurt that much

[2017-06-02 19:56] segiddins commented on #5700
Reproduced. Seems like a bug to me

[2017-06-02 20:15] twinge commented on #5696
We started seeing this issue immediately upon upgrading from 1.14.6 to 1.15.0 (and still with 1.15.1). Wondering if maybe it's related the the optimizations you guys did with `Bundle.require`? It definitely seems to have something to do with module/dependency loading.

[2017-06-02 20:19] segiddins commented on #5696
Its definitely possible we broke things, if y'all wanted to help us speed up looking into the issue, narrowing down the reproduction would be super helpful since thats a massive gemfile

[2017-06-03 19:07] glebm commented on #5429
The install from path not triggering `lib/rubygems_plugin.rb`-registered hooks issue still exists.

[2017-06-03 19:22] segiddins commented on #5429
Please share a gemfile that we can use to reproduce the issue

[2017-06-03 19:35] glebm commented on #5429
Remove the workaround here:

https://github.com/glebm/critical-path-css-rails/blob/penthouse-npm/Gemfile#L7-L10

The run `bundle`: https://github.com/glebm/critical-path-css-rails/tree/penthouse-npm

(note that `gemspec` is effectively a `path` gem)

[2017-06-03 19:58] segiddins commented on #5700
I think https://github.com/bundler/bundler/pull/5701 should address this, if you want to try it out

[2017-06-03 20:00] segiddins commented on #5429
Ah now I understand, thanks!

[2017-06-03 20:09] indirect commented on #5429
@glebm gems from paths are never installed, and that's why the post install hook is not firing. can you describe what you would expect to happen with a post install hook for gems that aren't installed? what's the goal you're trying to accomplish?

[2017-06-03 20:11] segiddins commented on #5429
@indirect it's just that the plugin file should be loaded, if I'm understanding correctly. I have a patch nearly done

[2017-06-03 20:18] brandonweiss commented on #5429
Sorry I haven't followed up with a repro 😞 Distracted by two many things.

It's possible the term “installation” might have a particular meaning here that I'm not getting, but if I made a gem, someone might “install” it a number of ways.

## Manually to global gems
`gem install gem_name`

## From a Gemfile with Bundler to global gems
[code]

`bundle install`

## From a Gemfile via path with Bundle

[2017-06-03 20:21] segiddins commented on #5429
This case doesn't actually _install_ `gem_name`, it just puts its require paths on the `load_path`

[2017-06-03 20:25] segiddins commented on #5616
Can you give an example of the relevant shebangs and ruby executable path?

[2017-06-03 20:27] glebm commented on #5429
@segiddins True but that's an implementation detail. The expection is that `rubygems_plugins` are loaded.

[2017-06-03 20:35] segiddins commented on #5429
Loading the plugins is separate from post install hooks, and I think loading them is totally reasonable

[2017-06-03 21:38] grosser commented on #5700
works!

[2017-06-03 22:01] glebm commented on #5429
If you load the plugins, their post-install hooks will run, right?

[2017-06-03 22:02] glebm commented on #5429
*post- and pre-install hooks

[2017-06-03 22:13] brandonweiss commented on #5429
I guess I don't really understand the terminology… I would assume loading the plugin would then trigger a pre/post-install hook (if one exists) because they're defined in `lib/rubygems_plugin.rb` in a gem?

[2017-06-03 23:58] glebm commented on #5429
Yes, that's what I think as well. Just checking as I am a bit confused by @segiddins's last comment

[2017-06-04 10:02] colby-swandale commented on #5697
This looks like a problem with Gitlab and not Bundler.

[2017-06-04 10:20] glebm commented on #5429
Looks like hooks will not trigger during the gems installation (by design): http://help.rubygems.org/discussions/problems/378-gempre_install-does-not-working-as-it-named

[2017-06-04 10:21] colby-swandale commented on #5691
It does but it's only falling back when it can't write to the home directory, ie: `/home/deploy`. It assumes the permissions in `/home/deploy/.bundler` are valid which is the expected behavior.

[2017-06-04 10:26] colby-swandale commented on #5691
That being said, I had an idea that we should have something in `bundle doctor` that should check the permissions of the `user_home` and files/folders inside.

[2017-06-04 10:30] colby-swandale commented on #5669
Hi, sorry that no one has replied to this. Too be honest no one on the core team uses Docker, so we're not really able to provide an answer to your problem.

[2017-06-04 10:45] colby-swandale commented on #5649
I'm closing this for now. If you have more to add to this issue feel free to re-open this ticket.

[2017-06-04 10:45] #5649 closed

[2017-06-04 10:49] colby-swandale commented on #5661
I'm closing this, feel free to re-open this issue if you have any more questions.

[2017-06-04 10:49] #5661 closed

[2017-06-04 10:50] colby-swandale commented on #5598
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2017-06-04 10:50] #5598 closed

[2017-06-04 10:51] colby-swandale commented on #5618
I'm closing this for now. Feel free to reopen this ticket if you have any more questions.

[2017-06-04 10:51] #5618 closed

[2017-06-04 13:49] zw963 commented on #5669
Finally, I have to install all my gem within one step bundle install with install all necessory dependency.

With this [dockerfile-wget](https://github.com/zw963/dockerfile-wget), I resolve the problem, though, some
special step need to be created ...

[2017-06-04 13:57] colby-swandale commented on #5669
I'm going to close this issue, if you any more questions feel free to open a new issue.

[2017-06-04 13:57] #5669 closed

[2017-06-04 19:33] segiddins commented on #4057
We now have better errors when the user doesn't have permission to write to a file.

[2017-06-04 19:33] #4057 closed

[2017-06-04 19:33] segiddins commented on #4432
Closing because we never got a Gemfile nor a `bundle env` to be able to reproduce.

[2017-06-04 19:33] #4432 closed

[2017-06-04 19:35] segiddins commented on #4541
I think we can close this -- it won't apply in bundler 2 since no flags will be remembered, and the likelihood of us fixing it for a final 1.x release is looking exceedingly small

[2017-06-04 19:35] segiddins commented on #4493
Closing because chris couldn't reproduce the issue.

[2017-06-04 19:35] #4493 closed

[2017-06-04 19:36] segiddins commented on #4544
@indirect what do you think we should do about this? Close as a wontfix?

[2017-06-04 19:40] segiddins commented on #4548
Looked at the code in question, it looks the the error uses the URI that actually causes the failure. In addition, running with `--verbose` will show all HTTP requests that are being made, revealing that a redirect has taken place. Closing, feel free to ping me to re-open if theres a way we can reproduce on modern versions of bundler.

[2017-06-04 19:40] #4548 closed

[2017-06-04 19:42] segiddins commented on #3163
I'm not sure we can really fix this issue, I think my answer would be use the same gem name for both platform gems (in different gem files), and let bundler auto-select the proper platform

[2017-06-04 19:44] segiddins commented on #4270
Output from bundler 1.15:

[code]

And indeed `bundle update ethon` fixes the issue.

[2017-06-04 19:44] #4270 closed

[2017-06-04 19:47] segiddins commented on #4703
This correctly errors on `bundle install --deployment` in 1.15:

[code]

[2017-06-04 19:47] #4703 closed

[2017-06-04 19:48] segiddins commented on #4699
This was reported fixed in 1.13, so closing.

[2017-06-04 19:48] #4699 closed

[2017-06-04 19:49] segiddins commented on #4940
This should be addressed by @feministy's amazing work creating https://github.com/bundler/bundler/tree/master/doc/documentation.

[2017-06-04 19:49] #4940 closed

[2017-06-04 19:50] segiddins commented on #4420
Closing, this is how the `:platform` filter is intended to work -- it only changes which gems are activated at runtime and intentionally does not allow specifying different versions of the same gem.

[2017-06-04 19:50] #4420 closed

[2017-06-04 20:00] segiddins commented on #3344
After looking into this, I believe bundler is behaving correctly. `bundle package`  (without any options passed) won't write anything into the bundler config, and thus with `vendor/cache` gone, it's completely valid for bundler to pull from the locally installed gems. If you delete those, `bundle check` will fail as expected.

[2017-06-04 20:02] segiddins commented on #4763
This discrepancy will be addressed in Bundler 2, as command line options will no longer be automatically remembered (only things set via `bundle config` will)

[2017-06-04 20:03] segiddins commented on #4502
Closing as the existing trampolining feature covers this.

[2017-06-04 20:03] #4502 closed

[2017-06-04 20:04] segiddins commented on #4728
I believe the ruby standard library is the correct place to fix this, as bundler itself isn't the one applying the proxy settings

[2017-06-04 20:05] segiddins commented on #4769
Bundler already has `bundle config mirror.all.fallback_timeout`, does that not work for what you want?

[2017-06-04 20:08] segiddins commented on #4510
As André said, this seems like a great plugin to me.
Note that Bundler 1.15 contains the `bundle info` command, which will print the following:

[code]

[2017-06-04 20:08] #4510 closed

[2017-06-04 20:09] segiddins commented on #4543
Closing as a duplicate of https://github.com/bundler/bundler/issues/4545

[2017-06-04 20:09] #4543 closed

[2017-06-04 20:10] segiddins commented on #4545
This looks like an issue in RubyGems to me, since it reproduces on a `gem install`.

[2017-06-04 20:10] #4545 closed

[2017-06-04 20:10] segiddins commented on #4739
@indirect thoughts?

[2017-06-04 20:13] segiddins commented on #4899
This is behaving as intended. Passing in `-Ilib` ensures the files in `lib` will be required before files in gems.

[2017-06-04 20:13] #4899 closed

[2017-06-04 20:14] segiddins commented on #5163
An RFC for that feature would be required, but I don't think this will be high-priority for anyone on the core team, sorry.

[2017-06-04 20:19] segiddins commented on #5037
I'm tempted to close this as wontfix/behaving as intended. We can't tell if things have changed and the lockfile is valid or not unless we can read in all gemspecs

[2017-06-04 20:20] segiddins commented on #5223
I think we'll close this as undesired, and push ourselves to make `bundle install` always work :) Otherwise we'd never find out when things in bundler break

[2017-06-04 20:20] #5223 closed

[2017-06-04 20:21] segiddins commented on #5289
The fix here is to make the `#to_s` for `Source::Gemspec` different from that for `Source::Path`

[2017-06-04 20:23] segiddins commented on #5039
`require 'bundle/setup'` will already search up (see `Bundler::SharedHelpers.find_gemfile`).

[2017-06-04 20:23] #5039 closed

[2017-06-04 20:24] indirect commented on #4739
@segiddins I was under the impression that we solved this by not copying path gems into vendor/cache, and telling users that they need to handle their own vendoring if they have a path gem outside the application directory.

[2017-06-04 20:27] segiddins commented on #5364
This seems to be fixed as of 1.15.1. Please open a new issue if the problem persists.

[2017-06-04 20:27] #5364 closed

[2017-06-04 20:28] segiddins commented on #5026
@feministy are you done with this?

[2017-06-04 20:28] segiddins commented on #4739
👍 we've indeed done that. Closing.

[2017-06-04 20:28] #4739 closed

[2017-06-04 20:28] indirect commented on #5037
Are you saying you think it's a bugfix (correctly raising when frozen is being violated) that caused this regression, and therefore it's impossible to get back the old behavior?

It seems like at a minimum we can allow this if there are no path gems? If the Gemfile matches the lock in frozen mode, gems in excluded groups seem like they should be irrelevant to being able to install.

[2017-06-04 20:38] segiddins commented on #5390
I can't reproduce this on either Bundler 1.15.1 nor Bundler 1.14.3

[2017-06-04 20:40] segiddins commented on #5037
Correct.

But in the general case they can have dependencies that can change the resolution.
You're free to try and make this part work, but I seem to recall sinking a bunch of time into this issue 2 finals weeks ago and making no progress, so I don't think I'll try again.

[2017-06-04 20:40] segiddins commented on #4754
@indirect ping?

[2017-06-04 20:51] segiddins commented on #4659
As of Bundler 1.15.1, the error is:

[code]

[2017-06-04 20:51] #4659 closed

[2017-06-04 20:53] segiddins commented on #4242
I meant running `bin/rake` instead of `rake` while developing bundler

[2017-06-04 21:04] indirect commented on #5037
Thanks for the explanation. This is something that I personally would like, so I'll try to spend some time on it myself. Don't worry about solving it. 👍

[2017-06-04 21:04] indirect commented on #4754
@segiddins seems like, yeah.

[2017-06-04 21:04] #4754 closed

[2017-06-04 21:07] segiddins commented on #4499
Can someone please come up with a spec for how this should work? The linked-to issue is very vague

[2017-06-04 21:09] segiddins commented on #4496
We already have automatic fallback through the list of different fetchers, I think that should be sufficient?

[2017-06-04 21:10] segiddins commented on #2048
This should probably be implemented with a feature flag against master, if anyone is interested in tackling this!

[2017-06-04 21:12] segiddins commented on #3952
We now de-duplicate the failures, and other than that I don't foresee us focusing any more effort on resolver errors in the near future, but as always contributions to that effect would be greatly appreciated!

[2017-06-04 21:12] #3952 closed

[2017-06-04 21:13] segiddins commented on #4333
@valeth not at the moment!

[2017-06-04 21:13] segiddins commented on #5632
I'm going to close this as something the core team isn't planning on implementing, but feel free to try and implement a plugin to do this!

[2017-06-04 21:13] #5632 closed

[2017-06-04 21:15] #4496 closed

[2017-06-04 21:18] segiddins commented on #5063
I think it's intended that `bundler/inline` not respect the `BUNDLE_PATH` setting.

[2017-06-04 21:18] #5063 closed

[2017-06-04 21:20] segiddins commented on #5538
Closing due to lack of response, feel free to ping us if setting `HTTP_PROXY_USER` or `HTTP_PROXY_PASS` doesn't work.

[2017-06-04 21:20] #5538 closed

[2017-06-04 21:22] segiddins commented on #4620
Closing as I believe `bundle lock` is the correct way to handle the multiple platform situation. Feel free to ping us if something further is need.

[2017-06-04 21:22] #4620 closed

[2017-06-04 21:24] segiddins commented on #3035
I'm going to close this for now, but people can feel free to make PRs improving the skeleton files we generate, thanks for the lively discussion!

[2017-06-04 21:24] #3035 closed

[2017-06-04 21:27] segiddins commented on #5552
I'm sure this issue exists, seems like we might want to try using file locks on POSIX systems to serialize git operations? Just a thought, but I think someone else would have to try and implement it, I don't see myself having the time in the near future.

[2017-06-04 23:49] HoneyryderChuck commented on #4728
https://docs.ruby-lang.org/en/2.1.0/URI/Generic.html#method-i-find_proxy

Ruby does support `no_proxy`, I'd suggest a contained example using the URI library, and debug from there.

[2017-06-04 23:50] HoneyryderChuck commented on #4728
I just realized that I added this issue, lol. I'll close this, has been fixed for ages.

[2017-06-04 23:50] #4728 closed

[2017-06-05 00:09] ioquatix commented on #5063
Why is it intended to work that way?

[2017-06-05 00:16] segiddins commented on #5063
Because it only is for pulling from / installing into system gems

[2017-06-05 01:18] janko-m commented on #5063
I might be mistaken, but I don't think `bundler/inline` not respecting `BUNDLE_PATH` is related to the original issue.

The original issue is that I didn't find a way for `bundler/inline` to make HTTP requests only when they're needed. `gemfile(true)` will always make HTTP requests, even if all gems are installed locally, while `gemfile` will never make HTTP requests, even if some gems are missing

[2017-06-05 01:22] indirect commented on #5063
I was under the impression that we changed this so that `gemfile` check for the gems in system gems and only make HTTP requests if the gems are not already installed, and `gemfile(false)` will now avoid making HTTP requests at all, erroring out if the gems are missing. Maybe @segiddins can clarify?

[2017-06-05 01:44] jasonkarns commented on #4333
I can give it a shot soon.

On Jun 4, 2017 5:13 PM, "Samuel Giddins" <notifications@github.com> wrote:

[2017-06-05 02:05] segiddins commented on #5063
Yeah, I seem to recall fixing that issue a while back

[2017-06-05 02:18] janko-m commented on #5063
@indirect You're right, when I try on the latest version of Bundler the issue is fixed. Thank you!

[2017-06-05 04:45] ioquatix commented on #5063
Is it worth opening a PR for `bundler/inline` respecting BUNDLE_PATH or is this not considered a useful feature/addition?

[2017-06-05 04:53] indirect commented on #5063
@ioquatix if the "standalone ruby script" depends on a single path, unique to that script, it feels kind of like it's defeating the point of inline to me. If you feel strongly that it would be a benefit, I suggest opening a new issue, or better yet writing [a Bundler RFC](https://github.com/bundler/rfcs)

[2017-06-05 04:56] ioquatix commented on #5063
@indirect It probably makes sense to make a separate issue for this as the original issue was resolved but my addendum was not really addressed or understood. As long as a PR would be fairly considered, I'd be happy just to work at that level, it's not a big change actually.

[2017-06-05 15:07] fotanus commented on #5446
@segiddins I imagine `plugin update` checking a gem version and updating it if it is older. I don't think that this would solve his problem if my take on what is happening to him is right. I think a `--reinstall` option would be more likely to solve his problem. What do you think?

[2017-06-05 15:33] rubymorillo commented on #5687
Hey!

So I've started reading all of the supporting material and I think I'm ready to get started. Here are a few q's:

1. It sounds like we want to incorporate this guide into the new Bundler guide: [SSL Cert Update](https://github.com/rubygems/guides/blob/gh-pages/ssl-certificate-update.md)
The steps outlined in that guide are as follows:

Step 1: Obtain new trust certificate
Step 2: Locate Ruby

[2017-06-06 06:40] kevintpeng commented on #4769
I guess I was wondering if it was possible to automatically start re-routing requests from the mirror to the upstream, upon the condition that the mirror starts failing. Though thinking back, it might not be reasonable since it could produce unexpected results.

[2017-06-06 07:09] indirect commented on #4769
I think I'm going to rule that we would like to use the same server for the entire install process—mirrors aren't guaranteed to have their state synced with the upstream server, and so suddenly switching from one to the other could indeed produce unexpected results. Please use the `fallback_timeout` setting to determine how quickly Bundler will switch from trying the mirror to the upstream at the

[2017-06-06 07:09] #4769 closed

[2017-06-06 16:45] nfredrik opened #5706 "NameError: uninitialized constant GraphViz"
Installed Graphiz and tried to execute:

$ bundle viz

got

## Backtrace

[code]

[2017-06-06 16:47] segiddins commented on #5706
What version of the graphviz gem do you have installed, out of curiosity?

[2017-06-06 17:12] nfredrik commented on #5706
graphviz (0.4.0)

[2017-06-06 17:28] segiddins commented on #5706
One last question... what's the output of `gem list graphviz`? (I have a hunch I know what the problem is)

[2017-06-06 20:04] jbirdjavi commented on #5696
I was able to put together a repro that is more minimal than the Gemfile above.  Note that if you remove the `oa-openid` gem, it does work.

repro.sh:
[code]

[2017-06-06 20:31] segiddins commented on #5696
Thanks! So https://github.com/bundler/bundler/commit/50e899d898ab42151ed02e64defeb4bda530b88f broke this, I'll make a PR with a fix shortly (it seems some gems are relying upon the ordering of `$LOAD_PATH` independent of the dependency graph :O)

[2017-06-06 22:15] jbirdjavi commented on #5696
Great, I'm glad you were able to figure out what was going on.  :)

[2017-06-07 00:53] #5696 closed

[2017-06-07 05:22] bibendi opened #5708 "Do not check the entire user_home for writing"
Our admins say that having a user_home for writing is not safe.

One of many examples: http://legalhackers.com/advisories/Wget-Arbitrary-File-Upload-Vulnerability-Exploit.txt

An approximate solution to the problem https://github.com/bibendi/bundler/commit/a8630e741a29140cb53bc2ffafffd35c883bd858

Or if the current use of the temporary folder is the solution, then how to get rid of this message

[

[2017-06-07 06:38] colby-swandale commented on #5708
Hi @bibendi can you explain in more detail what the problem is?

[2017-06-07 06:55] bibendi commented on #5708
- Our $HOME is not writeable.
- We can mkdir`$HOME/.bundler` with write-permissions, but this does not solve the problem.
- If the current use of the [temporary folder](https://github.com/bibendi/bundler/commit/a8630e741a29140cb53bc2ffafffd35c883bd858#diff-f51589bbb809dbcf630797a79ef32bedR163) is the solution, which in general is not affected by anything, then how to get rid of warning message?

[2017-06-07 22:55] p-salido opened #5709 "Errors are printed to standard output"
This message:

`Could not find gem 'ruby (~> 2.3.1.0)' in any of the gem sources listed in your Gemfile.`

... is printed in red color but is printed to standard output. When piping or redirecting output of a command like `bundle outdated` this error message gets redirected with the rest of the output. Being an error message it should be printed to standard error stream and show up when output is

[2017-06-07 22:56] segiddins commented on #5709
This will be changed in bundler 2 by default to print to stderr, or you can use bundler master and configure the error_on_stderr setting

[2017-06-07 22:56] #5709 closed

[2017-06-08 00:42] rubymorillo commented on #5687
I thought of a few more @indirect:

5. How much explaining do we have to do of how TLS certs work with gems beforehand? (I'm guessing the guide itself won't be the best place for this, but is this a source of confusion in and of itself?)

6. Are there FAQ that this guide *must* answer? I know we want it to touch the points you've raised in the issue, but are there specific questions that might be

[2017-06-08 05:47] indirect commented on #5687
@rubymorillo here you go!

It is not a prerequisite. I expect that users who are having trouble with an old OpenSSL version are also likely to have trouble with their SSL certs, and therefore need that guide as well. As a result, I think we should either refer them to that guide or preferably update that guide and include it (as an optional aside) in the new TLS migration guide.

In an ideal world

[2017-06-08 18:52] feministy commented on #5026
not yet - there are a big chunk of things that still need to be done. if it's cluttering the issues list we can close it out and i'll look back on it for reference :)

[2017-06-09 02:41] duderamos commented on #5697
Downgrading `bundler` from `1.15.1` to `1.14.6` worked for me.

[2017-06-09 03:21] colby-swandale commented on #5697
@duderamos we merged a change in master that should fix the problem in the original comment. If you can test bundler on the `master` branch it would be greatly appreciated. Thanks.

[2017-06-11 01:00] rogoit opened #5710 "Inspect or clean up the working tree at"
/var/folders/_r/xlnbsv0x6kn2n51l4942ly2c0000gn/T/ruby-build.20170611025745.26672 ~/development/nevercodealone/ncaUserBundle
HTTP/1.1 200 OK
Content-Type: binary/octet-stream
Content-Length: 12643369
Connection: keep-alive
Date: Sun, 11 Jun 2017 00:57:47 GMT
Last-Modified: Mon, 01 May 2017 07:19:53 GMT
ETag: "37b77eb82aeb048842f3daec3fed46b1"
Accept-Ranges: bytes
Server: AmazonS3
X-Cache: Miss from

[2017-06-11 07:02] segiddins commented on #5710
Please fill out the error template

[2017-06-11 09:36] beekingmala29 commented on #5710
https://github.com/bundler/bundler/search?q=Permission+denied+%40+dir_s_mkdir+-%%%%2FUsers%2Frolandgolla%2F กำ% 2Fcache% 2Fcompact_index% 2Frubygems.org.443.29b0360b937aa4d161703e6160654e47% 2Fversions20170611-26861-d9lbwh & type = ปัญหา

[2017-06-11 09:38] beekingmala29 opened #5711 "Je Permission"
https://github.com/bundler/bundler/search?q=Permission+denied+%40+dir_s_mkdir+-%%%%2FUsers%2Frolandgolla%2F กำ% 2Fcache% 2Fcompact_index% 2Frubygems.org.443.29b0360b937aa4d161703e6160654e47% 2Fversions20170611-26861-d9lbwh & type = ปัญหา

[2017-06-11 10:29] colby-swandale commented on #5711
Hi, can you please follow the [ISSUES](https://github.com/bundler/bundler/blob/master/doc/contributing/ISSUES.md) guide, it really helps us to try and resolve your problem.

[2017-06-11 13:38] rogoit commented on #5710
This is the content of my error template

[2017-06-11 14:45] segiddins commented on #5710
Please fill out he questions at the top so we can understand the issue that you're facing.

[2017-06-12 00:04] mattbrictson opened #5712 "Setting BUNDLE_GEMFILE=Gemfile causes Bundler.setup to fail when in deployment mode"
Starting with Bundler 1.15.0, `Bundler.setup` fails with an `ArgumentError` raised from `Pathname#relative_path_from` when the following conditions are met:

* Bundler is in deployment mode; and
* A Gemfile is explicitly specified via the `BUNDLE_GEMFILE` environment variable; and
* That Gemfile is *not* an absolute path (e.g. `BUNDLE_GEMFILE=Gemfile`)

[code]

Steps to reproduce:

[code]

This bu

[2017-06-12 17:30] rubymorillo commented on #5687
Hey hey @indirect!

Thanks for this!! It gives me a lot of context. For next steps on my end, here's what I'll do:

- Craft an intro based on the imagined FAQ above ^^^
- Include a link to the SSL cert guide in the TLS migration guides (Separately, it sounds like the SSL guide should get updated once we create this one, but if you think it's the other way around, let me know.)

What we'll need is:

[2017-06-12 17:43] rubymorillo commented on #5687
@indirect here's the outline:

**Introduction**
- 2-3 sentences about Fastly deprecating older versions and what this means for RubyGems
   - Date when RubyGems.org will move over to TLSv1.2 and up
   - What this looks like
- What prerequisites they should have (i.e. Ruby, rvm, rbenv, OpenSSL versions, etc)
- Mention the setups covered in this guide
- A separation section (like a separate, blue bo

[2017-06-12 20:23] mattbrictson commented on #5712
I have an idea for a fix, which is to simply add `expand_path`:

[code]

Would that be an acceptable PR?

[2017-06-12 21:19] dsisnero opened #5714 "bundle install fails with ffi even after having gem ffi installed"
This is for shoes4 checkout
[code]

[2017-06-12 21:37] colby-swandale commented on #5714
Can you please attach the output of `bundle env`.

[2017-06-12 21:46] segiddins commented on #5712
I don't think so, since just running `ruby -rbundler -e Bundler.setup` without setting the env var works fine... I think the following is the correct fix:

[code]

But it will also require test coverage to merge. If you want to send that in as a PR, that would be 💯, otherwise I can do it.

[2017-06-12 22:09] segiddins opened #5715 "Add a PR template to answer all of André's inevitable questions"
@indirect, we discussed this in slack. If you'd like to add a template to pester me instead of doing so manually, go ahead!

[2017-06-12 22:14] indirect commented on #5715
@segiddins here are the questions I think we should answer about any PR, please add this to the dotfile that gets used as the PR template, formatted as you think appropriate:

[code]

[2017-06-12 22:48] dsisnero commented on #5714
c:\Dominic\programming\repos\git\shoes4>bundle env
## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-06-12 22:54] segiddins commented on #5714
This is because you have `force_ruby_platform` set to `true`, so bundler needs the "plain ruby" version of ffi, rather than the java version which is the only one you have installed. If you ran `gem install ffi:1.19.18 --platform=ruby `, you'd probably see the same output.

[2017-06-12 23:05] chrismo commented on #2412
I think this is where the trail leads to currently => https://github.com/bundler/bundler/issues/4552

[2017-06-12 23:05] #2412 closed

[2017-06-12 23:46] #5706 closed

[2017-06-13 00:07] mattbrictson commented on #5712
Looks good. I'll try to put together a PR with test coverage.

[2017-06-13 03:02] #5616 closed

[2017-06-13 19:31] rubymorillo commented on #5687
Hey @indirect I've an update!

So I've made inroads with the SSL guide updates. I'll send you the working doc for that separately.

Here's what I've done:

* **Separated out the actual tutorial/guide sections from the background sections**. I propose we turn the "background" and "specific problems with RubyGems" sections into an article which we can reference in the guide. Since most folks just wa

[2017-06-13 21:20] indirect commented on #5687
@rubymorillo That outline for the TLS guide looks great! After seeing the list of combinations written down, I think we'll need to adjust it:

1. macOS built-in ruby (solve by upgrading macOS to 10.13 High Sierra, not yet released)
2. macOS with ruby from chruby/ruby-install and openssl from homebrew (solve by upgrading openssl with homebrew)
4. any OS with ruby+openssl from rvm (solve with `rvm i

[2017-06-14 06:15] #5099 closed

[2017-06-14 07:24] #5700 closed

[2017-06-14 14:23] #5715 closed

[2017-06-14 19:49] jblaine opened #5726 "bundle exec cannot find gem that is sitting right in ./vendor/cache"
I've spent over 2 hours on this now and don't see anything I am doing wrong or can fix.
## Environment

[code]

## Gemfile

### Gemfile

[code]
### Gemfile.lock

[code]

# ERROR
highline is sitting right there and not getting found:
[code]

[2017-06-14 19:55] segiddins commented on #5726
Have you run `bundle install`?

[2017-06-14 20:38] jblaine commented on #5726
Sorry. Newbie flailing in a strange land. Thank you for the reply.

[2017-06-14 20:38] #5726 closed

[2017-06-14 21:03] segiddins commented on #5726
No worries!

[2017-06-15 04:24] mattbrictson commented on #5712
It looks like I won't have time to submit a PR this week. Sorry!

[2017-06-15 11:52] #5698 closed

[2017-06-15 11:52] #5699 closed

[2017-06-16 01:11] #5429 closed

[2017-06-16 02:15] trejkaz commented on #611
We saw this in 2017, on a current version of bundler running under JRuby:

[code]

That command does indeed fail, but with double-quotes it works fine. Not entirely sure whether the error message is just wrong, or whether bundler is actually running that command.

[2017-06-16 02:35] #5049 closed

[2017-06-16 05:02] jules2689 opened #5730 "Bundler throws an exception if you have MANPATH set in your environment."
Bundler master fails when you have MANPATH set in your environment:

e.g.
[code]

Stack Trace:
[code]

[Adding MANPATH to the environment_preserver.rb's BUNDLER_KEYS](https://github.com/bundler/bundler/blob/master/lib/bundler/environment_preserver.rb#L5) seems to solve it. I'm not familiar with this functionality to know if this is the right call - but looking at the code, it looks like MANPATH wa

[2017-06-16 05:04] jules2689 commented on #5730
bundler env without the Gemfile (private)

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

[2017-06-16 16:29] jakauppila opened #5781 "Bundler not working with Artifactory"
We are looking to proxy RubyGems.org via Artifactory Pro and as such have configured a remote repository.

When defining the Artifactory endpoint as a source with 'gem source -a https://<USERNAME>:<PASSWORD>@artifactorytest.contoso.com/artifactory/api/gems/RubyGemsTest/' this works perfectly fine and we retrieve the gem via Artifactory.

When I configure a Gemfile with that same source and execute

[2017-06-16 19:29] segiddins commented on #5781
Can you try with the latest Bundler version, 1.15.1? Thanks!

[2017-06-16 20:33] jakauppila commented on #5781
Sure, trying the same thing with 1.15.1 gets me the following:

[code]

## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-06-17 00:51] segiddins commented on #5781
It looks like HTTPS connections to your server are timing out. `BUNDLE_TIMEOUT` defaults to `10`, have you tried setting it to a longer value?

[2017-06-17 05:10] jakauppila commented on #5781
Tried upping that value to 60, still no luck.

I'll have to dig into our current Artifactory configuration a bit more. I stood up a fresh installation with Docker and that seems to work fine (minus the check for /versions which I imagine would fail for anything except RubyGems?)

[2017-06-17 14:40] #5730 closed

[2017-06-17 15:14] iva3682 opened #5784 "sudo -u git -H bundle update omniauth-google-oauth2"
Fetching gem metadata from https://rubygems.org/.......
Fetching version metadata from https://rubygems.org/...
Fetching dependency metadata from https://rubygems.org/..
Your lockfile was created by an old Bundler that left some things out.
You can fix this by adding the missing gems to your Gemfile, running bundle install, and then removing the gems from your Gemfile.
The missing gems are:
* rack

[2017-06-17 19:54] MahsaCharandabi commented on #4260
@TimMoore I have the same problem with bundle env.
I checked all those 5 u mentioned, all of them were ok and the way it should be. but again i have problem on bundle env it is referring to ruby 2.0.0 while it is 2.4.0 in everywhere else. and it does not solve with reinstalling. is anything I can try?

[2017-06-18 14:03] colby-swandale commented on #5781
Closing as this is not an issue with Bundler. Free free to re-open this ticket if you have any more questions.

[2017-06-18 14:03] #5781 closed

[2017-06-18 14:04] colby-swandale commented on #5714
I'm closing this for now. If you have any more questions or problems feel free to open a new issue.

[2017-06-18 14:04] #5714 closed

[2017-06-18 14:04] #5711 closed

[2017-06-18 14:04] #5710 closed

[2017-06-18 14:05] colby-swandale commented on #5697
I'm closing this for now. If you have any more issues or questions feel free to open a new issue.

[2017-06-18 14:05] #5697 closed

[2017-06-18 14:09] colby-swandale opened #5786 "Feature: Check permissions on Bundler home directory in doctor command"
We should have a check in `bundle doctor` for the file/folder permissions in the Bundler home directory.

We should print a warning if there are any files/folders that is owned by another user but is readable/writable but prints an error when a file cannot be read or written to.

See: #5691

[2017-06-18 14:10] colby-swandale commented on #5691
I'm closing this for now. Feel free to open a new issue if you have any more problems or questions.

[2017-06-18 14:10] #5691 closed

[2017-06-18 14:11] colby-swandale commented on #5664
@segiddins should this be closed or can something be actioned for this?

[2017-06-18 14:18] miler350 commented on #5784
@iva3682 try removing gemfile.lock.
bundle again to build new dependencies.

[2017-06-18 17:36] segiddins commented on #5664
I can't think of an actionable fix, sorry.

[2017-06-19 15:52] jakauppila commented on #5781
So I found what's causing my problems.

It appears that Bundler is utilizing my HTTP_PROXY/HTTPS_PROXY while ignoring my NO_PROXY environment variable; so it is attempting to traverse the proxy to get to my internal Artifactory instance.

Digging through past issues, I'm not finding a solution to disable the utilization of the proxy for my internal source.

https://github.com/bundler/bundler/issue

[2017-06-19 18:16] cwjenkins commented on #4989
@wjordan I added `OpenSSL.fips_mode` to check if fips is 'enabled'. Not sure when it will make its way down. https://github.com/ruby/openssl/pull/125/commits/295806787b9a48100138baf8d57f2ad4e08060de
Regardless, the remainder of the gem uses Digest vs OpenSSL::Digest which will cause issues in FIPS if Ruby is built against openssl. I'm looking to update ruby's digest to use EVP interface within Dig

[2017-06-19 19:21] indirect opened #5789 "Bundler 2.0 supported Ruby and RubyGems versions"
As we close in on the Bundler 2.0 release, we need to decide which Ruby and RubyGems versions we're going to support. First, some background information:

* Rails 5 requires Ruby 2.2.2+
* ruby-core has EOLed Ruby 2.1, and it will never get another patch
* ruby-core has placed Ruby 2.2 in "security maintenance", and will no longer fix bugs
* macOS 10.13 High Sierra ships with Ruby 2.3.3 and RubyGem

[2017-06-19 22:35] duckinator commented on #5789
I completely agree with this approach. Supporting fewer versions would vastly simplify maintenance, and significantly reduce CI test time.

Currently, tests on Travis CI [take over an hour to run](https://travis-ci.org/bundler/bundler/builds/244375917), and are run for 37 Ruby/RubyGems version combinations &mdash; including a RubyGems version from 2011 and a Ruby version from 2008.

(And whenever

[2017-06-19 22:35] grv87 commented on #5366
If you mean, ignore version constraints specified in my `Gemfile` but still respect constraints specified in gems' metadata, then +1

My current workaround is to manually make temporary clone of repository, remove version constraints from `Gemfile`. run `bundle update` and see what is updated.

[2017-06-20 02:48] jakauppila commented on #5781
@segiddins @colby-swandale

Should this issue be re-opened or should I create a new on based on this info?

[2017-06-20 02:50] segiddins commented on #5781
Bundler just uses the Ruby HTTP stack, can you check if `Net::HTTP` exhibits the same issue?

[2017-06-20 03:57] jakauppila commented on #5781
Yes, so `Net:HTTP` supports the `http_proxy` and `https_proxy` environment variables, but not `no_proxy`.

http://ruby-doc.org/stdlib-2.1.1/libdoc/net/http/rdoc/Net/HTTP.html#class-Net::HTTP-label-Proxies

It looks like Berkshelf ran into this same problem in https://github.com/berkshelf/berkshelf/issues/1341 and resolved it by switching to `HTTPClient` from `Net::HTTP` to get that `no_proxy` supp

[2017-06-20 04:10] duckinator commented on #5687
Should I try to set up a server that only uses TLS 1.2+, and write a program that tries to connect to said server and tells you whether or not your version of Ruby + OpenSSL are compatible?

Also, you're doing fantastic work, @rubymorillo!

[2017-06-20 06:36] colby-swandale commented on #5687
@duckinator You don't nessesarily need to setup a server to check if Ruby + OpenSSL supports TLS 1.2. There are several ways to inspect the supported versions of TLS in the openssl library.

Ruby 1.9.3
[code]

Ruby 2.4.1
[code]

This will let write a simple script to check if TLS 1.2 supported in the ruby env.

[2017-06-20 10:16] gavinlaking opened #5794 "Bundler versions"
Bundler is now complaining:
[code]
I shouldn't need to update the patch level of bundler in order to correctly determine the dependencies of my applications. I could understand this change for major version changes (e.g. breaking api changes) of bundler, but not minor changes and bug fixes.

As it transpires, the latest changes to bundler do not appear to affect `bundle install` functionality at a

[2017-06-20 10:25] colby-swandale commented on #5794
@gavinlaking while we appreciate you raising this concern please watch your tone, your comment is coming off as quite rude.

[2017-06-20 10:30] gavinlaking commented on #5794
My apologies, this wasn't my intention.

I suppose my concern is that in a reproducible build environment, whereby the Gemfile.lock file has a hard coded bundler version, and the build script installs bundler, I as a user would not be able to complete my build without first changing either the Gemfile.lock, or installing a specific version of bundler. Both of these options are additional considera

[2017-06-20 13:06] segiddins commented on #5794
You're free to ignore the warning. But we regularly get bug reports from people who are running outdated Bundler versions, where we've already shipped fixes. We're a small team and can only ever really support one version at a time, so we want you to be on our best, most supported version.

[2017-06-20 15:51] Shangareer opened #5796 "How to save the descriptors of the points which are in the 3D point clouds?"
Hi, friends.
I want to save the descriptors of the points which are in the 3D point clouds to a TXT file. I find that the  process of saving the coordinates of the 3D points is written in the "BASE PATH/src/BundleIO.cpp" from line 822(yours may be diffirent). So the process of saving the SIFT feature descriptors can also be written in this cpp file, I think. However, I can't find which parameters

[2017-06-20 16:01] segiddins commented on #5796
I don't think this issue has anything to do with Bundler, the Ruby dependency manager for gems.

[2017-06-20 16:01] #5796 closed

[2017-06-20 17:05] duckinator commented on #5687
@colby-swandale thanks for the tip!

So, basically, this:

[code]

---

I [uploaded it to a pastebin](http://sprunge.us/jiRd), so now you can do the Bad Thing™ and execute arbitrary code from the internet:

[code]

[2017-06-20 17:37] rubymorillo commented on #5687
Yay @duckinator! Are we cool with me adding this in the guide somehow, prefacing that they can use this script to check whether or not a user's version of Ruby + OpenSSL is compatible? (And if so, is the pastebin link going to be permanent?)

[2017-06-20 17:49] jhavero opened #5797 "bundler error"
Running bundler
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/var/lib/jenkins/.rvm/gems/ruby-2.3.3/bin/bundle install --quiet`

- **What did you expect to happen?**

  I expected Bundler to.

[2017-06-20 17:51] jhavero commented on #5797
What did you do?
  bundle install --quiet

Problem is intermittent.

[2017-06-20 18:03] jhavero commented on #5797
Here is output of 'bundle env'

$ bundle env
## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-06-20 18:12] segiddins commented on #5687
Maybe it would be better to suggest that users run `ruby -ropenssl -e 'puts "TLS v1.2 support: #{OpenSSL::SSL::SSLContext::METHODS.include?(:TLSv1_2)}"'` instead of the `curl | ruby` ?

[2017-06-20 18:13] segiddins commented on #5797
I'm unable to reproduce -- when I attempt to install the given gemfile, I get the following:

[code]

[2017-06-20 19:11] jhavero commented on #5797
that's my organization's artifactory repo which I've blocked out for privacy.

[2017-06-20 19:23] segiddins commented on #5797
Can you please share a gemfile we can use to reproduce the error? Otherwise it's unlikely we'll be able to figure out what's going wrong

[2017-06-20 19:35] mcmire commented on #5663
I think this is more of a Docker question than a Bundler question, but here goes.

First, I've never heard of using two Dockerfiles in the way that you describe. I was expecting that you would publish two images and have the second Dockerfile depend on the image created by the first. I am bit puzzled by the approach you've taken.

Maybe there are some details you didn't mention, but I don't think

[2017-06-20 19:43] mcmire commented on #5404
I agree that this seems out of scope for Bundler. I've found that Docker Compose and binstubs works pretty well for any situation involving Docker and Bundler. @MrOutis's solution seems like a good one, too.

[2017-06-20 19:56] segiddins opened #5799 "Get specs passing when Bundler version is >= 2"
[code]

[2017-06-20 22:00] colby-swandale commented on #5687
i agree with @segiddins

[2017-06-20 22:15] jakauppila commented on #5781
@segiddins @colby-swandale

So I found the underlying issue. `Net:HTTP` does not directly support `no_proxy`, but `net-http-persistent` does (albeit not being handled correctly), which is what is being used here.

`net-http-persistent` checks for an existing proxy configuration, as well as if the host is listed in the `no_proxy` array; but does not explicitly pass `nil` values to the proxy argumen

[2017-06-20 22:16] segiddins commented on #5781
The issue is that we use an old version of `net-http-persistent`, and can't update to 3.x because it doesn't support 1.8.7

[2017-06-20 22:17] jakauppila commented on #5781
Sure, will a PR which just modifies the vendored 2.9.4 suffice?

[2017-06-20 22:18] segiddins commented on #5781
I really don't like modifying the vendored files, since then we need to take responsibility for those modificaitons

[2017-06-20 22:25] jakauppila commented on #5781
Are there any other options for getting the fix in place?

[2017-06-20 22:29] indirect commented on #5781
If `net-http-persistent` has a fix for the bug in later versions, let's plan to upgrade to the latest at the same time as we drop support for Ruby 1.8.7.

In the meantime, I'm okay with accepting a change to the vendored files for the ~12 weeks we expect to need to support it.

[2017-06-20 22:37] jakauppila commented on #5781
Sounds good.

I'll get the PR with the modification submitted here as well as to `net-http-persistent`.

[2017-06-21 01:45] Shangareer commented on #5796
Oh, sorry, there is another open source library that is also named "bundler". I had intended to ask questions on its GitHub page but entered in this page by mistake due to my carelessness. Thanks for reply and reminding.  :)

[2017-06-21 03:41] MrOutis commented on #5663
Thank you, @mcmire, the reason for this was to not install build dependencies in the final Docker image (to make it slimmer, leaving just the runtime deps). At first I wanted to create a tar (somehow) of the compiled gems and add it to the final version `ADD gems.tar /usr/local/bundle`, but at the end I did something like:

[code]

This way, I can build my gems and delete the build environment in

[2017-06-21 03:41] #5663 closed

[2017-06-21 11:39] ivan-kolmychek commented on #5366
@grv87 in a way.

I mean limit the check to **only** your direct dependencies, completely ignoring their own dependencies.

As an example, if you have a gems `A`, `B` and `C` in your `Gemfile`, and they depend on some other gems that you haven't specified, like `X`, `Y` and `Z`, with requested flag it would check only `A`, `B` and `C`.

This way you can combine it with [already existing flags](htt

[2017-06-21 23:03] segiddins commented on #5332
Closing as a rubygems.org issue, since there's nothing for us to do about this in bundler itself.

[2017-06-21 23:03] #5332 closed

[2017-06-21 23:04] segiddins commented on #5575
Closing since we never got a Gemfile that reproduces the issue.

[2017-06-21 23:04] #5575 closed

[2017-06-21 23:06] segiddins commented on #4801
I can't reproduce this, `bundle --help` on my machine shows the bolding etc as intended.

[2017-06-21 23:07] segiddins commented on #5337
Closing, I don't think there's anything actionable for us here, given `force_ruby_platform` exists.

[2017-06-21 23:07] #5337 closed

[2017-06-21 23:08] segiddins commented on #5398
I don't think anyone on the team will get around to fixing this anytime soon, but a PR doing so would be 💯

[2017-06-21 23:11] segiddins commented on #5668
I don't think `bundle package` is intended to package any more than the `.gem` files -- if you want to "package" extensions, I recommend installing into a local path that you commit to git.

[2017-06-21 23:11] #5668 closed

[2017-06-21 23:12] segiddins commented on #5596
In that case, a PR changing the behavior would be 💯

[2017-06-21 23:14] colby-swandale commented on #4801
@segiddins This is only reproducible on Windows and some instances of Linux as well.

[2017-06-22 00:40] rubymorillo commented on #5687
Just so I'm clear about sequence, we'd want users to run this script^^^^ _after_ they've followed the guides to ensure their Ruby & OpenSSL versions are compatible, not before. Is that correct? @segiddins @colby-swandale @duckinator

[2017-06-22 00:44] indirect commented on #5687
@rubymorillo I think we would want to use it as a before-and-after check. If you're having problems, run that snippet to see if your problem is that you need to upgrade OpenSSL for TLSv1.2. If that code prints `true`, the problem is not that they need to upgrade to get TLSv1.2 support.

If that code prints `false`, the reader should follow the upgrade guide and then run the snippet again to verify

[2017-06-22 00:48] rubymorillo commented on #5687
Hey @BanzaiMan, can you confirm the Debian/Ubuntu instructions for troubleshooting the TLS issue is to upgrade Ruby and OpenSSL w/`apt`? See comment here for more context: https://github.com/bundler/bundler/issues/5687#issuecomment-308252104

[2017-06-22 00:49] rubymorillo commented on #5687
@indirect perf, that's what I initially thought, too. Sounds good!

[2017-06-22 01:12] peanutShells commented on #4462
Great! Save me a ton of time!

[2017-06-22 04:41] jarro2783 commented on #5668
:o: is that the best you have to offer? Are you seriously telling me to commit binaries to git? That doesn't even work when we have 3 distros with different link time dependencies.

[2017-06-22 04:53] segiddins commented on #5668
Well, you're asking for a way to package binaries... `bundle package` literally just copies the `.gem` files you've downloaded

[2017-06-22 05:02] jarro2783 commented on #5668
So basically ruby has no tool to generate a list of dependencies and bundle the whole thing into a complete package with built extensions. 25 years later and this language still isn't production ready...

[2017-06-22 05:17] segiddins commented on #5668
@jarro2783 the tone you're taking is coming off as rather rude, and I can assure you that it is not the way to get the Bundler team to help you

[2017-06-22 06:03] indirect commented on #5668
@jarro2783 hi.

First, let's talk about your tone. Bundler has a [code of conduct](https://github.com/bundler/bundler/blob/master/CODE_OF_CONDUCT.md) that you are required to follow in this issue tracker, and any other space belonging to this project. You're getting pretty close to violating the code of conduct, so this is your one warning.

Next, let's talk about the feature you're asking for: it

[2017-06-22 07:20] jarro2783 commented on #5668
I'm sorry I'm frustrated by a language that frequently causes me problems, and by a tool (Puppet) that has chosen to package itself in a rather bizarre way.

I'm trying to use bundler to build a deployment package for the one thing we can't use Puppet for, which is installing Puppet itself. This actually works quite well apart from native extensions, and only because in an ideal world we wouldn't

[2017-06-22 16:23] indirect commented on #4801
I'm not sure what a fix for this would look like... is there some way we could alter the contents of the man pages to display correctly on windows? Should we be stripping all ansi formatting before displaying on windows?

[2017-06-22 16:25] indirect commented on #5596
I can confirm that not removing the extension is an accident, leftover from when extensions were moved outside of the directory containing the gem's other files. A PR to fix this would be great. 👍🏻

[2017-06-22 16:32] indirect commented on #5786
👍🏻

[2017-06-22 16:56] segiddins commented on #4801
Maybe we need to check `if $stdout.tty?` and strip ansi codes otherwise?

[2017-06-22 18:34] jakehow opened #5810 "New gem gemspec template assumes `git` on users systems"
Currently the newgem template, used when a gem author runs `bundle gem newgem` produces a gemspec that assumes git is on a users system.

Source: https://github.com/bundler/bundler/blob/master/lib/bundler/templates/newgem/newgem.gemspec.tt#L28-L30

Why Change?
============

This bit of code is currently being cargo-culted into a lot of gems which causes issues when you try to install a gem from so

[2017-06-22 19:35] indirect commented on #5810
We specifically use git in order to respect gitignore files when building .gems. Back when we used Dir.glob it was very common for released gem packages to include the .gem files from previous versions, logs, temporary files, and other random crap. Because of that, this feature is effectively asking us to put a higher priority on docker images without git than we put on actual built .gem files.

T

[2017-06-22 19:36] indirect commented on #5810
(One other possible workaround is to run `bundle package` on a machine with git, and copy the resulting `vendor/cache` to the machine without git. That will work for git gems.)

[2017-06-22 19:37] segiddins commented on #5810
Might I add, another suggestion is to either (a) edit the gemspec (b) not use `bundle gem`, since it is _intentionally_ a highly opinionated set of defaults (c) or run `gem build` if you want a completely self-contained gem

[2017-06-22 19:52] jakehow commented on #5810
@indirect I think maybe there is a little misunderstanding. I think there are perfectly workable solutions that handle your concerns, and do not prioritize docker over the default use case.

I hope I made it clear in my note I understand the intention. The workaround is not a usable one for a whole host of reasons,  currently we just fork any gem that is cargo-culting this and use the fork or try

[2017-06-22 19:58] jakehow commented on #5810
@indirect to be clear, the suggested work around of putting git everywhere is the one that doesn't work.  Having extra build steps, forking gems, etc is the status quo of what we are doing now.

Came here b/c I am sure others are experiencing this and the problem seems to be an easy fix w/ no downsides.

[2017-06-22 20:15] segiddins commented on #5810
I'm sorry, but I honestly don't understand why just changing the generated `.gemspec` doesn't work for you, if you'd rather it not use git?

[2017-06-22 20:27] jakehow commented on #5810
@segiddins we do change it in our gems, most authors don't.  The issue arises when third party gems we depend on use the generated code.*

* and are slow at releasing, in between releases, we are using a branch, etc,etc

[2017-06-22 21:11] colby-swandale commented on #4801
@segiddins i can get this problem on linux inside a regular bash session.

I can take a quick look at this and see what i can find out seeing i can reproduce this issue.

[2017-06-23 05:12] grv87 commented on #5366
@ivan-kolmychek, suppose that:
1. Your `Gemfile` has
[code]
2. There is a newer version of gem B version 2.0
3. Gem A 1.0 depends (directly or indirectly) on gem B 1.0
should Bundler report that gem B is outdated? I believe, no.

[2017-06-23 07:45] ivan-kolmychek commented on #5366
I think it really depends on your use-case.
We use this "top-level" non-strict `outdated` check as a way to  detect that we have outdated top-level gems, **regardless** of why exactly are they outdated.

Even if `A` depends on  `B 1.0` when there is a newer version, `B` will not magically become up to date just because of that.

Recently we've hit almost exactly the situation you've described - on

[2017-06-23 10:35] grv87 commented on #5366
@ivan-kolmychek, ok. So we have two different use cases and require two different solutions.
I won't open new issue for now, until this is resolved.

I know about Git bash and Cygwin and gnuwin32 and so on. Probably I'm lazy enough to go this way for this specific task :) Let's stop this discussion as off-topic.

[2017-06-23 15:11] fedya opened #5812 "404 Not Found https://rails-assets.org/versions"
[code]

[2017-06-23 15:34] segiddins commented on #5812
I'm sorry, what is the issue that you are experiencing? Bundler 404ing on that file is to be expected if that gen server does not support the new compact index format

[2017-06-23 15:38] fedya commented on #5812
@segiddins i can't deploy my application because i got this
`23.06.2017 18:10:00HTTP 404 Not Found https://rails-assets.org/versions
`
and as result

`23.06.2017 18:29:07Could not find activesupport-4.2.6 in any of the sources`

[2017-06-23 15:53] segiddins commented on #5812
Please include the output of `bundle env` in the issue description

[2017-06-23 18:43] donnoman opened #5814 "bundle config --local path doesn't write a .bundle/config anywhere"
I want to overwrite the path, I used to be able to do this by just adding --path to the command line and it would write ./.bundle/config. The fact that it doesn't do this anymore is annoying. So I read the docs and it says the way to do this is now bundle-config.

I only want the path changed for the local project.  but adding --local doesn't write the file at all. Omitting --local writes it to th

[2017-06-23 18:46] segiddins commented on #5814
what is the output of `bundle env`?

[2017-06-23 18:58] donnoman commented on #5814
[code]
[code]

## Bundler settings

[code]

## Gemfile

### ../../../../../../code/lendinghome-monolith/toolbelt/Gemfile

[code]

### ../../../../../../code/lendinghome-monolith/toolbelt/Gemfile.lock

[code]

I don't understand how it's bringing in information from toolbelt's Gemfile; thats not the Gemfile and lock that in my PWD. It's not even a parent directory.

/Users/Donovan/code/lendinghome-

[2017-06-23 19:00] segiddins commented on #5814
Because of the settings:

[code]

So it actually seems to me like bundler is behaving as intended? It's writing the local config for the gemfile that you've configured

[2017-06-23 19:01] donnoman commented on #5814
ugh, it's because of the path and toolbelt has a stub of bundle in it.

[code]

[2017-06-23 19:24] donnoman commented on #5814
I rearranged the path so that to the  paths to toolbelt are at the end.

`bundle config --local path <the path> `

Now works as expected dropping a `./.bundle/config` not `./app/.bundle/config`  maybe thats just a documentation euphamism.

[2017-06-23 19:26] donnoman commented on #5814
Thank you for the help. As a user I didn't see the benefit for dropping auto writing the config, and it's forcing me to make changes to scripts that was relying on that behavior. my .02

[2017-06-23 19:26] #5814 closed

[2017-06-23 19:56] segiddins commented on #5814
We haven't made those changes yet, they're coming in 2.0 though

[2017-06-24 02:27] duckinator commented on #5687
@segiddins replaced the part of my comment that suggested doing `curl | ruby` with a link to your comment.

[2017-06-24 15:31] #5812 closed

[2017-06-25 09:47] deivid-rodriguez commented on #5810
What about adding a explicit list by default?

From the generated gem template:

[code]

I think only `test_gem.gemspec`, `lib/test_gem.rb`, `lib/test_gem/version.rb`, `LICENSE.txt`
and `README.md` (and maybe the Code of Conduct?) should be shipped. It seems like a small enough list to start explicit.

This might have the opposite effect of gem authors including "too few files" instead of "too muc

[2017-06-25 10:13] deivid-rodriguez commented on #5810
I agree it seems possible to implement gitignore pattern matching in pure Ruby. I disagree on the "easy" part. Definitely not a one liner like the other solutions currently being used.

For reference:

* The spec: https://git-scm.com/docs/gitignore#_pattern_format.
* A ruby built-in that could help: http://ruby-doc.org/core-2.4.1/File.html#method-c-fnmatch.
* An implementation: https://github.com/

[2017-06-25 21:56] indirect commented on #5810
Thanks for the discussion, everyone. As @deivid-rodriguez points out, it is neither simple nor easy to re-implement gitignore matching in pure Ruby. It's nice to know that there's a gem that can do it, but Bundler can't have gem dependencies, so we would either have to vendor the pathspec code or write our own implementation.

@jakehow I'm open to the possibility of replacing the system call to gi

[2017-06-26 20:26] bmorton commented on #5797
Happens for us here too at Yammer, but we also have an internal geminabox server that you won't be able to access.  Anything we can do to help you troubleshoot it otherwise?  We see it sporadically.  We'll run bundler once and it'll fail and then run it again the exact same way and it'll work.

[2017-06-26 20:29] bmorton commented on #5797
Looks like this same gem comes up in a few different issues when looking back at past issues: https://github.com/bundler/bundler/issues?utf8=✓&q=ruby-ajp

@indirect mentioned this in an old comment to something similar: "This seems to be an error that only surfaces when some (but not all) of the requests to rubygems.org fail. They're currently having load balancer issues that intermittently return

[2017-06-26 21:50] colby-swandale commented on #5797
@bmorton can you please share the output of `bundle env`

[2017-06-26 21:56] bmorton commented on #5797
Doing some more investigation, I'd love to confirm if that fallback to pulling all the gemspecs is happening again.  If that does happen, then it looks like the gemspec for `ajp-rails` is problematic in some way:

[code]

Using this Gemfile:

[code]

#2615 mentions this file: http://aws-eu-cache01.rubygems.org/quick/Marshal.4.8/ajp-rails-0.0.0.gemspec.rz

[2017-06-26 22:18] bmorton commented on #5797
@colby-swandale, I can but our security team will probably require that I redact some things in it and we have an internal gemserver that you won't be able to access.  Is it still helpful without that stuff?

[2017-06-26 22:18] bmorton commented on #5797
Also, I've added `--verbose` to our `bundle install` command and it isn't happening after I've added that ;/

[2017-06-26 22:53] bmorton commented on #5797
I've gotten it to trigger now with verbose.  I am going to talk to our security team to see if I can send you the whole verbose log, but here are the relevant bits for us at least.  We end up getting rate limited (probably because of how our outbound egress is routed and the number of webs that we deploy to at a time?)

Once we get rate limited, bundler starts pulling back every gemspec, but these

[2017-06-27 14:16] segiddins commented on #5797
This looks like it might be a bug with rubygems.org, as it's serving an invalid gemspec for https://rubygems.org/gems/ajp-rails/versions/0.0.0. The only thing Bundler can do here is to error out more gracefully, but I recommend opening up an issue on rg.org for the invalid gem spec.

[2017-06-27 14:53] segiddins commented on #5797
See https://github.com/bundler/bundler/pull/5819

[2017-06-27 16:13] segiddins commented on #5799
This is now done!

[2017-06-27 16:13] #5799 closed

[2017-06-27 16:14] segiddins commented on #5517
Closing, trampolining is now gone.

[2017-06-27 16:14] #5517 closed

[2017-06-27 17:32] bmorton commented on #5797
Cool, thanks.  I'll open an issue with them.

As for Bundler, is it expected behavior that when Bundler gets rate limited with a 429, it instead rapidly makes ~33k requests for every version of every gem?

[2017-06-27 17:34] indirect commented on #5797
@bmorton it's a known edge case bug that we have had trouble easily or consistently reproducing in tests, but that we would like to fix. Hopefully the information from this ticket will help!

[2017-06-27 17:48] joneshf opened #5821 "Bundle install fails sometimes with `Bundler::GemNotFound`"
## What you're trying to accomplish

We've got a Jenkins build server that deploys to production. Occasionally, bundle fails with `Bundler::GemNotFound`. However, the gem if fails on changes each time. When we rerun the deploy job, it succeeds the second time. The failure occurs sporadically.

##  The command you ran

We use capistrano bundler for the deploy process on jenkins, so the command is p

[2017-06-27 18:54] bmorton commented on #5797
Sweet.  I can actually reproduce this locally with a proxy now that injects 429s at the right place.  Is that helpful to post how I did that here?

[2017-06-27 18:55] indirect commented on #5797
The trick is reproducing it inside a test in our test suite, but if you could gist a writeup of your repro steps, that would probably be helpful. Thanks!

[2017-06-27 20:24] jakehow commented on #5810
@indirect wanted to note, I will take a stab at it.

Didn't mean to imply I thought implementing the whole spec is easy, but I will try my hand, and check out the lib :)

Do you think getting out of the box equivalence is good enough or you think downstream tooling is relying on `git ls` being there?  Are people using this template for things other than bootstrapping a new gem project?

[2017-06-27 20:46] arbonap commented on #5821
hi @joneshf. Could you please provide a Gemfile? Thanks!

[2017-06-27 20:58] gxespino commented on #5712
Can be closed.

[2017-06-27 21:19] bmorton commented on #5797
Here are the steps.  Its a bit tricky to repro, but this should lay it out pretty well.  Basically its a mix of getting the 429 at the right time and using an additional geminabox source.

https://github.com/bmorton/rubygems-rate-limiter

Let me know if you need help getting this working.  I ran it through with a coworker (thanks @matthewshafer!) real quick and it seemed to work (as long as you ha

[2017-06-27 21:48] mattbrictson commented on #5712
❤️ ❤️ ❤️

[2017-06-27 21:48] #5712 closed

[2017-06-27 23:14] gxespino commented on #5289
Looking for more ways to contribute. Is the above fix something we want to do?

[2017-06-28 00:29] colby-swandale commented on #5289
@gxespino You're more then welcome to work on this issue. We have some issues that are more open for new contributors.

https://github.com/bundler/bundler/issues?q=is%3Aopen+is%3Aissue+label%3A%22contribution%3A+small%22+label%3A%22contribution%3A+unclaimed%22

[2017-06-28 02:55] gxespino commented on #5786
Working on this issue - should be fun!

[2017-06-28 08:31] nevercodealone commented on #4065
segiddins post

`sudo gem install bundler -n /usr/local/bin`

fixed it for me

[2017-06-28 15:22] vag6a opened #5824 "Error:"Bundler cannot continue""
............
  rails (~> 5.1.2)
  sass-rails (~> 5.0)
  selenium-webdriver
  spring
  spring-watcher-listen (~> 2.0.0)
  sqlite3
  turbolinks (~> 5)
  tzinfo-data
  uglifier (>= 1.3.0)
  web-console (>= 3.3.0)

BUNDLED WITH
   1.15.1
[code]

[2017-06-28 15:42] segiddins commented on #5824
Please share the entire issue template, thank you!

[2017-06-28 19:46] latazzajones opened #5825 "Bundler 1.15.1 breaks my builds 😬 with NameError: uninitialized constant Sass::Engine"
I'm getting the following in my rails 3.2.22.1/ruby 2.1.5 app on precompile.

I'm stuck on sass-rails 3.2.5 .. which could be part of the issue ..

I was able to reproduce it locally as well (but the logs are less pretty on my machine). There are no changes to my Gemfile or Gemfile.lock.

My build was working fine with bundler version 1.13.7 but my latest builds with version 1.15.1 have been faili

[2017-06-29 02:01] colby-swandale commented on #5825
Hi @latazzajones, can you please add the output of `bundle env`.

[2017-06-29 05:31] jakauppila opened #5828 "Unable to checkout Bundler repo on Windows"
It is currently not possible to checkout the Bundler repo on Windows due to the vcr_cassettes containing question marks in folder names added in #5220.

Would it be possible to convert the serialized request/response to another format?

[code]

[2017-06-29 05:51] colby-swandale commented on #5828
\cc @segiddins

[2017-06-29 12:24] latazzajones commented on #5825
@colby-swandale thanks - I've added the output in my initial question above ⬆️⬆️

[2017-06-29 13:40] colby-swandale commented on #5825
Can you please attach the full `bundle env` output without removing the Gemfile and Gemfile.lock, we won't be able to fully help resolve your problem without that information. Thanks.

[2017-06-29 13:46] latazzajones commented on #5825
@colby-swandale sorry bout that - for sure - updated!

[2017-06-29 14:10] colby-swandale commented on #5825
This seems similar to #4482, can you please paste the output of `bundle exec ruby -e 'puts $LOAD_PATH'` for version `1.13.7` and `1.15.1`.

[2017-06-29 14:14] latazzajones commented on #5825
here is the full backtrace for the error message when I run `rake assets:precompile` locally:

[code]

[2017-06-29 15:42] latazzajones commented on #5825
@colby-swandale

Here's the load path for 1.15.1
[code]

and here's the load path for 1.13.7:

[code]

[2017-06-29 16:17] latazzajones commented on #5825
It does seem similar but ... the load order of sass-rails and sass isn't different - they're just further apart.

[2017-06-29 18:05] latazzajones commented on #5825
It looks like we were totally on haml 3.1 which was mucking up our load paths. Switching to haml to 4 did the trick! Thanks for pointing me to that older issue @colby-swandale!

[2017-06-29 18:05] #5825 closed

[2017-06-30 00:31] colby-swandale commented on #5825
🎉 Great to hear you resolved your issue.

[2017-06-30 00:32] colby-swandale commented on #5821
ping @joneshf

[2017-06-30 14:11] johnnyshields opened #5830 "Bundler 1.15.1 freezes on gem conflict without giving an error message"
I have a Rails 3.2 project with a nasty mess of gem dependencies. Bundler 1.14.6 fails with the below error message, which is expected. Bundler 1.15.1 gives me NO error message and instead freeze after `Resolving dependencies..............................................................................................................`

[code]

[2017-06-30 15:19] colby-swandale commented on #5830
Can you please share the output of `bundle env`. We can't really help resolve your issue from the information you have provided.

[2017-06-30 19:51] johnnyshields commented on #5830
@colby-swandale how do I capture that?

[2017-07-01 00:17] colby-swandale commented on #5830
`bundle env` is a bundler command like `bundle install`, make sure to run it inside the rails project where the Gemfile is. Just copy and paste the output the command prints to the console to this issue.

[2017-07-01 15:46] segiddins commented on #5828
Why is `?` in file names an issue? As far as I'm aware, it's not `File::SEPARATOR` on any platform?

[2017-07-01 16:25] jakauppila commented on #5828
The following are reserved characters on Windows:

[code]
https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247

[2017-07-03 13:05] kkhanstella opened #5835 "Bundle install not working"
Just installed ruby and devkit and installed gem bundler, now bundle install is giving following error:

[code]

## Environment

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-07-03 13:15] segiddins commented on #5835
Your lockfile does indeed seem to be missing a spec for `wdm`, so the Lockfile is corrupted as the error message suggests.

[2017-07-03 21:45] joneshf commented on #5821
Sorry, it turned out we had a tricky deploy setup. A recent change there started causing this failure. Looks like nothing's wrong now.

Thanks for the quick responses though!

[2017-07-03 21:45] #5821 closed

[2017-07-03 22:10] chrishough commented on #216
@indirect that link is broken? I have the same question as @codyfauser

[2017-07-03 22:54] indirect commented on #216
@chrishough correct. Feel free to find the `check_spec.rb` file yourself, though. It's still in this repo.

[2017-07-03 23:00] chrishough commented on #216
Wow.. Thanks....

Do you see it here?  https://github.com/bundler/bundler/tree/master/spec/other

[2017-07-03 23:22] indirect commented on #216
Sometime in the last seven years, we moved the file. It's now here: https://github.com/bundler/bundler/blob/master/spec/commands/check_spec.rb.

[2017-07-03 23:28] chrishough commented on #216
Thank you @indirect

[2017-07-04 12:46] colby-swandale commented on #5835
ping @kkhanstella, were you able to resolve your problem?

[2017-07-05 07:45] colby-swandale commented on #5828
fixed in #5829

[2017-07-05 07:45] #5828 closed

[2017-07-05 10:11] #5797 closed

[2017-07-05 12:13] Amosii opened #5836 "Cloud Hat Ruby errors"
█╔════╝██║     ██╔═══██╗██║   ██║██╔══██╗    ██║  ██║██╔══██╗╚══██╔══╝
██║     ██║     ██║   ██║██║   ██║██║  ██║    ███████║███████║   ██║
██║     ██║     ██║   ██║██║   ██║██║  ██║    ██╔══██║██╔══██║   ██║
╚██████╗███████╗╚██████╔╝╚██████╔╝██████╔╝    ██║  ██║██║  ██║   ██║
 ╚═════╝╚══════╝ ╚═════╝  ╚═════╝ ╚═════╝     ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝
Tool for identifying real IP of CloudFlare protected

[2017-07-05 12:18] tsuwatch commented on #5373
I reproduced, too in `v1.15.1`. `v1.15.0` works properly.

[2017-07-05 12:19] segiddins commented on #5373
@tsuwatch please share the output of `bundle install --verbose` with the failure, thank you!

[2017-07-05 12:24] tsuwatch commented on #5373
[code]

[2017-07-05 12:30] segiddins commented on #5373
Ah!
I believe this will be fixed by https://github.com/bundler/bundler/pull/5826

[2017-07-05 12:37] tsuwatch commented on #5373
Oh, I see.
I wait for merging and releasing!

[2017-07-05 16:11] bughit commented on #5398
This has the following additional consequence

If a gem has a native extension it will get installed into the global git gem location, but because the gem is loaded from the cache which does not have the native extension, loading will fail.  I noticed it while experimenting with puma (`gem 'puma', github: 'puma'`)

[code]

given the above, that loading gems from the cache is both conceptually and

[2017-07-05 21:03] segiddins commented on #5398
Because we're a small team, and I personally have other priorities for my Bundler work over the next month.

[2017-07-05 21:07] ahorek opened #5840 "Parallel install of a same gem fails on undefined method `size' for nil:NilClass"
When a new version of some gem is released and two processes try to install it simultaneously, the second one will fail on an error. I think it's because it tries to access shared resources and there're no file locks to avoid this behaviour.

It happens rarely on our CI and it isn't very important because once the gem in installed we can retry the job and then already installed version is used and

[2017-07-05 21:09] segiddins commented on #5840
Please share the output of `bundle env`, thanks

[2017-07-05 21:09] segiddins commented on #5840
Also, did running the gem install command the error suggested succeed or fail?

[2017-07-05 21:10] indirect commented on #5398
@bughit first, thank you for reporting this bug. Figuring out the problem is very helpful. 👍

Now, let's talk about open source: you get to use Bundler for free. If this bug is a problem for you, you are easily able to fix it, because you also get the source code of Bundler for free. That's the beauty of open source.

The flip side of open source is that _we don't owe you anything_. Reporting bugs

[2017-07-05 21:38] bughit commented on #5398
I pointed out that the severity is higher than it first seemed. Using `gem 'puma', github: 'puma'`, running bundle install and then not being able to run puma, is more serious than the original symptoms. You didn't want to know about that?  You're welcome.

And asked if in light of that, why not fix this.  That is a question, stemming from a revaluation of severity, not a demand.

[2017-07-05 21:44] ahorek commented on #5840
[code]

and then I tried to install it using
[code]
but I was unable to reproduce the error.
[code]

when I do the same with ```bundle update```, one process fails.

I already shared the output of my ```bundle env``` in my first post. I'm using lastest versions except the ruby, but I also had the exact same problem on ruby 2.4.1

[2017-07-05 22:07] ahorek commented on #5840
and one more thing, you need to run bundle updates in different folders and install the same gem at the same time, otherwise it won't fail

in our case we have multiple clones of the same application (with same gems) and before each test scenario bundle update is invoked

[2017-07-05 23:44] BMorearty commented on #5697
@colby-swandale I just encountered the original error too:

[code]

So I tried your advice, testing bundler on the `master` branch, and it did not fix it. These are the steps I used:

1. `gem uninstall bundler` (remove all versions)
2. `git clone git@github.com:bundler/bundler.git` and `cd bundler`
3. `gem build bundler.gemspec` - this builds `bundler-1.15.1.gem` (presumably because you haven't ye

[2017-07-06 00:10] colby-swandale commented on #5697
@BMorearty can you please open a new issue with this information and include the output of `bundle env`. Thanks!

[2017-07-06 00:16] BMorearty commented on #5697
@colby-swandale I'm not comfortable posting that much closed-source code. Maybe I can try to create a small repro case.

[2017-07-06 00:32] BMorearty commented on #5697
I'm not having luck with this. 😢

[2017-07-06 02:05] chrismo commented on #5697
Can you double-check that 'airbnb-alchemist-client' is published to your gem server?

[2017-07-06 02:28] chrismo commented on #5398
I tried a simple Gemfile with just `gem 'puma', github: 'puma'` and it seems to be working fine - I presume there more steps than just this?

## Environment

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[code]

[2017-07-06 02:48] bughit commented on #5398
doesn't look like you're vendor caching gems in your project
[bundler_cache_bug.zip](https://github.com/bundler/bundler/files/1126609/bundler_cache_bug.zip)
in the attached project, bundle install, run puma

[2017-07-06 03:18] bughit commented on #5398
as to the fix,

I discovered that if you run bundle install a second time it will add the binary extension into the cache and puma will start loading (from the cache), which may suggest that could be the fix, however I would argue that's not a proper one.  This would be continued abuse of the cache to function as the install location.

Binary extensions should not be stored in the cache, they shou

[2017-07-06 03:25] segiddins commented on #5840
That's not the full env output, it doesn't include your gemfile

[2017-07-06 04:40] chrismo commented on #5398
Ok, the key bit I was missing: `bundle pack --all`. The .zip you sent didn't include the .bundle dir which had the cache_all setting. Your bundle env dump above had that, and I was able to piece that together. Here's the reproducible case for me:

[code]

[2017-07-06 04:43] chrismo commented on #5398
Same issue in 1.15.1 as well.

And as you say, the problem seems to correct itself by doing a `bundle install` after the `bundle pack --all`.

[2017-07-06 04:49] bughit commented on #5398
The zip attached in https://github.com/bundler/bundler/issues/5398#issuecomment-313280867
https://github.com/bundler/bundler/files/1126609/bundler_cache_bug.zip
does have .bundle folder with a config file with `BUNDLE_CACHE_ALL: "true"`
I just double checked.

You do not need to run `bundle pack --all` to repro.  Running bundle install should both  cache and install the gem.  It does not.  The fac

[2017-07-06 04:56] chrismo commented on #5398
Ah, right, my mistake. I always forget Finder hides . folders. :/

If starting from a blank directory, like I was, then `bundle pack --all` seems to be necessary in order to establish the `cache_all` setting in the first place.

Yeah, I didn't mean to imply there was no bug, just highlighting the workaround you'd found.

[2017-07-06 07:22] indirect opened #5842 "`install` is ~4x slower than `check`"
As requested, here's a ticket with an example of how much slower `install` is than `check`, even when both commands are (theoretically) doing the same amount of work. For the record, in the no-op case I think it's fine for the `install` command to print "Bundle installed and ready. ✨" or something along those lines, instead of printing out "Using..." lines for every gem.

[code]

[code]

Repro rep

[2017-07-06 07:24] segiddins commented on #5842
Don't think I'll do this, as we get rid of the no-op using lines on 2.0 anyways 🌠

[2017-07-06 12:06] Confusion opened #5845 "Different behavior between bundler 1.15.x and 1.14.6: wrong file required"
I have the following situation, where Bundler 1.15.x fails in an unexpected way, while 1.14.6 work as expected. The error is
[code]
The failing line in `gem2.rb` contains a
[code]
and since gem2 contains an `xsd.rb` on the same level as the `gem2.rb`, I would expect that file to be required. With Bundler 1.14.6 that is also the case and that file is being required. With bundler 1.15.x a file `xsd.

[2017-07-06 12:34] colby-swandale commented on #5845
Can you share your `bundle env`? We're not really able to help resolve your issue without a way for us to reproduce the problem ourselves. Thanks.

[2017-07-06 15:28] BMorearty commented on #5697
I've double-checked. 'airbnb-alchemist-client' is published to our gem server. Also, downgrading to Bundler 1.14.6 eliminates the error and bundles correctly. But I can't bundle with 1.15.1 or with master.

[2017-07-06 16:00] jramnani opened #5846 "Difference between 1.14.6 and 1.15.1 - Not finding a compatible dependency (multi_json)"
I have a Gemfile that works in Bundler `1.14.6` and not in `1.15.1`, and I'm not sure why.

Here is the error message I get when running `bundle install` using version `1.15.1`:

[code]

Here is my Bundler environment from using the `bundle env` command:

[code]

## Environment

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2017-07-06 16:27] jramnani commented on #5846
Running `bundle update pygments.rb` as suggested by Bundler will downgrade `pygments.rb` to version `0.6.3` from `1.1.2`, and then will give me an error on `sprockets-sass`:

[code]

Running `bundle update sprockets-sass` as suggested, shows the following dependency conflict:

[code]

When I run `bundle update` it resolves this final conflict, and the environment builds.  However, when I try to ru

[2017-07-06 16:33] chrismo commented on #5697
#5846 also appears to be a similar bug report ... ?

[2017-07-07 10:35] robuye opened #5847 "bundler inline fails when BUNDLE_BIN is set (default in docker)"
Hi there,

I'm trying to use `bundler/inline` feature to dockerize some scripts that require gems to be installed. I was able to reproduce the problem locally, it's doesn't appear to be docker specific issue.

Steps to reproduce:

Create example script in `/tmp/inline.rb`:

[code]

Run the script in official docker container:

[code]

Result:

[code]

It works when BUNDLE_BIN is unset or `false`:

[2017-07-07 14:19] ahorek commented on #5840
our Gemfile is auto-generated from multiple sources, it looks like this:

**Gemfile**
[code]

**Gemfile.lock**
[code]

[2017-07-07 17:46] segiddins commented on #5847
Thanks for the 💯 issue! https://github.com/bundler/bundler/pull/5848 should fix this.

[2017-07-07 17:53] segiddins commented on #5846
The issue is your lockfile is essentially corrupted -- it's missing the dependencies for some of your gems. Those commands are just suggestions, once a lockfile gets corrupted by a buggy version of bundler, the only 100% foolproof way of fixing is doing so by hand.

[2017-07-07 17:58] robuye commented on #5847
Thanks so much @segiddins! :100: :+1: :heart_eyes_cat:

[2017-07-07 19:14] fones commented on #1365
I run into this problem again on AWS ElasticBenstalk

Gemfile:
[code]
Gemfile.lock:
[code]

on AWS:
[code]

Any idea what can help?

[2017-07-07 20:28] segiddins commented on #1365
@fones this is a 6 year old issue, please open up a new issue with the details requested in https://github.com/bundler/bundler/blob/master/doc/contributing/ISSUES.md

[2017-07-07 21:35] jramnani commented on #5846
Thank you for responding. :)  Some follow-up questions:

* Is this a case where version 1.15.x is being more strict about the state of the lock file than 1.14?
* Can I print out a tree of dependencies from my Gemfile so I might see where the problem is?  Perhaps what I'm asking for is already available as `bundle viz`?
* My Bundler skills are pretty rusty.  To fix this error will I need to edit th

[2017-07-07 21:51] chrismo commented on #5846
For you 3rd question, I'd suggest saving off the current Gemfile.lock (or commit to source control), then do `bundle lock` and diff the two. A brand new install will grab the latest versions of gems that match the stated requirements in your Gemfile, which could be very different (including a major version upgrade). Probably the bulk of the changes won't matter, but that may draw out the offending

[2017-07-07 22:17] segiddins commented on #5846
Yeah, it's us trying to fix other bugs and generally avoid deadlocks when installing

`bundle viz` in this case will fail, but we _should_ be printing out where the problem is when this sort of installation error happens, and I'll make that change now ;)

Otherwise, I recommend reading through the lockfile to see what required the gem that's failing to install

Honestly, I recommend deleting the l

[2017-07-07 22:18] segiddins commented on #5846
In this case:

[code]

[2017-07-07 22:41] segiddins commented on #5846
https://github.com/bundler/bundler/pull/5850 should make the error message slightly more helpful!

[2017-07-08 08:33] #5847 closed

[2017-07-08 18:03] stefansedich opened #5851 "Issues with concurrent bundle installs with shared gem cache"
I am attempting to use a shared gem cache with a docker-compose setup, a sample project is available here: https://github.com/stefansedich/bundle-test which easily replicates the issue by simply running `run.sh`.

The error is consistent and one of the two containers will fail to compile the native extensions for in this case the pg gem I assume due to the concurrent installs attempting to create

[2017-07-08 18:06] indirect commented on #5851
@stefansedich thank you for reporting this!

@segiddins ugh this scenario did not even occur to me 😭 I'm thinking process lock file a la git?

[2017-07-08 18:08] stefansedich commented on #5851
FYI my current solution using a install wrapper script does the trick!

[code]

[2017-07-08 18:12] stefansedich commented on #5851
@indirect if a process lock is the desired solution and everyone is happy with that I am happy to tackle it and submit a PR for it.

[2017-07-08 18:18] indirect commented on #5851
@stefansedich I think that's the way to go for now—we're not designed to allow multiple concurrent processes. Maybe a future goal can be optimizing that beyond a process lock.

[2017-07-08 18:21] stefansedich commented on #5851
Sounds good, from my initial look it looks like Installer#run is the best place to put the lock, does that sound right to you?

[2017-07-08 18:47] indirect commented on #5851
That sounds right to me. You'll also want to check the update command and make sure it shares the lock. 👍🏻

[2017-07-08 20:13] segiddins commented on #5851
We could also do everything in temporary directories and move stuff since moves are atomic

[2017-07-08 20:20] stefansedich commented on #5851
@segiddins does it make more sense to just wait? otherwise in this example I compile PG twice in parallel, if we just lock and wait by the time the second install can continue PG should already be compiled and ready to use?

[2017-07-08 20:29] segiddins commented on #5851
You've given the install command twice, so I don't think that installing twice is out of the question. In addition, in my experience proper multi-process coordination is a lot harder than just sticking with atomic ops

[2017-07-08 23:28] #5373 closed

[2017-07-10 13:30] nijikon opened #5854 "bundle outdated not working with git sources on a cloned repo without bundle install"
- What you're trying to accomplish

I want to run `bundle outdated` on a repository that I just cloned, I don't want to run bundle install in that repository. The repository has a Gemfile with private repository.

- The command you ran

`BUNDLER_ORIG_GEM_PATH= BUNDLE_BIN_PATH= BUNDLE_GEMFILE= RUBYOPT= RUBYLIB= _=/usr/bin/env BUNDLE_GEMFILE=/Users/n/dev/rb/test_repo/Gemfile bundle outdated --parsea

[2017-07-10 14:10] segiddins commented on #5854
That `bundle env` output doesn't seem to include your Gemfile nor lockfile, which are both required to run `bundle outdated`

[2017-07-10 14:14] nijikon commented on #5854
## Environment

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

## Gemspecs

### offending_engine.gemspec

[code]

[2017-07-10 14:16] nijikon commented on #5854
I don't need them there. As I'm running a `bundle outdated` against `BUNDLE_GEMFILE=/Users/n/dev/rb/test_repo/Gemfile`

[2017-07-10 14:27] segiddins commented on #5854
If you want anyone to be able to reproduce the behavior you're reporting, you'll still need to share them.

[2017-07-10 14:40] nijikon commented on #5854
Ah, sorry my bad, you mean `/Users/n/dev/rb/test_repo/Gemfile`

[2017-07-10 14:40] nijikon commented on #5854
[code]

[2017-07-10 14:41] nijikon commented on #5854
I found out that moving this block https://github.com/bundler/bundler/blob/master/lib/bundler/cli/outdated.rb#L23-L29 to line 60 fixes the issue for me.

[2017-07-10 15:29] jakauppila commented on #5828
Thanks! It is now possible to check out the repo.

[2017-07-10 15:40] nijikon commented on #5854
Moving the block is bogus, it breaks other things.

[2017-07-10 16:08] nijikon commented on #5854
Here is Gemfile and Gemfile.lock https://gist.github.com/nijikon/6a68502a1480fbcbb871fcffeefcd3a7

[2017-07-10 16:58] nijikon commented on #5854
@segiddins OK, my issue is bogus, it works properly. I had problems because my `Gemfile.lock` was corrupted, you can see it in the gist.

[2017-07-10 16:58] #5854 closed

[2017-07-10 20:23] syndicate604 commented on #5784
I have the same issue

Downloading omniauth-google-oauth2-0.4.1 revealed dependencies not in the API or the lockfile (omniauth-oauth2 (>= 1.3.1), jwt (~>
Either installing with `--full-index` or running `bundle update omniauth-google-oauth2` should fix the problem.

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

[2017-07-10 20:26] jramnani commented on #5846
I've been able to fix the issue with my Gemfile by deleting the lock file, generating a new one, and fixing any issues that came up during that process.  Part of the fix for me was upgrading Jekyll to a version that was compatible with `pygments.rb (1.1.2)`.  Actually, I think later versions of Jekyll remove their explicit dependency on `pygments.rb (0.6.0)` which makes this easier after the upgra