[2019-07-08 23:08] ajwann commented on #6905
personally I think this change makes sense

[2019-07-09 15:28] deivid-rodriguez commented on #6589
@faucct Did you end up trying my PR?

[2019-07-09 15:44] faucct commented on #6589
Yes: I didn't have the access to the project with the problem at that time anymore.

[2019-07-09 17:08] mostafatofighi83 opened #7240 "trading_ui make error"
Service 'trading_ui' failed to build: The command '/bin/sh -c mkdir -p /opt/vendor/bundle  && chown -R app:app /opt/vendor  && su app -s /bin/bash -c "bundle install --path /opt/vendor/bundle"' returned a non-zero code: 1

when get command make build after 20 minute this error show  help me

[2019-07-10 02:09] yb66 opened #7241 "`bundle gem` is incompatible with `--binstubs`"
Good morning,

Running `bundle gem` produces a skeleton with:

[code]

If I add some gems like RSpec and the like and install with `--binstubs` I'll have the chance to:

- clobber my own code with an installed gem's
- later, clobber an installed gem's code with my own
- mix up generated and installed code in the same directory as the gem's code

I suggest using `exe` instead of `bin` for the skele

[2019-07-10 07:44] yb66 commented on #7241
Excuse my silly issue. Maybe I hadn't had enough coffee yet.

Regards,
iain

[2019-07-10 07:44] #7241 closed

[2019-07-10 08:04] deivid-rodriguez commented on #6589
So, to confirm I understood (the initial "Yes" in your reply confused me), you were NOT able to try this PR and confirm it fixes the problem you had at the time, right?

[2019-07-10 11:05] faucct commented on #6589
Yes, you’ve got me right.

[2019-07-10 15:42] odlp commented on #6847
Also experiencing `Could not find gem 'SOME GEM' in any of the gem sources listed in your Gemfile.` with Bundler `1.17.3` when using the `path` option.

As a workaround you can use `git` with a local file path (but bear in mind changes need to be committed):

[code]

[2019-07-10 19:29] schneems opened #7243 "Bundler 2.x binstub incorrectly raises an error when run with a different bundler 2.x version"
## Behavior

When using Bundler 2.0.2 with Ruby 2.5.5 and a Gemfile.lock that specifies a different 2.x version such as 2.0.1, bundler will generate a binstub that cannot be executed, instead it errors out and says that it expects to find the exact 2.0.1 version (even though 2.0.2 is fine and present).

[code]

## Expected Behavior

Expected the binstub generated by bundler match version selector

[2019-07-10 20:01] MSP-Greg opened #7244 "nested bundle exec, not working in Ruby trunk/head"
Only on Ruby trunk/head, there's a Travis CI test issue with Puma that generates a `LoadError`, where a `bundle exec` command is generated within a process started via `bundle exec`.

So, I used the following command:
[code]

Works fine with Ruby 2.6.3, RG 3.0.3, & bundler 2.0.1.

With Ruby trunk/master/head/2.7.0 (RG 3.1.0.pre1, bundler 2.1.0.pre.1), it fails on the line in the bin stub:
[code]
C

[2019-07-10 20:05] indirect commented on #7243
We probably want to remove the custom binstub for Bundler, now that we are also working on removing the RubyGems code that locks Bundler versions?

[2019-07-10 21:27] deivid-rodriguez commented on #7244
I tried this on current master and it seems to work, so this should probably be fixed once a newer bundler commit is used in ruby-core. I did this on current master, not sure if it fully represents the case you're seeing:

[code]

[2019-07-10 21:27] MSP-Greg commented on #7244
Fixed in https://github.com/ruby/ruby/pull/2285

[2019-07-10 21:29] MSP-Greg commented on #7244
@deivid-rodriguez

You have to use Ruby trunk/master/2.7.0.  Explanation in the above ruby PR...

[2019-07-10 21:44] deivid-rodriguez commented on #7244
You don't make PRs to ruby-core for bundler. You make PRs to the bundler repo, and then they are backported to ruby.

Currently the ruby repo is using and older reference than current bundler's master, and the issue you mention is not reproducible on bundler's master. Once ruby-core is updated to the latest bundler, the issue should be fixed since I can't reproduce it here.

[2019-07-10 21:51] deivid-rodriguez commented on #7244
Sorry @MSP-Greg, I read your PR now. No idea whether it is correct or not, but the case for a regular bundler installation shouldn't be affected, so I guess if that fixes some failures in core, it's fine? @hsbt will know best... :man_shrugging:

[2019-07-10 21:57] MSP-Greg commented on #7244
@deivid-rodriguez

Thanks.  I saw your previous response, and assumed you hadn't read the PR.

Yes and yes.  I'm not sure if `Gem.dir` always points to the 'internal' gem folder where default and bundled gems/specs are stored.  There's too many OS's out there, but it's an improvement on the current, which breaks some CI testing (Ruby trunk only) that uses nested `bundle exec`'s.

I'm kind of sensi

[2019-07-11 09:36] nleo commented on #6767
Also you can automate this with sed:

`sudo sed -i '/if sudo_needed/I,+2 d' /usr/local/lib/site_ruby/2.5.0/bundler.rb`

[2019-07-11 09:42] nleo commented on #7172
My workarounds  #6767
Maybe some day I use some hook to remove it on bundle installs

[2019-07-11 15:21] MSP-Greg commented on #7244
Actually, the failure is a result of bundler being installed as a default gem, so that really isn't a 'Ruby core' issue, it's just that core/trunk is the only place that happens.

I don't know what exactly the 'integration plans' are, but if RG and Bundler will be separate default gems as they are in trunk...

Regardless, this breaks trunk CI, and considering that a few times when I've suggested t

[2019-07-11 17:51] schneems commented on #7243
Seems good. From a Heroku standpoint, if the next version of 2.x can work across a Gemfile.lock with any other version of 2.x then we're good to go. I'll leave my failing test case unmerged and cherry-pick it into the PR when I update to the next version of Bundler 2.x in the buildpack.

[2019-07-11 22:24] indirect commented on #7243
@deivid-rodriguez can you remind me where we are at on removing the Bundler version locking/exceptions from RubyGems?

[2019-07-12 09:29] deivid-rodriguez commented on #7243
Hi @indirect! The last progress made here was to [remove hard errors about this inside bundler's code](https://github.com/bundler/bundler/pull/6996/commits/e1d534ae6f749d2ef976ea77d787914681be2b1a), because they should be caught by the rubygems version finder earlier anyways.

But the code in rubygems that chooses bundler versions is still there.

In my opinion, the easiest way to fix this, at lea

[2019-07-12 20:31] indirect commented on #7243
That also makes sense to me! Let’s start there, and we can evaluate whether removing the major check makes sense once we have the next major release ready.

[2019-07-13 13:40] MSP-Greg commented on #7244
@deivid-rodriguez

Just looked into this a little further (as opposed to while taking a break from a mess), and the issue is a result of a PR of yours.  Not being critical, as this is an edge case.  See https://github.com/bundler/bundler/commit/e742c3d5f458a4a59cf0eaab2567eca844f956d1 and #7100.

See PR #7248.

I may add a test for this in ruby-loco, as I've already got several 'CLI' tests...

[2019-07-13 19:09] ohboyd commented on #6882
Deleting the "BUNDLED WITH" section in my gemfile.lock solved another problem that I've been having for more than a day, so thanks for your response @olliebennett. I'm mentioning this here in case someone else is getting the error that I was.

[code]

I'm using ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18] and Bundler version 2.0.1 (2019-01-04 commit d7ad2192f). I couldn't deploy to

[2019-07-14 02:11] reireynoso commented on #6882
@ohboyd I am trying to deploy my rails api and I am getting the same exact error you had. I tried removing bundled with from my gemfile.lock file but it still returns the same error. I'm just curious, did you attempt anything else?

[2019-07-14 03:28] ohboyd commented on #6882
@reireynoso Hey I tried a TON of other things first. Are you getting the correct versions when you run all those commands that the error message wants you to try? I had an issue with the correct versions initially and I'm using rbenv, so I had to do some stuff in Xcode preferences to get the proper version there. If that's not something you're struggling with, I also had to use `RAILS_ENV=producti

[2019-07-14 04:22] reireynoso commented on #6882
@ohboyd Hey yeah i made a rookie mistake. I updated the versions on ruby and bundler but I wasn't committing it, so every time I pushed, it was reading the older versions. But in the end I didn't need to change the gemfile.lock. I just installed the latest version of ruby (2.6.3) and bundler (2.0.2).

[2019-07-15 12:44] vanburg commented on #7198
Beside that, is there a way to prevent re-writing/touching config file at all? Bundler re-writes config on each `bundle install` which may lead to another docker layer with only this changed file (in some setups). I'll tried to write-protect it, but this didn't help (as root):

Keeping it untouched in this case would be perfect...

[2019-07-15 18:56] deivid-rodriguez commented on #7243
Great, I'll take this next :+1:.

[2019-07-19 05:14] #7244 closed

[2019-07-19 16:09] darkodosenovic commented on #4133
👍

[2019-07-19 16:12] meowsus commented on #4133
I wrote @thetizzo into my will after this one.

[2019-07-21 20:31] MSP-Greg opened #7253 "Core testing - spec/bundler/source_spec.rb - 'out of sync' file"
@hsbt,

I wrote some code to see if the bundler 'update from upstream' could be automated (you may have the same) for ruby/ruby and the bundler default gem files, and ran the CI in Pipelines in my ruby/ruby fork.

In the Ruby CI, some of the specs in this file are 'pending', but the same doesn't happen with the copy here pushed into Ruby.

I really haven't looked at the code, nor an I familiar wit

[2019-07-22 10:26] GouthamSI commented on #5207
Follow their instructions
`
gem update --system
xcode-select --install
gem install nokogiri
bundle install
`

[2019-07-23 03:48] MSP-Greg opened #7254 "windows CI - appveyor build results"
Ran a build on appveyor using ruby-head, with jobs done by spec folder.  It may make it easier to see patterns in the failures/errors, etc.  I increased the failure limit from 25 to 100 and man pages were generated.

I believe the two worst folders were 'commands' at 97 and 'install' at 100.  Most were much lower.

See:

https://ci.appveyor.com/project/MSP-Greg/bundler/builds/26169083

I'm not rea

[2019-07-23 13:10] deivid-rodriguez commented on #7254
Hi @MSP-Greg.

We already have [a Windows build](https://dev.azure.com/bundler/bundler/_build?definitionId=1) and we are aware of the failures. We just need to work on them.

So I'm going to close this issue if that's ok with you.

Thanks for trying this though!

[2019-07-23 13:13] deivid-rodriguez commented on #7253
These specs are no longer skipped everywhere since https://github.com/bundler/bundler/pull/7002. They are excluded from the Windows build though.

So I think this can be closed?

[2019-07-23 14:06] MSP-Greg commented on #7253
Ok.  Bundler is a default gem in Ruby Core, but the files are not synced often.

As I stated, Ruby Core tests itself with the bundler specs with MacOS.  This is done in an Azure Pipeline build, tested on Ubuntu & MacOS (not sure about versions).

There is no testing here on MacOS.  When I moved the current Bundler files into Core and tested them in my fork, something was amiss with this file, as t

[2019-07-23 14:10] MSP-Greg commented on #7254
Good day David (prefer David or Deivid?)

I'm aware of the Pipelines build here.  I wasn't sure how the man pages affected things, and they're easy to generate on Appveyor.  Grouping by spec folder also may make the results easier to inspect.

Just thought this might be helpful.  Ok to close.

[2019-07-23 14:13] deivid-rodriguez commented on #7253
Can you show the actual errors? Maybe those tests are actually failing on MacOS, since I don't use MacOS nor Travis, so maybe I introduced this issue unintentionally.

[2019-07-23 14:28] MSP-Greg commented on #7253
I certainly make my share of mistakes, but in this instance...

There's a few reasons I prefer Appveyor over Pipelines.  One is that linking to a specific place cannot always be done in Pipelines.

Anyway, here's my test with updated bundler:
https://dev.azure.com/MSP-Greg/ruby-core/_build/results?buildId=308

Here's a test without the update:
https://dev.azure.com/MSP-Greg/ruby-core/_build/result

[2019-07-23 14:56] deivid-rodriguez commented on #7253
Yes, you can :) https://dev.azure.com/MSP-Greg/ruby-core/_build/results?buildId=308&view=logs&jobId=66a08ec6-e709-53e0-033b-61f532a2f672&taskId=d0922d77-2365-53f7-a78c-24885f7003fb&lineStart=82&lineEnd=116&colStart=1&colEnd=1

https://dev.azure.com/MSP-Greg/ruby-core/_build/results?buildId=308

It sounds like I broke this in #7002 indeed. The Azure environment doesn't seem to support ANSI escape s

[2019-07-23 15:08] deivid-rodriguez commented on #7254
Both are good :)

Thanks @MSP-Greg!

[2019-07-23 15:08] #7254 closed

[2019-07-23 15:35] MSP-Greg commented on #7253
Thanks, right click in the window...

I forgot that the Ubuntu build is indeterminate (because it's output is failing, but that may be due to ANSI escape sequences), so it may have the same failures as macOS...

[2019-07-23 20:56] #6905 closed

[2019-07-24 08:45] SolaWing opened #7262 "update's lock file order should same with install"
after bundle update, though the dependency not change, the path order is change. this make me have to run install to ensure the order consistency and avoid unneccesary commit
![图片](https://user-images.githubusercontent.com/3897953/61778856-22fb4080-ae32-11e9-8e9e-f0c8c56a5e87.png)

[2019-07-24 09:33] deivid-rodriguez commented on #7262
This is unexpected, can you show the result of `bundle env`, and ideally a way to reproduce this?

[2019-07-24 09:41] SolaWing commented on #7262
## Environment

[code]

## Bundler Build Metadata

[code]

I will try to reproduce it in a demo project

[2019-07-24 09:59] SolaWing commented on #7262
Reproduce Steps:
bundle gem demo
cd demo
bundle gem aaa
bundle gem subgem
# in demo's Gemfile, specify
[code]
# modify gemspec to make bundle update happy.
bundle update
# commit lock file
bundle install
# bundle update and install have different order

here is the result files
[demo.zip](https://github.com/bundler/bundler/files/3426137/demo.zip)

[2019-07-24 10:06] deivid-rodriguez commented on #7262
Reproduced, thanks! I'm going to have a look :+1:.

[2019-07-24 14:15] deivid-rodriguez commented on #7262
The problem is due to using relative paths starting with `./`. I'm working on a fix now, but you can workaround the problem by using `aaa` and `subgem`, instead of `./aaa` and `./subgem`.

[2019-07-24 20:31] deivid-rodriguez commented on #7262
#7264 should fix this!

[2019-07-26 07:13] #6801 closed

[2019-07-29 08:30] #7243 closed

[2019-07-30 01:47] d-hat commented on #6501
This issue was assigned CVE-2019-3881.

Debian has patches relating to this issue:

https://sources.debian.org/src/bundler/1.17.3-3/debian/patches/0005-Don-t-use-insecure-temporary-directory-as-home-direc.patch/
https://sources.debian.org/src/bundler/1.17.3-3/debian/patches/0006-Remove-temporary-home-directories.patch/

[2019-07-30 17:16] rbroemeling commented on #6248
As an addendum: bundler is completely breaking the common path for exception trackers with this, as well. As an example, the Bugsnag gem installs an `at_exit` handler to catch uncaught exceptions. I just spent ~2 hours tracking down why it wasn't working, and ended up at exactly this code path -- the "disguising" of the exception as a `SystemExit` exception effectively hides it from Bugsnag.

[2019-07-30 18:50] rbroemeling commented on #6248
For what it's worth, the simplest test case that I've come up with to demonstrate this issue is this:

[code]

If you put that in a file, `chmod +x` it, and then run it with/without `bundle exec`, the reported exception class is `ZeroDivisionError` when running _without_ `bundle exec`, and `SystemExit` when running _with_ `bundle exec`.

[2019-08-02 17:07] clemensutschig opened #7270 "Openshift - jenkins :: The underlying system error is Errno::EPERM: Operation not permitted @ apply2files"
current user can cat / touch files in
/home/jenkins/.bundle/cache/compact_index/rubygems.org.443.29b0360b937aa4d161703e6160654e47` and also cat versions ...

this is surely NOT an access issue ...

+ TMPDIR=/tmp/test
+ cd /tmp/workspace/pltfmdev-cd/pltfmdev-cd-docker-infrastructure-master
+ BUNDLE_SILENCE_ROOT_WARNING=true
+ bundle install --verbose --jobs=4
Running `bundle install --jobs 4 --verb

[2019-08-02 17:10] clemensutschig commented on #7270
cd /tmp/workspace/pltfmdev-cd/pltfmdev-cd-docker-infrastructure-master (the current working directory) was check'ed out by the same user and he has full read / write rights.

I believe (after working with ruby for some time now) - that the err message is again completely misleading...

[2019-08-02 17:15] clemensutschig commented on #7270
this is the output of
+ bundle config
Settings are listed in order of priority. The top value will be used.
+ bundle version
Bundler version 1.17.2 (2018-12-19 commit 3fc4de72b)

[2019-08-02 17:35] clemensutschig commented on #7270
bundle check before:

+ bundle check --verbose
Found no changes, using resolution from the lockfile
The following gems are missing
 * concurrent-ruby (1.1.4)
 * i18n (1.5.3)
 * thread_safe (0.3.6)
 * tzinfo (1.2.5)
 * activesupport (5.2.2)
 * public_suffix (3.0.3)
 * aws-sigv4 (1.0.3)
 * aws-sdk-core (2.11.217)
 * aws-sdk-resources (2.11.217)
...

not chatty either on what's wrong ...

[2019-08-02 18:26] #7178 closed

[2019-08-02 18:27] clemensutschig commented on #7270
installation of ruby:

HOME = /home/jenkins

RUN cd $HOME \
    && git clone https://github.com/rbenv/rbenv.git .rbenv \
    && echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bash_profile \
    && echo 'eval "$(rbenv init -)"' >> ~/.bash_profile \
    && source ~/.bash_profile \
    && git clone https://github.com/rbenv/ruby-build.git ~/.rbenv/plugins/ruby-build \
    && echo 'export PATH="$HOM

[2019-08-02 18:28] clemensutschig commented on #7270
gem env / rbenv output:

+ gem info bundler
bundler (2.0.2, 1.17.2)
    Authors: Andr�� Arko, Samuel Giddins, Colby Swandale, Hiroshi
    Shibata, David Rodr��guez, Grey Baker, Stephanie Morillo, Chris
    Morris, James Wen, Tim Moore, Andr�� Medeiros, Jessica Lynn Suttles,
    Terence Lee, Carl Lerche, Yehuda Katz
    Homepage: https://bundler.io
    License: MIT
    Installed at (2.0.2): /home/j

[2019-08-03 01:03] hsbt opened #7271 "newgem_spec.rb was broken with Ruby 2.7"
I merged e1c518363641208429f397170354054b3d28effd into ruby/ruby at https://github.com/ruby/ruby/commit/0bd1cd677f769ac6128989bf1d021753698fdaac.

But newgem_spec.rb was broken with Ruby 2.7 same as https://travis-ci.org/rubygems/rubygems/jobs/567144945#L512

It's maybe caused `eval` with `path.expand_path.to_s` arg on https://github.com/bundler/bundler/blob/master/lib/bundler.rb#L575. But I didn'

[2019-08-03 01:37] mame commented on #7271
I could repo without bundler, so bundler is innocent :+1:  I'll file a ticket into ruby-core bug tracker.

[2019-08-03 03:32] deivid-rodriguez commented on #7271
I'm happy to have a look too. I'll start by trying to reproduce it, thanks for reporting this!

[2019-08-03 04:55] hsbt commented on #7271
We addressed this https://bugs.ruby-lang.org/issues/16041

[2019-08-03 05:27] hsbt commented on #7271
Fixed at https://github.com/ruby/ruby/commit/5931857281ce45c1c277aa86d1588119ab00a955

Thanks @nobu

[2019-08-03 05:27] #7271 closed

[2019-08-03 10:15] deivid-rodriguez commented on #7271
Nice, thanks everyone!

[2019-08-03 11:11] mjgs opened #7273 "bundler doesn't install from rubygems.org - tlsv1 alert protocol version"
I am seeing some sort of tls connection error when installing:

[code]

Debug output:

[code]

I am able to download the file mentioned in the error message using curl:

[code]

Why is the gem install bundler command erroring?

[2019-08-03 16:47] clemensutschig commented on #7270
after debugging this for a day - the problem seems to be chmod? permission issues on the versions file ..

the fix is pretty simple - make this file be owned by the current user ... and voila it works

[code]
the interesting question is what is the `.gem` dir actually for? and how com - if I specify `GEM_HOME` as env variable before initial isntallation - this dir is still created .. questions all

[2019-08-05 12:26] Skeeterdrums commented on #5021
@will-in-wi was there any change needed in your deployment to get this setup to work? We're seeing a similar issue when running a `bundle update` from two nodes running at the same time:

[code]

My best guess is that we'll need to axe the file mount and use a local (to the job) file store instead.

[2019-08-05 17:30] ZainRizvi opened #7279 "Bundler not elevating to sudo when it needs access"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/bin/bundle `

- **What did you expect to happen?**

  I expected Bundler to install my gems

- **What happened instead?**

  Instead,

[2019-08-05 23:07] #7262 closed

[2019-08-06 11:20] will-in-wi commented on #5021
@Skeeterdrums I am no longer at that job and I'm not sure i remember exactly what happened… If I recall correctly, upgrading Bundler fixed it. I know that within a year or two of filing this ticket, we rebuilt our server infrastructure to use per-app users without a shared NFS home directory.

My guess is that your problem is related but different…

[2019-08-06 23:18] micfoxii opened #7282 "Bundler Error"
`Invalid gemspec in [/home/micfoxii/.rvm/gems/ruby-2.6.1/bundler/gems/database_cleaner-a8d68a8b253d/database_cleaner.gemspec]: No such file or directory @ rb_sysopen - VERSION.yml
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What d

[2019-08-08 03:03] HellRok commented on #6626
To get around this I've just run this command instead, it takes longer but does the trick

`bundler outdated --parseable | while read -r gem versions ; do bundle update $gem --minor --local; done`

[2019-08-08 17:12] deivid-rodriguez commented on #5467
Closed by https://github.com/bundler/bundler/pull/6120. Will be released with bundler 2.1.0.

[2019-08-08 17:12] #5467 closed

[2019-08-09 18:07] deivid-rodriguez commented on #7282
Do you have a `VERSION.yml` file at `/home/micfoxii/.rvm/gems/ruby-2.6.1/bundler/gems/database_cleaner-a8d68a8b253d/VERSION.yml`? You probably should, but apparently you don't... :thinking:.

[2019-08-10 12:30] lizthegrey opened #7289 "Bundler error within Chef (not in gzip format)"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/opt/chef/embedded/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to install chef's dependencies.

- **What happened instead?**

  Instead, what happened was that bundler failed to install chef'

[2019-08-10 15:29] rgaufman commented on #6784
I can't seem to use the temp solution. Any ideas?

[code]

Any ideas??

[2019-08-10 18:50] ice1000 commented on #6227
For me, `rm Gemfile.lock` and rerun `bundle install` solves the problem

[2019-08-10 23:00] jethrodaniel opened #7292 "[feature-request] add minitest-spec test option for gem command"
I often use minitest spec with new gems, and find myself manually converting the `--test=minitest` setup from `bundle gem` into a spec format.

It'd be nice if we could use `bundle gem --test=minitest-spec` to do this automatically.

PR: https://github.com/bundler/bundler/pull/7291

[2019-08-10 23:04] jethrodaniel commented on #7292
Added `[feature-request]` to the title because Github won't let me add the label.

[2019-08-11 20:13] deivid-rodriguez commented on #7292
I'm good with adding this feature, personally.

[2019-08-14 12:51] bernikovich opened #7299 "Question about Azure"
Is it possible right now to use `bundler` in `Azure Pipelines`?

[2019-08-14 13:51] deivid-rodriguez commented on #7299
Yes, of course.

To use ruby, here you have some docs: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-ruby-version?view=azure-devops

Once you have ruby in your pipeline, in order to use bundler, you just have to install it with `gem install bundler`.

[2019-08-14 13:55] deivid-rodriguez opened #7300 "Deprecate `--path` option to `bundle check` and `bundle cache`"
Just like we're deprecating `bundle install --path` and always rely on configuration, we should deprecate these flags too.

[2019-08-14 14:05] bernikovich commented on #7299
@deivid-rodriguez I'll try adding `bundler` this way. Thanks.

[2019-08-14 14:14] deivid-rodriguez commented on #7299
Ok, let me know if you run into issues!

[2019-08-14 14:14] #7299 closed

[2019-08-14 14:49] bernikovich commented on #7299
I don't know how does MS search work on their website, but I just found an article (https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/ruby?view=azure-devops) which contains following steps:
[code]
[code]

[2019-08-15 10:11] #7198 closed

[2019-08-15 18:38] andibachmann opened #7304 "`bundle exec rails db:create` fails with because wrong version was already loaded"
The Gemfile's dependencies are satisfied
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/bachmann/.rbenv/versions/2.6.3/bin/bundle doctor`

- **What did you expect to happen?**

  I expec

[2019-08-15 18:44] andibachmann commented on #7304
So sorry! it's a bug.

https://superuser.com/questions/1406510/rails-server-gem-load-error-sqlite3

I.e., in the Gemfile add sqlite3 like this:
[code]

[2019-08-15 18:44] #7304 closed

[2019-08-16 16:12] #4436 closed

[2019-08-17 23:30] #6820 closed

[2019-08-18 15:38] mjgs commented on #7273
I got this working by installing ruby from source.

[2019-08-18 19:04] deivid-rodriguez opened #7315 "Regression related to platforms"
Against current ransack's master (https://github.com/activerecord-hackery/ransack/commit/4e148cc0bfc54a95ed64c76e1b92ee43c8f1d1a4), on a fresh clone, using ruby 2.6 and bundler's master.

[code]

It's incorrectly taking in consideration only the platform specific gems (even if none of them is my platform), and ignoring the "ruby" version, which does not have an upper bound on the required ruby.

U

[2019-08-18 21:35] deivid-rodriguez commented on #7315
This is indeed caused by #7215. The problem is that, although I didn't realize, we're probably not ready for this yet.

Doing what #7215 implemented means to push every platform issue bundler currently has onto every user. In this specific case, we're problably running into one of the issues mentioned in https://github.com/bundler/bundler/pull/6247. But since now we always resolve all Gemfiles, fo

[2019-08-19 04:57] MarcSteven opened #7316 "Bundler could not find compatible versions for gem "railties""
I update the rails6.0 and then it always showed this error:

[2019-08-19 15:23] noraj opened #7318 "External dependencies required in gemspec not fetched when using a PATH"
## Description

### TL;DR

- :heavy_check_mark: (`bundle config --delete path`) & `bundle install`
- :x: `bundle install --path vendor/bundle`
- :x: `bundle install --path vendor/bundle` & `bundle install`
- :x: `bundle config --local path 'vendor/bundle'` & `bundle install`

PS : be careful to delete path (`.bundle/config`) between each test

### Details

Having an external dependency in a gemspe

[2019-08-19 22:13] Blake-LeBlanc opened #7320 "rvm hangs on importing global gemsets during `rvm reinstall all --force`"
I'm in the process of upgrading from Ruby 2.4.1 to 2.6.3, and it failed during the gemset migration process.

So, borrowing some insights from other threads, I'm in the process of running the following:

[code]

The process appeared to get "stuck" during "importing gemset `~/.rvm/gemsets/global.gems`. I waited for close to 40 minutes before I decided to take a look at the log files to see if anyth

[2019-08-20 01:57] Blake-LeBlanc commented on #7320
My apologies, just realized I posted this to the wrong repo!

[2019-08-20 01:57] #7320 closed

[2019-08-21 16:45] katyp commented on #7019
@calaway, I ran `spring stop` and voila! `rails c` is back up and at it! Thank you. Glad you posted your guess.

[2019-08-22 16:36] zw963 opened #7323 "Gemfile and Gemfile.lock created by bundler 2.0.1, not worked with 2.0.2"
I have a pair Gemfile and Gemfile.lock which created by bundler 2.0.1.

when i try to bundle install in docker container after a while. use following command

[code]

bundler 2.0.2 is installed by default, and when run install, get following error message:

[code]

But those config is worked  when install run 2.0.1 exactly.

[code]

i don't ensure bundler if match the semantic version, if not matc

[2019-08-22 17:54] neriojnavea commented on #7282
I'm getting the same error. Did you were able to fix it?

[2019-08-22 21:43] brlanier commented on #7323
I ran into the same issue when using a Gemfile.lock created with 1.16.1 and then recreated under 1.17.3. Using bundler 2.0.2 runs into this error. Downgrading to bundler version 2.0.1 seems to work fine.
[code]
The only thing I noticed is the revision/branch info seems different in the output. Goes from just `branch` to `branch@revision`. Apologies if I am using the incorrect terms there.

In my c

[2019-08-23 08:20] #6930 closed

[2019-08-23 12:23] shaicoleman opened #7325 ""You must use Bundler 2 or greater with this lockfile." when uninstalling bundler 1.x"
I'm trying to uninstall the old version of bundler that is bundled with ruby 2.6.3
I'm doing it both to reduce the deployment size, and for security compliance reasons.
Once I mark 1.17.3 as not default or uninstall it, it stops working.

[code]

[code]

[code]

Ruby 2.6.3, built with ruby-build as user
Rails 5.2.3
Bundler 2.0.2 and the default 1.17.3

[2019-08-23 20:42] hsbt commented on #7325
It's the specification. You couldn't uninstall the default gems and upgrade the version of default gems without ruby installation.

[2019-08-23 23:14] #7325 closed

[2019-08-23 23:17] shaicoleman commented on #7325
The problem was not removing leftovers from older version, not a problem with bundler

[2019-08-24 10:00] rulingcom-debug commented on #5569
In fact, I met the similar issue with sass-rails.
"
Bundler could not find compatible versions for gem "rack":
  In Gemfile:
    rails (~> 4.1.0) ruby depends on
      railties (= 4.1.0) ruby depends on
        actionpack (= 4.1.0) ruby depends on
          rack (~> 1.5.2) ruby

    sass-rails (~> 4.0.2) ruby depends on
      sprockets (<= 2.11.0, ~> 2.8) ruby depends on
        rack (1.0.0)
"
Bun

[2019-08-24 10:11] ThomasOwens commented on #4550
I'm just curious if anyone has started work on this or has any thoughts. From a security perspective, having a checksum per gem (all the way down the dependency tree) specified would give greater confidence that the gem downloaded on one environment is the exact same gem downloaded and installed on another environment. As others have mentioned, it would also be helpful to link a version of a gem t

[2019-08-24 14:26] zw963 commented on #7323
@banyan , i still not test my Gemfile if worked after change `github:` to `git`, but, all my those changed gem is use `github: ????` syntax.

[2019-08-24 17:35] rulingcom-debug opened #7326 "Cannot resolve dependencies of rails and sass-rails"
Yesterday, when I tried to execute bundle install to re-install my site,
a serious  error occurred. The bundler cannot resolve the dependencies of rails and sass-rails.

[code]

Bundler version 1.7.2
Ruby ruby 2.1.2p95

Can any one  give me some suggestions? Thank you very much,

[2019-08-24 18:51] rg-3 opened #7327 "Potential security hole in Bundler."
When installing a new gem using `gem install foo` a confirmation prompt will be shown in case `foo` overwrites the bin script of another gem that's already installed.

Bundler on the other hand doesn't show a confirmation prompt, and overwrites bin scripts without telling the user.

This is a problem because malicious gems could hijack the bin scripts of other gems, opening up a bag of worms. I su

[2019-08-25 02:41] LUHUIBIN opened #7328 "run bundle install error"

[2019-08-25 02:46] LUHUIBIN commented on #7328
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/hb/.rvm/gems/ruby-2.6.3/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

[2019-08-25 02:48] LUHUIBIN commented on #7328
don't know how to do,looking for help

[2019-08-25 04:45] rulingcom-debug commented on #7326
The Gemfile:

source 'https://rubygems.org'

#social gems
gem "omniauth-google-oauth2"

#rails gem
gem 'rails', '~> 4.1.0'
gem 'sanitize'

#assets and templates
gem 'sass-rails', '~> 4.0.2'
gem 'uglifier', '>= 1.3.0'
gem 'coffee-rails', '~> 4.0.0'
gem 'jquery-rails'
gem 'jquery-ui-rails', "5.0.0"
gem 'turbolinks'
gem 'normalize-rails', '~> 3.0.1'

#password
gem 'bcrypt-ruby', '~> 3.1.5'

#json
gem

[2019-08-25 18:43] rulingcom-debug commented on #7326
It seems that sprockets ruby depends upon rake just 1.0.0. Is it possible to resolve this issue? Thank you very much.

[2019-08-26 16:21] yellow444 opened #7330 "Error brew style"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/yello/.gem/ruby/2.6.0/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

[2019-08-26 17:46] rg-3 commented on #7327
I opened a PR to fix the issue in riif:
https://github.com/linjunpop/riif/pull/40

It would be great to have this fixed in Bundler so other cases are covered.

[2019-08-26 18:29] deivid-rodriguez commented on #7327
I wonder whether bundler should install rubygems binstubs at all? Maybe it shouldn't?

[2019-08-26 18:32] rg-3 commented on #7327
Probably should, because when gems are installed into the system gem set i'd expect them to be functional and include their executables. I'd also expect `bundle exec` to continue to be functional.

[2019-08-27 11:01] Dyaniyal commented on #2204
l

[2019-08-27 11:03] leomao10 opened #7331 ""bundle update" doesn't update gem to latest patch version"
Here is the repo I created to reproduce the issue:
https://github.com/leomao10/test_bundler

## What happen
When I use `bundle update stackdriver`, it only update its depending gem `google-cloud-logging` to latest minor version which is `1.6.0`, but not the latest patch version which is `1.6.7`.

Run `bundle update stackdriver` again will update `google-cloud-logging` to latest patch version.

Als

[2019-08-27 14:04] #7300 closed

[2019-08-28 20:03] docljn commented on #6916
Hello @anup1710 were you able to solve this issue with your gems?

[2019-08-29 16:18] kaikuchn opened #7335 "Update Gem Task Release to handle multi-factor authentication"
Hi,

I just activated multi-factor authentication on rubygems recently. When using gem commands to push I now need to either pass an OTP via flag or reply to the challenge. [See their guides](https://guides.rubygems.org/using-mfa-in-command-line/).

It'd be awesome if the `release` task would ask me to provide the OTP if rubygems requires it.

Best regards,
Kai

[2019-08-29 20:39] Thegrtn commented on #4133
![Thank You, @thetizzo ](https://media.giphy.com/media/IcGkqdUmYLFGE/giphy.gif)
**_@thetizzo_**

[2019-08-29 23:18] hsbt opened #7336 "Randomly failed in ubuntu vm of GitHub Actions"
I test bundler examples every commits in https://github.com/ruby/ruby.

I got test failure only ubuntu VM randomly.

[code]

https://github.com/ruby/ruby/runs/207405029#step:10:82

I'm not sure why it's happened. Does anyone have the idea related to this?

[2019-08-30 07:04] nobu commented on #7336
Probably fixed by ruby/ruby@b870ca58791e576f5dbb263f54ae433a7f6d65ee.

[2019-09-01 01:58] mattbrictson opened #7338 "2.1.0.pre.1: `bundle clean` tries to delete non-existent directory, crashes"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

I created a Gemfile that contains only this:

[code]

Then I ran the following:

[code]

So now I have a Gemfile and Gemfile.lock with a single development gem.

Then I configured bundler to _exclude_ development gems:

[code]

And ran `bundle inst

[2019-09-01 07:57] deivid-rodriguez commented on #7338
I @mattbrictson, thanks for the clear report.

We fixed an issue recently where git gems with extensions were _not_ being cleaned up (https://github.com/bundler/bundler/pull/7059) and this seems like a regression caused from that fix (or at least an issue uncovered by it).

In any case, I'll fix this!

[2019-09-01 08:20] deivid-rodriguez commented on #7335
Which bundler version are you using? I think this should be properly working in both 2.0.2 and 2.1.0.pre.1.

[2019-09-03 13:05] rodrigouchoa commented on #4260
For anyone who comes across this issue, what solved for me was simply correcting the order of the path variable. I had to put `/usr/local/opt/ruby/bin` before `/usr/local/bin`:

`export PATH=$JAVA_HOME/bin:/usr/local/opt/ruby/bin:/usr/local/bin:$PATH`

[2019-09-03 23:48] aroojahmad opened #7341 "Resolving actionpack issue"
Bundler could not find compatible versions for gem "actionpack":
  In Gemfile:
    actionpack (~> 6.0)

    routing-filter (~> 0.6.2) was resolved to 0.6.2, which depends on
      actionpack (>= 4.2, < 6)

If you change action pack from 6.0, then a lot more stuff is not compatible.

[2019-09-03 23:49] aroojahmad commented on #7341
Gemfile

source 'https://rubygems.org'
git_source(:github) { |repo| "https://github.com/#{repo}.git" }

ruby '2.6.4'

# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
#gem 'rails', '~> 6.0'
# Use sqlite3 as the database for Active Record
gem 'sqlite3', '~> 1.4'
# Use Puma as the app server
gem 'puma', '~> 3.11'
# Use SCSS for stylesheets
gem 'sass-rails', '~> 6.0'
# Transpile app-li

[2019-09-04 16:57] #7338 closed

[2019-09-04 21:39] docljn commented on #6026
Hello the team. As part of code triage I'm looking at old open issues and trying to understand what the next steps should be.

@segiddins and @hurricup my understanding is that `bundle check` confirms that the dependencies of the Gemfile are satisfied, where `bundle install` rewrites the Gemfile.lock to match the current Gemfile.

Is this issue still relevant?  Thanks.

[2019-09-05 06:04] deivid-rodriguez commented on #6026
Hi!

I don't think this is an issue, the `bundle check` behavior described in this ticket seems correct to me, like @segiddins pointed out.

[2019-09-05 13:20] eebbesen opened #7345 "Specifying bundler version with underscores but still getting latest installed version"
Per https://stackoverflow.com/questions/56880223/using-multiple-bundler-versions, https://github.com/rbenv/rbenv/issues/235, et. al. using underscores around the version number should allow me to use different bundler versions on my machine. However, this is not working for me.

When I specify a bundler version that I _don't_ have installed bundler correctly complains though, so it seems to be ver

[2019-09-05 18:14] docljn commented on #6026
Thank you @deivid-rodriguez - are you able to close this issue, then?

[2019-09-06 01:14] hsbt commented on #7336
Fixed at https://github.com/bundler/bundler/pull/7344

[2019-09-06 01:14] #7336 closed

[2019-09-06 04:02] ajorgensen opened #7346 "Bundler cannot add multiple gems from the same git source"
I've created a POC project for this behavior (https://github.com/ajorgensen/bundler-poc) but I will also summarize the behavior here.

Essentially if you have a `Gemfile` with multiple gems coming from the same git source but with different subfolders then `bundle install` will error out because it cannot find the dependency. The most simple example I could come up with was:

[code]

Running `bund

[2019-09-06 08:47] #6026 closed

[2019-09-07 11:42] npupko opened #7347 "Use single-quoted strings when 'bundle add gem'"
I think it's nice to use single-quoted strings when we don't need string interpolation or special symbols.
I.e. now it works like:
[code]
And the result will be

`Gemfile`:
[code]

It's better to:

`Gemfile`:
[code]

I can do it if you will found it useful.

[2019-09-07 16:36] yu-coder opened #7348 "bundle version not working"
Hi, I have installed bundler 1.9.6

[code]

But when I check bundle version, it shows error like this.
[code]
I am not sure whey it shows this error.
Hope anyone help me.
Thank you.

[2019-09-07 16:59] yu-coder commented on #6537
Hi, I am getting same issue.
I have installed bundler 1.9.6

[code]

But when I check bundle version, it shows error like this.
[code]
I am not sure whey it shows this error.
Hope anyone help me.
Thank you.

[2019-09-07 16:59] yu-coder commented on #7348
duplicated with https://github.com/bundler/bundler/issues/6537

[2019-09-07 16:59] #7348 closed

[2019-09-07 17:59] yu-coder opened #7349 "can't downgrade bundler version"
When I check the all installed **bundler** version, I see this list.

[code]
I am going to use version 1.9.6 but when I try to uninstall 1.17.3 -

[code]
How can I use **1.9.6**?

[2019-09-09 00:02] hsbt commented on #7347
It's the standard style of bundler

https://github.com/bundler/bundler/blob/master/.rubocop.yml#L752

And single quotation is not affected with performance improvement.

https://www.viget.com/articles/just-use-double-quoted-ruby-strings/

[2019-09-09 00:02] #7347 closed

[2019-09-09 06:41] fuzzygroup commented on #6563
I too would like to know the fix for this.  I noticed that this only started happening for me after I updated bundler to Bundler version 2.1.0.pre.1

[2019-09-09 11:38] deivid-rodriguez commented on #6563
This issue was closed by a related PR. If you're having a similar issue on the latest bundler prerelease, could you please open a new issue with reproduction steps? Thanks!

[2019-09-09 18:58] #7341 closed

[2019-09-10 08:32] deivid-rodriguez commented on #7346
Thanks for the clear report @ajorgensen. It looks like a bug to me, yeah!

[2019-09-10 12:49] thbar commented on #6248
This has been solved partially by #629, but some occurrences are still present:
- https://app.bugsnag.com/mystery-applicant/ma-etl/errors/5d6fc7bc378d610019b982cb?filters[error.status][0]=open&filters[event.since][0]=30d

I've notified Bugsnag themselves.

Presumably this error will get solved at some point, but keeping it opened as still relevant.

[2019-09-10 16:51] vishalsaroch opened #7351 "Bunddel Installation"
unfortunately , an unexpected error, and blunder cannot continue

[2019-09-10 18:15] danlo commented on #6767
https://stackoverflow.com/questions/16376995/bundler-cannot-install-any-gems-without-sudo

[2019-09-11 00:52] hsbt commented on #7351
We only accept bug reports and pull requests on GitHub. [StackOverflow](https://stackoverflow.com) may helps you.

[2019-09-11 00:52] #7351 closed

[2019-09-11 10:44] nates-dennis opened #7352 "Not able to run bundle install/update/exec"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/Cellar/ruby/2.6.3/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to install the gems from source in the Gem file

- **What happened instead?**

  Instead, what happened was that there

[2019-09-11 10:59] nates-dennis commented on #7352
I am able to run the above commands when i specify the path on bundle install now it works but i want to work without specifying a path

[2019-09-11 21:23] artis3n opened #7354 "[Ubuntu/Docker] bundle 2 refuses to run"
I have a Dockerfile set up like the following:

[code]

Someone please explain this to me:

[code]

I do not understand.
[code]

I need to use ruby 2.3.5 as I'm setting up someone else's project that is still bound to 2.3.x. What breaks me is that running `gem install bundler` seems to install version 2.0.2, except the binary is 1.16.0.

Adding `RUN gem update --system` brings both packages to `Bu

[2019-09-11 21:36] artis3n commented on #7354
Removing the `Gemfile.lock` and having bundle install off of the `Gemfile` seems to work, but that seems..wrong.

[2019-09-11 22:25] artis3n commented on #7354
Project seems stable on 2.3.8 until I can convince them to upgrade to a non-EOL ruby version, I'm closing as this issue affects ruby 2.3.x which is EOL 🤷‍♂

[2019-09-11 22:25] #7354 closed

[2019-09-14 20:44] Rodion8888 opened #7356 "isable-shared-gems"

[2019-09-14 22:38] #7356 closed

[2019-09-15 09:22] irohiroki commented on #6160
so bundler needs http proxy, not socks5 proxy. here's how I made it work:

1. installl and setup [Privoxy](https://www.privoxy.org/). It's originally a http proxy, but can be used as an adapter to socks5 proxy (or dynamic-forwarding ssh tunnel.) [Superuser.com has an exact answer](https://superuser.com/a/1064852) to how it should be configured.
2. set http_proxy env variable. e.g. `export http_pro

[2019-09-15 20:00] tony13tv commented on #2029
In the meantime you could remove password from key: `ssh-keygen -p`

[2019-09-18 16:37] jyfcrw commented on #5472
I also encountered this issue and wasted several hours to try different solutions, change bundler config, reinstall bundler, reinstall ruby and rvm, upgrade gem, etc. Finally, when I was brushing my tooth at mid-night, I realized the key point. for my case, the answer is in this sentence 'The gemspecs for path gems changed'. I have a gem with relative path in my gemfile, one team member updated th

[2019-09-20 23:14] andrewhavens commented on #7335
I'm also running into this issue. I try using the rake task and it hangs, but it never prompts me to enter my OTP, but if I use `gem push` then it works. `gem -v` shows 3.0.6

[2019-09-21 08:18] deivid-rodriguez commented on #7335
Which `bundler` version (`bundle -v`)? This should be fixed in both 2.0.2 and 2.1.0.pre.2.

[2019-09-23 07:25] baelter commented on #6836
Just stepped on this mine and got my leg blown off :(

[2019-09-23 16:51] andrewhavens commented on #7335
As for me, in this project it looks like 1.17.3

[2019-09-24 12:33] hsbt opened #7363 "RubyGems test was broken with bundler master"
I'm not sure why rubygems tests were failed with bundler master.

https://travis-ci.org/rubygems/rubygems/jobs/588913478

@deivid-rodriguez Do you have any idea related to this?

[2019-09-24 13:00] deivid-rodriguez commented on #7363
Yeah, it's most likely #7359, I think using the binstubs in the bundler repo _should_ fix it. Let me open a PR.

[2019-09-25 01:38] #7363 closed

[2019-09-25 08:29] #7345 closed

[2019-09-25 08:29] #7349 closed

[2019-09-25 13:41] eebbesen commented on #7345
Cheers @deivid-rodriguez!

[2019-09-25 13:42] deivid-rodriguez commented on #7345
No problem!

[2019-09-25 17:23] PabloUC3M opened #7366 "https://github.com/bundler/bundler/search?q=Not+a+directory+%40+rb_sysopen+-+%2Fhome%2Fpablo%2Fworldcubeassociation.org%2FWcaOnRails%2Fbin%2Fyarn%2Fbundler.lock&type=Issues"

[2019-09-25 20:33] #7366 closed

[2019-09-26 13:44] kaiten-mahajan-coinfield opened #7367 "no space left"

[2019-09-26 13:44] #7367 closed

[2019-09-27 14:22] mvz opened #7369 "Bundler on JRuby refuses to use java version of jaro_winkler"
I'm at a loss here. I'm trying to run bundler for [reek](https://github.com/troessner/reek) on JRuby 9.2.6.0 and 9.2.8.0, and it tries to install `jaro_winkler`:

[code]

However installing `jaro_winkler` directly works, and it installed the java version:

[code]

After installing the java version like that, bundler still tries to install the non-java version when I run bundle install.

[2019-09-27 15:07] deivid-rodriguez commented on #7369
Thanks for reporting, that's weird. I'll have a look at soon as possible.

[2019-09-27 17:29] duckinator commented on #7169
So, 3 months later with new computer, and running Fedora 30 instead of Fedora 29. Unfortunately still not working.

Various version information:

[code]

<details>
<summary>`gem env`</summary>

[code]

</details>

---

First, I tried `bin/rake spec:deps`, but needed to install rake ~> 12.0. I did that, and then was able to run spec deps.

<details>
<summary>Logs from initial `bin/rake spec:deps`,

[2019-09-28 18:15] deivid-rodriguez commented on #7169
On a pristine run of the tests (after `rm -rf tmp/`), you should get the following output, which means that the test dependencies are getting installed:

[code]

If you're not getting this output, it sounds like at least we know where the problem is, and that's consistent with what you say about the `builder` gem being missing.

[2019-09-29 05:15] jivKrishna opened #7371 "Can anyone resolve this issue?"
https://github.com/zquestz/omniauth-google-oauth2/issues/375

[2019-09-29 05:15] jivKrishna commented on #7371
-

- [ ]

1.

-

[2019-09-29 05:15] #7371 closed

[2019-09-30 17:58] mvz commented on #7369
D'oh!

[code]

No idea why I set it to true, but removing this setting fixed the problem.

[2019-09-30 17:58] #7369 closed

[2019-10-01 07:51] deivid-rodriguez commented on #7369
You probably got bit by the sticky options behavior of bundler 1 and 2, where options are silently remembered when you use them once. We will change this in bundler 3.

[2019-10-02 20:33] jarl-dk commented on #5924
Seems like this feature is not documented...

[2019-10-02 20:44] deivid-rodriguez commented on #5924
Documentation PR appreciated.

[2019-10-03 07:03] #6052 closed

[2019-10-04 11:57] dctanner commented on #6227
I booted a fresh AWS Lightsail Ubuntu 18.04, ran:
`Ubuntu 18.04 or later with:

sudo apt-get update
sudo apt-get install ruby2.5 libruby2.5 ruby2.5-dev bundler \
                     libmagickwand-dev libxml2-dev libxslt1-dev nodejs \
                     apache2 apache2-dev build-essential git-core phantomjs \
                     postgresql postgresql-contrib libpq-dev postgresql-server-dev-all

[2019-10-05 17:29] sergey-alekseev commented on #7152
Could a plugin be installed only for a specific group? E.g. `plugin 'my_plugin', group: :development` or
[code]

[2019-10-05 17:42] sergey-alekseev commented on #4682
https://github.com/sergey-alekseev/bundler-licensed

[2019-10-10 10:52] omsoft opened #7377 "capistrano: can't modify frozen object using a github repo"
If I use **gem "pdfkit", "0.4.6"** from rubygems everything works fine.
But when I switch to a github repo like this:

`gem "pdfkit", :git => "https://github.com/omsoft/pdfkit.git", :tag => "v0.4.6"`

I get these errors:

[code]

I'm using bundler 1.6.5. The command used by capistrano is:

`bundle install --gemfile /containers/30028/myapplication_name/releases/20191010104232/Gemfile --path /contai

[2019-10-10 12:55] deivid-rodriguez commented on #7377
It sounds like you're using ruby 1.8.7 and bundler 1.6.5. Those are really ancient, can you upgrade to a newer ruby & bundler version and try again?

[2019-10-11 15:18] duckinator commented on #7331
**Workaround**: Run `bundle update stackdriver` twice.

I have absolutely no idea why it does this, but it looks like either running it twice or removing `jbuilder` (as you suggested) will update it to the latest version.

[code]

[2019-10-11 15:30] duckinator commented on #7240
Is this still a problem? If so, can you provide more context on what you were trying to do and what the environment is?

[2019-10-11 15:44] duckinator commented on #7273
RubyGems 2.0.14 and Ruby 2.0.0 were both released in 2013, and Ruby 2.0.0 reached EOL 3 years ago.

I'm not sure there's any real suggestion to make aside from updating things.

[2019-10-11 15:53] duckinator commented on #7192
If you're still having this problem, can you provide more information about your CI environment?  E.g. operating system+version, Ruby version, etc?

[2019-10-11 18:17] mjgs commented on #7273
Like I said in my previous post I got it working by installing ruby from source

[2019-10-11 18:47] p-mongo commented on #7192
The problem I am reporting in this issue concerns this exception: https://github.com/bundler/bundler/blob/master/lib/bundler/fetcher.rb#L35

This exception should contain the reason why openssl could not be loaded. For example, it should include the ImportError instance/message/backtrace when such load was attempted.

The issue is not environment-specific.

[2019-10-12 03:18] elamje commented on #1613
If anyone came here for sqlite - Heroku issues, Heroku, doesn't support it. However, the open source PaaS Dokku does. It's basically a clone of Heroku but only made to run on one server with most of the same commands. Since you are in control of the server it runs on, you can use sqlite!

[2019-10-12 14:42] deivid-rodriguez commented on #7273
We can close this then, right?

[2019-10-12 14:44] mjgs commented on #7273
Yup I don't need any more info, with the ruby compiled from source it all
works fine.

On Sat, 12 Oct 2019 at 21:42, David Rodríguez <notifications@github.com>
wrote:

[2019-10-12 14:45] #7273 closed

[2019-10-12 18:27] shubh2336 commented on #6002
I got the same issue & simply cleaning up the cache followed by a fresh bundle install helped me fixed this.

[code]

[2019-10-14 14:06] Haelle opened #7378 ""Bundler clean" do not follow symlink for Git gems"
### Situation :
- We use Mina for deployment
- In the Gemfile we have a gem referenced with `gem 'foo', git: 'https://...'`

### Problem
We wanted to use the option `--clean` but we encountered an issue :
https://github.com/bundler/bundler/blob/f75efc27501ca4390abbae3d8846d0e54dab048b/lib/bundler/runtime.rb#L186
when we evaluate these vars we have :
`git_dirs` : /path/to/mina/project/shared/vendor

[2019-10-14 14:10] deivid-rodriguez commented on #7378
This should've been fixed by https://github.com/bundler/bundler/pull/7211 and https://github.com/bundler/bundler/pull/7340. Can you try bundler 2.1.0.pre.2 and confirm that your issue is fixed?

[2019-10-14 14:36] Haelle commented on #7378
I confirm this is fixed in 2.1.0.pre.2.
Sorry for the duplicate, I looked in the issues but not in the PRs...

[2019-10-14 20:18] deivid-rodriguez commented on #7378
No worries! :+1:

[2019-10-14 20:18] #7378 closed

[2019-10-15 19:07] yu-coder commented on #6620
Hi, I have added 2 gems in Gemfile.

[code]

When I run **bundle install**, I am getting this error.

[code]

Does anyone have an idea about this?

[2019-10-16 11:39] JagannathRajalbandi opened #7380 "Installing redmine gem"
Hi there,

I tried to install the redmine gem to my app(which was already existed but commented).

On bundle install got the following issues.(FYI refer screenshot)

There are some errors that occurred to me. I think issues are related to dependency.

And also if possible can you provide references to downgrade versions(if upgrade solves current issue)

<img width="552" alt="Screenshot 2019-10-16

[2019-10-17 09:54] JagannathRajalbandi commented on #7380
@André Arko Can anyone help me with this issue.

Thanks in Advance.

[2019-10-17 11:35] deivid-rodriguez commented on #7380
The error message is telling you that your `activeresource` requirement (`~> 4.1.0`) is incompatible with the `redmine` dependency on (`activeresource ~> 4.0.0`).

Dowgrading your `activeresource` requirement to `~> 4.0.0` in your `Gemfile` should fix the issue.

[2019-10-17 12:53] AldricBauer opened #7381 "bundle update stuck at resolve dependencies"
Hi, I recently decided to update my ruby gems and bundler is stuck at resolving dependencies.

Here is my gem file :

[code]

I read on forums i can use DEBUG-RESOLVER=1 but really not sure how to read this information and how to deal with it.

Thank you

[2019-10-17 17:09] albertvaka opened #7382 "Show a human readable error if gem < 3.x is installed"
The internet is full of people lost [1] [2] because the error you get after installing bundler 2.0 on a system with gem 2.x is this nonsense:
[code]

Would be nice to detect this (very common) case and print something like `Bundler 2.x requires gem 3.x, please upgrade gem (or downgrade bundler)` and make the world a nicer place.

[1] https://stackoverflow.com/questions/54042692/rbenv-find-spec-for

[2019-10-18 04:19] Whirlwind opened #7383 "Could add the ruby version for `bundle config path`?"
[code]

I want to use `bundle config path` to custom a path to install all gems. But they will be installed in a path without any ruby version information.

If I use the `$GEM_HOME` or `$GEM_PATHS`, the rubygem will append the `ruby/2.5.0` to the path.

I think the gems should be installed at `/Users/whirlwind/.bundle/vendor/ruby/VERSION`. Right?

[2019-10-18 07:45] Whirlwind commented on #7383
I found that:

 If I use the `bundle config path --global`, I get the ~/.bundle/config:
[code]
The gems will be installed into `/Users/whirlwind/.bundle/vendor/gems/".

If I use the `bundle install --path=.bundle/vendor`, I get the `.bundle/config`:
[code]
The gems will be installed into `.bundle/vendor/ruby/2.6.0/gems`. It has the ruby version !!

It is different between the global and local conf

[2019-10-18 17:33] benchristel opened #7384 "`bundle add` should update vendor/cache"
If I have previously vendored gems using `bundle package`, and I then `bundle add` a new gem, the new gem is not cached in `vendor/cache`. I'd expect `bundle add` to cache the new gem, because if I manually add the gem to the Gemfile and `bundle install`, it *is* cached.

Using bundler 2.0.1, Ruby 2.4.2

Thanks for considering this issue!

[2019-10-19 11:07] deivid-rodriguez commented on #7382
Turns out this is a bug in rubygems, not in bundler. Upgrading your rubygems version (or your ruby to a version with a more recent rubygems) should fix this.

See https://bundler.io/blog/2019/05/14/solutions-for-cant-find-gem-bundler-with-executable-bundle.html.

[2019-10-19 11:42] albertvaka commented on #7382
:+1:

[2019-10-19 11:42] #7382 closed

[2019-10-19 12:22] deivid-rodriguez commented on #7383
This should be fixed in bundler 2.1.0.pre.2, I think. Can you try with that version?

[2019-10-20 07:15] Whirlwind commented on #7383
It works for bundler 2.1.0.pre.2 !

[2019-10-20 10:23] deivid-rodriguez commented on #7383
Thanks for confirming. Closing as fixed by https://github.com/bundler/bundler/pull/7163.

[2019-10-20 10:23] #7383 closed

[2019-10-20 12:16] gavingmiller opened #7387 "Domain Squatting rubgems.org to MITM gem downloads"
A colleague and I noticed that rubgems.org (notice missing the y) was available after we inadvertently typo'd it. I registered it about 3 months ago +/- and setup an Nginx proxy to rubygems.org with a proper SSL cert.

As I'm sure you're aware having a MITM on rubygems.org can lead to tampering with gems and ultimately RCE on the victims end. Since setting up the proxy I've had 100+ unique ips dow

[2019-10-22 15:07] shivan commented on #4260
In my case (no rbenv or rvm) I could solve the problem (it was using 2.3.7 instead of installed 2.5.5) by editing:

`/usr/local/bin/bundler` and `/usr/local/bin/bundle`

As these had in the first line of the script the wrong ruby version.

`#!/System/Library/Frameworks/Ruby.framework/Versions/2.3/usr/bin/ruby`

instead of correctly:

`#!/usr/local/opt/ruby@2.5/bin/ruby`

Even uninstall and reinsta

[2019-10-24 05:47] br3nt opened #7391 "Gem Integrity - SRI for Ruby"
I want to start the discussion of introducing the concept of [Subresource Integrity (SRI)][1] into the Gemfile.

Here is an example of what it may look like:
[code]

The goal is exactly the same as [SRI][1] but translated to gems:

Using this technique, it would be more or less impossible for a gem version to be replaced with a malicious one as it will not match the specified hash and therefore wi

[2019-10-24 06:23] br3nt commented on #7391
One problem with this approach is that there is no integrity checking for gem dependencies as the actual versions of the dependencies are negotiated rather than explicitly defined.

I'm not sure how to get around this limitation...

[2019-10-24 12:34] colby-swandale commented on #7381
Hi! I installed your Gemfile and was able to resolve the dependencies within a few seconds using Bundler 2.0.2

[code]

Is this still a problem? And can you paste the output from `bundler env`.

[2019-10-24 12:34] colby-swandale commented on #7380
ping @JagannathRajalbandi

[2019-10-24 12:35] colby-swandale commented on #7240
No response. Closing.

[2019-10-24 12:35] #7240 closed

[2019-10-24 12:39] AldricBauer commented on #7381
Hi, thank you for the response. I think i still use bundler 1.7.3 as there was a conflict keeping me from updating bundler.

I just did another "bundle update" and it worked with bundler 1.7.3.
Maybe one of the gem got updated in the last week and fixed the dependencies ?

[2019-10-24 14:24] esasse commented on #7381
I understand this is solved and so we can close this issue.

[2019-10-24 14:24] #7381 closed

[2019-10-24 14:45] sadiksikder opened #7392 "i cant use bundle console"

[2019-10-24 20:35] #7392 closed

[2019-10-25 20:20] duckinator commented on #7169
@deivid-rodriguez I found a way to reproduce it that isn't specific to my system!

[code]

and the errors (which would be where the `<...>` immediately after the second command is) look to be the exact ones I've been encountering.

[2019-10-25 20:21] duckinator commented on #7169
The entirety of the Dockerfile for that is pretty short, and based on Alpine, so perhaps the smaller target will make it easier to debug:

[code]

[2019-10-25 21:03] duckinator commented on #7169
Using this Dockerfile:

[code]

Running `docker build -t bundler-7169-testcase .` results in 46 failures. Made a slight tweak and re-running, with output piped to a file, so I can provide the full output. (Forgot to do that before.)

[2019-10-25 21:51] duckinator commented on #7169
<details>
<summary>Logs from that Docker command</summary>

[code]

</details>

[2019-10-26 20:43] duckinator commented on #7387
If this is added, it may be worth having a list of domains that are commonly used for hosting gems and throw a warning + ask if they want to continue, if it's too similar to any of them. Off the top of my head, this would probably include rubygems.org and rubygems.pkg.github.com.

[2019-10-28 07:49] yuriy-ecraft opened #7395 "ber install"

[2019-10-28 07:52] #7395 closed

[2019-10-28 11:00] nuhkoca commented on #6882
Hey folks,

I just run below command and it works like a charm. No need to touch `Gemfile.lock`

`bundle exec fastlane update_plugins`

[2019-10-28 21:09] kddeisz opened #7396 "Cannot require Ruby's bundled gems"
Hi there - I'm attempting to use the `did_you_mean` gem (and specifically the `DidYouMean::SpellChecker` class) in my application and running into a some problems with bundler.

## Not included in Gemfile

If `did_you_mean` is not explicitly in my `Gemfile`, then it's sometimes possible for it to be used, and sometimes not. It depends on the load order. If something requires `did_you_mean` and the

[2019-10-28 21:10] fatkodima commented on #4242
So this should be closed accordingly to https://github.com/bundler/bundler/pull/6273 and https://github.com/bundler/bundler/commit/698b247ed83a0f03e86c6d6954c380b9eeab8060

[2019-10-28 21:31] #4242 closed

[2019-10-28 22:29] fatkodima commented on #4514
This should be closed https://github.com/bundler/bundler/issues/4774#issuecomment-233211045 and https://github.com/bundler/bundler/issues/4774#issuecomment-329879480

[2019-10-29 03:03] hsbt commented on #7396
It's related with https://github.com/yuki24/did_you_mean/issues/117#issuecomment-482733159

[2019-10-29 13:04] deivid-rodriguez commented on #4514
We do have this for explicit updates (`bundle update <gem>`), but not for a generic `bundle update --all`. The original request was to display a message in both cases. I tend to think it's fine as it is.

[2019-10-30 10:53] kundansingh27feb opened #7397 "Bundler issue"
[code]

[2019-10-30 10:57] deivid-rodriguez commented on #7397
Can you run `gem uninstall rubygems-bundler` and try again?

[2019-10-30 13:15] kundansingh27feb commented on #7397
$ gem uninstall rubygems-bundler
ERROR:  While executing gem ... (Gem::InstallError)
    rubygems-bundler is not installed in GEM_HOME, try:
	gem uninstall -i /home/devtest/.rvm/rubies/ruby-2.3.3/lib/ruby/gems/2.3.0 rubygems-bundler

[2019-10-30 13:20] kundansingh27feb commented on #7397
Thanks it's got resolved but now getting the below issue:

Bundler will use `/tmp/bundler/home/unknown' as your home directory temporarily.

[2019-10-30 13:42] deivid-rodriguez commented on #7397
That's a warning I think, and should be preceded by another sentence with the reason for doing that?

[2019-10-30 14:05] fatkodima commented on #4678
Is this still valid after https://github.com/bundler/bundler/pull/3266?
If yes, are there any new requirements or requirement changes?

[2019-10-30 14:06] kundansingh27feb commented on #7397
If this is a warning then why my project is not building? Here is the apache error log:

Could not find gem 'font-awesome-sass' in any of the gem sources listed in your Gemfile. (Bundler::GemNotFound)
        from /home/devtest/.rvm/rubies/ruby-2.3.3/lib/ruby/site_ruby/2.3.0/bundler/resolver.rb:255:in `each'
        from /home/devtest/.rvm/rubies/ruby-2.3.3/lib/ruby/site_ruby/2.3.0/bundler/resolve

[2019-10-30 14:31] deivid-rodriguez commented on #7352
I'm sorry for the delay @nates-dennis. Could you help me reproduce this issue? Also, are you able to try 2.1.0.pre.2, it might fix this.

[2019-10-30 19:24] dsound-zz opened #7400 "Can't around the 'You must use Bundler 2 or greater with this lockfile. '"
I know many have reported this issue with Bundler 2.0.2 and there are many solutions offered including uninstalling bundler and re-installing Bundler 2.0, `gem update --system`,  trashing a gemlock file and rebundling, etc. I just did a complete uninstall of RVM and using RBENV instead. I thought I had uninstalled my system ruby but it still seems to be there at 2.7.3. My local version is 2.6.3. I

[2019-10-30 19:48] deivid-rodriguez commented on #7400
Bundler `2.1.0.pre.2` should fix this problem, can you try it?

[2019-10-30 20:25] dsound-zz commented on #7400
I'm getting `ERROR:  Could not find a valid gem '2.1.0' (>= 0) in any repository`

[2019-10-30 20:26] deivid-rodriguez commented on #7400
Can you show steps to reproduce that last issue? It sounds like you're trying to use `2.1.0`, which doesn't exist yet?

[2019-10-30 20:30] dsound-zz commented on #7400
gem install bundler 2.1.0.pre.2

[2019-10-30 20:31] deivid-rodriguez commented on #7400
Ah, right. Try either `gem install bundler:2.1.0.pre.2` or `gem install bundler --pre`.

[2019-10-30 20:47] dsound-zz commented on #7400
Ok tried that install of bundler which worked. I know have bundler 2.1.0 but still no luck with Docker. Getting the same error with a need to use Bundler 2.

[2019-10-30 20:51] deivid-rodriguez commented on #7400
Can you also uninstall `2.0.2` to make totally sure you're not using that version? Also, can you upgrade rubygems, possibly to the latest prerelease too (`gem update --system --pre`)?

[2019-10-30 21:10] dsound-zz commented on #7400
Ok tried that too but still getting `You must use Bundler 2 or greater with this lockfile.`

[2019-10-30 21:20] deivid-rodriguez commented on #7400
Can you share the `Dockerfile` and steps to reproduce the issue?

[2019-10-30 21:22] dsound-zz commented on #7400
GEM
  remote: https://rubygems.org/
  specs:
    actioncable (6.0.0)
      actionpack (= 6.0.0)
      nio4r (~> 2.0)
      websocket-driver (>= 0.6.1)
    actionmailbox (6.0.0)
      actionpack (= 6.0.0)
      activejob (= 6.0.0)
      activerecord (= 6.0.0)
      activestorage (= 6.0.0)
      activesupport (= 6.0.0)
      mail (>= 2.7.1)
    actionmailer (6.0.0)
      actionpack (= 6.0.0)
      a

[2019-10-30 21:24] dsound-zz commented on #7400
My Dockerfile is bare bones started: `FROM rails:onbuild`

[2019-10-30 21:25] deivid-rodriguez commented on #7400
Ok, so what do I need to run on my system to see the error for myself?

[2019-10-30 21:27] dsound-zz commented on #7400
You will have to install Docker via:

https://docs.docker.com/v17.12/docker-for-mac/install/

[2019-10-30 21:36] deivid-rodriguez commented on #7400
I have docker installed, what else?

[2019-10-30 22:24] dsound-zz commented on #7400
OK, this was the tutorial I follow to install docker or rather Dr risOK, this was the tutorial I follow to install docker or rather dockerize a Rails app

https://runnable.com/docker/rails/dockerize-your-ruby-on-rails-application

A lot of the tutorials for using darker and rails can be confusing to so maybe I’m doing something wrong on this end. I’d be curious to hear your experience. And by the

[2019-10-31 00:08] dsound-zz commented on #7400
This might be a better tutorial. I'm trying this now.

https://tomkadwill.com/dockerizing-existing-rails-app

[2019-10-31 00:12] dsound-zz commented on #7400
Actually scratch that tutorial.

[2019-10-31 00:29] dsound-zz commented on #7400
This one much better: https://scoutapm.com/blog/building-docker-containers-for-our-rails-apps

[2019-10-31 09:29] deivid-rodriguez commented on #7400
Hi again @dsound-zz. Just to confirm, are you getting the same error with the new tutorials you're trying?

[2019-10-31 10:52] dsound-zz commented on #7400
Oh sorry no not yet. I'm still working on these tutorials as Docker is new
to me. Will report back.

On Thu, Oct 31, 2019 at 5:30 AM David Rodríguez <notifications@github.com>
wrote:

--

_________________________________________
*Demian Sims*
*Fullstack Software Engineer and Web Developer*
917.459.4058
demiansims@gmail.com

 www.demiansims.com

[image: Github sign free icon] <https://github.com/d

[2019-10-31 10:56] deivid-rodriguez commented on #7400
Ok, good luck!

In any case, if you can double check that you can reliably reproduce the error using the first tutorial, I will check it out.

[2019-10-31 11:06] dsound-zz commented on #7400
Ok just attempted a Docker build and got this more verbose error:

[code]

[2019-10-31 11:42] deivid-rodriguez commented on #7400
Ok, yeah, this is starting to make sense.

That error means that your `Gemfile.lock` file wants to use bundler `2.1.0.pre.2` but the docker image is running an older major version of bundler (`1.17.2`).

You said you were using a raw `rails:onbuild` base image. That image is deprecated, but it's defined here:

https://github.com/docker-library/rails/blob/master/onbuild/Dockerfile

As you can see i

[2019-10-31 14:03] wade-welles opened #7405 "Inline Gemfile configuration? Like setting local gempath for project?"
I have read through the source code and the documentation and maybe I missed it but I was hoping someone could point out how to basically do `bundle --config path --local /path/to/new/gems/folder` but inline in a gemfile?

[2019-10-31 15:33] deivid-rodriguez commented on #7405
You mean like dropping the configuration inside the Gemfile itself? No, that's not currently, configuration lives at `.bundle/config`.

[2019-10-31 16:08] deivid-rodriguez commented on #7397
That's a hard error, but that's not the first _warning_ you mentioned.

In this case, you might've forgotten to run `bundle install` before booting your server?

Please, in the future, give me a hand and at least document the command you're trying to run, and properly format the backtraces. If you surround them with triple backquotes they become much easier to read!

Thanks!

[2019-10-31 16:39] wade-welles opened #7407 "I have two sources on my gems, one is the local path I desire, the other is remote. Why is not not automatically downloading from the remote if the local is missing?"
How do I tell it to download from remote if local is missing, one would assume this would be the intuitive way to handle such a situation.

[2019-10-31 16:59] Whirlwind opened #7408 "Always ouput `Resolving dependencies...` to user"
[code]

The `Resolving dependencies...` is output by bundler, Is it a bug?

The bundler is 2.1.0.pre.2.

[2019-10-31 17:01] deivid-rodriguez commented on #7408
If you have a `Gemfile.lock` file, it shouldn't print that because it doesn't need to resolve dependencies. Can you rerun with the `--verbose` flag to see _why_ it's re-resolving?

[2019-11-01 11:10] deivid-rodriguez commented on #7407
Can you provide more information and reproduction steps to show the behavior you expect vs the behavior you are seeing? At the moment I don't understand this issue very well.

[2019-11-01 14:32] Raul220 opened #7412 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."

[2019-11-01 15:12] fatkodima opened #7413 "Please, configure github's merge button"
Please, configure github's merge button with rebasing and **squashing**, avoiding useless lists of commits for each PR and making possible to navigate through historical changes and debug problems.

[2019-11-01 15:38] fatkodima opened #7414 "Bundle viz deprecation"
[code]

`https://github.com/bundler/bundler-viz` - returns 404.

So, was this already extracted or is there work in progress or is there a need for someone to do this?

[2019-11-01 20:57] hsbt commented on #7413
We use the bors bot for git merge. So, We never use github merge button directly.

[2019-11-01 20:57] #7413 closed

[2019-11-01 21:08] #7412 closed

[2019-11-02 02:04] fatkodima commented on #6190
This should be closed as #6349 was merged.

[2019-11-03 03:15] #7408 closed

[2019-11-03 16:58] mame opened #7421 "Add "--test=test-unit" option for gem command"
I'd like to use "test-unit" for my gem, but `bundle gem` does not support it currently.

It is cumbersome to setup "test-unit" manually.  It would be great if we could use `bundle gem --test=test-unit`

PR: #7420

[2019-11-03 17:01] mame commented on #7421
Please add "feature-request" label to this issue.  I seem to have no permission.

[2019-11-03 23:20] mame commented on #7421
@kou,  who is the current maintiner of test-unit, told me that the same request (#5255) was rejected once.  Sorry, I couldn't find the request.

However, I still want you to support test-unit.  It is the most "standard" test framework.  I know that the de facto standard is rspec, but I believe that test-unit is still one of the most famous test frameworks for Ruby.
In addition, test-unit is bundle

[2019-11-03 23:25] hsbt commented on #7421
I agree with to add `test-unit` option. Because ruby-core did ship `minitest` and `test-unit`. So they are always bundled all of ruby users different from `rspec`.

And I use `test-unit` instead of `minitest` recently. I can maintain this feature.

[2019-11-04 01:08] amatsuda commented on #7421
Huge :+1: for this. test-unit is my default choice, and it's indeed used in almost all gems that I authored, e.g.
https://github.com/kaminari/kaminari/blob/ff5c842/kaminari.gemspec#L26
https://github.com/amatsuda/active_decorator/blob/f5997ff/active_decorator.gemspec#L23

I'm really hoping to see a better future that I don't have to spend a commit for manually converting the generated minitest set

[2019-11-04 02:35] smoyth commented on #6620
I'm experiencing a similar issue going from Rails 5.1.7 to Rails 5.2.3. Happy to share Gemfile and Gemfile.lock if desired but there seems to be plenty of data in this thread already...

[2019-11-04 11:26] deivid-rodriguez commented on #7408
I guess you found out about the culprit here? Could you give me, and anybody reading this with the same problem, a bit more info about the resolution? Thank you!

[2019-11-04 12:19] deivid-rodriguez commented on #7414
Closing as a duplicate of https://github.com/bundler/bundler/issues/7041. You can find the information in there.

[2019-11-04 12:19] #7414 closed

[2019-11-04 12:24] deivid-rodriguez commented on #7421
I also agree with adding this feature, and also commit to maintain it.

[2019-11-04 15:23] deivid-rodriguez commented on #6190
The linked PR doesn't claim to fully fix the issue, and two comments in there say that this specific error is not fixed.

[2019-11-05 04:04] pmichaeljones commented on #6620
Hi Tom. There's a gem somewhere in your gemfile that needs to be updated
first, it just isn't showing up in Bundler. Mine was some weird dependency
gem that needed to be updated. Once that happened, bundle update worked
perfectly.

On Sun, Nov 3, 2019 at 8:35 PM Tom Smyth <notifications@github.com> wrote:

--
Patrick M. Jones
Ruby on Rails Developer | External API Integration Specialist |
pmichael

[2019-11-05 04:08] pmichaeljones commented on #6620
@JorgeCoock @yu-coder Just keep updating gems my friends. Bundler can be finicky and I can guarantee there's one gem in your gemfile that's causing the compatibility. And it's most likely in a gem that's not even referenced in the compatibility issue:

To quote my older post:

"Sometimes bundler would show me a contradiction for one gem, and then I'd update a different gem and the contradiction fo

[2019-11-05 08:54] deivid-rodriguez commented on #6620
Hi!

It's hard to go through old issues because they are long and the information is usually outdated, but this was apparently improved by https://github.com/bundler/bundler/pull/6647, which is part of bundler 2.1.0.pre.2. Anybody getting this issue, could you please try this version of bundler, and if it still reproduces, could you open a new issue with a `Gemfile` and `Gemfile.lock` file to repr

[2019-11-05 16:29] fatkodima commented on #7041
@deivid-rodriguez @colby-swandale

I've made up-to-date extraction here https://github.com/fatkodima/bundler-visualize
Let me know, what you think.

[2019-11-05 19:22] fatkodima commented on #5180
I've made up-to-date extraction here https://github.com/fatkodima/bundler-visualize
Let me know, what you think.

[2019-11-05 21:01] sergeyradov commented on #7107
Tried this and it worked for me `gem install bundler --default -v "2.0.1" `

[2019-11-06 09:35] benbonnet commented on #7107
@sergeyradov what's your  `gem list | grep bundler` output ? you'll which is the default one - and in my case, I had 2 defaults, which caused lots of troubles

[2019-11-06 09:47] sergeyradov commented on #7107
@benbonnet As a result I got 2 defaults. It looks like a issue in Gem set or I don't understand how defaults work in gem.
After applying gem install bundler --default -v "2.0.1" I got two defaults and both could not be deleted.

[2019-11-06 09:54] benbonnet commented on #7107
that's pretty much the issue i had; and it sounds quite buggy. Unable to find how to get back to a single default

[2019-11-06 17:08] #6902 closed

[2019-11-07 09:50] #6501 closed

[2019-11-07 10:17] deivid-rodriguez commented on #5180
Thanks @fatkodima!

The work left to be done is to decide on the final name for the repository and the actual command, to decide whether it should live under the bundler organization or whether an external plugin is also fine, and to verify everything is working properly and provide a smooth deprecation path.

So, since the plugin has already been extracted which was the point of this ticket, I'm

[2019-11-07 10:17] #5180 closed

[2019-11-07 10:55] #6167 closed

[2019-11-08 10:20] nates-dennis commented on #7352
hi my workaround was to use fastlane directly instead of via bundler. i have not the time currently to test this issue as it was a build machine issue and at this moment it is needed will try another time

[2019-11-08 11:47] deivid-rodriguez commented on #7352
Ok, I'll do some experimenting with fastlane to see if I catch any obvious problems. For now I'm closing this issue, but feel free to reopen if you manage to reproduce it again.

Thanks!

[2019-11-08 11:47] #7352 closed

[2019-11-08 19:51] ianfixes commented on #5879
This block of text is very difficult for me to understand.  What is meant by "the pain of broken dependencies"?  What are the "contributors" contributing to, an app or a library (gem)?  And does "new contributors" mean "people who contribute new gems" or "people who make contributions to existing gems" (i.e. are we talking about 2 sets of developers and 1 gem or 2 sets of developers and 2 gems, or

[2019-11-08 20:22] luis1van opened #7431 "Bundle remove does not remove multi line gems"
Using bundle remove for a gem that is written in a multi line format wont work as the remove_gems_from_gemfile method will only match the name of the gem and remove that line the proper behavior would be to remove all the lines relevant to the gem on the Gemfile.

Gemfile:
[code]
Example: bundle remove some-gem
Expected Result:
[code]
Actual result:
[code]

[2019-11-09 08:20] mvz commented on #5879
As I understand it, the tension is between:
1. Not having a broken build just because a new version of a dependency is released.
2. Learning about a new version of a dependency not working with your gem.

If you find 2. more important you should not check in your Gemfile.lock. For public gems, it makes sense to find 1. more important.

Ideally, you would have both: One build with a known good lock

[2019-11-09 11:36] #6836 closed

[2019-11-09 22:33] indirect commented on #5879
That’s a great summary. A checked in lock file is important so that new contributors and fresh checkouts of the repo aren’t broken. A build without a lock file is important to ensure that `gem install` is not broken. Ideally you’ll have both. 👍🏻

[2019-11-10 18:59] ianfixes commented on #5879
OK.  So the tradeoff is that by checking in `Gemfile.lock`, you ensure that fresh checkouts of the repo will always work -- by constricting the process of resolving dependencies.

On a practical level, this means that checking in `Gemfile.lock` requires you (the gem maintainer) to be proactive about testing the latest versions of your dependencies for compatibility.

I'd like to submit a paragraph

[2019-11-10 19:11] deivid-rodriguez commented on #5879
Note that proactively testing against newest versions of dependencies is very easy nowadays with [dependabot](https://dependabot.com/). You can even configure it to create PRs in realtime after new releases of your dependencies!

[2019-11-10 19:24] ianfixes commented on #5879
That's an interesting point but I want to stress that the thrust of my inquiry is how to evaluate what the best practices are (or should be) in a setting where the gems are private and/or the team is primarily static (i.e. no "new contributors").

I'm considering a few scenarios -- like I could check in the `Gemfile.lock` but delete it during certain CI or CD operations.  Is there any interaction

[2019-11-10 19:47] Alien-97 opened #7432 "Something going wrong in my gem, with bundle configuration"
Hello, i executed bundle for create a gem with * bundle gem gemname *. However, once done that, when in run *rake* command for to verify that everything is going well, i get this error:

/usr/bin/ruby2.5 /usr/bin/rspec --pattern spec/\*\*\{,/\*/\*\*\}/\*_spec.rb
Traceback (most recent call last):
	35: from /usr/bin/rspec:4:in `<main>'
	34: from /usr/lib/ruby/vendor_ruby/rspec/core/runner.rb:45:in

[2019-11-11 01:29] indirect commented on #5879
@ianfixes the best practices are the same. check in the Gemfile.lock so new contributors who get a new computer will have a working environment, and either keep a CI build that removes the lockfile or add Dependabot to your repo so you get PRs for every new version of your dependencies.

[2019-11-11 16:18] jrodrigosm opened #7436 "Is bundler fetching a gem **before** showing the "Fetching gem" message on screen?"
I recently found that, when deploying to Heroku (which is currently using Bundler 1.17.3), bundler's ouput was stalling for several minutes:

    (... messages here ...)
    remote: Installing devise-security 0.14.3
    (... output **stopped for 4 minutes 45 seconds** - and then all the messages below showed immediately)
    remote: Fetching bootstrap-sass 3.4.1
    remote: Fetching sassc-rails 2.

[2019-11-11 20:27] deivid-rodriguez commented on #4657
@GBH Ping

[2019-11-12 17:06] bugg2844 commented on #5989
Potential workaround, in case it helps anyone.  In our case, we need to cache a linux specific libv8 in vendor/cache, when building on a Mac.  The following gets us around the 'could not find in any of the sources' error:

$ rm -rf vendor/cache/libv8*
$ gem uninstall libv8 --force
Successfully uninstalled libv8-3.16.14.19-x86_64-darwin-17
$ bundle package --all-platforms
<snip>
Updating files in v

[2019-11-12 17:22] GBH commented on #4657
I won't be able to replicate error I got 1.5 years ago. Feel free to close 🤷‍♂

[2019-11-12 17:46] bugg2844 commented on #7076
I posted a workaround [here](https://github.com/bundler/bundler/issues/5989#issuecomment-552989219), in case it helps.

[2019-11-12 18:12] deivid-rodriguez commented on #4657
It sounds like this got fixed, just wanted to check with you just in case. Thanks.

[2019-11-12 18:12] #4657 closed

[2019-11-12 19:16] #7432 closed

[2019-11-14 19:41] thomas07vt opened #7440 "Bundler uses absolute paths for plugin index file"
I was trying to use the https://github.com/Shopify/bootboot plugin on an app that is deployed to Heroku and had issues deploying when this plugin was referenced in the Gemfile:

[!] There was an error parsing `Gemfile`: cannot load such file -- /tmp/build_25b8cdeb02479da83b01e637852d01b3/vendor/bundle/ruby/2.6.0/gems/bootboot-0.1.2/plugins.rb. Bundler cannot continue.

I reached out to Heroku and

[2019-11-16 16:29] hanachin opened #7441 "bundle exec gem --version outputs nothing"
[code]

:point_up: I hit this issue in the following rake task.
https://github.com/rurema/doctree/blob/e91c072c86e68eda38caac53db1f2fb9c1eeaa6d/Rakefile#L27

This script use `bundle exec gem which bitclust` output. It works with bundler 2.0.2, but I got error with bundler 2.1.0.pre.3. Because `bundle exec gem` does not print command output to the STDOUT.

In 2.0.2, `ui` object in the rubygems is `

[2019-11-17 10:19] ziishaned commented on #6882
Running this command fixed the issue for me

[2019-11-18 12:42] olivier95-ruby opened #7444 "Bundle install from jenkins"
Hi,
When i launch this command from jenkins jobs :
    - /var/lib/jenkins/.rbenv/versions/jruby-1.7.20.1/bin/bundle install

I receive this backtrace and i don't find the solution :

## Backtrace

[code]

## Environment

[code]

[2019-11-18 13:21] ianfixes commented on #5879
I've attempted to faithfully summarize everyone's comments and incorprate them into the exsiting documentation: https://github.com/bundler/bundler-site/pull/487

[2019-11-19 00:33] jtokoph opened #7445 "Bundler 2 does not auto-switch versions when BUNDLE_GEMFILE is set via .bundle/config"
Bundler 2 is supposed to detect if a project was bundled with v1 based on the `BUNDLED WITH` lines in the lockfile.

This is not working correctly if:
1. The Gemfile is in a subdirectory or with an alternate name
2. The alternate location is specified in `.bundle/config` with `BUNDLE_GEMFILE`
3. `bundle update` is run from the project root directory

Note: This is working correctly if one of the f

[2019-11-19 02:53] ajvondrak opened #7446 "Noisy warnings from submodule deinit on git >= 2.21.0"
Since [Bundler v1.13.0](https://github.com/bundler/bundler/releases/tag/v1.13.0), bundler does an automatic `git submodule deinit --all --force`, per https://github.com/bundler/bundler/pull/4717. To this day, bundler still just fires the `deinit` all the time when `:submodules` is `false`: https://github.com/bundler/bundler/blob/f6045fcf93cd3076cdd3d5e15622927c87df2db5/lib/bundler/source/git/git_p

[2019-11-19 05:28] jtokoph commented on #7445
I realized that this is actually a rubygems issue and opened an issue there: https://github.com/rubygems/rubygems/issues/2991

[2019-11-19 11:08] deivid-rodriguez commented on #7445
Hi @jtokoph!

I _think_, this is actually a bug in bundler, and it should get fixed by #6713, which I just rebased.

It would be great if you could try it, but it's kind of complicated due to the following explanation. The changes in that PR led to a single test failure in bundler's test suite when I implemented it. So I figured it could be considered backwards incompatible, so I placed the fix un

[2019-11-20 09:13] deivid-rodriguez commented on #7446
Thanks for the thorough report. I don't know much about git submodules, but the solution you're proposing seems reasonable, would you be able to create a PR?

[2019-11-20 11:28] deivid-rodriguez commented on #7346
@ajorgensen This is being fixed in https://github.com/bundler/bundler/pull/7419. Can you give that a try and see if it works for you?

Also, note that the default behavior of bundler is to consider all gemspecs in the git source for resolving (as you noticed). I think this is because normally inside monorepos gems are dependent on each other, so this is what you usually want.

So I think doing

[c

[2019-11-20 15:57] romulus010689 commented on #6656
Same for me but also with bundler 2.0.2

[2019-11-20 17:09] rdcx opened #7447 "Can't install "responders" because of ruby version which satisfies the requirement"
[code]

[2019-11-20 22:13] jrochkind opened #7448 "keep platform warning out of `bundle show`?"
`bundle show --paths` is a very useful command for outputting paths of all dependencies, to use as arguments for other commands.

For instance, I make a `gemgrep` command that will grep through ALL dependency sources, with a bash function like this:

    gemgrep () { grep "$@" -r . $(bundle show --paths); }

This used to work fine. But currently in some projects, executing `bundle show --paths` _f

[2019-11-20 23:35] ajvondrak commented on #7446
Hm. I've been searching, and I don't know if there's a good way to test whether a submodule has been initialized.

There's a way to loop through all initialized submodules using `git submodule foreach`, but that changes the working directory to the submodule itself. So I have to do something like this:

[code]

This fixes the noisy warnings for me locally. But `foreach` executes a shell command. S

[2019-11-21 09:49] deivid-rodriguez commented on #7446
I think it should be fine, I think the specific command should be ok for all shells? Maybe we could do `git_retry "submodule foreach --quiet 'git -C $toplevel submodule deinit --force $sm_path'"` instead, but I'm not sure it makes much of a difference.

Regarding the test, I was writing down some tips for you but I was not sure whether I was in the right track, so I ended up writing the test mysel

[2019-11-21 09:53] deivid-rodriguez commented on #7448
We send warnings to stderr since bundler 2. Which `bundler` version are you using?

[2019-11-21 11:33] deivid-rodriguez opened #7449 "Should we print a "Using" message when a gem is first added"
Since https://github.com/bundler/bundler/pull/5790, "Using " messages on `bundle install` are not printed unless the dependency has changed.

However, when you first add a dependency, the "Using " message is also skipped, although I would consider that the dependency has changed in this case (from none to something), so I think I would like the "Using " message to be printed?

[2019-11-21 11:35] deivid-rodriguez commented on #7449
Also, on a related note, this feature is not yet enabled and hidden under a feature flag that gets enabled on bundler 3.

However, this seems like a backwards compatible improvement to me, should we remove the feature flag and ship this on the next minor? Say, 2.2.0?

[2019-11-21 12:04] #7441 closed

[2019-11-21 12:07] deivid-rodriguez commented on #7441
Thanks for you helpful report, it should by fixed now in master, and released soon.

[2019-11-21 12:08] deivid-rodriguez commented on #7335
Closing since it should be fixed in the latest bundler.

[2019-11-21 12:08] #7335 closed

[2019-11-21 12:08] deivid-rodriguez commented on #7380
Closing due to lack of feedback.

[2019-11-21 12:08] #7380 closed

[2019-11-21 12:09] deivid-rodriguez commented on #7397
Closing due to lack of feedback.

[2019-11-21 12:09] #7397 closed

[2019-11-21 12:09] deivid-rodriguez commented on #7400
Closing due to lack of feedback.

[2019-11-21 12:09] #7400 closed

[2019-11-21 12:14] deivid-rodriguez commented on #7405
Closing due to lack of feedback, feel free to reply and reopen.

[2019-11-21 12:14] #7405 closed

[2019-11-21 12:14] deivid-rodriguez commented on #7407
Closing due to lack of feedback, feel free to reply and reopen.

[2019-11-21 12:14] #7407 closed

[2019-11-21 12:17] deivid-rodriguez commented on #7227
Closing due to lack of feedback.

[2019-11-21 12:17] #7227 closed

[2019-11-21 15:46] jrochkind commented on #7448
Aha, I am still on bundler 1.17.3, time to upgrade, sorry, thanks!

[2019-11-21 15:46] #7448 closed

[2019-11-21 15:54] deivid-rodriguez commented on #7448
No problem, thanks for the feedback!

[2019-11-21 16:33] deivid-rodriguez commented on #7282
Can you try upgrading to the latest bundler and see if this still reproduces?

[2019-11-21 16:55] deivid-rodriguez commented on #7289
Hi! I installed the latest chef (which vendors bundler 1.17.2 and ruby 2.6.0), and run the failing command against the Gemfile you posted. It installed fine.

Can you try upgrading chef and see if that fixes your issue?

Thanks!

[2019-11-21 16:55] deivid-rodriguez commented on #7292
As per the related PR, this feature request was rejected some I'm closing this. I'm sorry :(

[2019-11-21 16:55] #7292 closed

[2019-11-21 16:56] deivid-rodriguez commented on #7316
You forget to paste the error.

Also, please include steps to reproduce the issue you're having.

Thanks!

[2019-11-21 23:57] abrahamchaibi commented on #7019
`spring stop` also fixed the problem for me

[2019-11-22 01:50] hanachin commented on #7441
Thank you so much for the quick fix 👍

[2019-11-22 05:13] MarcSteven commented on #7316
I update bundle and then all is okay, thank for your reply @deivid-rodriguez

[2019-11-22 05:13] #7316 closed

[2019-11-22 16:58] deivid-rodriguez commented on #7316
Yeah, I'm sorry I got to this so late.Thanks for your feedback @MarcSteven!

[2019-11-22 18:47] deivid-rodriguez commented on #7323
Hi! I'm sorry I never got to answer this. This was a mistake on our part. We planned to release this change with bundler 2.0.0 but apparently there was a mistake and it was released with 2.0.2. So, yeah, a totally unexpected backwards incompatible change. Sorry about that.

Anyways, the way to fix this would be to run `bundle install` locallly (without the `--deployment` flag) and commit the updat

[2019-11-22 18:47] #7323 closed

[2019-11-22 18:52] deivid-rodriguez commented on #7326
Hi!

You're using a very very old version of bundler. Can you upgrade to the latest version and try again? Note that you will also have to upgrade your ruby version to at least 2.4.

[2019-11-22 19:11] deivid-rodriguez commented on #7328
Hi @LUHUIBIN, sorry for the delay on getting to this. Can you try removing the `rubygems-bundler` gem and then try again?

[2019-11-22 19:17] deivid-rodriguez commented on #6896
I don't see these failures anymore on Azure, most likely fixed by https://github.com/bundler/bundler/pull/7161.

[2019-11-22 19:17] #6896 closed

[2019-11-22 19:21] deivid-rodriguez commented on #6792
Hi @Maik93, I know this is a very old issue, but I'll ask just in case. Are you still having this issue? I think this should be fixed in newer versions of bundler.

[2019-11-22 19:23] deivid-rodriguez commented on #7253
We've had a pretty stable build recently, and ruby-core issues are usually addressed very quickly by core developers, so I'll close this.

If you're still getting this issue, let me know and we can reopen.

[2019-11-22 19:23] #7253 closed

[2019-11-24 02:24] grosser opened #7453 "bundle update <gem> should say when it could not update to latest and why"
A few times already I did `bundle update faraday` for example just for it to do nothing then I have to hop over to rubygems to check what the latest is or go through the Gemfile.lock to see who is locking it.

It would be great to either have `bundle update faraday --force-latest` and then fail/explain "Version 1.2.3 could not be installed because <regular dependency dump>" or have the regular `bu

[2019-11-25 15:48] kaikuchn commented on #7335
Sorry for my unresponsiveness. I somehow missed this conversation entirely...

I can confirm that this works with Bundler 2.0.2. Thanks :)

[2019-11-26 01:09] shunjizhan commented on #2125
@indirect Just ask out of curiosity, why resolving dependencies is NP-complete? Because of the backtracking? Any reference to similar NP-complete problems, or any extra information would be helpful! Thanks

[2019-11-26 05:57] lybtongji commented on #6233
The same problem with Ruby 2.6.5. I want to know is there a way to force `bundle install` with platform `Ruby` in command line? like `bundle install --force-platform ruby`.

[2019-11-26 16:00] corbanmailloux commented on #5080
I seem to be experiencing this as well with JRuby 1.7.23 on Mac OSx 10.14.6 and bundler v1.17.3.

I have a project that uses Rake and I'm getting this error at initialization time before my rake logic has even started:
[code]

This didn't used to happen, and I'm trying to figure out what exactly changed to start causing it. I'm questioning if some gem or dependency was upgraded, but this appears t

[2019-11-26 21:36] deivid-rodriguez commented on #5080
Unfortunately jruby 1.7 is too old, would you be able to upgrade your jruby version? One thing you could also try would be to remove the `rubygems-bundler` gem through `gem uninstall rubygems-bundler`.

[2019-11-26 22:37] #7346 closed

[2019-11-27 20:53] Maik93 commented on #6792
Yea just tried, everything works as expected!
Thanks, we can close the issue!

[2019-11-27 20:53] #6792 closed

[2019-11-27 20:57] deivid-rodriguez commented on #6792
Thanks so much for double checking!

[2019-11-29 09:38] Drenmi commented on #7453
As you pointed out, there are two cases where the Gem would remain at the same version:

1. It is already at the latest version.
2. Its version is locked by some dependent.

I'm going to venture a guess that the first case is easier to detect than doing the reverse lookup, so maybe this feature's implementation could be split into two stages:

**Messages in first implementation:**

1. "Bundler att

[2019-11-29 12:45] colby-swandale commented on #7444
This is a very old version of Bundler. Does the error still occur if you install the latest version of 1.X?

[2019-11-29 16:11] grosser commented on #7453
yeah, "locked by another gem" is good enough ... pretty easy to hunt it
down after that :)

On Fri, Nov 29, 2019 at 1:38 AM Ted Johansson <notifications@github.com>
wrote:

[2019-11-29 21:02] #7159 closed

[2019-12-01 02:33] #7289 closed

[2019-12-02 17:21] deHelden opened #7466 "Include auto-categorizing and sorting after install || update gems in Gemfile"
At my current project we have about 350 gems. It's not so much but it's how it is..
Basically when somebody add new gem it's added to bottom of Gemfile. Without categorization and alphabetic order it's painfully hard to read for new people.

Could you please somehow integrate with https://github.com/nikolalsvk/ordinare.
It would be really awesome to have pre-installed ability not to think about al

[2019-12-02 18:01] corbanmailloux commented on #5080
We are working on upgrading the JRuby version in use for this project, but currently it's stuck at 1.7.
I tried removing the suggested gem and saw no change.

[2019-12-02 18:41] OPARA-PROSPER commented on #6800
@colby-swandale please is this issue still valid?

@siriusdely PR has being open for a while now. If works still remain i can work on them

[2019-12-03 14:33] fahidnasir commented on #1570
Fixed: I added the env in ~/.bash_profile and relaunched the VSCode.
[code]

[2019-12-03 18:49] MattNewtonian opened #7467 "Error report in AWS Cloud9"
ubuntu:~/environment/toy_app (master) $ bundle doctor
The dependency tzinfo-data (>= 0) will be unused by any of the platforms Bundler is installing for. Bundler is installing for ruby but the dependency is only for x86-mingw32, x86-mswin32, x64-mingw32, java. To add those platforms to the bundle, run `bundle lock --add-platform x86-mingw32 x86-mswin32 x64-mingw32 java`.
The Gemfile's dependencies

[2019-12-03 20:26] deivid-rodriguez commented on #7467
This should've been fixed by https://github.com/bundler/bundler/pull/7309. Can you try bundler 2.1.0.pre.3 and see if the fix works for you?

[2019-12-04 09:13] colby-swandale commented on #7466
This would be most suited to a Bundler plugin that can update the `Gemfile` after a bundle install/update

[2019-12-04 09:15] colby-swandale commented on #7466
Hi! Thanks for the suggestion on ways to improve Bundler. This would be most suited to a Bundler plugin that can update the Gemfile after a bundle install/update.

[2019-12-04 09:15] deivid-rodriguez commented on #7466
Yeah, I don't think this belongs in bundler either. You can also use `rubocop` which has the style rule you're requesting, and more: http://www.rubocop.org/en/stable/cops_bundler/

[2019-12-04 11:34] ArisuOngaku commented on #5655
On archlinux, install package `protobuf`

[2019-12-04 18:29] #7467 closed

[2019-12-04 22:46] iwz opened #7468 "Setting a gem to a new version range shouldn't fail when setting a specific version in that range passes"
When changing `rails` from `~> 5.2` to `~> 6.0`, you will see the following when running `bundle update rails`:

[code]

This message is very confusing, since it doesn't seem like there's a conflict there...

However, this goes away if you change `~> 6.0` to `6.0.1`. So, for some reason using a specific version instead of a range is resolving differently. This seems like maybe a UX problem that sh

[2019-12-05 10:01] deivid-rodriguez commented on #7282
Closing due to lack of feedback.

[2019-12-05 10:01] #7282 closed

[2019-12-05 10:11] aswanimanav opened #7469 "Unfortunately, an unexpected error occurred, and Bundler cannot continue."
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/manavaswani/.gem/ruby/2.6.0/bin/bundle add jekyll`

- **What did you expect to happen?**

  I expected Bundler to add Jekyll

- **What hap

[2019-12-06 07:19] chemturion opened #7470 "[1.17] bundler won't upgrade JRuby on Rails 4 to 5 (Windows)"
While trying to upgrade JRuby on Rails on Windows from 4.2.11.1 to 5.0.0, I got this error after running `bundle update rails`. I'm at my wits' end; any suggestions would be greatly appreciated:
[code]

Here's the output from `bundle env`:
[code]

### Gemfile

[code]

### Gemfile.lock
[code]

### `gem env`

[code]

And for what it's worth, `gem install rails -v 5.0.0` and `rails -v`:
[code]

[2019-12-06 11:41] deivid-rodriguez commented on #7326
Closing due to lack of feedback.

[2019-12-06 11:41] #7326 closed

[2019-12-06 11:41] deivid-rodriguez commented on #7328
Closing due to lack of feedback.

[2019-12-06 11:41] #7328 closed

[2019-12-06 22:58] hadmut opened #7472 "superfluous sudo when exe contains executables"
Hi,
I just found the reason for a flaw that breaks my scripting with  2.0.1 and 2.0.2

Test case:
- make sure there's no GEM_HOME variable set (i.e. force bundler to use sudo to install gems)

- create a fresh gem with   bundle gem somename   and enter some usefull values in the gemspec where bundle wants it to have

- run   rm Gemfile.lock ; bundle
it works and will probably use sudo to install g

[2019-12-07 05:04] zedtux commented on #4556
We're close to 2020, what is the progress please?

That would save some space for my Docker images.

[2019-12-07 12:03] deivid-rodriguez commented on #4556
I made some experiments at https://github.com/bundler/bundler/pull/7054, but I still need to properly test the handling of specific `:ref`'s, which probably doesn't work, and add exceptions for that particular case.

[2019-12-07 12:11] JulesMoorhouse commented on #7107
@sergeyradov  / @benbonnet did either of your guys solve this?

[2019-12-09 09:15] mame commented on #7421
Okay, I believe that the feature has been accepted.  Great, thank you!

Rather than merging this #7420, https://github.com/bundler/bundler/pull/5521 should be updated and merged.  So I'm closing my PR.

[2019-12-09 09:15] #7421 closed

[2019-12-09 09:26] sergeyradov commented on #7107
I have resolved this by uninstall whole ruby through rbenv.
Than I started to indicate version.

[2019-12-09 10:21] benbonnet commented on #7107
same here, uninstalling and defining version on reinstall.

Moreover, while not being the cleanest way; I've found out how to remove (manually) the defined default gem as even after removing bundler, the default remains - so as describe in my previous comment, this step solves the presence of the 2 defaults :

`irb(main):001:0> File.join Gem::Specification.default_specifications_dir`

Then open th

[2019-12-09 15:53] bormat commented on #817
For me reinstall bundler by forcing the version solve the problem
`gem install bundler -v 1.17.3`

[2019-12-09 20:41] chemturion commented on #7470
This issue was due to my Gemfile's Rails version being pinned at 5.0.0, and the dependency was for 5.0.3. 😬

I should have read the error message more closely. I looked at the squiggly and thought "Oh, 5.0.0 should be fine here." When in reality it meant "Don't go above 5.x but definitely no less than 5.0.3". I bumped my Gemfile Rails to 5.0.3 and got past the issue.

[code]

[2019-12-09 20:41] #7470 closed

[2019-12-11 20:49] kddeisz commented on #7396
I'm going to close this as it's related to `did_you_mean` becoming a default gem. It'll be fixed incidentally by ruby 2.7, so not going to worry about it here.

[2019-12-11 20:49] #7396 closed

[2019-12-13 21:49] tubbo opened #7481 "Guard Clause in git_source Block Ignores Gem"
I have a Gemfile with a `git_source` block that uses a conditional, primarily for installing the gems within GitHub Actions CI.

Originally, I had written it as:

[code]

And when I installed a gem from my private GitHub org, like `gem 'my_private_gem', github: 'my-private-org/my-private-gem'`, everything went smoothly.

Then I ran `rubocop --auto-correct` on the file, which automatically changed

[2019-12-15 18:56] u16suzu opened #7484 "ArgumentError: Trying to register Bundler::GemfileError for status code 4 but Bundler::GemfileError is already registered"
Today when creating a new rails app, bundler had an error.

My environment
[code]

Command I ran
[code]

Short log
[code]

<details>
<summary>
Full log
</summary>
[code]
</details>

[2019-12-15 19:09] u16suzu commented on #7484
With previous version, Bundler 2.0.2, This error is not occurred.

[code]

<details>
<summary>
log
</summary>

[code]
</details>

[2019-12-15 22:31] deivid-rodriguez commented on #7484
Hi @u16suzu, thanks for quickly reporting this after the release.

Unfortunately I cannot reproduce this on my machine. Are you able to reproduce on a docker image or something that I can use? Also, can you run `bundle env` and `gem env` before running the rails generator and paste the results?

Thanks again!

[2019-12-15 22:42] deivid-rodriguez commented on #7484
Forget about it, I can reproduce it by configuring bundler like `bundle config set path vendor/bundle` before running the command. I'm going to have a look now.

[2019-12-16 06:21] sandhya2309 opened #7485 "Input/output error @ io_writev - <STDERR>"

[2019-12-16 08:57] dorian-marie-france opened #7486 "using 2.1.0 breaks heroku build"
here is the build warning first:

[code]

and here is the build error:

[code]

(solution for now is to stay on 2.0.2, e.g. `gem uninstall bundler` (then yes to the questions) and then `gem install bundler -v 2.0.2`.

thanks for making bundler

[2019-12-16 08:59] hsbt commented on #7486
It seems to heroku platform issue. /cc @schneems

I think heroku needs to install the new version of Bundler.

[2019-12-16 09:44] #7485 closed

[2019-12-16 11:04] deivid-rodriguez commented on #7484
I'm still investigating the cause, but `gem update --system` fixed the problem for me. Can you try?

[2019-12-16 12:29] u16suzu commented on #7484
Hi @deivid-rodriguez
Thanks comments!

Yes, exactly I am setting install path via `--path vendor/bundle`, and using fish shell.
Also for me, `gem update --system` fixed the problem.
So, the problem is that rubygems's version and bundler's version.

I want to investigate the reason, but I should make my new web app for Interview test until next week.

[2019-12-16 13:09] benoittgt opened #7487 "uninitialized constant Bundler::RubygemsIntegration::Gem"
Hello

With the last version of Bundler we can see this error on [RSpec-rails CI](https://travis-ci.org/rspec/rspec-rails/jobs/625621739?utm_medium=notification&utm_source=github_status).

[code]

I don't have the issue if I jump to a previous Bundler version. I will keep digging and will update this ticket with relevant informations.

I don't have the issue if I explicitly `require 'rubygems'` be

[2019-12-16 13:40] deivid-rodriguez commented on #7487
A first guess after a quick look:

This would happen if, while using the `--disable-gems` ruby flag, you do `require "bundler"; Bundler.with_original_env {}`.

It sounds like we're missing a `require "rubygems"` on top of this file. I'm pretty sure it existed but we removed it because we thought "why using `bundler` if you don't want to use gems?".

I think maybe you can fix this with something li

[2019-12-16 13:44] benoittgt commented on #7487
The command fail when executed [by rake](https://github.com/rspec/rspec-rails/blob/master/Rakefile#L74):
[code]

But alone in the shell. I have no issues.

[2019-12-16 14:48] RDIL opened #7488 "Bundler throwing error"
Hi,
I haven't used bundler since october, and I just updated it, and tried to run:
`bundler install`

However, it threw:
[code]

Has something changed I should be aware of?

[2019-12-16 14:59] stefanhorning opened #7489 "Bundler 2.1.0 breaks bundle install in projects with Gemfile.lock"
The new version of bundler released yesterday, seems to break `bundle install` all over the place at our company.
This seems to be the case when there is a pre-existing `Gemfile.lock` in the project that has a `BUNDLED WITH` section. In our case the version in the Gemfile.lock `1.17.3` in most cases. Which leads to the error:

[code]

The problem can be solved by installing either 1.17.3 with `gem

[2019-12-16 15:31] stefanhorning commented on #7489
Looks like I can also reprocude this with other 2.x bundler versions, so perhaps it's not just the latest release. But maybe s.b. else can do better testing here, as we were also in the progress of migrating from ruby 2.5.1 to 2.5.7 currently. The issue only seems to happen on ruby versions < 2.5.7 when the Gemfile.lock is already on 2.x

For the Gemfile.lock being on 1.17.3 cases it's probably ex

[2019-12-16 16:10] doudou opened #7490 "`gem content NAME` outputs nothing after upgrading to 2.1.0"
I've just updated to 2.1 a system that uses Bundler to install a bunch of gems. This system calls scripts/CMake code which itself tries to detect some gem parameters using `gem content`. Until 2.1 this worked fine.

I've locally upgraded to 2.1 today, and now `gem content NAME` just outputs nothing. The system I'm maintaining is using Bundler programatically, so I wonder if it could be an expected

[2019-12-16 16:14] silva96 commented on #7488
facing the same issue
bundler (2.1.0)
bundler-unload (1.0.2)
rubygems-bundler (1.4.5)
rubygems-update (3.1.1)

to solve it for now, downgrade rubygems, rubygems-update and bundler to the versions I had previously

gem uninstall bundler -v 2.1.0
gem install bundler 2.0.2

rvm install rubygems 3.0.3 --force
gem uninstall rubygems-update -v 3.1.1
gem install rubygems-update -v 3.0.3

Obviously this d

[2019-12-16 16:21] doudou commented on #7490
There seem to have a difference in behavior if `gem2.5` is executed by `bundle exec` directly, or through an intermediate shell.

Setup:

[code]

Then the following **works**

[code]

But this does not display anything:

[code]

[2019-12-16 16:23] deivid-rodriguez commented on #7488
The `rubygems-bundler` gem monkeypatches `rubygems` and `bundler` in unexpected ways, and it sounds like the latest releases broke it. A workaround is to remove it, since its own README states that [the gem is no longer necessary](https://github.com/rvm/rubygems-bundler#note-for-rubygems--220).

I'll request the RVM team to not install this gem by default.

[2019-12-16 16:25] deivid-rodriguez commented on #7489
Can you run `gem update --system` and try again with a newer version of rubygems?

[2019-12-16 16:25] RDIL commented on #7488
One thing to note @deivid-rodriguez, everything seems fine with `bundle install`, but `bundler install` breaks 😕

its actually really annoying because just `bundle` looks dull, so I prefer typing `bundler`

[2019-12-16 16:27] deivid-rodriguez commented on #7488
Even after running `gem uninstall rubygems-bundler`?

[2019-12-16 16:28] RDIL commented on #7488
Haven't tested it yet, just saying that `bundle` works, whereas `bundler` doesn't.

[2019-12-16 16:31] deivid-rodriguez commented on #7488
Ok, thanks @RDIL. Please report back, I think `gem uninstall rubygems-bundler` should work. Regarding `bundler` not working, I'll have a look.

[2019-12-16 16:32] doudou commented on #7490
It looks as if the output is somehow closed/redirected. Providing a non-existent gem does exit with status 1, but displaying nothing

[code]

outputs

[code]

while

[code]

outputs

[code]

[2019-12-16 16:35] RDIL commented on #7488
@deivid-rodriguez
[code]

[2019-12-16 16:39] RDIL commented on #7488
Oh wait that did work

[2019-12-16 17:01] hrabiel opened #7491 "Bundler 2.1.0 doesn't work properly with private gem sources when Basic Auth is set in bundle config"
My project uses private gem storage which can be accessed with Basic Auth.
With the new version of Bundler (2.1.0) I'm not able to install any gems from this source because of authorization error.
Seems that this issue is CGI-encoding related.

Let's assume that my auth username is `user@example.com`, password is `pass` and the storage origin is `gems.example.com`. I have my config set as
[code]

[2019-12-16 17:07] doudou commented on #7490
So, could track it down to general UI handling. As far as I could understand, Bundler's UI setup takes over the RubyGems UI and basically silences it forever (https://github.com/bundler/bundler/blob/2-1-stable/lib/bundler.rb#L89).

This behavior was added by a3260aa9d173388636a16e269da71bdb1464c9c9. The PR picked 'debug' as the level for all RubyGems message, which obviously silences them in the d

[2019-12-16 17:12] jantman commented on #7491
FYI I work with @hrabiel and also confirmed this locally. Using credentials like:

[code]
works properly with bundler versions `1.17.3`, `2.0.0`, `2.0.1`, and `2.0.2` but fails under `2.1.0` with the errors shown above that replace `%40` with `%2540`.

[2019-12-16 17:17] deivid-rodriguez commented on #7490
Yes, this makes sense to me, let me try fix it.

[2019-12-16 17:32] doudou commented on #7490
Thanks for looking into it ... Appreciated.

[2019-12-16 17:35] jessebs opened #7492 "Bundler 2.10 breaks rake"
When I try to run `rake` after upgrading to 2.10, I get an error.

I'm on ruby 2.5.1, bundler 2.10, rake 13.0.1.  It worked fine on 2.0.2.

Similar backtrace exists on ruby 2.5.7, 2.6.5, and 2.7.0-preview3.

This is reproducible in an empty directory with only the rake and bundle gems installed.

[code]

`bundle exec rake` gets me past the error

[2019-12-16 17:36] nicolas-brousse commented on #7490
I've similar issue by simply doing the following

[code]

Versions
[code]

[2019-12-16 17:39] bedyan commented on #7491
Faced same issue with update to 2.1.0

[2019-12-16 17:53] deivid-rodriguez commented on #7492
This is again `rubygems-bundler`, I really need to get to this but for the time being, uninstall rubygems-bundler and you should be fine (`gem uninstall rubygems-bundler`).

[2019-12-16 17:56] jessebs commented on #7492
Thanks. I just came across #7488 and I agree this is a duplicate

[2019-12-16 17:56] #7492 closed

[2019-12-16 18:02] deivid-rodriguez commented on #7491
Can you try with bundler `2.1.0.pre.3` and confirm if it also happens?

[2019-12-16 18:03] deivid-rodriguez commented on #7491
Also, does it happen if you upgrade rubygems? (`gem update --system`)

[2019-12-16 18:38] deivid-rodriguez commented on #7487
@benoittgt Does it work if you lazily load things like this?

[code]

[2019-12-16 18:41] jimeh opened #7494 "Bundler 2.1.0 does not expose executables from gems without "bundle exec", while 2.0.2 does"
Apologies if this is intended and documented behavior in 2.1.0. I've had a quick look at the [release](https://github.com/bundler/bundler/releases/tag/v2.1.0) and can't find anything that seems directly related to it. Hence I'm reporting it here so it can either be addressed, or documented better if it is intended behavior.

In short, I can no longer run `bundle audit` when installing the `bundler

[2019-12-16 18:49] kristenkoyanagi commented on #7489
We were able to fix the issue by updating bundler from 1.17.3 to 2.1 and running `bundler update --bundler`. We are using ruby 2.5.3.

[2019-12-16 19:46] deivid-rodriguez commented on #7494
This sounds like a bug to me, I'll have a look.

[2019-12-16 19:48] deivid-rodriguez commented on #7494
But, I think it's not about exposing executables from gems (I don't think they were never exposed like that), but about bundler plugins (I assume `bundler-audit` is a `bundler` plugin that adds the `audit` command).

[2019-12-16 20:24] nakulpathak3 commented on #3336
While the issue this issue was considered same as was fixed, we are still running into this on `Bundler version 1.17.3`
[code]

But when we run `bundle install --full-index`, the same thing passes.

[2019-12-16 20:29] deivid-rodriguez commented on #7444
Closing due to lack of feedback.

[2019-12-16 20:29] #7444 closed

[2019-12-16 20:43] #7490 closed

[2019-12-16 21:19] jasondborneman commented on #7488
I'm getting this same error, rubygems-bundler is not installed in my gemset being used, nor is it in my Gemfile. This problem just started for me today, but could have been a problem anytime since Friday since today is the first day since THursday that I ran this project.

[2019-12-16 21:23] jasondborneman commented on #7488
Ah hah! I had to do the following:
[code]

That seems to have solved the problem.

Now I need to figure out how to apply this fix to my AWS machines that are failing because of this as well.

[2019-12-16 23:36] jimeh commented on #7494
@deivid-rodriguez `bundler-audit` is indeed a plugin for Bundler, but my understanding is that sub-commands are added to bundler like they are with git, by creating a executable called `bundle-<my_sub_command>` and sticking it in your `PATH`. Which is what `bundler-audit` seems to do.

However, after digging a big deeper into this, Bundler 2.1.0 does behave in a new way. Any gems it installs, do n

[2019-12-16 23:58] rezonant commented on #7489
This broke our system badly :-( We were bundling with bundler 2.0.2, today any system that pulled bundler 2.1.0 is unable to deploy with the above error :-(

[2019-12-17 02:28] fzakaria commented on #7488
I hit this with latest bundler also.

[2019-12-17 06:23] NaNdaWteK opened #7495 "Last version of bundle not load gems"
I get an error from last sunday with the last version of bundle
[code]
I change to 1.17 bundle version and all works fine

[2019-12-17 07:07] ram2valar opened #7496 "fluentd (>= 0.a) with executable fluentd Gem::GemNotFoundException"
Hi Team,

We need to upgrade fluentd to v1.7.4. For this we tried upgrading ruby, bundler and gem with following version:

root@test-instance{~}# bundler -v
Bundler version 2.0.2
root@test-instance{~}# bundle -v
Bundler version 2.0.2
root@test-instance{~}# /usr/local/rvm/rubies/ruby-2.3.1/bin/bundle -v
Bundler version 2.0.2
root@test-instance{~}# gem env version
2.7.9
root@test-instance{~}# ruby -

[2019-12-17 08:06] hrabiel commented on #7491
Checked on `2.0.1.pre.3`, `2.0.1.pre.2`, `2.0.1.pre.1`. With ruby `2.6.5p114` and rubygems `3.0.3`.
The issue does not happen on any of pre versions.

Apparently it showed up only in `2.0.1`.

[2019-12-17 08:40] hrabiel commented on #7491
Actually, updating rubygems to `3.1.1` (`gem update --system`) really helped with bundler `2.1.0` and the issue dissapeared.

[2019-12-17 09:30] deivid-rodriguez commented on #7491
That's good to hear. Which version of rubygems were you using previously? This seems related to vendoring `uri` inside `bundler`.

[2019-12-17 11:18] deivid-rodriguez commented on #7488
Could you try #7498 and see if it fixes things for you?

[2019-12-17 11:23] deivid-rodriguez commented on #7494
Interesting, thanks for the thorough testing, that makes sense, yeah. I'll get to this as soon as I can, butt can you check which version of `rubygems` is this happening against (`gem --version`) and whether it also happens using the latest (`gem update --system 3.1.1`)?

[2019-12-17 11:28] hrabiel commented on #7491
I had this issue with rubygems `3.0.3`.

[2019-12-17 11:56] jimeh commented on #7494
So both containers were using `rubygems` 3.0.3 (and Ruby 2.6.5):

[code]
[code]

I've updated both Dockerfiles to `rubygems` 3.1.1, however 3.1.1 includes Bundler 2.1.0 as a default gem, which seems to prevent the 2.0.2 container from using Bundler 2.0.2:

[code]
[code]

And trying to uninstall Bundler 2.1.0 yields an error because it's a default gem:

[code]

And needless to say, this means the 2

[2019-12-17 12:00] deivid-rodriguez commented on #7489
Sorry :(

I plan to improve the our bundler switcher for the next version so that this kind of thing don't break anymore in the future and just work.

But for now, the proposed solutions are correct. You should choose a `bundler` version that works for you, and install exactly that version, and then run `bundle update --bundler <version_chosen>` and update your lockfile to use that version.

[2019-12-17 12:23] deivid-rodriguez commented on #7494
Thanks so much, I'm taking this next since you made it very easy to reproduce :)

[2019-12-17 13:38] alexishida commented on #7494
+1

[2019-12-17 16:23] mattbrictson opened #7499 "Bundler 2.1.0 "rake release" fails and silently exits if rubygems OTP is enabled"
I have multi-factor authentication enabled for my rubygems.org account.

With Bundler 2.1.0, `rake release` fails to push to rubygems and doesn't show any `gem push` output whatsoever. Here is an example:

[code]

However Bundler 2.0.2 works fine; it shows this output:

[code]

If I edit the source code of Bundler 2.1.0 to replace `Kernel.system` with `Bundler.original_system`, this fixes the prob

[2019-12-17 16:29] deivid-rodriguez commented on #7499
Ugh, I created a bit of a mess trying to refactor the UI, sorry.

I think #7493 should fix things for you too? Can you try it? I will release that very shortly.

[2019-12-17 16:31] deivid-rodriguez commented on #7499
Essentially the explanation why `Bundler.original_system` is that it resets `RUBYOPT` to its previous value before shelling out, and that contains `-rbundler/setup` at that point, which is what was silencing rubygems UI. I tried a similar patch to yours to fix it but it broke other things, so I went with #7493 in the end.

[2019-12-17 16:42] deivid-rodriguez commented on #7494
Ok. So:

* This was introduced by https://github.com/bundler/bundler/pull/7163. That was introduced to fix a bug but has created some problems with ruby docker images.

* This issue is specific to the official docker ruby images, because they set `$BUNDLE_PATH`, which triggers the behaviour of scoping gem installations and their executables to a folder named `ruby/<RUBY_ABI_VERSION>`. Regular ruby

[2019-12-17 16:56] deivid-rodriguez commented on #7496
Could ypu post some steps to reproduce the error? Thanks!

[2019-12-17 17:13] dgholz opened #7500 "'bundle install' fails on relative import in gemspec (rarely)"
We saw this error while deploying, on 3 out of ~30 hosts. The error occurred with the same gem on each host: an internal fork of `rchardet` (our forked repo is called `rchardet-1`, but the gem name is unchanged).

In our fork, we define the release version in a module, and require it in the gemspec, to set the gem's version. That version file was present in the git clone when we inspected the host

[2019-12-17 17:24] jgarber623 commented on #7491
Also reporting having experienced this issue on Ruby version 2.6.5 and RubyGems version 3.0.6. Running `gem update --system 3.1.1` and retrying `bundle install` solved the issue for me, as well.

[2019-12-17 17:28] deivid-rodriguez commented on #7494
Well, I gave it another thought and since I want to fix this ASAP, I'm proposing to revert the offending PR for the time being. Please see #7501 and let me know if it works for you.

Will ask other maintainers too for their opinion.

[2019-12-17 17:31] mattbrictson commented on #7499
@deivid-rodriguez yes, I just verified that #7493 fixes this issue for me. Thanks!

[2019-12-17 17:36] deivid-rodriguez commented on #7495
Hi @NaNdaWteK.

Can you tell me something more about your environment? Is this a docker image? Can you post the result of `bundle env`? What command is it being run that fails? How can I reproduce this?

With three lines cut from a log it is very hard for me to figure it out.

Thanks!

[2019-12-17 17:38] deivid-rodriguez commented on #7499
Ok, thanks to you!

Since this is now fixed in master I'll close this. I'll release 2.1.1 with the fix in the next day or two. Sorry about the issue.

[2019-12-17 17:38] #7499 closed

[2019-12-17 17:47] jimeh commented on #7494
@deivid-rodriguez reverting the offending changes temporarily sounds reasonable to me :)

In my case your suggested fix to the `BUNDLE_PATH` env var in the official docker images doesn't seem to work. I've probably just done something stupid though since it worked for you. But for me the executable is available in the path, but doesn't show under `gem list`, yielding a error when trying to run the

[2019-12-17 17:52] deivid-rodriguez commented on #7494
Yeah, I don't know what I did initially but I later realized it was not so simple, indeed, and got the same you got. Changing the path makes the binstub findable, but `rubygems` still fails to find the gem (because it's installed to `/usr/local/bundle/ruby/2.6.0` and not to `$GEM_HOME` at `/usr/local/bundle`).

Anyways, this is why I decided to revert for now, because I need to think of a proper f

[2019-12-17 17:56] jimeh commented on #7494
Sure thing, I'll give the revert PR a try :)

And I actually got your suggestion to work by also setting `GEM_PATH`:

[code]

[code]
[code]
[code]
[code]
[code]
[code]

[2019-12-17 18:09] deivid-rodriguez commented on #7494
Oh yeah, great idea! That, plus properly modifying `PATH`, sounds pretty solid to me, because since it only adds locations where binstubs and gems can be found (does not change the defaults), it should work consistently across all bundler versions I think.

@indirect What do you think? We might want to upstream these changes to the docker images instead? The bug fix that originated this problem ca

[2019-12-17 18:16] jimeh commented on #7494
@deivid-rodriguez FYI, the revert PR also works :)

[code]
[code]

`Dockerfile.bundler-pr7501`:

[code]

[2019-12-17 18:26] indirect commented on #7494
If this impacts basically only docker, it seems fine to upstream the fix since existing images won’t be broken by our change :)

[2019-12-17 18:35] jimeh commented on #7494
@deivid-rodriguez @indirect I'm not gonna pretend my opinion holds much weight here, but if I've understood things correctly, I believe reverting the changines is probably right way to go, rather than updating the official Ruby docker images.

I believe so beacuse it seems like the behavior in question is not backwards compatible for anyone using Bundler and setting the `BUNDLE_PATH` environment v

[2019-12-17 18:37] schneems commented on #7486
We deployed a change yesterday which should have fixed/mitigated this. If you're still seeing problems today then please open a support ticket help.heroku.com and link back to this bundler issue.

Here' is the changelog https://devcenter.heroku.com/changelog-items/1716

[2019-12-17 18:41] indirect commented on #7494
That’s a really good point, this is technically breaking. I’d be happiest to revert this and fix the `gem update —system` thing right away, and then ship this change in 3.0 in a couple of weeks when we also drop old rubies.

[2019-12-17 18:48] pedrofurtado commented on #7488
Any news about this issue? Is a great idea to release a minor version with this bugfix 🤝

[2019-12-17 20:49] deivid-rodriguez commented on #7494
`bundler` has several ways to configure where gems live:

* For the current user with `bundle config set path <path>` which writes `BUNDLE_PATH: <path>` to `~/.bundle/config'.
* For the current app with `bundle config set --local path <path>` which writes `BUNDLE_PATH: <path>` to `./.bundle/config`.
* For the current runtime with `ENV["BUNDLE_PATH"]`.

All of these should be equivalent and set gem

[2019-12-17 21:07] jimeh commented on #7494
@deivid-rodriguez Ah, I was not aware that `BUNDLE_PATH` being set through the environment variable behaved differently from the other methods.

In that case, as it’s less of a breaking change and more of fixing a long-standing bug and inconsistency, my vote falls on leaving the fix in. And fixing the docker images by modifying the `PATH` and adding `GEM_PATH` environment variables within them.

B

[2019-12-17 21:32] #7488 closed

[2019-12-18 07:20] fukayatsu opened #7504 "bundler 2.1.0 and `bin/bundle` generated by Rails 5.2 raises error"
I noticed one of my Rails 5.2 app could not boot after upgrading bundler to 2.1.0 from 2.0.2.
The app start puma with `bin/bundle exec puma`, I don't know why it is not just `bundle exec puma`, but it works with bundler 2.0.2 and not works with bundler 2.1.0.

Here is a repo to reproduce the issue:
https://github.com/fukayatsu/rails-generated-bin-bundle-with-bundler-2-1-0

---

Dockerfile:

[code]

[2019-12-18 08:36] deivid-rodriguez commented on #7504
This sounds like the same as #7484. I know for the moment that it's specific to rubygems lower than 3.1 (so upgrading rubygems with `gem update --system` should fix it), but haven't found the root cause yet.

[2019-12-18 12:13] fukayatsu commented on #7504
@deivid-rodriguez Thank you for your quick reply 😄

This is similar to  #7484, but `gem update --system` has already done in Dockerfile.

[code]

[2019-12-18 12:15] deivid-rodriguez commented on #7504
Right! Let me have a look then!

[2019-12-18 14:02] JonRowe commented on #7487
The backstory of why we (rspec) do this, we've historically disabled rubygems for two reasons, bundlers binstubs are faster, and because its possible for some people to do it and we'd like to make sure rspec runs without a requirement on rubygems/bundler.

Do we need to modify our approach now?

[2019-12-18 14:24] deivid-rodriguez commented on #7487
No, I'm fine with changing things in `bundler` to fit your needs again, it's just a require after all.

I'm curious though whether the previous patch I posted fixes things for you, or just moves the error to somewhere else. Since you seem to only be using `Bundler.with_original_env`, and that only changes the environment, it might not require `rubygems` at all.

[2019-12-18 15:05] benoittgt commented on #7487
With `unset RUBYOPT` it works.

[2019-12-18 15:07] deivid-rodriguez commented on #7487
I meant [this patch](https://github.com/bundler/bundler/issues/7487#issuecomment-566187316).

[2019-12-18 15:54] deivid-rodriguez commented on #7487
Will be fixed by #7505.

[2019-12-18 18:54] NaNdaWteK commented on #7495
At this moment I cant push it to the repo to get you the result of the bundle env command, but there are some files, I try to change the sequel gem & ruby versions, but the problem solves when change the bundle version

`Api Dockerfile`

`FROM ruby:2.6.1

ENV MODE development
ENV HOST localhost

ENV HOME=/opt/api

RUN mkdir -p $HOME

ADD . $HOME

WORKDIR $HOME

RUN gem install bundler

RUN bundle

[2019-12-18 19:06] NaNdaWteK commented on #7495
We are on luck, I can change it in the repo

More info of gitlab runner, the fail is still in the repo

 ## Environment
235 ```
236 Bundler       2.1.1
237   Platforms   ruby, x86_64-linux
238 Ruby          2.6.1p33 (2019-01-30 revision 66950) [x86_64-linux]
239   Full Path   /usr/local/bin/ruby
240   Config Dir  /usr/local/etc
241 RubyGems      3.0.3
242   Gem Home    /usr/local/bundle
243   Gem

[2019-12-18 22:23] JonRowe commented on #7487
After we unset rubyopts, we have an issue in our build with aruba, which runs commands in sub rails projects (yo dawg etc) in order to verify our rspec-rails behaviour, we now get:
[code]
I can open a new issue for this, but I would kind of expect bundler to support itself as a default gem :joy:

[2019-12-18 22:39] deivid-rodriguez commented on #7487
Yeah, the last two lines of the message don't make much sense to me either :laughing:. Can you open a new issue with repro steps, I guess this can be currently reproduced in your `rspec-rails` CI, right?

[2019-12-18 22:51] JonRowe commented on #7487
You can see it here, https://travis-ci.org/rspec/rspec-rails/jobs/626903497, its late here but I'll see if I can extract a repro tomorrow, its likely its an interaction with aruba not providing us a clean environment, are there new bundler environment variables in 2.x?

[2019-12-18 23:06] deivid-rodriguez commented on #7487
Thanks, I'll try to have a look tomorrow, the CI config should be enough but of course if it can be minimized I appreciate it.

No, I don't think so. But there are many changes, master had been unreleased for a very long time... :(

[2019-12-19 08:45] coding-bunny commented on #7489
And what if there isn't a `Gemfile.lock`?
Currently we cannot build gems on our CI for testing purposes, because they don't have a lock file, yet depend on old rails 3 for example which fails to build.

* Latest bundler is installed
* bundler 1.17.3 is installed

I expect bundler 2 to fall back automatically when running `bundle install`, yet it doesn't 👍

[code]

[2019-12-19 11:44] deivid-rodriguez commented on #7494
Hei, I didn't forget about this :)

For starters I'm adding some tests to the docker official images repo, so we can catch these things in the future. See https://github.com/docker-library/official-images/pull/7166.

[2019-12-19 12:05] jimeh commented on #7494
@deivid-rodriguez awesome :)

May I suggest a additional test that ensures that gems installed via bundler also appear under `gem list`? Technically running `bundle audit` should verify it's working, but might be good to be double sure, and extra granular so it's more obvious why things are broken when they break.

Also, if you want/need any additional help on this aside from my rants here, I shou

[2019-12-19 14:37] dgholz opened #7507 "Bundler should always redact credentials from verbose bundle install messages"
Hello, I created a Gemfile like:
[code]
and ran `bundle config www.example.com howdy:SECRET_PASSWORD`

When I ran `bundle install --verbose` I saw the credentials were sometimes redacted:
[code]
and sometimes not:
[code]
I think that the log messages from `bundle install --verbose` should redact sensitive information/credentials whenever they are produced.

[2019-12-19 14:38] dgholz commented on #7507
The complete log:
[code]

[2019-12-19 16:21] benoittgt commented on #7487
I just tried and it seems that the patch works.

[2019-12-19 16:48] deivid-rodriguez commented on #7487
Interesting, with the test I'm adding for #7505, it leads to a different error so I went with adding the require.

[2019-12-19 16:51] benoittgt commented on #7487
The setup with the full RSpec build script with a local version of bundler is not easy. I probably messed up somewhere if you have different result. Sorry.

[2019-12-19 16:52] deivid-rodriguez commented on #7487
I see, no problem, thanks for trying anyways.

[2019-12-19 17:39] deivid-rodriguez commented on #7495
Ok, thanks for the information. This might be a duplicate of #7494. Can you try the workarounds given there to confirm it's the same thing?

[2019-12-19 17:47] #7487 closed

[2019-12-19 20:03] mltsy commented on #7494
Eep!  This bug is currently breaking several test and staging environments for me and would also be breaking our production environments except that we haven't deployed them without using cached layers in the last few days.  Thank you so much for identifying and looking at this, @jimeh and @deivid-rodriguez!  It sounds like a fix may be on the way?  Or can someone clarify what the best solution wo

[2019-12-19 20:10] deivid-rodriguez commented on #7494
Hei!

The current workaround is to set

[code]

Still haven't decided whether to fix this by upstreaming this environment variables changes to the official images, or by reverting the bug fix that caused this issue.

Will come to a decision in the next few days, once I also get input from the official images maintainers.

[2019-12-20 11:48] olegantonyan opened #7511 "ArgumentError: bad argument (expected URI object or URI string) in bundler-audit"
Original issue https://github.com/rubysec/bundler-audit/issues/235
In version 2.1.2 `Bundler::LockfileParser` returns remotes' URIs as `Bundler::URI::HTTP`, but previous versions use `URI::HTTP`. This breaks bundler-audit.

Steps to reproduce:
1. install latest bundler (2.1.2 at this moment)
2. open a rails console in any rails project and run ```::Bundler::LockfileParser.new(File.read('Gemfile.lo

[2019-12-20 12:46] shadydealer opened #7512 "Bundler >= 2.1.1 ERROR: While executing gem ... (Gem::CommandLineError) Too many gem names"
We recently ran into a problem when we updated to bundler 2.1.1 and ran the following command:

[code]

output:
[code]

Turns out it's because we're running it from a path which contains white spaces. The exact same error can be reproduced when running `rake build` with bundle _2.1.2_ but it seems to be working on older versions, such as 2.0.2. Can you please fix this? Thanks in advance!

[2019-12-20 15:14] deivid-rodriguez commented on #7512
Hi @shadydealer. Could you manually apply this change and tell me if it fixes things for you?

[code]

I was able to reproduce a similar error, and fix it, with this patch, but I want to double check, since the error was not the same.

[2019-12-20 15:29] shadydealer commented on #7512
Hi @deivid-rodriguez. Yes this does indeed fix the error. Thanks!

[2019-12-21 00:42] stevenh commented on #6878
Was there ever a fix or workaround for this as it seems the version of jruby on ubuntu 18 LTS is totally useless as it cant use gem or bundler due to this issue?

[2019-12-21 00:58] stevenh commented on #6878
Seems jruby on ubuntu 18 LTS is just broken. I just manually installed `jruby-dist-9.2.9.0-bin.tar.gz` and all seems good so far.

Hope this helps other poor soles fighting this issue.

[2019-12-22 00:09] #7512 closed

[2019-12-22 13:17] colby-swandale commented on #7486
Thanks @schneems! I will close this ticket and direct anyone running into this issue to the linked Heroku articles.

[2019-12-22 13:17] #7486 closed

[2019-12-22 13:38] oLaVanBac commented on #7484
I have same issue, but downgrading bundler to v2.0.2 works for me.

[2019-12-22 15:10] schneems commented on #7486
Tag me as well please. It _should_ work but I want to keep my eye on it in
case.

Did we ever get confirmation that this is no longer an issue on Heroku?
I’ve not seen a ticket come in.
--
Richard Schneeman
https://www.schneems.com

[2019-12-22 19:31] deepj opened #7517 "bundle -v causes error instead of showing Bundler version when Gemfile.lock is locked to older Bundler"
When I tried to run my Rails application with Ruby 2.7.0 I got the following error:

[code]

In this case I would expect showing the current version of Bundler and not the error. Like in this case

[code]

In case of installing gems it's okay error. But not in case when I'm trying to print version of Bundler.

[2019-12-23 13:33] samgaco opened #7518 "Problem with yarn - yarn is not currently included in the bundle"
When trying `rails new example --webpack=react -T`

I would get
https://github.com/bundler/bundler/blob/3df56d9a374b7239d196e02adffa6bcb734af49d/lib/bundler/rubygems_integration.rb#L371

to prompt

[code]

Even though I have already yarn installed and I have tried multiple things. Uninstalling the yarn gem, removing all the binaries appearing after `which yarn` , uninstalling and reinstalling with

[2019-12-23 14:03] deivid-rodriguez commented on #7494
Ok, so after giving this some more thought, I think the right choice at the moment is to proceed with the revert.

Bundler already has an option to do what the docker images are trying to do: always install gems to the `GEM_HOME` location. It's `BUNDLE_PATH__SYSTEM=true`. I did try to introduce this option into the docker images, after noticing that this specific change to how `BUNDLE_PATH` works

[2019-12-23 15:59] #7518 closed

[2019-12-23 16:00] samgaco commented on #7518
solvec with:

[code]

[2019-12-24 07:10] deivid-rodriguez commented on #7494
I'm sorry for going in circles here, but after some more thought, I think I changed my mind again. For two reasons:

* Ruby 2.7 will be released today, so we don't have time to fix this in bundler and include the fix with ruby 2.7. That means the default ruby installation will have this bug unless we change the images.

* I just noticed that it's not only ENV-based configuration that work differen

[2019-12-24 14:19] jimeh commented on #7494
@deivid-rodriguez With all the cards on the table, I agree with you that fixing the docker images is probably the approach to take.

And on that topic, I was wondering if there's a specific reason that the docker images use the `BUNDLE_PATH` environment variable. I could be wrong, but simply removing the env var will also fix things, rather than making it more complicated by adding more to it, and

[2019-12-25 05:24] hsbt commented on #7487
@benoittgt I totally wonder why the test suite of `rspec-rails` invoked with `--disable-gems` flag. Rails always used bundler in their internal. So, Rails always needs to RubyGems. There is no reason to add `--disable-gems` flag in test suite of `rspec-rails`

[2019-12-25 10:54] JonRowe commented on #7487
Rails always needs it, but we don't, and invoking bundler bin stubs is faster than bundle exec.

[2019-12-25 20:28] benoittgt commented on #7487
Thanks @hsbt for your comment. @JonRowe gave you the answer to your question. 😊

Also the `--disable-gems` is written here https://github.com/rspec/rspec-dev/blob/master/travis/script/functions.sh#L14. We share those scripts accross all RSpec gems (rspec-core, rspec-mocks, etc).

[2019-12-25 23:34] hsbt commented on #7487
@JonRowe @benoittgt I think It's the configuration issue of `rspec`. Bundler 2.1.2 always show circular require warnings with `RUBYGEMS_GEMDEPS` environmental variable.

https://github.com/ruby/ruby/commit/75dca097b873222eaf3c70b7f43e3ffb98b7f2ed

I understood `rspec` need to run without rubygems, But I'm not sure why adding `--disable-gems` flag for the `rspec-rails` test suite.

[2019-12-27 14:02] marciotoshio opened #7521 "Bundler does not vendor net-http-pipeline gem."
If we already have the net-http-pipeline gem installed and try to vendor it the gem is not vendored because Bundler loads it before vendoring (https://github.com/bundler/bundler/blob/master/lib/bundler/vendor/net-http-persistent/lib/net/http/persistent.rb#L7).

To reproduce this:

1- Gemfile
[code]
1- `bundle install`
1- `bundle install --path vendor/bundle``
1- `bundle check`

Bundle check gives

[2019-12-28 02:25] subrata commented on #7107
I have resolved this by uninstalling whole ruby version through rbenv/rvm. After that I installed again and problem was resoled.

[2019-12-28 15:05] benbonnet commented on #7107
@subrata for sure scratching the whole stuff if you can is the best way. That is, having those two persistent defaults remains annoying - and quite feels buggy

[2019-12-29 06:53] kpm commented on #7484
I'm getting a similar error with Rails 6 and ruby 2.7.0 in docker, is it the same bug/problem?.  Please see Dockerfile attached.
[Dockerfile.txt](https://github.com/bundler/bundler/files/4007841/Dockerfile.txt)

[code]

[2019-12-30 16:55] cetinajero commented on #6626
This bug is also present when using a `git` source:

[code]

[2019-12-30 17:02] jeremyevans opened #7524 "Update mustermann to 1.1.0"
The keyword argument separation issues in mustermann 1.0.3 (which bundler currently uses in tests) are currently blocking the separation of positional and keyword arguments in Ruby 3 development (ruby/ruby#2794). Updating to mustermann 1.1.0 should fix those issues and allow for Ruby 3 development in this area to continue.  Can you please update the tests to use mustermann 1.1.0?

[2019-12-30 22:43] kou commented on #7524
mustermann 1.1.0 release breaks our CI. See https://github.com/bundler/bundler/pull/7523#issuecomment-569736683

Because we don't pin mustermann version. We just pin sinatra version to '~> 2.0`: https://github.com/bundler/bundler/blob/master/spec/support/rubygems_ext.rb#L22

#7526 will fix the CI failure with mustermann 1.1.0.

[2019-12-31 02:47] p-mongo commented on #7192
To reproduce this, remove `openssl.so` and try to `bundle install` any project (e.g. https://github.com/mongodb/bson-ruby):

<pre>
speed% find ~/.rbenv/versions/2.6/|grep ssl|grep so
/home/sandbox/.rbenv/versions/2.6/lib/ruby/2.6.0/x86_64-linux/openssl.so
/home/sandbox/.rbenv/versions/2.6/share/ri/2.6.0/system/Net/SMTP/ssl_socket-i.ri
speed% rm /home/sandbox/.rbenv/versions/2.6/lib/ruby/2.6.0/x86_

[2019-12-31 03:10] p-mongo commented on #7192
Turns out the problem was bundler's handling of LoadError, I seem to have missed that the message referenced in this ticket existed in two copies.

[2019-12-31 03:35] p-mongo commented on #7192
In our case the actual error is as follows:

<pre>
Could not load OpenSSL: LoadError: /lib64/libcrypto.so.10: version `OPENSSL_1.0.2' not found (required by .../src/rubies/ruby-2.6.5/lib/ruby/2.6.0/powerpc-linux-gnu/openssl.so) - .../src/rubies/ruby-2.6.5/lib/ruby/2.6.0/powerpc-linux-gnu/openssl.so
</pre>

When this error is reported, it is immediately apparent what the problem is. Without this er

[2019-12-31 03:40] wintersolutions opened #7528 "Gem metadata URLs don't support subdomains with underscore"
A metadata URL with subdomain in `*.gemspec` is considered invalid by `bundler`:

[code]
is rejected with:
[code]
A slightly different subdomain like `example-workspace` would be accepted by the regex:

[code]

I therefore propose to change the validation regex into:

[code]
To allow for underscores in subdomains/domains.

[2019-12-31 03:53] wintersolutions commented on #7528
Wrong project. Moved to https://github.com/rubygems/rubygems/issues/3061

[2019-12-31 03:53] #7528 closed

[2019-12-31 09:06] deivid-rodriguez commented on #7494
Hei @jimeh, sorry for the delay getting back to this, I took a week off for Christmas. I'll start moving things forward again now.

Regarding your question about why the docker images set `BUNDLE_PATH`, I think that was a choice made when the images were first started, and I think it was made to try to be consistent with the "one process per container" philosophy. Deviating from bundler's defaults

[2019-12-31 09:46] deivid-rodriguez commented on #7524
I'm sorry. We should have better pinning of our test dependencies to avoid this kind of issues. Thanks for fixing this for the time being anyways!

Closing!

[2019-12-31 09:46] #7524 closed

[2019-12-31 09:57] deivid-rodriguez commented on #7487
Yes, I agree this is a configuration problem with rspec-rails CI (I think they fixed it, anyways?). But I didn't want to break other similar setups that might be doing similar things, specially since it was just a require.

But I think we could start warning people about using `bundler` in combination with `--disable-gems`, and drop this in future versions.

[2019-12-31 10:00] deivid-rodriguez commented on #7521
Oh wow, I had no idea about this hidden dependency. Since the dependency is optional (require error is swalled, and we're not using it), the simplest solution here seems to remove the require from the version we are vendoring.

[2019-12-31 10:04] JonRowe commented on #7487
To find problems like this, as it is possible to disable rubygems, we do so. We also benchmarked it to be faster. If bundler needs rubygems for something it should require it. It's not up to us to do so.

Why? If a simple require solves the problem have the require... Its the least surprising option and the least work for your users. Let Ruby decide if rubygems is optional.

I'm biased having been

[2019-12-31 10:32] deivid-rodriguez commented on #7487
There's bigger fish to fry, so without prolonging the discussion of whether this is a issue with `rspec-rails` configuration or not, I agree with keeping the require and workaround for the circular require issue without deprecating anything.

[2019-12-31 10:54] hsbt commented on #7487
FYI: `--disable-gems` is NOT a performance improvement option. It only affects less 0.1 sec. So `--disable-gems`  is debugging option for ruby-core development like gdb or etc.

[2019-12-31 11:03] JonRowe commented on #7487
FWIW the main reason we do it is to take the lowest common denominator approach. It is possible to do so and we have historically had bug reports from it (I believe one of the linux's didn't have it installed by default at one point?) so we test without it. We also avoid requiring the standard library unless absolutely necessary for the same reason, it is possible for it not to be there and for it

[2019-12-31 11:14] hsbt commented on #7487
Again. I didn't say about `rspec`. I didn't understand to use `--disable-gems` option with `rspec-rails`.

Rails use rubygems and bundler explicitly. But rspec-rails uses `--disable-gems` option for avoiding rubygems and relying to load rubygems on bundler. I still wonder why `rspec-rails` didn't load `rubygems` in themselves.

[2019-12-31 11:17] JonRowe commented on #7487
Because `rspec-rails` follows the same philosophy as `rspec`.

As we don't ourselves use rubygems, we don't require it. It is up to bundler to require rubygems if it needs it.

[2019-12-31 11:25] hsbt commented on #7487
okay. I understood the opinion of the rspec team. But I totally against it.

I'm `+1` to https://github.com/bundler/bundler/issues/7487#issuecomment-569905840 for this issue.

[2019-12-31 17:02] nhh opened #7530 "Gem::Specification.find_by_name does not find installed gems when program is executed with bundle execute"
There is a ruby program which executes `Gem::Specification.find_by_name "alpha"` to verify a gem is being installed correctly.

The gem is installed during runtime via `Gem::Commands::InstallCommand.new.install_gem "/path/to/my.gem"`.
(Which runs without errors)

When running the program with bundler: `bundle exec my_program.rb" the Code throws a `Gem::MissingSpecError`.

When running the program

[2019-12-31 21:57] BrianHawley commented on #7489
@coding-bunny I ran into the same situation: Had to support rails 3.2 in one mode of a gem project, and I couldn't include the Gemfile.lock because it had to be generated automatically for reasons.

What worked was to install bundler 1.17.3 (we use rvm, so like this):
[code]

Then to use it to create the Gemfile.lock, I ran this code:
[code]

This generated a Gemfile.lock with this in it:
[code]

[2020-01-01 10:57] DannyBen opened #7531 "Please do not deprecate "--without development test" flag"
Removing this flag will complicate things in certain scenarios.

Consider this:

You have a docker-based Ruby application, and you are mounting the current folder to the container - as is a common practice when developing.

When the image is built, when using the `bundle config without ...` option, it creates the `.bundle` folder, not only in the docker container, but also in the host.

I believe

[2020-01-01 15:14] coding-bunny commented on #7489
Yeah we are using this workaround as well, but would be smarter for Bundler to just support this for projects, either by specifying something in the `.gemspec` file or so

[2020-01-01 21:45] vonas opened #7535 "'bundle remove GEM' removes comments containing 'gem "GEM"'"
I have the following `Gemfile`:
[code]
Running `bundle remove foo`, `bundle remove bar` and `bundle remove foo bar` removes the respective gems from the Gemfile, but also removes any comments containing `gem GEM`, where `GEM` is the name of the removed gem.

I noticed this while reading a multiline comment of mine in which I literally mentioned `gem GEM`.

My suggestion is to not remove lines that

[2020-01-02 16:22] cheald opened #7536 "2.1.0+ breaks bundler/inline"
bundle -v
Bundler version 2.1.3

[code]

Results in "Could not locate Gemfile":

[code]

This works fine under Bundler 2.0.1 and earlier.

[2020-01-02 16:29] cheald commented on #7536
It seems likely that it's related to this change: https://github.com/bundler/bundler/pull/7418/files

Under Bundler 2.0.1, `ENV["BUNDLE_GEMFILE"]` after requiring bundler/inline is "Gemfile". Under 2.1.3 is it `nil`. Manually setting `ENV["BUNDLE_GEMFILE"] = "Gemfile"` causes it to work again.

[code]

[2020-01-02 16:40] cheald commented on #7536
https://github.com/bundler/bundler/blob/master/lib/bundler/shared_helpers.rb#L229-L233

It appears that when ENV["BUNDLE_GEMFILE"] is nil, bundler attempts to actually find files on disk matching the default filenames. When it is given, Bundler doesn't perform any existence check. Because bundler 2.1.0+ "restore" a nil BUNDLE_GEMFILE, we end up doing a file check for gems.rb and Gemfile, which don

[2020-01-02 16:44] deivid-rodriguez commented on #7536
That makes sense @cheald. Let me try fix this.

[2020-01-02 17:05] deivid-rodriguez commented on #7536
Can you try out #7537?

[2020-01-02 17:32] schneems opened #7538 "Bundler 2.1.0 raising error when it doesn't need to"
I thought this behavior was removed from bundler:

[code]

Here's the Gemfile.lock https://gist.github.com/schneems/751ea79c9886d397e076cf5389575796

I've been asking for some kind of a killswitch or "escape valve" and the message I got was that it wasn't needed because the behavior was being removed. Is that still happening or is that work only going to be targeting 3.0? If it's not going to happ

[2020-01-02 17:37] cheald commented on #7536
That seems to have done the trick.

[2020-01-02 20:07] deivid-rodriguez commented on #7538
Yeah, not yet removed but this is a priority right now.

The plan is to completely remove the `BundlerVersionFinder` from `rubygems`, and then add a better version switcher inside bundler following the principle that it should never raise unnecessarily like you point out.

I'll work on this in the next few days.

[2020-01-02 20:50] schneems commented on #7538
Great, thanks! I spoke to Coby and Andre at RubyConf and think I understand the path forwards, it sounds like the lockfile parser will be versioned and that the latest release of bundler will always contain code to parse all versions of lockfiles (might be a gross over-simplification, but that's how I interpreted it).

On the Heroku side of things not sure if you've seen. I've made my own escape v

[2020-01-02 22:09] Tuman829 commented on #6454
I am having this same issue now. Is there any update?

[2020-01-03 18:49] deivid-rodriguez commented on #7494
@jimeh After all, I think your approach is the best thing to do. I digged into the history of the images repo and I see no issues. so I created https://github.com/docker-library/ruby/pull/306. Hopefully we can fix this for good.

[2020-01-03 19:42] jimeh commented on #7494
@deivid-rodriguez awesome, it does indeed sound like `BUNDLE_PATH` is safe to remove :)

I’ve been off work and AFK most of this week, but I should be around again as of today.

[2020-01-04 08:55] frostblooded opened #7540 "`bundle update` doesn't show post-install messages"
When I run `bundle install`, my gem's post-install message is shown as it should be, but it doesn't appear when I run `bundle update`. Is this intentional? I fully expected `bundle update` to also show post install messages because it installs new versions of gems.

[2020-01-04 14:22] deivid-rodriguez commented on #6888
This one was closed by https://github.com/bundler/bundler/pull/7010.

[2020-01-04 14:22] #6888 closed

[2020-01-04 17:12] #6875 closed

[2020-01-04 18:08] deivid-rodriguez commented on #6887
Closed by #7542.

[2020-01-04 18:08] #6887 closed

[2020-01-04 18:53] #6891 closed

[2020-01-04 19:45] #6897 closed

[2020-01-04 20:54] #7536 closed

[2020-01-05 02:07] #7521 closed

[2020-01-06 08:28] johan-smits opened #7549 "You must use Bundler 2 or greater with this lockfile Ubuntu 18.04"
In Ubuntu 18.04 the ruby bunder is pulled in though rubygems integrations. Which is version `1.16.1` is you install the package `Ruby`.

I have done a user install `gem install bundler  --user-install` and set my Path correctly so that it loads the local installed version.

[code]

But when I run in a rails project: `bin/rails` or just `rails` I get the error: `You must use Bundler 2 or greater wi

[2020-01-06 08:28] daniellizik commented on #4260
After reading this thread and many other stackoverflow posts I'm still having issues with this on osx **catalina 10.15**

### 1. Check my brew openssl dir is correct

[code]

### 2. Clean install of rvm with `--with-openssl-dir`

[code]

### 3. Check my rubies and openssl again

[code]
[code]

### 4. check `bundle env`

[code]

### 5. switch ruby ver and check again

[code]

Still not sure why eve

[2020-01-06 20:43] ioquatix commented on #7531
This equally applies to `--deployment`. So rather than creating a new issue, let's consider it part of the same issue.

[2020-01-06 21:26] deivid-rodriguez commented on #7531
We're definitely open for feedback here, thanks!

Note that you can also use global configurations with `bundle config --global without ...` or environment variables like `BUNDLE_WITHOUT` (I think environment variables are a good fit for docker).

We definitely need to document all the options in the deprecation message, I'll work on this as soon as possible.

Do you think, even knowing these alte

[2020-01-06 21:36] ioquatix commented on #7531
What is the motivation for this change?

[2020-01-06 21:58] deivid-rodriguez commented on #7531
The motivation is that silently remembering CLI flags has historically caused a lot of issues for both beginner and experienced users of bundler. I think that's because this is not how CLI tools usually work, so it breaks user expectations. CLI flags are supposed to apply to the current command, nobody expects that they are remembered.

[2020-01-06 22:06] DannyBen commented on #7531
@deivid-rodriguez, thanks for the reply and additional details.

Of course, I cannot pretend like I know the nuances and complexities of bundler, and I am sure there are good reasons for these deprecations.

I did not consider the fact that bundler actually *needs* to know its "without" config for subsequent commands, coming after `bundler install`.

The environment variable is indeed a good optio

[2020-01-07 08:46] deivid-rodriguez commented on #7494
Fixed images were released at https://github.com/docker-library/official-images/pull/7239, so closing this issue and fingers crossed :crossed_fingers:.

[2020-01-07 08:46] #7494 closed

[2020-01-07 10:05] jimbali commented on #7494
All working for @jimeh and I now :)

[2020-01-07 10:23] jimeh commented on #7494
@deivid-rodriguez thanks for all your effort and help with this :)

[2020-01-07 13:56] elia commented on #6677
I think I'm hitting the same problem, I'm not familiar with how dependency resolution works but seems like this gem combo is creating a giant matrix of possibilities, and ends up checking every single rails version (including prereleases).

**It was "solved"** by adding `gem 'rails', '>0.a'` to the Gemfile, hopefully this will ring a bell for the maintainers…

---

_What follows is debug output an

[2020-01-07 15:41] casperisfine commented on #7531
I think everyones agrees with that, and there's definitely a case for deprecating that remembering behavior.

However that doesn't make `--deployment`, `--without` etc useless.

On various CI or build system, being able to do the entire bundler thing in just one command rather than 4 or 5 is really important.

Is there any chance these flags would be kept, but simply not be remembered anymore ?

[2020-01-07 16:03] DannyBen commented on #7531
I totally agree that CI is a big part of my concerns as well, but why do you say 4 or 5 steps?
I think that the number would be 1.5 or 2 at most - am I missing something?

**Old way**

[code]

**New way**

[code]
**New way in docker-land**

[code]

It looks like we are all in agreement that **command line flags should be stateless**, but we now also learn that **bundler is stateful**.

So these tw

[2020-01-07 16:15] casperisfine commented on #7531
Because even though the issue mainly talk about `--without`, I'm using a bunch of other deprecated flags. e.g:

`bundle install --clean --path /tmp/bundle --without development:test:debug`.

So following the deprecation advice, that would be 3 `bundle config ...` followed by the final `bundle install`, so 4 commands.

Sure, it works. It's just that it's much more involved than the previous one com

[2020-01-07 16:36] DannyBen commented on #7531
I totally agree that this should not take more than 2 commands at most, since it is a common need to have more than one bundler environments.

Perhaps the reasonable conclusion should then be, to have a single environment variable, that simply points to a config file?

I was skimming [this manual page](https://bundler.io/v2.0/bundle_config.html) and didn't find anything.

Maybe:

[code]

and then,

[2020-01-07 17:10] joehorsnell opened #7551 "Resolving transitive gemspec dependencies against local paths with Bundler 2.1"
Hi Bundler team,

Can you please advise on how to avoid the `[DEPRECATED] You can no longer specify a path source by itself.` deprecation this is now enabled by default in Bundler 2.1 around using a bare path directive (i.e. with no block) if the required gems are not known in advance?

FYI we are currently using Bundler 1.x with a bare path directive to allow Bundler to find transitive gemspec de

[2020-01-07 17:17] deivid-rodriguez commented on #6677
I never investigated which change actually fixed this, but while this is reproducible on bundler 1.17 and bundler 2.0, it's fixed on 2.1. So I'll close this.

@elia Could you open a separate issue with reproduction steps with the issue you're having? Thanks!

[2020-01-07 17:17] #6677 closed

[2020-01-07 17:43] FireFart opened #7552 "Newest version breaks build - 'Cleaning all the gems on your system is dangerous!'"
Currently we have set
[code]
in our dockerfile to keep the images small but with the latest version of bundler the build fails with
[code]

This is because this message returns a non zero return code. How to set the `--force` flag with `bundle config set ...`?

[2020-01-07 18:19] Aquaj opened #7553 "`reverse_rubygems_kernel_mixin` breaks `require`-extending libs"
Hi !

While working on a Rails app (with its new autoloader Zeitwerk), I've encountered an issue where after Zeitwerk has redefined `require`, Bundle comes along and rewrites it to be the original `require` again, in an attempt to undo Rubygem's extension.
Basically:
- Rubygems modifies `Kernel#require`
- Zeitwerk modifies `Kernel#require` on top of Rubygem's modification
- Bundler resets `Kernel#

[2020-01-08 01:16] AdrianTP opened #7555 "`gem update --system` results in dozens of `Gem::Specification#rubyforge_project=` deprecation warnings"
Following the "TL;DR" at https://bundler.io/blog/2019/05/14/solutions-for-cant-find-gem-bundler-with-executable-bundle.html was apparently a huge mistake. It only updated RubyGems and Bundler, but in the process it ensured that every single `gem` command (or anything else that interacts with RubyGems) prints dozens of deprecations warnings to the console. See https://github.com/rubygems/rubygems/i

[2020-01-08 11:54] ToTenMilan commented on #7107
Removing gemspec files has made `gem list` to show one bundler as default, but `bundle` was still using old default bundler

Solution/workaround for me was to do
[code]
as in answer [here](https://github.com/rvm/rvm/issues/4566#issuecomment-451525422)  for different problem

[2020-01-08 12:33] envygeeks opened #7556 "i18n will not require w/ `bundle exec` when Gemfile uses v1.7.1"
## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

## Gemspecs

### <redacted>.gemspec

[code]

# Error

[code]

Related: ruby-i18n/i18n#506

[2020-01-08 15:26] h0jeZvgoxFepBQ2C commented on #7495
I'm not sure if we have the same problem, but reverting back to 1.17 works for us. With Bundler 2.0.2 we got following errors:

[code]

[2020-01-08 17:39] AdrianTP commented on #7555
For later reference: to fix this issue, I deleted the newer versions of bundler and rubygems, installed an older appropriate version of rubygems with `gem update --system 2.7.5` ([source](https://makandracards.com/makandra/5111-how-to-install-a-specific-version-of-rubygems-and-how-to-downgrade)), then ran `gem install bundler -v "$(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -n 1)"` as suggested

[2020-01-08 18:51] eregon commented on #6878
This happened in https://github.com/eregon/ruby-install-builder/runs/379988862 too for some reason, with JRuby 9.2.9.0

[2020-01-08 19:18] eregon commented on #6878
And again in https://github.com/eregon/ruby-install-builder/runs/379998722
That happens from `gem install bundler --no-document`

[2020-01-08 20:04] eregon commented on #6878
Filed as https://github.com/jruby/jruby/issues/6023

[2020-01-08 20:41] headius commented on #6878
For closure here, the issue filed by @eregon turned out to be the same thing @enebo ran into. In this case, Github Actions started including a "selenium standalone server" jar file in the system CLASSPATH. Removing this environment variable works around the problem, and we have filed https://github.com/actions/virtual-environments/issues/242 for GHA to fix it on their end

[2020-01-08 22:51] DeeprajPandey commented on #7107
Facing the same issue as @sergeyradov and I am currently following what @benbonnet suggested.
But when I ran that in irb, I got a note that `Gem::Specification` will not work anymore after 2020-02-01.

Use this instead
[code]

[2020-01-09 01:48] mltsy commented on #7494
Working great for me as well!  Thank you very much 🙏

[2020-01-09 09:35] danielsunarjo commented on #5211
Go rry `rm -rf /Users/yourusername/.bundle/cache/`  and bundle instale again

[2020-01-09 10:39] deivid-rodriguez commented on #7553
I think the general case for this should work because the order should be:

* Rubygems modifies Kernel#require
* Bundler resets Kernel#require to pre-Rubygem state
* Zeitwerk modifies Kernel#require on top of the original pre-Rubygem state

A possible explanation is that after `Zeitwerk` is loaded, you're requiring a different version of bundler than the one originally required, and bundler's "req

[2020-01-09 10:52] fxn commented on #7553
@deivid-rodriguez squares, Zeitwerk works in projects managed by Bundler routinely. Both Rails and non-Rails.

[2020-01-09 11:05] simi commented on #7553
I think I was hitting same problem recently. I'll try to prepare reproducing case.

[2020-01-09 11:36] deivid-rodriguez commented on #7552
Can you show me your Dockerfile and reproduction steps so I can help out better? Thanks!

[2020-01-09 13:23] SangeethKabilan25 opened #7557 "Error while executing jruby -S bundle install"
when i try to execute bundle install with jruby i am getting below error. Kindly help me in fixing this.

https://github.com/bundler/bundler/search?q=Unable+to+find+a+spec+satisfying+sqlite3+%28%3D+1.3.10%29+in+the+set.+Perhaps+the+lockfile+is+corrupted%3F&type=Issues

I am using windows 10

[2020-01-09 16:27] deivid-rodriguez commented on #7557
Hi @SangeethKabilan25. The link you posted goes to a list of issues including only the issue, so it doesn't really give any information about the error. Can you copy the actual output of the command here? I suspect it might be fixed by #7522 and other pending PRs, but not really sure.

[2020-01-09 16:31] deivid-rodriguez commented on #7495
@NaNdaWteK's problem really seemed the same problem as the linked issue. Fixed docker images have been released, so we should be alright.

Regarding your problem @h0jeZvgoxFepBQ2C, are you also under docker?

[2020-01-09 16:47] h0jeZvgoxFepBQ2C commented on #7495
No, we just use rbenv on a dedicated ubuntu cloud server.
It really seems that some gems are not loaded with bundler 2, but it works with bundler 1 somehow. I really spent a long time to find out why this is happening, but it didn't make any sense unfortunately.

[2020-01-09 16:49] deivid-rodriguez commented on #7495
Ok, then I'm going to ahead and close this, since this one seems particular to docker and should've already been fixed.

@h0jeZvgoxFepBQ2C Could you open a new ticket with as much information as possible about the problem you're having?

[2020-01-09 16:49] #7495 closed

[2020-01-09 18:12] FireFart commented on #7552
@deivid-rodriguez Here is a minimal configuration to show this bug:

docker build -t test .
[code]

Dockerfile:
[code]

Gemfile:
[code]

[2020-01-09 21:25] Aquaj commented on #7553
@deivid-rodriguez  This does make sense and we're clearly having an issue where things are sadly not running in the proper order.

It's clearly not just an issue of Bundler and Zeitwerk not playing well together, as without the inclusion of Foreman and/or Karafka in the app (which I didn't think would be so essential to reproduce this bug when I opened this), it all works fine.

I haven't seen a r

[2020-01-10 00:15] JunichiIto opened #7560 "Missing bundle-viz repo"
In https://github.com/bundler/bundler/blob/master/UPGRADING.md ,  bundle-viz repo is located  https://github.com/bundler/bundle-viz , but I cannot find it. (Maybe is it a private repo?)

[2020-01-10 00:54] hsbt commented on #7560
I couldn't find the `bundle-viz` in https://github.com/bundler/bundler/blob/master/UPGRADING.md. Can you point the its detail?

[2020-01-10 01:06] JunichiIto commented on #7560
It's written as a link:

https://raw.githubusercontent.com/bundler/bundler/master/UPGRADING.md

[code]

[2020-01-10 01:08] hsbt commented on #7560
Thanks, I think its the future plan section.

[2020-01-10 03:33] JunichiIto commented on #7560
I'm not sure my opinion is right but the link should be removed since it is not available now. I submit PR for it with some other fixes:

https://github.com/rubygems/bundler/pull/7561

[2020-01-10 09:47] deivid-rodriguez commented on #7560
Yeah, I agree it's better to remove the invalid link for now until we make a decision on naming and review the plugin. There's currently several options, the most promising seems @fatkodima's plugin because it has been recently updated, but we need to decide on naming, whether to move it to the `rubygems` organization or keep it external, and review the plugin. See https://github.com/rubygems/bund

[2020-01-10 11:57] casperisfine opened #7562 "[Feature Request] A "prune" option, or similar."
### Context

In some situations, (such as docker image building, CI caching, etc), it's desirable to minimize the bundler path footprint.

### Current workaround

Here's the script we're using right now:

[code]

And it's quite effective:

[code]

### Proposal

This script works well, but I think that if such feature was shipped with bundler itself it would be useful for many more people.

NB: the

[2020-01-10 13:30] alex-mohemian commented on #7484
Same here.

[2020-01-10 23:12] thisismydesign commented on #6553
There are a few merged PRs here, was this feature implemented?

[2020-01-11 02:20] JunichiIto commented on #7560
Thank you for information. I could understand the current status about the plugin.

[2020-01-11 02:20] #7560 closed

[2020-01-11 05:02] Rmin-A opened #7564 "'Could not find 'bundler' (2.1.2) required by your /Users/armin/pishi/Gemfile.lock.' in rubygems/bundler"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

I ran the command $ rails new <app_name> --database=postgresql

- **What did you expect to happen?**

New Rails app

- **What happened instead?**

  Error: Unfortunately, an unexpected error occurred, and Bundler cannot continue.

- **Have you trie

[2020-01-12 13:34] gjtorikian opened #7566 "Proposal: adding a `funding` link to gemspec"
👋 Hello there! Long time RubyGems user, first time contributor. 😸

My current problem is that, as a Ruby open source developer, I would like to ensure that my projects are receiving funding, so that I can continue to make them available.

I noticed that late last year, npm discouraged the use of asking for funding in a post-install message, in favor of [adding a `funding` option](https://blog.open

[2020-01-12 16:41] duckinator commented on #7564
Did you try running either of these (from the error message you mentioned)?

1. Update Gemfile.lock to use the version of Bundler you have: `bundle update --bundler`
2. Install the missing version of Bundler: `gem install bundler:2.1.2`

[2020-01-13 09:49] deivid-rodriguez commented on #7552
Hei @FireFart. So I tried this under bundler 1.17, 2.0, and 2.1 and it consistently fails with _current_ ruby docker images.

However, I think this change is caused by https://github.com/docker-library/official-images/pull/7239. Previously the official docker images would automatically set  `BUNDLE_PATH`, and since using an explicit path and not a global location, `bundler` would allow auto-cleani

[2020-01-13 16:02] deivid-rodriguez commented on #7552
@FireFart Please confirm that this was indeed the issue, and close it in that case. Thanks! :purple_heart:

[2020-01-13 22:47] gerases opened #7571 "Help with the --standalone option"
Hi,

I'm trying to understand why after using the `--standalone` followed by `--deployment`, `bundler/setup.rb` doesn't become part of the application. As a result, I have to install bundler of the right version as a separate step. I must be missing something simple here?

Thanks for any insight!

[2020-01-14 10:19] deivid-rodriguez opened #7572 "Update all references to old repo location to the new one"
We moved the bundler repo from it's old location: https://github.com/bundler/bundler to the rubygems organization: https://github.com/rubygems/bundler.

We should update all references inside the repository to point to the new location.

[2020-01-14 17:20] gjtorikian commented on #7566
Opening as an RFC question instead, which I just discovered: https://github.com/rubygems/rfcs/issues/22

[2020-01-15 03:32] tetron opened #7573 "LoadError: cannot load such file -- bundler/setup"
Ruby 2.3

bundler 2.1.4

Installed using "gem install bundler"

GEM_HOME=/var/lib/gems

When running "bundle exec rake" in a Ruby on Rails 5 project:

[code]

I expect to be able to `require` bundler since it is a dependency of Rails in Gemfile.lock:

[code]

`bundle install --verbose` reports the bundler dependency is fulfilled:

[code]

I used `bundler console` to get the search path from `$:`.

[2020-01-15 09:33] antonzagorskii commented on #6937
Just do it

`spring stop`

[2020-01-15 11:24] deivid-rodriguez commented on #7573
I have seen this issue in the past, but I can no longer reproduce it. Could you post repro steps for me?

[2020-01-15 11:56] alex-mohemian commented on #7484
Still the same issue with bundler 2.1.4, Ruby 2.7.0. `gem update --system` has been added to the Dockerfile.

[2020-01-15 12:06] alex-mohemian commented on #7504
The workaround is golden. It actually seems to be a Rails issue more than a bundler issue. The Rails generated bin/bundle stub isn't working with bundler 2.1+.

[2020-01-15 13:59] deivid-rodriguez commented on #7484
Thanks for the repros without against the latest version of rubygems. I'll try to have a look.

[2020-01-15 14:08] tetron commented on #7573
This happens to me in a Docker container so let me see if I can come up with a minimal Dockerfile that reproduces the error.

[2020-01-15 14:10] deivid-rodriguez commented on #7573
Thanks! Docker is great for repros :+1:.

[2020-01-16 09:52] #7085 closed

[2020-01-16 22:20] duckinator commented on #7555
As far as I know, this is completely caused by RubyGems, not Bundler. You can also use any RubyGems version up to 3.0.0 without issue, as the warning was added in 3.1.0.

There's an in-progress PR for RubyGems to make it only show the warning to people who can actually fix it properly, but I'm unsure of the state of it.

[2020-01-16 22:42] duckinator commented on #7571
On my system, `--standalone --deployment` creates `vendor/bundle/bundler/setup.rb` plus a bunch of stuff in `vendor/bundle/ruby`. In order to use the `bundler/setup` it creates, I have to do `ruby -I vendor/bundle /path/to/some/script.rb`. Perhaps you need to do something like that?

[2020-01-16 22:59] fzakaria opened #7576 "Ignore Ruby version in Gemfile"
I have a Gemfile that specifically lists a Ruby version & engine.

i.e.
[code]

I know this gem however works with non-JRuby and I'd like to test it on MRI.
However when I execute `bundle` it gives me the error:
[code]

It would be great if there's a switch to control this.

If you are wondering then why are we specifying JRuby if I know it works on MRI ?
Well we want to avoid people accidentally

[2020-01-17 13:11] duckinator opened #7579 "Outdated reference to pullreview.com"
[doc/contributing/HOW_YOU_CAN_HELP.md](https://github.com/rubygems/bundler/blob/master/doc/contributing/HOW_YOU_CAN_HELP.md) links to `pullreview.com`, which [hasn't existed since 2018](https://blog.8thcolor.com/en/2018/02/the-end/). Should the `PullReview or` part just be removed, or is there a different service being used now?

[2020-01-17 13:13] deivid-rodriguez commented on #7579
It should be removed :+1:.

[2020-01-17 13:16] duckinator opened #7581 "Update codeclimate to use correct repository"
In the process of updating GitHub for #7577, I discovered that CodeClimate is still configured for `bundler/bundler`. If someone sets up `rubygems/bundler` on CodeClimate (I'm not sure if there's a way to tell them a repo has moved, or if you just need to set it up again), I can update the link. :+1:

[2020-01-17 13:23] duckinator commented on #7579
Closed by https://github.com/rubygems/bundler/pull/7577/commits/7abd3176300d5861e3ee581c6218add3265bbbb5, included in #7577.

[2020-01-17 13:23] #7579 closed

[2020-01-17 13:29] duckinator commented on #7572
Related:

- PR #7577 ("Update references to old repo location")
- PR #7582 ("Update GitHub links in CHANGELOG.md")
- ~Issue #7579 ("Outdated reference to pullreview.com")~
- Issue #7581 ("Update codeclimate to use correct repository")

[2020-01-17 15:40] jesperronn opened #7583 "bundle packages refuses to save bundler itself"
Hey, I have an offline installation of ruby and required ruby gems where I ran into a problem.

I am preparing the installation on an online server, and then copy all the gems to the offline production server.

I used `bundle package --all` to create a `vendor/cache` folder containing all the gems I need.

Unfortunately Bundler itself is missing. I am adding Bundler gem to the Gemfile to force it,

[2020-01-17 18:39] tetron commented on #7573
@deivid-rodriguez I just discovered that I may need to update `gem` alongside `bundler` -- I haven't confirmed that's causing this bug, but perhaps `bundler` could warn if the `gem` version is too old?

[2020-01-17 20:24] tetron commented on #7573
Yes, after I updated RubyGems it started working again.  A warning from `bundler` about upgrading RubyGems would probably save a lot of people some trouble.

[2020-01-17 20:24] #7573 closed

[2020-01-17 21:41] amcknight commented on #7555
The PR referred to above: https://github.com/rubygems/rubygems/pull/3047

[2020-01-17 23:57] AdrianTP commented on #7555
The average Ruby developer who confronts the `>= 0.a` error message and Googles a solution is likely to simply run the recommended command presented in the "TL;DR" section of the Bundler support page for that error message, and is unlikely to know how to revert the resulting changes to their system. It took me about two hours of Googling and frustrated trial-and-error to come up with the workaroun

[2020-01-18 00:07] deivid-rodriguez commented on #7573
I'd still appreciate the repro because bundler is expected to support older rubygems versions too.

[2020-01-18 09:32] jesperronn commented on #7583
This is not urgent or anything. For now,  I will manually copy the bundler `.gem` to the server and do a

`gem install bundler.2.1.4.gem` pointing to the actual file. It works fine, but is of course an extra step to copy that file to the server.

[2020-01-18 11:17] deivid-rodriguez opened #7585 "Add ruby 2.7 to CI matrix"
I want to make sure everything is good in ruby 2.7 before the next release.

[2020-01-18 11:50] deivid-rodriguez opened #7586 "Drop support for ruby 2.3"
I'd like to drop support for ruby 2.3, maybe in the upcoming 2.2 release, maybe right after.

[2020-01-18 11:57] hsbt commented on #7585
We have a plan to release Ruby 2.7.1 at early Feb.

[2020-01-18 12:05] deivid-rodriguez opened #7587 "Migrate current Linux CI matrix to Github Actions"
We should migrate our current TravisCI configuration to Github Actions, so that we have a single CI system.

[2020-01-18 13:41] deivid-rodriguez commented on #4565
Closing due to lack of feedback.

[2020-01-18 13:41] #4565 closed

[2020-01-18 19:19] masterkain commented on #7531
I'm trying to adjust to the changes upgrading from 1.x to 2.1.x and here's some findings:

previous `deployment` flag:

[code]

current:

[code]

the problem I see with this is that if this code runs in a `ruby:2.6-alpine` docker image (as part of a build step in a CI):

- with the current version `BUNDLE_PATH` env variable will take precedence over the `vendor/bundle` one that is supposed to be s

[2020-01-18 21:48] deivid-rodriguez commented on #7531
Official docker images no longer set the `BUNDLE_PATH`, so this should be ok if you upgrade I think.

[2020-01-18 23:20] djrobby commented on #1596
Lifesaver!

[2020-01-19 09:52] colby-swandale commented on #7586
I fear dropping Ruby 2.3 support in a feature release would cause a fair amount of confusion as Bundler promises to not break backwards compatibility for non major version releases.

Is there something Ruby 2.3 is (not) doing that's causing a burden or preventing a feature being added?

[2020-01-19 12:08] deivid-rodriguez commented on #7586
Nope, this is not our policy. Have a look at https://github.com/rubygems/bundler/blob/master/doc/POLICIES.md#compatibility-guidelines. In particular, "Unsupported Ruby versions will be dropped in the first Bundler minor release after support ends.". I think this is a very common practice, and that's why we chose it.

[2020-01-19 12:37] deivid-rodriguez commented on #7586
It is true that if we do this, we'll cause CIs still running on ruby 2.3 and using unconstrained `gem install bundler` to fail, because of https://github.com/rubygems/rubygems/issues/3089. We should try fixing that issue, but even if we fix it and release it in rubygems, people will still to pick up the fix with `gem update --system`, so... it's hard.

I'm fine with waiting more and trying to impr

[2020-01-19 21:55] duckinator commented on #7572
TODO (copied from #7577):

- [x] `bundler.gemspec`
- [x] `CHANGELOG.md` (Moved to its own PR, #7582)
- [x] `CODE_OF_CONDUCT.md`
- [x] `doc/`, excluding reference to now-dead `pullreview.com`
- [x] `doc/contributing/HOW_YOU_CAN_HELP.md` reference to long-dead `pullreview.com`
- [x] `.github/config.yml`
- [x] `lib/` (comments)
- [ ] `lib/` (functional changes)
- [ ] `man/`
- [x] `README.md`
- [x] `s

[2020-01-20 07:08] colby-swandale commented on #7586
I'm super confused by that policy, it's not inline to many past discussions I've had with the core team around how Bundler handles EOL rubies. One of the big points for Bundler v2.0 was so we could drop 1.8 support.

@indirect is https://github.com/rubygems/bundler/blob/master/doc/POLICIES.md#compatibility-guidelines right? It sounds counter to the no breaking changes policy?

[2020-01-20 07:18] indirect commented on #7586
@colby-swandale I think it lines up with the timeline we discussed, but not the version numbers.

@deivid-rodriguez this POLICIES document was written before the latest round of version number planning, and I think it is now slightly out of date (sorry! 🙇). my memory of the plan that we had all agreed on was to aim for 1) only dropping old versions in major bundler bumps, and 2) try to release one

[2020-01-20 07:51] flaprano commented on #7511
I know it should work, but I found out yesterday that this problem only happens if a source with an HTTP address is being used.  If it is HTTPS (in my case I have an HTTP that is an internal rubygems), the URI cast is not attempted and the error never happens.

[2020-01-20 08:53] deivid-rodriguez commented on #7586
As I recall it, we agreed that dropping support for old rubies was not a breaking change, and decided to start dropping support on minors (that's what the current policy says). But since we were changing the previous policy we decided to release bundler 2 dropping support for old rubies as a "one time thing". There's probably a slack record about this, I remember since I was the one who brought up

[2020-01-20 09:00] indirect commented on #7586
Yeah, the part where Bundler 3 might not be ready by April is the hard part there. :/

Thanks for writing up what you remember! I agree that we originally thought it would be ok to drop rubies in minor releases, and I also agree that today it seems like dropping rubies actually needs to be a major. Glad it turns out we are on the same page after all. :)

[2020-01-20 14:41] NaNdaWteK commented on #7495
Sorry I actually use gitlab, and I don't remember this

[2020-01-20 20:37] headius commented on #4565
I have not heard of this being an issue for anyone in quite some time, so we'll assume it has been resolved.

[2020-01-21 03:58] freibuis commented on #7549
since its a deb package gem then maybe
[code]
maybe... I am not sure as I prefer rvm than run ruby that is outdated.

[2020-01-23 09:30] vanprarth opened #7595 "RUBY VERSION ruby 2.6.0p0 BUNDLED WITH 1.17.3 ``` --- TEMPLATE END ---------------------------------------------------------------- Unfortunately, an unexpected error occurred, and Bundler cannot continue. First, try this link to see if there are any existing issue reports for this error: https://github.com/bundler/bundler/search?q=%22&type=Issues If there aren't any reports for this error yet, please create copy and paste the report template above into a new issue. Don't forget to anonymize any private data! The new issue form is located at:"
RUBY VERSION
   ruby 2.6.0p0

BUNDLED WITH
   1.17.3
[code]

[2020-01-23 13:39] #7595 closed

[2020-01-23 14:51] #7192 closed

[2020-01-23 15:10] deivid-rodriguez opened #7596 "Improve OpenSSL load failure message"
In #7527 we improved the message to show underlying error and backtrace.

However, we should also improve the other part of the message, namely:

This message doesn't add much value, so we should remove it entirely or maybe change it to something along the lines of:

The reason is:

* I don't think we want to explicitly recommend switching sources to http.
* The RVM advice seems too specific to me

[2020-01-24 15:27] fzakaria opened #7598 "Bundler 2.1.4 errors with different prefix for path source gems"
When running my Ruby code via JRuby -- I've encountered an interesting failure specifically on **2.1.4** whereas **2.0.2** does not have the issue.

The failure at startup is:
[code]

The _Gemfile_ looks like:

[code]

I have not _git-bisected_ yet but auditing the code; I have strong intuition to believe the issue is caused by https://github.com/rubygems/bundler/commit/c7532ced89bbc8ddc7296c56391

[2020-01-24 15:28] fzakaria commented on #7598
Tracking this in JRuby issue also https://github.com/jruby/jruby/issues/6045

[2020-01-24 17:29] vfonic opened #7599 "Bundler could not find compatible versions for gem "bundler" (rails 4)"
I have both bundler 1.17.3 and 2.1.2 (well, I just uninstalled 2.1.2).

I cloned this repo: https://github.com/sheharyarn/s3_direct_upload_example
And ran `bundle install`.

Then I got the following error:

I do have bundler 1.17.3, which fits the required criteria. But perhaps, for this case, where there's no bundler version ("bundled with" [Gemfile.lock](https://github.com/sheharyarn/s3_direct_u

[2020-01-24 23:37] stevewi opened #7601 "bundler 2.1.4 issue"
I did a

`gem update`

The bundler gem got updated from 2.1.4 from 2.1.2 (which was installed with ruby 2.7.0).  I did a

`bundle update --all`

on my project after *removing* the **Gemfile.lock**.  Everything proceeded normally.  I started getting warnings that look like this when I run the executable in that project:

[code]

After doing the above again, I noticed the following in the list of ge

[2020-01-25 00:28] hsbt commented on #7601
Can you provide the detail of reproducible instructions with only the command-line?

[2020-01-25 01:38] stevewi commented on #7601
Here you go...  This happened to be on macOS Catalina (10.15.2) but I get the exact same results in the same way on Debian 10 (64-bit AMD & 32-bit ARM7l).

[bundler-2.1.4.txt](https://github.com/rubygems/bundler/files/4111517/bundler-2.1.4.txt)

[2020-01-25 11:32] slonopotamus opened #7602 "`bundle exec <cmd>` gives "command not found" on JRuby+Windows"
1. Windows 10
2. `jruby 9.2.9.0 (2.5.7) 2019-10-30 458ad3e Java HotSpot(TM) 64-Bit Server VM 25.231-b11 on 1.8.0_231-b11 +jit [mswin32-x86_64]` installed via official installer [JRuby 9.2.9.0 Windows Executable (x64)](https://s3.amazonaws.com/jruby.org/downloads/9.2.9.0/jruby_windows_x64_9_2_9_0.exe)
3. Any Ruby project with `Gemfile`, for example [tdtds/kindlegen](https://github.com/tdtds/kindleg

[2020-01-25 13:55] deivid-rodriguez commented on #7598
Hello @fzakaria! Could you post exact repro instructions? I tried bundling a Gemfile including something like `gem 'some-gem', :path => "ruby-gems/some-gem"` and it worked, so there must be something else going on in your application.

[2020-01-25 16:05] fzakaria commented on #7598
@deivid-rodriguez I'll craft a repro project.
It needs to be done with JRuby and then packaged as a JAR.

I'll set up a repro project today.

[2020-01-25 18:02] Manarhamad opened #7604 "i can't run bundle install"
i can't run bundle install i have installed the latest ruby on rails on windows 10 x64 pc
erro screen below
[Rails error.txt](https://github.com/rubygems/bundler/files/4112340/Rails.error.txt)

[2020-01-25 18:05] Manarhamad commented on #7604
C:\Sites\test_install>ruby -v
ruby 2.3.3p222 (2016-11-21 revision 56859) [i386-mingw32]
C:\Sites\test_install>rails -v
Could not find gem 'puma (~> 3.7) x86-mingw32' in any of the gem sources listed in your Gemfile.
Run `bundle install` to install missing gems.
C:\Sites\test_install>phantomjs -v
2.1.1
problem is i have a training session needs to be done with ruby in rails
your reply will be very

[2020-01-26 13:51] dmitriy-sokolyanskiy opened #7606 "LoadError: cannot load such file -- <file_name>"
Ubuntu 18
Ruby 2.6.3
$gem -v  2.7.6
bundler -v 2.1.4
Installed using "gem install bundler"

When running "bundle install" in a Ruby project:
path from gem which hosting on Github has been added to $LOAD_PATH but then when I open $LOAD_PATH over irb , this path is absent there. And when I try to run app that use this gem it throws an error: LoadError: cannot load such file -- <file_name>
I prepare

[2020-01-26 19:21] fzakaria commented on #7598
@deivid-rodriguez I have produced a minimal example at https://github.com/fzakaria/warbler-bundler-jruby-failure

If you run the example script with simply ruby, it works.
[code]

**however**, if you build the JAR & run it you get the error from above.

[code]

[2020-01-27 14:42] deivid-rodriguez commented on #7598
I could reproduce the issue, thanks! I'll try to investigate it.

[2020-01-27 17:06] joehorsnell opened #7607 "CHANGELOG is out of date on master (does not mention 2.1.4)"
Hi,

Is it intentional that changes on the `2-1-stable` branch, including the [CHANGELOG.md](https://github.com/rubygems/bundler/compare/master..2-1-stable#diff-4ac32a78649ca5bdd8e0ba38b7006a1e) are not on master? It confused me slightly when I saw Bundler [2.1.4](https://rubygems.org/gems/bundler/versions/2.1.4) in RubyGems, but no mention of it in the `CHANGELOG`.

Thanks.

[2020-01-27 17:09] fzakaria commented on #7598
Great ! Let me know if you need anything else for help in the investigation.

[2020-01-27 17:52] deivid-rodriguez commented on #7598
Ok, so this seems like due to a weird inconsistency in `jruby` that should probably be fixed, where `Pathname#expand_path` _with_ an argument always returns `uri:classloader://` (double slash) as the canonical version of "uri:classloader" paths, while `Pathname#expand_path` _without_ an argument always returns `uri:classloader/` (single slash) as the canonical version of "uri:classloader" paths.

[2020-01-27 17:55] deivid-rodriguez commented on #7607
No, I forgot to update the master branch. I'll fix it now.

[2020-01-27 17:55] fzakaria commented on #7598
Since it's way less onerous to update Bundler gem vs updating our JRuby installation I would very much appreciate the patch to bundler to accommodate the bug.

I'll also add your latest investigation to https://github.com/jruby/jruby/issues/6045 for them

[2020-01-27 17:58] deivid-rodriguez commented on #7598
Yes, we'll provide a workaround in bundler. I want to make sure I add a basic test for this in order to catch basic errors with `warbler` like this one in the future.

[2020-01-27 18:00] fzakaria commented on #7598
🙏 thanks.
Please feel free to tag me on the PR.

[2020-01-27 21:51] #7607 closed

[2020-01-28 10:06] 127 commented on #7601
+1

[2020-01-28 10:24] deivid-rodriguez commented on #7606
Hei @dmitriy-sokolyanskiy!

I think the problem is that by using `ruby runner.rb` you're not telling `ruby` anywhere to use bundler to setup the dependencies. What you're doing manually inside `irb` is what `bundler/setup` does.

So either `bundle exec ruby runner.rb` or `ruby -rbundler/setup runner.rb` should get you back on track.

Let me know if that works for you, and please close the ticket i

[2020-01-28 10:39] 127 commented on #7601
There's  detailed description of the problem but it's not a bundler problem actually
https://qiita.com/scivola/items/8176304c03a92aebdfe2

[2020-01-28 15:38] sue445 opened #7610 "config are stored to global when using `bundle config set --local` more than once"
# Actual
## case1
[code]

## case2
[code]

# Expected
I expected all configs are stored to `.bundle/config` (not `/usr/local/bundle/config`).

# Supplement
* This behaviour is same to bundler v2.1.4 too

[2020-01-28 16:57] dmitriy-sokolyanskiy commented on #7606
Hello, @deivid-rodriguez
Great. Thanks a lot. Sorry for the false issue.

[2020-01-28 16:57] #7606 closed

[2020-01-28 16:58] deivid-rodriguez commented on #7606
No problem!

[2020-01-28 18:00] fzakaria opened #7611 "Bundler requires all `:path` gems to be in default group"
If you have a Gemfile with a local _path_ Gem such as:

[code]
Even though the `demo` gem is **not used** in any non-test files; bundler will complain:
[code]

(This is an issue from running within a JAR using JRuby+ Warbler)
I have created a minimal example at: https://github.com/fzakaria/warbler-bundler-jruby-failure/tree/demo-development
(Specifically the _demo-development_ branch)

## Environm

[2020-01-28 18:06] fzakaria commented on #7611
I am not sure why `bundler/setup` is including the development groups.

@deivid-rodriguez tagging you since you helped a lot on https://github.com/rubygems/bundler/issues/7598 & it's the same reproduction project just in the branch I moved the `demo` ruby-gem to a different group.

[2020-01-28 20:17] stevewi commented on #7601
You write:

Uh...no...  Why should I have to do that when I've **NEVER EVER** had to do that before.  Besides, part of it runs as part of the email delivery pipeline so not entirely possible.  Better to stick with bundler-2.1.2...

You write:

I don't read Japanese at all...  Can some kind soul post the executive summary?

[2020-01-29 11:12] rsortiz opened #7612 "Bundle install got stuck on 'Resolving dependencies'"
I've updated my ruby to 2.7.0 and bundler to 2.1.4, now always got stuck in 'Resolving dependencies'.

I don't have a Gemfile.lock

My Gemfile:
`# frozen_string_literal: true
source "https://rubygems.org"

git_source(:github) {|repo_name| "https://github.com/#{repo_name}" }

gem "fastlane" ,  '~>2.140.0'
gem "rails"
gem "cocoapods", '~>1.8.4'
gem 'fastlane-plugin-appcenter'`

Bundle env:
`rortiz$

[2020-01-29 11:14] #7612 closed

[2020-01-29 12:57] 127 commented on #7601
So, do I  ) But nowadays we have a magic Google Translate tool

[2020-01-29 17:30] ianfixes opened #7613 "Feature request: Add information about environment variables in authentication error messages"
### Frustration
I spent a bunch of time trying to debug an authentication issue.

It turned out that our `Gemfile` was pointing to `repo.fury.io` as a source but the environment variable was `BUNDLE_GEM__FURY__IO`.  But I had gone down a rabbit hole in our CI system, making sure environment variables were being set and expanded properly.

(Between the various shells that get used, `Dockerfile`, an