[2018-01-24 02:56] joelvh opened #6270 "`BUNDLE_GEMFILE` does not override `.bundle/config` path to Gemfile"
It's possible to specify a development version of the Gemfile in `.bundle/config` (such as `Gemfile.dev`). However, when running something like `BUNDLE_GEMFILE=Gemfile bundle exec rake` will still use `Gemfile.dev`.

Shouldn't the environment variable override what's specified in `.bundle/config`?

[2018-01-24 02:57] joelvh commented on #6270
Would love to submit a PR for this, but spent a lot of time trying to track down where the Gemfile path is determined and haven't been able to identify the proper fix yet....

[2018-01-24 10:12] colby-swandale commented on #6270
This seems like a bug, thanks for the report! A PR would be awesome! I suggest looking at [SharedHelpers](https://github.com/bundler/bundler/blob/master/lib/bundler/shared_helpers.rb#L240) as you'll find most of the logic around finding the Gemfile there.

[2018-01-24 15:42] joelvh commented on #6270
My finding at the moment is that running `BUNDLE_GEMFILE=Gemfile JOEL=yes bundle exec rails c` brings up the Rails console, and `ENV` has the proper value for `JOEL` but `BUNDLE_GEMFILE` contains the value of what's specified in `.bundle/config`. (In this case, it's reset to "Gemfile.dev" instead of "Gemfile" specified in the command.)

@colby-swandale do you know if/why `BUNDLE_GEMFILE` is overwr

[2018-01-24 15:43] joelvh commented on #6270
@colby-swandale I see there's an "environment preserver" here, but still digging into things.

https://github.com/bundler/bundler/blob/2c059142d17df414ab6f06842cfbfd7321a3e33e/lib/bundler.rb#L21

[2018-01-24 15:59] joelvh commented on #6270
@colby-swandale If I don't use `bundle exec` it works as expected. Maybe there's a conflict between `bundle exec` and Rails loading bundler internally?

[2018-01-24 16:01] joelvh commented on #6270
Alright, so I've tested `bundle exec irb` and I see in `ENV` that the value I want to override what's specified in `.bundle/config` is overwritten and the value I want to use is in `BUNDLER_ORIG_BUNDLE_GEMFILE`

[2018-01-24 16:23] joelvh commented on #6270
The real issue I have right now is `BUNDLE_GEMFILE=Gemfile bundle update` uses `Gemfile.dev` from `.bundle/config`. I'm not sure why the existing environment variables get backed up and replaced @colby-swandale ?

[2018-01-24 16:36] joelvh commented on #6270
It looks like the culprit is this line, which either takes a CLI option `--gemfile` or pulls from settings. I think environment variables should be merged into settings. (My specific issue is trying to specify `BUNDLE_GEMFILE` with `bundle update`, so adding the `--gemfile` option for `bundle update` could suffice... I don't know why it's not already an option for that command. However, it's not i

[2018-01-24 20:03] philnelson commented on #5655
I have installed both libprotobuf-dev protobuf-compiler via apt and the error persists.

[2018-01-25 15:56] aledalgrande commented on #6216
@segiddins you can use `dtrace` though? Needs `sudo` I think.

[2018-01-25 18:53] brixen opened #6274 "Unsychronized update of shared mutable state"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/source/rubinius/rubinius/build/rubinius/gems/bin/bundle install --jobs=40` in a new Rails 5 app.

- **What did you expect to happen?**

  I expected Bundler to complete the install.

- **What happened instead?**

  Instead, wh

[2018-01-26 03:38] ViktoriLisa commented on #6265
I solved this problem.
It turned out that the problem was to update rubygems ssl certificate.
At least after I did it in another way, the error disappears.

[2018-01-26 03:38] #6265 closed

[2018-01-26 06:57] segiddins commented on #6216
@aledalgrande I probably could, but I don't know how, and when I tried last time I spent a few hours and got nowhere, either with dtrace or reproducing the issue, and I don't remember which

[2018-01-26 07:03] segiddins commented on #6242
Could you also provide the output of running `DEBUG=1 bundle install` ? Thanks!

[2018-01-26 18:19] whatcould commented on #4978
I had the same issue and fix as @ianks, all the refs are blown away and suddenly my gems are updated!

On MacOS (with BSD sed) I had to run this: `sed -i '' 's/git:\/\//https:\/\//g' Gemfile.lock` Hope that saves somebody a little time. & thanks for the tip!)

[2018-01-26 19:45] greghopkins commented on #6242
Any thoughts on this? I'm experiencing the same issue. And since the bundle install and assets precompilation happen together (although different indexed steps), I cannot just change the permissions on the folder - as bundle install runs AFTER any of the things in `.ebextensions`.

I supposed I could shut off precompilation and add it in as some sort of custom command in `.ebextensions` - but that

[2018-01-27 01:54] colby-swandale commented on #6259
are you using a different OS, ruby verison between your production and dev?

[2018-01-27 02:04] colby-swandale commented on #6250
@blerins can you just confirm what the issue here is? is that `bundle package` doesn't have a `--force` flag or the:

[code]

error?

[2018-01-27 02:16] colby-swandale commented on #6158
I'm closing this. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2018-01-27 02:19] colby-swandale commented on #6105
ping @dekellum is this still an issue?

[2018-01-27 02:21] colby-swandale commented on #6127
I'm closing this. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2018-01-27 02:21] #6127 closed

[2018-01-27 02:23] colby-swandale commented on #6058
I'm closing this. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2018-01-27 02:23] #6058 closed

[2018-01-27 02:28] colby-swandale commented on #5996
ping @cbfiddle were you able to resolve your issue.

[2018-01-27 02:29] colby-swandale commented on #6049
ping @metcalf

[2018-01-27 03:13] dekellum commented on #6105
I can still reproduce, now with latest master 7fc622bd and later updated system ruby 2.3.6p384.

[2018-01-27 04:08] cbfiddle commented on #5996
Yes, by ensuring that PATH was set the same in all contexts of use.

[2018-01-27 04:30] #5996 closed

[2018-01-27 04:36] cbfiddle commented on #5996
I have to say that even though I was able to resolve my issue, I think it is a bug that bundle exec and bundle env are inconsistent in their use of PATH. When bundle exec does not do what you want, people are advised to run bundle env. That is useful only if bundle env describes the environment as used by bundle exec, which is not necessarily the case.

[2018-01-27 06:33] mvz opened #6276 "Error during bundle install: Unable to find a spec satisfying xmlrpc (~> 0.3.0) in the set."
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/matijs/.rbenv/versions/2.4.3/bin/bundle`.

- **What did you expect to happen?**

  I expected Bundler to install the needed gems, hopefully including xmlrpc, or alternatively tell me to update the lockfile.

- **What happ

[2018-01-27 06:42] mvz commented on #6276
I should probably note that this is a project that is supposed to run on CRuby 2.3, 2.4 and 2.5. I'm usually running 2.5 locally, however.

[2018-01-27 13:00] deivid-rodriguez commented on #6058
@colby-swandale Well, yes, it was just not acknowledged as a bug.

[2018-01-27 17:19] metcalf commented on #6049
Hello! Is there an action for me here?

[2018-01-27 22:53] colby-swandale commented on #6049
We would appreciate it if you could create a script to reproduce the problem you're experiencing.

[2018-01-28 18:25] ajwann commented on #5566
@galopin If you upgrade to Ruby 2.5.x do you still encounter this issue? I'm trying to reproduce the problem with no luck, and I'm currently on 2.5.

[2018-01-29 07:54] ruudgrosmann commented on #6259
No, they are the same. The only difference is that the dev machine is an virtualbox machine and the production machine is a docker image. But since copying the complete vendor directory actually works, I assume this cannot be the reason for bundle to decide they should be recompiled.

I suspect bundle take timestamps or files into account that live outside the gems directory.

Ruud

[2018-01-29 13:27] blerins commented on #6250
The "Cleaning all..." message is new, and the command `bundle package` is not executing because of this message, and there isn't any way to use any flag for the command succeeding.

I don't remember why we were using that command, because is not required any more on our workflow.

I thought it might be interesting for you to know that the behavior has changed.

[2018-01-29 15:08] JalenOng commented on #4260
I have the same problem but I didn't see a clear solution to the problem in this thread?
My global and local version is `2.2.8` When I run `ruby -v`, my version is also `2.2.8`. But when I run bundle install, I get this error `Your Ruby version is 2.5.0, but your Gemfile specified 2.2.8
`. I have done rehash and reinstall bundler but nothing solves the problem. Bundle env shows this:
[code]

[2018-01-30 06:50] perlun commented on #6245
Seeing similar issues as @dalizard on Travis, with Ruby 2.5.0. In my case, setting `RUBYOPT=''` when executing `bundle exec foo` from an already-bundled scenario helped workaround the issue.

[2018-01-30 10:38] Schwad commented on #4679
@lynncyrin howdy! any update on this or is it still WiP?

[2018-01-30 11:03] galopin commented on #5566
@ajwann Adam, running Ruby 2.5.x under Windows is not really a very recommended set-up. Does the Bundler team has an AppVeyor build environment in working condition? If yes, it would be great to be able to check if Bundler effectively works "as is" with earlier versions of Ruby when the username contains non-ASCII characters.

The problem originates from this specific statement where Ruby mangles

[2018-01-30 11:11] RooTooZ opened #6277 "On official site not works section http://bundler.io/git.html"
Can't read readme about git flow. Thank's!

[2018-01-30 12:18] pvsukale commented on #5924
@colby-swandale I am a first-time contributor. Can I start working on this?

[2018-01-30 13:48] rEnr3n opened #6278 "Error on bundle exec rake db:migrate"
rake aborted!
NoMethodError: undefined method `yaml_as' for ActiveRecord::Base:Class
bundler: failed to load command: rake (/home/alarm/.gem/ruby/2.5.0/bin/rake)

--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

I'm

[2018-01-30 18:58] xanderflood commented on #6158
Hey thanks, we realized that solution shortly after I posted this, (sorry for not following up about that) and it's been working pretty well, but it has caused one issue we've not been able to resolve.

The issue is that `bundle install` will always fail unless both gems for both platforms are present on the gemserver. I totally understand why this happens (adding in both platforms instructs bundl

[2018-01-30 23:58] colby-swandale commented on #5924
Sure! let us know if you have any questions.

[2018-01-31 00:01] colby-swandale commented on #6278
This doesn't look like a Bundler error, what's the full stack trace?

[2018-01-31 00:03] colby-swandale commented on #6277
Please open this at https://github.com/bundler/bundler-site

[2018-01-31 00:03] #6277 closed

[2018-01-31 00:05] joelvh commented on #6270
@colby-swandale this is my original issue which identified that environment variables do not override `.bundle/config` settings because it seems the environment variables are "backed up" and replaced with default values before settings are loaded.

Rather than trying to run `BUNDLER_GEMFILE=Gemfile bundle update` when `.bundle/config` specifies `Gemfile.dev` as the default Gemfile, I opted to impl

[2018-01-31 00:12] colby-swandale commented on #6270
👍 this issue needs to also be fixed as well.

[2018-01-31 06:33] olivierlacan opened #6280 "Despite source block, source is considered global"
This may very well be an incorrect assumption on my part but when I write the following:

[code]

I expect Bundler not to attempt to pull `mime-types` from `https://code.stripe.com/`.

Instead Bundler 1.16.1 issues the following warning:

[code]

[2018-01-31 09:48] rEnr3n commented on #6278
Sorry. I just gave up. I even got more errors. It's too complicated for my use.

[2018-01-31 09:48] #6278 closed

[2018-01-31 15:47] krisleech commented on #6280
When I use `source` (block or inline) and look in my Gemfile.lock it seems that the source in question is not explicitly assigned to a gem but instead just added to a list of remote sources:

[code]

So I assume the source is then picked based on the [Source priority rules](http://bundler.io/v1.16/man/gemfile.5.html#SOURCE-PRIORITY). To me this is unexpected since I am being explicit about the sou

[2018-01-31 20:46] jolting opened #6281 "Remove dependency from git in new gemspec template"
This is fine if git is installed, but that might not always be the case for systems that are running Alpine Linux.

This line has made tons of gems dependent on git.
https://github.com/bundler/bundler/blob/fe9d6989a11443dbfe1840cc07f89918e3d7b37d/lib/bundler/templates/newgem/newgem.gemspec.tt#L32

As this article suggests there is a far simpler solution that doesn't require shelling out to git.
ht

[2018-01-31 20:58] jolting commented on #6281
#2287 mentions that bundler caches the result of the gemspec, but if you're using private_gems you'll need to install git on the production system.

[2018-01-31 21:34] colby-swandale commented on #6281
Duplicate of #5810

[2018-01-31 21:34] #6281 closed

[2018-02-02 00:58] #6243 closed

[2018-02-02 09:17] mash-97 opened #6286 "Can't done bin>bundle update sqlite3"
[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ---------------------------------------------------------------
-

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see if there are any existing issue reports for this err
or:
https://github.com/bundler/bun

[2018-02-02 10:44] mvz commented on #6276
In trying to reproduce this with a small test case, I've found that for some reason the `xmlrpc` line that should have been there was removed from the Gemfile.lock file at some point. A freshly generated Gemfile.lock works as it should.

[2018-02-02 10:44] #6276 closed

[2018-02-02 14:38] lestard opened #6287 "bundle install asks for sudo password over and over again on windows subsystem"
I'm trying to get a ruby application (jekyll) to work and in this process I need to run `bundle install`.
This asks me for my sudo password which is fine for me. However, It does so over and over again. After entering my password the 10th time I get the feeling that this is not the intended behavior.

I'm using a Windows 10 computer with Linux/Ubuntu Subsystem. Maybe this is the reason?

[2018-02-02 23:17] metcalf commented on #6049
There's a repro script in the issue description. Does that not repro the problem for you?

[2018-02-03 19:59] segiddins commented on #6234
I don't know, sorry

[2018-02-03 19:59] segiddins commented on #6141
@COLTstreet I don't see any update on this issue, sorry

[2018-02-03 20:00] jamrizzi commented on #356
I had this issue with `Bundler version 1.13.4`. `bundle lock` seemed to fix it. I have no idea why.

[2018-02-03 20:07] segiddins commented on #6079
I wonder if this will fix itself if you remove the `x64-mingw32` platform from your lockfile, and run `bundle install` again. Or alternatively if you run `bundle update ffi`? The issue seems to be that bundler does not think it needs to run the resolver again to pick up the `ffi` spec for the local platform

[2018-02-03 20:26] segiddins commented on #6079
Reproduced this, just wondering how `x64-mingw32` got into the lockfile without the entry for `ffi`...

[2018-02-03 20:29] segiddins commented on #6219
Can we close this as https://github.com/bundler/bundler/pull/6266 was merged?

[2018-02-03 20:30] segiddins commented on #6163
Thanks @brixen ! I hope to be able to look into #6274 soon, but life has been very hectic recently

[2018-02-03 20:30] #6163 closed

[2018-02-03 21:18] segiddins commented on #6079
Took a while to wrap my head around things, but I hope https://github.com/bundler/bundler/pull/6288 will fix this bug! Thanks for bearing with us 🤞

[2018-02-03 22:11] #6079 closed

[2018-02-03 22:46] segiddins commented on #6274
I think something like the following should fix that:

[code]

[2018-02-04 17:17] segiddins commented on #6280
This is fixed in Bundler 2, you can double check by running from master

[2018-02-04 17:25] olivierlacan commented on #6280
@segiddins Any chance this could be backported or too tricky?

[2018-02-04 20:07] segiddins commented on #6286
It looks like the first bit of the error report got chopped off, can you please update the issue with the full template?

[2018-02-04 20:32] #6219 closed

[2018-02-04 22:22] colby-swandale commented on #6150
@segiddins can this be closed?

[2018-02-04 22:24] colby-swandale commented on #6193
@arbonap are you still working on this? If not, let us know incase someone else want's to work on this issue.

[2018-02-04 22:26] colby-swandale commented on #6147
ping @alenteria

[2018-02-05 12:01] colby-swandale commented on #6287
Hi, do you some steps that you can share with any information on reproducing this issue? What's the output of `bundle env`?

[2018-02-05 12:02] colby-swandale commented on #6280
We cannot backport because it introduces breaking changes to Bundler 1.

[2018-02-05 12:04] colby-swandale commented on #6049
Your right, apologies, i wasn't looking properly.

[2018-02-05 16:13] Yvens16 opened #6289 "Errno::ENOSPC: No space left on device - sendfile"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/home/cabox/.rvm/gems/ruby-2.3.4@global/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened

[2018-02-05 21:43] justjake commented on #6289
You don't have any space left on your disk. Try deleting some files.

[2018-02-05 22:37] Yvens16 commented on #6289
Sorry but i'm new to devellopment, how come i have to delete some files
when i have just started to developp my app?
Thank you

2018-02-05 22:43 GMT+01:00 Jake Teton-Landis <notifications@github.com>:

[2018-02-05 22:39] Yvens16 commented on #6289
Is there any way to get more space? Since i don't know which file to
delete? First i was on a free account and then I got a freelancer account
but i still didn't have enough space

2018-02-05 23:37 GMT+01:00 Yvens Belaston <yvensbelaston@gmail.com>:

[2018-02-06 11:25] vikas-a2 commented on #5835
Remove your Gemfile.lock file and bundle install again. This should help you.

[2018-02-06 13:02] mathieujobin commented on #6216
we switch from `rubygems.org` to `.jfrog.io` and its a lot better

removing all of our `ssh` sourced gems.

now that same command from above, only complains about sidekiq-pro, which is much less

[code]

[code]

I'm happy with that

[2018-02-06 13:02] #6216 closed

[2018-02-06 13:03] mathieujobin commented on #6216
@mperham oh, and using `~> 3.7.0` or `~> 3.0` did not change anything

[2018-02-06 16:59] tabathad commented on #6141
Also having this issue.

[2018-02-06 19:35] jose-fluo commented on #6141
Having this issue too. Any updates?

[2018-02-07 02:31] shevegen commented on #6289
I think there is too little information for others to help you.

The error means that there is no space on the device that you are running the code above. From what you wrote above, you seem to not have it locally but use some remote computer which appears to have a low limit, I assume.

Try to find out how much space you have; and what is occupying "too much" space, if there is one. (I don't know

[2018-02-07 14:52] tomatohammado opened #6290 "Bundler won't update to 1.16.1"
Hello, I am trying to run `gem install bundler`, and update my current `1.16.0` version to `1.16.1`

0) I start with this
[code]

1) I attempt to update bundler
[code]

2) I try running `bundle version` again to confirm bundler has been updated, and get the same response I did in step 0)
[code]

3) when I try `gem install --default bundler`, I get even an even stranger result
[code]

4) I can reso

[2018-02-07 21:24] lilmonix3 commented on #6290
temporary problem.
you can manunally `git clone` bundler into "/Users/ga/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/" and change name file bundler into bundler latest version

[2018-02-07 23:55] tomatohammado commented on #6290
@segiddins I tried it, doesn't seem to have worked
[code]

I also uninstalled the previous 2.7.2 version after installing the 2.7.4, but still no luck

[2018-02-08 00:18] hsbt commented on #6290
Can you try to upgrade rubygems by `gem update --system`? It install RubyGems 2.7.5 to your environment.

[2018-02-08 00:22] tomatohammado commented on #6290
@hsbt yep, I just realized I didn't update RubyGems correctly the first time 😅

here's what I got. Still seem to have the same issue, but `bundle env` correctly reflects the latest version of RubyGems (2.7.5)

I did get an error near the end of the installation: `Permission denied @ rb_sysopen - /`

[code]

[2018-02-08 00:25] hsbt commented on #6290
It seems to NOT the same issue. I think it was caused by RubyGems 2.7.2 that was broken version. If you have a few time, Can you try to re-install Ruby 2.4.2 and upgrade RubyGems 2.7.5.

[2018-02-08 01:02] tomatohammado commented on #6290
@hsbt I actually just updated to Ruby v 2.5.0 and then upgrade my RubyGems

Good new is that I was successfully updated bundler to version 1.16.1

Bad news is that I still get the error `fatal: Not a git repository (or any of the parent directories): .git`, even when I'm in a git repo.

This is actually the issue I was trying to solve by updating bundler. Yesterday I was able to update to 1.16.1 a

[2018-02-08 01:15] hsbt commented on #6290
I couldn't reproduce it. ( I'm also maintainer of rbenv/ruby-biild)

[code]

[2018-02-08 01:59] tomatohammado commented on #6290
@hsbt I just went through the same steps you did, and yes it seems that the problem is probably something to do with my machine as I still get the same error.

The big difference I see is that I do not get a commit version when I run `bundle version` - mine is blank while yours is `b943955`

Looking at the bottom of the `bundle env` output, it says that the 'Release Version' is false, and I don't

[2018-02-08 07:49] ruudgrosmann commented on #6259
To be sure it is nothing with versions: I compiled the extensions in a docker container, made a tarfile of two gem-directories that were compiled. Then I used the tarfile

[2018-02-08 07:51] ruudgrosmann commented on #6259
Do I understand correctly it is not possible in any way to preinstall individual gems in the bundle directory that are previously built on a machine with the same environment?

Ruud

[2018-02-08 18:58] agate commented on #6154
Our team is using official ruby docker image. And we ran into this problem one month ago. We couldn't figure out what is the reason. But we did find one workaround. Either run `source /etc/profile` or `gem install bundler` at very beginning of our docker start script.

I also wrote a problem demo script:
https://gist.github.com/agate/513f669a86a52ed7190de6698360cd84
[code]

It looks like there is

[2018-02-08 19:13] agate commented on #6154
Thanks @lucasmazza for the `ENV BUNDLE_GEMFILE='./Gemfile'` solution. But it still have one problem. So when you cd into a sub dir and you want to bundle in it. You will get:
`There was an error parsing `Gemfile`: No such file or directory @ rb_sysopen - /Gemfile. Bundler cannot continue.` or `Gemfile not found` error. It's because the env variable hard coded the Gemfile and bundler won't look up

[2018-02-08 22:11] GBH commented on #4657
So I just wasted few hours because Bundler was doing dumb stuff. Discovered that was because one dependency has its own dependency on a pre-release gem. I had to define that dependency in my own Gemfile to `bundle install` successfully. Error message produced by bundler was completely useless of course. It was rails 5.2.0.rc1 btw.

Is there a reason why bundler won't fetch pre-release dependencies

[2018-02-08 22:36] colby-swandale commented on #4657
@GBH You're attitude in your comment is coming off as very rude and unfair to everyone that works on something you literally get for free. We have a [Code of Conduct](https://github.com/bundler/bundler/blob/master/CODE_OF_CONDUCT.md) that applies to everyone participating in the Bundler repository and i recommend you review it before commenting here again. You've been warned.

[2018-02-08 22:57] GBH commented on #4657
@colby-swandale Sorry, didn't mean to come off rude, just frustrated. Edited. Cheers.

[2018-02-09 01:31] greysteil commented on #4657
I’m on holiday without much internet for the next few days, but if you post a copy of a `Gemfile` and `Gemfile.lock` that’s failing to resolve as expected I’ll take a look into it when I’m back.

#6014 should have fixed this, so I’m a little confused.

[2018-02-09 01:53] GBH commented on #4657
@greysteil I can do even better.

Here's repo state when `bundle install` wont work: https://github.com/comfy/comfy-blog/tree/0ea3307e3fa86dd68edd8b8b62208c2e26a71c3c

Following commit added `gem "rails", "~> 5.2.0.rc1"` to Gemfile that got everything working.

Issue seems to be with:

- A depends on B
- B depends on C.rc1

Yet this got triggered by a gem that seems to be unrelated. Here's the err

[2018-02-09 10:41] lestard commented on #6287
Here is what I do:
1. Start "Bash on Ubuntu on Windows"
2. Based on the [getting startet guide](https://bundler.io/) I create a Gemfile with
[code]
3. `bundle install`

I get this output (You can see that it asks for a Password multiple times. Everytime I have entered my password):
[code]
In the end there seems to be another problem with "nokogiri" that I don't understand but my actual question is

[2018-02-09 18:29] lilmonix3 opened #6292 "seems RubyGems installing bundler not properly"
`bundler`
Traceback (most recent call last):
        2: from /usr/local/bin/bundler:23:in `<main>'
        1: from /usr/local/lib/site_ruby/2.5.0/rubygems.rb:308:in 'activate_bin_path'
/usr/local/lib/site_ruby/2.5.0/rubygems.rb:289:in `find_spec_for_exe': can't find gem bundler (>= 0.a) with executable bundler (Gem::GemNotFoundException)

`bundle env`
`
## Environment

[code]

## Bundler Build Met

[2018-02-09 23:24] marcandre opened #6293 "Shouldn't `bundle exec` prepend to RUBYOPT?"
If we have a Gemfile referring to an older version of a gem, e.g.:

[code]

Then:
[code]

My understanding is that the last version fails because the order of requirements if wrong and what gets executed is `ruby -r pry -r bundler/setup -e 'p Pry::VERSION'`. Thus `pry` gets required first, and `bundler/setup` then complains.

If `bundle exec` prepended RUBYOPT instead, this would not happen, but m

[2018-02-10 11:17] abelsromero commented on #5989
Is there really no solution for this issue?

[2018-02-10 18:24] deivid-rodriguez commented on #6154
Sad to see this is still causing trouble, I thought it had been fixed. There's also related discussion in https://github.com/bundler/bundler/issues/6162.

I remember workarounding this with `ENV BUNDLE_BIN=` so that no bundler binstubs are generated. Maybe it works for you @agate.

[2018-02-10 18:46] marcandre commented on #6293
Mmm, `RUBYOPT` doesn't contain the `-r pry`, so my question is not relevant to the issue. Ruby itself would have to use `RUBYOPT` before the command line arguments and I don't see that changing. Sorry for the noise.

[2018-02-10 18:46] #6293 closed

[2018-02-10 18:57] #6292 closed

[2018-02-10 22:24] hswick commented on #4552
This feature would be nice :D

[2018-02-11 02:07] clr2107 commented on #5211
@FractalJim This totally worked for me!! Thanks!

[2018-02-12 06:27] segiddins commented on #6280
Impossible to backport, precisely because it changes the behavior (and not just when a warning is printed)

[2018-02-12 09:55] dexion commented on #6160
Same issue with http proxy. `gem install` work perfectly, but `bundler` didn't work at all.

[code]

bundler 1.16.1

[2018-02-12 19:05] agate commented on #6154
Nice! Thanks @deivid-rodriguez the `ENV BUNDLE_BIN=` workaround solution is working for us. Thank you very much!

[2018-02-12 19:06] deivid-rodriguez commented on #6154
No problem, happy that it works! :)

[2018-02-14 22:56] wagenet opened #6294 "Running `bundle pristine` on a git source gem doesn't rebuild the native extension"
I believe this can be fixed by adding the following before https://github.com/bundler/bundler/blob/v1.16.1/lib/bundler/cli/pristine.rb#L33:

[code]

I'm happy to send a PR if this sounds like the correct thing to do.

[2018-02-15 03:00] colby-swandale commented on #6294
Can you please provide us more information on how `bundle pristine` is not rebuilding native extensions and provide us with examples?

[2018-02-15 03:03] colby-swandale commented on #6294
Can you provide us with more information on how it's not working the way you expect with some examples?

[2018-02-15 13:11] ruudgrosmann commented on #6259
Found it. It is possible to pre install a gem so that bundle install will not try to rebuild it.

In order to do that, on the development machine

- go to vendor/bundle/ruby/VERSION
- create a tarfile with three components: for gem B (B including version number) this would be `tar cvf /tmp/B.tar gems/B extensions/ARCH/VERSION/B specifications/B.gemspec`
- this tarfile can be extracted on the targe

[2018-02-15 13:11] #6259 closed

[2018-02-15 16:44] wagenet commented on #6294
@colby-swandale if you look at the code, you'll see that it only removed the main source directory, not the built extension. That means that the reinstall won't rebuild the native extension.

[2018-02-15 18:20] hantuzun commented on #6231
I think the errors I get while running `bundle install` are related to this issue:

[code]

[2018-02-15 20:36] colby-swandale commented on #6294
`bundle pristine` does rebuild native extensions even though it's not clear by just looking at the code, this is done by RubyGems when we reinstall the gem.

[code]
I've also used `bundle pristine` to rebuild `charlock_holmes` whenever `libicudata` is updated to a new version so i know for certain that the extension is compiled again.

[2018-02-15 23:14] wagenet commented on #6294
@colby-swandale it doesn't happen for Git gems however.

[2018-02-15 23:35] colby-swandale commented on #6294
Thanks for clarifying, yes this needs to be fixed.

PS. A quick suggestion: Please explain in as much detail as possible about what the problem is in the issue description. Saying "bundle pristine doesn't rebuild extensions" offers no information for us and makes work for us in trying to figure out what you're talking about. See #6276 for an example on a great example of explaining an issue in Bun

[2018-02-15 23:46] colby-swandale commented on #6286
ping @mash-97

[2018-02-16 09:29] K-S-A opened #6295 ""either corrupted API or lockfile dependencies" warning message results in error"
I know, that this gem is kinda old and not popular. I've managed to make it work by editing `Gemfile.lock`, but that is not great at all. Any help is appreciated.

[code]

UPDATE: `bundle` command succeeds with version 1.14.0 of bundler.

[code]

[2018-02-16 13:40] januszm commented on #6242
@segiddins

[code]

[code]

`bundle install` is making an attempt to save to the `.bundle/config` file, earlier versions didn't (I suppose, since there were no errors in the same situation)

[2018-02-16 13:46] januszm commented on #6242
@colby-swandale actually `bundle exec rake assets:precompile` fails with the same error, which may indicate that this is the command that is causing problems in ElasticBeanstalk environment. I can't see the direct link between the actual command and the error. Both `bundle exec ...` and `bundle install` cause this problem.

[2018-02-16 18:09] wagenet commented on #6294
@colby-swandale I've updated the title to something more descriptive, I believe. In my local tests, the fix I proposed in the initial issue description solves the problem. Should I submit a PR with this change?

[2018-02-16 21:28] SeedyROM opened #6296 "Bundler fails to run command line tool (Ubuntu 16.04)"
Working on a little project in rails and I noticed this morning that when I run bundle I get this error.
[code]
My currently installed versions are:
[code]

Can't find much information and even tried using an older version of bundler.
**I'll fork the repo ASAP.**

[2018-02-16 21:40] SeedyROM commented on #6296
I had an issue with my path trying to access and older version of ruby's gems.
This was my configuration issue!

[2018-02-16 21:40] #6296 closed

[2018-02-16 22:12] shivam-tripathi commented on #4260
@JalenOng What is the output of `gem list` while you're in app directory?

[2018-02-17 04:09] colby-swandale commented on #6294
Yes please.

[2018-02-17 05:39] colby-swandale commented on #6287
Thanks for the more detailed info, it defiantly shouldn't be doing this.

[2018-02-17 14:03] colby-swandale commented on #5596
A PR to fix this issue has been merged and will be part of the next Bundler release.

[2018-02-17 14:03] #5596 closed

[2018-02-18 20:33] segiddins commented on #6242
Dang, I thought running with `DEBUG=1` would also cause ruby to print out the line that the exception was coming from. If you're comfortable monkey-patching your local bundler source (you can `gem pristine bundler` afterwards), could you make the following change?

[code]

[2018-02-18 20:36] segiddins commented on #6287
Bundler uses the `sudo` command each time it needs root, but the system should be storing that the process has been granted permission to `sudo` for ~5 minutes

[2018-02-19 06:00] arvindnm opened #6297 "Errno::EACCES: Permission denied @ rb_sysopen when using systemd to start sharetribe service"
Hi all,
  I am new to sharetribe and dont have any experience with ruby etc. I followed the steps to setup sharetribe from here:
https://freedif.org/how-to-install-sharetribe-for-ubuntu-16-04/

When i start the services manually I do not see such issues. I see the below errors when i connect to the terminal again and check the status using 'journalctl -u sharetribe.service'.

I checked the permiss

[2018-02-19 06:03] hsbt commented on #6297
It's not bundler's issue. Maybe, You can resolve your problem with https://stackoverflow.com/.

[2018-02-19 06:03] #6297 closed

[2018-02-19 07:00] januszm commented on #6242
@segiddins here you go:

[code]

[2018-02-19 11:02] seanhandley opened #6298 "Named Sources"
I'd like to propose a new feature that allows naming of gem sources.

Before I start wrestling with the DSL code, I'd like to get some feedback from the community.

## What we currently have

[code]

OR

[code]

## What I'm proposing

[code]

OR

[code]

## Why?

Because I'd like to be able to change the source URL in one place and have it update in other places within the Gemfile automatically, k

[2018-02-19 11:09] FloorD commented on #6196
Having the same issues, how to I grant bundler folder permission?
For my immediate use case `sudo` to install the gems needed, but I'm sure there is a more gracious solution.

[2018-02-19 11:15] colby-swandale commented on #6298
[code]

[code]

[2018-02-19 11:27] colby-swandale commented on #6286
I'm closing this for now. If you're still experiencing your original issue don't be afraid to re-open this ticket.

[2018-02-19 11:27] #6286 closed

[2018-02-19 12:52] seanhandley commented on #6298
Hi @colby-swandale

Thanks for your response.

I don't particularly want to invest too much time in this unless the maintainers/community feel it would be a useful idea and can't think of any caveats.

I'd appreciate some kind of murmur of (dis)approval. Perhaps there's an IRC channel or something I can join?

Cheers,
Sean

[2018-02-19 21:49] davegreco commented on #4462
I ultimately had an issue when I tried to install manually that finally I got this text which fixed it for me.

It was bouncing between the json error and a nokogiri error. Hope this helps someone.

The file "/usr/include/iconv.h" is missing in your build environment,
which means you haven't installed Xcode Command Line Tools properly.

To install Command Line Tools, try running `xcode-select --in

[2018-02-19 23:08] Odin-Beastly opened #6299 "Rails app Error on creation"
Hello, I'm a Mac user, This is my first Issue report, I tried looking what is the right method for posting errors, if I need to provide more information please be kind enough to ask more!
I tried creating a rails new app, at the end of the creation I got this:

--- TEMPLATE END ----------------------------------------------------------------

Unfortunately, an unexpected error occurred, and Bundle

[2018-02-19 23:14] hsbt commented on #6289
This is not bundler's issue. I will close this.

[2018-02-19 23:14] #6289 closed

[2018-02-20 09:42] colby-swandale commented on #6299
Hi, Please make sure that you copy the full error report, you're missing about a good 2/3 of it.

The error message is: `command not found: spring` which means you're trying to run spring but don't have spring installed. I suggest making sure that spring is in your `Gemfile` and installing it with `bundle install`

[2018-02-20 10:20] 315tky commented on #6193
Hello, I'm looking to start contributing to a ruby project, and have chosen bundler. I'm going to try this "issue" for starters.

After a quick look, seems the "add" option ( lib/cli/add.rb ) is calling lib/injector.rb and I can see the line in there that creates the timestamp in Gemfile....

[2018-02-20 12:27] colby-swandale commented on #6193
Probably not, i think we're just going to remove that piece of functionality entirely.

[2018-02-20 12:30] nathandibley commented on #6140
I'd like to pick this one up.
I'll use these docs as a guide - http://bundler.io/doc/documentation/writing.html

To confirm, the desire is to have a link to http://bundler.io/man/gemfile.5.html#GIT-SOURCE, and also some short explanation on why `# frozen_string_literal: true` is in the default Gemfile added to the `bundle-init` man page ?

[2018-02-20 12:32] 315tky commented on #6140
I'd like to pick this one up.
I'll use these docs as a guide - http://bundler.io/doc/documentation/writing.html

To confirm, the desire is to have a link to http://bundler.io/man/gemfile.5.html#GIT-SOURCE, and also some short explanation on why # frozen_string_literal: true is in the default Gemfile added to the `bundle-init` man page ?

[2018-02-20 13:14] Odin-Beastly commented on #6299
I hope this is it

Ignoring bigdecimal-1.3.3 because its extensions are not built.  Try: gem pristine bigdecimal --version 1.3.3
Ignoring nokogiri-1.8.1 because its extensions are not built.  Try: gem pristine nokogiri --version 1.8.1
Ignoring executable-hooks-1.3.2 because its extensions are not built.  Try: gem pristine executable-hooks --version 1.3.2
Ignoring gem-wrappers-1.4.0 because its ext

[2018-02-20 22:17] colby-swandale commented on #5953
I'm closing this issue, new comments should be posted to https://github.com/rubygems/rubygems/issues/2005

[2018-02-20 22:17] #5953 closed

[2018-02-20 22:21] colby-swandale commented on #5879
This looks like it's been completed. Closing.

[2018-02-20 22:21] hamea22 opened #6301 "What is corrupted with my lockfile?"
Hi! I'm trying to understand what's corrupted with my lockfile file, I will love some help!
thank you in advance
This is my error report:

[code]
       RuntimeError: Unable to find a spec satisfying pg (~> 0.11) in the set. Perhaps the lockfile is corrupted?
       /tmp/build_64ae42df3a614333327f341e0decbbf8/vendor/bundle/ruby/2.3.0/gems/bundler-1.15.2/lib/bundler/spec_set.rb:39:in `block in for'

[2018-02-20 22:24] colby-swandale commented on #5810
This has been inactive for a while now so I'm going to close this.

[2018-02-20 22:24] #5810 closed

[2018-02-20 23:31] colby-swandale commented on #5041
We're really happy with the improvements to the README from the past 12 months so this issue can be closed. 🎉

[2018-02-20 23:31] #5041 closed

[2018-02-20 23:47] colby-swandale commented on #6299
This is not a Bundler issue, you need to check your ruby environment, you're loading gem extensions that were built for another version of Ruby. I suggest checking out  the `bundle pristine` command and making sure that you're installing your gems in the same version of ruby that you're using to run `bundle exec`.

[2018-02-21 06:39] mvz commented on #5879
@colby-swandale I think this part has not yet been addressed:

[2018-02-21 11:35] 315tky commented on #6140
#6302

[2018-02-21 14:59] Odin-Beastly commented on #6299
Thank you @colby-swandale , That helped.

[2018-02-21 14:59] #6299 closed

[2018-02-22 00:38] wagenet commented on #6294
@colby-swandale see PR for partial solution

[2018-02-22 21:04] colby-swandale commented on #6193
This was merged in #6300. Closing.

[2018-02-22 21:04] #6193 closed

[2018-02-23 00:10] colby-swandale commented on #5879
@mvz You're right, thanks for pointing that out.

[2018-02-23 00:12] colby-swandale commented on #6295
What's the output of `bundle env` and what happens if you run `--full-index`?

[2018-02-23 00:14] colby-swandale commented on #6301
You have `pg (0.21.0-x86-mingw32)` in your Lockfile but you don't have the `pg (0.21.0)` which Bundler needs to install your Gemfile in Linux and why it's raising the error. Did you have a bad git merge?

[2018-02-23 10:43] colby-swandale commented on #5786
This has been merged in #6129

[2018-02-23 10:43] #5786 closed

[2018-02-23 14:43] wellington1993 commented on #51
Hi, I removed `require 'bootsnap/setup'` from `boot.rb` and worked for me.

[2018-02-23 20:49] colby-swandale commented on #4871
I'm closing this issue, we've replaced this list with the [help wanted](https://github.com/bundler/bundler/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) and [good first issue](https://github.com/bundler/bundler/labels/good%20first%20issue) Github tags.

[2018-02-23 20:49] #4871 closed

[2018-02-24 19:35] katrotz commented on #4260
@JalenOng Had the same problem because I installed a new ruby version.
`gem install bundler` solved it.

[2018-02-24 21:00] hmistry commented on #4871
@colby-swandale I think this list was good to have for those looking to contribute. Having multiple paths to discover issues to work on caters to different ways people look to find info. To me this list was a much easier way to find a list of issues to work on and it's a good central way to track and prioritize what needs to be worked on.

I highly recommend reviving it by making a new version sin

[2018-02-26 19:17] nvinayvarma189 opened #6311 "bundle install error--Cannot load such file"
I've been trying to fire up Jekyll locally and I need bundler for that, but when I execute `bundle install` I get the following error
``/usr/local/bin/bundle:23:in `load': cannot load such file -- /usr/lib/ruby/gems/2.3.0/gems/bundler-1.16.1/exe/bundle (LoadError)
	from /usr/local/bin/bundle:23:in `<main>'``

here I cannot even find `2.3.0/gems/bundler-1.16.1`. I instead find `rdoc-4.2.1`
and I ge

[2018-02-27 00:37] folgerc opened #6312 "Bundler attempts to load gems in "without" groups"
Hi,

First some context: I'm using Rails and running into an issue where I'm trying to remove test dependencies from my production environment. The problem is that these dependencies are defined in their own 'test' group in my Gemfile [1], but they are still being loaded on startup. I know this because I get 'could not find gem X' when viewing the Rails site. I tried setting the 'without' setting

[2018-02-27 09:32] nvinayvarma189 commented on #6311
What shall I do now, do I have to reinstall everything because the problem still persists for me. :disappointed:

[2018-02-27 13:37] segiddins commented on #6312
Please share the output of `bundle env`, thanks!

[2018-02-27 13:38] hsbt commented on #6311
You do not need to update rubygems for using bundler with system ruby. If you hope to upgrade rubygems with system ruby, You may use `gem update --system=2.7.5`.

[2018-02-27 17:53] folgerc commented on #6312
Here you go,

[code]

[2018-02-27 22:26] dr-acul commented on #6141
Having the same issue, but this worked for me:
`bundle lock --add-platform x86-mswin32 x86-mingw32 java`
This created the Gemfile.lock and I was able to execute `bundle install`

I'm using mingw64 so i have no idea why that actually helped.
Running `bundle lock --remove-platform x86-mswin32 x86-mingw32 java` lead back to the same error.

[2018-02-27 23:14] segiddins commented on #6312
Looks like you’re running a super old version of Bundler! 1.3.5 must be about 4 years old, the latest is 1.16.1. Can you try again with the latest Bundler? Thanks!

[2018-02-28 00:51] folgerc commented on #6312
Sorry about that, it's a little challenging to upgrade. In any case I can reproduce the same problem after testing with the newest version. FWIW I can resolve this by changing expand_dependencies to apply the same filtering as is done in requested_dependencies.

Here's some more env output (I've excluded a few things specific to my environment).
[code]
[code]
[code]

[2018-03-01 08:33] colby-swandale commented on #6312
I cannot reproduce this issue with the given information. Can you create a test repository that we can use to replicate this issue you're having.

[2018-03-01 08:33] colby-swandale commented on #6301
ping @hamea22

[2018-03-01 08:33] colby-swandale commented on #6295
ping @

[2018-03-01 08:33] colby-swandale commented on #6295
ping @K-S-A

[2018-03-01 11:48] #6124 closed

[2018-03-01 13:42] K-S-A commented on #6295
Sorry for late response.
`bundle install --full-index` results in exactly the same problem.

`bundle env`

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

With `--verbose` flag it outputs this lines:
[code]

[2018-03-01 14:13] irmpow commented on #4328
I have same from some library, which used in my new project
~$ env | grep proxy
http_proxy_user=user
https_proxy_user=user
http_proxy=http://user:pass@ip:port/
ftp_proxy=http://user:pass@ip:port/
all_proxy=socks://ip:port/
socks_proxy=http://user:pass@ip:port/
https_proxy=http://user:pass@ip:port/
no_proxy=localhost,127.0.0.0/8,::1
https_proxy_pass=pass
http_proxy_pass=pass

I relogin to rails con

[2018-03-01 14:26] 315tky commented on #6140
Just noticed this was still open, let me know if you require any further changes to it

[2018-03-01 14:29] 315tky commented on #6246
I will pick this up and take a stab at it

[2018-03-01 19:46] imtayadeway opened #6317 "Get invalid option: -2 when using bundler 1.16.1 on Ruby 2.5.0"
I just installed Ruby 2.5.0 using ruby-install and ran into some issues when using bundler.

Here's the smallest possible reproduction I could find:

I have a Gemfile that only includes the ruby version:

[code]

`bundle install` works fine:

[code]

Ruby works just fine by itself:

[code]

But bundling halts with the follow error:

[code]

#### Other (possibly) relevant information:
ruby: ruby 2.

[2018-03-01 20:19] royalharsh commented on #5446
Where does the `bundle plugin install` access the cache in the code? Is it in [rubygems.rb](https://github.com/bundler/bundler/blob/master/lib/bundler/source/rubygems.rb)?

[2018-03-01 23:42] agate commented on #6154
@deivid-rodriguez
I think `ENV BUNDLE_BIN=` will cause some other problem: If I run bundle install with this env I will get:
[code]
If I remove `BUNDLE_BIN=` in my env. `bundle install` works fine.

[2018-03-01 23:44] deivid-rodriguez commented on #6154
Too bad... :( Back to square one, then...

[2018-03-03 04:45] segiddins commented on #6317
Can you please share the output of `bundle env`, as well as running ruby with `--debug`? Thanks!

[2018-03-03 04:59] segiddins commented on #6049
I think you should be wrapping the subprocess in a `Bundler.with_original_env` block?

[2018-03-03 11:04] Gauravano commented on #5497
hi @marcskms I have encountered the same error. Can you share how you resolved it? Thanks.

[2018-03-03 22:41] rubymorillo opened #6321 "Merge /doc/README.md with /doc/contributing/README.md"
Hi team!

One of our goals in Ruby Together is of ongoing maintenance of the Bundler docs. To that end, I've already made a few modest changes to the /doc/contributing/README.md doc and of course, to the main Bundler README.

Part of these ongoing maintenance efforts is trying to cut down on places where we have duplicate content. Going through the files we have in /docs/, I realized that the [/do

[2018-03-04 05:53] hmistry commented on #6321
Quick feedback:
1. It's hard to judge which links are common and which are missing between the 2 documents. Maybe if you can spell that out more, it'd be easier to comment on to answer your question.
2. Regarding merging them, generally I'm for it. My knee-jerk reaction says the /doc/Readme is more encompassing than /doc/contributing/readme... so maybe transfer missing things upwards?
3. The Readm

[2018-03-04 10:25] stalker37 opened #6322 "ThreadError can't create Thread: Resource temporarily unavailable"
Debian wheezy or  jessie. ruby 2.4 and bunder 1.16.1
error in bundle install

user@labsrv:~/test$  rvm use 2.4 do bundle install --path ./gems
Fetching gem metadata from https://rails-assets.org/..
Fetching gem metadata from https://rubygems.org/.Failed to create threads for the Compact Index (rubygems.org) worker: can't create Thread: Resource temporarily unavailable

Retrying fetcher due to erro

[2018-03-04 23:44] indirect commented on #6312
I'm not completely sure if this is related to your problem, but I believe that Bundler can only exclude `without` gems if you have a Gemfile.lock. It seems like you are trying to deploy to production without a lockfile, and I would very much recommend against that.

[2018-03-04 23:50] indirect commented on #6295
Sounds like a regression, thanks for this report!

[2018-03-04 23:51] indirect commented on #6140
Merged in #6302.

[2018-03-04 23:51] #6140 closed

[2018-03-05 00:10] indirect commented on #6321
I think merging is a good idea! My hope is that eventually the main readme will explain what this is, and direct end users to the docs site at bundler.io so they can learn about bundler, and redirect interested contributors to /doc/README.md where we will have internally-facing documentation. This seems like a good step in that direction.

[2018-03-05 07:18] burningTyger commented on #6140
Thanks everybody! Good documentation is worth gold.

[2018-03-05 11:55] lehn-etracker commented on #5651
I've the same problem. `/tmp` has enough free space. Any ideas?

[2018-03-05 12:30] deivid-rodriguez opened #6324 "Problems resolving dead git references on a branch in lock file"
Sometimes when I have an outdated git reference on a branch in my lock file (because of force-pushing on the branch leaving the sha reference invalid), I start getting the following kind of errors:

[code]

I can reliably reproduce this at the moment, but I'm not sure if it's specific to my environment or a consistent reproduction. The steps would be:

[code]

Could someone confirm that this is sp

[2018-03-05 12:32] deivid-rodriguez commented on #6324
There's a related discussion in https://github.com/bundler/bundler/pull/6308, but I'm reticketing this to keep the discussion on its own issue!

[2018-03-05 17:01] imtayadeway commented on #6317
@segiddins I did some debugging prior to seeing your comment, and frustratingly it now appears to work. The only thing I did between it not working and it starting to work was run the command above with strace. I'll share my `bundle env` just in case it is useful, but I'll close the issue.

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemf

[2018-03-05 17:01] #6317 closed

[2018-03-05 20:43] folgerc commented on #6312
Here's a test repo: https://github.com/folgerc/repro-6312. It's pretty minimal and is what I believe is happening in Rails land.

@indirect to your point, there is more to the story here in that there is some custom dependency management happening in addition to bundler, and I'm trying to get them to play nice together. Is there any way to honor the without groups, or really just ignore specific g

[2018-03-05 23:10] deivid-rodriguez opened #6325 "`bundle update` shows incorrect message when updating git gems"
If I have

[code]

And I run

[code]

And that results in `bundler` updating the locked sha1 reference in my lock file, I wouldn't expect `bundler` to display the "Bundler attempted to update decidim but its version stayed the same" message.

Is this a reasonable expectation?

[2018-03-06 05:50] segiddins commented on #6312
You can try running `bundle lock`, and then `bundle config without test`, and then finally `bundle install`, but I can't promise that will work

[2018-03-06 09:13] januszm commented on #6242
@segiddins thanks, good catch!

Amazon Elastic Beanstalk sets the `without` setting via `BUNDLE_WITHOUT` environment variable.

I suspect that the recent versions of the Elastic Beanstalk Ruby platform (v2.6.3-v.2.7.0) were broken, all custom configuration variables are not available in those versions. One of them is `BUNDLE_WITHOUT` and probably that's why `bundler` complained about permissions.

[2018-03-06 09:51] januszm commented on #6242
Unfortunately, after changing the platform to 2.7.1 we have access to `BUNDLE_WITHOUT` env var again, but still , `bundler` makes unnecessary attempt to write to file `/var/app/ondeck/.bundle/config`

[2018-03-06 18:20] danielpclark commented on #6287
I'm getting this same issue under Linux.  It's a pain.  Every single new gem it asks for sudo password.

[code]
Any command to bundle:
[code]

And every time I CTRL-C out and simply run `gem install the-gem -v 1.2.3` without needing sudo permissions.

It happens on any project.  Here's the `bundle env` for my smallest thing.

[code]

This isn't true: `ls -la`

[code]

## Environment

[code]

## Bu

[2018-03-06 18:48] danielpclark commented on #6287
Woohoo!  I fixed it.  Just had to do the following:

[code]

[2018-03-06 19:11] kerrizor commented on #5446
@royalharsh as I recall, it is looking at the bundler config/dotfile that is left behind after you do an initial `plugin install`

[2018-03-07 00:15] folgerc commented on #6312
Thanks, seems like ```bundle lock``` itself attempts to download the gems though, even with the without group already specified in the config.

[2018-03-07 01:44] outragedhuman commented on #5655
Also tried installing both, still getting the error.

gem install cld3 -v '3.2.2'

works fine on its own though. Seems like this is a Mastodon problem?

[2018-03-07 01:52] libbyberrie commented on #6141
I recently had the same issue when trying to run `middleman init new_site` and just cloned the [default template](https://github.com/middleman/middleman-templates-default.git) as a workaround, then encountered the same error when trying to `bundle install`. Taking a look at the repository showed that i didn't have `gemfile.lock` and @dr-acul 's solution worked for me!

[2018-03-07 03:55] segiddins commented on #6242
Can you share the output of `bundle env` before running `bundle install`? Additionally, are you passing any arguments to `bundle install`? I'm just trying to understand the steps I need to take to reproduce this in a test -- thanks for bearing with me

[2018-03-07 03:57] segiddins commented on #6312
Hmm, it shouldn't need to download them at all (since there aren't any `git` gems in those groups. But that should at least solve the issue (for now) of it attempting to load those gems?

[2018-03-07 04:05] segiddins commented on #6312
The following test passes, bundler is not trying to download any gems using `bundle lock`:

[code]

[2018-03-07 04:15] mathieujobin opened #6327 "allow to lock ruby on major version"
Hello

instead of doing `ruby '~> 2.3.4'` which `rvm` does not support without setuping custom aliases.
it would be nice and simpler to just set `ruby '2.3'`

but bundler complains the version don't match

`Your Ruby version is 2.3.6, but your Gemfile specified 2.3`

in my opinion, 2.3.x should match 2.3

thanks

[2018-03-07 04:21] colby-swandale commented on #6325
That doesn't sound right. A repo to demonstrate this problem would be 👍

[2018-03-07 04:24] colby-swandale commented on #6322
Does setting Bundler to run only a single thread like:`bundle install -j 1` fix this problem?

[2018-03-07 04:41] segiddins commented on #6327
Doing `~> 2.3.0` is what will allow any patch version of `2.3` to satisfy the requirement

[2018-03-07 04:42] segiddins commented on #6325
Ha! I actually just started on a fix for this issue about half an hour ago, before I even saw it was filed! WIP PR incoming

[2018-03-07 04:56] mathieujobin commented on #6327
@segiddins the creates an annoyance for people using `rvm` though.
it will complain `~> 2.3.0` is not a known version

[2018-03-07 04:58] mathieujobin commented on #6327
of course, the other solution would be to rvm to support it

https://github.com/rvm/rvm/issues/3717

[2018-03-07 05:13] stalker37 commented on #6322
Hi!
No
user@labsrv:~/test$ rvm use 2.4 do bundle install -j 1 --path ./gems/
root@labsrv:~# ps -mu user | wc -l
50

[2018-03-07 11:24] deivid-rodriguez commented on #6325
Nice! Thanks @segiddins!!

[2018-03-07 18:13] folgerc commented on #6312
Alright, I tried via the CLI but maybe it's different once trying to do it in an actual rails website. I'll try it and see if that works out.

(Starting from the same repo)
[code]

[2018-03-08 14:20] benoittgt opened #6332 "Invalid contributing guide in bundlerbot welcome message"
Hello

For example in this message https://github.com/bundler/bundler/pull/6320#issuecomment-370133227, bundlerbot refers to https://github.com/bundler/bundler/blob/master/CONTRIBUTING.md but this link doesn't work anymore. Instead it should point to https://github.com/bundler/bundler/blob/master/doc/contributing/README.md.

It seems the bundlerbot config is private. I was not able to find it. So

[2018-03-08 14:30] rubymorillo commented on #6321
@hmistry great ideas! So we should definitely maintain READMEs in all of those folders, we just need to be more clear about what content should be in them, and always link back to the main Contributor Guidelines from each in case users want/need to access it. I'll keep that in mind when coming up with an outline!

@indirect good to know! I'll start brainstorming an outline for what all of this cou

[2018-03-08 19:25] hmistry commented on #6321
@rubymorillo Actually on second thought, I don't know if there's much value in having readme's in each of those folders, as long as there's a good well explained one in the base folder linking to them. Maybe it just needs a link back??
Let's see what you come up with and what makes sense for the 2 types of users (gem developers and gem users seeking help) because there's a cost to maintaining all

[2018-03-08 21:22] hmistry commented on #6332
Thanks for letting us know. The bot's response is in the `.github` folder.

[2018-03-09 01:04] #6327 closed

[2018-03-09 13:48] colby-swandale commented on #6270
So looking into this issue further, this is actually intended behavior of Bundler (to my surprise). The [local configuration](https://github.com/bundler/bundler/blob/master/lib/bundler/settings.rb#L93) takes precedent over `ENV`. I'm going to open a new issue on working to provide better information on the order that Bundler looks at settings. Apologies for not picking this up sooner.

I'm going t

[2018-03-09 13:48] #6270 closed

[2018-03-09 14:05] colby-swandale opened #6334 "Document the order that Bundler loads settings"
Bundler settings can be configured in a number of different ways but the [bundler-config](https://github.com/bundler/bundler/blob/master/man/bundle-config.ronn) docs do not talk about in which [order Bundler loads this settings](https://github.com/bundler/bundler/blob/master/lib/bundler/settings.rb#L93). Which seems to be not as people expect (local > ENV). This has caused confusion and people hav

[2018-03-09 14:06] agrim123 commented on #6190
@segiddins @colby-swandale  I would like to take up this issue. Can you guide me?

[2018-03-09 15:00] voelzmo commented on #4535
Checking back a year later: How are we doing on our way between 'last year' and 'the end of the universe', @indirect?

[2018-03-10 08:22] #6332 closed

[2018-03-10 23:16] segiddins commented on #6190
You'll probably want to change https://github.com/bundler/bundler/blob/007a1737f3d3ba678bc78d3fa101d61b3d6892db/lib/bundler/ui/shell.rb#L111-L122 to check if stderr is closed or not

[2018-03-10 23:51] segiddins commented on #6301
@colby-swandale I think this was a bug that I fixed on master recently -- bundler definitely was able to forget to add all platforms of a gem to the lockfile

[2018-03-11 00:08] segiddins commented on #6295
Looked into this a bit, and it's due to the fact that bundler is treating the dependencies in the lockfile as `>= 0`, rather than the `>= 0.0.0` which is returned from the server

[2018-03-11 00:37] segiddins commented on #6295
Looks like a bug in `Gem::Requirement`! PR to RubyGems incoming

[2018-03-11 01:08] segiddins commented on #6295
I think https://github.com/rubygems/rubygems/pull/2230 should fix this!

[2018-03-11 02:08] segiddins commented on #6324
I can make this give a slightly better error message, but you can (in the meantime) run `bundle update decidim --source decidim` or `bundle update decidim decidim-dev` or `bundle update --source decidim`

[2018-03-11 02:55] segiddins commented on #6324
https://github.com/bundler/bundler/pull/6337 should help give a better error message!

[2018-03-11 03:50] segiddins commented on #6322
That's probably because the compact index updater is set to automatically use a whole bunch of threads

[2018-03-11 13:46] deivid-rodriguez commented on #6324
Thanks so much @segiddins! :muscle

[2018-03-11 17:00] saveriomiroddi commented on #5445
@kerrizor could you give more specifics about "mixed success"? I had a look a the code, and a solution; I was wondering if the proposed `--file` is in essence an internal conversion of the file path to the corresponding URI, or if there are more complex cases.

[2018-03-11 22:23] saveriomiroddi commented on #5445
I've just reviewed my PR, and found that the `--git` param of the `plugin install` command actually does support filepaths, even with spaces, eg.:

[code]

So definitely need a use case from @kerrizor (unless I'm missing something obvious :thinking:).

For reference, I've tested this in the master (007a1737f3d3ba678bc78d3fa101d61b3d6892db).

[2018-03-12 15:45] kerrizor commented on #5445
@saveriomiroddi  I honestly don't recall what I meant by "mixed success" - it was a year ago! Perhaps it is related to the the issue I mentioned in #5446 ? IIRC even the `file://` installs checked the caching and wouldn't (re)load the local files when you rerun `bundle plugin install`, which frankly was surprising.

The use of `file://` as a valid URL honestly surprised me; I know that it is valid

[2018-03-12 20:22] agrim123 commented on #6190
@segiddins I am planning to check like this
[code]
How do I test this?

[2018-03-13 14:08] devoptimist commented on #4506
+1 for this.  I am wondering if anyone is working on this,  or if there is any context around why it has not been implemented yet. it would be a really useful feature to have

[2018-03-13 15:04] saveriomiroddi commented on #5445
@kerrizor given that the form `--git /path/to/file` works fine (again, unless I'm missing something; based on my understanding, the caching problem (#5446 is separate), I would classify this as a documentation problem - specifically, just extending the help:

[code]

would work. Of course, it assumes that the dev actually read the help :smile:

However, usability is king, so I'm neutral to this.

[2018-03-13 15:24] segiddins commented on #6190
You could write a unit test, passing in a closed IO for stderr

[2018-03-13 16:33] deivid-rodriguez opened #6339 "Bundler 2 hangs (or is very slow) when running `bundle install` on my app"
To reproduce (hopefully):

[code]

And I get this output and nothing else until I run out of patience

[code]

[2018-03-13 17:03] kirylpl commented on #4260
Have the same issue

[code]

[2018-03-13 17:21] kirylpl commented on #4260
`rbenv rehash` with removing previous /.rbenv/shims/.rbenv-shim worked for me

[2018-03-13 21:22] rheaton commented on #6154
We've created a repository reproducing this issue via Docker, if anybody has any ideas of how to fix this (for now, we've pinned to an old version of bundler).

Branch `master` has bundler 1.16.1 with the failure:
https://github.com/rheaton/bundler_issue_6154

Branch `bundler_1_15` has bundler 1.15.3 without the failure:
https://github.com/rheaton/bundler_issue_6154/tree/bundler_1_15

Thank you!

[2018-03-13 22:26] indirect commented on #6154
@rheaton @heycait thank you so much for this repro case! Hopefully that will help us get things figured out.

[2018-03-14 11:55] breakfast1 opened #6340 "A rake build failed because of missing bundler/dep_proxy"
Here is the said build: <https://travis-ci.org/tech-angels/vandamme/builds/353287717>. The error is happening at <https://travis-ci.org/tech-angels/vandamme/jobs/353287720#L852>.

As you can see the error is only happening with `ruby-head`.

The only change in the code base is that I updated dependencies. Previous builds were successful.

[code]

[2018-03-14 12:21] hsbt commented on #6340
This is an environment of travis issue. Please submit a https://github.com/travis-ci/travis-ci/issues as first.

[2018-03-14 12:21] #6340 closed

[2018-03-14 15:20] segiddins commented on #6154
Can you reproduce this without Docker?

[2018-03-14 15:26] segiddins commented on #6339
Killed it after `Finished resolution (448 steps) (Took 53.816872 seconds) (2018-03-14 08:25:15 -0700)` (didn't let it finish).

At commit g00c254cc5

[2018-03-14 15:31] deivid-rodriguez commented on #6339
I think we're taking bundler's capabilities to the limit in this repo. If you have suggestions on how to do things better, we're totally up for improving our workflows :smiley:.

[2018-03-14 16:00] rheaton commented on #6154
@segiddins Nope, in our repo we created a non-Docker version that works: https://github.com/rheaton/bundler_issue_6154/blob/master/install.sh

[2018-03-14 17:01] rmm5t commented on #3552
For any future onlookers: I packaged up what @toupeira suggested into a reusable rbenv plugin:
https://github.com/rmm5t/rbenv-bundle-path-fix

[2018-03-14 19:15] agrim123 opened #6341 "Inappropriate error message on running `bundle add [gem]` in case of duplication"
I observed `bundle add rake` throws an error if I have already specified gem before

[code]
I think an appropriate error would be to tell the user that gem is installed and can be updated by running `bundle update rake`.

[2018-03-14 21:32] nesaulov opened #6342 "Bundle exec fails with error template when Kernel.load raises error without a backtrace"
Bundler fails when `Bundler::CLI::Exec#kernel_load` catches an exception without a backtrace. I have added a test case to `spec/commands/exec_spec.rb` and the following report was generated. I will introduce a PR that fixes this issue.

## Questions

Please fill out answers to these questions, it'll help us figure out why things are going wrong.

 - **What did you do?**

   I ran the command `/Use

[2018-03-15 04:01] ajwann commented on #4513
Hey guys, I would like to start working on this. I just have a few questions first.

Is the intent of this feature to allow a user to set the URL for all git sources at one time by using
[code]

For example, I have a gemfile with multiple gems pointing to multiple different git sources:
[code]

Then I call:
[code]

Would the intention of this feature be to source both of the above gems from the ``

[2018-03-15 04:11] ajwann commented on #4513
Hi everyone! I would like to start working on this. I just have a few questions first.

Is the intent of this feature to allow a user to set the URL for all git sources at one time by using
[code]

For example, I have a gemfile with multiple gems pointing to multiple different git sources:
[code]

Then I call:
[code]

Would the intention of this feature be to source both of the above gems from the

[2018-03-15 09:16] hakunin commented on #2165
Having this issue as well. Gem from repo branch, switching local branch which wants the gem from a different branch and have a local path override.

Bundler absolutely refuses to install it, `bundle update --source <gemname>` tells me to run `bundle install` first and `bundle install` tells me to run `bundle install`.

As a workaround I have to go into `Gemfile.lock`, remove the info on top of the

[2018-03-15 09:59] thomasbromehead opened #6344 "No Gemlock file found / Middleman"
- **What did you do?**

  I ran the command middleman init within my folder.

- **What did you expect to happen?**

  I expected Bundler to install everything.

- **What happened instead?**

  Instead, what happened was...
<No C:/Users/Thomas/Desktop/inboundr/Gemfile.lock found> and this
 ## Backtrace
RuntimeError: Unable to find a spec satisfying tzinfo-data (>= 0) in the set. Perhaps the lockfil

[2018-03-15 11:04] ajwann commented on #6344
Based on your specs, it looks like bundler is installed. If you run bundle install in a directory with a Gemfile, does everything work correctly?

[2018-03-15 13:42] agrim123 commented on #6190
`Open3.popen3` does not accept any error argument to set stderr.

In another approach, I was trying to reproduce the issue but failed to do so. @gepandz

[2018-03-15 18:52] Tabitha4 opened #6345 "Unable to find a spec satisfying pg (~> 0.20) in the set"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `bundle install`

- **What did you expect to happen?**

  I expected Bundler to install the 'pg' gem

- **What happened instead?**

  Instead, what happened was I got this error "Unfortunately, an unexpected error occurred, and

[2018-03-15 21:55] colby-swandale commented on #6344
Duplicate of #6141

[2018-03-15 21:55] #6344 closed

[2018-03-15 21:58] colby-swandale commented on #6345
This does look corrupt, did you perform a merge in git and accidentally remove the `pg` gem from the Gemfile.lock?

[2018-03-15 22:22] halpert3 commented on #6141
Having the same issue. Middleman init started but then broke. After I got the "Bundler cannot continue" error, I tried dr-acul's solution but I get the error "Could not locate Gemfile". Any suggestions?

[2018-03-15 23:40] Tabitha4 commented on #6345
Yes, I did do a file merge and yes I had to change the ‘pg’ number. Ultimately I am trying to get to where I can push to Heroku. Kept getting errors trying to bundle installing it. Do delete the Gemfile? I’m a relatively new at this as I’m sure you can tell. Any guidance is appreciated

[2018-03-16 05:02] 42thcoder commented on #6278
What is your ruby version? @rEnr3n

Huggin do not support 2.5.0 for now because of deprecated yaml_as

[2018-03-16 11:19] shime commented on #6345
You could revert your project to a state before the merge with `git reflog` and `git reset --merge` and then perform the merge again, not removing the `pg` from Gemfile.lock this time.

You could also remove the `Gemfile.lock` and run `bundle install` which would rebuild your dependency tree and probably update some other gems as well, depending on your version ranges from the `Gemfile`.

[2018-03-16 12:11] Tabitha4 commented on #6345
Ok great! that gives me a good place to start. Thanks! Crossing my fingers

[2018-03-16 13:11] #6342 closed

[2018-03-16 17:20] #6345 closed

[2018-03-17 00:53] greysteil opened #6350 "Bundle update <gem> raises a RuntimeError for non-local platform gems"
Given a Gemfile and Gemfile.lock for a JRuby project, like the below, running `bundle update json` will raise a `RuntimeError` saying `Unable to find a spec...`.
[code]
[code]

The cause of the above is [these lines](https://github.com/bundler/bundler/blob/master/lib/bundler/definition.rb#L122-L124) which call `expand_dependencies` on the list passed gem names without allowing them to be expanded

[2018-03-17 17:51] segiddins commented on #6339
cc @greysteil, the steps/second seems extremely low

[2018-03-17 18:20] kerrizor commented on #5445
hhhhuuuuhhhh I swear it didn't work when @roseaboveit and I were working on this, but again, it's been > a year!

[2018-03-17 18:42] greysteil commented on #6339
That's crazy slow. @deivid-rodriguez, are you getting this on 1.16.1 as well?

[2018-03-17 19:26] #6246 closed

[2018-03-17 21:25] segiddins commented on #6339
those are my numbers with bundler master

[2018-03-17 21:44] deivid-rodriguez commented on #6339
No, master only. 1.16.1 performs fine.

[2018-03-17 21:51] segiddins commented on #6350
Tests:

[code]

[2018-03-18 15:25] ajwann commented on #4513
Ignore my previous comment. Now that I'm looking at the definition of the ```mirror_for``` method I can see that Bundler uses mirrors on a one-to-one basis with url's.

[2018-03-18 17:42] #6350 closed

[2018-03-18 19:11] breakfast1 opened #6445 "Duplicate installation due to user install"
Is there a way to disable user installation or to *redirect* it to normal installation ?

[2018-03-18 19:16] SuperSandro2000 commented on #6445
This is an gem issue not bundler.

[2018-03-18 19:37] greysteil commented on #4657
Sorry for taking so long to come back on this. I couldn't replicate it when I tried a couple of weeks ago and have just tried again and still can't - checking out https://github.com/comfy/comfy-blog/commit/95f3e677c62db1444a0ed4e0f574ab887c99daae I'm getting resolution after a couple of seconds. I'm on Bundler 1.16.1, Ruby 2.5.0, and Rubygems 2.7.6 - @GBH can you try updating Rubygems and let me k

[2018-03-18 20:09] breakfast1 commented on #6445
Oh I mixed both in my head sorry ;)

[2018-03-18 20:09] #6445 closed

[2018-03-19 01:28] segiddins commented on #6251
On https://github.com/2called-chaos/bundler_dependency_deadlock_test/tree/more_dependencies, this resolves in a couple of seconds with bundler master vs 1.16.1, so I think we can close this out -- thanks for the excellent reproduction case, though!

[2018-03-19 01:28] #6251 closed

[2018-03-19 13:03] saveriomiroddi commented on #5445
@kerrizor just to make it clear, with this:

I wasn't referring to you - I was trying to figure out a real-world case where the strategy of enhancing the help (opposed to introducing a new option) would fail, and I thought a case would be that of a hypothetical user reading the options, but not their help.

Sorry if there was a misunderstading :smile:.

[2018-03-20 18:09] rafaelfranca opened #6449 "Error when resolving dependencies"
This is a simple script that reproduces the issue.

[code]

When you execute it you will get:

[code]

It may be related with pre releases since if I change "5.2.0.rc1" with "5.1.0" it works.

Rubygem vesion: 2.7.6
Bundler version: 1.16.1
Ruby version: 2.5.0

[2018-03-20 19:45] amitsin6h commented on #5497
@Gauravano are you able to solve? same error with me

[2018-03-21 05:02] maxvia87 commented on #2204
Hi there, anyone got a fix for it? I have the exact same issue. Thanks

[2018-03-21 20:08] melriffe opened #6452 "ArgumentError: could not find a temporary directory"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/bin/bundle install`. I was attempting to prepare a brand new server for deployments.

- **What did you expect to happen?**

  I expected Bundler to fail installing the ```pg``` gem, like it did two times before. I wa

[2018-03-21 21:16] nterry commented on #4133
@thetizzo My hero

[2018-03-22 05:09] blackst0ne commented on #5924
Any updates on this? :slightly_smiling_face:

@pvsukale have you started to work on this proposal?

[2018-03-22 05:59] pvsukale commented on #5924
Sorry. Was busy with college work. Will start working on this tonight.
Is this okay?

[2018-03-22 07:15] blackst0ne commented on #5924
@pvsukale sure. Take your time!

I just wanted to be sure you're in business. :slightly_smiling_face:

[2018-03-23 12:16] 907th opened #6453 "`bundle version` v1.16.1 prints strange "fatal: Not a git repository ...' message"
I see strange 'Not a git repo' messages when running `bundle version` command. All other commands (e.g. `bundle install`) do not print this message.

Terminal session:
[code]

RVM: rvm 1.29.3 (master)
Ruby: ruby 2.5.0p0 (2017-12-25 revision 61468) [x86_64-darwin17]

[2018-03-23 12:54] 907th commented on #6453
The source of the problem is [this line](https://github.com/bundler/bundler/blob/master/lib/bundler/cli.rb#L464) which calls `BuildMetadata.git_commit_sha`. But the gem folder has no `.git` dir.

[2018-03-23 13:04] 907th commented on #6453
I found that packaged Bundler gem (bundler-1.16.1.gem) simply doesn't include `.git` dir. So I think that `bundle version` should avoid to try to extract any git-related info (`BuildMetadata.git_commit_sha`).

[2018-03-23 16:52] indirect commented on #6453
Thanks for catching this! We definitely shouldn't print that message if there is no `.git` directory.

[2018-03-23 19:58] laurentqro commented on #6242
+1

[2018-03-24 12:05] rbq commented on #4552
Maybe instead of forcing versions in the Gemfile and considering this as a special case while resolving the dependencies we could find a way to overwrite the dependency information of a Gem locally (and not touch the whole resolution process at all)? Basically a way to patch a gemspec locally within a Gemfile? E. g. if you want to make Bundler act as if your old Rails version was compatible with a

[2018-03-24 16:43] vs-adm commented on #6322
I guess the key point is the `25` hardcode in https://github.com/bundler/bundler/blob/master/lib/bundler/fetcher/compact_index.rb#L100

[code]

I'm going to limit thread pool for compact index updater. What is the best way to impement this fix?

1. Introduce new ENV variable which set pool size
2. Align compact indexer thread pool size with `-j` option
3. Introduce new option to set this

[2018-03-24 22:48] indirect opened #6454 "[2.0] `bundle update` refuses to allow versions that are (seemingly) compatible"
While trying to update Rails from 5.1.4 to 5.2.0.rc2, I got this error:

[code]

Note that the conflict doesn't make sense... `railties` is already unlocked because `rails` depends on it, and the version requirement from `devise` allows 5.2.0.rc2.

To try to fix it, I tried also explicitly unlocking `devise`, and then every single other gem that also depended on `railties`. Eventually, that produc

[2018-03-25 00:18] indirect commented on #6454
On suggestion from @segiddins, I ran `bundle config only_update_to_newer_versions false`, and tried `bundle update rails` again. It worked this time. But the diff doesn't show any gems whose versions went down: https://gist.github.com/indirect/2d4234c90af642021713e7d7bdc4a694.

[2018-03-25 00:37] segiddins commented on #6449
Reproduced, thanks!

as a work-around, specifying `  gem "rails", "5.2.0.rc1"` manually gets this to resolve

[2018-03-25 00:39] segiddins commented on #6452
This is very strange. What does the following print?

`ruby -rtmpdir -e "p ENV['TMPDIR']; p Dir.tmpdir"

[2018-03-25 00:41] segiddins commented on #6453
The released version (1.16.1) has the following (which wont call `git` at all, since the ivar is already set)

[code]

[2018-03-25 00:42] segiddins commented on #6322
The worker should transparently handle hitting the thread limit...

[2018-03-25 16:59] melriffe commented on #6452
Thanks for the follow-up @segiddins, however it seems it was a permissions issue on /tmp. The SA was able to get it sorted. Therefore, I'm going to close this issue.

[2018-03-25 16:59] #6452 closed

[2018-03-25 20:37] akhilporandla21041998 opened #6456 "Msfconsole"
Not able to install grpc

[2018-03-25 20:39] #6456 closed

[2018-03-26 05:06] 907th commented on #6453
@segiddins You're right! I debugged a little and found that my ruby 2.5.0 installation already have a copy of the Bundler 1.16.1 and this "preinstalled" Bundler is used by `bundle version` command instead of the one I installed manually (using `gem install bundler`).

Preinstalled Bundler path is:
~/.rvm/rubies/ruby-2.5.0/lib/ruby/site_ruby/2.5.0/bundler

Let's see on the `BuildMetadata` class fro

[2018-03-26 15:10] Iristyle opened #6457 "Non-deterministic install of json gem on Ruby 2.4.3p205 / bundler 1.16.1"
I'm seeing some unexpected behavior with the `json` gem under Ruby 2.4 on Windows / AppVeyor.

Given a project with a `Gemfile` that explicitly references an unversioned `json` dependency, but also transitively depends on `json` from an excluded gem group `system_tests` (`beaker` -> `beaker-aws` -> `aws-sdk-v1` -> `json ~> 1.4`), I've observed divergent behavior that I don't understand.

Given the

[2018-03-26 23:03] rubymorillo commented on #6321
@hmistry @indirect I haven't made much headway with this lately because of school, but looking at both files, I'm open to @hmistry's suggestion that we make the [/doc/contributing/README.md](https://github.com/bundler/bundler/blob/master/doc/contributing/README.md) the _main_ README, replacing [/doc/README.md](https://github.com/bundler/bundler/blob/master/doc/README.md).

If we do this, should I

[2018-03-26 23:14] rubymorillo commented on #6334
Hey @colby-swandale,

Awesome. I'm thinking through this right now and it looks like we have to add a line in the *Description* section, specifically, this graph:

```Executing `bundle config <name> <value>` will set that configuration to the
value specified for all bundles executed as the current user. The configuration
will be stored in `~/.bundle/config`. If <name> already is set, <name> will b

[2018-03-27 02:22] segiddins commented on #6457
That assumption is correct

[2018-03-27 02:22] segiddins commented on #6457
Could you please share the full output of `bundle env` for both runs? Thanks!

[2018-03-27 04:36] mazarick opened #6458 "Permission denied when writing gem with `bundle gem`"
I am running a recently installed Ubuntu inside of a Window10 machine.   I'm telling you this because there are likely to be many more people just like me and will run into the same problems.   I was actually trying to run "rake" inside of an older program that gave me further instructions to issue "bundle install".  I ran "bundle gem install" to get this error message.   I don't believe it is a p

[2018-03-27 09:26] colby-swandale commented on #6334
Thanks for grabbing this!

I would document the priority that Bundler uses for all the settings, which is currently: Local Config, Environment Variables, Global Config & Bundler Defaults.

[2018-03-27 11:47] kerrizor commented on #5445
@saveriomiroddi no worries! I was laughing a bit at myself. :)

[2018-03-27 12:52] deivid-rodriguez opened #6459 "Feature request: `bundle check --deployment`"
I'd like a command to tell me if my lock file is "out of sync", i.e., if running `bundle install` or `bundle lock` would cause changes on it. I think this can be handy, for example, in CI situations to implement "remember to update the lock file" checks.

I asked about this feature in bundler's slack and @indirect noticed that this was "conceptually `bundle check --deployment`, which I do not thin

[2018-03-27 13:00] deivid-rodriguez opened #6460 "If `Gemfile.lock` exists, `bundle lock --lockfile=<path>` does not do what you expect"
On a project with an existing `Gemfile.lock`, when I run

[code]

I get the output

[code]

However, no `AlternativeGemfile.lock` file is actually written.

If I remove the `Gemfile.lock` file, then things work as I expect.

[2018-03-27 14:22] rubymorillo commented on #6334
@colby-swandale sure thing! It looks like we mention that in the first graph of the bundler-config doc:

[code]

I figure listing them out might make them more obvious to the user.

BTW I used the settings originally listed in bundler-config. Should I swap out any for Bundler defaults?

[2018-03-27 18:16] grosser opened #6461 "bundler blows up when running on readonly device"
(I'm using the Bundler::CLI module here to make it easier to reproduce, otherwise would need a Gemfile)

[code]

Adding `-e BUNDLE_PLUGINS=false` solves the crash, but it's annoying since now I have to always type that or add it to our `Dockerfile`

FYI adding BUNDLE_CONFIG=/dev/null silences the leftover warning (`Bundler will use `/tmp/bundler/home/unknown' as your home directory temporarily`) t

[2018-03-27 18:21] jsgarvin commented on #6454
I was having the same issue as @indirect.  `bundle config only_update_to_newer_versions false` did not change anything for me.  Downgrading Bundler from 1.16.1 to 1.15.4 resulted in completely different version compatibility errors that actually made sense and, once resolved, allowed the update to proceed.

[2018-03-27 20:18] #6294 closed

[2018-03-27 21:00] colby-swandale commented on #6334
That looks nice! Only thing is that `Global Config` is `User's home directory (`~/.bundle/config`)`, maybe say `Global Config (~/.bundle/config)`? And then have `Default Config` last.

[2018-03-28 14:06] rubymorillo commented on #6334
@colby-swandale cool! Just opened up the PR and included your suggested changes: https://github.com/bundler/bundler/pull/6464

[2018-03-28 20:33] colby-swandale commented on #6334
We normally keep issues open until a PR that fixes them has been merged.

[2018-03-28 22:26] rubymorillo commented on #6334
Noted 👍🏽

[2018-03-28 22:59] #6334 closed

[2018-03-29 15:58] ojab opened #6465 "`require 'bundler/setup'` fails on 2.5.1 if bundler is located in symlinked directory"
I don't really know if the root cause is symlinked directory, but it's my best shot (and I think [this change](https://bugs.ruby-lang.org/issues/14557) can be somehow related).
ruby-2.5.1 installed via rvm, rvm directory with all gems located in directory under symlink (i. e. `/symlinked_directory/ -> /real_directory/`, rvm is placed in `/real_directory/.rvm`, but `$LOAD_PATH` contains `/symlinked

[2018-03-29 16:28] ojab commented on #6465
but simple test like
[code]
doesn't reproduce it, unfortunately. Will try to create some kind of reproducer.

[2018-03-29 20:29] indirect commented on #6465
@hsbt do you know of a change in 2.5.1 that would break require through symlinks like this?

[2018-03-29 20:35] watsonian commented on #6465
`lib/rubygems.rb` also updated from 2.7.3 to 2.7.6. I remember seeing some reports of this issue when on 2.7.3 that were fixed by upgrading to 2.7.4. Maybe there's a regression there? https://github.com/ruby/ruby/compare/v2_5_0...v2_5_1#diff-e2bd4eb9bbb8b25862825c636e55bd6dL13

[2018-03-29 22:37] ojab commented on #6465
And I cannot reproduce it w/ ruby build from source manually (i. e. `./configure && make && make install`). Looks like rvm issue, but still trying to isolate it.

[2018-03-30 00:29] watsonian commented on #6465
Yeah, could very well be an rvm issue. I'm not able to reproduce the issue locally on my end either, but it happens consistently on Travis CI (which uses rvm).

[2018-03-30 18:05] fgrehm commented on #6154
We're seeing this problem on our docker alpine images as well. We tried `BUNDLE_GEMFILE='./Gemfile'` but it did not work for us.

What _did_ work was disabling _spring_! 😅 we sticked a `ENV DISABLE_SPRING=1` to our `Dockerfile` and called it a day. I haven't figured out exactly what's wrong with spring and unfortunately I don't have enough cycles to investigate it but hopefully this might help fut

[2018-03-31 22:30] #6295 closed

[2018-04-02 15:45] eanlain commented on #6154
I was able to build off of @rheaton work and reproduce this issue without using Docker: https://gist.github.com/eanlain/83f97f919701c864fb68dfdcf813cf5a

I also took a stab at fixing the issue in #6469.

[2018-04-02 20:03] tzachshabtay commented on #6311
@hsbt ran with `gem update --system=2.7.5`, but still getting the same error from above (and same symptoms- the file is not there, only `rdoc-4.2.1`).

[2018-04-03 09:51] salzig commented on #6154
Same Problem for us. We build a "prebuild" image using the official ruby base images with our Gemfiles as a kind of cache, so we don't have to install every gem from rubygems for every job.

[code]

This prebuild image is then used in CI to speed up test/spec/lint/etc execution with gitlab-ci.

Gitlab-CI will clone the Repository into /builds/group/project and uses this directory as working direct

[2018-04-04 01:09] krainboltgreene opened #6470 "Installing gems via --path/BUNDLE_PATH and using bin/rake in rails+spring thinks gems aren't installed"
In the Circle CI 2.0 build environment they advise the use of installing into `./vendor/bundle` so that gems can be restored from cache for multiple workflow builds. However, in my Rails 4.2 project I'm running into this issue:

[code]

As it turns out, in Rails 4.2 (and other versions) `bin/rake` references `bin/spring` and that file does some weird *private API* mangling and so `bin/rake` will f

[2018-04-04 01:09] krainboltgreene commented on #6470
The solution was to make `DISABLE_SPRING=1` an environment variable for all workflows so that spring isn't used.

[2018-04-04 01:09] #6470 closed

[2018-04-04 13:42] ralf-berger commented on #6465
Ruby 2.5.1 via RVM (head):

[code]

[code]

[2018-04-04 13:49] agrim123 commented on #6460
This line [here](https://github.com/bundler/bundler/blob/master/lib/bundler/definition.rb#L340) seems to be the culprit. It does not check the file existence just the contents. If default lock file exists and we run `bundle lock --lockfile=AlternativeGemfile.lock`, assuming the contents are same it will not create a new `AlternativeGemfile.lock` file. However, if lock file does not exist, then thi

[2018-04-04 15:43] lamont-granquist opened #6471 "bundler attempts to install gems which conflict with an explicit ruby version requirement"
Simple example:

[code]

chef-14.0.190 is pinned >= 2.4.0 here:

https://github.com/chef/chef/blob/97c1dd6f1cac6d97e85d05039cad8b28596141ba/chef.gemspec#L16

so chef-14 shouldn't been in the solution set.  But it only pins chef-zero to >= 13.0 here:

https://github.com/chef/chef/blob/97c1dd6f1cac6d97e85d05039cad8b28596141ba/chef.gemspec#L35

That itself should have allowed chef-zero 13.x versions

[2018-04-04 15:52] lamont-granquist commented on #6471
Also note that rubygems doesn't get this right either:

[code]

The ohai pin there is because its selecting chef-14, which itself doesn't install on 2.3.x and then picking up the 14.x pin on ohai which blows up.  The released version of berkshelf allows `chef >= 13.6.52`, which is accurate, there's an API we need in exactly that version and don't care if we're on 13 or 14.

This Gemfile solves fin

[2018-04-04 17:32] ArielAleksandrus opened #6472 "Could not load OpenSSL"
I'm using version 1.16.1 of bundler and when I try to run bundle install I get this error:
[code]
I am using Linux Mint and version 1.1.0h of openssl

When I try to run `rails s` I get this error:

[code]

I believe it tries to find version 1.0.2 of openssl while I have an upgraded version, 1.1.0
Any thoughts on how to fix this?

[2018-04-04 17:59] lamont-granquist commented on #6471
So.....

I made a release of berkshelf 6.3.2 which pins to `chef < 14` which is effectively the same as the that last Gemfile i posted with the manual pin.  Now bundler/rubygems picks that version and its all happy.

The repro case now requires an explict pin onto 6.3.1:

[code]

[2018-04-05 10:28] colby-swandale commented on #6457
ping @Iristyle

[2018-04-05 10:32] colby-swandale commented on #6460
sure

[2018-04-05 10:36] colby-swandale commented on #6465
is there any update to this issue?

[2018-04-05 10:40] colby-swandale commented on #6472
This is not a Bundler issue, this seems to be an issue with your ruby environment. I suggest checking that your ruby environment is setup correctly and linked with the correct libraries.

[2018-04-05 10:40] #6472 closed

[2018-04-05 10:44] colby-swandale commented on #6458
This is a reeeaalllly old version of Bundler. Please update to the latest version. Looking into the gem command, an error message since `1.11.2` has been added that will notify the user when the user does not have permission to create a new gem in the current folder.

[2018-04-05 10:44] #6458 closed

[2018-04-05 10:46] colby-swandale commented on #6324
This seems like this has been resolved. Closing.

[2018-04-05 10:46] #6324 closed

[2018-04-05 11:40] ojab commented on #6465
Sorry for delay, so far I can reproduce the issue with symlink `/home/testuser` -> `/tmp/testuser`, ruby-2.5.1 compiled w/ ` ./configure --prefix=/home/testuser/ruby --disable-install-doc` and then
[code]
without rvm involved. Unfortunately hasn't found time to bisect it yet.

Basically `GEM_PATH` is similar to rvm's one and rvm works fine if `unset GEM_PATH` is run before interacting with ruby.

[2018-04-05 12:15] ProfessorV opened #6473 "home/professorv/metasploit/lib/msf/core/payload/android.rb:87:in `not_after=': bignum too big to convert into `long' (RangeError)"

[2018-04-05 12:46] ojab commented on #6465
…and bisecting is actually impossible: ruby v2_5_0 from git fails with the same error, while ruby-2.5.0 from tarball works fine, looks like local `autoreconf -i` doing something different from `autoreconf` which was run for tarball creation :/

[2018-04-05 14:31] segiddins commented on #6473
This sounds like an issue in metasploit rather than Bundler.

[2018-04-05 15:36] Iristyle commented on #6457
So unfortunately I don't have a time machine to go back to the old code and insert a `bundle env` into the unexpected run that didn't download json 1.8.6. But the full output of the job at that point in time is here. Even though it's missing the `bundle env` there's still useful info in there - https://ci.appveyor.com/project/puppetlabs/puppetlabs-scheduled-task/build/1.1.x.150/job/posetp03ctx267a

[2018-04-05 15:50] Iristyle commented on #6457
I updated prior comment with the correct Ruby 2.4 output for the properly installing 1.8.6. I'm still working on reproducing the failure case output.

[2018-04-05 16:02] Iristyle commented on #6457
For the time being, here is the output from the unexpected run that would be a part of `bundle env` - taken from https://ci.appveyor.com/project/puppetlabs/puppetlabs-scheduled-task/build/1.1.x.150/job/posetp03ctx267a5

## Environment
[code]
## Bundler Build Metadata
[code]
## Bundler settings
[code]
## Gemfile
### Gemfile
[code]
### Gemfile.lock
[code]

[2018-04-05 21:35] colby-swandale commented on #6473
This issue is not related to Bundler.

[2018-04-05 21:35] #6473 closed

[2018-04-06 00:32] hsbt commented on #6465
7825e8363d4b2ccad8e2d3f5eeba9e26f6656911 is not related this problem.

[2018-04-06 06:31] elitalon opened #6475 "Install fails with "Bundler::GemspecError: Could not read gem" error"
bundler is failing to install the gems required by `fastlane` in a Jenkins slave:
[code]

It seems like it's looking for `CFPropertyList 3.0.0.gem` in the cache directory, but after doing an `ls` that file is at the top-level directory:

[code]

If I run the commands separately (i.e. `gem install fastlane`) it installs everything without a problem.

## Environment

[code]

## Bundler Build Metadat

[2018-04-06 06:39] elitalon commented on #6475
It seems the issue is related to:

[code]

If I set it to false it works without issues, obviously installing everything into the global gems environment.

[2018-04-06 11:16] ojab commented on #6465
Nevertheless commit just before bundler merge (https://github.com/ruby/ruby/commit/f2e04b77aa8a363d7e36ce5a9cdb60714a537a3c) works (even after `gem update --system`/with rubygems-2.7.6), so offending commit should be here https://github.com/ruby/ruby/compare/f2e04b77aa8a363d7e36ce5a9cdb60714a537a3c...7825e8363d4b2ccad8e2d3f5eeba9e26f6656911 or it's caused not by ruby/rubygems/bundler. I can't see

[2018-04-07 07:54] #6460 closed

[2018-04-07 14:12] marcthe12 commented on #6465
It failed with comunized-gem installed on rbenv. When I removed the plugin and reinstalled ruby with all settings intact, it works. So the problem in definately something to do with symlinks.

[2018-04-07 17:06] ansarkamina opened #6479 "Bundler Error Backtrace:"
[code]

[2018-04-08 18:24] segiddins commented on #6461
Something like the following should do the trick:

[code]

[2018-04-08 18:34] segiddins commented on #6471
This is happening for me since I'm getting a 429 and Bundler is having to fall back to the gem dependency endpoint

[code]

[2018-04-08 18:49] segiddins commented on #6475
Thanks! Was able to reproduce, looking into a fix

[2018-04-08 19:03] segiddins commented on #6475
Turns out the issue was with the `path` being set to `.`, but https://github.com/bundler/bundler/pull/6480 should fix the issue!

[2018-04-08 19:08] segiddins commented on #6457
Both of the lockfiles have `json (1.8.6)`, so I'm not seeing how bundler would be activating the wrong version

[2018-04-08 20:36] #6475 closed

[2018-04-08 21:10] grosser commented on #6461
Yes this was with the nobody user ... But I'd think it fails with a real
user too if home is read-only

On Sun, Apr 8, 2018, 11:20 Samuel Giddins <notifications@github.com> wrote:

[2018-04-09 03:44] segiddins commented on #6461
I’m pretty sure it’s only happening since Bundler is hitting fallback code that only happens when home does not exist

[2018-04-09 07:07] elitalon commented on #6475
Great! Thank you 😊

[2018-04-09 14:06] Iristyle commented on #6457
@segiddins note the difference under `DEPENDENCIES` - for the success run, see that `json` appears in the list at the bottom, but it does not in the failure.

Again, you can refer to the diff of the AppVeyor output from the 2 original runs at https://gist.github.com/Iristyle/154ba00d4c9e96027a645ac7f50df78b#file-bundler-appv-diff for the other anomalies (I can also trim that down to remove gem ins

[2018-04-10 17:26] lamont-granquist commented on #6471
here's my current verbose output if it help someone:
[code]

[2018-04-10 17:31] lamont-granquist commented on #6471
The psych 416 may be the root cause?

[2018-04-10 17:41] lamont-granquist commented on #6471
I'm not familiar with the endpoints, but it kind of looks like the `info/chef` endpoint pulls down a list of all gems that chef has ever depended on?  I don't think we currently have any dep on psych because I can't grep it in our Gemfile.lock, and I see a pile of fog deps there which must date back to 2010-ish ancient times when those got first split out into knife gems and then we migrated most

[2018-04-10 17:45] lamont-granquist commented on #6471
Don't see psych as a current dep of berkshelf either in its Gemfile/Gemfile.lock/gemspec

[2018-04-10 19:49] mgreenly opened #6481 "com"

[2018-04-10 21:16] #6481 closed

[2018-04-11 02:27] segiddins commented on #6461
Feel free, just needs a test!

[2018-04-11 02:28] segiddins commented on #6471
that's correct

yes, anything that causes bundler to need to fallback to the old dependency API would cause this

[2018-04-12 04:53] indirect opened #6483 "`install` after changing a version can take a very long time to fail"
In this particular application, I changed a single version requirement in the gemfile, from sprockets ~> 3.0 to ~> 4.0.0.beta. When I ran `bundle install`, it took about 60 seconds to print this output:

[code]

The resolver didn't even run, and we didn't need to download gem information for 60 seconds to be be able to print that error message. Hopefully we can fail faster, saving people trying to

[2018-04-12 15:13] segiddins commented on #6483
The resolver did run, the issue is that everything else in your gemfile is locked so it gets resolved before the Gem you’re updating

[2018-04-13 07:38] BenjaminHoegh opened #6485 "1.16.1 LoadError"
[code]

`ruby 2.5.0p0 (2017-12-25 revision 61468) [x86_64-linux-gnu]
`
`gem 2.7.6
`
`bundler 1.16.1`

[2018-04-13 08:39] michaelrigart commented on #6465
Hi,
I'm running into a similar problem using docker passenger image, which in turn uses rvm.

[code]
Commands run through the rails binstubs seem to fail, but running those commands directly through ```bundle exec``` work fine.

[code]

[2018-04-13 11:46] chewi commented on #6465
Just come here from another issue and I can confirm the symlink aspect of it. If I replace the global gemset symlink with a bind mount then it works.

[2018-04-13 20:32] indirect commented on #4552
Thanks for the input, everyone.

Since this ticket isn't producing any new points for discussion, I'm going to lock it to collaborators until we have an RFC that discusses the tradeoffs involved and comes to conclusions about those tradeoffs that we can use as a basis for implementing something like this (or not, as the discussion goes).

[2018-04-13 20:51] Elzonor opened #6486 ""bundle install" not working"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/ElzoMac/.rbenv/versions/2.5.0/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened ins

[2018-04-14 03:13] Jeiwan opened #6487 "False conflicts in 1.16.1"
We're updating a Rails app from version 4.2.9 to version 5+ and get such conflicts:
[code]
But 'actionpack' 5.0 fits just right to all the dependencies. There are also similar reports related to 'activerecord' and other Rails components.

Bundler 1.15.4 produces no such conflicts.

[2018-04-15 00:53] colby-swandale commented on #6487
Can you please attach the output of `bundle env`

[2018-04-15 01:01] colby-swandale commented on #6479
This does not appear to be an error with Bundler, this is something to do with the `therubyracer` gem. I suggest raising an issue with the gem authors.

[2018-04-15 01:01] #6479 closed

[2018-04-15 01:02] colby-swandale commented on #6471
@segiddins is there any actions for this issue?

[2018-04-15 02:09] #6461 closed

[2018-04-15 07:41] XavierDD1st commented on #6210
I am having the same problem.
`gem 'bcrypt', git: 'https://github.com/codahale/bcrypt-ruby.git', :require => 'bcrypt'`
`Retrying `git clone "https://github.com/codahale/bcrypt-ruby.git" "C
:/Ruby24-x64/lib/ruby/gems/2.4.0/cache/bundler/git/bcrypt-ruby-4da44
73665a7f096661bd4a2b44229a6546ff6af" --bare --no-hardlinks --quiet`
due to error (2/4): Errno::ENOENT No such file or directory - git cl
one "

[2018-04-16 01:59] lamont-granquist commented on #6471
Would it be possible to have the latest gemspec for a gem identify a floor below which versions are deprecated (or some other word which means "too old to consider in clever dependency solutions") and the `info/chef` endpoint would prune out all the information from those versions?  Then if it fails to find a solution it could fall back to the old dependency API...

Alternatively I supposed we cou

[2018-04-16 02:31] br3nt commented on #6048
I just got this error message too trying to install a private gem from a private Nexus repo.

[2018-04-16 12:46] perlun opened #6489 "Credentials are not properly filtered out in 'bundle install'"
#4704 fixed some of this, but apparently there still seems to be an issue under certain circumstances.

Here is my Gemfile, running with bundler `1.16.1`:

[code]

When I run `GITHUB_TOKEN=my-secret-token bundle install`, this is part of the output I get:

[code]

This is clearly less than optimal, especially if being used on Travis or other CI services. (In our case, we are using private repos so

[2018-04-17 04:06] segiddins commented on #6485
Hi there, could you please have a look at https://github.com/bundler/bundler/blob/master/doc/contributing/ISSUES.md ? Your issue is a bit light on information

[2018-04-17 04:07] segiddins commented on #6486
This looks like a TLS issue, could you please go through https://bundler.io/v1.16/guides/rubygems_tls_ssl_troubleshooting_guide.html ? Thanks!

[2018-04-17 04:09] segiddins commented on #6471
Possible? Maybe. Probable? I doubt this would ever get implemented, sorry.

In theory, there shouldn't be any issues since bundler caches all of the `info` files locally, RubyGems.org shouldn't be failing on these requests

[2018-04-17 07:30] Elzonor commented on #6486
Thanks Samuel, I will check it!

L.

* * * * *
Lorenzo Ciglioni
Product Design & Planning

On 17 Apr 2018, 06:07 +0200, Samuel Giddins <notifications@github.com>, wrote:

[2018-04-17 07:45] nilsding opened #6491 "Strange lockfile behaviour with bundle update/install and platform-specific gems"
Hey everyone,
I recently stumbled upon some weird behaviour with `bundle update` and `bundle install` and some platform-specific gem dependencies in a few of our projects.  I successfully managed to track it down to the following:

- The `pry` gem, which has at least two gem versions: one for any platform (I'll call that one `ruby` from now on) and one for `java`
- That `java` platform version has

[2018-04-17 08:51] perlun commented on #6489
@segiddins Perhaps even worse, I just discovered it gets written to the `Gemfile.lock` also:

[code]

(For reference, #6490 is the suggested fix to the original problem reported.)

[2018-04-17 09:41] TheFlyingPig commented on #5651
I had the same error, but with Chef on Ubuntu 14.04, loads of free space on the partition and it was claiming it was out of space.  I found that the issue was with the number of inodes, try running:
`df -ih`

This will show you the inode usage.

Then navigate to the relevant partition's root folder and run:
`# Source: https://stackoverflow.com/questions/653096/how-to-free-inode-usage
# count_em -

[2018-04-17 16:09] chrisokamoto commented on #6465
Any update on this issue?

[2018-04-17 16:50] DamienRobert commented on #6465
I can confirm this bugs happen with ruby 2.5.1p57, gem 2.7.6 and bundler 1.16.1. In fact for me this happens when my GEM_HOME path contains a symlink too. If I call bundler via GEM_PATH=/path/to/gems/without/symlinks it works (but strangely not when I do the same with GEM_HOME rather than GEM_PATH).

[2018-04-17 22:00] bountytesting123 commented on #5708
We are currently running into this issue as well. We're trying to setup a read-only, immutable docker container to run our application inside of for our CI and Production environments (We do mount a [tmpfs volume](https://docs.docker.com/storage/tmpfs/) at `/tmp` for any temporary files such as pid files.)

We run our `bundle install` command in the Dockerfile (before we make our filesystem readon

[2018-04-18 07:05] Adilkemo opened #6492 "--- ERROR REPORT TEMPLATE -------------------------------------------------------"
C:\Users\adilkemo\Desktop\sites>rails new fur -d mysql
      create
      create  README.md
      create  Rakefile
      create  .ruby-version
      create  config.ru
      create  .gitignore
      create  Gemfile
         run  git init from "."
Initialized empty Git repository in C:/Users/adilkemo/Desktop/sites/fur/.git/
      create  package.json
      create  app
      create  app/assets/config

[2018-04-18 07:41] agrim123 commented on #6492
I think this issue has been already discussed here #5501  .

[2018-04-19 02:27] kriom opened #6494 "Gemfile.rb rather than Gemfile ?"
Hi!

This is more a remark than an issue.

As the `Gemfile` is evaluated as Ruby code (http://bundler.io/man/gemfile.5.html), I think it should be possible to name it `Gemefile.rb` (but keep retro-compatibility).

Perhaps I am wrong but : Is there a good reason to name it `Gemfile` ?

To me, it makes more sense that the files evaluated as Ruby have the `.rb` extension.

In https://github.com/ruby/

[2018-04-19 02:49] segiddins commented on #6491
Weird, on `master` even `bundle install` doesn't seem to be removing `ffi`.

Thanks so much for the _amazing_ repro case.

[2018-04-19 03:30] segiddins commented on #6494
Bundler supports the `gems.rb` name as well ;)

[2018-04-19 03:48] segiddins commented on #6491
I think https://github.com/bundler/bundler/pull/6495 should fix this!

[2018-04-19 04:04] kriom commented on #6494
Thanks ! It works well !

Perhaps for the future `gems.rb` should be put forward rather than `Gemfile`.

[2018-04-19 04:09] segiddins commented on #6494
We considered doing that, but community response was not overwhelmingly positive.

[2018-04-19 04:49] #6494 closed

[2018-04-19 08:41] perlun commented on #6489
@segiddins Just a friendly reminder about the second, similar problem. Was it taken care of by #6490 also or does it need a separate fix?

[2018-04-19 11:51] colby-swandale commented on #6492
Duplicate of #5501

[2018-04-19 11:51] #6492 closed

[2018-04-19 11:52] colby-swandale commented on #6487
ping @Jeiwan

[2018-04-19 11:52] colby-swandale commented on #6486
This issue looks like it has been answered.  Closing.

[2018-04-19 11:52] #6486 closed

[2018-04-19 11:53] colby-swandale commented on #6457
ping @segiddins

[2018-04-19 12:50] olleolleolle commented on #6489
When using `dbundle install` using what's in master now, I got a Bundler 2 gemfile which had `GIT` sections such as:

[code]

...`token-here` being the GitHub token used.

[2018-04-19 14:34] segiddins commented on #6489
@perlun it’ll need to be addressed separately

[2018-04-19 19:14] perlun commented on #6489
@segiddins I got information from @olleolleolle about https://github.com/bundler/bundler/issues/3609#issuecomment-98266820, where it says that it was decided to keep it like this for backwards compatibility, in bundler 1.x. But for bundler 2.x it should definitely be fixed imho.

[2018-04-19 23:28] democlitos opened #6497 "bundler/inline not working with sinatra application"
Hi. Sinatra application is not started when bundler is used to resolve dependencies. In the following code the application is closed before sinatra server start.
[code]

[2018-04-20 05:59] colby-swandale commented on #6497
This is not a problem with Bundler. i suggest opening this issue with the Sinatra project.

[2018-04-20 05:59] #6497 closed

[2018-04-20 06:55] michaelrigart commented on #6465
After some testing, I've noticed that when you uninstall the already provided bundler install from rvm and just reinstall it ( tested with version 1.16.0 and 1.16.1), the error won't appear anymore.

[2018-04-20 07:14] indirect commented on #6465
I can confirm that [adding `before_install: gem install bundler`](https://github.com/rubytogether/rubytogether.org/commit/de3dda5a62d1d38f50634ffc9f884bbd143fb666) fixed this issue for me on Travis.

If reinstalling Bundler fixes the issue, maybe this is a problem with however RVM is packaging Bundler?

/cc @watsonian

[2018-04-20 08:02] ojab commented on #6465
hmm, but `bundler` is not installed by default during `rvm install`.
<details>
<summary>`gem list` after `rvm install 2.5.1`</summary>
[code]
</details>
what exactly is meant by `uninstall the already provided bundler install from rvm and just reinstall it`?

[2018-04-20 08:42] ojab commented on #6465
[code]
so AFAIU reinstallation basically moves `bundler` from symlinked directory to non-symlinked one and it just workarounds the issue.

[2018-04-20 08:51] chewi commented on #6465
RVM used to preinstall Bundler but hasn't done for quite a while now. I was under the impression it is now included with Ruby itself?

[2018-04-20 08:57] michaelrigart commented on #6465
@ojab ,

indeed, it's being re-installed in a non-symlinked directory.

Installing it back into the symlinked directory throws up the error again:

[code]
So installing bundler in the non-symlinked directory is indeed a workaround.

[2018-04-20 09:38] ralf-berger commented on #6465
@chewi IIRC that was planned for 2.6, but reverted last minute.

[2018-04-20 14:55] jandudulski opened #6499 "Credentials are not set when using BUNDLE_GEM__PUSH_KEY"
`bundle env` is able to notice it:

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

But when I run `bundle exec rake release` I have:

[code]

[2018-04-20 15:49] #6499 closed

[2018-04-21 03:45] Jeiwan commented on #6487
Sorry for the delay, I had a busy week.
I saw this bug in a Docker container as well as on my local machine, and it appeared multiple times. I'll try to post all the details tomorrow, I need to recreate the same environment.

[2018-04-21 18:40] segiddins commented on #6457
👍 sorry I missed that

[2018-04-21 18:41] segiddins commented on #6489
Agree it should be fixed, I just didn't fix it in my PR ;)

[2018-04-21 21:27] justin808 opened #6500 "API to determine if the semantic match is specified in the Gemfile?"
Is there an API to determine if the semantic match is specified in the Gemfile?

I'd like to know if a version for a gem is specified using ">=" or "~>" in the Gemfile?

[2018-04-21 21:35] segiddins commented on #6500
There’s currently no public API for it, but you can try to parse the `DEPENDENCIES` section of the lockfile

[2018-04-22 02:33] Jeiwan commented on #6487
Strange, this is not reproducible anymore. Probably it was caused by some weird gems combination.

[2018-04-22 02:33] #6487 closed

[2018-04-23 05:04] bf4 commented on #6340
Fwiw, I have this happening on my mac book pro, running rvm (1.29.3), just upgraded to ruby 2.4.4 from 2.3.3. When I switched from 2.4.4 to 2.3.3 and back to 2.4.4 I get this error and cannot get rid of it. I get it with bundler 1.15.x and 1.16.x and with standalone and not standalone and rm'ng the install, and clearing the Gemfile.lock. I previously got this same error on 2.5.x in development whi

[2018-04-23 06:05] indirect commented on #6340
@bf4 it sounds like you might have a different problem. I was able to resolve the issue on travis by running `gem install bundler`. If that doesn’t work for you, I think a new ticket with full information about your issue is the way to go.

[2018-04-23 06:07] perlun commented on #6489
@segiddins That's fine. 😃

[2018-04-23 06:16] bf4 commented on #6340
@indirect I could make a new issue. If I'm able to reproduce the issue, anything in particular I should share?

[2018-04-23 11:24] boutil opened #6501 "tmp_home_path insecure"
Hi,

If the home directory of the user is not writable the function tmp_home_path from lib/bundler.rb, creates an insecure temporary directory in tmp/:
- it is a world writable
- it has a with a predictable name.
Moreover, this temporary directory is not removed at the end.

See:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=796383
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=881749
for m

[2018-04-23 12:51] ojab commented on #6465
Ok, so I've found time to dig it (instead of procrasinating), see https://github.com/bundler/bundler/pull/6502. It fixes issue here w/ ruby-2.5.1.
PR is based on 1.16-stable branch, has no tests etc, I'll fix it if it's proper fix and can be merged in theory.

[2018-04-23 20:03] sampablokuper commented on #6501
Potentially useful information, for whoever attempts to fix this:

[2018-04-23 21:12] sampablokuper opened #6505 "Feature request: implement --user-install functionality"
`pip` has a very useful feature that bundler lacks: [`pip install --user`](https://pip.pypa.io/en/stable/user_guide/#user-installs).

This allows a `pip` user to install a package within their home directory simply by invoking:

[code]

`gem` has a similar feature: `gem install --user-install`.

In both cases, the user does not need to give thought to *where* within their home directory the packag

[2018-04-24 00:46] ALowVerus commented on #6311
I'm getting the same problem @hsbt , bundle install runs this same error.

[2018-04-24 12:27] sampablokuper commented on #6505
Hm, on second thoughts this might not be appropriate for bundler. By analogy to Python tools, bundler is to virtualenv what gem is to pip.

[2018-04-24 12:27] #6505 closed

[2018-04-24 15:19] agrim123 opened #6506 "Add `bundle remove [gems]`"
In reference to this rfc [command](https://github.com/shime/rfcs/blob/bundle-add-improvements/text/0002-bundle-add-and-remove.md#5-removing-gems).

Basic usage:
[code]

[2018-04-24 17:30] hmcfletch opened #6507 "Using incorrect source credentials from environment variable"
We use Sidekiq Pro and the credentials for their gem server look like `<username>:<password>`. We just upgraded to Ruby 2.5.1 and installed bundler 1.16.1.

When we run `bundle install` we get an error trying to fetch from the Sidekiq Pro source.

Gemfile:
[code]

Environment variable:
[code]

The error:
[code]

It looks like pulling the credentials from the environment variable splits the value o

[2018-04-24 17:55] hmcfletch commented on #6507
Unfortunately, I am now unable to reproduce the issue. Was trying to narrow down the reproduction steps. We are using `dotenv` as well, if that makes any difference.

Feel free to close if you feel the need.

[2018-04-24 19:20] jeremywadsack opened #6508 "Bundler reports missing native extensions which are there"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out why things are going wrong.

- **What did you do?**
  I ran `bin/rails console` and bundler reported a missing shared object file. e.g.
[code]

  The file exists and is world readable and executable:
[code]

  This happens for one of our Docker images for this app, but not on the other one. In this i

[2018-04-24 20:46] lamont-granquist commented on #5644
i don't know if this was fixed or not since we moved on from needing to do it.  trying to reinstate the use case to test it would be fairly brutal.  i think i'm just going to close it as hopefully having been fixed since i don't think leaving it open provides much utility.

[2018-04-24 20:46] #5644 closed

[2018-04-24 20:57] lamont-granquist opened #6509 "weird `bundle update <specific gem>` behavior with Gemfile.lock's with platform locks"
pretty decent replication case that isn't too horrible here:

[code]

win32-api 1.5.3 should satisfy >= 1.4.5 so something is going wrong.

[2018-04-24 22:30] colby-swandale commented on #6509
Can you please attach the output of `bundle env`, we can't really help you without having a Gemfile & Gemfile.lock available.

[2018-04-25 03:03] segiddins commented on #6508
I'm guessing the failure to load the shared object file is _because_ it was built with a different version of ruby than you are currently running. Does `bundle pristine oj` fix the issue, by any chance?

[2018-04-25 03:27] segiddins commented on #6509
Digging into this, I _think_ the issue is that `windows-pr` is actually a `ruby` platform gem, and so Bundler expects to be able to find `ruby` versions of its dependencies

[2018-04-25 03:29] segiddins commented on #6509
I think the issue is also that `windows-pr` isn't actually used by any of the other gems in the bundle, causing the platform headache. Simply removing it from the `Gemfile` seems to fix the issue for me :)

[2018-04-25 03:31] segiddins commented on #6507
Bundler only prints the username, since printing the password constitutes a security vulnerability if necessary. Closing since things seem to work now!

[2018-04-25 03:31] #6507 closed

[2018-04-25 16:35] lamont-granquist commented on #6509
lolz.  i will give that a go.  =)

[2018-04-25 22:28] jeremywadsack commented on #6508
@segiddins Thanks for the quick response. Yes, `bundle pristine oj` resolved this. (I think that's effectively what I did with `bundle exec gem uninstall ...; bundle install ...` but faster.)

The ruby version is a good guess, but I don't think that's the issue. I mounted the docker image layer just _before_ we install ruby and there is no ruby on the path.

On further testing, it turns out I was

[2018-04-25 22:28] #6508 closed

[2018-04-26 10:10] agrim123 opened #6511 "Add `--skip-install` flag to `bundle add`"
In reference to this rfc [command](https://github.com/shime/rfcs/blob/bundle-add-improvements/text/0002-bundle-add-and-remove.md#4-skipping-install-step)

Basic Usage:
[code]

Restriction:
Currently `bundle add` supports only one gem at a time, so adding this flag for one gem for now and later discuss on multiple gems additions as mentioned [here](https://github.com/shime/rfcs/blob/bundle-add-impr

[2018-04-26 21:41] jrynyt commented on #5668
@indirect could you go into a little more detail on precompiling and copying please? I'm also trying to copy the entire bundle directory from one system to another (same arch), including the compiled extensions, but not having any luck. Ultimate goal is to save many minutes on builds by not having to resolve dependencies, download, install, and recompile extensions. I can't find any documentation

[2018-04-26 23:54] JoshCheek opened #6512 "Raises incorrect error from `gem`, causing an error in ActiveRecord"
## The Bundler bug

When requiring a gem that doesn't exist:
* Bundler raises a `Gem::LoadError` ([here](https://github.com/bundler/bundler/blob/master/lib/bundler/rubygems_integration.rb#L401))
* Rubygems raises a `Gem::MissingSpecError` ([here](https://github.com/ruby/ruby/blob/707cbe6f990de42a927405bea75dd6c64a8944bf/lib/rubygems/dependency.rb#L310) from [here](https://github.com/ruby/ruby/blob

[2018-04-27 13:34] colby-swandale commented on #6512
I'm not sure how this is an issue with Bundler and not ActiveRecord?

[2018-04-27 13:38] colby-swandale commented on #6512
Thanks for working on this figuring out this issue. This is probably an issue more for ActiveRecord then Bundler, it will need to handle this particular scenario. I suggest raising an issue with the [Rails project](https://github.com/rails/rails) and passing along this information.

[2018-04-27 13:43] colby-swandale commented on #6509
ping @lamont-granquist were you able to resolve your issue?

[2018-04-27 13:44] colby-swandale commented on #6500
This seems answered.

[2018-04-27 13:44] #6500 closed

[2018-04-27 13:44] #6485 closed

[2018-04-27 13:45] colby-swandale commented on #6483
ping @indirect did @segiddins reply fix this issue?

[2018-04-27 13:46] colby-swandale commented on #6471
This seems answered.

[2018-04-27 13:46] #6471 closed

[2018-04-27 13:47] colby-swandale commented on #6501
Thanks for the report, we will take a look at this issue when we can.

[2018-04-28 15:02] tantanrocks opened #6514 "Issues With Bundler and Jekyll"

[2018-04-28 15:02] #6514 closed

[2018-04-30 08:14] cySheng commented on #6242
+ 1

[2018-04-30 14:10] thomas6791 commented on #3891
Hi, I've a similar problem.
When i try to install middleman.
I get this message:
ERROR:  While executing gem ... (Errno::EACCES)
    Permission denied @ rb_sysopen - /Users/username/.rbenv/versions/2.3.5/lib/ruby/gems/2.3.0/gems/middleman-4.2.1/.gemtest

[2018-04-30 14:27] ChrisBr opened #6515 "bundle package creates weird folder structure when using --path parameter"
Hello,

I'm not sure if this is intended behavior or if I use --path wrong. Anyway, when using --path parameter with bundle package I get a weird path structure for the downloaded gems:

[code]

will create the cache in ```vendor/bundle/vendor/cache/```. Fair enough, this might make sense although I would expect bundler is smart enough to create the cache in ``vendor/bundle``.

If I run:
[code]

T

[2018-04-30 20:49] grosser commented on #3003
ran into the same issue ... would be great to not have to reset GEM_HOME to make it work

[2018-05-01 01:04] PlanetDyna opened #6516 "Unable to find a spec satisfying tzinfo-data"
Hello folks,

I haven't used Ruby on Rails until now and want to clone an existing project from a web server. When I execute the command "bundler exec rails server", I get the following error message:

You know that mistake?

Best regards
PlanetDyna

[2018-05-01 05:01] segiddins commented on #6516
Can you please share the information requested in https://github.com/bundler/bundler/blob/master/doc/contributing/ISSUES.md#filing-issues-a-guide ? Thanks!

[2018-05-01 05:37] segiddins commented on #6454
Spent some time looking into this, the crux of the issue is that stuff that requires rails is being activated before the rails dependency, and I think the required version of rails being a pre-release is mucking everything else up

[2018-05-01 05:39] segiddins commented on #6454
aka with the following patch, we very quickly get to the correct error (cc @greysteil ):

[code]

=>

[code]

[2018-05-01 07:50] PlanetDyna commented on #6516
Thank you, of course:

ruby:
  bin:        C:/RailsInstaller/Ruby2.3.3/bin/ruby.exe
  version:    ruby 2.3.3p222 (2016-11-21 revision 56859) [i386-mingw32]

rails:
  bin:        C:/RailsInstaller/Ruby2.3.3/bin/rails.bat
  version:    Rails 5.1.6

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2018-05-01 14:08] alexkates commented on #6499
@jandudulski You closed this issue without a resolution. I'm running into the exact same problem. How did you resolve?

[2018-05-01 19:41] jandudulski commented on #6499
@alexkates it wasn't an issue with bundler but my misunderstanding how RubyGems works. You have to create `~/.gem/credentials` file with yaml content like:

[code]

And `push key` is not the value of a key but its name, i.e. `rubygems_api_key` in my example.

[2018-05-02 09:41] d-schloss-mvg commented on #6465
I am seeing this error too, while upgrading a Rails project to ruby-2.5.1.

The workaround for me was to downgrade to rubygems-2.7.5
`
$> rvm rubygems 2.7.5
`

[2018-05-02 18:09] rubymorillo commented on #6321
ping @hmistry @indirect let me know if y'all have any thoughts; if needed, we can table this discussion for now

[2018-05-02 18:12] rubymorillo commented on #5879
@indirect @colby-swandale I'm happy to take this one on. I need help clarifying this, though: where do we want this:

 to be called out? In the `bundle-install.ronn` man page?

[2018-05-03 01:43] segiddins commented on #5879
Maybe in https://bundler.io/v1.16/guides/creating_gem.html ?

[2018-05-03 01:54] segiddins commented on #6516
I'm unable to reproduce this -- `bundle install` succeeds on my machine (modulo mysql being unable to compile)

[2018-05-03 11:09] ojab commented on #6465
So after some debugging I've found that default rvm's ruby-2.5.0 installation has bundled `/home/ojab/.rvm/rubies/ruby-2.5.0/lib/ruby/site_ruby/2.5.0/bundler{,.rb}` and missing files (i. e. `bundler/ui`) are required from there instead of installed gem.
Since ruby converts `$LOAD_PATH` entries to realpaths, the issue is not reproducible in that case.
rvm's ruby-2.5.1 doesn't install that `bundler{

[2018-05-03 17:37] mitpaladin opened #6518 "web_1 | /usr/local/lib/ruby/gems/2.5.0/gems/bundler-1.16.1/lib/bundler/spec_set.rb:88:in `block in materialize': Could not find dotenv-2.2.2 in any of the sources (Bundler::GemNotFound)"
Hi, I'm building an application image in Docker and running into a problem where during the build stage it `Successfully installed dotenv-2.4.0` but then `docker-compose logs web` outputs ```web_1  | /usr/local/lib/ruby/gems/2.5.0/gems/bundler-1.16.1/lib/bundler/spec_set.rb:88:in `block in materialize': Could not find dotenv-2.2.2 in any of the sources (Bundler::GemNotFound)
[code]

[2018-05-03 17:41] mitpaladin commented on #6518
Hi, I'm building an application image in Docker and running into a problem where during the build stage it `Successfully installed dotenv-2.4.0` but then `docker-compose logs web` outputs `web_1 | /usr/local/lib/ruby/gems/2.5.0/gems/bundler-1.16.1/lib/bundler/spec_set.rb:88:in `block in materialize': Could not find dotenv-2.2.2 in any of the sources (Bundler::GemNotFound)`

Is there any reason why

[2018-05-04 00:09] #6321 closed

[2018-05-04 12:15] BhupenderAgarwal opened #6519 ""bundle install" not installing dependent gems to custom gem home set via GEM_HOME"
Hi,

I have been trying to install the dependent gems using bundle after cloning a particular repository and I want to install the gems in the same directory where I have cloned the repository but bundler is failing to install the dependent gems.

For sample testing, I have considered `tzinfo` gem. Here are the steps I followed:
[code]

After executing the last command I get the following error:
[

[2018-05-04 15:30] rubymorillo commented on #5879
@segiddins possibly. It's a how-to guide, though, and doesn't already make mention of CI. Here are the high-level sections:

- Getting Started
- Testing our gem
- Using other gems
- Testing a CLI
- Crafting a CLI
- Testing a generator
- Writing a generator
- Releasing the gem

At which point in that outline would it make most sense to call out CI builds? cc @indirect

[2018-05-04 16:04] segiddins commented on #5879
Probably within testing our gem?

[2018-05-04 17:13] thesalah1212 opened #6520 "Error when run ./beef"
When I run this "./beef"
I got this error

[code]

[2018-05-04 17:53] kidbrax opened #6521 "vendor/cache vs vendor/bundle"
If I want to start my apps without having to install any gems, only use what is already bundled, should i have both a vendor/bundle directory and a vendor/cache directory?

http://bundler.io/v1.16/guides/deploying.html says it will install into vendor/bundle

but http://bundler.io/v1.16/man/bundle-package.1.html says it will install into vendor/cache

so do I need both? and what is the correct ord

[2018-05-05 09:59] rlue commented on #183
I use the following bash function to keep my lockfiles in sync:

[code]

[2018-05-05 18:02] y0y0z opened #6522 "TarError Unrecognized archive format"
i am trying to download a cookbook and i am getting an error `TarError Unrecognized archive format`.
when i follow the download location and fetching the file using `wget`, the file seems ok.

here is a snippet of the details:

[code]

while trying to debug the issue, i tried reproduce on mac os with the same ruby, bundler and gems versions (i am using `Gemfile.lock`). **the issue does not persist

[2018-05-05 18:28] y0y0z commented on #6522
oops, please delete. i am moving it to berkshelf.

[2018-05-06 00:05] #6522 closed

[2018-05-06 14:30] tahonick opened #6523 "Bundler error when adding Jekyll"
https://github.com/bundler/bundler/search?q=Permission+denied+%40+rb_sysopen+-+%2FUsers%2Fnicholascarlson%2FGemfile&type=Issues

[2018-05-08 18:44] saveriomiroddi commented on #5446
@kerrizor could you provide a test case? I've inspected the code, and using [your plugin](https://github.com/kerrizor/bundler-dependency_graph), I can't reproduce the problem.

Specifically, the workflow I've tried is:

[code]

Preemptively, I've also though briefly thought about the case where workflow you specify ("did I not save the file") actually means saving without committing (same sequence

[2018-05-08 21:27] Empty2k12 opened #6525 "`bundle install` resolving indefinitely"
Hello, this is my first Ruby project. I tried adding the `responders` gem.

This is my `Gemfile`:
[code]

`bundle install` is getting stuck at the following task:
[code]

Any help is greatly appreciated.

[2018-05-08 21:58] bmulholland commented on #183
@rlue Thanks for that. I created a slight modification to support using a custom gemfile in some projects on the same machine but not others. This just means using the value from `bundle config`, if present, instead of an environment variable. Use `bundle config --local gemfile Gemfile.local` to set it for this project only.

[code]

[2018-05-09 13:55] aalbagarcia commented on #6465
Hi,

I stepped into this issue today when upgrading a rails 5.2 application to ruby 2.5.1.

In my case, I'm using chruby and ruby-install instead of RVM. We first upgraded our docker containers for development and everything was Ok.

Then we tried to upgrade our test server (no docker, just a simple centos virtual machine) and the jenkins builds started to fail with the error `cannot load such fil

[2018-05-09 15:35] tobypinder opened #6527 "[Docs] `bundle viz` documented with wrong flag on bundler.io"
Apologies if this is the wrong place for bundler.io documentation issues.

http://bundler.io/v1.16/bundle_viz.html shows `-r` as a shorthand for `--requirements` but in the application this is `--retry`. As far as I can tell (not a project member) this website is driven by https://github.com/bundler/bundler/blob/v1.16.1/man/bundle-viz.ronn (via the bundler-site project), but as seen in that file t

[2018-05-09 21:02] volkanunsal commented on #5886
I'm seeing the same intermittent error in 2.3.3.

[2018-05-10 02:29] segiddins commented on #6523
Please share the full contents of the error message

[2018-05-10 02:31] segiddins commented on #6518
Please share the output of `bundle env`, as well as steps to reproduce the issue you’re experiencing

[2018-05-10 02:58] segiddins commented on #6521
`bundle install —path vendor/bundle && bundle package` should be fully portable

[2018-05-10 08:59] tobypinder commented on #6527
Thanks, PR raised and closing this.

[2018-05-10 08:59] #6527 closed

[2018-05-10 15:09] andretf opened #6528 "Not recognizing version range"
I'm trying to use a version range (`ruby '~> 2.4.0'`) that should be working as stated here:
https://github.com/bundler/bundler-features/issues/119

But I'm getting this error:

I'm using bundler 1.16 btw.

[2018-05-10 15:45] segiddins commented on #6528
2.5.2 does not match ~> 2.4.0, which means “2.4.x”

[2018-05-10 16:05] #6528 closed

[2018-05-10 16:14] wlipa commented on #6189
If you want something that's a little more flexible with the version specifier, you can do it like this:

    fail "rubygems too old" unless Gem.rubygems_version >= Gem::Version.new('2.7.6')

It'd be nice to have a more elegant way to achieve this.  I agree with the original suggestion.

[2018-05-10 22:58] colby-swandale commented on #6525
I can install this Gemfile without any issues. It seems that Bundler is trying to download the `responders` gem but it just hasn't finished. Can you make sure you have a stable internet connection.

[2018-05-10 23:19] colby-swandale commented on #6520
This error is typical when you have a version conflict. Your Gemfile specifies `rack -> 1.6.5` but Sinatra `2.0.1` is depending on `rack -> 2.0`. You will either need to update your application to use a version of Rack `2.x`  or downgrade Sinatra to a version that depends on rack `1.6.x`

[2018-05-10 23:19] #6520 closed

[2018-05-10 23:26] colby-swandale commented on #6516
ping @PlanetDyna

[2018-05-10 23:26] colby-swandale commented on #6515
This looks like the issue has been answered.

[2018-05-10 23:26] #6515 closed

[2018-05-10 23:28] #6512 closed

[2018-05-11 01:10] hsbt commented on #6516
I can reproduce this with mingw platform.

[2018-05-11 10:17] rlue commented on #183
@bmulholland I tried this, but faced a strange bug:

When `Gemfile.local` is specified in the `BUNDLE_GEMFILE` environment variable, then

    BUNDLE_GEMFILE=Gemfile bundle install

successfully updates `Gemfile.lock`.

When it's set in `.bundle/config`, however, that command does not update `Gemfile.lock`, so I'll be sticking to environment variables for now.

(In fact, this probably deserves an

[2018-05-11 10:58] theflow opened #6529 "only_update_to_newer_versions regression in v1.16"
Hi,

I've noticed a few edge cases where the `only_update_to_newer_versions` setting doesn't get respected anymore, where it used to work in Bundler 1.15.

Here is an example to reproduce: https://gist.github.com/theflow/edd84a5318738b59f65cf42eaaede9f3

Bundler v1.16 will downgrade carrierwave-mongoid to an really old version which is missing the version requirement on mongoid:

[code]

I'm prett

[2018-05-11 16:15] bmulholland commented on #183
@rlue That's odd - it's working for me. Bundler 1.16.1. Make sure your BUNDLE_GEMFILE environment variable is NOT set, since that will necessarily override the setting in `bundle config`.

[2018-05-11 17:30] ranjith-jayaram opened #6530 "err"
https://github.com/bundler/bundler/search?q=bad+URI%28is+not+URI%3F%29++http+%2F%2Fsk+sk%40ceg%40realramkumar.me+9876%2F&type=Issues

[2018-05-12 03:47] #6530 closed

[2018-05-12 12:17] peret commented on #5366
I would also love to see this feature added and took the liberty to prepare a PR!

[2018-05-13 12:30] printercu commented on #6250
Facing the same issue. `bundle update` and `bundle install` shows this error/warning with red color:

[code]

It's strange to me that this happens in one project bot not in other. Can this be invoked by some gem? If so how can I find it?

Thank you!

[2018-05-13 14:24] headius opened #6532 "Vendoring fileutils breaks alternate implementations"
JRuby's fileutils.rb has code specific to JRuby, due to the fact that many of the Java APIs we call behave slightly differently than the POSIX calls that CRuby makes. By vendoring fileutils in 699d5184c1d500b60a25819977f1b286a84b3337 you have essentially caused JRuby's modifications to be ignored.

The case that led us to this issue was for FileUtils.mv, which in MRI expects an EXDEV to be raised

[2018-05-13 14:27] headius commented on #6532
JRuby fix for the *one* case is in jruby/jruby#5168, which properly throws EXDEV (and removes our modification). However there are other modifications we can't afford to lose.

[2018-05-13 14:37] segiddins commented on #6532
Won’t jruby users have the same issues if they run `gem install fileutils` ?

[2018-05-13 14:55] headius commented on #6532
@segiddins We can (and likely will have to) release a -java version of the fileutils gem, but then it will be a fixed problem. That won't solve the Bundler issue.

[2018-05-13 14:58] segiddins commented on #6532
Then someone will need to refactor things to not use fileutils, which is a real shame.

[2018-05-13 14:58] headius commented on #6532
It occurs to me that the fileutils you're vendoring shouldn't eliminate the fileutils in stdlib, is that correct? That would reduce the impact of this bug substantially, but any methods copied over need to be audited for JRuby-specific versions.

It appears at a glance that you have vendored the entire file, but most likely only need a subset of those methods.

[2018-05-13 14:59] headius commented on #6532
Could you chat about this somewhere?

[2018-05-13 15:44] headius commented on #6532
@segiddins https://github.com/ruby/fileutils/pull/18

[2018-05-13 15:52] headius commented on #6532
So given the patches I've provided to @hsbt, I believe we could incorporate the same changes into your copy of fileutils and close this issue. However I'd recommend one of the following additional steps:

* Only vendor the methods you are actually using from fileutils, and ideally name them something that's not so ambiguous with the real fileutils.
* Always update the vendored copy from the gem re

[2018-05-14 06:50] printercu commented on #6250
I've found the the root of problem: it's `.bundle/config` containing `BUNDLE_CLEAN: "true"`. I don't remember why I've added, maybe as a workaround for other warning. Removing this file solves an issue.

[2018-05-14 17:01] nelhage-stripe opened #6533 "`SystemStackError` after upgrade to bundler 1.16"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/lib/rbenv/versions/2.4/bin/bundle install`

- **What did you expect to happen?**

`bundle install` would complete successfully.

- **What ha

[2018-05-14 19:00] melvyn-sopacua commented on #6290
I had any combination of these errors, except the git one and "cured" it with the following sequence:

[code]
Something Ubuntu did (best guess) kept linking / referencing bundler 1.15.3 in my case resulting in a plethora of different failures. Hope this helps other, even though it's killing a fly with an axe.

[2018-05-14 19:50] headius commented on #6532
All our tweaks have been incorporated into fileutils, and they will be released soon in the 1.1.0 version of the gem.

[2018-05-14 21:06] jasonkarns commented on #6227
I'm experiencing the same issue on ruby 2.5.1 via homebrew.

[code]

[2018-05-14 21:08] jasonkarns commented on #6227
Workaround was to install bundler explicitly instead of using the RG-default version.

[2018-05-16 06:00] davich commented on #5207
I had this problem for a different reason. On osx.
it couldn't find my libraries because `which` wasn't working, because the required node version wasn't installed. I installed the correct version with nvm, then everything started working.
Hopefully this helps someone.

[2018-05-17 06:35] titopandub opened #6535 "Errno::EPERM: Operation not permitted @ chown_internal in v1.16.2"
Errno::EPERM: Operation not permitted @ chown_internal in v1.16.2

## Expected Behavior

`bundle install` should run normally without error

## Current Behavior

Here are the error message:
[code]

## Possible Solution

I don't know, right now we only revert back to 1.16.1

## Steps to Reproduce

1. Install chruby 0.3.9
2. Install ruby 2.4.1
3. Install bundler 1.16.2
4. `bundle install` for Rails

[2018-05-17 06:46] hsbt commented on #6535
I couldn't reproduce it.

[code]

Can you show the result of `bundle env`?

[2018-05-17 08:06] titopandub commented on #6535
## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

[2018-05-17 09:56] LarsFronius opened #6537 ""cannot load such file" @bundler 1.16.2 with old ruby version."
Not sure if the issue is isolated to old ruby versions, but one of our customers does:
[code]

This reproducibly worked in bundler 1.16.1.

[2018-05-17 10:00] chrisbarber86 commented on #6537
We see the same issue with Ruby 2.3.0:

[code]

[2018-05-17 10:02] thbar commented on #6537
I've seen something similar on a client using CircleCI parallel builds:

[code]

This is with Docker and Ruby 2.3.7.

Reverting to Bundler 1.16.1 fixes the issue.

Partial CircleCI setup for the record:

[code]

[2018-05-17 10:39] colby-swandale commented on #6537
A small repo to reproduce this issue for us would be a huge help.

[2018-05-17 10:42] hsbt commented on #6537
@LarsFronius @thbar Can you reproduce it without parallel execution? I couldn't find related changes by quick code review in `v1.16.1...v1.16.2`.

[2018-05-17 11:00] thbar commented on #6537
@hsbt I also got the error after using `parallelism: 1`.

@colby-swandale I will try to create a small reproduction on CircleCI + GitHub once my consulting day is done (unless someone already provided something in the mean time).

[2018-05-17 11:00] colby-swandale commented on #6537
Can you also attach the output of `bundle env`

[2018-05-17 11:02] thbar commented on #6537
@colby-swandale will do!

[2018-05-17 11:33] hsbt commented on #6533
@nelhage-stripe Can you show the `Gemfile`?

[2018-05-17 16:10] thbar commented on #6537
Here is a reproduction:

* https://github.com/thbar/repro-bundler-issue-6537/tree/master
* CI run available at https://travis-ci.org/thbar/repro-bundler-issue-6537

To trigger the error, I had to shell out to `bundler --version` [from a spec](https://github.com/thbar/repro-bundler-issue-6537/blob/master/spec/sample_spec.rb), but at this point I'm not sure yet this is strictly required (this was th

[2018-05-17 16:12] thbar commented on #6537
Changes are visible at https://github.com/bundler/bundler/compare/v1.16.1...v1.16.2 (to make it easier for someone to have a look).

[2018-05-17 16:14] thbar commented on #6537
One last note for now: I only get failures on CI (docker / ubuntu), but could not get to trigger a failure locally (Mac, be with 2.3.7 or 2.5.1).

[2018-05-17 16:15] thbar commented on #6537
In the case of @LarsFronius, I believe it may also be a matter of shelling out to `bundle exec`, after looking quickly here:

https://github.com/grosser/parallel_tests/blob/1a748aa9c50034c9dac0d9f104e54299eb00ef23/lib/parallel_tests/rspec/runner.rb#L22

[2018-05-17 16:57] bkuhl opened #6538 "1.16.2 - --path not obeyed"
In a Jenkins build, I'm trying to tell bundler to install the dependencies within the job's writable directory structure. For the life of me I can't get it to obey the `--path` parameter, so I must be misunderstanding unless it's bugged.

    dir(properties.projectDir + '/slate/.bundle') {
        sh 'pwd'
        sh 'bundle version'
        sh 'bundle install --no-cache --path=./'
    }

I've tri

[2018-05-17 17:26] sigmazero13 commented on #6535
I also experienced this issue
`$ bundle install
Fetching gem metadata from http://rubygems.org/............
Fetching rake 12.0.0
Installing rake 12.0.0
Errno::EPERM: Operation not permitted @ chown_internal - /tmp/bundler20180517-24720-1nemz80rake-12.0.0/bin
An error occurred while installing rake (12.0.0), and Bundler cannot continue.
Make sure that `gem install rake -v '12.0.0' --source 'http://

[2018-05-17 17:28] scott-lewis-nsidc commented on #6535
I also experienced this issue
`$ bundle install
Fetching gem metadata from http://rubygems.org/............
Fetching rake 12.0.0
Installing rake 12.0.0
Errno::EPERM: Operation not permitted @ chown_internal - /tmp/bundler20180517-24720-1nemz80rake-12.0.0/bin
An error occurred while installing rake (12.0.0), and Bundler cannot continue.
Make sure that `gem install rake -v '12.0.0' --source 'http://

[2018-05-17 17:47] nelhage-stripe commented on #6533
Is there a convenient way I can share them privately? I'd rather not post them on a public issue since they contain some number of internal references, but I'd be happy to do so directly to the team.

[2018-05-18 11:35] colby-swandale commented on #6538
Bundler is trying to download the Gem Index from rubygems.org (it hasn't started installing gems yet) but the doesn't seem to have permission to write to where it's trying to. You need to fix the file permissions at `home/ubuntu/.bundle/cache/compact_index` and make sure the user running Bundler has the appropriate read/write permissions.

[2018-05-18 16:35] theflow commented on #6529
@segiddins if you have a minute, could you explain the reason behind 47256d20cb05ebc724ee67173094682153b6b4aa?

For example on a `bundle update` with your change it won't create additional requirements for any gem, since none of them are locked. Which means `only_update_to_newer_versions` doesn't enforce anything.

[2018-05-18 23:40] y-yagi opened #6540 "When installing Ruby's default gems from rubygems, both gems load."
Hi.

I installed Ruby's Default gems separately from rubygems (version is different from default).
After that, when run a script using `bundler/inline`, a warning is generated that the constants of the installed gem are redefined.

### Steps to reproduce

[code]

[code]

FYI: `rack-test` requires `fileutils`.
https://github.com/rack-test/rack-test/blob/03eb717b3e95faf1d64fc26fb9559868884333ce/lib/

[2018-05-19 01:18] k12u commented on #6535
I could produced the similar issue by the procedure shown below:

[code]

now while
[code]
succeeds,

[code]
fails as shown below:

[code]

[2018-05-19 01:27] k12u commented on #6535
for some reason, older version allows non-root user to install root-owned gems.
(I don't know if it's excepted behavior, but it looks odd to me)

[code]

[2018-05-19 06:18] colby-swandale commented on #6535
@k12u Thank you for that steps :bow:, I've pinpointed this issue to #6258

[2018-05-19 07:58] k12u commented on #6535
@colby-swandale 👍  confirmed resolution by `gem update --system`

[2018-05-19 08:07] colby-swandale commented on #6535
I have a fix for this issue incoming for people who cannot upgrade RubyGems.

[2018-05-20 03:07] #6509 closed

[2018-05-20 03:07] #6523 closed

[2018-05-20 03:07] #6525 closed

[2018-05-20 03:10] colby-swandale commented on #6533
You're welcome to join to our slack channel slack.bundler.io and share the Gemfile/Gemfile.lock with a core team member.

[2018-05-20 03:11] colby-swandale commented on #6521
ping @kidbrax, did you resolve your problem?

[2018-05-20 03:11] #6518 closed

[2018-05-20 03:12] colby-swandale commented on #6301
ping @hamea22 were you able to resolve this issue?

[2018-05-20 03:14] colby-swandale commented on #6312
ping @folgerc were you able to resolve this issue?

[2018-05-20 03:14] Reetok3 opened #6541 "Error Report"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/usr/local/bin/bundle init`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened instead?**

  Instead, what happ

[2018-05-20 03:38] tiagopog commented on #6516
Recently I experienced a similar problem and what did the trick was removing the `Gemfile.lock` and running the `bundle install` again.

[2018-05-20 11:38] #6511 closed

[2018-05-21 07:56] agrim123 opened #6543 "Add support for mutiple gems to `bundle add`"
Sample Usage
[code]
For now, only support names and add support for the version in the future version.

[2018-05-21 13:32] AustinWinstanley commented on #6537
Same error. Ruby versions 2.3.3 and 2.3.6.

[2018-05-21 15:33] bobziuchkovski commented on #6537
Same error for us with ruby 2.4.4p296.  Reverting to 1.16.1 resolved for us as well.

```/usr/local/bundle/bin/bundle:104:in `load': cannot load such file -- /usr/local/lib/ruby/gems/2.4.0/gems/bundler-1.16.2/exe/bundle (LoadError)```

[2018-05-22 01:52] jugutier opened #6545 "Bundler.with_clean_env crashes by accessing private method clone on hash"
[code]

This issue happens using ruby 2.4.0 through `rvm` as well

To reproduce follow setup instructions in this project.

https://github.com/CocoaPods/Strata

Issue happens over here:
https://github.com/CocoaPods/Strata/blob/master/Rakefile#L373

Other things tried:
1. To rule out that `rake-12.3.1` wasn't somehow locking the ENV hash I set up a simple Rakefile with the following:
[code]

Which

[2018-05-22 11:23] brodock opened #6546 "Alternative to Fallback to a temp dir when the home directory is not usable"
The changes in https://github.com/bundler/bundler/pull/4951 introduced many issues for people bundling ruby into omnibus packages,

There are valid use-cases to not have the home directory writable. Alternatively to falling back to a tempdir, I suggest we try to find the `.bundle` and `. gem` folders first and assert they are writable. If that fails, than we fallback to tempdir.

So the heuristic

[2018-05-22 12:16] svoop commented on #6546
This approach should fix deployment issues to application servers with tight security as well.

[2018-05-22 13:31] colby-swandale commented on #6537
Thanks for the input everyone, I've been looking into this issue but have not had much success in reproducing this issue on my machine. Any more information about your environment would be a huge help. Is this only happening in CI for everyone? What's the output of `bundle env`. Thanks :bowing_man:

[2018-05-22 14:29] bobziuchkovski commented on #6537
@colby-swandale Thanks for looking into this.

I think this might have to do with bundle path overrides.  I can reliably reproduce using @thbar 's example if I `bundle install --path=vendor/bundle`, whereas I cannot reproduce if I don't specify that path.

You can verify locally with docker if you'd like.  Adding a `Dockerfile` to a clone of @thbar 's [repository](https://github.com/thbar/repro-bu

[2018-05-22 18:53] AustinWinstanley commented on #6537
@colby-swandale I've only reproduced on GitLab CI so far.

[code]

Replacing

`gem install bundler --no-ri --no-rdoc`

with

`gem install bundler --no-ri --no-rdoc -v '1.16.1'`

works just fine.

[2018-05-23 09:03] jafamo commented on #6296
can you explain howto resolved ?

[2018-05-23 09:57] bhagat19 commented on #6227
I am having a similar issue with

$ ruby -v
ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]
$ gem -v
2.7.6

@jasonkarns , the updated bundler's version is 1.16.1

How can i install the bundler explicitly?

[2018-05-23 10:06] bhagat19 commented on #6227
I had a similar issue with the following configuration

[code]

However, updating the bundler did help.

`gems install bundler`

updated the bundler from 1.16.1 to 1.16.2
Seems there is an issue with **1.16.1**

[2018-05-23 12:15] jfharden commented on #4506
Also +1 for this, it would allow much finer grained access controls, current private repo options are a bit limited and being able to provide access via IAM permissions would be wonderful 👍

[2018-05-23 12:47] Baroriam opened #6551 "Error when "Using http_parser.rb 0.6.1 from https://github.com/tmm1/http_parser.rb (at 54b17ba@54b17ba)""
**Hi !**
I'm really sorry, but I'm going to be quick. Because I do not have any time available right now.
The programm is Mastodon : https://github.com/tootsuite/mastodon
I'll look further later if nobody has any idea to solve this problem. ^^
**Thanks for reading, and have a nice day !**

# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things

[2018-05-23 12:48] colby-swandale commented on #6537
Thanks everyone for your help. I'm able to replicate this issue now :bowing_man:

[2018-05-23 12:53] colby-swandale commented on #6537
A temporary workaround for this issue is to update RubyGems to the latest version `2.7.7`

[2018-05-24 08:36] thisismydesign opened #6552 "Provide a way to update Gemfile version limits"
This is a feature request.

[2018-05-24 08:37] thisismydesign commented on #6552
Sorry, premature enter..

[2018-05-24 08:37] #6552 closed

[2018-05-24 08:52] thisismydesign opened #6553 "Provide a way to update dependency version constraints in the Gemfile"
I see people torn between [pessimistic and optimistic](https://guides.rubygems.org/patterns/#declaring-dependencies) declaration of dependencies with semantic versioned gems (i.e. `~> 1.1` vs `>= 1.1`) because the former does not allow tools to automatically update dependencies to their newest versions (e.g. a tool that uses bundler to automatically open PRs with dependency updates).

It would be

[2018-05-24 09:59] Richard-Degenne commented on #6048
We've encountered this bug as well; the bug comes indeed from Nexus.

The Nexus API only returns the first requirement of each dependency on a given gem, which causes Bundle to complain when it fetches the actual gem and finds different requirements.

We're reporting it to the Nexus team.

[2018-05-24 19:55] delner commented on #6551
Also having this `NoMethodError: undefined method `remotes' for #<Bundler::Source::Metadata:0x0055bafa12c630>`, with Bundler `1.16.2` when doing `/usr/local/bundle/bin/bundle install` with Ruby version `2.0.0p648 (2015-12-16 revision 53162) [x86_64-linux]`.

My Gemfile only contains:

[code]

[2018-05-24 20:26] nathantech2005 commented on #5528
Can you re-open this. This is a pretty big deal when it comes to running Jruby.
![screen shot 2018-05-24 at 4 26 05 pm](https://user-images.githubusercontent.com/4573756/40511928-3bf47ab0-5f6f-11e8-90ed-d3308d468413.png)

[2018-05-25 04:05] segiddins commented on #6540
Out of curiosity, does this happen if you use a normal gemfile instead of an inline one?

[2018-05-25 04:06] segiddins commented on #6529
I have no clue, I wrote that commit 10 months ago :)

If I had to guess, it would be so you could manually downgrade to a lower version by changing the requirement in your Gemfile?

[2018-05-25 04:39] segiddins commented on #6533
Hmm, I could've sworn @jules2689 and I spent a while trying to work around similar infinite recursion issues

[2018-05-25 04:39] #6301 closed

[2018-05-25 04:39] segiddins commented on #6301
Closing due to lack of response

[2018-05-25 04:41] segiddins commented on #6541
It looks like your `Gemfile` is not readable, but Bundler should be printing a better error

[2018-05-25 04:48] segiddins commented on #6521
`--deployment` specifically disallows changes to your lockfile

`--local` disallows hitting the network to find gems

[2018-05-25 04:49] segiddins commented on #6553
cc @agrim123

[2018-05-25 04:54] segiddins commented on #6551
Think something like the following fix is needed (with a test):

[code]

[2018-05-25 05:19] segiddins commented on #6545
Looks like it's fixed with the following:

[code]

[2018-05-25 05:42] y-yagi commented on #6540
Hmm. It seems that this does not happen with normal gemfile.

[code]

[code]

[2018-05-25 05:56] segiddins commented on #6540
I'm going to guess this is because `inline` goes through the installation code, which requires fileutils, so I'm not sure this is even fixable :/

[2018-05-25 06:34] agrim123 commented on #6553
We need to add a few flags to the `bundle install` command, I suppose? So that users have flexibility over version of gems that can affect their code.
Can we also add these flags to `bundle add` maybe? Currently, we are using the pessimistic way when adding gems.
Should we also look to implement something to update the declaration? say from optimistic to pessimistic?

[2018-05-25 07:30] agrim123 commented on #6553
Basic specs can be
[code]

[2018-05-25 14:10] jules2689 commented on #6533
yes, I remember this problem all too well.
Out of curiosity, is the issue reproducible via an updated RubyGems?

So it would seem that https://github.com/rubygems/rubygems/blob/d396b461fbaf10ee8235b234ae970fb989a687d6/lib/rubygems/stub_specification.rb#L151 is returning a `Bundler::Stubspec`

This is the PR that introduced things, with a full overview and context: https://github.com/bundler/bundle

[2018-05-25 14:57] segiddins commented on #6553
In my mind, it makes more sense to make another command, something like `bundle edit-gemfile`, but I’m not sure

[2018-05-25 15:26] delner commented on #6551
I've worked around this issue (as it manifested for me) by doing `gem install bundler` as the user I intend to bundle gems with, instead of doing `gem install bundler` as root.

Sample Dockerfile:

[code]

[2018-05-25 15:27] agrim123 commented on #6553
Do you mean a command that would update gems version inidividually?

[2018-05-25 18:51] sangfroid70 commented on #6551
Is seems that http_parser.rb try to clone git://github.com/nodejs/http-parser.git
this protocol (git://) was bloqued on my server and the compilation of the bundle failed.

[2018-05-25 20:15] Baroriam commented on #6551
Solved !
https://github.com/tootsuite/mastodon/issues/7607#issuecomment-392168045
Thank you @sangfroid70 ! ^^

[2018-05-25 20:18] #6551 closed

[2018-05-25 20:43] sangfroid70 commented on #6551
Ok, open the port 9418 on your firewall and that'all ;) Thank's @Baroriam for the port number ;)

[2018-05-25 22:44] glenjamin opened #6555 "when sudo is required and rubygems is < 2.7.5, tmpdir/bin is created with wrong permissions"
I suspect this will be marked as wontfix due to the affected version, but I figured I'd report it anyway since i've established the exact issue and it does affect the default OS X ruby.

[code]

OS X High Sierra 10.13.4, default ruby install, bundler installed with `sudo gem install bundler`.

-----------

When running `bundle install` on a project, I correctly get prompted for sudo credentials. T

[2018-05-26 01:51] #6541 closed

[2018-05-27 11:43] agrim123 commented on #6553
I am adding these two options to `bundle add` for now. Will open a PR regarding this by today evening. Then we can discuss more.

[2018-05-27 14:59] agrim123 commented on #6553
I did some experimenting [here](https://github.com/agrim123/bundler/commit/323fd2a567209d2203c102095c17a39c9d636acf)

[2018-05-28 12:05] thisismydesign commented on #6553
@agrim123 @segiddins Thanks for picking this up so quickly.

Would clarify my use case with an example.

[code]

Having additional options on `bundler add` is nice and thanks for that but I think my use case is somewhat different. This is what happens with `bundle add` right now:

[code]

It could also work though if `bundle add` got a force flag allowing to overwrite existing dependencies therefo

[2018-05-28 21:57] segiddins commented on #6555
Can you see if @colby-swandale's PR in https://github.com/bundler/bundler/pull/6542 will fix this?

[2018-05-29 06:40] glenjamin commented on #6555
Yep, that’ll do it!

[2018-05-29 11:21] agrim123 commented on #6553
I am not sure if adding a `-f` option to `bundle add` would be good 🤔.
Though, we can surely make a different command for this. Need to think on that. @segiddins

[2018-05-30 02:57] jugutier commented on #6545
Just tested on Strata, now I don't get the error anymore. Good catch I didn't think the rakefile would define a `clone` method.

Thanks @segiddins !

[2018-05-30 02:57] #6545 closed

[2018-05-30 09:14] colby-swandale commented on #6555
Marking ss duplicate of #6535

[2018-05-30 09:14] #6555 closed

[2018-05-30 10:16] PaganGuy commented on #4462
Well I have read everything I can find on BeEF, watched tuts, and I STILL get various versions of this error and installs give errors. ANY help is GREATLY appreciated, I am frustrated as hell at this point but stubborn. Here is my error when I try to run ./beef:

Traceback (most recent call last):
	5: from ./beef:32:in `<main>'
	4: from /usr/lib/ruby/2.5.0/rubygems/core_ext/kernel_require.rb:59:in

[2018-05-30 13:37] duckinator commented on #6516
Reproduced using Alpine Linux in Docker, when I changed this:

[code]

to:

[code]

Running `bundle update tzinfo` was enough to make it work  (What @tiagopog suggested works for me, too.)

[2018-05-31 01:28] #6521 closed

[2018-05-31 13:50] #6538 closed

[2018-05-31 15:38] Speakus commented on #6250
I do not have the flag there but I get the same error

[2018-05-31 21:32] hesokadz opened #6557 "bundeler"
good

[2018-05-31 21:56] #6557 closed

[2018-06-01 06:18] zero-master opened #6559 "Could not find gem 'jruby-openssl (~> 0.9.7)', which is required by gem"
`bundle update` output

[code]

` bundle env` output:

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

## Gemspecs

### killbill-two_checkout.gemspec

[code]

[2018-06-01 11:21] oree opened #6560 "Conservative update changes shared dependencies when updating just one group"
I am trying to update gems in one group conservatively, e.g. updating test/dev gems without affecting production gems.
When running `bundle update --conservative --group test`, one would expect Bundler to _not_ update any dependencies shared with gems outside of group _test_.
However, --conservative does not seem to have an effect, and all dependencies of group _test_ (even shared ones) also appea

[2018-06-04 01:27] segiddins commented on #6250
@Speakus what's the output of `bundle env`?

[2018-06-04 01:29] segiddins commented on #6559
Out of curiosity, does `bundle update` succeed using a non-jruby platform?

[2018-06-04 01:30] segiddins commented on #6560
cc @greysteil

[2018-06-04 17:55] kevinburke opened #6561 "CHANGELOG does not have any docs for version 1.16.2"
There is a Git tag for 1.16.2 but the most recent version described in the CHANGELOG on the `master` (default) branch is 1.16.1.

[2018-06-04 20:22] scurry opened #6562 "version 1.16.x order of options issue"
## Issue
Order of options seems to matter in the parsing of the cli. The failed command is what my CI server runs. The CI server controls the order of the command line options. We can't change the order ourselves. I would assume the order of options would not matter, but as you can see it appears they do. Would you agree this is a bug?

## Failed (unexpected) command
`bundle --verbose package --al

[2018-06-05 03:03] segiddins commented on #6561
Colby, did you merge the tag back into master after the release?

[2018-06-05 03:07] indirect commented on #6561
It was me that actually ran the release and forgot to merge back to master, sorry. 😬

[2018-06-05 03:09] segiddins commented on #6562
Is this only an issue on 1.16?

[2018-06-05 10:06] 513ry opened #6563 "NoMethodError: undefined method `remotes' for #<Bundler::Source::Gemspec:0x47101377289620 source at `.`> Did you mean? remote!"
I am experiencing this problem when trying to run `bundler update` or `bundler install`.
My Bundler version is 1.16.2.

## Backtrace
[code]

## Environment

[code]

## Bundler settings

[code]

## Gemspec:

[code]

## Gemfile

[code]

[2018-06-05 11:40] cloudappdevelopment commented on #6562
I have not tested this with other versions. I can go back to older versions and try.  How far back would you like?

[2018-06-05 11:42] scurry commented on #6562
I have not tried older versions but I certainly can.  How far back would you like me to try and report back?

[2018-06-05 14:18] MarkChanner commented on #6242
+1
Here is the output from running _bundle env_:

## Environment

[code]

## Bundler Build Metadata

[code]

## Bundler settings

[code]

[2018-06-05 15:10] januszm commented on #6242
This seems to be resolved with the recent Elastic Beanstalk platform upgrade (2.8.0). I'm not sure how exactly though.

[2018-06-05 18:20] indirect commented on #6561
1.16.2 is merged back to master now, sorry for the trouble!

[2018-06-05 18:20] #6561 closed

[2018-06-05 18:54] ilikebits opened #6564 "[Feature request] Specifying groups for `bundle list`"
For example, I would like to be able to `bundle list --without test` or `bundle list --without development` (or perhaps `bundle list --only default`?) so that I can list only my production dependencies. My use case is that I'd like to do dependency analysis (in this case, checking for license compliance) on only the gems that are used in production.

[2018-06-06 01:02] colby-swandale commented on #6561
Apologies, i should have done this myself :bowing_man:

[2018-06-06 01:19] colby-swandale commented on #6564
I like this idea but i'm a bit weary of adding the same options from `bundle install`

[2018-06-06 06:09] agrim123 commented on #6553
@segiddins Are we implementing a new command, we would need to rewrite the gemfile (maybe a simple gsub can do 🤔).  Should we start working on it? suggestion for command name?

[2018-06-06 06:27] agrim123 commented on #6564
I would like to take up this task if we are planning on implementing these options 😄.

[2018-06-06 10:59] colby-swandale commented on #6563
I'm not able to reproduce this issue. Can you please share the Bundler error template which will give me more information to better help you.

[2018-06-06 11:53] parreirat commented on #6535
@colby-swandale Just checking in confirming updating rubygems solved the issue. (setting up RoR on AWS Ubuntu box)
Thanks!

[2018-06-06 12:53] brabo-hi opened #6566 "Error install rails on NFS"
I tried to install rails on mac on NFS, and got that error

**rails new blog**

`## Backtrace

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

--- TEMPLATE END ----------------------------------------------------------------

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link

[2018-06-06 15:33] SolarAquarion opened #6567 "Failure?"
bundle install
/usr/lib/ruby/site_ruby/2.5.0/rubygems/ext/builder.rb:164: warning: conflicting chdir during another chdir block
/usr/lib/ruby/site_ruby/2.5.0/rubygems/ext/builder.rb:172: warning: conflicting chdir during another chdir block

## Backtrace

[code]

## Environment

[code]

## Bundler Build Metadata

[code]

[2018-06-06 20:08] nilsding commented on #6491
@segiddins yes, #6495 indeed fixes this!  No more unnecessary platform-specific gems on [`bundle lock`](https://github.com/nilsding/bundler-lockfile-issue/commit/1b2766330acd6427e817705fdf0dcd842248d6fc) or [`bundle update`](https://github.com/nilsding/bundler-lockfile-issue/commit/015d993da19119249fdc5c42dc1393535044ba8a)s  🎉

[2018-06-06 20:23] greysteil commented on #6560
Fixed in https://github.com/bundler/bundler/pull/6568. (Resolver was getting this right - it's the inputs to it that were a problem.)

[2018-06-06 21:39] RISCfuture commented on #6563
This issue is caused when calling the `remotes` method at https://github.com/bundler/bundler/blob/43b4fa97515a30bfcea6b34d171ef6afb56d3146/lib/bundler/installer/gem_installer.rb#L47

The `source` could be of type `Bundler::Sources::Git` which does not implement the `remotes` method, hence the NoMethodError.

[2018-06-07 06:42] colby-swandale commented on #6563
Thanks! I'm looking into this issue

[2018-06-07 10:50] AlexWayfer opened #6569 "`outdated` doesn't show `bundler` itself"
Hello!

I have `gem 'bundler', '~> 1.16'` in the `Gemfile` and `bundler 1.16.1` installed.

And `bundle outdated` doesn't show the newer available `1.16.2` version of `bundler`.

I think it should.

Thanks.

[2018-06-08 09:51] agrim123 commented on #6564
@ilikebits I did some experimenting [here](https://github.com/agrim123/bundler/tree/agr-bundle-list-options). Let me know if this was what you were requesting.
@colby-swandale Should I go ahead with PR?

[2018-06-08 12:48] #6535 closed

[2018-06-08 13:15] colby-swandale commented on #6564
no need to ask, more then welcome to make a PR

[2018-06-08 14:51] colby-swandale commented on #6566
Thanks for the error report! It seems that Bundler is trying to perform an operation that is not supported by the NFS mount. This is a bug in Bundler.

[2018-06-08 21:31] nelhage-stripe commented on #6533
I'm back after a vacation with some updates.

While I was away, the bug vanished; I was able to bisect and the change that fixed it was an upgrade of the `protobuf` and `grpc` gems, which included moving `protobuf` off of an internal `git:` reference (we were carrying a bugfix until upstream released). I can again provide the before/after `Gemfile.lock`s if useful privately.

Updating to `rubygems

[2018-06-09 02:40] leviatanMX opened #6574 "i cant use with repo with Rails 5"
https://github.com/patricklindsay/wice_grid.git

[2018-06-09 08:19] akashgiricse commented on #3419
When I run `gem install bundler` , I get this error
`ERROR:  While executing gem ... (Gem::FilePermissionError)
    You don't have write permissions for the /var/lib/gems/2.3.0 directory.`
Please help.

[2018-06-09 10:40] darrellnash commented on #2838
I'm sorry, I know this issue is nearly 4 years old (and closed), but I just got bitten by it, and it doesn't seem like there's a new way to do it (v2 doesn't look like it's in development).

Couldn't we add a backward-compatible new option to `bundle install` like `--no-clobber` that would allow those of us who rely on the `bundle install --binstubs` to fill in the rest of executables during deplo

[2018-06-11 02:55] WN-WangNi opened #6575 "OpenSSL::X509::StoreError: setting default path failed: Invalid keystore format org/jruby/ext/openssl/X509Store.java:186:in `set_default_paths'"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/Users/wangni/.rvm/gems/jruby-9.1.15.0/bin/bundle install`

- **What did you expect to happen?**

  I expected Bundler to...

- **What happened i

[2018-06-11 09:38] agrim123 commented on #6459
Are we looking for a detailed diff (somewhat like in git)?
Found two options:
1. [Diffy](https://github.com/samg/diffy)
2. Simply get lockfile as string and convert it to set and compare for changes (basically difference).
[code]

[2018-06-11 18:57] hacklock commented on #6196
chmod 777 /home

[2018-06-11 22:17] 513ry commented on #6563
Is that something I omit in the Blunder response that you need? I update my answer but still see the status: user feedback required. Sorry, I may misinterpret  the term "Bundler error template", I just started with ruby.

[2018-06-12 01:20] lostpupil opened #6576 "I have lots of noise infomation displayed in terminal."
[code]

When I try to run `bundle install`,  I will get those messages.

[2018-06-12 11:10] colby-swandale commented on #6576
You seem to be running `bundle install` with the verbose option enabled, i suggest checking how you're running Bundler and remove that option.

[2018-06-12 11:39] #6546 closed

[2018-06-12 12:28] drjkundu opened #6577 "Email verification for registration needs to be done"

[2018-06-12 12:28] drjkundu opened #6578 "Looking forward to see the first integrated version (front end and backend)"

[2018-06-12 13:07] foxmuldercp commented on #6540
I create rails 5.2 test app with ruby 2.5.1 some days ago and have a same errors when rails server starting too.
 Seems like double loading fileutils ?
---
 % rails db:migrate
/home/user/.rbenv/versions/2.5.1/lib/ruby/2.5.0/fileutils.rb:90: warning: already initialized constant Fi
leUtils::VERSION
/home/user/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/fileutils-1.1.0/lib/fileutils.rb:92: warnin

[2018-06-12 14:13] Ana06 opened #6579 "bundler package with --no-install options still ask for write permissions"
Why does `bundle package --no-install` ask for write permission in the system RubyGems?

It should be equivalent to run `bundle package --no-install --path '.'`, which doesn't ask for it.

## To recreate
In an empty directory:
[code]

edit the Gemfile to have one gem, in my case it looks like:

[code]
And then run:

[code]

In my case it output:

[code]

[2018-06-13 02:26] saifalcigeary opened #6580 "https://github.com/bundler/bundler/issues/new"

[2018-06-13 02:29] #6580 closed

[2018-06-13 03:20] #6577 closed

[2018-06-13 03:20] #6578 closed

[2018-06-13 03:29] colby-swandale commented on #6579
Thanks for the error report! This does look like a bug.

[2018-06-13 17:39] agrim123 opened #6581 "Add `bundle change`"
**Summary**
Change group/version/source of a gem

**Usage**
[code]

[2018-06-14 01:13] #6576 closed

[2018-06-14 01:13] indirect opened #6582 "Bundler 2 Release Checklist"
It’s finally here! This is the checklist and countdown for releasing Bundler 2. The items listed here are probably each an entire issue or pull request by themselves, and this issue serves as a place to track those items. This issue is also a good place to discuss adding or removing items in this list.

### Deprecations
- [ ] Modify deprecation checker to print a warning on the deprecated version,

[2018-06-14 14:09] jules2689 commented on #6563
@colby-swandale I think we can close this with that PR merged?

[2018-06-14 15:28] jcoyne opened #6584 "Reword regression message."
When I updated a constraint in my gemfile and ran `bundle update` I see this message:

[code]

The message made me feel like bundler aborted or something, but it did just as I asked and made the version change.  Perhaps this could be phrased as.

[code]

[2018-06-14 18:18] Dakta opened #6585 "NoMethodError: undefined method `remotes' for #<Bundler::Source::Git:0x00007feb7695c270>"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

- **What did you do?**

  I configured a gem dependency to use a local git repository:
[code]

 Upon `bundle instastall`, Bundler complained of a nonexistant binstub. This binstub should not exist in the listed location anyways:
[code]

 Related, `rbenv-bundler` is installed, however `$

[2018-06-15 00:09] hsbt commented on #6585
Duplicates with https://github.com/bundler/bundler/issues/6563

[2018-06-15 00:09] #6585 closed

[2018-06-15 01:16] #6563 closed

[2018-06-15 04:28] segiddins commented on #6533
This is going to be super hard to figure out without a repro case, sorry

[2018-06-15 04:29] segiddins commented on #6575
Looks like an issue either in rubygems or jruby's openssl :/

[2018-06-15 05:42] #5366 closed

[2018-06-15 07:44] #6543 closed

[2018-06-15 07:45] Ana06 commented on #6579
@segiddins

Then is that expected?

[2018-06-15 07:55] segiddins commented on #6579
I suppose so?

[2018-06-15 08:21] Ana06 commented on #6579
@segiddins but according to the [documentation](https://bundler.io/man/bundle-package.1.html):

so, the location where the gems are fetch should be the same with and without `--path .`.

[2018-06-15 08:45] MarcSteven opened #6587 "Gem not found:Cannot find actionable 5.2"
Cannot find the actionable 5.2

[2018-06-15 12:00] hsbt commented on #6587
Do you mean `actioncable` ?

[2018-06-15 13:14] colby-swandale commented on #6587
This issue offers no information on the problem you're experiencing. Please follow the [ISSUE](https://github.com/bundler/bundler/blob/master/doc/contributing/ISSUES.md) template when creating an issue.

[2018-06-15 13:31] rubymorillo commented on #6584
@segiddins slight edit:

then lgtm 👍

[2018-06-15 13:51] MarcSteven commented on #6587
@hsbt yeah

[2018-06-15 15:56] #6587 closed

[2018-06-15 15:57] segiddins commented on #6579
The documentation is only saying where they’re copied to. They first have to be downloaded before they can be copied

[2018-06-15 23:21] stefansedich commented on #6154
Interesting so I just ran into this same issue using the ruby:2.5 docker image, however if I used a BUNDLE_PATH other than /user/local/bundle the generated bin stub was totally different and looked like this:

[code]

But as soon as the path was /usr/local/bundle the generated stub was as per Gregs example above (generated by bundler and with a werid ../../ path).

Anyway I realized I had an old i

[2018-06-15 23:52] stefansedich commented on #6154
OK I get it now it was https://github.com/docker-library/ruby/pull/209/files that removed BUNDLE_BIN that fixed it!

[2018-06-16 10:44] phuongnd08 opened #6588 "unable to unset "polluted" bundle environment"
I have a environment where it is technically "polluted" with a bundle setup:
[code]

Now I have another project that has its own Gemfile and I need to run it
[code]

Then bundle go ahead and install all the gems specified by a Gemfile that not the one in the current directory.

So the path to Gemfile has been hardcoded elsewhere that simply unset ENV won't do?

[2018-06-16 14:46] NeimadTL commented on #4513
Hi guys, I'm a newcomer still new to ruby, I haven't forked the project yet but I'd like to do some work. I just wanted to know if somebody is working on this issue please ? if not, can I claim it ?

[2018-06-17 01:20] colby-swandale commented on #6588
what is the output of `bundle env`?

[2018-06-17 01:21] #6566 closed

[2018-06-17 01:55] phuongnd08 commented on #6588
before unset:
[code]
Bundler       1.16.1
  Platforms   ruby, x86_64-linux
Ruby          2.4.3p205 (2017-12-14 revision 61247) [x86_64-linux]
  Full Path   /usr/local/bin/ruby
  Config Dir  /usr/local/etc
RubyGems      2.7.6
  Gem Home    /usr/local/bundle
  Gem Path
  User Path   /root/.gem/ruby/2.4.0
  Bin Dir     /usr/local/bundle/bin
Tools
  Git         2.1.4
  RVM         not installed
  rben

[2018-06-17 01:57] phuongnd08 commented on #6588
before unset:

## Environment

Bundler 1.16.1
Platforms ruby, x86_64-linux
Ruby 2.4.3p205 (2017-12-14 revision 61247) [x86_64-linux]
Full Path /usr/local/bin/ruby
Config Dir /usr/local/etc
RubyGems 2.7.6
Gem Home /usr/local/bundle
Gem Path
User Path /root/.gem/ruby/2.4.0
Bin Dir /usr/local/bundle/bin
Tools
Git 2.1.4
RVM not installed
rbenv not installed
chruby not installed

## Bundler Build Metad

[2018-06-17 03:56] colby-swandale commented on #6588
You have configured Bundler (using the `bundler` config) to use the Gemfile located at `/app/Gemfile`

[2018-06-18 01:22] phuongnd08 commented on #6588
I some how did it, but I didn't know how did it happen. Then how do I temporary unconfig it for a certain task?

[2018-06-18 06:18] NeimadTL commented on #4513
Thanks @segiddins  👍

[2018-06-18 10:03] faucct opened #6589 "`settings[:gemfile]` from `.bundle/config` file is not respected when doing `require 'bundle/setup'`"
Gemfile configuration from `.bundle/config` is only respected when you use `Bundler::CLI`. Can someone tell me why, please?

[2018-06-18 12:05] deivid-rodriguez commented on #6588
@phuongnd08 I think you need to remove the setting from `/usr/local/bundle/config`.

[2018-06-18 16:38] ajwann commented on #4513
@NeimadTL 👍

[2018-06-19 11:23] colby-swandale commented on #6588
`gemfile` seems to be getting set by the `BUNDLE_GEMFILE` environment variable rather then being in `/usr/local/bundle/config`.

@phuongnd08 we can't really help you unless you can provide more information then just saying it's not working. What's the output of `bundle env` when you unset `BUNDLE_GEMFILE`?

[2018-06-19 19:56] WouterSchoofs opened #6590 "No live threads left.Deadlock?"
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/app/bin/bundle update sprockets`

- **What did you expect to happen?**

  I expected Bundler to update sprockets

- **What happened instead?**

  Instead, what happened was this error

- **Have you tried any solutions posted o

[2018-06-19 23:49] jasonkarns opened #6591 "bundle config exits with successful exit status even when requested setting isn't set"
`bundle config SOME_SETTING` is expected to print the value for the requested setting.

If the setting has a value, it is printed to STDOUT and exit status of 0 is returned as expected. If the requested setting is _not_ set or has no value, it is expected that a non-zero exit status is returned. (as is conventional for cli programs) However, an exit status of 0 is returned in all cases.

This mean

[2018-06-20 00:14] djfrodo commented on #6590
Same result here.

This is the output:

# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `/app/bin/bundle update sprockets`

- **What did you expect to happen?**

  I expected Bundler to update sprockets

- **What happened instead?**

  Instead, what happened was an error

- *

[2018-06-20 05:14] segiddins commented on #6589
Because Bundler resolves `.bundle/config` relative to the current Gemfile, so it needs to have a Gemfile first before looking up settings. You'll need to use `$BUNDLE_GEMFILE` if you want to control that path

[2018-06-20 05:20] segiddins commented on #6591
I'm not sure why bundler would exit non-zero if the setting isn't set -- nothing has "failed" when invoking that command, since _all_ settings are allowed to be nil

[2018-06-20 05:21] segiddins commented on #6590
Please try with the latest version of Bundler, 1.16.2

[2018-06-20 05:40] WouterSchoofs commented on #6590
i tried but doesn’t work

[2018-06-20 05:43] #6449 closed

[2018-06-20 06:34] faucct commented on #6589
No, it is being resolved relative to `Dir.pwd` and does not need a gemfile: https://github.com/bundler/bundler/blob/master/lib/bundler/shared_helpers.rb#L47
Does anyone mind me sharing this `Bundler::CLI` functionality with `bundler/setup`?

[2018-06-20 08:31] WouterSchoofs commented on #6590
Hi @segiddins, Heroku still use bundler 1.15.2 when i update bundler or even when i uninstall bundler an reinstall bundler. Did you have some experience about this?

[2018-06-20 11:54] nadaa opened #6592 "can you please help to resolve this!"
Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see if there are any existing issue reports for this error:
https://github.com/bundler/bundler/search?q=undefined+method+%60remotes%27+for+%23%3CBundler++Source++Git+0x00000000018a3b70%3E&type=Issues

[2018-06-20 12:05] hsbt commented on #6592
Duplicates with https://github.com/bundler/bundler/issues/6563 . Please wait a next release of bundler.

[2018-06-20 12:05] #6592 closed

[2018-06-20 12:28] nadaa commented on #6592
I don't understand!.
When is the next release?

[2018-06-20 15:10] jasonkarns commented on #6591
The command is querying for the configuration, so I'd expect querying for a configuration setting that _doesn't exist_ to be considered an error. (We're asking for the value of a setting, but the setting doesn't exist.) It's indistinguishable from a typo in the setting name, which from a user perspective would be helpful to notice was mis-typed.

If a setting is explicitly set to nil, then it woul

[2018-06-20 16:00] MSP-Greg opened #6593 "bundle install from local .gem file"
While trying to help someone with an issue using gem A as a dependency, I built a new A gem.

I'd like to test it with their repo, which uses `bundle install`.  Is there an option for installing from a local .gem file, as there is in RubyGems?

The gemfile path option exists, but I can't see how to install from a .gem file.  The docs state:

"Similar to the semantics of the :git option, the :path

[2018-06-20 16:11] MSP-Greg opened #6594 "Windows - bundle install - gem with both ruby & fat-binary versions"
This must be stupid question...

An extension gem used in a repo is listed in gemfile.  It is available as both a normal gem (uncompiled) and as a fat-binary (compiled) gem.  When executing `bundle install`, I cannot force the gem to build/compile.  I tried `:platforms => :ruby` in the gemfile, but it still installed the fat-binary...

So, how to I force bundler to install the normal gem?

I do mu

[2018-06-20 17:16] Dakta commented on #6585
I'd like to consider reopening this issue, since the underlying problem of corrupted dependency and binstubs paths is unfixed.

[2018-06-20 18:18] touseefbutt321 commented on #5211
I had the same issue, that's how i fixed mine.

If you are using **ZSH** then goto

 and check "Run command as a login shell" and close the terminal.
Fire up your terminal and initiate `bundle install` command.

[2018-06-20 20:52] deivid-rodriguez opened #6595 "Bundler 1 crashes on gemfiles generated using bundler 2"
I think it could be reasonable to warn or even fail with an upgrade message, but the crash one currently gets seems like a no-go.

#### To reproduce

[code]

[2018-06-20 22:30] jbshirk commented on #6196
on MacOS 10.12.6 I navigated to ~/ and changed the permissions on .bundle to read and write, recursively to all contents. This also revealed that an older installation of bundler had already created a rubygems. file in compact_index about a year ago, but did so in a manner that left the whole structure as read only. Now the error is eliminated.

[2018-06-21 20:58] lynncyrin commented on #4513
Just removed the `contribution: unclaimed` label for ya @NeimadTL! Just check in here if you don't have any updates for longer than a week or two

[2018-06-21 21:17] NeimadTL commented on #4513
Thanks a lot @lynncyrin,  appreciate it. I will !

[2018-06-22 09:23] RTG8055 opened #6596 "Error while installing ruby-maven for https://github.com/awslabs/logstash-input-dynamodb/"
--- ERROR REPORT TEMPLATE -------------------------------------------------------
# Error Report

## Questions

Please fill out answers to these questions, it'll help us figure out
why things are going wrong.

- **What did you do?**

  I ran the command `jruby -S bundle install`

- **What did you expect to happen?**

  I expected Bundler to... install jruby maven

- **What happened instead?**

  I

[2018-06-22 09:31] RTG8055 commented on #6596
installed it using : sudo jruby -S gem install ruby-maven -v '3.3.11' --source 'https://rubygems.org/'

[2018-06-22 09:31] #6596 closed

[2018-06-23 12:43] colby-swandale commented on #6594
Can you please share a Gemfile/Gemfile.lock that we can use for context.

[2018-06-23 12:44] colby-swandale commented on #6588
ping @phuongnd08

[2018-06-23 12:50] colby-swandale commented on #6593
You cannot install a gem using a `.gem` on the filesystem using Bundler. You can either use the [path](https://bundler.io/v1.16/man/gemfile.5.html#PATH) option and use a local copy of the gem's src. Or install the gem using rubygems and run `bundle install`

[2018-06-23 12:51] colby-swandale commented on #6590
How does the latest version not work? Can you please share the stack trace that you're seeing with the latest version of Bundler.

[2018-06-23 12:53] deivid-rodriguez commented on #6588
@colby-swandale Right, I misread the config output.

@phuongnd08 Something I noticed is that, at least in the example, is that you're not correctly unsetting `BUNDLE_GEMFILE`. You wrote `BUNDLE_GEM_FILE` instead.

[2018-06-23 14:05] MSP-Greg commented on #6593
@colby-swandale

Thanks.  I'm stepping away from the trunk world, and working more with gems & bundler...

I'll look at that.  The use case was testing some changes to extension gems (which needed 'pre-compiling') that were a requirement of another gem.

Thanks, Greg

[2018-06-23 14:12] MSP-Greg commented on #6594
It's someone else's gem that I was trying to help with.  Not today, but I'll come up with a simple example.

I may not have been clear.  Let's say I'm on Windows 64 bit Ruby. There is requirement for Gem 'a'.  Both `a-1.2.7-x64-mingw32.gem` & `a-1.2.7.gem` are available on RubyGems, and both meet other requirements.  How can Gemfile/Gemfile.lock specify that `a-1.2.7.gem` is used, while allowing o

[2018-06-23 15:12] SunbeamRapier commented on #6465
I did:

gem install bundler
bundle install

It loads a pile of stuff and...

... it works!

[2018-06-24 02:03] phuongnd08 commented on #6588
@colby-swandale I included the `bundle env` output post `unset of BUNDLE_GEMFILE` in this: https://github.com/bundler/bundler/issues/6588#issuecomment-397849288

@deivid-rodriguez Yes sorry my bad, I `unset BUNDLE_GEMFILE`. `echo $BUNDLE_GEMFILE` is returning empty string

[2018-06-24 08:46] ivoanjo opened #6598 "Bundler 1.16.2 regression: gemspec referencing code with non-ascii characters requires "encoding: UTF-8" magic comment"
Hello there and thanks for Bundler!

I'm the author of the [Persistent-💎](https://rubygems.org/gems/persistent-dmnd/) gem, which uses as its namespace a `module Persistent💎`.

The [`gemspec`](https://gitlab.com/ivoanjo/persistent-dmnd/blob/master/persistent-dmnd.gemspec) for the gem thus includes:

[code]

Because I support this gem also on Ruby 1.9.3, [I've added a `# encoding: UTF-8` at the top

[2018-06-24 12:10] deivid-rodriguez commented on #6598
Hello @ivoanjo! Maybe #6279 is the culprit... Can you confirm?

[2018-06-24 13:55] ivoanjo commented on #6598
Thanks for the reply @deivid-rodriguez . I can confirm that reverting the call to `read_file(file)` back to `path.read` in `load_gemspec_uncached` fixed it, so the regression defnitely came from there.

[2018-06-24 14:04] deivid-rodriguez commented on #6598
I think reverting the fix could be a good solution since the error message is more clear now. However, the spec I added to prove my fix hangs if I revert it, so I think we need to investigate why that happens before considering that.

[2018-06-24 17:11] deivid-rodriguez commented on #6598
Ok, So I had a look at this.

Reverting #6279, and adding a rescue to the exception formatting method seems to stop the hang on bundler's master and give a meaninful error message instead, and keeps things working as they are now on 1-16 stable (it just works).

However, I have not been able to reproduce your issue (`incompatible character encodings: UTF-8 and ASCII-8BIT (Encoding::CompatibilityEr

[2018-06-24 18:27] deivid-rodriguez commented on #6598
The changes don't seem to break any other specs. Any ideas on the different behavior between master and 1.16-stable?

[2018-06-24 19:03] ivoanjo commented on #6598
Thanks you @deivid-rodriguez for digging down so fast into the issue!
Hopefully a fix is found that solves both issues.

As for reproducing it, I can reliably reproduce by cloning the repository and changing the gemspec. If it helps, I'm using Ubuntu 17.10 and rvm to set up Ruby.

[2018-06-24 19:06] deivid-rodriguez commented on #6598
Yeah, me too. I meant to I've been able to reproduce with a spec.

[2018-06-24 19:10] eregon commented on #6598
Note that it's a bit tricky to reproduce the `Persistent💎` above.
One way is to have an external file (say `version.rb`) loaded by `require` like this:
[code]
and then the gemspec reads from that constant with `Persistent💎::VERSION`:
[code]

The required file has implicitly an encoding of UTF-8, while the gemspec got a binary encoding when using `read_file`, and so both `Persistent💎` end up referr

[2018-06-24 19:14] deivid-rodriguez commented on #6598
Yeah, I did try exactly that, and I was getting that the constant `Persistent💎` was undefined. That seems consistent with your explanation, right?

[2018-06-24 19:15] eregon commented on #6598
Yes, that's expected and shows the regression.
The `Encoding::CompatibilityError` above is just an error while trying to display the missing constant error message nicely IIRC.

[2018-06-24 19:17] deivid-rodriguez commented on #6598
And explicitly passing the encoding to `path.read` fixed the spec on master too! Thanks for that tip! :) I'll open a PR shortly.

[2018-06-24 21:24] eregon opened #6600 "Question: Why does Bundler still support Ruby 1.8.7?"
Ruby 1.8.7 is end of life since almost [5 years](https://www.ruby-lang.org/en/news/2013/06/30/we-retire-1-8-7/) now.
I am wondering, why does Bundler still support it?
Would it be enough to tell Ruby 1.8.7 users to use an old version of Bundler known to still support Ruby 1.8.7?

From an external point of view, it seems to create a lot of extra efforts for maintenance and making the codebase harde

[2018-06-24 21:28] indirect commented on #6600
Bundler conforms to [semantic versioning](https://semver.org]), which means we need to release a major version (e.g. 2.0) to drop compatibility with Ruby 1.8.7. As you can maybe imagine, it has been a complex process to ship breaking changes in Bundler without also breaking every existing Ruby project—but we're getting close. The `master` branch is currently Bundler 2.0, and we're pushing towards

[2018-06-24 21:28] #6600 closed

[2018-06-24 21:32] eregon commented on #6600
Thank you for the quick answer, that makes sense.

[2018-06-26 08:06] WouterSchoofs commented on #6590
i added another gem version in our gemfile and did an ```bundle install```. When I deployed the gemfile and new lockfile, the deploy on Heroku worked.

[2018-06-26 10:54] #6598 closed

[2018-06-26 11:00] eregon commented on #6598
Thank you for the quick fix @deivid-rodriguez!

[2018-06-26 11:15] deivid-rodriguez commented on #6598
No problem, it was my regression after all :sweat_smile:

[2018-06-26 16:33] derivou opened #6603 "bundler dependencies sprockets"
Heroku  since a couple of days requires for security reason to install gem sprockets >= 2.12.5 (if using  sprockets 2.)  ; But my rails gem is 3.2.21 and bundler says rails 3.2.21 is dependant on sprocket 2.2.1. So no deployment on Heroku possible. How can this be solved ?

[2018-06-26 17:56] julianotheiss commented on #3891
Try `xcode-select --install`

[2018-06-26 19:42] forestgagnon commented on #6280
Maybe not strictly wrong, but I think the fact that a source used for a block becomes one of the global gem sources is worth mentioning in those docs.

[2018-06-27 03:59] segiddins commented on #6280
A PR updating the docs page (https://github.com/bundler/bundler/blob/master/man/gemfile.5.ronn) would be appreciated!

[2018-06-27 04:17] segiddins commented on #6591
Right now, there is no way to store `nil` in the settings file

[2018-06-27 04:18] segiddins commented on #6594
yes

[2018-06-27 04:18] #6590 closed

[2018-06-27 04:32] segiddins commented on #6603
Have you tried running `bundle update sprockets` ?

[2018-06-27 04:32] MSP-Greg commented on #6594
@segiddins

I was kind of expecting that was the answer.

It was a long time ago, but I think this issue may be the original reason that I disliked bundler.  I've been active building & testing trunk on MinGW/windows, so I often work with trunk.  Bundler would try to force a pre-compiled gem to install, and they often don't have an upper ruby version constraint (not bundler's fault), and hence, fu

[2018-06-27 04:32] segiddins commented on #6594
There's no firm line

[2018-06-27 07:20] derivou commented on #6603
Yes, sure. I tried ; Actually it stays with sprockets 2.2.3. If I add gem sprockets 2.12.5 in the gemfile it says rails depends on sprockets 2.2.1 and does not compile. If I change this in the gemfile.lock, it compiles with 2.12.5 but doing this on Heroku is not working (my lock file is window platform so discarded by Heroku and if I change the platform it causes other problems).  I also run gem i

[2018-06-27 07:22] ivoanjo commented on #6598
+1 Thanks for the fix @deivid-rodriguez and hooray for much improved unicode support after your two PRs!

[2018-06-27 07:31] mmustala opened #6604 "undefined method `remotes' for #<Bundler::Source::Git:0x0000563fc0246db8>"
While waiting for a new release that includes a fix for this issue already discussed here https://github.com/bundler/bundler/issues/6563 I was wondering why I only get this error when trying to bundle my project with a Dockerfile like:
[code]

But when using Dockerfile:
[code]
it bundles just fine. Also `ruby:2.5.1-slim` works after installing `git build-essential libffi-dev` packages.

They both

[2018-06-27 07:57] forestgagnon commented on #6280
@segiddins I just submitted this: https://github.com/bundler/bundler/pull/6605

[2018-06-27 10:48] bbozo opened #6606 "Could not find gem SOME_GEM in any of the gem sources listed in your Gemfile"
The Gemfile:

[code]

so when I do `bundle` I get

[code]

if I comment out the manticore gem, an ancient version of `jruby-openssl` comes:

[code]

and if I try to force a newer version, the error is:

[code]

Yet both work via gem install:

[code]

This is `bundle/.config` of the project - it uses , I tried both with and without it:

[code]

1. I checked both gems that they're indeed available o

[2018-06-27 12:43] colby-swandale commented on #6604
The bug that is happening in #6563  is in the error report that gets sent to the user, this means that there is a problem compiling the extension in one of your gems. This could is most liking a missing library or object that it requires.

I suggest installing Bundler 1.16.0 before you run bundle install and to see what the error is.

[2018-06-27 12:43] #6593 closed

[2018-06-27 12:47] colby-swandale commented on #6588
You're saying that your unsetting those settings but we can still see them being set by `ENV` vars in `bundle config`.

[code]

[2018-06-27 12:50] deivid-rodriguez commented on #6588
Is this a docker image?

[2018-06-27 15:24] nestor-custodio commented on #4803
How is this not a thing yet??  🤔

[2018-06-27 17:53] bbozo commented on #6606
The issue in the end was that bundler demanded `platform: :jruby` even when using `:github` & `:tag`, once I added `platform: :jruby` everything worked - both via `github` both via rubygems.

It's a bit ridiculous to have to wrap the entire Gemfile into a `platform :jruby do` block, so I'm assuming this is a bug? I'd say this one is on rubygems if it were not for the same behavior using the `githu